.billingInfo{
	font-family: "hotpointRegular";
	margin: 0;
	color: #505050;
}
.billingInfoWrapper {
	display: flex;
	width: 100%;
	justify-content: space-between;
}
.billingInfoContainer {
	display: flex;
	flex-direction: column;
}
.billingInfoTitle{
	font-family: "hotpointRegular";
    font-size: 1.1rem;
    color: #505050;
}
.billingInfoText{
	font-family: "hotpointRegular";
	margin: 0;
	color: #727273;
}
.billingName{
	font-weight: 400;
  font-family: "hotpointRegular";
}
.dateContainer{
	display: flex;
	flex-direction: column;
	line-height: 1.5;
	padding-right: 2rem;
}
.deliveryTitle{
	font-size: 1.25rem;
	line-height: 1.5;
  font-family: "hotpointRegular";
}
.delivery{
	padding-right: 2rem;
  font-family: "hotpointRegular";
	line-height: 1.75;
}
.billingAddress {
	color: #505050;
	width: 100%;
  font-family: "hotpointRegular";
	font-size: 1rem;
	overflow-y: auto;
	height: inherit;
	line-height: 2
}
.creationDate{
	display: flex;
  	font-family: "hotpointRegular";
	flex-direction: column;
	color: #505050;
	width: 100%;
	font-size: .875rem;
	padding-top: .5rem;
}
.smallDate{
	font-size: .75rem;
}
@media screen and (max-width:668px) {
	.creationDate{
	  padding: 0 10px;
	}
	.billingInfoTitle{
		font-size: 0.875rem;
	}
	.billingInfoText{
		font-size: 0.875rem;
	}
}
@media screen and (max-width:1024px) {
	.billingInfoWrapper {
		flex-direction: column;
	}
}

