.formContainer :global(.bg-near-white) {
    background-color: #b24c24;
}
.formContainer :global(.b--light-blue) {
    border-color: #fff;
    border-radius: 1rem;
}
.dropzoneLabel :global(.lh-copy) {
    font-size: 1.25rem;
    margin-bottom: 0;
}
.dropzoneLabel :global(.b) {
    cursor: pointer;
    font-size: 1.25rem;
}
.privacyTextContainer :global(.lh-copy) {
    font-size: 0.9rem;
}
.checkboxContainer :global(.lh-copy) {
    margin: 0;
    font-size: 0.75rem;
}