.viewSubstituteButton {
    text-decoration: none;
    margin: 15px auto;
    background-color: #007d69;
    color: #FFF;
    padding: .5rem;
    text-align: center;
    width: 100%!important;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 5px;
}

.viewSubstituteButtonPdp {
    text-decoration: none;
    margin: 15px auto;
    background-color: #007d69;
    color: #FFF;
    padding: .5rem;
    text-align: center;
    width: 100%!important;
    position: unset;
    border-radius: 5px; 
}

.viewSubstituteButtonBomPage {
    text-decoration: none;
    margin: 15px auto;
    background-color: #007d69;
    color: #FFF!important;
    padding: .75rem;
    text-align: center;
    width: 100%!important;
    position: unset;
    border-radius: 5px; 
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}