.inputBlock {
  display: flex;
  margin: 0.5rem;
}

.inputField {
  padding: 0.2rem;
  border-radius: 0.2rem;
  border: 0.1rem solid rgb(168, 168, 168);
  min-width: 13.2rem;
}

.disabled{
  padding: 0.2rem;
  border-radius: 0.2rem;
  border: 0.1rem solid rgb(168, 168, 168);
  min-width: 13.2rem;
  background-color: #ddd;
}

.selectInput{
  min-width: 13.2rem;
}

.inputlabel{
  width: 8rem;
}

.responseBlock{
  margin-top: 4rem;
}

.couponList{
  margin-top: 1rem;
  max-width: 20rem;
  max-height: 20rem;
  overflow: auto;
  border: 0.1rem solid black;
  padding: 0.4rem;
}


.hide{
  display: none;
}

.couponRow{
  display: block;
}
