a {
    text-decoration: none;
    color: inherit;
}
.wrapper, .articleWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1250px;
    gap: 1rem;
}
.articleWrapper {
    grid-template-columns: repeat(auto-fit, 25%);
    margin: 0 auto;
    gap: unset;
    justify-content: center;
    /* max-width: 100%; */
}
.articleContainer, .heroContainer {
    margin: 0.5rem;
}
.categoryContainer, .articleContainer {
    position: relative;
}
.categoryContainer:hover .gradient {
    opacity: 1;
    border-bottom-width: 3px;
}
.categoryContainer:hover .categoryImage {
    transform: scale(1.1);
}
.categoryContainer:hover .arrowBackIcon {
    opacity: 1;
}
.categoryImageContainer, .articleImageContainer {
    position: relative;
    overflow: hidden;
}
.gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0.1) 85%, rgba(255,255,255,0) 100%);
    border-bottom-width: 0;
    opacity: 0.75;
    transition: opacity 0.3s, border-bottom-width 0.3s;
    box-sizing: border-box;
}
.categoryImage, .articleImage {
    display: block;
    object-fit: cover;
    width: 100%;
    aspect-ratio: 1/1;
}
.categoryImage {
    transition: transform 0.3s;
}
.categoryTextContainer {
    position: absolute;
    bottom: 1.25rem;
    left: 1.75rem;
    right: 1.25rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.categoryTitle {
    color: #fff;
    margin: 0;
}
.arrowBackIcon { 
    transform: rotate(180deg);
    height: 11px;
    width: 18px;
    opacity: 0;
    transition: opacity 0.3s;
}

/* ----- ARTICLE SECTION ----- */
.articleContainer:hover .articleGradient {
    opacity: 1;
}
.articleTextContainer {
    padding: 1.5rem;
    background-color: #fff;
    height: 165px;
}
.articleCategoryTime {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.articleCategory {
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
}
.articleTitle {
    font-family: "myriadLight";
    font-weight: 300!important;
    font-size: 1.15rem!important;
    line-height: 1.2;
    margin: 1rem 0;
}
.articleTime {
    font-size: 0.75rem;
    color: #d0d3d4;
    display: flex;
    align-items: center;
}
.articleTimeIcon {
    width: 10px;
    height: auto;
    display: block;
    margin: 0 0.25rem;
    position: relative;
    bottom: 1px;
}
.articleIconContainer {
    position: absolute;
    bottom: 1.2rem;
    right: 1.3rem;
}
.articleIconContainer .arrowBackIcon {
    opacity: 1;
}
.articleGradient {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.2);
    opacity: 0;
    transition: opacity 0.3s;
    box-sizing: border-box;
}

/* ----- HERO SECTION ----- */
.heroContainer {
    grid-column: span 2;
}
.heroContainer .articleImage {
    aspect-ratio: 2.07/1;
}
.heroContainer .articleCategory {
    color: #d0d3d4;
}
.heroTextLinkContainer {
    display: flex;
}
.heroTitleContainer {
    flex: 1;
}
.heroLinkContainer {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}
.link {
    background-color: #fff;
    color: #edb112;
}
.link:hover {
    background-color: #fff;
    color: rgba(237,177,18,.8);
    border-color: rgba(237,177,18,.8);
}

/* ----- MEDIA QUERY SECTION ----- */

@media only screen and (max-width: 850px) {
    .articleWrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media only screen and (max-width: 768px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;
    }
    .articleContainer {
        max-width: unset;
    }
    .articleGradient {
        background: none;
        opacity: 1;
    }
    .heroContainer .articleImage {
        aspect-ratio: 1/1;
    }
}
@media only screen and (max-width: 600px) {
    .categoryTextContainer {
        font-size: 1.2rem;
        bottom: 1rem;
        left: 1.25rem;
    }
    .articleTextContainer {
        height: auto;
    }
    .articleWrapper {
        grid-template-columns: 1fr;
    }
    .heroTextLinkContainer {
        flex-direction: column;
    }
    .heroContainer {
        grid-column: span 1;
    }
    .heroLinkContainer {
        align-items: flex-start;
        margin-left: 0;
        margin-top: 1rem;
    }
}