.menuItemContainer {
  align-items: center;
  padding: 0 1.5rem;
  display: flex;
  cursor: pointer;
  justify-content: center;
  flex-direction: column;
}
.menuItemLabelContainer {
  background: white;
  border: unset;
  align-items: center;
  padding: 0 1.5rem;
  display: flex;
  cursor: pointer;
  justify-content: center;
  font-weight: bold;
  text-decoration: unset;
  color: #0d436b;
  font-size: 14px;
  text-wrap: nowrap;
}
.accountIcon {
  width: 16px;
}
.loginLabel {
}

.dropdownOpen{
  padding: 5px;
}

.dropdown {
  position: relative;
}

.linkMenuItem{
  font-size: 1.1rem;
  line-height: 1.8rem;
  margin: 0.5rem;
  color: #505050;
  font-weight: bold;
  text-decoration: unset;
  color: #0d436b;
  font-size: 16px;
  text-decoration: none;
  font-family: "nunitoRegular";
}

.menu {
  position: absolute;
  list-style-type: none;
  margin: 5px 20px;
  padding: 0;
  width: 155px;
}

.menu > li {
  margin: 0;

  background-color: white;
}

.menu > li:hover {
  background-color: lightgray;
}

.menu > li > button {
  width: 100%;
  height: 100%;
  text-align: left;
  background: none;
  color: inherit;
  border: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

@media only screen and (max-width: 640px) {
  .menuItemContainer {
    padding: 0 0.5rem !important;
    margin: 0rem !important;
  }
  .menuItemLabelContainer {
    display: flex;
    padding: 0;
    flex-direction: column;
  }
  .menuItemLabel{
    font-size: 0.75rem;
    margin: 0;
  }
  .menuItemLabelName{
    display: flex;
  }
}
