.leadTimeContainer {
  margin-top: 1rem;
}
.leadTimeWrapper {
  display: flex;
  align-items: center;
}
.leadTimeImg {
  width: 14px;
  height: 14px;
  margin-right: 0.5rem;
}
.leadTimeText {
  margin: 0;
  color: #000;
  font-size: 0.9rem;
}
