.container a {
  text-decoration: none;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin: 0 auto;
}
.singleAnswer > div > a{
  text-decoration: underline;
	color: #b24c24;
}
@media (min-width: 1025px) {
  .container--FaqTitle {
    padding: 0 3.125rem;
  }
.container--no-padding {
  padding: 0;
}}
@media (min-width: 1025px) {
  .container--full {
    padding: 0;
    max-width: none;
  }
}

.m-faq-list__title {
  font-family: "hotpointRegular", Arial;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 2.25rem;
  color: #505050;
  margin-bottom: 2.5rem;
}

@media (min-width: 600px) {
  .m-faq-list__title {
    font-family: "hotpointRegular", Arial;
    font-weight: 400;
    font-size: 2.125rem;
    line-height: 1.625rem;
  }
}

.m-faq-list__text {
  padding: 0 1.5625rem;
  font-family: "hotpointRegular", Arial;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #505050;
}

.m-faq-list__text b,
.m-faq-list__text strong {
  font-family: "myriadSemibold", Arial;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
}
.filtersFirstLevel{
  padding-bottom: unset !important;
}
.filters {
  padding-top: 1.875rem;
  padding-bottom: 2.5rem;
  color: #353535;
  font-family: "hotpointRegular", Arial;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-x: hidden;
}
.filters span {
  margin-bottom: 0.9375rem;
}

@media (min-width: 1025px) {
  .m-faq-list__filter {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .m-faq-list__filter span {
    margin-bottom: 0;
  }
}

.domandaContainer {
  padding: 0;
}
.domandaContainer a {
  text-decoration: none;
}

.domandaContainer {
  position: relative;
  background: #f2f2f2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  margin: 0.875rem auto;
  height: auto;
  display: block;
  border-bottom: 0.125rem solid #b24c24;
}

@media (min-width: 600px) {
  .domandaContainer {
    width: 48.5%;
    margin-bottom: 1%;
  }

  .domandaContainer--sizer {
    width: 48.5%;
  }
}

@media (min-width: 1025px) {
  .domandaContainer {
    width: 32%;
    margin-bottom: 1.875rem;
  }

  .domandaContainer--sizer {
    width: 32%;
  }
}

.question {
  padding: 1.5625rem;
  font-family: "hotpointRegular", Arial;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 1;
  color: #000;
}

@media (min-width: 600px) {
  .question {
    font-family: "hotpointRegular", Arial;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
}

.shortAnswer {
  padding: 0 1.5625rem 2.8125rem 1.5625rem;
  font-family: "hotpointRegular", Arial;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #000;
}

@media (min-width: 600px) {
  .shortAnswer {
    font-family: "hotpointRegular", Arial;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.readMore {
  font-family: "myriadSemibold", Arial;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #b24c24;
  position: absolute;
  bottom: 0.625rem;
  right: 1.5625rem;
}

@media (min-width: 600px) {
  .readMore {
    font-family: "myriadSemibold", Arial;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  .filters {
    overflow: hidden;
  }
  .filterWrapper ul {
    flex-wrap: nowrap;
  }
}

.filters {
  padding-top: 1.875rem;
  padding-bottom: 2.5rem;
  color: #353535;
  font-family: hotpointRegular, Arial;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.filterPer {
  margin-bottom: 0.9375rem;
  width: 7rem;
}

@media (min-width: 1025px) {
  .filters {
    align-items: center;
    flex-direction: row;
  }

  .filters span {
    margin-bottom: 0;
  }
}

.filterWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
}

@media (min-width: 1025px) {
  .filterWrapper {
    width: auto;
    margin-left: 1.25rem;
  }
  .filterPer {
    margin-left: 1.25rem;
  }
}

.filterWrapper ul {
  display: flex;
  padding-left: 0px;

  display: flex;
  flex-wrap: wrap;
}

.filterWrapper ul li {
  list-style-type: none;
  margin: 0.5rem 0.2rem;
}

/* .filterWrapper ul li:last-child {
  margin: 0;
} */

.filterWrapper ul li .filter {
  color: #353535;
  cursor: pointer;
  display: block;
  padding: 0.5rem 1.0625rem;
  background: #f2f2f2;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 5px;
  text-transform: capitalize;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: hotpointRegular, Arial;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.2;
}
.filterWrapper ul li .selectedFilter {
  color: #b24c24;
  cursor: pointer;
  display: block;
  padding: 0.5rem 1.0625rem;
  background: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 5px;
  border: 0.12rem solid #b24c24;
  text-transform: capitalize;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "hotpointRegular", Arial;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.2;
}

.singleQuestion {
  font-family: "hotpointRegular", Arial;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 2.25rem;
  color: #505050;
  margin-bottom: 2.5rem;
}

@media (min-width: 600px) {
  .singleQuestion {
    font-family: "hotpointRegular", Arial;
    font-weight: 400;
    font-size: 2.125rem;
    line-height: 2.25rem;
  }
}
.singleAnswer {
  padding: 0 1.5625rem;
  font-family: hotpointRegular, Arial;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #505050;
  padding-bottom: 2rem;
  width: 80%;
  margin: auto;
}

.singleAnswer b,
.singleAnswer strong {
  font-family: "myriadSemibold", Arial;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
}

.faqPage {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  text-align: center;
  width: 100%;
  margin: auto;
}

@media (min-width: 1025px) {
  .faqPage {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
    text-align: center;
    width: 100%;
    margin: auto;
  }
}

.buttonText {
  margin: 2.5rem 0.625rem 0 0.625rem;
}

.loaderForm {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #b24c24;
  background: -moz-linear-gradient(
    left,
    #b24c24 10%,
    rgba(237, 177, 18, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    #b24c24 10%,
    rgba(237, 177, 18, 0) 42%
  );
  background: -o-linear-gradient(left, #b24c24 10%, rgba(237, 177, 18, 0) 42%);
  background: -ms-linear-gradient(left, #b24c24 10%, rgba(237, 177, 18, 0) 42%);
  background: linear-gradient(to right, #b24c24 10%, rgba(237, 177, 18, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loaderForm:before {
  width: 50%;
  height: 50%;
  background: #b24c24;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}
.loaderForm:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.breadcrumb {
  display: none;
}

@media (min-width: 1025px) {
  .breadcrumb {
    display: block;
  }
}

.breadcrumbText {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbItem {
  list-style-type: none;
  font-family: "hotpointRegular", Arial;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.2;
  color: #505050;
  display: flex;
  height: 100%;
  padding: 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  text-transform: uppercase;
}

.breadcrumbItem a {
  color: #505050;
  text-decoration: none;
  height: 100%;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.breadcrumbItem a:hover {
  color: #b24c24;
}

.breadcrumbItem:after {
  content: ">";
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.breadcrumbItem:last-child a {
  cursor: initial;
}

.breadcrumbItem:last-child:after {
  display: none;
}

.ie .breadcrumb .breadcrumbItem:after {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: ruby-base;
}

.ie .breadcrumb .breadcrumbText {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

@media (max-width: 600px) {
  .filterWrapper ul {
    flex-wrap: nowrap;
    margin-bottom: 0;
  }
  .filters{
    overflow: hidden;
    padding: 0;
  }
  .filterWrapper {
    overflow-x: scroll;
  }
  .filterWrapper::-webkit-scrollbar{
    display: none;
  }
}