/* HOTPOINT SERVICE */
/* HEADER */
.trigger {
  cursor: pointer;
}
.trigger--headerHpService {
  display: flex;
  color: #000000;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 0.1rem;
  font-family: "hotpointRegular";
  transition: all 0.4s ease;
  position: relative;
  align-items: center;
  height: 3.5rem;
  width: 90%;
  margin: auto;
  border-bottom: 1px solid #f2f2f2;
  cursor: pointer;
}
.trigger--headerHpService::after {
  right: 0;
  content: "";
  background: url("https://hotpointuk.vtexassets.com/assets/vtex/assets-builder/hotpointuk.hotpoint-theme/1.0.32/arrowIconBread___a656b762fc2fb83036cf9d96da6f14a0.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 15px;
  width: 15px;
  top: unset;
  z-index: initial;
  position: absolute;
}
.trigger--headerHpService--open {
  display: flex;
  color: #000000;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 0.1rem;
  font-family: "hotpointMedium";
  transition: all 0.4s ease;
  position: relative;
  align-items: center;
  height: 3.5rem;
  width: 90%;
  margin: auto;
  border-bottom: 1px solid #f2f2f2;
  cursor: pointer;
}
.trigger--headerHpService--open::after {
  right: 0;
  content: "";
  background: url("https://hotpointuk.vtexassets.com/assets/vtex/assets-builder/hotpointuk.hotpoint-theme/1.0.32/arrowIconBreadDown___a656b762fc2fb83036cf9d96da6f14a0.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 15px;
  width: 15px;
  top: unset;
  z-index: initial;
  position: absolute;
}
.content--headerHpService {
  width: 100%;
}
/* ________________ */
