.instockText {
  margin-top: 0;
  margin-bottom: 0;
  font-family: hotpointRegular;
}
.instock__lead-time-plp {
  justify-content: center;
  position: relative;
  right: 1.85rem;
}
:global(.vtex-flex-layout-0-x-flexRowContent--productNamePdp) .instock{
  display: flex;
  align-items: flex-start;
  justify-content: end;
}
:global(.vtex-flex-layout-0-x-flexRowContent--principalMobile-right-search) .icon{
  display: none;
}