.slideChildrenContainer--wishlistSlider {
  margin-left: 1px;
  margin-right: 1px;
}
.slideChildrenContainer--bannerText {
  margin: 50px;
}
.sliderTrackContainer--bannerText {
  margin-bottom: 5rem;
}
.slide--wishlistSlider {
  max-width: 300px;
}
.sliderLayoutContainer--wishlistSlider {
  max-width: 83vw;
}
.sliderLayoutContainer--comparison-drawer,
.sliderLayoutContainer--carousel {
  justify-content: center;
}
.sliderTrackContainer--comparison-drawer,
.sliderTrackContainer--carousel {
  max-width: 1200px;
}
.slide--comparison-drawer--visible {
  width: 100% !important;
}
.slide--comparison-drawer {
  background-color: #ffffff;
  margin: 1rem;
  max-width: 240px !important;
}
.sliderLayoutContainer--carousel {
  background-color: #f0f0f0;
  padding-left: 1rem;
}
.infoCardImageContainer--carousel {
  width: 100%;
}
.paginationDotsContainer--carousel {
  margin-bottom: -1.5rem;
}
.sliderLayoutContainer--carousel {
  background-color: transparent !important;
  /* margin-top: 2rem; */
  margin-bottom: 2rem !important;
  padding: 0;
}
:global(.vtex-store-footer-2-x-footerLayout) .sliderLayoutContainer--carousel {
  background-color: #ffffff !important;
  margin-bottom: 2rem;
  padding: 0;
}
/* --------- MEDIA QUERY ---------  */
@media only screen and (min-width: 1300px) {
  .sliderTrack--shelfBlackFriday {
    width: 235% !important;
  }
}
@media only screen and (max-width: 1100px) {
  .label--blackFridayDiscoverMore {
    right: -50px;
    top: 40px;
    padding-bottom: 5px;
  }
}
@media only screen and (max-width: 1024px) {
  .paginationDotsContainer--wishlistSlider {
    bottom: -1rem;
  }
  .slide--wishlistSlider--firstVisible {
    margin-left: 2rem;
  }
}
@media only screen and (max-width: 668px) {
  .sliderTrack--shelfBlackFriday {
    width: 400rem !important;
  }
}
@media only screen and (max-width: 640px) {
  .sliderLayoutContainer--wishlistSlider {
    margin: 0 auto;
    padding: 0 15px !important;
  }
  .slide--wishlistSlider--firstVisible {
    margin-left: 0;
  }
}
@media (min-width: 1024px) {
  /* .sliderTrack--shelfBlackFriday{
    width: 187% !important; 
  } */
}
@media only screen and (max-width: 600px) {
  .slide--comparison-drawer {
    margin: 0;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1200px) {
  .slide--comparison-drawer {
    margin: 0.2rem;
  }
}