.inputTitle {
  font-family: "hotpointRegular";
}
.textArea {
  font-family: "hotpointRegular";
}

/* Media Queries */
@media only screen and (min-width: 1100px) {
  :global(.vtex-flex-layout-0-x-flexRow--CustomFormRow) .formContainer {
    max-width: 56.25rem;
  }
}
