.productKeyInformationsTitle{
    font-weight: 700;
} 
.imgKeyInformations{
    width: 18px;
    height: 20px;
}
.gapKeyInformations {
    gap: 5px;
}
.extraGapKeyInformations {
    gap: 10px;
}
.detailInformations{
    color: #b24c24;
    text-decoration-line: underline;
    cursor: pointer;
}
.gapKeyInformations--dimensionsPlp {
    padding-left: 4px;
}