.countdownContainer--promoCountdownHpCarousel {
  width: 70%;
  margin: 0 auto -1rem;
}

@media only screen and (max-width: 1024px) {
  .countdownContainer--promoCountdownHpCarousel {
    width: 90%;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1024px) {
  .countdownContainer--promoCountdownHpCarousel {
    margin-bottom: 1rem;
  }
}
@media only screen and (min-width: 640px) and (max-width: 700px) {
  .countdownContainer--promoCountdownHpCarousel {
    margin-bottom: -1rem;
  }
}
@media only screen and (max-width: 640px) {
  .countdownContainer--promoCountdownHpCarousel {
    margin-bottom: 0;
  }
  .countdownContainer--promoCountdownPdpCarousels {
    margin-bottom: 1rem;
  }
}
