.quantitySelectorContainer :global(.vtex-styleguide-9-x-dropdown) {
  height: 49px;
  min-width: 74px;
}
:global(.vtex-styleguide-9-x-container) {
  height: 100%;
}
.quantitySelectorContainer {
  margin: 0;
  width: 74px;
  font-weight: 600;
}
.quantitySelectorDropdownContainer {
  height: 100%;
}
.quantitySelectorContainer--accessoriesQuantity{
  pointer-events: visible;
  cursor: default;
}
@media only screen and (min-width: 640px) {
  .summaryContainer--accessoriesQuantity{
    padding-top: 1rem;
  }
}
@media only screen and (min-width: 600px) and (max-width: 640px){
  :global(.vtex-flex-layout-0-x-flexRowContent--principalMobile-right) .quantitySelectorDropdownMobileContainer--accessoriesQuantity{
    padding-left: 2rem;
  }
}
@media only screen and (max-width: 600px){
  :global(.vtex-flex-layout-0-x-flexRowContent--principalMobile-right) .quantitySelectorDropdownMobileContainer--accessoriesQuantity{
    padding-left: 1rem;
  }
}