.contentContainer .contentItem--TabContent {
  background-color: #f2f2f2;
  position: relative;
  -webkit-animation: slide 0.6s;
  animation: slide;
  animation-duration: 0.6s;
}
/* BLACK FRIDAY */
.listContainer--blackFriday {
  border-bottom: 2px solid #e1e1e1;
  justify-content: flex-start;
}
.listContainer--blackFriday .listItem {
  margin: 0;
  padding: 0;
}
.listContainer--blackFriday .listItem :global(.vtex-button),
.listContainer--blackFriday .listItemActive :global(.vtex-button) {
  margin-bottom: -2px !important;
  border: none;
  border-bottom: 2px solid #edb31200;
  text-transform: none;
  color: #b1b1b1;
  border-radius: 0;
  background: none;
  padding: 0;
  font-weight: 100;
  padding-bottom: 0.25rem;
}
.listContainer--blackFriday .listItemActive :global(.vtex-button) {
  color: #b24c24;
  border-bottom: 2px solid #b24c24;
  font-weight: 700;
}
.contentItem--blackFriday {
  padding: 3rem;
}
.container--blackFriday {
  min-height: 500px;
  max-width: 99vw;
}
.contentContainer .contentItem--TabContentBlack {
  background-color: #222325;
  position: relative;
  -webkit-animation: slide 0.6s;
  animation: slide;
  animation-duration: 0.6s;
}
@keyframes slide {
  0% {
    opacity: 0;
    left: 100%;
    top: 0px;
  }
  10% {
    opacity: 0.1;
    left: 90%;
    top: 0px;
  }
  20% {
    opacity: 0.2;
    left: 80%;
    top: 0px;
  }
  30% {
    opacity: 0.3;
    left: 70%;
    top: 0px;
  }
  40% {
    opacity: 0.4;
    left: 60%;
    top: 0px;
  }
  50% {
    opacity: 0.5;
    left: 50%;
    top: 0px;
  }
  60% {
    opacity: 0.6;
    left: 40%;
    top: 0px;
  }
  70% {
    opacity: 0.7;
    left: 30%;
    top: 0px;
  }
  80% {
    opacity: 0.8;
    left: 20%;
    top: 0px;
  }
  90% {
    opacity: 0.9;
    left: 10%;
    top: 0px;
  }
  100% {
    opacity: 1;
    left: 0px;
    top: 0px;
  }
}
.container--BannerTab {
  padding-top: 5.625rem;
}
/* .container--BannerTabBlack {
  background-color: #222325;
} */
.container--BannerTabBlack {
  margin-top: -0.3rem;
  padding-top: 5.625rem;
}
.container--BannerTab .listContainer {
  border-bottom: 0.0625rem solid #979797;
}
.container--BannerTabBlack .listContainer {
  border-bottom: 0.0625rem solid #979797;
}
.container--BannerTab .listItem {
  padding: 0;
  margin: 0;
}
.container--BannerTabBlack .listItem {
  padding: 0;
  margin: 0;
}
.container--BannerTab :global(.vtex-button__label) {
  padding: 0;
  padding-bottom: 2.1875rem !important;
  color: #353535;
  font-family: "hotpointRegular";
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.625rem;
  min-width: 10rem;
}
.container--BannerTabBlack :global(.vtex-button__label) {
  padding: 0;
  padding-bottom: 2.1875rem !important;
  color: #ffffff;
  font-family: "hotpointRegular";
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.625rem;
  min-width: 10rem;
}
.container--BannerTab .listItemActive :global(.vtex-button) {
  border-bottom: 0.1875rem solid #b24c24;
  border-radius: 0;
}
.container--BannerTabBlack .listItemActive :global(.vtex-button) {
  border-bottom: 0.1875rem solid #b24c24;
  border-radius: 0;
}
.container--BannerTab :global(.vtex-button) {
  background-color: unset;
  outline: unset;
  border: unset;
  text-transform: unset;
  margin: 0 2.5rem;
}
.container--BannerTabBlack :global(.vtex-button) {
  background-color: unset;
  outline: unset;
  border: unset;
  text-transform: unset;
  margin: 0 2.5rem;
}
.contentContainer--bannerTab {
  margin-top: 3.75rem;
}
.contentContainer--bannerTabBlack {
  margin-top: 3.75rem;
}
.contentItem--documentContainer {
  padding-top: 2.625rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.listContainer--tabList {
  margin: 0 auto;
  max-width: 1186px;
  width: 100%;
  border-color: #ececec;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  margin-bottom: 30px;
}
.listItem--tabItem {
  margin-bottom: 0;
  padding-bottom: 0;
}
.listItem--tabItem .vtex-button{
  font-family: "hotpointRegular" !important;
}

.listItem--tabItem :global(.vtex-button) {
  color: #000;
  background: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 4px;
  border-radius: 0;
  font-family: "hotpointRegular" !important;
}
.listItem--tabItem :global(.vtex-button):active, .listItem--tabItem :global(.vtex-button):focus, .listItem--tabItem :global(.vtex-button):hover {
  background: transparent;
  color: #000;
}

/* Media Queries */
@media only screen and (max-width: 1024px) {
  .contentItem--documentContainer {
    align-items: unset;
  }
  /* BLACK FRIDAY */
  .listContainer--blackFriday :global(.vtex-button__label) {
    padding: 0 0.5rem;
    font-size: 12px;
  }
  .container--blackFriday {
    min-height: 500px;
  }
}
@media only screen and (max-width: 1100px) {
  .container--BannerTab .listContainer {
    display: flex;
    overflow-x: scroll;
    flex-wrap: nowrap;
    justify-content: start;
  }
}
@media only screen and (max-width: 600px) {
  .contentContainer .contentItem--TabContent {
    -webkit-animation: slide 0.4s;
    animation: slide;
    animation-duration: 0.4s;
  }
  .contentContainer .contentItem--TabContentBlack {
    -webkit-animation: slide 0.4s;
    animation: slide;
    animation-duration: 0.4s;
  }

  .listItem--tabItem{
    margin: 0;
    padding: 0;
  }

  .listItem--tabItem :global(.vtex-button__label){
    padding: 0 !important;
  }

  .listContainer--tabList :global(.vtex-slider-layout-0-x-sliderLayoutContainer--carousel){
    margin-bottom: 0;
    padding: 0 28px;
  }

}

@media only screen and (max-width: 600px) {
  .listContainer--caratt-tec {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: start;
  }
  .listItem--caratt-tec {
    min-width: 10rem;
  }
}
@media only screen and (min-width: 1250px) {
 .listContainer--tabList{
    max-width: 1430px;
 }
}
