.sliderLayoutContainer {
  justify-content: center;
}

.flexRow--mediaPreOrder {
  margin: 1rem;
}

/*BLACK FRIDAY*/
.slide--shelfBlackFriday {
  max-width: calc((100vw - 54px) / 4 - 3rem);
}

.slide--shelfBlackFriday:not(:last-child) {
  margin-right: 0.75rem;
}

/* BLACK FRIDAY 2022 */
.paginationDotsContainer--bfReviews {
  margin-bottom: 2rem;
  justify-content: flex-end;
  padding-right: calc(16% + 100px);
}

.sliderLayoutContainer--bfReviews {
  padding: 0 120px;
}

.paginationDotsContainer--carouselHomeTop {
  margin-bottom: -1.5rem !important;
}

.sliderLayoutContainer--carouselHomeTop {
  justify-content: center !important;
  max-width: 100rem !important;
  margin: 0 auto !important;
}

.infoCardImageContainer--carouselHomeTop {
  border-top-right-radius: 1.875rem !important;
  border-bottom-right-radius: 1.875rem !important;
  max-height: 30rem;
  width: 100%;
  object-fit: cover;
}

.infoCardContainer--carouselHomeTop {
  border-top-left-radius: 1.875rem;
  border-bottom-left-radius: 1.875rem;
  border-top-right-radius: 1.875rem !important;
  border-bottom-right-radius: 1.875rem !important;
  display: flex;
  justify-content: center;
  position: relative;
  max-height: unset;
  padding: 0rem 0rem 0rem 2.125rem;
  height: 100%;
  background-image: linear-gradient(135deg,
      hsl(23deg 67% 56%),
      hsl(20deg 57% 50%) 50%,
      hsl(17deg 66% 42%));
}

.infoCardImage--carouselHomeTop {
  border-top-right-radius: 1.875rem !important;
  border-bottom-right-radius: 1.875rem !important;
  max-height: 30rem;
  width: 100%;
}

.infoCardHeadline--carouselHomeTop {
  margin-top: 0 !important;
  color: #fff;
  font-family: hotpointRegular, Arial;
  text-align: left;
  text-transform: uppercase;
}

.infoCardSubhead--carouselHomeTop {
  font-family: hotpointRegular, Arial;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.625rem;
  margin-top: 0;
  margin-bottom: 1.875rem;
  color: #fff;
}

.infoCardCallActionContainer--carouselHomeTop {
  position: relative;
  border-radius: 11px;
  color: black;
}

.infoCardCallActionContainer--carouselHomeTop:hover {
  position: relative;
  border-radius: 11px;
  color: black;
}

.infoCardCallActionContainer--carouselHomeTop::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 20%;
  opacity: 0;
  background-color: #f2f2f2;
  z-index: 1;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  border-radius: 11px;
  color: black;
}

.infoCardCallActionContainer--carouselHomeTop:hover::before {
  transition: all 0.5s ease-in-out;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-delay: 0s;
  opacity: 1;
  height: 100%;
  border-radius: 11px;
}

.infoCardCallActionContainer--carouselHomeTop :global(.vtex-button) {
  position: relative;
  background: white !important;
  color: #000 !important;
  border: none;
  border-radius: 11px;
}

.infoCardCallActionContainer--carouselHomeTop :global(.vtex-button) :global(.vtex-button__label) {
  position: relative;
  z-index: 3;
}

.sliderTrackContainer--carouselHomeTop {
  max-width: 1500px !important;
}

.sliderLayoutContainer--carousel {
  background-color: #f0f0f0;
  padding-left: 1rem;
}

.sliderTrackContainer {
  max-width: 1200px;
}

.sliderLayoutContainer--sliderHome {
  justify-content: center !important;
  max-width: 105rem !important;
  margin: 0 auto !important;
}

.infoCardTextContainer--carouselPlp {
  display: none;
}

.infoCardImageContainer--carousel {
  width: 100%;
}

.sliderLayoutContainer--sliderHome :global(.vtex-flex-layout-0-x-flexRow--columnPostillaBannerAntonio) {
  margin-bottom: 0.75rem;
}

.sliderTrackContainer--sliderHome {
  max-width: 100%;
  /* margin-top: 1rem; */
}

.sliderTrackContainer--shelf {
  margin-bottom: 1rem;
}

.paginationDotsContainer {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.paginationDotsContainer--carousel {
  margin-bottom: -1.5rem;
}

.paginationDot--shelf {
  height: 0.5rem !important;
  width: 0.5rem !important;
  border-radius: 50%;
  padding: 0;
}

.sliderLayoutContainer--shelf {
  padding-left: 12px !important;
  padding-right: 12px !important;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
}

.slide--shelf {
  margin-bottom: 25px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  justify-content: center;
  /* margin-right: 4rem;
  width: 100% !important; */
}

.slideChildrenContainer--shelf :global(.vtex-product-comparison-0-x-productSelectorContainer--compareSearchPage) {
  display: none !important;
}

.sliderLayoutContainer--carousel {
  background-color: transparent !important;
  /* margin-top: 2rem; */
  margin-bottom: 2rem !important;
  padding: 0;
}

:global(.vtex-store-footer-2-x-footerLayout) .sliderLayoutContainer--carousel {
  background-color: #ffffff !important;
  margin-bottom: 2rem;
  padding: 0;
}

.sliderLayoutContainer--percheWhirlpoolCarousel .slideChildrenContainer {
  background-color: white;
  min-width: 20.9375rem;
  max-width: 20.9375rem;
  max-height: 20.9375rem;
  min-height: 20.9375rem;
  margin: 0 auto;
  font-size: 1.5rem;
}

.sliderLayoutContainer--ricambiOriginali {
  padding: 5rem;
}

/*-------------------------- Banner Header ----------------*/
.sliderLayoutContainer--bannerHeaderContainer {
  width: 100%;
  max-width: none !important;
  /* background-color: #282828; */
  border-bottom: 0.01188rem solid rgba(218, 218, 218, 7%);
  height: 3.1875rem;
}

.sliderTrackContainer--bannerHeaderContainer {
  max-width: none !important;
  max-height: 100%;
}

.sliderTrack--bannerHeaderContainer {
  height: 3.1875rem;
}

.slide--bannerHeaderContainer {
  max-height: 100%;
}

.bannerHeaderContainer {
  width: 100%;
}

.slideChildrenContainer--bannerHeaderContainer {
  position: relative;
}

.slideChildrenContainer--bannerHeaderContainer::after {
  position: absolute;
  content: "";
  width: 0.0625rem;
  background-color: #ffffff;
  opacity: 7%;
  right: 0;
  height: 70%;
}

.slideChildrenContainer--BottomSliderLavatrice {
  width: auto;
  max-width: 840px;
  margin: auto;
}

.sliderLayoutContainer--bottomSliderBlackfiber {
  background-color: #222325;
}

.slideChildrenContainer--technologiaSlider {
  width: 80%;
  max-width: 100%;
}

.sliderLayoutContainer--bottomSliderBlackfiber {
  height: 45rem;
}

.sliderLayoutContainer--removeTopPadding {
  padding-top: 0;
}

.sliderLayoutContainer--personalizedBannerCard {
  padding: 0 20%;
}

.sliderLayoutContainer--sliderWFrigo4Porte {
  padding: 0 1.125rem;
  max-width: 90rem;
  margin: 0 auto;
  transform: translateY(0);
  opacity: 1;
  margin-bottom: 0;
}

.sliderLayoutContainer--sliderBannerHome {
  max-width: 100rem;
  padding: 0 1.125rem;
  margin: 0 auto;
  transform: translateY(0);
  opacity: 1;
}

.sliderTrackContainer--sliderWFrigo4Porte,
.sliderTracktContainer--sliderBannerHome {
  padding-top: 5.625rem;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

.sliderLeftArrow--sliderWFrigo4Porte,
.sliderLeftArrow--sliderBannerHome {
  background: #d8d8d8 !important;
  left: 4rem;
  padding: 1rem;
  border-radius: 70%;
  opacity: 0.4;
}

.sliderLayoutContainer--sliderBannerHome .slide {
  box-shadow: none;
  margin: 0;
  border: none;
}

.sliderRightArrow--sliderWFrigo4Porte,
.sliderRightArrow--sliderBannerHome {
  right: 4rem;
  background: #d8d8d8 !important;
  padding: 1rem;
  border-radius: 70%;
  opacity: 0.4;
}

.sliderLayoutContainer--personalizedBannerCard {
  padding-top: 6.25rem;
}

.slideChildrenContainer--shelf {
  width: max-content;
}

.sliderArrows--stickySliderPrePlp {
  width: 1.8rem;
}

/*-------------------------- STEAM HYGIENE CAROUSEL ----------------*/
.sliderLayoutContainer--shelf-steam {
  margin-bottom: 4rem;
}

.sliderTrackContainer--shelf-steam {
  flex-wrap: wrap;
  display: flex;
}

.sliderTrack--shelf-steam {
  flex-wrap: inherit;
  transform: none !important;
}

.slide--shelf-steam {
  width: 31% !important;
  margin-bottom: 1rem;
  /* display: contents; */
}

.slide--shelf-steam--hidden {
  display: none;
}

.sliderLayoutContainer--carouselSalesforce {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* .sliderTrack--carouselSalesforce {
  justify-content: center;
} */
.slide--carouselSalesforce {
  max-width: 300px;
  margin: 0 0.875rem;
}

.paginationDotsContainer--carouselSalesforce {
  bottom: -40px;
}

/* .sliderTrackContainer--shelf{
  max-width: 1100px;
  max-height: 3982.330px;
} */



.layoutContainer--shelfEmbed {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
}

.sliderLayoutContainer--shelfEmbed {
  margin-bottom: 1rem;
}

.sl .slide--shelfEmbed {
  margin-bottom: 25px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.slideChildrenContainer--shelfEmbed {
  padding: 0.75rem;
}


@media only screen and (min-width: 1024px) {
  .slideChildrenContainer--shelfEmbed {
    max-width: 320px !important;
  }

  :global(.vtex-slider-layout-0-x-slide--shelfEmbedMobile) {
    max-width: 320px !important;
  }

  .sliderLayoutContainer--shelfEmbedMobile {
    padding: 0 !important;
  }


  :global(.vtex-slider-layout-0-x-slide--shelf--firstVisible) .slideChildrenContainer--shelf {
    max-width: 1010px;
    max-height: 456.792px;
  }
}

/* Media Queries */
@media only screen and (max-width: 640px) {
  :global(.vtex-slider-layout-0-x-slide--shelf--firstVisible) .slideChildrenContainer--shelf {
    max-width: 1010px;
    max-height: max-content;
  }
}

@media only screen and (max-width: 640px) {
  :global(.vtex-slider-layout-0-x-sliderTrackContainer--shelf) .slide--shelf {
    max-width: 1012px !important;
    max-height: 938.021px !important;
    margin-bottom: 25px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    justify-content: center;
  }
}

@media only screen and (max-width: 1024px) {
  .sliderLayoutContainer--carousel {
    /* margin-top: 2rem; */
  }
}

@media only screen and (min-width: 600px) {
  .sliderLayoutContainer--percheWhirlpoolCarousel {
    display: none;
  }
}

@media only screen and (max-width: 668px) {
  .slide--bannerHeaderContainer {
    background-color: rgb(0, 0, 0) !important;
  }

  .sliderTrackContainer--stickySliderPrePlp {
    width: 70% !important;
  }
}

@media only screen and (max-width: 600px) {
  .slideChildrenContainer--bannerHeaderContainer::after {
    content: none;
  }

  .slideChildrenContainer--bannerHeaderContainer::after {
    content: none;
  }
}

@media only screen and (max-width: 640px) {
  .sliderLayoutContainer--stickySliderPpdMobile {
    background: #f9f9f9;
    padding: 1rem 0 !important;
    border-bottom: 1px solid #d3d3d3;
  }

  .sliderTrackContainer--stickySliderPpdMobile {
    width: 75% !important;
  }

  .slide--stickySliderPpdMobile {
    width: 100% !important;
  }

  .sliderArrows--stickySliderPpdMobile {
    width: 1.8rem;
  }
}

@media only screen and (min-width: 640px) and (max-width: 1024px) {
  .sliderLayoutContainer--stickySliderPpdMobile {
    padding: 1rem 0;
    border-top: 1px solid #d3d3d3;
  }
}

@media only screen and (min-width: 1280px) {
  .sliderLayoutContainer--ricambiOriginali {
    padding: 5rem 20%;
  }

  /* .sliderLayoutContainer--cardsSupp {
    padding: 0 15% 0 15%;
    margin-top: 3.75rem;
  } */
  .sliderLayoutContainer--VP {
    padding: 0 15% 3rem 15% !important;
  }
}

@media only screen and (min-width: 640px) and (max-width: 900px) {
  .slide--cardsSupp {
    width: 50% !important;
  }

  /* HOTPOINT SERVICE SLIDER SUPPORT BOXES */
  .slide--hpServiceCardsSupp {
    width: 50% !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 639px) {
  .slide--cardsSupp {
    width: 25% !important;
  }

  /* HOTPOINT SERVICE SLIDER SUPPORT BOXES */
  .slide--hpServiceCardsSupp {
    width: 25% !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
  .sliderTrack--cardsSupp {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  /* HOTPOINT SERVICE SLIDER SUPPORT BOXES */
  .sliderTrack--hpServiceCardsSupp {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

@media only screen and (min-width: 1200px) {
  .paginationDotsContainer--bfReviews {
    margin-right: 4.5rem;
  }
}

@media only screen and (max-width: 1100px) {
  .sliderLayoutContainer--personalizedBannerCard {
    padding: unset;
  }

  .sliderLayoutContainer--shelf {
    padding-left: 12px !important;
    padding-right: 12px !important;
  }

  /* BLACK FRIDAY */
  .slide--shelfBlackFriday {
    min-width: 300px;
  }

  .slide--shelfBlackFriday {
    margin-right: 0;
  }

  /* BLACK FRIDAY */
  .paginationDotsContainer--bfReviews {
    margin-bottom: -1rem;
    justify-content: center;
    padding-right: 0;
  }

  .sliderLayoutContainer--bfReviews {
    padding: 0;
  }
}

@media only screen and (min-width: 668px) and (max-width: 1024px) {
  .sliderTrackContainer--stickySliderPrePlp {
    width: 90% !important;
  }

  .sliderTrackContainer--stickySliderPdpMobile {
    width: 90% !important;
  }
}

@media only screen and (max-width: 640px) {
  .slide--shelf {
    max-width: 1012px !important;
    max-height: 426.792px !important;
    margin-bottom: 25px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    justify-content: center;
  }
}

@media only screen and (max-width: 675px) {
  .infoCardContainer--carouselHomeTop {
    display: flex;
    flex-direction: column-reverse;
    border-radius: 1.25rem;
    display: flex;
    justify-content: center;
    position: relative;
    height: 100%;
    padding: 0;
    width: 100%;
    background-image: linear-gradient(135deg,
        hsl(23deg 67% 56%),
        hsl(20deg 57% 50%) 50%,
        hsl(17deg 66% 42%));
  }

  .infoCardImage--carouselHomeTop {
    border-top-right-radius: 1.25rem !important;
    border-bottom-right-radius: unset !important;
    border-top-left-radius: 1.25rem !important;
    border-bottom-left-radius: unset !important;
    width: 100%;
  }

  .infoCardTextContainer--carouselHomeTop {
    padding: 1rem;
  }

  .sliderTrackContainer--carouselHomeTop {
    margin: 1rem 1rem 3rem 1rem;
  }

  .paginationDotsContainer--carouselHomeTop {
    margin-bottom: 1.5rem !important;
  }
}

@media only screen and (max-width: 762px) {
  :global(.vtex-slider-layout-0-x-slide--shelf--firstVisible).slideChildrenContainer--shelf {
    width: 100% !important;
    height: max-content;
  }
}

@media only screen and (min-width: 885px) and (max-width: 1024px) {
  .sliderTrackContainer--shelf :global(.vtex-product-summary-2-x-containerNormal--searchWithoutBf) {
    overflow: visible;
  }
}

/* @media only screen and (min-width: 885px) and (max-width: 1024px) {
  .sliderTrackContainer--shelf {
    overflow: hidden;
  }
  .sliderTrackContainer--shelf
    :global(.vtex-product-summary-2-x-containerNormal--searchWithout) {
    overflow: visible;
  }
} */
@media only screen and (min-width: 900px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--mediaPreOrderReverse) .videoElement {
    min-width: 32rem;
    min-height: 19rem;
  }

  :global(.vtex-flex-layout-0-x-flexRowContent--mediaPreOrder) .videoElement {
    min-width: 32rem;
    min-height: 19rem;
  }
}