:global(.vtex-flex-layout-0-x-flexRow--gapKeyInformations) .trigger{
  pointer-events: visible;
  /* z-index: 1 !important; */
}
.popperArrow{
  margin-left: 1rem !important;
}
.popper{
  margin-left: 1rem !important;
  width: max-content !important
}
.container{
  background-color:#e2e2e2;
  max-width: 20rem;
  border-radius: 1rem;
}
.arrow{
  color: #e2e2e2;
}
.trigger{
  z-index: auto !important;
  position: relative !important;
}

@media only screen and (max-width: 540px){
  .container{
    max-width: 9rem;
  }
}
@media only screen and (max-width: 370px){
  .container{
    max-width: 8rem;
  }
}
@media only screen and (max-width: 350px){
  .container{
    max-width: 6rem;
  }
}
@media only screen and (max-width: 1115px) and (min-width: 1024px){
  :global(.vtex-flex-layout-0-x-flexCol--installationsRemovalPlp) .container{
    max-width: 12rem;
  }
  :global(.vtex-flex-layout-0-x-flexRowContent--rightAccessoriesDesk) .container{
    max-width: 12rem;
  }
}
@media only screen and (max-width: 940px) and (min-width: 640px){
  :global(.vtex-flex-layout-0-x-flexCol--installationsRemovalPlp) .container{
    max-width: 10rem;
  }
  :global(.vtex-flex-layout-0-x-flexRowContent--rightAccessoriesDesk) .container{
    max-width: 10rem;
  }
}
@media only screen and (max-width: 640px){
  :global(.vtex-flex-layout-0-x-flexRow--gapKeyInformations) .trigger{
    pointer-events: visible;
    width: 1.5rem;
  }
  .backdropContainer{
    width: unset !important;
  }
}
