:global(.vtex-my-orders-app-3-x-productName) {
  color: #B24C24;
  text-decoration: none;
}
:global(.vtex-account__page-body) :global(.vtex-address-form-4-x-input) {
  width: 100%;
}
:global(.vtex-account__order-details) :global(.overflow-y-scroll) {
  overflow-y: auto !important;
}
.addressList :global(.t-heading-4) {
  font-family: "hotpointRegular"
}
:global(.vtex-my-orders-app-3-x-ordersList) :global(.c-on-base) {
  font-family: "hotpointRegular";
  color: #979899;
}
.genderSubContainer,
.genderContainer,
.corporateName,
.tradeName,
.corporateDocument,
.businessPhoneSubContainer {
  display: none;
}

.menu {
  width: 17%;
  padding: 0 2rem;
}

:global(.vtex-profile-form-3-x-toggleBusinessButtonWrapper),
:global(.vtex-profile-form-3-x-businessFields),
:global(.vtex-profile-form-3-x-genderInput) {
  display: none;
}

:global(.vtex-my-account-1-x-menuLinks .vtex-account_menu-link[href="#/cards"]) {
  display: none;
}

.newsletterContainerMessage {
  color: #505050;
}

.dataEntryChildren {
  color: #505050;
}

:global(.vtex-my-orders-app-3-x-cancelBtn),
:global(.pointer.underline.c-link.hover-c-link.relative),
:global(.mt2-ns),
:global(.vtex-my-orders-app-3-x-orderProductQuantity) {
  display: none;
}

:global(.vtex-account_menu-link) {
  border: 0;
  padding-left: 0;
  font-size: 1.25rem;
  width: min-content;
}

/* :global(.vtex-account_menu-link):focus {
  border-bottom: solid 2px #edb112;
} */
/* .b--action-primary{
background-color: #ee1a1a;
} */
.menuLink {
  font-size: 1.25rem;
  padding-left: 0;
  margin: 0;
  border: 0;
}

:global(.t-heading-2) {
  display: flex;
  justify-content: center;
}

:global(.vtex-pageHeader__container) {
  /* background-color: #edb112; */
  /* display: flex; justify-content: center; */
  margin-bottom: 9px;
  padding-top: 1rem;
}

:global(.vtex-my-account-1-x-boxContainer) {
  border: 0;
  /* background-color: #e0e0e0; */
}

.boxContainerBody {
  padding: 2.5rem 2rem 1.938rem 2.5rem;
  background-color: #f9f9f9;
  /* font-size: 1.25rem; */
}

.boxContainerFooter {
  /* padding: 2.5rem 2rem 1.938rem 2.5rem; */
  background-color: #f9f9f9;
}

:global(.vtex-my-account-1-x-menu) {
  margin-top: 137px;
}

.profileSummary {
  background-color: #ee1a1a;
}

.boxContainerFooter {
  /* background-color: aqua; */
}

.dataEntryLabel {
  /* background-color: #edb112; */
  width: 16.938rem;
  height: 2rem;
  margin: 0 1.188rem 0 0;

  font-size: 1.25rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  color: #505050;
}

.dataEntryChildren {
  font-size: 1.25rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  color: #505050;
}

.boxContainerFooter :global(.vtex-button__label) {
  /* text-transform: lowercase; */
  font-size: 1rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  color: #505050;
}

.boxContainerFooter :global(.vtex-button__label)::first-letter {
  text-transform: capitalize !important;
}

.boxContainerFooter :global(.vtex-button):hover {
  background-color: transparent !important;
  text-decoration: underline;
  color: #505050;
}

.boxContainerFooter :global(.vtex-button__label):before {
  display: block;
  content: " ";
  background-image: url("https://itwhirlpool.vtexassets.com/assets/vtex/assets-builder/itwhirlpool.whl-theme/3.1.15/modifica___5b6f01f6e5699b6161b4d1e9c55a6acd.svg");
  background-size: 20px 20px;
  height: 20px;
  width: 20px;
  margin-right: 0.5rem;
}

.userInfo {
  flex-wrap: nowrap;
}

/* .profileFormBoxContainer .boxContainerBody{
  background-color: #ee1a1a ;
} */
.boxContainerBody :global(.vtex-input-prefix__group) {
  width: 24.188rem;

  height: 3.2rem;
  margin: 0.313rem 0 0;
  /* padding: 0.625rem 1.875rem 0.688rem 1.25rem; */
  border-radius: 5px;
  border: solid 1px #eaeaea;
  /* background-color: rgba(255, 255, 255, 0.6); */

  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #505050;
  text-transform: unset;
}

.boxContainerBody :global(.vtex-input-prefix__group) input {
  /* width: 24.188rem; */
  border: 0;
  height: 3.063rem;
  /* margin: 0.313rem 0 0; */
  padding: 0.625rem 1.875rem 0.688rem 1.25rem;
  border-radius: 5px;
  /* border: solid 1px #eaeaea; */
  background-color: rgba(255, 255, 255, 0.6);

  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #505050;
  text-transform: unset;
}

.boxContainerBody :global(.vtex-button) {
  /* width: 6.875rem; */
  height: 0.938rem;
  font-size: 0.875rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  /* width: 9.75rem; */
  /* height: 2.313rem; */
  height: 3rem;
  /* margin: 2.5rem 0.063rem 0 14.313rem; */
  /* padding: 0.75rem 1.438rem 0.625rem; */
  border-radius: 3px;
  /* text-transform: lowercase; */
  width: 24.188rem; /* Same as .vtex-input-prefix__group */
  max-width: 100%;
  margin: 0;
  margin-top: 2.5rem;
}

/* .boxContainerBody :global(.vtex-checkbox__line-container) {
  align-items: center;
} */

/* :global(.vtex-button__label){
  text-transform: unset !important;
} */
.menuLinks :global(.b--action-primary) {
  border-left-color: unset;
  border-left-style: unset;
  position: relative;
  border: 0;
}

.menuLinks :global(.b--action-primary)::after {
  content: "";
  /* width: 30%; */
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 15px;
  background-color: #b24c24;
}

:global(.b--action-primary[href="#/wishlist"])::after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  left: 0;
  bottom: 15px;
  background-color: #b24c24;
}

/* :global(.t-action--small) {
  text-transform: unset;
} */
.boxContainerBody :global(.address-summary) {
  font-size: 1.25rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
}

:global(.vtex-address-form-4-x-dropdown option:disabled) {
  display: none;
}

:global(.vtex-my-orders-app-3-x-orderHeaderLabel) {
  /* background-color: #edb112; */
  /* width: 10.375rem; */
  /* height: 1.25rem; */
  /* margin: 0.125rem 1rem 1.688rem 0; */
  /* font-family: MyriadPro; */
  font-size: 0.75rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  /* color: var(--greyish-brown); */
  text-transform: unset;
}

:global(.vtex-my-orders-app-3-x-orderHeaderValue),
:global(.vtex-my-orders-app-3-x-orderId),
:global(.vtex-my-orders-app-3-x-orderProductShipping) {
  font-weight: 600;
}

/* :global(.vtex-my-orders-app-3-x-orderHeaderLabel) .ttu{
background-color: #ee1a1a;
} */

:global(.vtex-my-orders-app-3-x-detailsBtn) {
  padding: 4px 0px !important;
  width: 12.5rem;
  /* height: 2.313rem; */
  /* margin: 1.563rem 2.5rem 0.625rem 8rem; */
  /* padding: 0.688rem 2.563rem; */
  border-radius: 3px;
  border: solid 2px #953d1b;
  background-color: white;
  font-size: 0.875rem;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin-inline: auto;
}

:global(.vtex-my-orders-app-3-x-detailsBtn):hover {
  text-decoration: underline;
}

:global(.vtex-my-orders-app-3-x-reorderBtn) {
  display: none;
}

:global(.vtex-my-orders-app-3-x-orderProductName) {
  /* width: 22.125rem; */
  /* height: 1.75rem; */
  /* margin: 0.313rem 0.5rem 0 0.875rem; */
  /* font-family: MyriadPro; */
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #505050;
  font-weight: 600;
}

:global(.vtex-my-orders-app-3-x-orderProductName):hover {
  color: #b24c24;
}

:global(.vtex-my-orders-app-3-x-orderCard) {
  color: #505050;
  border-color: #f9f9f9;
}

:global(.vtex-my-orders-app-3-x-orderHeader) {
  background-color: #f9f9f9;
  border-color: #f9f9f9;
}

:global(.vtex-account__page-body) :global(.b--muted-5) {
  border: 0;
  overflow-y: hidden;
  background-color: #f9f9f9;
}

:global(.vtex-my-orders-app-3-x-productTable) :global(.b--muted-5) {
  background-color: white;
}

:global(.vtex-my-orders-app-3-x-productTable) td {
  /* background-color: rgb(212, 35, 35); */
  /* border-bottom: 1px solid red ; */
}

:global(.vtex-account__page-body) :global(.bg-success) {
  background-color: #B24C24;
}

:global(.b--success) {
  border-color: #B24C24;
}

:global(.c-success) {
  color: #b24c24;
}
:global(.vtex-login-2-x-tooltipContainer .c-success) {
  color: #B24C24;
}

:global(.vtex-my-orders-app-3-x-productRow) {
  background-color: #B24C24;
}

:global(.vtex-login-2-x-forgotPasswordLink),
:global(.vtex-login-2-x-dontHaveAccount) {
  /* background-color:  */
  color: #505050;
  text-decoration: unset;
}

:global(.vtex-login-2-x-forgotPasswordLink):hover,
:global(.vtex-login-2-x-dontHaveAccount):hover {
  /* background-color:  */
  /* color: #505050; */
  text-decoration: underline;
}

/* :global(.itwhirlpool-login-custom-flow-0-x-confirmButton) {
  display: none;
} */
/* :global(.vtex-login-2-x-sendButton) {
  width: 50% !important;
} */
/* :global(.vtex-login-2-x-content) {
  background-color: unset;
} */

/* :global(.vtex-login-2-x-emailAndPasswordForm) :global(.vtex-input-prefix__group) {
  width: 100% !important;
} */

/* :global(.vtex-login-2-x-contentForm) {
  width: 19rem;
  margin: auto;
} */

:global(.vtex-login-2-x-content) {
  width: 26rem;
  height: 25rem;
}

:global(.vtex-login-2-x-content) {
  background-color: #f9f9f9;
  /* background-color: #ee1a1a; */
}

:gloabl(.vtex-login-2-x-emailAndPasswordForm) {
  margin: 0.313rem auto !important;
}

:global(.vtex-login-2-x-content--emailVerification) {
  width: 30rem;
  height: 20rem;
}

:global(.vtex-login-2-x-formFooter) {
  border: 0;
  justify-content: flex-end;
}
.newsletterContainerMessage {
  color: #505050;
  padding-bottom: 0;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
/*:global(.vtex-account .w-80-m) {
  margin-left: 10%;
}*/
/* Media Queries */
@media screen and (max-width: 640px) {
  :global(.vtex-login-2-x-content) {
    width: 100%;
  }

  :global(.vtex-account__page .t-heading-2) {
    text-align: center;
  }

  .menu {
    margin-top: 50px;
  }
}

@media only screen and (max-width: 768px) {
  .menuLinks :global(.b--action-primary)::after {
    width: calc(66px - 10%);
  }

  .boxContainerBody {
    padding: 2rem 1rem;
  }
}

@media only screen and (max-width: 668px) {
  :global(.vtex-my-account-1-x-addressBox) {
    display: flex;
    flex-direction: column;
  }

  .boxContainerBody :global(.vtex-input-prefix__group) {
    width: 100%;
  }

  .boxContainerBody :global(.vtex-button) {
    margin: 0;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  :global(.vtex-login-2-x-content) {
    margin-top: 2rem;
    width: 100%;
  }

  .profile {
    margin-left: 10%;
    width: 95%;
  }

  .userImage {
    margin-right: 0.5rem;
  }

  .addressBox {
    justify-content: center;
  }
}