:global(.vtex-flex-layout-0-x-flexRowContent--rowLink) .linkText,
:global(.vtex-flex-layout-0-x-flexRowContent--rowLinkList) .linkText {
    color: #b24c24;
    cursor: pointer;
    font-weight: 700;
}

/*.cookieDescr {
    color: #505050;
}*/

.container {
    text-align: justify;
}

:global(.vtex-menu-2-x-menuContainer) .cookieTitleContainer {
    /*  margin: 0 1.5rem; */
    padding: 0.25rem 0;
}

:global(.vtex-menu-2-x-menuContainerNav) .linkText {
    display: block;
    font-weight: 400;
    font-size: .875rem;
    color: #f2f2f2 !important;
    line-height: 1.5rem;
    text-transform: unset;
    letter-spacing: normal;
    font-family: hotpointRegular;
    margin-left: 0rem;
}

.cookieTitleContainer:first-child {
    color: #505050;
    text-align: justify;
    max-width: 900px;
    height: 18.4px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*.cookieTableContainer {
    margin: 0 auto;
    max-width: 900px;
}

.cookieTableDescr {
    text-align: justify;
}

.cookieTitleContainer {
    margin: 0 auto;
    max-width: 900px;
    height: 50.4px;
}

.cookieTableLabel {
    text-transform: uppercase;
}

.tableColumn {
    display: flex;
}

.tableColumnContainer {
    width: 33%;
}

.tableList {
    list-style: none;
    padding: 0;
}

.tableListItem {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} */

:global(.vtex-menu-2-x-menuContainer) .cookieTableContainer {
    margin: unset;
    margin-left: 1.5rem;

}

:global(.vtex-menu-2-x-menuContainerNav) .linkText {
    display: block;
    font-weight: 400;
    font-size: .875rem;
    color: #f2f2f2 !important;
    line-height: 1.5rem;
    text-transform: unset;
    letter-spacing: normal;
    font-family: hotpointRegular;
    margin-left: 1.5rem;
}

/* Media Queries */
@media only screen and (max-width: 640px) {
    :global(.vtex-disclosure-layout-1-x-content--mobileFooterMenuContent) .cookieTitleContainer {
        margin: 0 0rem;
        padding: 0.25rem 0;
    }
}

:global(.vtex-disclosure-layout-1-x-content) .linkText {
    display: block;
    font-weight: 400;
    font-size: .875rem;
    color: #505050 !important;
    line-height: 1.5rem;
    text-transform: unset;
    letter-spacing: normal;
    font-family: hotpointRegular;
    margin-left: 0rem !important;
}

:global(.vtex-menu-2-x-menuContainer) .cookieDescr .cookieLink {
    font-family: "hotpointRegular";
    font-weight: 400;
    font-size: 0.875rem;
    color: #f2f2f2;
    text-transform: unset;
    letter-spacing: normal;
    margin-left: 0px !important;
}

:global(.vtex-menu-2-x-menuContainer) .cookieDescr {
    margin-top: 0.5rem;
}