.label--breadLink {
    text-decoration: none;
}
.countdownContainer--timerPreOrder .colorBord {
    color: #505050;
  }
  .countdownContainer--timerPreOrder .marginSideDot5Rem {
    color: #505050;
  }
.colorBord,
.colorBlack {
    color: #fff;
    font-size: 35px;
}

/* .colorBlack {
    color: #fff !important;
} */

.timer{
    font-family: unset !important;
    gap: 0.5rem;
    display: flex;
    justify-content: center;
}

.loaderForm {
    background: #b24c24 !important;
    background: -moz-linear-gradient(left,
            #b24c24 10%,
            rgba(237, 177, 18, 0) 42%) !important;
    background: -webkit-linear-gradient(left,
            #b24c24 10%,
            rgba(237, 177, 18, 0) 42%) !important;
    background: -o-linear-gradient(left, #b24c24 10%, rgba(237, 177, 18, 0) 42%) !important;
    background: -ms-linear-gradient(left, #b24c24 10%, rgba(237, 177, 18, 0) 42%) !important;
    background: linear-gradient(to right, #b24c24 10%, rgba(237, 177, 18, 0) 42%) !important;
}

.loaderForm::before {
    background: #b24c24 !important;
}

.loaderForm::after {
    background: #DCCCBD !important;
}

.countdownContainer {
    position: relative;
    top: 1rem !important;
}

.link--breadLink {
    font-family: "hotpointRegular";
    font-size: 0.8rem;
    line-height: 22px;
    margin: auto;
    font-weight: 300;
    padding: 0 0.4rem;
    text-transform: uppercase;
    color: #505050;
    text-decoration: none;
}

/*.link {
    text-decoration: none;
    font-family: hotpointRegular;
      font-weight: 400;
      font-size: .875rem;
      line-height: 1.3125rem;
      color: #505050;
      height: fit-content;
      margin: auto 0;
  }*/

.link--productCategory {
    text-align: center;
}

.link--typoLinkPDP {
    font-family: "hotpointRegular";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.3125rem;
    color: #505050;
    height: fit-content;
    margin: auto 0;
}

.link--underline {
    text-decoration: underline;
}

.linkContainer--paddingModelName {
    padding: 0.5rem 1rem;
}

.linkContainer--loginIcon {
    display: flex;
}

.linkContainer--newSearchBar {
    position: relative;
    bottom: 1rem;
}

.label--articleCategory {
    position: relative;
    top: 1.15rem;
    margin: 0.5rem;
    text-transform: uppercase;
    color: #b24c24;
    font-weight: 800;
}

.linkContainer--secondColLink {
    text-align: end;
    text-decoration: underline;
    font-weight: 800;
    margin: 1rem;
}

.link--secondColLink {
    color: black;
}

:global(.vtex-flex-layout-0-x-flexRowContent--rowLinkPDPGallery) .linkContainer {
    width: auto;
}

:global(.vtex-flex-layout-0-x-flexCol--noBottomMargin) .linkContainer--postillaButton {
    margin-bottom: unset;
}

/*-------------LINK CARDS-------------*/
.childrenContainer--linkCards {
    margin: 0 0.4rem 1.25rem;
    padding: 2.1875rem 1.25rem;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-decoration: none;
    height: 100%;
}

.link--linkCards {
    text-decoration: none;
    outline: none;
    width: 100%;
}

.link {
    text-decoration: none;
}

/*-------------------------------------*/

.link--loginIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(24px + 3.125rem);
}

.link--loginIcon .childrenContainer--loginIcon {
    width: 24px;
    height: auto;
}

.childrenContainer--cardImageMenu {
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

/*-----------WISHLIST-------------*/

/* .link--wishlistIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(24px + 3.125rem);
  }
  .link--wishlistIcon .childrenContainer--wishlistIcon {
    width: 24px;
    height: auto;
  }
  @media only screen and (max-width: 1024px) {
    .link--wishlistIcon {
      width: auto;
    }
  } */
/*-----------BREAD-------------*/
.label--breadLink {
    text-decoration: none;
}

.link--breadLink {
    font-family: "hotpointRegular";
    font-size: 0.8rem;
    line-height: 22px;
    margin: auto;
    font-weight: 300;
    padding: 0 0.4rem;
    text-transform: uppercase;
    color: #505050;
    text-decoration: none;
}

.link--breadLink:hover {
    color: #b24c24;
}

.link--warrantyLink {
    text-transform: uppercase;
    font-weight: 600;
    font-family: "hotpointRegular";
    color: #505050;
}

.link--warrantyLink2 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.875rem;
    font-family: "hotpointRegular";
    color: #505050;
}

.link--dep {
    pointer-events: none;
    /* text-decoration: underline; */
}

.link--typoLinkPDP:hover {
    color: #b24c24;
}

.childrenContainer--tabPDP {
    display: flex;
    justify-content: center;
}

.link--fitContent {
    height: fit-content;
    margin: auto 0 auto 0;
    /*.5rem;*/
}

.linkContainer--tabPDP :global(.vtex-store-components-3-x-imageElement) {
    max-width: 1rem;
}

.linkContainer--promoPDP {
    margin-bottom: 1rem;
}

.childrenContainer--maxWidthLinkCardAlone {
    background-color: white;
}

.link--cardLinkBottom {
    width: 100%;
}

.childrenContainer--cardLinkBottom {
    width: 100%;
}

:global(.vtex-flex-layout-0-x-flexRowContent--rowLinkPDPGallery) .linkContainer--typoLinkPDP {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.link--colonnaMenuSupportoLast {
    font-family: "hotpointRegular";
    font-weight: 400;
    color: #505050 !important;
    font-size: 0.875rem;
    line-height: 1.2;
    margin-top: 0;
    padding-left: 1rem;
    text-transform: none;
    letter-spacing: 0;
    cursor: pointer;
    color: inherit;
}

.link--colonnaMenuSupportoLast-light {
    display: block;
    font-family: "hotpointRegular";
}

.link--colonnaMenuSupportoLast:hover::before {
    content: "";
    width: 0;
    transition: width 0.7s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    height: 0.125rem;
    position: absolute;
    left: 0;
    bottom: 0;
    background: #b24c24;
}

.linkContainer--postillaButton {
    margin-bottom: 3.75rem;
}

.linkContainer--marginButtonWColl {
    margin: 0;
    margin-bottom: 1.875rem;
}

/*thank u page*/
.linkContainer--backHomeLink {
    padding: 2rem;
    display: flex;
    justify-content: center;
    border-radius: 3px;
}

.link--backHomeLink {
    background-color: #f9f9f9;
    padding: 1rem 2.5rem;
}

.label--backHomeLink {
    color: #505050;
    position: relative;
}

.label--backHomeLink::before {
    content: url(assets/arrow-left.svg);
    position: absolute;
    left: -2rem;
}

.linkContainer--postillaButtonLanding,
.linkContainer--postillaButtonLandingWhite {
    margin: 0 1rem 3.75rem 1rem;
}

.buttonLink--postillaButtonLandingWhite {
    background-color: transparent;
    border: 1px solid #aeaeae;
    border-radius: 0.3125rem;
    color: #aeaeae;
}

.buttonLink--postillaButtonLandingWhite:hover {
    background-color: #ffffff;
    border: 1px solid #b24c24;
    color: #b24c24;
}

.linkContainer--tabPDP {
    padding: 0 2rem;
}

:global(.vtex-flex-layout-0-x-flexColChild--col-tertiary) .linkContainer--tabPDP {
    padding: 0 2rem;
    display: none !important;
}
:global(.vtex-flex-layout-0-x-flexColChild--col-tertiaryBf) .linkContainer--tabPDP {
    padding: 0 2rem;
    display: none !important;
}
.link--backWishlist::before {
    content: "";
    display: inline-block;
    background-image: url(/arquivos/back_arrow.svg);
    width: 25px;
    height: 10px;
    background-repeat: no-repeat;
}

.label--backWishlist {
    color: #b24c24;
    font-family: "hotpointRegular";
    font-weight: 500;
    letter-spacing: 0;
    font-size: 0.875rem;
}

.linkContainer--backWishlist {
    padding-top: 1rem;
    padding-left: 1rem;
}

.linkContainer--promoPDP {
    display: contents;
}

.childrenContainer--promoPDP {
    margin-bottom: 0.5rem;
}

.childrenContainer--bannerBottomPLP {
    height: 10rem;
    position: relative;
    margin: 0 1rem;
    display: flex;
    margin-bottom: 1rem;
}

.childrenContainer--bannerBottomPLP::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #333;
    opacity: 0.5;
    z-index: 2;
}

.linkContainer--accordion {
    margin: 1em 0;
}

.label--accordion {
    font-family: "hotpointRegular";
    font-weight: 400;
    font-size: 0.875rem;
    text-transform: uppercase;
    color: #505050;
    line-height: 1.5rem;
}

.label--accordionSecond {
    display: block;
    font-family: "hotpointRegular";
    font-weight: 400;
    font-size: 0.875rem;
    color: #505050;
    line-height: 1.5rem;
    text-transform: unset;
    letter-spacing: normal;
    margin: 0.6rem 0;
}

.linkContainer--fixedChat {
    position: fixed;
    right: 10%;
    border-radius: 50%;
    background-color: #b24c24;
    padding: 10px;
    z-index: 999;
}

.linkContainer--top90 {
    top: 90%;
}

.linkContainer--top80 {
    top: 80%;
}

.linkContainer--fixedChat:hover {
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
}

.linkContainer--fixedChat :global(.vtex-store-components-3-x-imageElement--supportoCardIcon) {
    margin-bottom: unset;
}

.childrenContainer--bannerBlackFridayBottom {
    flex-direction: column;
    background-color: #f2f2f2;
    border-bottom: 3px solid #b24c24;
    box-sizing: border-box;
    height: 15rem;
    position: relative;
    margin: 0 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
}

.linkContainer--pagodilButton {
    margin: 1rem;
    text-align: center;
}

.childrenContainer--bannerBlackFridayBottomLast {
    background-color: #ffffff !important;
}

.linkContainer--scopriDiPiuLink {
    margin-top: 1rem;
    max-width: calc(1520px - 0.5rem);
    justify-content: flex-start;
    display: flex;
    margin-right: 50px;
}

.link--scopriDiPiuLink {
    max-width: 12em;
    min-width: 9em;
    font-size: 0.9rem;
    background: #b24c24;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "hotpointRegular";
    border-radius: 5px;
    color: white !important;
}

.link--scopriDiPiuLink:hover {
    background-color: rgba(237, 177, 18, 0.8);
}

.label--scopriDiPiuLink {
    padding: 0.5rem;
    margin: auto;
}

.linkContainer--cardImageMenu,
.childrenContainer--cardImageMenu,
.link--cardImageMenu {
    height: 100%;
}

.link--cardImageMenu {
    display: block;
}

.link--popupHome {
    border-color: #fff;
}

.link--popupHome:hover {
    border-color: #fff !important;
}

/* OOW POPUP LINK */
.linkContainer--oowPopupButton {
    display: flex;
    justify-content: center;
}

.link--oowPopupButton {
    display: flex;
    justify-content: center;
    padding: 0.8rem 3rem;
    max-width: 15em;
    min-width: 9em;
    font-size: 0.9rem;
    background: #b24c24;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "hotpointRegular";
    border-radius: 5px;
    color: white !important;
}

.link--oowPopupButton:hover {
    background-color: rgba(237, 177, 18, 0.8);
}

/* BLACK FRIDAY */
.link--blackFridayDiscoverMore {
    width: 120px;
}

.linkContainer--blackFridayDiscoverMore {
    display: flex;
    width: 120px !important;
    align-items: center;
    border-bottom: 2px solid #e1e1e1;
    position: relative;
    height: 40px;
    right: 54px;
}

.linkContainer--bfDiscoverMoreFaq {
    display: flex;
    justify-content: center;
}

.label--blackFridayDiscoverMore,
.label--bfDiscoverMoreFaq {
    text-transform: none;
    color: #292929;
}

/* Media Queries */
@media only screen and (min-width: 1600px) {
    .linkContainer--scopriDiPiuLink {
        margin: auto;
        padding: unset;
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 1100px) {
    .linkContainer--postillaButtonGatePageHub {
        position: unset;
        margin-bottom: 4rem;
    }

    .linkContainer--blackFridayDiscoverMore {
        right: 5px;
        top: 40px;
    }
}

@media only screen and (max-width: 1024px) {
    .linkContainer--scopriDiPiuLink {
        margin: 0 0 3rem 0;
        padding: unset;
        justify-content: center;
    }

    /* .colorBord {
        color: #ffffff !important;
    }

    .colorBlack {
        color: #ffffff !important;
    } */

    .countdownContainer {
        position: relative;
        top: 2rem;
    }

    .link--loginIcon {
        width: auto;
    }

    .linkContainer--fixedChat {
        box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
        padding: 10px 5px;
    }
}

@media only screen and (max-width: 1000px) {
    .link--warrantyLink2 {
        font-size: 0.7rem;
    }

    .linkContainer--discontinuedButton {
        text-align: center;
    }
}

@media only screen and (max-width: 600px) {
    .linkContainer--bannerBottomPLP {
        width: 100%;
    }

    .linkContainer--tabPDP {
        padding: 0;
        width: 100%;
    }

    .label--articleCategory {
        top: 1rem;
    }

    .link--typoLinkPDP {
        font-size: 0.75rem;
        text-decoration: underline;
        color: black;
    }

    .label--warrantyLink2 {
        display: flex;
        justify-content: center;
        padding: 1rem;
    }

    .linkContainer--postillaButton {
        margin-bottom: 6.875rem;
    }
}

@media screen and (max-width: 668px) {
    .linkContainer--fixedChat {
        padding: 7px 2px;
    }

    .link--backHomeLink {
        padding: 1rem 1.5rem;
    }

    .label--backHomeLink::before {
        left: -1rem;
    }

    .childrenContainer--tabPDP {
        display: flex;
        justify-content: flex-start;
    }
}

@media screen and (min-width: 768px) {
    .linkContainer--postillaButtonGatePageHub {
        position: absolute;
        right: 6.5rem;
        bottom: 9rem;
    }

    .linkContainer--postillaButton2GatePageHub {
        position: relative;
        bottom: 3rem;
        float: right;
        right: 4.5rem;
    }

    .buttonLink--postillaButton2GatePageHub,
    .buttonLink--postillaButtonGatePageHub {
        width: 15rem;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1250px) {
    .timer {
        font-size: 1.7rem;
    }
}
@media only screen and (max-width: 1024px) {
    :global(.vtex-flex-layout-0-x-flexCol--leftPreOrder) .timer {
      gap: 0.4rem;
    }
  }
  @media only screen and (max-width: 713px) {
    :global(.vtex-flex-layout-0-x-flexCol--leftPreOrder) .timer {
      gap: 0;
    }
  }
  @media only screen and (max-width: 640px) {
    .countdownContainer--2022 .timer .colorBord {
      font-size: 2.5rem;
    }
    .countdownContainer--2022 .timer .marginSideDot5Rem {
      font-size: 2.5rem;
    }
    /* :global(.vtex-flex-layout-0-x-flexCol--timerPreOrderMobile) .colorBord {
      color: #ffffff !important;
    }
    :global(.vtex-flex-layout-0-x-flexCol--timerPreOrderMobile) .marginSideDot5Rem {
      color: #ffffff !important;
    } */
    /* .countdownContainer--2022 .timer .colorBord {
      color: #ffffff;
    } */
  }