.label {
  z-index: 2;
}

.buttonLink {
  position: relative;
  border: none;
}

.label--terminiPreOrder{
    color: #fff;
    border-bottom-style: solid;
    border-bottom-width: 1.5px;
    cursor: pointer;
  }
  .linkContainer--terminiPreOrder{
      padding-top: 2rem;
  }
  .link--preOrderDiscoverMore {
    width: 120px;
  }
  .linkContainer--preOrderDiscoverMore {
    height: 40px;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  .linkContainer--preOrderDiscoverMoreFaq {
    display: flex;
    justify-content: center;
  }
  .label--preOrderDiscoverMore,
  .label--preOrderDiscoverMoreFaq {
    text-transform: none;
    color: #fff;
  }
  .label--preOrderDiscoverMore {
    color: #292929 !important;
  }
  .label--preOrderDiscoverMoreMedia{
    display: flex;
    justify-content: flex-end;
  }
  .label--preOrderDiscoverMoreProd{
    background-color: #B24C24;
    color: #ffff;
    padding: 0.5rem;
    font-weight: 800;
    border-radius: 0.2rem;
  }
  .link--preOrderDiscoverMoreProd{
    background-color: #edb112;
  
  }
  .link--preOrderDiscoverMoreMedia{
    background-color: #edb112;
  }

.buttonLink::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 20%;
  opacity: 0;
  background-color: #b24c24;
  z-index: 1;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
}

.buttonLink:hover::before {
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 1;
  height: 100%;
  border-radius: 5px;
}

.label--backWishlist {
  color: #b24c24;
  font-family: "hotpointRegular";
  font-weight: 500;
  letter-spacing: 0;
  font-size: 0.875rem;
  text-transform: uppercase;
  padding-left: 0.35rem;
  text-decoration: none;
}

.link--backWishlist::before {
  content: "";
  display: inline-block;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg class='vtex__icon-arrow-back' width='20' height='13.75' viewBox='0 0 16 11' xmlns='http://www.w3.org/2000/svg' fill='none'%3E%3Cpath d='M.5 5.5c0 .258.083.43.25.602L5.5 11l1.167-1.203-3.334-3.438H16V4.641H3.333l3.334-3.438L5.5 0 .75 4.898A.792.792 0 00.5 5.5z' fill='%23b24c24'/%3E%3C/svg%3E");
  background-position: 50%;
  width: 20px;
  height: 12px;
  background-repeat: no-repeat;
  padding-left: 0.25rem;
  background-size: 75%;
}

.linkContainer--spareAndAccLink {
  margin-right: 20px;
  margin-left: 20px;
}

.linkContainer--spareAccessoriesHeaderTextLink {
  text-transform: uppercase;
}

.label--spareAccessoriesHeaderTextLink {
  color: #fff !important;
}

.link--typoLinkPDP {
  font-family: "hotpointRegular";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  color: #505050;
  height: fit-content;
  margin: auto 0;
}

.link--underline {
  text-decoration: underline;
}

.linkContainer--paddingModelName {
  padding: 0.5rem 1rem;
}

.linkContainer--loginIcon {
  display: flex;
}

:global(.vtex-flex-layout-0-x-flexRowContent--rowLinkPDPGallery)
  .linkContainer {
  width: auto;
}

/*-------------LINK CARDS-------------*/

.childrenContainer--linkCards {
  margin: 0 0.4rem 1.25rem;
  padding: 2.1875rem 1.25rem;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-decoration: none;
  height: 100%;
}

.link--linkCards {
  text-decoration: none;
  outline: none;
  width: 100%;
}

.link {
  text-decoration: none;
}

/*-------------------------------------*/

.link--loginIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(24px + 3.125rem);
}

.link--loginIcon .childrenContainer--loginIcon {
  width: 24px;
  height: auto;
}

/*-----------WISHLIST-------------*/

/* .link--wishlistIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(24px + 3.125rem);
}
.link--wishlistIcon .childrenContainer--wishlistIcon {
  width: 24px;
  height: auto;
}
@media only screen and (max-width: 1024px) {
  .link--wishlistIcon {
    width: auto;
  }
} */

/*------ WARRANTY BANNER ------ */

.linkContainer--warrantyLink {
  position: relative;
  z-index: 2;
  width: 100% !important;
}

.childrenContainer--warrantyLink {
  display: flex;
  justify-content: center;
}

/*-----------BREAD-------------*/

.linkContainer--breadLink {
  display: flex;
  align-items: center;
}

.label--breadLink {
  text-decoration: none;
}

.link--breadLink {
  font-family: "hotpointRegular";
  font-size: 0.75rem;
  line-height: 1;
  margin: auto;
  font-weight: 300;
  padding: 0 0.4rem;
  text-transform: uppercase;
  color: #505050;
  text-decoration: none;
}

.link--breadLink:hover {
  color: #b24c24;
}

.link--breadBold {
  font-family: "hotpointMedium";
}

.link--warrantyLink {
  text-transform: uppercase;
  font-weight: 600;
  font-family: "hotpointMedium";
  color: #505050;
}

.link--warrantyLink2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.875rem;
  font-family: "hotpointMedium";
  color: #505050;
}

.link--dep {
  pointer-events: none;
  /* text-decoration: underline; */
}

.link--typoLinkPDP:hover {
  color: #b24c24;
}

.childrenContainer--tabPDP {
  display: flex;
  justify-content: center;
}

.link--fitContent {
  height: fit-content;
  margin: auto 0 auto 0;
  /*.5rem;*/
}

.linkContainer--tabPDP :global(.vtex-store-components-3-x-imageElement) {
  max-width: 1rem;
}

.linkContainer--tabPDP {
  overflow: hidden;
  padding: 0 0.5rem;
}

.linkContainer--promoPDP {
  margin-bottom: 1rem;
}

.childrenContainer--maxWidthLinkCardAlone {
  background-color: white;
}

.link--cardLinkBottom {
  width: 100%;
}

.childrenContainer--cardLinkBottom {
  width: 100%;
}

:global(.vtex-flex-layout-0-x-flexRowContent--rowLinkPDPGallery)
  .linkContainer--typoLinkPDP {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.linkContainer--energyLabelMobile {
  align-items: center;
}

.link--colonnaMenuSupportoLast {
  font-family: "hotpointMedium";
  font-weight: 400;
  color: #505050 !important;
  font-size: 0.875rem;
  line-height: 1.2;
  margin-top: 0;
  padding-left: 1rem;
  text-transform: none;
  letter-spacing: 0;
  cursor: pointer;
  color: inherit;
}

.link--colonnaMenuSupportoLast:hover::before {
  content: "";
  width: 0;
  transition: width 0.7s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  height: 0.125rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #b24c24;
}

.linkContainer--postillaButton {
  margin-bottom: 3.75rem;
}

.linkContainer--buttonOrderPlaced {
  margin-left: 9.5rem;
  margin-top: -3rem;
  margin-bottom: 2rem;
}

.linkContainer--marginButtonWColl {
  margin: 0;
  margin-bottom: 1.875rem;
}

/*thank u page*/

.linkContainer--backHomeLink {
  padding: 2rem;
  display: flex;
  justify-content: center;
  border-radius: 3px;
}

.link--backHomeLink {
  background-color: #f2f2f2;
  padding: 1rem 2.5rem;
}

.label--backHomeLink {
  color: #505050;
  position: relative;
}

.label--backHomeLink::before {
  content: url(assets/arrowBack.svg);
  position: absolute;
  left: -2rem;
}

.linkContainer--postillaButtonLanding,
.linkContainer--postillaButtonLandingWhite {
  margin: 0 1rem 3.75rem 1rem;
}

.buttonLink--postillaButtonLandingWhite {
  background-color: transparent;
  border: 1px solid #aeaeae;
  border-radius: 11px;
  color: #aeaeae;
}

.buttonLink--postillaButtonLandingWhite:hover {
  background-color: #ffffff;
  border: 1px solid #b24c24;
  color: #b24c24;
  border-radius: 11px;
}

.buttonLink--postillaButton {
  font-size: 0.875rem;
  background-color: #ffffff;
  color: #000000;
  border-radius: 11px;
}

.buttonLink--postillaButton:hover {
  font-size: 0.875rem;
  background-color: #f2f2f2;
  color: #000000;
  border-radius: 11px;
}

:global(.vtex-flex-layout-0-x-flexRow--halfBannerWithPostilla4PorteTop)
  .buttonLink--postillaButton {
  background-color: #b24c24;
  color: #ffffff;
  border-radius: 11px;
}

/* :global(.vtex-flex-layout-0-x-flexRow--halfBannerWithPostilla4PorteTop) .buttonLink--postillaButton:hover {
    background-color: #953D1B !important;
    color: #000000;
} */

.childrenContainer--cardImageMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.linkContainer--fitContent {
  display: flex;
  align-items: center;
}

/*-----------TEMPLATE PRE PLP-------------*/

.label--prePlpButton {
  font-size: 0.875rem;
}

.link--buttonCustomWidth {
  width: 65%;
}

/*---------------TEMPLATE STEAM HYGIENE-------------*/

.linkContainer--buttonFullRange {
  margin: 0;
}

/*-----------HOMEPAGE-------------*/

.childrenContainer--logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* HIDING MENU ITEMS */

.linkContainer--menuItemVert1,
.linkContainer--menuItemVert2,
.linkContainer--menuItemVert3,
.linkContainer--menuItemVert4,
.linkContainer--menuItemVert5,
.linkContainer--menuItemVert6,
.linkContainer--menuItemVert7,
.linkContainer--menuItemVert8,
.linkContainer--menuItemVert9,
.linkContainer--menuItemVert10,
.linkContainer--menuItemVert11 {
  display: none;
}

/*-----------HOMEPAGE-------------*/

.linkContainer--headerPhone {
  display: flex;
  align-items: center;
  margin-right: 1rem;
}

.childrenContainer--headerPhone {
  display: flex;
  align-items: center;
}

.linkContainer--phoneNumberLink {
  margin-left: 1rem;
}

.label--phoneNumberLink {
  color: #fff;
  font-size: 1rem;
  line-height: 1.4375rem;
}

.linkContainer--supportLink {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.label--supportLink {
  color: #ffffff;
  font-size: 1rem;
}

/* --- header ---*/

.linkContainer--supportLinkMobile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.a--supportLinkMobile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.label--supportLinkMobile {
  color: #ffffff;
  font-size: 1em;
  font-weight: bold;
}

/*---------------*/

.label--menuItemNew {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
  font-family: "hotpointRegular";
  transition: all 0.4s ease;
  position: relative;
}

.label--menuItemNew:hover {
  color: #953d1b;
  transition: all 0.4s ease;
}

.label--menuItemNew::after {
  content: "";
  position: absolute;
  background-color: #953d1b;
  top: 2rem;
  left: 0;
  width: 0;
  height: 2px;
  transition: all 0.4s ease;
}

.label--menuItemNew:hover::after {
  content: "";
  position: absolute;
  background-color: #953d1b;
  top: 2rem;
  left: 0;
  width: 100%;
  height: 2px;
  transition: all 0.4s ease;
}

.link--menuItemNewVert {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
}

.link--menuItemNewVert::after {
  content: "";
  position: absolute;
  background-color: #953d1b;
  top: 3.4rem;
  left: 10%;
  z-index: 100;
  width: 0;
  height: 2px;
  transition: all 0.4s ease;
}

.link--menuItemNewVert:hover::after {
  width: 80%;
  transition: all 0.4s ease;
}

.label--menuItemNewVert {
  color: #000000;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.1rem;
  font-family: "hotpointRegular";
  transition: all 0.4s ease;
  position: relative;
}

.label--menuItemNewVert:hover {
  color: #953d1b;
  transition: all 0.4s ease;
}

.linkContainer--menuItemNewVert {
  border-bottom: 1px solid #f2f2f2;
  position: relative;
  width: 90%;
  height: 3.5rem !important;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 0 10%;
  width: 100%;
}

.linkContainer--menuItemNewVert {
  border-bottom: 1px solid #f2f2f2;
  position: relative;
}

.linkContainer--menuItemMobileV2 {
  width: 90%;
}

.link--menuItemNewVertMobile {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.link--menuItemMobileV2 {
  background-color: #000000;
  padding: 15px;
  color: #fff;
  width: 100%;
  display: flex;
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.link--menuItemNewVertMobile::after {
  content: "";
  position: absolute;
  background-color: #953d1b;
  top: 3.4rem;
  z-index: 100;
  width: 0;
  height: 2px;
  transition: all 0.4s ease;
}

.link--menuItemNewVertMobile:hover::after {
  width: 100%;
  transition: all 0.4s ease;
}

.link--headerABMobile::after {
  right: 0;
  content: "";
  background: url("https://hotpointuk.vtexassets.com/assets/vtex/assets-builder/hotpointuk.hotpoint-theme/1.0.32/arrowIconBread___a656b762fc2fb83036cf9d96da6f14a0.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 15px;
  width: 15px;
  top: unset;
  z-index: initial;
}

.link--headerABMobile:hover::after {
  width: 15px;
}

.label--menuItemNewVertMobile {
  color: #000000;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 0.1rem;
  font-family: "hotpointRegular";
  transition: all 0.4s ease;
  position: relative;
}

.label--menuItemNewVertMobile:hover {
  color: #953d1b;
  transition: all 0.4s ease;
}

.linkContainer--menuItemNewVertMobile {
  border-bottom: 1px solid #f2f2f2;
  position: relative;
  height: 3.5rem !important;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 1.1rem 0;
  width: 85%;
  margin: auto;
}

.linkContainer--emptyMenuItemNewVertMobile {
  height: 3.5rem;
  width: 100%;
  margin-bottom: 1.1rem;
}

.linkContainer--menuItemServices {
  height: 3.5rem;
  align-items: center;
  display: flex;
  padding-left: 1.625rem;
  border-bottom: 1px solid rgba(242, 242, 242, 0.2);
}

.label--menuItemServices {
  line-height: 1;
  color: #ffffff;
  font-size: 0.9375rem;
  font-family: "hotpointRegular";
  letter-spacing: 1px;
}

.linkContainer--viewFullRange {
  justify-content: center;
  display: flex;
  align-items: center;
}

.link--viewFullRange {
  box-sizing: border-box;
  align-items: center;
  height: 3rem;
  width: 95%;
  display: flex;
  color: #000000;
  text-transform: uppercase;
  font-family: hotpointMedium;
  font-size: 0.875rem;
  letter-spacing: 0.1rem;
  /* border: 2px solid #B24C24; */
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  border-radius: 11px;
  flex-direction: column;
  justify-content: center;
}

.link--viewFullRange:hover {
  border: none;
}

.link--viewFullRange::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 20%;
  opacity: 0;
  background-color: #f2f2f2;
  z-index: 1;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-in-out;
  border-radius: 11px;
}

.link--viewFullRange:hover::before {
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 1;
  height: 100%;
  border-radius: 11px;
}

.label--viewFullRange {
  line-height: 1;
  width: 100%;
  text-align: center;
}

/* .buttonLink--prePlpButton .buttonLink--longueButton:hover {
  width: 50%;
  background: #B24C24 !important;
} */

/* :global(.vtex-flex-layout-0-x-flexRowContent--bannerTesto) .buttonLink--longueButton:hover {
  background: #B24C24;
} */
/* HIDING MENU ITEMS */

.linkContainer--menuItemVert1,
.linkContainer--menuItemVert2,
.linkContainer--menuItemVert3,
.linkContainer--menuItemVert4,
.linkContainer--menuItemVert5,
.linkContainer--menuItemVert6,
.linkContainer--menuItemVert7,
.linkContainer--menuItemVert8,
.linkContainer--menuItemVert9,
.linkContainer--menuItemVert10,
.linkContainer--menuItemVert11 {
  display: none;
}

/* FOOTER LINKS */

.linkContainer--footerNormal,
.linkContainer--footerBold {
  display: block;
  font-family: "hotpointRegular";
  font-weight: 400;
  font-size: 0.875rem;
  color: #505050;
  line-height: 1.5rem;
  text-transform: unset;
  letter-spacing: normal;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}

.label--footerNormal {
  color: #f2f2f2 !important;
}

.link--footerBold {
  padding-left: 0rem !important;
}

.label--footerBold {
  color: #ffffff !important;
  font-family: "hotpointMedium" !important;
}

.linkContainer--footerBold:visited {
  color: #ffffff !important;
}

.linkContainer--footerNormal:visited {
  color: #f2f2f2 !important;
}

.linkContainer--fitContent {
  display: flex;
  align-items: center;
}

.linkContainer--coronaLink {
  display: flex;
  align-items: center;
}

.link--coronaLink {
  display: flex;
  align-items: center;
}

.label--coronaLink {
  margin-left: 0.5rem;
  color: #57c3c9;
  font-size: 0.6875rem;
  font-family: "hotpointRegular";
  letter-spacing: 1px;
  text-decoration: underline;
}

.childrenContainer--promoPDP {
  max-width: 1528px;
  margin: 0 auto;
}

.linkContainer--productDataSheet{
    pointer-events: visible !important;
    cursor: pointer;
}

.link--productDataSheet{
    pointer-events: visible !important;
    cursor: pointer;
}

/* .linkContainer--newHeaderDesktop {
  margin-top: 2rem;
} */

/* spare parts landing*/

.link--categoryLink {
  color: #505050 !important;
}

.label--blackFridayDiscoverMore {
  display: flex;
  width: 120px !important;
  align-items: center;
  border-bottom: 2px solid #e1e1e1;
  position: relative;
  height: 40px;
  color: #b1b1b1;
  top: -2px;
  right: 80px;
}

.label--blackFridayDiscoverMore:hover {
  color: #b24c24;
}

/* HOTPOINT SERVICE */
/* NEW NOT FOUND */
.linkContainer--notFoundLink {
  background: linear-gradient(
    135deg,
    hsl(23deg 67% 56%),
    hsl(20deg 57% 50%) 50%,
    hsl(17deg 66% 42%)
  );
  border-radius: 1rem;
  margin-bottom: 2rem;
}
.link--notFoundContactPhoneNumber {
  position: relative;
  left: 30%;
  top: 15%;
}
/* _____________ */
/* HEADER */
.label--hpServiceHeaderlink {
  font-family: "hotpointRegular";
  font-size: 0.75rem;
  line-height: 1.2;
  color: #000;
}
.link--hpServiceHeaderlink {
  vertical-align: middle;
  line-height: initial;
}
.linkContainer--hpServiceHeaderlink {
  vertical-align: middle;
}
.linkContainer--headerLinkSearch {
  height: fit-content;
}
.childrenContainer--headerLinkSearch {
  display: flex;
  margin-right: 2rem;
}
.linkContainer--headerLinkBookRepair {
  width: auto !important;
}
.link--headerLinkBookRepair {
  background: linear-gradient(
    135deg,
    hsl(23deg 67% 56%),
    hsl(20deg 57% 50%) 50%,
    hsl(17deg 66% 42%)
  );
  display: flex;
  padding: 0.875rem 2rem;
  color: #fff;
  font-family: hotpointMedium;
  text-transform: uppercase;
  border-radius: 11px;
}
.linkContainer--headerPhoneService {
  width: fit-content;
}
.label--menuItemHeader {
  color: #505050;
  font-size: 1.3rem;
  font-weight: normal;
  text-transform: capitalize;
  white-space: initial;
  line-height: 1.2;
}
.link--menuItemHeaderMobile {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.link--menuItemHeaderMobile::after {
  right: 0;
  content: "";
  background: url("https://hotpointuk.vtexassets.com/assets/vtex/assets-builder/hotpointuk.hotpoint-theme/1.0.32/arrowIconBread___a656b762fc2fb83036cf9d96da6f14a0.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 15px;
  width: 15px;
  top: unset;
  z-index: initial;
  position: absolute;
}
.link--menuItemHeaderMobile:hover::after {
  width: 15px;
}
.label--menuItemHeaderMobile {
  color: #000000;
  text-transform: uppercase;
  font-size: 0.9375rem;
  letter-spacing: 0.1rem;
  font-family: "hotpointRegular";
  transition: all 0.4s ease;
  position: relative;
}
.label--menuItemHeaderMobile:hover {
  color: #953d1b;
  transition: all 0.4s ease;
}
.linkContainer--menuItemHeaderMobile {
  border-bottom: 1px solid #f2f2f2;
  position: relative;
  height: 3.5rem !important;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  padding: 1.1rem 0;
  width: 90%;
  margin: auto;
}

/* ________________ */

/* Media Queries */

@media only screen and (max-width: 1850px) {
  .linkContainer--menuItemVert11 {
    display: flex;
  }

  .linkContainer--menuItemt11 {
    display: none;
  }
}

@media only screen and (max-width: 1700px) {
  .linkContainer--menuItemVert10 {
    display: flex;
  }

  .linkContainer--menuItemt10 {
    display: none;
  }
}

@media only screen and (max-width: 1600px) {
  .linkContainer--menuItemVert9 {
    display: flex;
  }

  .linkContainer--menuItemt9 {
    display: none;
  }
}

@media only screen and (max-width: 1500px) {
  .linkContainer--menuItemVert8 {
    display: flex;
  }

  .linkContainer--menuItemt8 {
    display: none;
  }
}

@media only screen and (max-width: 1400px) {
  .linkContainer--menuItemVert7 {
    display: flex;
  }

  .linkContainer--menuItemt7 {
    display: none;
  }
}

@media only screen and (max-width: 1300px) {
  .linkContainer--menuItemVert6 {
    display: flex;
  }

  .linkContainer--menuItemt6 {
    display: none;
  }
}

@media only screen and (max-width: 1250px) {
  .linkContainer--menuItemVert5 {
    display: flex;
  }

  .linkContainer--menuItemt5 {
    display: none;
  }
}

@media only screen and (max-width: 1150px) {
  .linkContainer--menuItemVert4 {
    display: flex;
  }

  .linkContainer--menuItemt4 {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .link--loginIcon {
    width: auto;
  }

  .childrenContainer--logo-container {
    justify-content: flex-start;
    margin-left: 1rem;
  }

  .linkContainer--fitContent {
    display: flex;
    align-items: center;
    margin-left: 0.5rem;
  }
  .linkContainer--energyLabelMobile {
    margin-left: 0;
  }

  .label--blackFridayDiscoverMore {
    border-bottom: 0;
    display: flex;
    width: 120px !important;
    align-items: center;
    border-bottom: 2px solid #e1e1e1;
    position: relative;
    height: 40px;
    color: #b1b1b1;
    top: -2px;
    right: 80px;
  }
}

.label--blackFridayDiscoverMore:hover {
  color: #b24c24;
}
:global(.vtex-flex-layout-0-x-flexRowContent--summary-top) .linkContainer--typoLinkPDP{
	pointer-events: visible;
}

.linkContainer--productDataSheet{
    pointer-events: visible;
    cursor: pointer;
}

/* Media Queries */

@media only screen and (max-width: 1850px) {
  .linkContainer--menuItemVert11 {
    display: flex;
  }

  .linkContainer--menuItemt11 {
    display: none;
  }
}

@media only screen and (max-width: 1700px) {
  .linkContainer--menuItemVert10 {
    display: flex;
  }

  .linkContainer--menuItemt10 {
    display: none;
  }
}

@media only screen and (max-width: 1600px) {
  .linkContainer--menuItemVert9 {
    display: flex;
  }

  .linkContainer--menuItemt9 {
    display: none;
  }
}

@media only screen and (max-width: 1500px) {
  .linkContainer--menuItemVert8 {
    display: flex;
  }

  .linkContainer--menuItemt8 {
    display: none;
  }
}

@media only screen and (max-width: 1400px) {
  .linkContainer--menuItemVert7 {
    display: flex;
  }

  .linkContainer--menuItemt7 {
    display: none;
  }
}

@media only screen and (max-width: 1300px) {
  .linkContainer--menuItemVert6 {
    display: flex;
  }

  .linkContainer--menuItemt6 {
    display: none;
  }
}

@media only screen and (max-width: 1250px) {
  .linkContainer--menuItemVert5 {
    display: flex;
  }

  .linkContainer--menuItemt5 {
    display: none;
  }
}

@media only screen and (max-width: 1150px) {
  .linkContainer--menuItemVert4 {
    display: flex;
  }

  .linkContainer--menuItemt4 {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .link--loginIcon {
    width: auto;
  }

  .childrenContainer--logo-container {
    justify-content: flex-start;
    margin-left: 1rem;
  }

    .linkContainer--fitContent {
        display: flex;
        align-items: center;
        margin-left: 0.5rem;
    }
    .linkContainer--energyLabelMobile {
        margin-left: 0;
        z-index: 1;
    }

  .label--blackFridayDiscoverMore {
    border-bottom: 0;
    display: flex;
    width: 120px !important;
    align-items: center;
    border-bottom: 2px solid #e1e1e1;
    position: relative;
    height: 40px;
    color: #b1b1b1;
    top: -2px;
    left: 5px;
  }
}

@media only screen and (max-width: 1000px) {
  .link--warrantyLink2 {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 600px) {
  .label--warrantyLink2 {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }

  .linkContainer--postillaButton {
    margin-bottom: 1.875rem;
  }
  /* HOTPOINT SERVICE */
  /* NEW NOT FOUND */
  .link--notFoundContactPhoneNumber {
    left: 0%;
  }
  /* ____________ */
}

@media screen and (max-width: 668px) {
  .link--backHomeLink {
    padding: 1rem 1.5rem;
  }

  .label--backHomeLink::before {
    left: -1rem;
  }

  .link--prePlpButton {
    width: 100% !important;
  }

  .linkContainer--buttonOrderPlaced {
    margin-left: 0.5rem;
    margin-top: -2rem;
    margin-bottom: 2rem;
  }

  .linkContainer--bannerButton {
    margin-bottom: 2.25rem;
  }
}

@media screen and (max-width: 640px) {
  .childrenContainer--cardImageMenu::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 90%;
    height: 60%;
    z-index: 0;
    background-color: #f2f2f2;
  }

  .label--blackFridayDiscoverMore {
    border-bottom: 0;
  }
}

@media only screen and (max-width: 640px) and (max-width: 1024px) {
  .label--blackFridayDiscoverMore {
    top: 40px !important;
  }
}
@media only screen and (max-width: 380px) {
  .link--headerLinkBookRepair {
    padding: 0.875rem 1rem;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1100px) {
    .linkContainer--preOrderDiscoverMore {
        right: 5px;
        position: relative;
        bottom: 6rem;
    }
}
@media only screen and (max-width: 1023px) {
    .linkContainer--preOrderDiscoverMore {
      right: 5px;
      bottom: 1rem;
      position: relative;
    }
}
@media only screen and (max-width: 640px) {
    :global(.vtex-flex-layout-0-x-flexColChild--timerPreOrderMobile) .linkContainer--terminiPreOrder{
      padding-top: 0rem;
      padding-left: 3rem;
    }
    :global(.vtex-flex-layout-0-x-flexColChild--timerPreOrderMobile) .label--terminiPreOrder{
      color: #ffff;
    }
}

@media only screen and (max-width: 600px){
    .flexRowContent--PreServiceBlockMobile{
        flex-direction: column;
    }
}
