.containerPayPal {
    margin: 1rem 0;
    background-color: #FFFFFF;
    min-width: 166px;
    height: 44px;
    max-height: 44px;
    border: 1px solid #E3E3E3;
    border-radius: 10px;
    display: block;
    padding: 12px 12px;
    width: 100%;
    justify-content: center;
    max-width: unset !important;
}

.containerPayPalScript {
    max-width: 100% !important;
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin-left: 5% !important;
}

.containerPayPal:first-child {
    min-width: 90%;
    text-align: center;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerPayPal:first-child:first-child {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 16px;
}

.containerPayPal:first-child:first-child:first-child {
    /*max-width: 84%;*/

}

@media only screen and (max-width: 430px) {
    .containerPayPal:first-child {
        min-width: unset;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1470px) {
    .containerPayPal:first-child {
        min-width: unset;
        margin: 0;
    }
}