.labelLink{
    font-family: "hotpointRegular" !important;
    margin-left: 0;
    margin-right: 0;
    position: relative;
    top: -3px;
}
.labelLink:hover{
    color: inherit !important;
}
.container {
    justify-content: start !important;
}
:global(.vtex-flex-layout-0-x-flexRowContent--summary-top) .container{
	pointer-events: visible;
    align-items: center;
}
.image {
    display: block;
    margin-right: 13px;
    width: 70px;
    height: 41px;
}
:global(.vtex-flex-layout-0-x-flexRowContent--mainRowPDP) .container{
    display:flex;
    flex-direction: column;
    z-index: 1;
}
:global(.vtex-flex-layout-0-x-flexRowContent--PreServiceBlockMobile) .container{
    width: 4rem;
}
:global(.vtex-flex-layout-0-x-flexRowContent--stickyContainer) .container {
    display: flex;
    flex-direction: row;
}
:global(.vtex-flex-layout-0-x-flexRowContent--mainRowPDP) .container{
    display:flex;
    flex-direction: column;
    z-index: 1;
}
:global(.vtex-flex-layout-0-x-flexRowContent--PreServiceBlockMobile) .container{
    width: 4rem;
}
:global(.vtex-flex-layout-0-x-flexRowContent--stickyContainer) .container {
    display: flex;
    flex-direction: row;
}