/* CRM PROFILING TITLE */
.container__title {
  margin-top: -1rem;
  padding-top: 2rem;
  padding-bottom: 6rem;
  background: linear-gradient(
    135deg,
    hsl(23deg 67% 56%),
    hsl(20deg 57% 50%) 50%,
    hsl(17deg 66% 42%)
  );
}
.headingLevel2 {
  margin-bottom: 1rem;
  color: #fff;
}
