/*
  NEWSLETTER FORM
*/
/* Main container */
.container__form {
  background-color: #f2f2f2;
  min-height: 100% !important;
}

/* Title */
.form__title {
  text-align: center;
  text-transform: uppercase;
  font-family: "hotpointMedium";
  letter-spacing: 0.2rem;
  margin: 0.6rem;
  font-size: 2rem;
}

/* Subtitle */
.headingLevel4 {
  margin: 0 auto 0 auto;
  text-align: center;
  font-family: "hotpointMedium";
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 0.1rem;
}

/* Form inputs */
.container__input {
  min-height: 65px;
}

.container__form-input :global(.vtex-input-prefix__group) {
  margin: 1rem 0 1.5rem;
  padding: 0;
}

.container__form-input--error :global(.vtex-input-prefix__group) {
  border: 2px solid #ff4c4c;
}

.container__form-input :global(.vtex-styleguide-9-x-input) {
  line-height: initial;
}

.container__form-input :global(.vtex-input__error) {
  margin-top: -1.3rem;
  margin-left: 1rem;
}

.container__btn-submit-disabled :global(.vtex-button) {
  transition: all 0.5s ease-in-out;
  background-color: #b24c24;
  border-radius: 11px !important;
}

/* Privacy section */
.container__text-privacy .paragraph {
  line-height: 1;
  /* margin-bottom: 1rem;
  margin-top: -0.6rem; */
  font-size: 0.9rem;
}
/* .container__text-privacy .paragraph {
  padding-top: 2rem;
} */

.link {
  text-decoration: none;
  color: #b24c24;
}

/* Privacy checkbox */
.container__form-checkbox .paragraph {
  line-height: 1;
  margin: 0;
  text-align: justify;
  font-size: 0.7rem;
}

.container__form-checkbox--error :global(.vtex-checkbox__box-wrapper) {
  border: 1px solid #ff4c4c;
}

.container__form-checkbox--error {
  background: white;
  padding: 0.5rem;
  outline: #ff4c4c solid 2px;
  border-radius: 0.25rem;
}

/* After submit messages */
.text__message-success {
  color: #b24c24;
  font-weight: 400;
}

/*
  ----------------------------
*/

/*
  NEWSLETTER BUTTON (NOT USED IN THIS STREAM)
*/
.container__btn-submit :global(.vtex-button) {
  transition: all 0.5s ease-in-out;
  border-radius: 11px !important;
}

.container__btn :global(.vtex-button) {
  transition: all 0.5s ease-in-out;
  border-radius: 11px !important;
}

/*
  -----------------------------
*/

/*
  NEWSLETTER AUTOMATIC POPUP
*/
:global(.vtex-modal__modal) {
  max-width: 46rem !important;
  border-radius: 2rem;
  overflow-x: hidden;
  padding: unset !important;
}

:global(.vtex-styleguide-9-x-scrollBar) {
  padding: 0rem !important;
}

@media only screen and (max-width: 1100px) {
  .container {
    border-left: unset;
    border-right: unset;
    border-bottom: unset;
  }
}

/*
  -----------------------------
*/
