.thronVideoModal{
	width: 100%;
	height: 13rem;
}
.thronVideo{
	width: 100%;
	height: 19rem;
}
@media only screen and (max-width:680px){
	.thronVideo{
		width: 80%;
		height: 10rem;
		margin: auto;
	}
}
.th-video-wrapper{
	background-color: rgb(255, 251, 0);
	height:13rem !important
}
/* th-video-wrapper th-video-ios th-video-iphone */
