.modalDiv {
    width: 100%;
}

.align-center{
    align-items: center;
}
.modal {
    width: 100%;
    display: flex;
    flex-flow: column;
}

.checkboxDiv {
    width: 100%;
    display: flex;
    align-items: center;
}

.checkboxInput {
    margin-right: 10px;
}

.checkboxHref {
    margin-left: 10px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.checkboxHref:hover {
    cursor: pointer;
}

.subHeader {
    font-size: 28px;
    font-weight: bold;
}

::global(.vtex-styleguide-9-x-scrollBar){
    background-color: yellow;
}

.buttonCancel {
    width: 120px;
    height: 40px;
    color: white;
    background-color: #deb01a;
    outline-width: 0;
    border: none;
}
.shoppingIcon {
    width: 20px;
    height: 20px;
    fill: white !important;
    margin-left: 5px;
}
.buttonSend {
    width: 120px;
    height: 40px;
    color: white;
    background-color: #4d4d4d;
    outline-width: 0;
    border: none;
}
.buttonText{
    display: flex;
    align-items: center;
    font-family: quicksandRegular;
    font-size: 1rem;
    
}
.buttonTextEmail{

    min-width: 280px;
}
.buttonDataContainerMail{

}
.modalAvailabilityDiv {
    display: flex;
    align-items: center;
}

.unavailableIcon {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.modalImage {
    width: 180px;
    height: 100%;
    margin-right: 30px;
}

.productDetailsModal {
    display: flex;
    align-items: center;
}

.inputEmail {
    width: 100%;
    height: 30px;
    border-radius: none;
}

.inputEmail:focus { 
    box-shadow: 4px 4px 4px 4px rgba(161, 161, 161, 0.774);
}

.errorBorder  {
    width: 100%;
    height: 30px;
    border-radius: none;
    border-color: red;
}
 

.sendButton :global(.vtex-button) {
    background: #4d4d4d !important;
    border-color: #4d4d4d !important;
}

.closeButton :global(.vtex-button) {
    background: #deb01a !important;
    border-color: #deb01a !important;
    color: white;
    margin-right: 20px;
}

.validEmail, .emailMatch {
    color: red;
}

:global(.vtex-modal__modal) {
    max-width: 560px;
}
.check{
    height: 15px;
    width: 15px;
    border: 1px solid;
    margin-right: 10px;
    cursor: pointer;
}
.checked::before{
    content: '\2713';
    display: inline-block;
    color: #deb01a ;
    padding: 0 4px 0 0;
}
.checkwrap{
    display: flex;
    align-items: center;
    cursor: pointer;
}