.faqWrapper {
  width: 100%;
}
.faqContainer {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.0625rem solid #979797;
}
.QuestionText .container .wrapper .paragraph {
  font-size: 0.9rem;
  overflow-wrap: anywhere;
  padding-right: 1rem;
}
.AnswerText .container .wrapper .paragraph {
  font-size: 0.75rem;
  margin-bottom: 1.5rem;
}
.caretIconContainer {
  cursor: pointer;
  padding: 1em;
}
.caretIcon {
}
