.garanziaContainerBtn {
  margin: 1rem 0;
}
.errorWrapper {
  margin: 200px auto;
  max-width: 36em;
}
.linksContainer {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}
.errorMessage {
  max-width: 24em;
}

.confirmationIconWrapper {
  line-height: 0;
}
.shippingInfo{
  line-height: 2;
}

.orderOptionsWrapper--mobile {
  margin-bottom: 2rem;
}

.noticeListItem:last-child {
  border-bottom: none;
}

.barCodeNumber {
  word-break: break-all;
}

.orderListItem:last-child,
.productListItem:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.floatRight{
  display: flex;
  justify-content: flex-end;
}
.productInformationSheet {
  text-decoration: underline;
  font-size: 13.6px;
  color: #000
}

@media screen and (max-width: 668px) {
  .linksContainer {
    margin: 0 0.5rem;
    }
}
