.container {}
.lowStockText {}
.lowStockHighlight {}
.highStockText {}

.availabilityDiv {
    display: flex;
    align-items: center;
    height: 40px;
}
.availabilityDiv p {
    margin: 0;
}
.unavailableIcon {
    fill: #D7443E;
    width: 20px; 
    height: 20px; 
    margin-right: 10px;
}

.exclamationIcon {
    fill: #deb01a;
    width: 20px; 
    height: 20px; 
    margin-right: 10px;
}

.discountIcon {
    fill: black;
    width: 20px; 
    height: 20px; 
    margin-right: 10px;
}

.tickIcon {
    width: 20px; 
    height: 20px; 
    margin-right: 10px;
}

@media only screen and (max-width: 1300px) {
    .availabilityDiv {
        width: 100%;
        justify-content: flex-end;
        padding-right: 10px;
    }
}