.servTitleStyle{
	font-weight: 700;
	line-height: 1.5;
}
.servAggTooltip{
	padding-top: 0.875rem;
}
.serviceTitle{
	display: flex;
	align-items: center;
}
.whirlClub{
	margin-left: .6rem;
	height: 1.2rem;
	margin-bottom: -4px;
}
.serviziAggiuntiviTable{
	background-color: #f9f9f9;
	border-bottom: 1px solid #edb112;
	width: 100%;
	font-size: 1rem;
	margin: 1rem 0 2.5rem 0;
	height: auto;
	overflow: visible;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 1.75rem 2.5rem;
}
.serviziAggiuntiviTooltip{

}

.servAggRow {
	display: flex;
	flex-direction: column;
	padding: .875rem 0;
	position: relative;
}

.servAggRow:not(:last-child){
	border-bottom: 1px solid #d0d3d4;
}
.servOptions{
	display: flex;
	justify-content: space-between;
	padding-right: 1rem;
}
.servOptionsDiscount{
	display: flex;
	justify-content: space-between;
	padding-right: 2rem;
}
.freeLabel{
	color: #edb112;
	font-size: 0.875rem;
	font-family: "myriadSemibold";
	margin-left: 1rem;
}
.labelPrice{
	color: #505050;
	font-size: 0.875rem;
	font-family: "myriadSemibold";
	margin-left: 1rem;
}
.twoYearsWarranty{
	width: 96.5%;
}
.servAggRow :global(.vtex__icon-caret-down), .servAggRow :global(.vtex__icon-caret-up) {
	width: 10px;
    color: #505050;
}
@media only screen and (max-width:600px){
	.serviziAggiuntiviTable{
		padding: 1.5rem 1.3rem;
	}
	.serviziAggiuntiviTable{
		font-size: .875rem;
	}
}
