.container{
  padding: 6.25rem 0;
    max-width: 56.25rem;
    margin: 0 auto;
    text-align: justify;
}
@media (min-width: 1025px){
.title{
  padding-bottom: 1.5rem;
}
}
@media (max-width: 600px) {
  .container {
    width: 95%;
    margin: auto;
    padding: 1rem;
  }
}
.title{
  font-family: "hotpointRegular",Arial;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 2.625rem;
  margin-left: 1rem;
}
.titleProvince{
  font-family: "hotpointRegular",Arial;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 2.625rem;
  margin-left: 1rem;
}
.titleCities{
  font-family: "hotpointRegular",Arial;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 2.625rem;
  margin-left: 1rem;
}
.titleCity{
  font-family: "hotpointRegular",Arial;
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 2.625rem;
  margin-left: 1rem;
}
.text{
  line-height: 1.625rem;
}
.list ul{
  list-style: disc;
    /* margin-left: 1.125rem; */
    padding-left: 1.125rem;
}
.list {
  font-family: "hotpointRegular",Arial;
    font-weight: 400 !important;
    font-size: 1rem;
    line-height: 1.625rem;
    padding-left: 1rem;

}
.listProvince {
  font-family: "hotpointRegular",Arial;
    font-size: 1rem;
    line-height: 1.625rem;
}
.listCities {
}
.list a{
  font-family: "hotpointRegular";
  color: #953D1B;
  text-decoration: underline;
  font-size: 1.125rem;
}
.listProvince a{
  font-family: "hotpointRegular";
  color: #953D1B;
  text-decoration: underline;
  font-size: 1.125rem;
}
.listCities a{
}
.serviceName{}
.numberLink{}