/* .container,
.container * {
	font-family: "GothamProRRegular", sans-serif !important;
} */
.summaryBackToCart {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 0.3rem;
	cursor: pointer;
}
.BackToCartLabel {
	display: flex;
	align-items: center;
}

.BackToCartLabel :global(.vtex__icon-arrow-back) {
	color: #000;
	margin-right: 0.5rem;
	width: 1rem;
	height: 0.85rem;
}

.summaryContainer {
	padding: 1rem;
}
.summaryTitle {
	font-size: 1.5rem;
	font-weight: 400;
	margin: 0 0 1rem 0;
}
.totalizersContainer {
}
.checkoutSummaryCoupon {
	margin: 1rem 0;
}
.totalizerTitle {
	margin: 0.5rem 0;
	font-size: 1rem;
}
.summaryProductList {
	list-style-type: none;
	padding-left: 0;
}

.container {
	display: inline-flex;
	align-items: center;
	width: 100%;
	color: #999999;
}
.summaryImage img {
	height: 45px;
	max-width: unset;
}
.image img {
	height: 100%;
}
.description {
	width: 100%;
	color: #999999;
}

.name {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 10rem;
}

.leadtime {
	font-size: 0.5rem;
}
.energyAndSheetContainer :global(.vtex-button) {
	color: #505050;
	text-decoration: underline;
	font-size: 0.75rem;
}
.energyLogoImage {
  max-width: 2.75rem;
}
.quantityLabel {
	display: none;
}
.quantityNumber {
	position: absolute !important;
	display: flex;
	top: 0;
	background: #f4f2f2 !important;
	left: 0;
	justify-content: center;
	align-items: center;
	width: 1rem;
	height: 1rem;
	border-radius: 50%;
	border-width: 1px;
	border-style: solid;
}
.offeringContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 0.5rem;
	border-width: 1px;
	border-style: solid;
	border-radius: 0.25rem;
	padding: 0.3rem 0.5rem;
	font-size: 0.75rem;
}

.offeringPrice {
}
.offeringNameAndIcon :global(.vtex__icon-check) {
}
.offeringName {
	margin-left: 0.5rem;
}

.summaryTotalText {
	font-size: 1.5rem !important;
	font-weight: normal !important;
	margin-top: 1.5rem;
}
.summaryTextAreaContainer {
	margin-top: -1.5rem;
	color: #999999;
}
.checkoutTextArea {
	width: 100% !important;
	margin: 0.5rem 0 1rem 0;
	border: 1px solid #e3e4e6;
	border-radius: 0.25rem;
	background-color: transparent;
	transition: all 0.3s ease;
	font-size: 1rem;
}
.checkoutTextArea:focus {
	outline: none;
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
	transition: all 0.3s ease;
}
