.flexColChild--banner1 {
  height: fit-content;
}
.flexColChild--carattTec {
  width: 100%;
}
.flexColChild--link {
  height: unset !important;
  margin: 0 !important;
  padding: 0 !important;
}
.flexRow--badgesRow {
  margin: 1rem 0;
}
.flexCol--rowPrincePDP {
  flex-direction: row;
}
.flexColChild--rowPrincePDP {
  height: min-content !important;
  margin: auto 0.75rem auto 0;
}
.flexRowContent--row-servizi-aggiuntivi-title {
  border-bottom: 0.0625rem solid #979797;
}
.flexRowContent--row-servizi-aggiuntivi-title
  :global(.vtex-disclosure-layout-1-x-trigger),
.flexRowContent--row-servizi-aggiuntivi-title
  :global(.vtex-disclosure-layout-1-x-trigger) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem 1rem 0;
  cursor: pointer;
}
.flexRow--priceSummaryCont {
  height: fit-content;
}
.flexRow--row-servizi-aggiuntivi-title {
  display: none;
}
.flexRowContent--gift .stretchChildrenWidth:first-child {
  width: 25% !important;
  float: left;
}
.flexRowContent--gift .stretchChildrenWidth:last-child {
  width: 75% !important;
}
.flexColChild--visualize-modal {
  padding-bottom: 0;
  text-align: center;
}
.flexRow--halfBannerWithPostilla4PorteTop {
  max-height: 35.8125rem;
  height: 33.8125rem;
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.flexRow--halfBannerWithPostilla4PorteBottom {
  max-width: 58.75rem;
  margin: 0 auto;
  padding: 3.75rem 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.flexRow--halfBannerWithPostilla4PorteBottom
  :global(.vtex-store-components-3-x-container) {
  padding: 0;
  margin: 0;
}
.flexRow--halfBannerWithPostilla4PorteTop
  :global(.vtex-store-components-3-x-container) {
  padding: 0;
  margin: 0;
  height: 33.8125rem;
  max-width: 75rem;
}

.flexCol--socialFooterBlock {
  margin-right: 4rem;
}

.flexRow--PreServiceBlock {
  padding: 0.5rem 1rem;
  border-radius: 10px;
}
.flexRow--PreServiceBlockOld {
  padding: 0.5rem 1rem;
  border-radius: 10px;
}
.flexRow--PreServiceBlockNew {
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.flexRowContent--PreServiceBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* flex-wrap: wrap;
  width: -moz-min-content;
  width: -webkit-min-content;
  width: min-content; */
}
.flexRowContent--PreServiceBlockOld {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: -moz-min-content;
  width: -webkit-min-content;
  width: min-content; 
}
.flexRowContent--PreServiceBlockNew {
  display: flex;
  align-items: center;
}

.flexRowContent--oldEnergyLabel {
  display: flex;
  width: 120%;
  align-items: center;
}

.flexColChild--leftPartHeaderTop {
  display: flex;
  align-items: center;
  color: #ffffff;
  font-size: 1rem !important;
  letter-spacing: 0.1rem;
  font-family: "hotpointRegular" !important;
  font-weight: normal!important;
}

.flexRowContent--halfBannerWithPostilla4PorteTop
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  height: 31rem;
}
.flexRowContent--halfBannerWithPostilla4PorteBottom
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: auto;
  max-height: 37.5rem;
}
.flexColChild--columnPostillaBottom {
  height: auto !important;
}
.flexRow--footerRowTechnologia {
  background-color: #f2f2f2;
  padding: 3rem 0;
}

.flexRowContent--footerRowTechnologia .stretchChildrenWidth {
  width: 413.333px;
  margin-right: 100px;
}
.flexRow--largeBannOnlyText1,
.flexRow--largeBannOnlyText2 {
  background-color: #f2f2f2;
  padding: 3rem 0;
}
.flexRow--largeBannOnlyText2 {
  margin-bottom: 7rem;
}
.flexRowContent--discontinuedDocContainer {
  flex-wrap: wrap;
  margin: 2rem 0;
}
.flexRow--topSpace {
  margin-top: 8rem;
}
.flexRowContent--badgesRow {
  align-items: center;
}
.flexRowContent--badgesRow .stretchChildrenWidth {
  width: auto !important;
}

.flexRowContent--badgesRow
  .stretchChildrenWidth:not(:first-child):not(:last-child) {
  margin: 0 1rem;
}

.flexRowContent--deliveryAndWarrentyIcons {
  margin: 0 -5px;
}

.flexRowContent--deliveryAndWarrentyIcon {
  /*margin: 0 10px;*/
  flex-direction: column;
  align-items: center;
  background: #f9f9f9;
  border-radius: 10px;
  padding: 15px 0;
  height: 110px;
}

.flexRowContent--deliveryAndWarrentyIcons
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  margin: 0 5px;
}

.flexRowContent--PriceWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flexRowContent--preServizi .stretchChildrenWidth {
  width: fit-content !important;
  /*margin-right: 0.5rem;*/
  /*padding: 0 0 0.4rem 0;*/
  /*justify-content: left;*/
}
.flexRowContent--preServiziMobile {
  display: flex;
}
.flexRowContent--preServiziMobile .stretchChildrenWidth {
  width: fit-content !important;
  margin-right: 0.5rem;
}

.flexRow--leadTime {
  padding-left: 1rem;
  padding-bottom: 1rem;
  padding-top: 1rem !important;
}
.flexRowContent--PreServiceBlockAccessories{
  gap: 0.5rem;
}

/* Media Queries */
@media screen and (min-width: 65rem) {
  .flexCol--product-desc-info {
    max-width: 38rem;
  }
  .flexCol--product-desc-info-accessories {
    max-width: 38rem !important;
  }
}

@media only screen and (max-width: 640px) {
  .flexRowContent--titleBannerSupremeSxReverse {
    display: flex;
    flex-direction: column-reverse;
  }
  .flexRowContent--preServiziMobile {
    justify-content: center;
    align-items: center;
  }
  .flexRowContent--preServiziMobile .stretchChildrenWidth {
    margin-right: 0 !important;
  }

  .flexRowContent--deliveryAndWarrentyIcons {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -5px;
  }

  .flexRowContent--deliveryAndWarrentyIcon {
    flex-direction: column;
    align-items: center;
    background: #f9f9f9;
    border-radius: 10px;
    padding: 15px 0;
    height: 110px;
    margin-bottom: 10px;
  }

  .flexRowContent--deliveryAndWarrentyIcons
    :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    margin: 0 5px;
    flex: 0 1 46%;
  }

  .flexRow--leadTime {
    padding-top: 0 !important;
  }

  :global(.vtex-flex-layout-0-x-flexColChild--sparePartsAndAccassoriesCardSearch) .flexCol--informationsFeaturesPlpMobile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1040px) {
  .flexRowContent--badgesRow
    .stretchChildrenWidth:not(:first-child):not(:last-child) {
    min-width: 40%;
  }
}
@media screen and (max-width: 1024px) {
  .flexRowContent--badgesRow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .flexRowContent--badgesRow .stretchChildrenWidth {
    width: auto !important;
  }
  .flexRow--pdpSticky-mobile-container {
    padding-right: 0 !important;
    background: white;
  }

  /* .flexRow--preServizi {
    width: 67% !important;
  } */

  .flexRow--PreServiceBlock {
    padding: 0.5rem;
    margin: 10px 0;
  }
  .flexRow--PreServiceBlockAccessories {
    padding: 0.5rem;
    margin: 10px 0;
  }
}

@media only screen and (max-width: 1370px) and (min-width: 1020px) {
  .flexRowContent--ratingProductCard
    :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    min-width: 15.5rem !important;
  }
}
/* @media only screen and (min-width: 640px) and (max-width: 700px) {
  .flexRowContent--ratingProductCard
    :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: 16rem !important;
  }
} */
@media only screen and (min-width: 700px) and (max-width: 750px) {
  .flexRowContent--ratingProductCard
    :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: 16rem !important;
  }
}
/* @media only screen and (min-width: 750px) and (max-width: 900px) {
  .flexRowContent--ratingProductCard
    :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    min-width: 17.5rem !important;
  }
} */

@media only screen and (max-width: 676px) {
  .flexColChild--columnPostillaBottom {
    height: unset;
    display: inline-block;
    margin-bottom: 0.9rem;
  }
}

@media screen and (max-width: 1025px) and (min-width: 675px){
  .flexRow--preServizi {
    position: relative;
    margin-right: -18rem;
    margin-left: -1rem;
  }
  :global(.vtex-flex-layout-0-x-flexRowContent--PreServiceBlockAccessories) .flexRow--preServizi {
    position: relative;
    margin-right: 0rem;
    margin-left: 0rem;  
  }
}
@media screen and (max-width: 640px){
  .flexRowContent--PreServiceBlock {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}
