.specificationName[data-specification-name="La più silenziosa del mercato"]::before {
  content: url(https://whirlpool-cdn.thron.com/delivery/public/thumbnail/whirlpool/lo-8bbebff4-64e7-4aee-bca8-5108be0a7a7c/jsind9/std/50x50/859991570960-WER.jpg?fill=zoom&fillcolor=rgba:255,255,255&scalemode=product);
  position: relative;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 60px;
  width: 60px;
  padding-right: 1.25rem;
}
.specificationName[data-specification-name="Tecnologia 6° SENSO"]::before {
  content: url(https://whirlpool-cdn.thron.com/delivery/public/thumbnail/whirlpool/lo-d59bfed6-702a-4170-aed4-acb2d1aeef15/jsind9/std/50x50/859991570960-WER.jpg?fill=zoom&fillcolor=rgba:255,255,255&scalemode=product);
  position: relative;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 60px;
  width: 60px;
  padding-right: 1.25rem;
}
.specificationName[data-specification-name="Straordinaria efficienza energetica: A+++-50%"]::before {
  content: url(https://whirlpool-cdn.thron.com/delivery/public/thumbnail/whirlpool/lo-8a116db3-f08b-40e1-b5f4-8c7cc2aa8f21/jsind9/std/50x50/859991570960-WER.jpg?fill=zoom&fillcolor=rgba:255,255,255&scalemode=product);
  position: relative;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 60px;
  width: 60px;
  padding-right: 1.25rem;
}
.groupName--groupNameCaratt {
  font-family: "hotpointRegular";
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: #505050;
  text-transform: lowercase;
}
.specificationName--specNameCaratt {
  font-family: "hotpointRegular";
  font-weight: 400;
  font-size: 1rem;
  line-height: 2rem;
  color: #505050;
}
.specificationValue--specValueCaratt {
  font-family: "hotpointRegular";
  font-weight: 400;
  font-size: 1rem;
  line-height: 2rem;
  color: #505050;
}
.groupName--specificationsGroupName {
  display: block;
  width: fit-content;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.875rem;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
  .groupName--groupNameCaratt {
    padding-bottom: 0.625rem;
  }
}
