.infoCardContainer--banner0 {
  background-color: #f2f2f2;
  font-family: Arial;
}
.infoCardContainer--banner2 {
  background-color: #f2f2f2;
  font-family: Arial;
}
.heading--banner0 {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
}
.paragraph--banner0 {
  text-align: center;
  font-size: 16px;
  line-height: 26px;
}
.infoCardHeadline--banner2 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #000;
  margin-bottom: 0.625rem;
}
.infoCardCallActionText--banner2 {
  color: rgb(80, 80, 80);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.625rem;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out 0s;
}
.infoCardCallActionText--banner2:hover {
  color: #B24C24;
}
.container {
  width: 100%;
}
.shippingContainer {
  display: block;
}
.shippingContainer :global(.vtex-button) {
  margin-left: 0.5rem;
  width: 6rem;
  margin-top: 01.5625rem;
  height: 2.5rem;
  font-weight: bold;
}
.shippingContainer {
  width: 14rem;
  background-color: white;
  display: flex;
  flex-direction: row;
}
.shippingTable {
  width: 20rem;
}
