/*--- MINICART ---*/
.totalizersContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}
.totalPriceLabel {
}
.finalPriceMinicart {
  color: #007d69;
}
.totalDiscountLabel {
}
.price {
}
.finalPriceLabelMinicart {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
}
/*--- THANK YOU PAGE ---*/
.totalizersTYPWrapper {
  width: 60%;
  margin-left: auto;
  margin-top: 3rem;
}
.totalizersContainerTYP {
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
}
.totalPriceLabelTYP {
  color: #727273;
}
.priceTYP {
  color: #3f3f40;
}
.finalPriceLabel,
.finalPrice {
  font-size: 1.875rem;
  font-weight: bolder;
  color: #3f3f40;
  font-family: "GothamProRRegular";
}

@media only screen and (max-width: 1024px) {
  .totalizersTYPWrapper {
    width: 100%;
  }
}
