@font-face {
  font-family: "myriadSemibold";
  src: url(assets/fonts/MyriadPro-Semibold.woff2);
  font-display: swap;
}
@font-face {
  font-family: "myriadBold";
  src: url(assets/fonts/MyriadPro-Bold.woff2);
  font-display: swap;
}
@font-face {
  font-family: "myriadLight";
  src: url(assets/fonts/MyriadPro-Light.woff2);
  font-display: swap;
}
@font-face {
  font-family: "myriadRegular";
  src: url(assets/fonts/MyriadPro-Regular.woff2);
  font-display: swap;
}
