.flexColChild--banner1 {
  height: fit-content;
}
.flexColChild--carattTec {
  width: 100%;
}
.flexColChild--link {
  height: unset !important;
  margin: 0 !important;
  padding: 0 !important;
}
/* .flexColChild--product-desc-info .vtex-button, */
/* .flexRow--add-to-cart-custom {
   max-width: fit-content;
  margin-right: auto;
} */
.flexCol--rowPrincePDP {
  flex-direction: row;
}
.flexColChild--rowPrincePDP {
  height: min-content !important;
  margin: auto 0.75rem auto 0;
}
.flexRowContent--row-servizi-aggiuntivi-title {
  border-bottom: 0.0625rem solid #979797;
}
.flexRowContent--row-servizi-aggiuntivi-title
  :global(.vtex-disclosure-layout-1-x-trigger),
.flexRowContent--row-servizi-aggiuntivi-title
  :global(.vtex-disclosure-layout-1-x-trigger) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem 1rem 0;
  cursor: pointer;
}
.flexRow--row-servizi-aggiuntivi-title {
  display: none;
}
.flexRowContent--gift {
  display: flex;
}
.flexRowContent--gift .stretchChildrenWidth:first-child {
  width: 25% !important;
  justify-content: flex-start;
}
.flexRowContent--gift .stretchChildrenWidth:last-child {
  width: 75% !important;
}
.flexColChild--visualize-modal {
  padding-bottom: 0;
  text-align: center;
}
.flexRow--halfBannerWithPostilla4PorteTop {
  max-height: 35.8125rem;
  height: 33.8125rem;
  max-width: 75rem;
  margin: 0 auto;
  position: relative;
}
.flexRow--halfBannerWithPostilla4PorteBottom {
  max-width: 58.75rem;
  margin: 0 auto;
  padding: 3.75rem 0;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.flexRow--bannerPadding {
  padding: 1rem 0;
}
.flexRow--halfBannerWithPostilla4PorteBottom
  :global(.vtex-store-components-3-x-container) {
  padding: 0;
  margin: 0;
}
.flexRow--halfBannerWithPostilla4PorteTop
  :global(.vtex-store-components-3-x-container) {
  padding: 0;
  margin: 0;
  height: 33.8125rem;
  max-width: 75rem;
}
.flexRowContent--halfBannerWithPostilla4PorteTop
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  height: 31rem;
}
.flexRowContent--halfBannerWithPostilla4PorteBottom
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  width: auto;
  max-height: 37.5rem;
}
.flexColChild--columnPostillaBottom {
  height: auto !important;
}
.flexRow--footerRowTechnologia {
  background-color: #f2f2f2;
  padding: 3rem 0;
}
.flexRowContent--footerRowTechnologia .stretchChildrenWidth {
  width: 413.333px;
  margin-right: 100px;
}
/* FOOTER MOBILE */
.flexRowContent--disclosureFooter {
  width: 100% !important;
}
.flexRowContent--disclosureFooter .stretchChildrenWidth {
  margin: unset;
  display: flex;
  flex-direction: column;
}
/* FOOTER MOBILE END */
.flexRow--largeBannOnlyText1,
.flexRow--largeBannOnlyText2 {
  background-color: #f2f2f2;
  padding: 3rem 0;
}
.flexRow--largeBannOnlyText2 {
  margin-bottom: 7rem;
}
.flexRowContent--discontinuedDocContainer {
  flex-wrap: wrap;
  margin: 2rem 0;
}
.flexRow--collectionBadges {
  height: 2.5em !important;
}
.flexRow--collectionBadgesPDP {
  width: 80%;
  margin: 0 auto 1rem auto !important;
  min-height: 2.5em !important;
}
.flexRowContent--collectionBadgesPDP {
  display: flex;
}
.flexCol--yellowBadgePDPCard,
.flexCol--blackBadgePDPCard {
  width: auto !important;
}
.flexCol--yellowBadgePDPCardPromo {
  width: auto !important;
}
.flexRow--productName {
  margin-top: 2rem;
}
.flexRow--productName .stretchChildrenWidth {
  width: auto !important;
}
.flexColChild--bannerPremium {
  display: flex;
  align-items: center;
}
.flexRowContent--preServizi {
  display: flex;
  align-items: center;
}
.flexCol--ratingCol {
  margin-right: 0.5rem;
}
.flexColChild--imagesColumn {
  height: auto !important;
}
.flexCol--WPROKeyColMobile {
  padding: 0rem 0.5rem !important;
}

.flexRowContent--WPROKeyRow .stretchChildrenWidth {
  flex-direction: column;
  width: auto !important;
  margin: 0 auto;
}
.flexColChild--3dDescRow {
  padding-bottom: 1rem;
}
.flexCol--3dButton {
  max-width: 13rem;
}
.flexRow--3DbuttonRow {
  margin: 0 0.3rem;
}
.flexRow--3dButtonsRows {
  padding: 0 10%;
}
.flexRowContent--3DbuttonRow {
  justify-content: center;
  border: 2px solid #edb112;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  display: flex;
}
.flexRowContent--3DbuttonRow .stretchChildrenWidth {
  width: auto !important;
}
.flexRowContent--3dButtonsRows .stretchChildrenWidth {
  width: auto !important;
}
.flexRowContent--3dButtonsRows {
  justify-content: center;
}
.flexRowContent--discountedPrice .stretchChildrenWidth:first-child {
  width: 100% !important;
}
.flexRowContent--comparebuttonRow .stretchChildrenWidth {
  width: auto !important;
}
.flexRowContent--likebuttonRow {
  justify-content: flex-end;
}
.flexRowContent--likebuttonRow .stretchChildrenWidth {
  width: auto !important;
}
.flexColChild--wproConseils {
  align-self: center;
}
.flexRowContent--imagesOffresSpeciales
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  height: auto !important;
}
.flexColChild--imagesOffresSpeciales {
  margin-left: auto !important;
}
.flexColChild--CaruselTextBannerInstallazioneFacile {
  width: 33% !important;
  padding: 1em;
}
.flexRowContent--imageAndPriceMobile {
  display: flex;
}
/* Media Queries */
@media screen and (min-width: 65rem) {
  .flexCol--product-desc-info {
    max-width: 38rem;
  }
}
@media screen and (max-width: 600px) {
  .flexColChild--imagesOffresSpeciales {
    margin-right: auto !important;
  }
}
@media screen and (max-width: 668px) {
  .flexRowContent--ratingCol .stretchChildrenWidth:first-child {
    width: 100% !important;
  }
  .flexColChild--3dButton {
    margin-bottom: 0.6rem;
  }
  .flexRowContent--gift .stretchChildrenWidth:first-child {
    width: 15% !important;
  }
}
@media only screen and (max-width: 768px) {
  .flexColChild--CaruselTextBannerInstallazioneFacile {
    width: 100% !important;
    padding: 1em;
  }
}
@media only screen and (max-width: 768px) {
  .flexRow--productName {
    margin-top: 0;
  }
  .flexRow--savingPrice {
    margin-top: 6px;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1025px) {
  .flexRowContent--disclosureFooter {
    flex-direction: column;
  }
  .flexRowContent--disclosureFooter .stretchChildrenWidth {
    width: 100% !important;
  }
}
