.infoCardContainer--banner0 {
  background-color: #f9f9f9;
  font-family: Arial;
}
.infoCardContainer--banner2 {
  background-color: #f9f9f9;
  font-family: Arial;
}
.heading--banner0 {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
}
.paragraph--banner0 {
  text-align: center;
  font-size: 16px;
  line-height: 26px;
}
.infoCardHeadline--banner2 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #000;
  margin-bottom: 0.625rem;
}
.infoCardCallActionText--banner2 {
  color: rgb(80, 80, 80);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.625rem;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out 0s;
}
.infoCardCallActionText--banner2:hover {
  color: #fdc100;
}
.container {
  width: 100%;
}
.shippingContainer :global(.vtex-button) {
  margin-left: 0.5rem !important;
  font-size: 0.8rem;
  height: 2.5rem;
  font-weight: bold;
  margin-bottom: 0.6em;
}
.shippingContainer {
  max-width: 20rem;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.shippingTable {
  width: 20rem;
}
.imageElement--3dLogo {
  padding: 0 0.2rem;
}
.infoCardHeadline--supremeClean60::before {
  background-color: blueviolet;
  content: "supreme clean";
  position: absolute;
  top: 200px;
  left: 10px;
}
/* .infoCardTextContainer--bannerWithPostilla::after {
  content: "*En comparant le niveau sonore à l’essorage déclaré par les fabricants de machines à laver frontales 8kg-1400 trs/min et plus (Décembre 2020). Modèles de référence commençant par W6XW845.";
  padding-top: 2em;
  font-size: 0.625rem;
  line-height: normal;
} */
.imageElement--MinusIcon {
  transform: rotate(180deg);
}
.imageElement--ImageAdvantageForYou {
  width: 64px;
  height: 67px;
  object-fit: contain;
}
@media only screen and (max-width: 380px) {
  .shippingContainer :global(.vtex-input-prefix__group) {
    width: 8rem;
  }
  .shippingContainer :global(.vtex-button) {
    max-width: 6rem;
  }
}
@media only screen and (max-width: 640px) {
  .imageElement--ImageAdvantageForYou {
    width: 54px;
    height: 57px;
    object-fit: contain;
    margin-left: 0.5rem;
  }
}
