.content--visible {
  transition: height 0.7s ease;
  /* height: 20vh; */
}
:global(.vtex-sticky-layout-0-x-container--sticky-header) .content--visible {
  height: 200px;
}

.trigger--pdpAccordionTrigger {
  background-color: #f9f9f9;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.trigger--pdpAccordionTrigger--hidden {
  border-bottom: 1px solid #edb112 !important;
}
.content--pdpAccordionContent--visible {
  position: relative;
  height: auto;
}
.trigger--triggerFooter {
  display: flex;
  width: calc(100% - 2rem) !important;
  padding: unset !important;
  margin: 0.5rem 1rem !important;
}
.trigger--triggerFooter--hidden {
  border-bottom: 1px solid black !important;
}
.trigger--triggerFooter
  :global(.vtex-store-components-3-x-imageElement--PlusIcon),
.trigger--triggerFooter
  :global(.vtex-store-components-3-x-imageElement--MinusIcon) {
  margin: auto;
}
.trigger--triggerFooter {
  display: flex;
  width: calc(100% - 2rem) !important;
  padding: unset !important;
  margin: 0.5rem 1rem !important;
  align-items: center;
}
.trigger--triggerFooter--hidden {
  border-bottom: 1px solid black !important;
}
.trigger--triggerFooter--hidden:focus {
  border-bottom: 1px solid black !important;
}
.content--relative {
  position: relative;
}
@media only screen and (max-width: 768px) {
  .content {
    padding: 0 1rem;
  }
}
