.paragraph--banner1-t0 {
  font-family: Arial;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.625rem;
  margin-bottom: 1.875rem;
}
.paragraph--banner1-t1 {
  font-family: Arial;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1.2;
}
.paragraph--banner1-t2 {
  font-family: Arial;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.paragraph--banner1-t3 {
  font-family: Arial;
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 0.8125rem;
  color: #8d8d8d;
}
.container--dettagli {
  background-color: #f9f9f9;
  margin-top: 3.5rem;
}
.paragraph--dettagli {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 2.5rem;
  padding-bottom: 3.75rem;
  color: #505050;
  margin-top: 5.625rem;
  margin-bottom: 0;
  text-align: center;
}
.container--linkSchedeTab {
  width: fit-content;
  width: -moz-fit-content;
}
.wrapper--linkSchedeTab {
  margin-left: 0.625rem;
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #000;
}
.wrapper--linkSchedeTab:hover {
  color: #fdc100;
}
.wrapper--cashbackPDF {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.375rem;
  color: #fdc100;
  text-decoration: underline;
}
.wrapper--linkSchedeTab:hover {
  color: #edb112;
}
.wrapper--ServiziAggiuntiviLabel .paragraph {
  font-weight: 700;
  text-transform: uppercase;
  color: #505050;
  font-family: "myriadLight";
}
.wrapper--discontinued .paragraph {
  color: #c41a1a;
  font-family: "myriadSemibold", "Arial";
  font-weight: 400;
  font-size: 0.875rem;
  text-transform: uppercase;
}
.wrapper--ivaPDP {
  margin-bottom: 1rem;
}
.wrapper--ivaPDP .paragraph {
  font-size: 0.8rem;
  margin: 0;
}
.wrapper--percentageBanner {
  font-size: 1.5rem;
  padding: 0 1rem 0 0;
}
.wrapper--rich-text-specification {
  width: 100%;
  text-align: center;
  margin-bottom: -30px;
  margin-top: 7.5rem;
  font-size: 2.25rem;
}
.wrapper--rich-text-visualize {
  width: 35%;
  text-align: center;
  margin: auto;
}
.wrapper--cta-visualize {
  color: #2aabe2;
  font-size: 0.875rem;
  font-weight: 600;
  border: 2px solid;
  padding: 0 2rem;
  border-radius: 5px;
}
.paragraph--centerbannerpromo {
  padding: 0 !important;
}
.paragraph--showRatings {
  cursor: pointer;
  text-decoration: underline;
}
.link--showRatings {
  color: #505050 !important;
  text-decoration: none;
}
.container--3dDescText {
  justify-content: center;
}
.wrapper--3dDescText {
  text-align: center;
  padding: 0 7rem;
}
.paragraph--3dButton {
  color: #edb112;
  font-family: "myriadSemibold";
  text-transform: uppercase;
  padding: 0 0.2rem;
  margin: 0;
}
.wrapper--compareButton {
  margin: 0;
  margin-left: 0.8rem;
  color: #505050;
  text-decoration: underline;
}
.heading--titleModalPDP {
  margin: 1rem;
  text-align: center;
}
.wrapper--titleCardTextBanner {
  height: 6em;
}
/* Media Queries */
@media only screen and (max-width: 668px) {
  .wrapper--ServiziAggiuntiviLabel .paragraph {
    font-size: 0.875rem;
  }
  .paragraph--centerbannerpromo {
    margin: 10px 0 !important;
    text-align: initial !important;
  }
  /* .wrapper .paragraph {
    font-size: 0.875rem;
  } */
  .wrapper .paragraph--cardRicambiOriginali {
    font-size: 1.2rem;
  }
  .wrapper--percentageBanner .paragraph--percentageBanner {
    font-size: 1.5rem;
  }
  .wrapper--dettagli .paragraph--dettagli {
    font-size: 2.5rem;
  }
  .wrapper--rich-text-specification {
    margin-top: 1rem;
  }
  .wrapper--rich-text-specification .paragraph--rich-text-specification {
    font-size: 2rem;
  }
  .wrapper--3dDescText {
    padding: 0;
  }
  .wrapper .paragraph--cashbackPDF{
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 499px) {
  .heading--titleModalPDP {
    margin: 1rem;
    text-align: center;
    font-size: 1.3em;
  }
}
