@font-face {
    font-family: "quicksandRegular";
    src: url(assets/fonts/Quicksand-Regular.woff);
  }
  @font-face {
    font-family: "quicksandBold";
    src: url(assets/fonts/Quicksand-Bold.woff);
  }
  @font-face {
    font-family: "quicksandLight";
    src: url(assets/fonts/Quicksand-Light.woff);
  }
  @font-face {
    font-family: "quicksandMedium";
    src: url(assets/fonts/Quicksand-Medium.woff);
  }
  