.custom_products_list_wrapper {
    display: flex;
    flex-wrap: wrap;
}

.custom_card_wrapper {
  width: 340px;
  /*border: 1px solid white;*/
  box-shadow: 0px 1px 2px rgb(8 35 48 / 24%), 0px 2px 6px rgb(8 35 48 / 16%);
  margin: 1rem 1rem;
  border-radius: 10px;
  padding: 0.75rem;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.reference {
    position: absolute;
    top: 10px;
    left: 0;
    background-color: #edac09;
    padding: 2px;
    font-size: 0.775rem;
}

.custom_card_wrapper a {
    color: inherit;
    text-decoration: none;
}

.custom_card_wrapper_image {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 180px;
  margin-top: 40px;
}

.custom_card_wrapper:hover {
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
    transition: 0.3s;
}

.custom_card_wrapper_price {
    font-size: 1.435rem;
    font-weight: bold;
    /*margin-top: 10px;*/
}

.custom_card_wrapper_name {
  margin: 10px 0;
  /*margin-bottom: 40px;*/
  font-size: 0.875rem;
  /*height: 25px;*/
  font-weight: 800;
}
.custom_card_wrapper_code_product{

  padding-bottom: 60px;
  background-color: transparent;
  font-size: 0.775rem!important;
  color: #BBC9CA;
  font-weight: 500;
  display: inline-block!important;
}

.custom_card_wrapper_availability {
    display: flex;
    justify-content: flex-end;
    /*margin-bottom: 70px;*/
}

.custom_card_wrapper_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.custom_card_wrapper_bottom div {
  display: flex;
  justify-content: space-between;
}

.custom_card_wrapper_bottom svg {
    height: 20px;
    width: 20px;
}

.custom_card_wrapper_bottom>div>div button:hover {
    background-color: transparent !important;
}

.custom_card_wrapper_bottom>div>div button:active {
    background-color: transparent !important;
}

.custom_card_wrapper_bottom>div>div button:focus {
    background-color: transparent !important;
}

.custom_card_wrapper_bottom svg:hover {
    background: url("/assets/heart_red.svg");
    background-repeat: no-repeat !important;
    background-size: contain !important;
}

.highlights_wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 40px;
}

.highlight {
    text-transform: lowercase;
    font-family: GothamProRRegular;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    width: fit-content;
    height: fit-content;
    margin-right: 7px;
}

.highlight_189 {
    background-color: white;
    color: #93bb1b;
    border: solid 1px #93bb1b;
    padding: 2px 5px;
    font-size: 10px;
}

.highlight_156 {
    background-color: #c60025;
    color: white;
    padding: 3px 6px;
    font-size: 10px;
}

.highlight_191 {
    background-color: #012f60;
    color: white;
    padding: 3px 6px;
    font-size: 10px;
}

.highlight_192 {
    background-color: #231f20;
    color: white;
    padding: 3px 6px;
    font-size: 10px;
}

.highlight_200 {
    background-color: white;
    color: #231f20;
    border: solid 1px #231f20;
    padding: 2px 5px;
    font-size: 10px;
}

.highlight_201 {
    background-color: #93bb1b;
    color: white;
    padding: 3px 6px;
    font-size: 10px;
}

.custom_card_wrapper_availability :global(.hotpointuk-lead-time-0-x-instockText) {
    margin-top: 1em;
    margin-bottom: 1em;
}
.customProductListPriceButtonWrapper{
  /*display: flex;*/
  /*justify-content: space-between;*/
  /*align-items: center;*/
}

@media only screen and (max-width: 500px) {
  .custom_card_wrapper {
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 5px;
    margin-bottom: 20px;
  }
  .custom_products_list_wrapper {
    justify-content: space-between;
    padding: 5px;
  }
  .custom_card_wrapper_bottom{
    padding: 10px;
    padding-bottom: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .custom_card_wrapper_image{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 183px;
    margin-top: 30px;
  }
  .custom_wrapper_name_code_product{
    margin-left: 10px;
  }
}
@media only screen and (max-width: 788px) {
  .custom_card_wrapper {
    width: 100%;
  }
}
