.menuContainer {
  width: unset;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5rem 0;
  max-width: 88%;
  margin: 0 5rem;
  /* margin: auto; */
}
.categoryCard,
.categoryCardLink,
.subCategoryCardLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  cursor: pointer;
}
.categoryCardLink {
  max-width: 4.375rem;
}
.subCategoryCardLink {
  justify-content: center;
}
.categoryCardImage {
}
.categoryCardTitle {
  text-align: center;
}
.subMenuContainer,
.subMenuContainerClosed {
  width: 100%;
  height: 10rem;
  margin-top: -2rem;
  background: rgb(242, 242, 242);
  transition: all 0.35s ease-in-out;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.subMenuContainerClosed {
  height: 0;
}

/*--- MENU MOBILE ---*/
.menuContainerMobile {
  display: flex;
  flex-wrap: wrap;
}
.categoryCard {
  width: 50%;
  cursor: pointer;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;
  position: relative;
}
