.errorWrapper {
  margin: 200px auto;
  max-width: 36em;
}

.errorMessage {
  max-width: 24em;
}

.confirmationIconWrapper {
  line-height: 0;
}

.orderOptionsWrapper--mobile {
  margin-bottom: 2rem;
}

.noticeListItem:last-child {
  border-bottom: none;
}

.barCodeNumber {
  word-break: break-all;
}

.orderListItem:last-child,
.productListItem:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.confirmationIconWrapper svg{
  width: 50px !important;
  height: 50px !important;
}

.deliveryAddressWrapper {
  font-size: 1rem;
}

.deliveryDate {
  font-size: 1rem;
}

.deliveryCourier {
  font-size: 1rem;
}
.instock{
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
.tick{
  width: 1rem;
  height: 1rem;
  background: url(./assets/instockIcon.svg);
  background-size: cover;
}
.instockText{
  font-family: "hotpointMedium";
  font-size:  1rem;
  color: #97C969;
  margin-left: 0.5rem;
}
.leadtime{
  font-family: "hotpointMedium";
  font-size:  1rem;
  color: #97C969;
  margin-top: 0;
  margin-bottom: 0;
}
