.channelsight {
  background-color: #edb112;
  border-color: #edb112;
  cursor: pointer;
  border: none;
  border-radius: 0.25rem;
  width: 100%;
  color: white;
  margin: auto;
  padding: 1rem !important;
  font-family: "myriadSemibold";
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0;
}
.channelsight:hover {
  background-color: rgba(237, 177, 18, 0.8);
  border-color: rgba(237, 177, 18, 0.8);
}
.channelsight--channelSightPLP {
  background-color: #fff;
  border: none;
  width: 100%;
  font-size: 0.9rem;
  font-weight: 600;
  color: #edb112;
  margin: auto;
  padding: 0.5rem !important;
  text-decoration: underline;
  cursor: pointer;
}
.channelsight--channelSightPLP:hover {
  background-color: #fff;
  border-color: none;
  color: #edb312c7;
}
