.container {
  width: 50%;
}
.containerTeC{
  display: flex;
  flex-direction: row;
  padding-bottom: 15px;
}
.deliveryTeC {
  border: 2px solid #F1BC2A;
  border-radius: 5px;
  padding: 4px;
  font-size: 0.875rem;
}
.imageInfo{
  width: 13px;
  margin: 3px 3px -1px 1px;
}
.container :global(.vtex-input-prefix__group) {
  background-color: white !important;
  border: none;
}
.container :global(.vtex-styleguide-9-x-input) {
  width: 70%;
  margin-right: 5%;
  border: 0.125rem solid #ebebeb;
  border-radius: 0.25rem;
}
.container :global(.vtex-styleguide-9-x-input):hover {
  border-color: #cacbcc;
}
.container :global(.vtex-button) {
  background-color: #edb112;
  color: white;
  border-color: #edb112;
}
.container :global(.vtex-button):hover {
  background-color: rgba(237, 177, 18, 0.8);
}
.container :global(.vtex-button__label) {
  padding: unset;
}
.error {
  width: 50%;
  color: red;
  font-size: 1rem;
  font-family: "myriadRegular";
}
.success {
  width: 80%;
  margin: auto;
  color: #3f3f40;
  font-size: 1rem;
  font-family: "myriadRegular";
}
.fastEstForm {
  margin-bottom: 2rem;
  /* display: flex; */
}
.subTitle {
  color: #3f3f40;
  font-size: 0.7rem;
  font-family: "myriadRegular";
}
.containerSuccess {
  opacity: 0.8;
  width: 50%;
  display: flex;
}
.containerDelivery {
  display: flex;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  width: 50%;
}
.containerInstallation {
  display: flex;
}
.textResponse {
  font-size: 0.875rem;
  color: #979899;
}
.tickIconInstall {
  width: 0.875rem;
  margin-right: 1rem;
}

@media only screen and (max-width: 600px) {
  .fastEstForm {
    flex-direction: column;
  }
  .container {
    width: 100%;
  }
  .containerSuccess {
    width: 100%;
  }
  .error {
    width: 100%;
  }
}
