.ratingSummaryContainer {
  width: 100%;
  /* margin: 1rem 0; */
  justify-content: flex-end;
  margin-top: 4px;
}
.inactiveStarContainer,
.inactiveStar,
.activeStarContainer,
.activeStar,
.activeStarContainer {
  max-width: 0.75rem;
}
.activeStar {
  color: #fdc100;
}

@media only screen and (max-width: 640px) {
  .ratingSummaryContainer {
    justify-content: flex-start;
    margin-top: 0;
  }
  .reviewsContainer{
    min-height: 553px;
  }
}
