/* .skuSelectorContainer--quickview .skuSelectorItemImage .frameAround, .skuSelectorContainer--quickview .skuSelectorItemImage .skuSelectorInternalBox {
  border-radius: 50%;
} */
.container :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.container:hover :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 1;
}

.containerNormal {
  position: relative;
  overflow: unset !important;
}

.nameContainer {
  justify-content: start;
  padding: 0.5rem 1rem;
}

.productBrand {
  font-family: "myriadRegular";
  font-weight: 300 !important;
  font-size: 1rem !important;
  line-height: 1.2;
  color: #505050;
}

.container {
  text-align: start;
  border: 0.0625rem solid rgb(236, 236, 236);
  transition: 0.3s;
}

.container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.image {
  border-radius: 0.25rem;
}

.element {
  padding-bottom: 0px;
}

.container {
  border-radius: unset;
}

.container :global(.vtex-button) {
  border-radius: 5px;
  width: 90%;
  margin: 0 auto 0.6rem auto;
  padding: 0;
}

.container :global(.vtex-button__label) {
  padding: 0.5rem !important;
  font-size: 0.9rem;
  font-weight: 600;
}

.imageWrapper {
  margin-top: 0rem;
}

.imageContainer {
  text-align: center;
  margin-top: 1.25rem;
  margin-bottom: 1.5rem;
  height: 200px;
  width: 200px;
}

/*Comparison plp*/
:global(.vtex-product-summary-2-x-image--comparisonDrawer) {
  height: 6.25rem;
}

.column--drawer-summary-col2 .imageContainer {
  height: 100px;
  margin: 0 inherit;
}

.column--drawer-summary-col2 :global(.vtex-product-summary-2-x-imageContainer) {
  margin: 0;
}

.column--drawer-summary-col2 :global(.vtex-store-components-3-x-discountInsideContainer) {
  display: none;
}

.nameContainer--nameProductCompare {
  width: 80%;
  margin-bottom: 0.9375rem;
  justify-content: center;
  text-align: center;
}

.brandName--nameProductCompare {
  font-family: "myriadLight";
  font-weight: 400 !important;
  font-size: 0.875rem !important;
  line-height: 1rem;
  color: #505050;
}

.column--drawer-summary-col2 :global(.vtex-product-specifications-1-x-specificationValue--first) {
  padding: 0;
  margin: 0 auto;
}

:global(.vtex-slider-layout-0-x-slide--comparison-page) .imageContainer .image {
  height: unset !important;
}

:global(.vtex-slider-layout-0-x-slide--comparison-page) .productBrand {
  font-size: 1rem !important;
  font-weight: 400 !important;
}

.priceContainer--priceUnavailableProd {
  padding: unset;
  height: auto;
}

.priceContainer--priceUnavailableProdMobile {
  padding: 0;
  height: 4rem;
}

.productPriceClass--priceUnavailableProd {
  width: 100%;
}

.productPriceClass--priceUnavailableProdMobile {
  margin-right: auto;
}

.sellingPrice--priceUnavailableProdMobile {
  font-size: 1.5rem;
  font-family: "myriadRegular";
  color: #505050;
  padding: unset;
}

.sellingPrice--priceUnavailableProdMobile::before {
  content: " --- ";
  font-size: 1rem;
  color: #505050;
  visibility: hidden;
}

.listPriceContainer--priceUnavailableProdMobile::before {
  content: "Du ";
  font-size: 1rem;
  font-family: "myriadRegular";
  color: #505050;
}

.listPriceContainer--priceUnavailableProdMobile::after {
  content: "à ";
  font-size: 1rem;
  font-family: "myriadRegular";
  color: #505050;
  white-space: pre;
  top: 27px;
  left: -88px;
  position: relative;
}

.sellingPrice--priceUnavailableProd {
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: "myriadRegular";
  color: #505050;
  padding: unset;
}

.sellingPriceContainer--priceUnavailableProd {
  padding: unset !important;
}

/* .productPriceClass--priceUnavailableProd::after{
  content: "Le prix comprend la TVA, la DEEE et les promotions";
  font-size: 0.65rem;
  color: #505050;
} */
.productPriceClass--priceUnavailableProd {
  text-align: right;
  padding-right: 1rem;
}

.productPriceClass--priceUnavailableProdPlpNew {
  flex-direction: column-reverse;
}

.priceContainer--priceUnavailableProdPlpNew {
  justify-content: flex-start;
}

.listPriceContainer--priceUnavailableProdPlpNew {
  padding: 0;
}

.price_sellingPrice--priceUnavailableProdPlpNew {
  line-height: 1;
  padding-top: 0.4rem;
}

.imageContainer--productImageMobile {
  display: flex;
}

.imageWrapper--headerSearchShelfImage {
  width: 200px;
  height: 200px;
  margin-top: 1.25rem;
  margin-bottom: 1.5rem;
}

.imageContainer--headerSearchShelfImage {
  width: 100px !important;
  height: 100px !important;
  margin-bottom: 0;
  margin-top: 0;
}

.element--shelfHeaderSearch {
  padding-top: 0 !important;
}

/* BLACK FRIDAY */
.imageContainer--blackFridayProductImage {
  margin: 0;
  height: fit-content;
  padding-top: 0.5rem;
  margin-bottom: 2rem;
}

.imageWrapper--blackFridayProductImage {
  margin-top: 0.5rem;
}

.element--blackfriday {
  margin: 0 1rem;
}

.container--buyTogether :global(.vtex-product-summary-2-x-imageContainer) {
  margin-top: 0 !important;
}

.container--buyTogether :global(.vtex-rich-text-0-x-paragraph--pricePostilla) {
  padding-right: 1rem;
}

.container--buyTogether :global(.vtex-flex-layout-0-x-flexCol--atcContainer) {
  min-height: unset !important;
}

:global(.vtex-flex-layout-0-x-flexColChild--contentCardModalMobile) .priceContainer {
  height: auto !important;
}

:global(.vtex-flex-layout-0-x-flexColChild--contentCardModalMobile) .productPriceClass--priceUnavailableProdMobile {
  margin-right: 1.5rem !important;
}
.containerNormal--summaryNorthStar{
  background: white;
}
/* Media Queries */
@media screen and (max-width: 40em) {
  .container :global(.vtex-modal-layout-0-x-triggerContainer) {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .clearLink--drawer-summary {
    max-height: 20rem;
    min-height: 20rem;
  }

  .element {
    padding-top: 1rem;
  }

  :global(.vtex-product-summary-2-x-containerNormal--shelfHeaderSearch) .containerNormal {
    min-width: 380px !important;
  }
}

@media screen and (max-width: 450px) {
  :global(.vtex-product-summary-2-x-containerNormal--shelfHeaderSearch) .imageContainer {
    text-align: left;
    margin-top: 1.75rem;
    margin-bottom: 1.5rem;
    height: 50px !important;
    width: 50px !important;
    bottom: 2rem;
    left: -4.5rem;
    position: relative;
  }
}

@media screen and (min-width: 451px) and (max-width: 540px) {
  :global(.vtex-product-summary-2-x-containerNormal--shelfHeaderSearch) .imageContainer {
    text-align: left;
    margin-top: 1.75rem;
    margin-bottom: 1.5rem;
    height: 50px !important;
    width: 50px !important;
    bottom: 2rem;
    left: -6.5rem;
    position: relative;
  }
}

@media screen and (max-width: 1024px) {
  .imageWrapper--productImageMobile {
    width: auto;
    height: auto;
  }

  .imageContainer--productImageMobile,
  .imageWrapper--productImageMobile {
    margin: 0;
  }

  .imageContainer--productImageMobile {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: fit-content;
    height: fit-content;
  }

  .element {
    padding-top: 5px;
  }

  .container--summaryNorthStar {
    max-width: 320px !important;
    padding-bottom: 7px;
  }

  .containerNormal {
    max-width: 380px !important;
    position: relative;
  }

  /* BLACK FRIDAY */
  .element--blackfriday {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
  :global(.vtex-product-summary-2-x-containerNormal--shelfHeaderSearch) .containerNormal {
    max-width: 320px !important;
  }
}

@media screen and (min-width: 1250px) {
  .nameContainer {
    height: 100px;
  }
}