.infoCardCallActionContainer--sliderWBannerArrowsDots :global(.vtex-button) {
  transition: 0.5s all ease;
  border: none;
  color: black;
  font-family: myriadRegular;
}
.headingLevel2--sliderWBannerArrowsDots :global(.vtex-strike),
.infoCardHeadline--sliderWBannerArrowsDots :global(.vtex-strike){
  text-decoration: line-through;
  text-decoration-color: #fdc100;
}
.slideChildrenContainer--wellbeing-6thSense {
  align-items: flex-end;
}
.sliderLayoutContainer {
  justify-content: center;
}
.flexRow--mediaPreOrder{
  margin: 1rem;
}
.sliderLayoutContainer--carousel {
  background-color: #f0f0f0;
  padding-left: 1rem;
}
.sliderTrackContainer {
  max-width: 1520px;
}
.paginationDotsContainer {
  /* margin-top: 0.5rem;
  margin-bottom: 0.5rem; */
  bottom: -1.5rem;
}
.paginationDotsContainer--carousel {
  margin-bottom: -1.5rem;
}
.paginationDotsContainer--dotsNoMargin {
  margin-bottom: 0;
}
.paginationDotsContainer--imageCarousel {
  margin-bottom: 1.5rem;
}
.paginationDotsContainer--sliderBannerHome {
  top: 85%;
}
.paginationDotsContainer--categorySliderHome {
  bottom: -2rem;
}
.sliderLayoutContainer--categorySliderHome {
  margin-bottom: 3rem;
}
.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
}
.sliderLayoutContainer--shelf {
  margin-bottom: 1rem;
}
/* .sliderLayoutContainer--smallerShelf {
  max-width: 60%;
  margin: 0 auto;
} */
.sl .slide--shelf {
  margin-bottom: 25px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.sliderLayoutContainer--carousel,
.sliderLayoutContainer--imageCarousel {
  background-color: transparent !important;
  margin-bottom: 2rem;
  padding: 0;
}
.sliderLayoutContainer--carouselPlpMobile {
  margin-bottom: 0rem !important;
}
.sliderLayoutContainer--percheWhirlpoolCarousel .slideChildrenContainer {
  background-color: white;
  min-width: 20.9375rem;
  max-width: 20.9375rem;
  max-height: 20.9375rem;
  min-height: 20.9375rem;
  margin: 0 auto;
  font-size: 1.5rem;
}
.sliderLayoutContainer--ricambiOriginali {
  padding: 5rem;
}
/*-------------------------- Banner Header ----------------*/
.sliderLayoutContainer--bannerHeaderContainer {
  width: 100%;
  max-width: none !important;
  background-color: #f7f7f7;
  border-bottom: 0.01188rem solid #fff;
  height: 3.1875rem;
}
.sliderTrackContainer--bannerHeaderContainer {
  max-width: none !important;
  max-height: 100%;
}
.sliderTrack--bannerHeaderContainer {
  height: 3.1875rem;
}
.slide--bannerHeaderContainer {
  max-height: 100%;
}
.bannerHeaderContainer {
  width: 100%;
}
.slideChildrenContainer--bannerHeaderContainer {
  position: relative;
}
.slideChildrenContainer--bannerHeaderContainer::after {
  position: absolute;
  content: "";
  width: 0.0625rem;
  background-color: #d1d1d1;
  right: 0;
  height: 70%;
}
.slideChildrenContainer--shelf {
  padding: 0.75rem;
}

.slideChildrenContainer--BottomSliderLavatrice {
  width: auto;
  max-width: 840px;
  margin: auto;
}
.sliderLayoutContainer--bottomSliderBlackfiber {
  background-color: #222325;
}
.slideChildrenContainer--technologiaSlider {
  width: 80%;
  max-width: 100%;
}
.sliderLayoutContainer--bottomSliderBlackfiber {
  height: 45rem;
}
.sliderLayoutContainer--removeTopPadding {
  padding-top: 0;
}
.sliderLayoutContainer--personalizedBannerCard {
  padding: 0 20%;
}
.sliderLayoutContainer--sliderWFrigo4Porte {
  margin-bottom: 7.5rem;
  padding: 0 1.125rem;
  max-width: 90rem;
  margin: 0 auto;
  transform: translateY(0);
  opacity: 1;
  margin-bottom: 7rem;
}
.sliderLayoutContainer--sliderMaster {
  margin-bottom: 7.5rem;
  margin: 0 auto;
  transform: translateY(0);
  opacity: 1;
  margin-bottom: 7rem;
}
.sliderTrackContainer--sliderMaster {
  max-width: unset;
}
.sliderLayoutContainer--sliderBannerHome {
  max-width: 100rem;
  padding: 0 1.125rem;
  margin: 0 auto;
  transform: translateY(0);
  opacity: 1;
}
.sliderTrackContainer--sliderWFrigo4Porte,
.sliderTracktContainer--sliderBannerHome,
.sliderTracktContainer--sliderMaster {
  padding-top: 5.625rem;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
.sliderLeftArrow--sliderWFrigo4Porte,
.sliderLeftArrow--sliderBannerHome,
.sliderLeftArrow--sliderMaster {
  background: #d8d8d8 !important;
  left: 4rem;
  padding: 1rem;
  border-radius: 70%;
  opacity: 0.4;
}
.sliderLayoutContainer--sliderBannerHome .slide {
  box-shadow: none;
  margin: 0;
  border: none;
}
.sliderRightArrow--sliderWFrigo4Porte,
.sliderRightArrow--sliderBannerHome,
.sliderRightArrow--sliderMaster {
  right: 4rem;
  background: #d8d8d8 !important;
  padding: 1rem;
  border-radius: 70%;
  opacity: 0.4;
}
.sliderLayoutContainer--personalizedBannerCard {
  padding-top: 6.25rem;
}
.paginationDotsContainer--sliderBannerHome {
  /* display: none; */
}
.paginationDotsContainer--dotsMedium {
  margin-bottom: 0;
  bottom: -0.5rem;
}
/*-------------------------- MASTER LAYOUT ----------------*/
.slide--masterSlider {
  max-width: 300px !important;
}
.sliderTrackContainer--masterSlider {
  margin: 0;
}
.infoCardImage--carousel {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  height: 25.625rem;
  width: 100%;
}
.slideChildrenContainer--carousel {
  display: block;
}
.infoCardTextContainer--carousel {
  min-height: 22rem;
  padding: 0 3rem;
  justify-content: center;
}
.infoCardCallActionContainer--carouselPlp {
  display: none;
}
.sliderArrows--imageCarousel {
  background-color: #d8d8d8 !important;
  padding: 1rem;
  border-radius: 70%;
  opacity: 0.4;
}
.sliderTrackContainer--sliderWBannerArrowsDots {
  max-width: unset;
}
.infoCardContainer--sliderWBannerArrowsDots {
  background-color: #f9f9f9;
  line-height: 1;
  padding: 0;
  width: 100vw !important;
}
.infoCardImage--sliderWBannerArrowsDots {
  max-height: 40rem;
  width: 100%;
}
.infoCardTextContainer--sliderWBannerArrowsDots {
  padding: 2.5rem 5.625rem;
  /* width: 30% !important; */
}
.infoCardImageContainer--sliderWBannerArrowsDots {
  line-height: 0;
  /* width: 70% !important; */
}
.paginationDotsContainer--sliderWBannerArrowsDots {
  bottom: -1rem;
}
/* BLACK FRIDAY 2022 */
.paginationDotsContainer--bfReviews {
  margin-bottom: 2rem;
  justify-content: flex-end;
  padding-right: calc(20% + 100px);
}
.sliderLayoutContainer--bfReviews {
  padding: 0 120px;
}
/* PRE ORDER PAGE */
.sliderLayoutContainer--imagesSliderTitle {
  max-width: 75rem;
  margin: auto;
}


.sliderLayoutContainer--sliderUserVideoPDP
{
  padding: 0 !important;
}
.slide--sliderUserVideoPDP
{
    margin: 0 .5rem;
    min-height: 13rem;
}
.caretIcon--sliderUserVideoPDP
{
  color: #F1BC2A;
}

/* -------------------- */
/* Media Queries */
@media only screen and (min-width: 640px) {
  .sliderLayoutContainer--percheWhirlpoolCarousel {
    display: none;
  }
}
@media only screen and (max-width: 640px) {
  .paginationDotsContainer {
    /* margin-bottom: -1.5rem; */
  }
  /* .sliderLayoutContainer--smallerShelf {
    max-width: unset;
  } */
  .slideChildrenContainer--bannerHeaderContainer::after {
    content: none;
  }
  .slideChildrenContainer--bannerHeaderContainer::after {
    content: none;
  }
  .sliderRightArrow--sliderMaster {
    right: 1rem;
    padding: 0.5em;
  }
  .sliderLeftArrow--sliderMaster {
    left: 1rem;
    padding: 0.5em;
  }
  .infoCardTextContainer--carousel {
    padding: 2rem;
  }
  .infoCardContainer--carousel {
    display: flex;
    flex-direction: column-reverse;
  }
  .infoCardTextContainer--carouselPlpMobile {
    display: none;
  }
  .infoCardImage--carouselPlpMobile {
    height: 13rem;
  }
}
@media only screen and (min-width: 1280px) {
  .sliderLayoutContainer--ricambiOriginali {
    padding: 5rem 20%;
  }
  .sliderLayoutContainer--cardsSupp {
    padding: 5rem 15%;
  }
  .sliderLayoutContainer--VP {
    padding: 0 15% 3rem 15% !important;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1200px) {
  .sliderTrack--cardsSupp {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .slide--cardsSupp {
    width: 33% !important;
  }
}
@media only screen and (min-width: 1100px) {
  .infoCardTextContainer--sliderWBannerArrowsDots {
    width: 30% !important;
  }
  .infoCardImageContainer--sliderWBannerArrowsDots {
    width: 70% !important;
  }
}
@media only screen and (max-width: 1100px) {
  .sliderLayoutContainer--personalizedBannerCard {
    padding: unset;
  }
  /* BLACK FRIDAY */
  .paginationDotsContainer--bfReviews {
    margin-bottom: -1rem;
    justify-content: center;
    padding-right: 0;
  }
  .sliderLayoutContainer--bfReviews {
    padding: 0;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 640px) {
  .infoCardContainer--carouselPlpMobile {
    display: none;
  }
}
@media only screen and (max-width: 640px) {
  .infoCardContainer--sliderWBannerArrowsDots {
    display: flex;
    flex-direction: column-reverse;
  }
  .infoCardTextContainer--sliderWBannerArrowsDots {
    padding: 1rem 2rem;
    height: 25rem;
  }
}
@media only screen and (max-width: 1024px) {
  .slideChildrenContainer--shelf {
    max-width: 320px !important;
  }
  .slideChildrenContainer--shelfPreOrder{
    max-width: unset !important;
  }
  :global(.vtex-slider-layout-0-x-slide--shelfMobile) {
    max-width: 320px !important;
  }
  .sliderLayoutContainer--shelfMobile {
    padding: 0 !important;
  }
  .slide--salesforceMobile {
    max-width: 320px !important;
  }
  .slideChildrenContainer--salesforceMobile {
    max-width: 320px !important;
  }
  .paginationDotsContainer--salesforceMobile {
    margin-bottom: 0;
    bottom: -1rem;
  }
  .sliderLayoutContainer--salesforceMobile {
    padding: 0 !important;
    margin-bottom: 2rem;
  }
}
@media only screen and (min-width: 900px){
  :global(.vtex-flex-layout-0-x-flexRowContent--mediaPreOrderReverse) .videoElement,
  :global(.vtex-flex-layout-0-x-flexRowContent--mediaPreOrder) .videoElement{
	  width: 450px;
    height: 250px;
  }
}
