.optionsSticky {
  display: none;
}
.content--emailAndPassword {
  display: table;
}
:global(.vtex-modal__confirmation){
  position: relative;  
  right: 4rem;
  padding: 1rem;
}
:global(.vtex-styleguide-9-x-scrollBar) :global(.t-heading-5.pa6){
  position: relative;
  left: 1rem;
  top: 1rem;
}
.content {
  justify-content: center;
}
.backButton {
  display: none;
}
.inputContainerPassword :global(.c-success) {
  color: #8bc34a !important;
}
.tooltipContainer{
  display: none;
}
.sendButton {
  /* background-color: white; */
  width: 50%;
  display: flex;
  justify-content: flex-end;
  z-index: 2;
  padding-top: 0.5em;
  margin-top: -0.5rem !important;
}
.confirmButton {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  z-index: 2;
  padding-top: 0.5em;
  margin-top: -0.5rem !important;
}
.dontHaveAccount {
  pointer-events: none;
}
.dontHaveAccount:hover {
  text-transform: none !important;
}
/* .emailAndPasswordForm {
  background-color: aqua;
} */
.emailAndPasswordForm :global(.vtex-input-prefix__group) {
  width: 19.563rem;
  height: 3.063rem;
  margin: 0.313rem 0 0;
  border-radius: 5px;
  border: solid 1px #eaeaea;
  background-color: rgba(255, 255, 255, 0.6);
}
/* .emailAndPasswordForm  :global(.vtex-input-prefix__group) input {
  width: 24.188rem;
  height: 3.063rem; */
/* margin: 0.313rem 0 0; */
/* padding: 0.625rem 1.875rem 0.688rem 1.25rem;
  border-radius: 5px; */
/* border: solid 1px #eaeaea; */
/* background-color: rgba(255, 255, 255, 0.6);
  font-family: "myriadLight";
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: normal;
  color: #505050;
  text-transform: unset;
} */
.content {
  background-color: #f9f9f9;
  height: auto !important;
  min-height: 26.5rem;
}
.forgotPasswordLink {
  /* width: 12.25rem; */
  /* height: 1.375rem; */
  /* margin: 3.375rem 0 0 7.313rem; */
  font-family: "myriadLight";
  text-decoration: underline;
  font-size: 0.75rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.33;
  letter-spacing: normal;
  text-align: right;
  color: var(--greyish-brown);
}

@media only screen and (max-width: 600px){
  :global(.vtex-modal__confirmation) {
    position: relative;
    right: 0rem;
    padding: 1rem;
  }
}
@media only screen and (min-width: 348px) and (max-width: 600px){
  :global(.vtex-styleguide-9-x-scrollBar .t-heading-5){
    position: relative !important;
    left: -1rem !important;
    top: 1rem !important;
    font-size: 15px !important;
  }
}
@media only screen and (min-width: 320px) and (max-width: 348px){
  :global(.vtex-styleguide-9-x-scrollBar .t-heading-5){
    position: relative !important;
    left: -1rem !important;
    top: 1rem !important;
    font-size: 13px !important;
  }
}
@media only screen and (max-width: 320px){
  :global(.vtex-styleguide-9-x-scrollBar .t-heading-5){
    position: relative!important;
    left: 0.5rem!important;
    top: 1rem!important;
    font-size: 12px!important;
  }
}