.container--mobileIframe {
  display: none;
}
.container--video {
  height: 100%;
  padding: 0 3.75rem 3.75rem;
}
.container--videoConseils {
  height: 100%;
  padding: 0;
}
.container--iframeLandingPage {
  width: 80% !important;
  height: 35rem;
}
/* Media Queries */
@media only screen and(max-width:60rem) {
  .container--mobileIframe {
    width: 80%;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 640px) {
  .container--iframeLandingPage {
    width: 100% !important;
    height: 17rem;
  }
}
