.productSummary {
    padding-bottom: 3rem;
  }

  .buyTogetherTitle {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.25rem;
  }

  .buyTogetherContainer {
    padding: 1rem;
    padding-bottom: 3rem;
  }

  .disabledProduct {
    opacity: 50%;
    pointer-events: none;
  }

  .priceWithoutDiscount {
    font-size: 0.65rem;
    color: #727273;
    text-decoration: line-through;
    font-weight: 600;
  }

  .priceWithtDiscount {
    font-size: 1.25rem;
    font-weight: 600;
  }

  .totalLabel {
    font-size: 1.25rem;
    font-weight: 600;
  }
  @media only screen and (min-width: 1024px) {
    .firstCard--buyTogether {
      margin-top: 3rem;
    }
  }
