.form__container-inputs {
  display: flex;
  width: 100%;
  margin-top: 0.5rem;
}
.form__container-email {
  display: flex;
  width: 100%;
  margin-top: 0.5rem;
}
.form__checkbox {
  margin-bottom: 0.2rem;
}
.form__container-btn {
  width: 100%;
}
.form__container-btn :global(.vtex-button) {
  width: 100%;
  padding: 0.8rem 0;
}
