.image--sticky {
  width: 100px;
  height: 100px;
  margin: auto;
}

/* Media Queries */
@media only screen and (max-width: 1100px) {
  .image--sticky {
    display: none;
  }
}
@media only screen and (max-width: 1100px) {
  :global(.vtex-flex-layout-0-x-flexColChild--addedContainerPdpProduct) .image--sticky {
    display: block !important;
  }
}