.label--breadLink {
  text-decoration: none;
}
.link--stickyLink {
  color: #505050;
  text-transform: uppercase;
  font-family: "myriadRegular";
  border-bottom: 2px solid transparent;
}
 .link--stickyLink:hover {
  border-color: #edb112;
  font-weight: bold;
 }
.label--promoBadgePreOrderLink{
  font-weight: bold;
  text-decoration: underline;
  color: black;
}
.label--terminiPreOrder{
  color: #505050;
  border-bottom-style: solid;
  border-bottom-width: 1.5px;
  cursor: pointer;
  font-size: 0.625rem;
}
.link--preOrderDiscoverMore {
  width: 120px;
}
.linkContainer--preOrderDiscoverMore {
  height: 40px;
  display: flex;
  justify-content: right;
  align-items: center;
}
.linkContainer--preOrderDiscoverMoreFaq {
  display: flex;
  justify-content: center;
}
.label--preOrderDiscoverMore {
  text-transform: none;
  color: #292929;
}
.label--preOrderDiscoverMoreMedia{
  display: flex;
  justify-content: flex-end;
}
.label--preOrderDiscoverMoreProd{
	background-color: #edb112;
  color: #ffff;
  padding: 0.5rem;
  font-weight: 800;
  border-radius: 0.2rem;
}
.link--preOrderDiscoverMoreProd{
  background-color: #edb112;

}
.link--preOrderDiscoverMoreMedia{
  background-color: #edb112;
}
.link--breadLink {
  font-family: "myriadLight";
  font-size: 0.8rem;
  line-height: 22px;
  margin: auto;
  font-weight: 300;
  padding: 0 0.4rem;
  text-transform: uppercase;
  color: #505050;
  text-decoration: none;
}

.linkContainer--footerLinkNormal,
.linkContainer--footerLinkBold {
  padding: 0.25rem 0 0.25rem 1.5rem;
}

.label--footerLinkNormal {
  display: block;
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 0.875rem;
  color: #505050;
  line-height: 1.5rem;
  text-transform: unset;
  letter-spacing: normal;
}

.label--footerLinkBold {
  font-family: "myriadSemibold";
  font-weight: 400;
  font-size: 0.815rem;
  text-transform: uppercase;
  color: #505050;
  line-height: 1.5rem;
}

/*.link {
  text-decoration: none;
  font-family: myriadLight;
    font-weight: 400;
    font-size: .875rem;
    line-height: 1.3125rem;
    color: #505050;
    height: fit-content;
    margin: auto 0;
}*/

.link--productCategory {
  text-align: center;
}

.link--typoLinkPDP {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  color: #505050;
  height: fit-content;
  margin: auto 0;
}
.link--FicheProduitStyle{
  font-family: inherit;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  color: #505050 !important;
  text-decoration: underline !important;
}
.link--FicheProduitStyle:hover{
  color: #505050 !important;
  text-decoration: underline !important;

}
.link--underline {
  text-decoration: underline;

}

.linkContainer--paddingModelName {
  padding: 0.5rem 1rem;
}

.linkContainer--loginIcon {
  display: flex;
}

.linkContainer--newSearchBar {
  position: relative;
  bottom: 1rem;
}

.label--articleCategory {
  position: relative;
  top: 1.15rem;
  margin: 0.5rem;
  text-transform: uppercase;
  color: #fdc100;
  font-weight: 800;
}

.linkContainer--secondColLink {
  text-align: end;
  text-decoration: underline;
  font-weight: 800;
  margin: 1rem;
}

.link--secondColLink {
  color: black;
}

:global(.vtex-flex-layout-0-x-flexRowContent--rowLinkPDPGallery) .linkContainer {
  width: auto;
}

:global(.vtex-flex-layout-0-x-flexCol--noBottomMargin) .linkContainer--postillaButton {
  margin-bottom: unset;
}

/*-------------LINK CARDS-------------*/
.childrenContainer--linkCards {
  margin: 0 0.4rem 1.25rem;
  padding: 2.1875rem 1.25rem;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  /*justify-content: space-around;*/
  text-decoration: none;
  height: 100%;
}

.link--linkCards {
  text-decoration: none;
  outline: none;
  width: 100%;
}

.link {
  text-decoration: none;
}

/*-------------------------------------*/

.link--loginIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(24px + 3.125rem);
}

.link--loginIcon .childrenContainer--loginIcon {
  width: 24px;
  height: auto;
}

.childrenContainer--cardImageMenu {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

/*-----------WISHLIST-------------*/

/* .link--wishlistIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(24px + 3.125rem);
}
.link--wishlistIcon .childrenContainer--wishlistIcon {
  width: 24px;
  height: auto;
}
@media only screen and (max-width: 1024px) {
  .link--wishlistIcon {
    width: auto;
  }
} */
/*-----------BREAD-------------*/
.label--breadLink {
  text-decoration: none;
}

.link--breadLink {
  font-family: "myriadLight";
  font-size: 0.8rem;
  line-height: 22px;
  margin: auto;
  font-weight: 300;
  padding: 0 0.4rem;
  text-transform: uppercase;
  color: #505050;
  text-decoration: none;
}

.link--breadLink:hover {
  color: #fdc100;
}

.link--warrantyLink {
  text-transform: uppercase;
  font-weight: 600;
  font-family: "myriadSemibold";
  color: #505050;
}

.link--warrantyLink2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.875rem;
  font-family: "myriadSemibold";
  color: #505050;
}

.link--dep {
  pointer-events: none;
  /* text-decoration: underline; */
}

.link--typoLinkPDP:hover {
  color: #fdc100;
}

.childrenContainer--tabPDP {
  display: flex;
  justify-content: center;
}

.link--fitContent {
  height: fit-content;
  margin: auto 0 auto 0;
  /*.5rem;*/
}

.linkContainer--tabPDP :global(.vtex-store-components-3-x-imageElement) {
  max-width: 1rem;
}

.linkContainer--promoPDP {
  margin-bottom: 1rem;
}

.childrenContainer--maxWidthLinkCardAlone {
  background-color: white;
}

.link--cardLinkBottom {
  width: 100%;
}

.childrenContainer--cardLinkBottom {
  width: 100%;
}

:global(.vtex-flex-layout-0-x-flexRowContent--rowLinkPDPGallery) .linkContainer--typoLinkPDP {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.link--colonnaMenuSupportoLast {
  font-family: "myriadSemibold";
  font-weight: 400;
  color: #505050 !important;
  font-size: 0.875rem;
  line-height: 1.2;
  margin-top: 0;
  padding-left: 1rem;
  text-transform: none;
  letter-spacing: 0;
  cursor: pointer;
  color: inherit;
}

.link--colonnaMenuSupportoLast-light {
  display: block;
  font-family: "myriadLight";
}

.link--colonnaMenuSupportoLast:hover::before {
  content: "";
  width: 0;
  transition: width 0.7s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  height: 0.125rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fdc100;
}

.linkContainer--postillaButton {
  margin-bottom: 3.75rem;
}

.linkContainer--marginButtonWColl {
  margin: 0;
  margin-bottom: 1.875rem;
}

/*thank u page*/
.linkContainer--backHomeLink {
  padding: 2rem;
  display: flex;
  justify-content: center;
  border-radius: 3px;
}

.link--backHomeLink {
  background-color: #f9f9f9;
  padding: 1rem 2.5rem;
}

.label--backHomeLink {
  color: #505050;
  position: relative;
}

.label--backHomeLink::before {
  content: url(https://frwhirlpool.vtexassets.com/assets/vtex/assets-builder/frwhirlpool.whl-theme/3.0.13/back_arrow___f21b11a8bb3f1d084947d36c3294e717.png);
  position: absolute;
  left: -2rem;
}

.linkContainer--postillaButtonLanding,
.linkContainer--postillaButtonLandingWhite {
  margin: 0 1rem 3.75rem 1rem;
}

.buttonLink--postillaButtonLandingWhite {
  background-color: transparent;
  border: 1px solid #aeaeae;
  border-radius: 0.3125rem;
  color: #aeaeae;
}

.buttonLink--postillaButtonLandingWhite:hover {
  background-color: #ffffff;
  border: 1px solid #fdc100;
  color: #fdc100;
}

.linkContainer--tabPDP {
  padding: 0 2rem;
}

:global(.vtex-flex-layout-0-x-flexColChild--col-tertiary) .linkContainer--tabPDP {
  padding: 0 2rem;
  display: none !important;
}

.link--backWishlist::before {
  content: "";
  display: inline-block;
  background-image: url(https://frwhirlpool.vtexassets.com/assets/vtex/assets-builder/frwhirlpool.whl-theme/3.0.13/back_arrow___f21b11a8bb3f1d084947d36c3294e717.png);
  width: 25px;
  height: 10px;
  background-repeat: no-repeat;
}

.label--backWishlist {
  color: #fdc100;
  font-family: myriadLight;
  font-weight: 500;
  letter-spacing: 0;
  font-size: 0.875rem;
}

.linkContainer--backWishlist {
  padding-top: 1rem;
  padding-left: 1rem;
}

.linkContainer--promoPDP {
  display: contents;
}

.childrenContainer--promoPDP {
  margin-bottom: 0.5rem;
}

.childrenContainer--bannerBottomPLP {
  height: 10rem;
  position: relative;
  margin: 0 1rem;
  display: flex;
  margin-bottom: 1rem;
}

.childrenContainer--bannerBottomPLP::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #333;
  opacity: 0.5;
  z-index: 2;
}

.linkContainer--accordion {
  margin: 1em 0;
}

.label--accordion {
  font-family: "myriadSemibold";
  font-weight: 400;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #505050;
  line-height: 1.5rem;
}

.label--accordionSecond {
  display: block;
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 0.875rem;
  color: #505050;
  line-height: 1.5rem;
  text-transform: unset;
  letter-spacing: normal;
  margin: 0.6rem 0;
}

.linkContainer--fixedChat {
  position: fixed;
  right: 10%;
  border-radius: 50%;
  background-color: #edb112;
  padding: 10px;
  z-index: 999;
}

.linkContainer--top90 {
  top: 90%;
}

.linkContainer--top80 {
  top: 80%;
}

.linkContainer--fixedChat:hover {
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
}

.linkContainer--fixedChat :global(.vtex-store-components-3-x-imageElement--supportoCardIcon) {
  margin-bottom: unset;
}

.childrenContainer--bannerBlackFridayBottom {
  flex-direction: column;
  background-color: #f2f2f2;
  border-bottom: 3px solid #edb112;
  box-sizing: border-box;
  height: 15rem;
  position: relative;
  margin: 0 1rem;
  margin-bottom: 1rem;
  padding-left: 1rem;
}

.linkContainer--pagodilButton {
  margin: 1rem;
  text-align: center;
}

.childrenContainer--bannerBlackFridayBottomLast {
  background-color: #ffffff !important;
}

.linkContainer--scopriDiPiuLink {
  margin-top: 1rem;
  max-width: calc(1520px - 0.5rem);
  justify-content: flex-start;
  display: flex;
  margin-right: 50px;
}

.link--scopriDiPiuLink {
  max-width: 12em;
  min-width: 9em;
  font-size: 0.9rem;
  background: #edb112;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "myriadSemibold";
  border-radius: 5px;
  color: white !important;
}

.link--scopriDiPiuLink:hover {
  background-color: rgba(237, 177, 18, 0.8);
}

.label--scopriDiPiuLink {
  padding: 0.5rem;
  margin: auto;
}

.linkContainer--cardImageMenu,
.childrenContainer--cardImageMenu,
.link--cardImageMenu {
  height: 100%;
}

.link--cardImageMenu {
  display: block;
}

.link--popupHome {
  border-color: #fff;
}

.link--popupHome:hover {
  border-color: #fff !important;
}

/* OOW POPUP LINK */
.linkContainer--oowPopupButton {
  display: flex;
  justify-content: center;
}

.link--oowPopupButton {
  display: flex;
  justify-content: center;
  padding: 0.8rem 3rem;
  max-width: 15em;
  min-width: 9em;
  font-size: 0.9rem;
  background: #edb112;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "myriadSemibold";
  border-radius: 5px;
  color: white !important;
}

.link--oowPopupButton:hover {
  background-color: rgba(237, 177, 18, 0.8);
}

/* BLACK FRIDAY */
.link--blackFridayDiscoverMore {
  width: 120px;
}

.linkContainer--blackFridayDiscoverMore {
  display: flex;
  width: 120px !important;
  align-items: center;
  border-bottom: 2px solid #e1e1e1;
  position: relative;
  height: 40px;
  right: 54px;
}

.linkContainer--bfDiscoverMoreFaq {
  display: flex;
  justify-content: center;
}

.label--blackFridayDiscoverMore,
.label--bfDiscoverMoreFaq {
  text-transform: none;
  color: #292929;
}

/* BLACK FRIDAY */
.link--blackFridayDiscoverMore {
  width: 120px;
}

.linkContainer--blackFridayDiscoverMore {
  display: flex;
  width: 120px !important;
  align-items: center;
  border-bottom: 2px solid #e1e1e1;
  position: relative;
  height: 40px;
  right: 54px;
}

.linkContainer--bfDiscoverMoreFaq {
  display: flex;
  justify-content: center;
}

.label--blackFridayDiscoverMore,
.label--bfDiscoverMoreFaq {
  text-transform: none;
  color: #292929;
}

.linkContainer--otherProductCarousel {
  display: flex;
  justify-content: center;
}
:global(.vtex-flex-layout-0-x-flexRowContent--stockAndEtichetteBundlesCard) .label--FicheProduitStyle {
  font-size: .8rem;
}

/* PRE ORDER PAGE */
.linkContainer--stickyLink {
  margin-right: 3.25rem;
}
.linkContainer--underFirstSectionButton {
  border: 2px solid #fdc100;
  border-radius: 5px;
  padding: 1rem;
  transition: all 0.3s ease;
}
.linkContainer--underFirstSectionButton:hover {
  border: 2px solid #fdc100;
  background-color: #fdc100;
  transition: all 0.3s ease;
}
.linkContainer--underFirstSectionButton:hover .label--underFirstSectionButton {
  color: #fff;
  transition: all 0.3s ease;
}
.label--underFirstSectionButton {
  transition: all 0.3s ease;
  text-transform: uppercase;
  color: #fdc100;
  font-size: 0.875rem;
  font-weight: bold;
}
.buttonLink--preOrderDiscoverMoreFaq {
  transition: all 0.3s ease;
}
.buttonLink--preOrderDiscoverMoreFaq:hover {
  background-color: transparent;
  transition: all 0.3s ease;
}
.buttonLink--preOrderDiscoverMoreFaq:hover .label--preOrderDiscoverMoreFaq {
  color: #fdc100;
  transition: all 0.3s ease;
}
.label--preOrderDiscoverMoreFaq {
  color: #fff;
  font-size: 0.875rem;
  text-transform: uppercase;
  font-family: "myriadLight";
  padding: 1.25rem 3.75rem;
  transition: all 0.3s ease;
}
.label--cta-under-countdown {
  font-size: 0.875rem;
}
:global(.vtex-sticky-layout-0-x-wrapper--stickyMenuButton--stuck) .buttonLink--cta-under-countdown {
    width: 100%;
    border-radius: 0;
    box-shadow: 0px -1px 8px 0px #0000004d;
}
:global(.vtex-sticky-layout-0-x-wrapper--stickyMenuButton--stuck) .buttonLink--cta-under-countdown:hover {
  background-color: #edb112;
}
.label--cta-under-countdown,
.label--stickyButton {
  padding: 1rem 3rem;
}
.linkContainer--terminiPreOrder {
  margin-top: 0.625rem;
  font-size: 0.625rem;
}
/* Media Queries */
@media only screen and (min-width: 1600px) {
  .linkContainer--scopriDiPiuLink {
    margin: auto;
    padding: unset;
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 400px) {
  .label--promoBadgePreOrderLink{
    font-size: 12px;
  }
}

@media only screen and (max-width: 1100px) {
  .linkContainer--postillaButtonGatePageHub {
    position: unset;
    margin-bottom: 4rem;
  }
  .linkContainer--preOrderDiscoverMore {
    right: 5px;
    top: 40px;
  }
  .linkContainer--blackFridayDiscoverMore {
    right: 5px;
    top: 40px;
  }
}

@media only screen and (max-width: 1024px) {
  .linkContainer--scopriDiPiuLink {
    margin: 0 0 3rem 0;
    padding: unset;
    justify-content: center;
  }

  .link--loginIcon {
    width: auto;
  }

  .linkContainer--fixedChat {
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
    padding: 10px 5px;
  }
  .linkContainer--stickyLink {
    margin-right: 0;
  }
  .label--stickyLink {
    font-size: 0.875rem;
  }
  .linkContainer--terminiPreOrder {
    margin-top: 1.625rem;
    font-size: 1.625rem;
  }
  .linkContainer--stickyLink {
    margin-right: 0;
  }
  .label--stickyLink {
    font-size: 0.875rem;
  }
}

@media only screen and (max-width: 1000px) {
  .link--warrantyLink2 {
    font-size: 0.7rem;
  }

  .linkContainer--discontinuedButton {
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .linkContainer--bannerBottomPLP {
    width: 100%;
  }

  .linkContainer--tabPDP {
    padding: 0;
    width: 100%;
  }

  .label--articleCategory {
    top: 1rem;
  }

  .link--typoLinkPDP {
    font-size: 0.75rem;
    text-decoration: underline;
    color: black;
  }

  .label--warrantyLink2 {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }

  .linkContainer--postillaButton {
    margin-bottom: 6.875rem;
  }
}

@media screen and (max-width: 668px) {
  .linkContainer--fixedChat {
    padding: 7px 2px;
  }

  .link--backHomeLink {
    padding: 1rem 1.5rem;
  }

  .label--backHomeLink::before {
    left: -1rem;
  }

  .childrenContainer--tabPDP {
    display: flex;
    justify-content: flex-start;
  }
}

@media screen and (min-width: 768px) {
  .linkContainer--postillaButtonGatePageHub {
    position: absolute;
    right: 6.5rem;
    bottom: 9rem;
  }

  .linkContainer--postillaButton2GatePageHub {
    position: relative;
    bottom: 3rem;
    float: right;
    right: 4.5rem;
  }

  .buttonLink--postillaButton2GatePageHub,
  .buttonLink--postillaButtonGatePageHub {
    width: 15rem;
  }
}
@media only screen and (max-width: 640px) {
  :global(.vtex-flex-layout-0-x-flexColChild--timerPreOrderMobile) .linkContainer--terminiPreOrder{
    padding-top: 0rem;
    padding-left: 3rem;
  }
  :global(.vtex-flex-layout-0-x-flexColChild--timerPreOrderMobile) .label--terminiPreOrder{
    color: #ffff;
  }
  .linkContainer--stickyLink {
    text-align: center;
  }
}
@media only screen and (max-width: 400px) {
  .label--stickyButton {
    padding: 0 0.5rem;
  }
}
