/* 
  NEWSLETTER FORM 
*/
/* Main container */
.container__form {
  background-color: #f2f2f2;
  min-height: 100% !important;
}
/* Title */
.form__title {
  font-family: "myriadRegular";
  font-size: 2rem;
}
/* Subtitle */
.headingLevel4 {
  margin: 0.5rem auto 1rem auto;
  text-align: center;
  font-family: myriadRegular;
  font-size: 1rem;
  font-weight: 800;
}
/* Form inputs */
.container__form-input {
  min-height: 65px;
}
.container__form-input :global(.vtex-input-prefix__group) {
  border: none;
}
.container__form-input--error :global(.vtex-input-prefix__group) {
  border: 2px solid #ff4c4c;
}
.container__form-input :global(.vtex-styleguide-9-x-input) {
  line-height: initial;
}
.container__form-input :global(.vtex-input__error) {
  margin-top: 0.2rem;
}
/* Privacy section */
.container__text-privacy .paragraph {
  line-height: 1;
  margin: 0.6rem 0;
  font-size: 0.9rem;
}
.link {
  text-decoration: none;
  color: #fdc100;
}
/* Privacy checkbox */
.container__form-checkbox .paragraph {
  line-height: 1;
  margin: 0;
  text-align: justify;
  font-size: 0.7rem;
}
.container__form-checkbox--error :global(.vtex-checkbox__box-wrapper) {
  border: 1px solid #ff4c4c;
}
.container__form-checkbox--error {
  background: white;
  padding: 0.5rem;
  outline: #ff4c4c solid 2px;
  border-radius: 0.25rem;
}
/* After submit messages */
.text__message-success {
  color: #fdc100;
  font-weight: 400;
}
/* 
  ----------------------------
*/

/* 
  NEWSLETTER BUTTON 
*/
/* .container__btn :global(.vtex-button) {
  transition: all 0.5s ease-in-out;
  border-radius: 11px;
} */
/* 
  -----------------------------
*/

/* 
  NEWSLETTER AUTOMATIC POPUP 
*/
:global(.vtex-modal__modal) {
  max-width: 46rem !important;
  border-radius: 2rem;
  overflow-x: hidden;
  padding: unset !important;
}
:global(.vtex-styleguide-9-x-scrollBar) {
  padding: 0rem !important;
}
/* 
  -----------------------------
*/
