.generalContainer{
  padding: 0 2rem;
}
/* :global(.vtex-breadcrumb-1-x-container){
  margin: 1rem 0rem;
} */
.container a, .groupContainer a {
  text-decoration: none;
}
.titleSection{
  text-align: center;
}
.imageGroups{
  width: 5rem;
  padding: 0.5rem;
}
.noBackground{
  background: unset !important;
}
.span{
  width: 30rem;
}
.spanQuestion{
  display: flex;
  justify-content: space-between;
}
.searchFAQTitle{
  text-align: center;
}
.hrUnderSearchBar{
  margin: 0 3.125rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  border-top: solid 2px;
}
.searchBar{
  display: flex;
  width: 80%;
}
.searchBar :global(.bg-action-primary){
  margin: 0 1rem;
}
/* .searchBar :global(.bg-danger){
  margin: 0rem 2rem;
} */
.containerSearchBareButton{
  display: flex;
  padding-left: 2rem;
  /* justify-content: space-between; */
}
.noResult{
  margin: 0 auto;
  padding: 3rem;
}
.containerSearchFAQ{
  margin: 1rem 2rem;
  width: unset;
}
/* img{
  width: 24px;
} */
.readCompleteAnswer{
  font-family: myriadSemibold,Arial;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #edb112;
  float: right;
  position: relative;
  left: 3rem;
}
.mostFrequentContainer{
  border: unset;
  width: 85%;
  padding: 0rem;
  padding-left: 1rem;
  margin: 0 auto;
}
.firstCol{
  width: 40%;
  float: left;
  /* position: relative;
  left: 6rem; */
}
.secondCol{
  width: 40%;
  float: right;
  /* right: 8rem;
  position: relative; */
}
.mostFrequentSingleContainer{
  background: #f2f2f2;
  padding: 0rem 0.7rem;
  height: auto;
  width: 100%;
  float: left;
  margin: 1rem;
}
.questionMostFrequent{
  /* display: flex; */
  font-size: 14px;
  font-weight: 600;
  /* justify-content: space-between; */
}
.buttonDetailQuestion{
  border: none;
  background-color: unset;
  font-size: 1.5rem;
  cursor: pointer;
  float: right;
  position: relative;
}
.buttonOpenGroup {
  margin-left: 0.75rem;
  font-weight: 700;
}
.backToTopButton {
  background-color: #edb112;
  width: 48px;
  height: 48px;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 50%;
  bottom: 5rem;
  right: 4rem;
  z-index: 9;
}
.mostFrequentSingleContainerOpen{
  height: auto;
  padding: 1rem;
  width: 100%;
  float: left;
  margin: 1rem;
  background: #f2f2f2;
  border-bottom: .125rem solid #edb112;
}
.answerMostFrequent{
  margin-right: 5rem;
  text-align: justify;
}
.FAQMoreFrequentTitle{
  margin: 0 3.125rem;
}
.textDecoration{
  text-decoration: none;
}
.domandeFrequentiTitleContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
.domandeFrequentiTitle{
  /* position: relative;
  bottom: 1rem; */
  color: #000000;
  font-family: "myriadLight",Arial;
  /* text-align: left; */
  font-size: 2.25rem;
  padding: 0 2.5rem;
}
.tag{
  scroll-margin-top: 93px;
  color: #353535;
  cursor: pointer;
  display: block;
  padding: 0.5rem 1.0625rem;
  background: #f2f2f2;
  transition: all 0.5s;
  border-radius: 5px;
  text-transform: capitalize;
  box-sizing: border-box;
  font-family: myriadLight, Arial;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.2;
  width: max-content;
}
.tagSelected{
  scroll-margin-top: 93px;
  color: #edb112;
  cursor: pointer;
  display: block;
  padding: 0.5rem 1.0625rem;
  /* margin-top: 3rem; */
  background: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 5px;
  border: 0.12rem solid #edb112;
  text-transform: capitalize;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "myriadRegular", Arial;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.2;
  width: max-content;
}
.verticalContainer{
  width: 32%;
}
.verticalGeneralContainer{
  flex-wrap: wrap;
  display: flex;
  /* justify-content: space-between; */
}
.container, .groupContainer {
  display: flex;
  flex-direction: row;
  padding-right: 1.25rem;
  padding-left: 1.25rem;
  margin: 0 auto;
  /* min-width: 1539px; */
}
.groupContainer {
  /* gap: 5rem; */
  padding-top: 2.5rem;
  justify-content: center;
  padding-bottom: 2.5rem;
}
.groupList {
  display: block !important;
  width: 120px;
  padding-top: 1.5rem;
}
.groupListItem {
  margin: 0.15rem 0 !important;
  font-size: 1rem !important; 
  list-style-type: disc !important;
  line-height: 1.15 !important;
}
.groupListItem a {
  color: #505050;
  text-decoration: none;
}
.groupListItem a:hover {
  color: #edb112;
}
.container {
  flex-wrap: wrap;
}
.singleAnswer > div > a{
  text-decoration: underline;
	color: #edb112;
}
.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
.buttonContainer > a {
  margin: 0.5rem;
}

.categoryList {
  width: 800px;
  max-width: 90%;
  justify-content: space-between;
  margin-bottom: 5rem !important;
}
.categoryFilter {
  margin: 0 0.75rem;
  max-width: 222px;
}
.categoryContainer {
  border: 1px solid #353535;
}
.categoryImage {
  width: 222px;
  height: 144px;
  display: block;
}
.categoryImageAlt {
  color: #353535;
  font-family: myriadLight, Arial;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2;
  padding: 0 0.5rem;
  margin: 0.5rem 0 0;
  min-height: 58px;
  /* height: 40px; */
}
.categoryButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.75rem;
}
.categoryButtonContainer button {
  left: unset !important;
  width: 100%;
}

.m-faq-list__title {
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 2.25rem;
  color: #505050;
  margin-bottom: 2.5rem;
}

.m-faq-list__text {
  padding: 0 1.5625rem;
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #505050;
}

.m-faq-list__text b,
.m-faq-list__text strong {
  font-family: "myriadSemibold", Arial;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
}
.filtersFirstLevel{
  padding-bottom: unset !important;
}
.filters {
  padding-top: 1.875rem;
  padding-bottom: 2.5rem;
  color: #353535;
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  overflow-x: hidden;
}
/* .filters span {
  margin-bottom: 0.9375rem;
} */
.faqsContainer{
  display: flex;
  flex-wrap: wrap;
}

.domandaContainer a,
.domandaContainer a:hover {
  text-decoration: none;
}

.domandaContainer {
  position: relative;
  background: #f2f2f2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0.875rem auto;
  width: 100%;
  height: auto;
  display: block;
  border-bottom: 0.125rem solid #edb112;
  min-width: auto;
  padding: 0;
}
.domandaContainerLessThan3 {
  position: relative;
  background: #f2f2f2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0.875rem;
  width: 31%;
  height: auto;
  display: block;
  border-bottom: 0.125rem solid #edb112;
  min-width: auto;
}

.question {
  padding: 1.5625rem;
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 1;
  color: #000;
  min-width: auto;
}

.shortAnswer {
  padding: 0 1.5625rem 2.8125rem 1.5625rem;
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #000;
}

.readMore {
  font-family: "myriadSemibold", Arial;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #edb112;
  position: absolute;
  bottom: 0.625rem;
  right: 1.5625rem;
}

.filters {
  padding-top: 1.875rem;
  padding-bottom: 2.5rem;
  color: #353535;
  font-family: myriadLight, Arial;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.filterPer {
  margin-bottom: 0.9375rem;
  width: 7rem;
}

.filterWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-left: 0px;
}
.borderWrapper{
  border-bottom: 1px solid;
  border-top: 1px solid;
}

.filtersContainer :global(.vtex-button) {
  position: static;
  margin-bottom: 0.5rem;
}

.filterWrapper ul {
  display: flex;
  padding-left: 0px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.filterWrapper ul li {
  list-style-type: none;
  margin: 0.5rem 0.2rem;
}

/* .filterWrapper ul li:last-child {
  margin: 0;
} */

.filterWrapper ul li .filter {
  color: #353535;
  cursor: pointer;
  display: block;
  padding: 0.5rem 1.0625rem;
  background: #f2f2f2;
  transition: all 0.5s;
  border-radius: 5px;
  text-transform: capitalize;
  box-sizing: border-box;
  font-family: myriadLight, Arial;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.2;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.filterWrapper ul li .selectedFilter {
  color: #edb112;
  cursor: pointer;
  display: block;
  padding: 0.5rem 1.0625rem;
  background: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 5px;
  border: 0.12rem solid #edb112;
  text-transform: capitalize;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "myriadRegular", Arial;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.2;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.singleQuestion {
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 2.25rem;
  color: #505050;
  margin-bottom: 2.5rem;
  margin-top: 0;
}
.singleAnswer {
  padding: 0 1.5625rem;
  font-family: myriadLight, Arial;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #505050;
  padding-bottom: 2rem;
  width: 80%;
  margin: auto;
}

.singleAnswer b,
.singleAnswer strong {
  font-family: "myriadSemibold", Arial;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
}

.faqPage {
  text-align: center;
  /* width: 100%; */
  margin: 0 5rem;
  /* max-width: 66%; */
  flex: 1;
}
.otherFaqs, .otherGroups {
  width: 150px;
  max-width: 20%;
}
.otherFaqsTitle {
  margin-top: 0;
  font-weight: 400;
  font-size: 1.15rem;
}
/* .otherFaqsList {
  padding-left: 1rem;
} */
.otherFaqsListItem {
  margin: 0.15rem 0;
  font-size: 1rem; 
}
.otherFaqsLink {
  color: #505050;
  text-decoration: none;
}
.otherFaqsLink:hover {
  color: #edb112;
}

.buttonText {
  margin: 2.5rem 0.625rem 0 0.625rem;
}

.loaderForm {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #edb112;
  background: -moz-linear-gradient(
    left,
    #edb112 10%,
    rgba(237, 177, 18, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    #edb112 10%,
    rgba(237, 177, 18, 0) 42%
  );
  background: -o-linear-gradient(left, #edb112 10%, rgba(237, 177, 18, 0) 42%);
  background: -ms-linear-gradient(left, #edb112 10%, rgba(237, 177, 18, 0) 42%);
  background: linear-gradient(to right, #edb112 10%, rgba(237, 177, 18, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loaderForm:before {
  width: 50%;
  height: 50%;
  background: #edb112;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}
.loaderForm:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.breadcrumb {
  display: block;
}

.breadcrumbText {
  /* align-items: center;
  display: flex; */
  padding: 0rem 1rem;
}

.breadcrumbItem {
  list-style-type: none;
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.2;
  color: #505050;
  /* display: flex; */
  height: 100%;
  padding: 0;
  display: inline;
  /* -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row; */
  text-transform: uppercase;
}

.breadcrumbItem a {
  color: #505050;
  text-decoration: none;
  height: 100%;
  /* display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; */
  position: relative;
  width: 100%;
  white-space: normal;
  word-break: break-all;
  word-wrap: break-word;
  hyphens: auto;
}
.breadcrumbItem:nth-child(2) a {
  white-space: nowrap;
}

.breadcrumbItem a:hover {
  color: #edb112;
}

.breadcrumbItem:after {
  content: ">";
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.breadcrumbItem:last-child a {
  cursor: initial;
}

.breadcrumbItem:last-child:after {
  display: none;
}

.ie .breadcrumb .breadcrumbItem:after {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: ruby-base;
}

.ie .breadcrumb .breadcrumbText {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/* ---------- MEDIA QUERY ---------- */
@media (min-width: 600px) {
  .m-faq-list__title {
    font-family: "myriadLight", Arial;
    font-weight: 400;
    font-size: 2.125rem;
    line-height: 1.625rem;
  }
  .domandaContainer {
    width: 48.5%;
    margin-bottom: 1%;
  }
  .domandaContainer--sizer {
    width: 48.5%;
  }
  .question {
    font-family: "myriadLight", Arial;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.75rem;
  }
  .shortAnswer {
    font-family: "myriadLight", Arial;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  .readMore {
    font-family: "myriadSemibold", Arial;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  .filters {
    overflow: hidden;
  }
  /* .filterWrapper ul {
    flex-wrap: nowrap;
  } */
  .singleQuestion {
    font-family: "myriadLight", Arial;
    font-weight: 400;
    font-size: 2.125rem;
    line-height: 2.25rem;
  }
}

@media (min-width: 1025px) {
  .container--FaqTitle {
    padding: 0 3.125rem;
  }
  .container--no-padding {
    padding: 0;
  }
  .container--full {
    padding: 0;
    max-width: none;
  }
  .m-faq-list__filter {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
  .m-faq-list__filter span {
    margin-bottom: 0;
  }
   .domandaContainer {
    width: 31%;
    margin-bottom: 1.875rem;
  }
  .domandaContainer--sizer {
    width: 32%;
  }
  .filters {
    flex-direction: column;
    margin: 0 auto;
    padding: 0rem 8rem;
  }
  .filtersFirstLevel {
    padding: 0;
  }
  .filters span {
    margin-bottom: 0;
  }
  .filterWrapper {
    width: auto;
  }
  .filtersContainer {
    padding: 0 1.25rem;
  }
  .groupContainer {
    padding-top: 6.25rem;
    padding-bottom: 1.5rem;
  }
  .breadcrumb {
    display: block;
  }
  .firstCol{
    width: 40%;
    float: left;
    position: relative;
    left: 3rem;
  }
  .secondCol{
    width: 40%;
    float: right;
    right: 8rem;
    position: relative;
  }
  .containerSearchFAQ{
    margin: 0 auto;
    width: 40%;
  }
}

@media only screen and (max-width: 1024px) {
  .groupContainer {
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: unset;
    /* gap: 2.5rem; */
  }
  .faqPage {
    order: 1;
    margin-bottom: 4rem;
    margin-left: 0;
    margin-right: 0;
  }
  .otherFaqs {
    width: 100%;
    max-width: unset;
    padding: 0 2rem;
  }
  .otherFaqs {
    order: 2;
  }
  .otherGroups {
    display: none;
  }
  /* .otherFaqsList {
    margin-bottom: 2rem;
  } */
  .buttonContainer {
    margin-bottom: 3rem;
  }
}

@media only screen and (max-width: 825px) {
  .categoryList {
    justify-content: center;
  }
  .categoryFilter {
    margin-top: 1.5rem !important;
  }
}

@media (max-width: 600px) {
  .hrUnderSearchBar{
    margin: 1rem 2.125rem;
    border-top: solid 2px;
  }
  .containerSearchBareButton{
    margin: 0 auto;
    padding: unset;
  }
  .filterWrapper ul li .filter{
    font-size: 1.1rem;
    width: 6rem;
  }
  .filterWrapper ul li .selectedFilter{
    font-size: 1.1rem;
    width: 6rem;
  }
  .filterWrapper ul {
    flex-wrap: nowrap;
    margin-bottom: 0;
  }
  .categoryList {
    flex-wrap: wrap !important;
    justify-content: center;
  }
  .container{
    min-width: 335px;
  }
  .filters{
    overflow: hidden;
    padding: 0;
  }
  .filterWrapper {
    overflow-x: scroll;
  }
  .filterWrapper::-webkit-scrollbar{
    display: none;
  }
  .domandeFrequentiTitle{
    padding: 0 2rem;
    bottom: 0rem;
  }
  .domandaContainerLessThan3{
    width: 100%;
  }
  /* button{
    width: 4rem;
    margin: 0 5px;
  } */
  .searchBar :global(.bg-action-primary){
    margin: 0 5px;
    width: 4rem;
  }
  .resetButton :global(.bg-danger) {
    width: 4rem;
  }
  /* .searchBar :global(.bg-danger){
    margin: auto;
  } */
  .searchBar :global(.vtex-styleguide-9-x-input){
    font-size: 13px;
  }
  .mostFrequentContainer{
    margin: unset;
    display: unset;
    flex-wrap: unset;
    justify-content: unsafe;
  }
  .mostFrequentSingleContainer{
    border: unset;
    width: 90%;
    height: auto;
    padding: 0rem;
    padding: 0rem 1rem;
  }
  .mostFrequentSingleContainerOpen{
    width: 90%;
    height: auto;
  }
  .buttonDetailQuestion{
    position: relative;
    cursor: pointer;
  }
  .answerMostFrequent{
    /* margin-right: unset;
    text-align: unset;
    border-bottom: .125rem solid #edb112;
    padding: 1rem;
    background: #f2f2f2; */
    width: 90%;
  }
  .questionMostFrequent{
    border-bottom: unset;
    background: #f2f2f2;
    font-size: 1.2rem;
  }
  .FAQMoreFrequentTitle{
    margin: 0.5rem 1.125rem;
  }
  .readCompleteAnswer{
    font-family: myriadSemibold,Arial;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #edb112;
    position: relative;
    left: 1rem;
    bottom: 0rem;
  }
  .spanQuestion{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
  }
  .firstCol{
    width: unset;
    float: unset;
    position: unset;
  }
  .secondCol{
    width: unset;
    float: unset;
    right: unset;
    position: unset;
  }
  .backToTopButton {
    bottom: 2rem;
    right: 2rem;
  }
}