.reviews {
}

.reviewsTitle {
}

.ratingSummary {
}

.ratingSummaryContainer {
}

.ratingSummaryStars {
}

.ratingSummaryStars--loading {
}

.containerInline{
  
}

.ratingSummaryWrite {
}

.ratingInline {
}

.reviewForm {
}

.ratingStars {
}

.ratingStarsInactive {
  color: #eee;
}

.ratingStarsActive {
}

.histogramStarContainer {
  min-width: 30px;
}

.histogramOuterContainer {
}

.histogramContainer {
}

.histogramLine {
}

.histogramStar {
}

.histogramBar {
}

.histogramBarValue {
}

.histogramCount {
}

.secondaryHistogramLine {
}

.secondaryHistogramLabel {
}

.secondaryHistogramBar {
}

.secondaryHistogramBarValue {
}

.secondaryHistogramCount {
}

.reviewHistogramBar {
}

.reviewHistogramBarValue {
}

.histogramDivisions {
}

.QnAContainer {
}

.review {
}

.reviewRating {
}

.reviewTitle {
}

.reviewSubmittedField {
}

.reviewByField {
}

.reviewFromField {
}

.reviewText {
}

.clientResponseContainer {
}

.clientResponse {
}

.clientResponseDepartment {
}

.clientResponseMessage {
}

.clientResponseType {
}

.clientResponseName {
}

.clientResponseSource {
}

.clientResponseSource {
}

.clientResponseDate {
}

.reviewImagesContainer {
}

.reviewImage {
  cursor: pointer;
}

.reviewsContainer {
}

.reviewsContainerHead {
}

.reviewsContainerTitle {
}

.reviewsContainerDropdowns {
}

.reviewsContainerSortDropdown {
}

.reviewsContainerStarsDropdown {
}

.reviewsContainerWriteButton {
}

.noReviewsContainer {
}

.writeReviewButton {
}

.activeStar {
}

.ratingSummaryTotal{
  color: #505050;
}
.activeStarContainer {
  color:#505050;
}

.inactiveStar {
  color: #eee;
}

.inactiveStarContainer {
}
.containerLink{

}
.linkReviews{
  color: #505050!important;
  text-decoration: underline;
}
.titleContainer{
  display: flex;
  justify-content: space-between;
}
.incentivedReview{
  align-items: center;
  display: flex;
}
.imageReviewIncentived{
  width: 1rem;
  margin-right: .250rem;
}
.legalInformativeText {
  font-size: 0.875rem;
}
.legalInformativeLink {
  color: #2e3538;
}
@media only screen and (max-width: 1100px){
  .containerLink{
    display: none;
  }
}
@media only screen and (max-width:600px){
  .incentivedReviewTitle{
    max-width: 50%;
    word-wrap: break-word;
  }
}