form.product-service fieldset.form-inline,
tr.item-service,
.add-service-container {
  display: none !important; }

.custom-extra-services {
  background: #f9f9f9;
  width: 100%;
  padding: 1rem;
  border-top: 1px solid #c9c9c9;
  border-bottom: 3px solid #000;
  width: 100% !important;
  position: static !important;
  min-width: 250px;
  top: calc(100% - 200px);
  left: 0;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap; }

.containerCheckbox {
  display: flex;
  flex-wrap: wrap; }

.extra-services-checkbox {
  flex: 100% 0;
  margin: 0.5rem 0.5rem; }

.extra-services-label {
  padding: 0.5rem;
  background: white;
  border-radius: 5px;
  display: flex;
  color: #505050;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem; }

.extra-services-price {
  display: none; }

.title-custom-extra-services {
  line-height: 1.625rem;
  color: #353535;
  font-size: 0.9rem;
  display: block;
  order: -1;
  width: 100%; }

.title-custom-extra-services i {
  display: none; }

.tooltip {
  position: relative;
  display: inline-block;
  opacity: 1;
  margin-left: 0.5rem;
  align-items: center;
  display: flex;
  z-index: unset; }

.tooltip .tooltiptext {
  visibility: hidden;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  width: 15rem;
  color: #505050;
  padding: 1rem;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%; }

.tooltip:hover .tooltiptext {
  visibility: visible; }

.extra-services-preselected {
  position: relative; }

.price-strike {
  text-decoration: line-through;
  padding-right: 15px; }

@media only screen and (max-width: 600px) {
  .service-name {
    max-width: 50%; } }

@media only screen and (max-width: 1023px) {
  .tooltip {
    display: none !important; } }

.table.cart-items tbody tr td .product-service {
  position: static; }

@media screen and (max-width: 690px) {
  .table.cart-items tbody tr td .product-service {
    top: 170px;
    position: absolute; } }

@media screen and (max-width: 567px) {
  .table.cart-items tbody tr td .product-service {
    top: 180px; } }

@media screen and (max-width: 423px) {
  .table.cart-items tbody tr td .product-service {
    top: 215px; } }

@media screen and (max-width: 394px) {
  .table.cart-items tbody tr td .product-service {
    top: 260px; } }

form.product-service fieldset.form-inline,
tr.item-service {
  display: none !important; }

.extra-services-preselected {
  flex: 100% 0;
  margin: 0.5rem 0.5rem;
  color: #505050;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem; }

.preselected-service {
  padding: 0.5rem;
  background: white;
  border-radius: 5px;
  display: flex; }

.extra-services-label {
  position: relative;
  font-size: 15px; }

.extra-services-input {
  margin-right: 0.5rem !important; }

.extra-services-price {
  position: absolute;
  right: 20px; }

.preselected-service-name {
  font-size: 16px; }

.title-custom-extra-services {
  font-weight: bold;
  font-size: 16px; }

.title-custom-extra-services i {
  margin-right: 5px; }

.v-custom-product-item-wrap {
  align-items: end !important; }

i.icon-info {
  color: black;
  border: 1px solid;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  text-align: center;
  font-size: 9px; }

.table.cart-items tbody tr.product-item {
  /* min-height: 470px; */ }
