.customdate{
    width: 100%;
}
.customdate__nextday {
    background-color: #fff;
    padding: 5px;
    padding-left: 20px;
    border: 1px solid #cbcbcb;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.customdate__nextday:hover, .customdate__nextday_active {
    border: 1px solid #197c84;
    background-color: #f4f2f2;
}
.customdate__info b {
    margin-right: 5px;
}
.customdate__table {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: space-between;
}
.customdate__table_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 4px;
    background-color: #fff;
    flex-basis: 25%;
    margin-top: 10px;
    border: 1px solid #cbcbcb;
    cursor: pointer;
}
.customdate__table_item:hover, .customdate__table_item_active {
    border: 1px solid #197c84;
    background-color: #f4f2f2;
}
.customdate__table_item_hidden {
    display: none;
}

.customdate__timeslot_select{
    margin-top: 0;
}
.customdate__select_field_label{
    margin: 10px 0;
    color: #999;
}