.title {
  color: red;
  cursor: pointer;
}

.visible {
  display: block;
}
.hidden {
  display: none;
}
.starsContainer {
  display: flex;
  align-items: center;
}
.reviewNumber {
  color: #727273;
  font-size: 0.8rem;
  margin-top: 2px;
  height: 100%;
  display: flex;
  align-items: center;
}
