.container {
  display: flex;
}
.containerNew {
  margin-left: 1.5rem;
}
.image {
  width: auto;
  object-fit: contain;
  max-width: unset;
}
.label {
  width: auto;
  margin: auto 0 auto 0.5rem;
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  color: #505050;
}
.labelLink {
  width: auto;
  margin: auto 0 auto 0.5rem;
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  color: #505050;
  text-decoration: none;
}
.labelLink:hover {
  color: #edb112;
}
.container a {
  text-decoration: none;
}
.productSheet {
  margin-left: 1.5rem;
  color: #505050;
}
.displayNone {
  display: none;
}
