.emptyCartContainer {
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.emptyCartLabel {
  text-decoration: underline;
  color: #007d69;
  font-size: 1rem;
  font-weight: 600;
}
