form.product-service fieldset.form-inline,
tr.item-service,
.add-service-container {
  display: none !important;
}

.tooltip-modal-content {
  cursor: text;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  padding: 2rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  color: #505050;
  text-align: left;
  border-radius: 6px;
  position: fixed;
  z-index: 3;
  display: none;
}

.tooltip-modal-content-conatiner {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 2;
  cursor: auto;
}

.tooltipModalClose {
  position: absolute;
  top: 0.2rem;
  right: 0.5rem;
  font-size: 2rem;
  cursor: pointer;
}

.custom-extra-services {
  background: #f9f9f9;
  width: 100%;
  padding: 1rem;
  border-top: 1px solid #c9c9c9;
  border-bottom: 3px solid #000;

  width: 100% !important;
  position: static !important;
  min-width: 250px;
  top: calc(100% - 200px);
  left: 0;
  box-sizing: border-box;
  overflow: visible;
  display: flex;
  flex-wrap: wrap;
}

.containerCheckbox {
  display: flex;
  flex-wrap: wrap;
}

.extra-services-checkbox {
  margin: 0.5rem 0.5rem;
  padding: 0.5rem;
  background: white;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.extra-services-checkbox-elements {
  display: flex;
  flex-direction: column;
}
.service-description {
  font-size: 0.7rem;
  color: #007d69;
}
.service-name-link {
  color: #505050;
  text-decoration: underline;
}

.extra-services-label {
  padding: 0;
  display: flex;
  color: #505050;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.3125rem;
}

.extra-services-price {
  display: none;
}

.title-custom-extra-services {
  line-height: 1.625rem;
  color: #353535;
  font-size: 0.9rem;

  display: block;
  order: -1;
  width: 100%;
}

.title-custom-extra-services i {
  display: none;
}

.service-price-container {
  text-align: right;
}
.service-price {
  color: #007d69;
  font-family: "myriadBold";
  font-size: 0.813rem;
}

.tooltip {
  position: relative;
  display: inline-block;
  opacity: 1;
  margin-left: 0.5rem;
  align-items: center;
  display: flex;
  z-index: unset;
}
.tooltip > svg {
  width: 12px;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  padding: 2rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: white;
  color: #505050;
  text-align: left;
  border-radius: 6px;
  position: fixed;
  z-index: 1;
}
.extra-services-preselected {
  position: relative;
}
.price-strike {
  text-decoration: line-through;
  padding-right: 15px;
}
@media only screen and (max-width: 600px) {
  .extra-services-label {
    width: 90%;
  }
}

.table.cart-items tbody tr td .product-service {
  position: static;
}

@media screen and (max-width: 690px) {
  .table.cart-items tbody tr td .product-service {
    top: 170px;
    position: absolute;
  }
}

@media screen and (max-width: 567px) {
  .table.cart-items tbody tr td .product-service {
    top: 180px;
  }
}

@media screen and (max-width: 423px) {
  .table.cart-items tbody tr td .product-service {
    top: 215px;
  }
}

@media screen and (max-width: 394px) {
  .table.cart-items tbody tr td .product-service {
    top: 260px;
  }
}

form.product-service fieldset.form-inline,
tr.item-service {
  display: none !important;
}

.extra-services-preselected {
  flex: 100% 0;
  margin: 0.5rem 0.5rem;

  color: #505050;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;
}

.preselected-service {
  padding: 0.5rem;
  background: white;
  border-radius: 5px;
  display: flex;
}

.extra-services-input {
  margin-right: 0.5rem !important;
}

.extra-services-price {
  position: absolute;
  right: 20px;
}

.preselected-service-name {
  font-size: 16px;
}

.title-custom-extra-services {
  font-weight: bold;
  font-size: 16px;
}

.title-custom-extra-services i {
  margin-right: 5px;
}

.v-custom-product-item-wrap {
  align-items: end !important;
}

i.icon-info {
  color: black;
  border: 1px solid;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  text-align: center;
  font-size: 9px;
}

.table.cart-items tbody tr.product-item {
  /* min-height: 470px; */
}
