.reviews {
  max-width: 80%;
}

.reviewsTitle {
}

.ratingSummary {
}

.ratingSummaryContainer {
}

.ratingSummaryStars {
}

.ratingSummaryStars--loading {
}

.containerInline {
}

.ratingSummaryWrite {
}

.ratingInline {
}

.reviewForm {
}

.ratingStars {
}

.ratingStarsInactive {
  color: #eee;
}

.ratingStarsActive {
}

.histogramStarContainer {
  min-width: 30px;
  width: unset;
  text-align: left;
}

.histogramOuterContainer {
}

.histogramContainer {
}
.histogramContainer > div {
  width: 50%;
}
.histogramContainer > div:last-child {
  padding-left: 4rem;
}

.histogramLine {
}

.histogramStar {
}

.histogramBar {
}

.histogramBarValue {
}

.histogramCount {
}

.secondaryHistogramLine {
}

.secondaryHistogramLabel {
  width: 7rem;
  text-align: unset;
}

.secondaryHistogramBar {
  width: 50%;
}

.secondaryHistogramBarValue {
}

.secondaryHistogramCount {
}

.reviewHistogramBar {
}

.reviewHistogramBarValue {
}

.histogramDivisions {
}

.QnAContainer {
}

.review {
  min-width: 70%;
}

.reviewRating {
}

.reviewTitle {
}

.reviewSubmittedField {
}

.reviewByField {
}

.reviewFromField {
}

.reviewText {
  margin-bottom: 0;
}

.clientResponseContainer {
}

.clientResponse {
}

.clientResponseDepartment {
}

.clientResponseMessage {
}

.clientResponseType {
}

.clientResponseName {
}

.clientResponseSource {
}

.clientResponseSource {
}

.clientResponseDate {
}

.reviewImagesContainer {
}

.reviewImage {
  cursor: pointer;
}

.reviewsContainer {
}

.reviewsContainerHead {
}

.reviewsContainerTitle {
}

.reviewsContainerDropdowns {
}

.reviewsContainerSortDropdown {
}
.reviewsContainerSortDropdown select option:first-child {
  display: none;
}
.reviewsContainerStarsDropdown select option:first-child {
  display: none;
}

.reviewsContainerStarsDropdown {
}

.reviewsContainerWriteButton {
}

.noReviewsContainer {
}
/*------------LEFT COLUMN REVIEW---------------*/
.reviewsLeftColumnContainer {
  display: flex;
  justify-content: space-between;
}
.reviewsLeftColumnWrapper {
  display: flex;
  flex-direction: column;
}
.reviewsLeftColumnUserNameContainer {
  margin-bottom: 0.625rem;
}
.reviewsLeftColumnUserName {
  color: #000;
  font-size: 0.75rem;
  font-family: 'quicksandMedium';
}
.reviewUserCity {
  margin-bottom: 0.5rem;
}
.reviewsLeftColumnInfo {
  color: rgb(88, 88, 88);
  font-size: 0.813rem;
  font-family: 'quicksandRegular';
}
.reviewUserStats {
  margin-bottom: 0.5rem;
}
.reviewUserStatsContainer {
}
.reviewUserStatsWrapper {
}
.reviewUserStatsData {
  color: rgb(88, 88, 88);
  font-size: 0.813rem;
  font-family: 'quicksandRegular';
  margin-right: 0.5rem;
}
.reviewUserStatsValue {
  color: #585858;
  font-size: 0.813rem;
  font-family: 'quicksandMedium';
  margin-right: 0.5rem;
}
.reviewUserStatsValue {
}
.legalTextReviewContainer {
  margin-bottom: 1rem;
  font-family: 'quicksandMedium';
}
.legalTextReviewContainer > span {
  font-size: 0.813rem;
}
.reviewIsReccomendedLabel {
  margin-right: 0.5rem;
}
.reviewIsReccomendedValue {
  font-family: 'quicksandLight' !important;
  color: #585858 !important;
}
/*---------------------------*/
/*------------FEEDBACKS---------------*/
.reviewFeedbackConatiner {
  display: flex;
  margin-bottom: 1rem;
  align-items: center;
}
.reviewFeedbackLabel {
  font-size: 0.813rem;
  color: #585858;
  margin-right: 0.5rem;
  font-family: 'quicksandRegular';
}
.reviewFeedback {
  background-color: #f2f2f2;
  border: none;
  padding: 2px 10px;
  margin-right: 0.5rem;
  transition: all 0.2s ease;
  cursor: pointer;
}
.reviewFeedback:hover {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}
.reviewFeedbackText {
  font-size: 0.813rem;
  color: #333;
  font-family: 'quicksandMedium';
}
.reviewFeedbackDisabled {
  cursor: auto !important;
}
.reviewFeedbackDisabled:hover {
  box-shadow: none;
}
.reviewPositiveFeedbackText {
  color: #297826 !important;
}
.reviewNegativeFeedbackText {
  color: #b43034 !important;
}
/*---------------------------*/
.writeReviewButton {
  font-size: 0.85rem;
}

.activeStar {
  width: 10px;
}

.ratingSummaryTotal {
  color: #197c83;
}
.activeStarContainer {
  color: #197c83;
}

.inactiveStar {
  color: #eee;
  width: 10px;
}

.inactiveStarContainer {
}
.containerLink {
}
.linkReviews {
  color: #505050 !important;
  text-decoration: underline;
}
.titleContainer {
  display: flex;
  justify-content: space-between;
}
.incentivedReview {
  align-items: center;
  display: flex;
}
.imageReviewIncentived {
  width: 1rem;
  margin-right: 0.25rem;
}
/*---------- SEARCH BAR ------------*/
.reviewsSearchContainer {
  padding: 1rem 0;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  display: flex;
  position: relative;
}
.reviewsSearchInput {
  width: 80%;
  border-radius: 0.25rem 0 0 0.25rem;
  padding: 0.5rem 2rem 0.5rem 0.625rem;
  outline: none;
  border: 1px solid #757575;
  border-right: 0;
  font-size: 0.875rem;
  font-family: 'quicksandLight';
  line-height: 1.5;
}
.reviewsSearchInput:focus {
  border-color: #000;
}
.reviewsSearchButton {
  background-color: #197c83;
  border: none;
  width: 20%;
  cursor: pointer;
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviewsSearchButton:hover {
  -webkit-box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;
}
.reviewsSearchButtonIcon {
  width: 2rem;
}
.reviewTextClamped {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.strong {
  font-weight: 400;
  background: #e3fcf6;
}
.reviewTextClamped > div > .wrapper {
  overflow: hidden;
  max-height: 2.5rem;
}
.reviewTextClamped > div > div > .paragraph {
  text-overflow: ellipsis;
  overflow: hidden;
}
.searchModalPaginationContainer {
  margin-bottom: 1.5rem;
}
.searchModalReviewContainer {
  cursor: pointer;
}
.singleReviewBackButtonContainer {
  margin-bottom: 1rem;
  cursor: pointer;
}
.singleReviewBackButton {
}
.searchCloseIconContainer {
  background: #505050;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translateY(-50%);
  cursor: pointer;
}
.searchCloseIcon {
  max-width: 0.7rem;
}
.modalTitle {
  font-family: 'quicksandRegular';
  font-size: 1.5rem;
}
.modalReviewNumberContainer {
  padding: 1rem;
  margin-bottom: 1rem;
  background-color: #f7f7f7;
}
.modalReviewNumber {
  font-size: 0.9rem;
}
/*----------------------------------*/
/*--------------- LEGAL TEXT -------------------*/
.legalTextContainer {
  padding: 1rem 0;
  margin-top: 1rem;
}
.reviewsLegalTextContainer {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}
.reviewRatingLegalText {
  padding-bottom: 0;
  padding-right: 0.5rem;
}
.reviewsLegalTextTotalReviewsContainer {
  padding-left: 0.5rem;
  border-left: 1px solid #ccc;
}
.reviewsLegalTextTotalReviewsText,
.legalTextIncentivizedText {
  font-size: 0.9rem;
}
.legalTextIncentivizedText {
  margin-right: 0.5rem;
}
/*----------------------------------*/
.legalTextIncentivizedSummary {
  font-size: 0.6rem !important;
  color: #b4b4b4;
}
.ratingSummaryContainerLegal {
  display: flex;
}
.ratingSummaryStarsContainer {
  margin-right: 0.5rem;
}
.ratingSummaryLegalTextContainer {
}

/*--------------- REVIEWS TOOLTIP -------------------*/
.reviewsTooltipVisibilityContainer {
  position: absolute;
  margin-top: 0.5rem;
  z-index: 100;
}
.reviewsTooltip {
  position: relative;
  border: 1px solid #000;
  padding: 1rem 1.5rem;
  background-color: #fff;
}
.reviewsTooltip::before {
  position: absolute;
  top: -0.19rem;
  left: 50%;
  content: '';
  transform: rotate(45deg) translateX(-50%);
  height: 1rem;
  width: 1rem;
  z-index: 2;
  background-color: white;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
}
.reviewsTooltip .histogramContainer {
  padding: 0;
  width: fit-content;
  background-color: #fff;
  border: 0;
  margin: 0;
}
.reviewsTooltip .histogramStarContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.reviewsTooltip .histogramStar {
  fill: #197c83;
}
.reviewsTooltip .histogramLine {
  display: flex;
  align-items: center;
}
.reviewsTooltip .histogramBar {
  width: 7rem;
  height: 0.6rem !important;
}
.reviewsTooltip .histogramBarValue {
  height: 100%;
  border: 1px solid #197c83;
}
.reviewsTooltipButtonContainer {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}
.reviewsTooltipButton {
  background-color: #197c83;
  border: 0;
  border-radius: 0.2rem;
  text-decoration: none;
}
.reviewsTooltipButtonText {
  margin: 0.3rem 1rem;
  color: white;
  font-size: 0.9rem;
}
.reviewsTooltip .pb8 {
  padding-bottom: 0;
}
.titleLeft {
  padding-bottom: 0.5rem;
}
.titleRight {
  padding-bottom: 0.5rem;
  width: 92%;
  display: flex;
}
.rightContainer {
  justify-content: space-between;
}
/*----------------------------------*/
@media only screen and (max-width: 1100px) {
  .containerLink {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  .reviewsTooltip {
    padding: 1rem 0.5rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .titleRight {
    justify-content: start;
    margin-top: 3rem;
  }
  .secondaryHistogramLabel {
    text-align: left;
    width: 16%;
  }
  .histogramContainer > div:last-child {
    padding-left: 0;
  }
  .ratingSummaryLegalTextContainer {
    min-height: 75px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .titleRight {
    justify-content: start;
    margin-top: 3rem;
  }
  .secondaryHistogramLabel {
    text-align: left;
    width: 16%;
  }
  .histogramContainer > div:last-child {
    padding-left: 0;
  }
  .secondaryHistogramLabel {
    width: 8rem;
  }
}
@media only screen and (max-width: 640px) {
  .reviews {
    max-width: unset;
  }
  .reviewsLeftColumnContainer {
    flex-direction: column;
  }
  .incentivedReviewTitle {
    max-width: 50%;
    word-wrap: break-word;
  }
  .searchCloseIconContainer {
    left: 70%;
  }
  .reviewsSearchContainerMargin {
    margin-top: 2rem;
  }
  .titleRight {
    justify-content: start;
  }
  .histogramContainer > div {
    width: 100%;
  }
  .histogramContainer > div:last-child {
    padding-left: 0;
  }
  .histogramContainer > div:first-child {
    padding-bottom: 0;
  }
  .secondaryHistogramBar {
    width: 40%;
  }
  .titleRight {
    margin-top: 2rem !important;
  }
}
@media only screen and (max-width: 780px) {
  .titleRight {
    justify-content: start;
    margin-top: 3rem;
  }
  .secondaryHistogramLabel {
    text-align: left;
    max-width: 8rem;
  }
  .histogramContainer > div:last-child {
    padding-left: 0;
  }
  .secondaryHistogramBar {
    width: 40%;
  }
}

/*-------------- LOADER -----------*/
.loaderFormContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loaderFormText {
  color: #197c83;
  font-weight: 600;
}
.loaderForm {
  font-size: 10px;
  margin: 30px auto;
  text-indent: -9999em;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background: #197c83;
  background: -moz-linear-gradient(
    left,
    #197c83 10%,
    rgba(237, 177, 18, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    #197c83 10%,
    rgba(237, 177, 18, 0) 42%
  );
  background: -o-linear-gradient(left, #197c83 10%, rgba(237, 177, 18, 0) 42%);
  background: -ms-linear-gradient(left, #197c83 10%, rgba(237, 177, 18, 0) 42%);
  background: linear-gradient(to right, #197c83 10%, rgba(237, 177, 18, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loaderForm:before {
  width: 50%;
  height: 50%;
  background: #197c83;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loaderForm:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*------------------------------------*/
