/* CSS HOTPOINT */

body.hotpoint-theme {
    background-color: #FFFFFF;
}

body.hotpoint-theme a:hover,
body .hotpoint-theme a {
    color: #3AB5BE;
}

.hotpoint-theme a:hover,
.hotpoint-theme a:link,
.hotpoint-theme a:visited {
    color: #333;
}

.hotpoint-theme .container-logo {
    background-color: #FFFFFF;
}

.hotpoint-theme .checkout-title {
    background-color: #F2F2F2;
}

.hotpoint-theme #footer {
    border-top: 6px solid #3AB5BE;
    background: #454748;
}

.hotpoint-theme #footer .credits {
    color: #ffffff;
}

.hotpoint-theme #footer a:hover,
.hotpoint-theme #footer a:link,
.hotpoint-theme #footer a:visited {
    color: #ffffff;
}

.hotpoint-theme .bg-black {
    background-color: #1a1a1a;
}

.hotpoint-theme .table.cart-items,
.hotpoint-theme .summary-template-holder tbody {
    border-bottom: 2px solid #3AB5BE!important;
}

.hotpoint-theme #cart-coupon-add,
.hotpoint-theme .btn-place-order-wrapper,
.hotpoint-theme .shipping-calculate-link,
.hotpoint-theme .btn-success,
.hotpoint-theme #cart-to-orderform,
.hotpoint-theme #payment-data-submit,
.hotpoint-theme #go-to-payment,
.hotpoint-theme #go-to-shipping,
.hotpoint-theme #cart-choose-products {
    background-color: #3AB5BE;
    border-color: #3AB5BE;
    color: #ffffff !important;
}

.hotpoint-theme #cart-to-orderform:hover,
#cart-coupon-add:hover,
#btn-go-to-payment:hover,
#payment-data-submit:hover,
#go-to-payment:hover,
#go-to-shipping:hover,
#cart-choose-products:hover {
    background-color: #0076AA !important;
    border-color: #0076AA !important;
    color: #ffffff !important;
}

.hotpoint-theme .onda-v1 .bg-washed-blue {
    background-color: #f9faed !important;
}

.hotpoint-theme .cart-more-options .srp-container .onda-v1 .bg-blue,
.hotpoint-theme .table.cart-items tbody tr td .field-help {
    border-color: #3AB5BE !important;
    background-color: #3AB5BE;
}

.hotpoint-theme .table.cart-items tbody tr td i.icon-question-sign {
    color: #3AB5BE !important;
}

.hotpoint-theme .cart-more-options .srp-container .onda-v1 .blue {
    color: #3AB5BE !important;
}

.hotpoint-theme #cart-shipping-calculate {
    border-color: #3AB5BE !important;
    color: #3AB5BE !important;
}

.hotpoint-theme #cart-shipping-calculate:hover,
#cart-shipping-calculate:active,
#cart-coupon {
    background: #f9faed !important;
}

.hotpoint-theme .cart-more-options .srp-container button.shp-open-options,
.hotpoint-theme .cart-more-options .srp-container .onda-v1 .b--blue {
    border-color: #3AB5BE !important;
}

.hotpoint-theme .cart-more-options .srp-container .onda-v1 .blue:hover a:not,
.hotpoint-theme .cart-more-options .srp-container .onda-v1 .bg-blue:hover,
.hotpoint-theme .btn-success:hover {
    background-color: #0076AA !important;
    border-color: #0076AA !important;
    color: #ffffff !important;
}

.hotpoint-theme .icon-edit:before {
    color: #3AB5BE !important;
}

.hotpoint-theme .monetary {
    color: #323232 !important;
}

body.hotpoint-theme.js-vcustom-hideEmailStep .client-profile-data .accordion-toggle>span:before,
.hotpoint-theme #shipping-option-delivery,
.hotpoint-theme #shipping-option-pickup-in-point,
body.v-custom-step-shipping .shipping-data .accordion-toggle:before,
body.v-custom-step-payment .shipping-data .accordion-toggle:before,
body.v-custom-step-payment .payment-data .accordion-toggle>span:not(.payment-edit-link):before {
    border-color: #3AB5BE !important;
    background: #3AB5BE;
}

.hotpoint-theme .orderform-template-holder .step.shipping-data .shipping-method-toggle {
    border-color: #3AB5BE;
}

.hotpoint-theme .vtex-omnishipping-1-x-deliveryChannelsToggle {
    background: #3AB5BE !important;
    border: solid 1px #3AB5BE !important;
}

.hotpoint-theme .orderform-template .cart-template.mini-cart .quantity,
.hotpoint-theme .orderform-template-holder .step.shipping-data .vtex-omnishipping-1-x-summaryChange {
    background: #f9faed !important;
    color: #3AB5BE !important;
}

.hotpoint-theme .vtex-omnishipping-1-x-pc .btn {
    border: 1px solid #3AB5BE !important;
    color: #3AB5BE !important;
}

.hotpoint-theme svg.srp-icon-radio-selected.db>path,
svg.vtex-omnishipping-1-x-svg path {
    fill: #3AB5BE;
}

.hotpoint-theme .summary-template-holder .summary-coupon p.coupon-fields span.info>span {
    color: #3AB5BE !important;
}

.hotpoint-theme .payment-confirmation-modal {
    background: #3AB5BE !important;
}

.hotpoint-theme .payment-unauthorized-modal {
    background: #3AB5BE !important;
}

.hotpoint-theme .firstColumnText a:link {
    color: white!important;
}

.hotpoint-theme .firstColumnText a:hover {
    color: white!important;
}

.hotpoint-theme a .itemText {
    color: #333333!important;
}

.hotpoint-theme .itemText:hover {
    color: #333;
}

.hotpoint-theme .firstColumText a:hover,
.hotpoint-theme .secondColumnPhone a:hover,
.hotpoint-theme .thirdColumnItemText a:hover,
.hotpoint-theme .fourthColumnItemText a:hover {
    color: #333 !important;
}

.hotpoint-theme .firstColumText a:hover {
    color: #333 !important;
}

.cart-more-options #shipping-preview-container {
    display: block!important
}

.hotpoint-theme a:hover,
.hotpoint-theme a:link,
.hotpoint-theme a:visited {
    color: #3AB5BE;
}

.hotpoint-theme .box-client-info a {
    color: #3AB5BE;
}

.hotpoint-theme .steps-view {
    background-color: #f4f2f2
}