.hotpoint-theme {
    font-family: quicksandRegular;
}

.hotpoint-theme .nirepair {
    color: #3AB5BE !important;
}

.hotpoint-theme .overlay_takeover {
    color: #3AB5BE !important;
}

.hotpoint-theme .cx-btn-primary {
    background-color: #3AB5BE !important;
}

.hotpoint-theme svg {
    fill: #3AB5BE;
}

.hotpoint-theme .smartukb2c-countdown-0-x-countdownImage1 path:not(.no-fill) {
    fill: #3AB5BE;
}

.hotpoint-theme .smartukb2c-countdown-0-x-customAutocomplete__search_btn {
    background-color: #3AB5BE;
}

.hotpoint-theme .smartukb2c-countdown-0-x-contactUsTitle {
    color: #3AB5BE;
}

.hotpoint-theme .smartukb2c-countdown-0-x-countdownImage1 path:not(.no-fill) {
    stroke: #3AB5BE;
}

.hotpoint-theme .vtex-rich-text-0-x-heading-level-1 {
    color: #3AB5BE;
}

.hotpoint-theme .vtex-rich-text-0-x-heading-level-3 {
    color: #3AB5BE;
}

.hotpoint-theme .vtex-rich-text-0-x-heading-level-4 {
    color: #3AB5BE;
}

.hotpoint-theme .smartukb2c-countdown-0-x-accordionTrigger::after {
    color: #3AB5BE;
}

.hotpoint-theme .smartukb2c-countdown-0-x-titleFaq {
    color: #3AB5BE;
}

.hotpoint-theme .vtex-menu-2-x-styledLinkContent {
    font-family: quicksandRegular;
}

.hotpoint-theme .vtex-rich-text-0-x-strong--titleLinks {
    color: #3AB5BE;
}

.hotpoint-theme .vtex-rich-text-0-x-link {
    color: #3AB5BE;
}

.hotpoint-theme .smartukb2c-add-to-cart-button-custom-0-x-shoppingIcon {
    fill: white;
}

.hotpoint-theme .smartukb2c-add-to-cart-button-custom-0-x-buttonDataContainer:hover {
    background: #3AB5BE;
}

.hotpoint-theme .smartukb2c-add-to-cart-button-custom-0-x-syncIcon {
    fill: white;
}

.hotpoint-theme .smartukb2c-add-to-cart-button-custom-0-x-mailIcon {
    fill: white;
}

.hotpoint-theme .vtex-breadcrumb-1-x-caretIcon {
    color: #3AB5BE;
}

.hotpoint-theme .vtex-breadcrumb-1-x-arrow--3:hover .vtex-breadcrumb-1-x-link,
.vtex-breadcrumb-1-x-arrow--4:hover .vtex-breadcrumb-1-x-link {
    color: #3AB5BE !important
}

.hotpoint-theme .vtex-category-menu-2-x-departmentLink:hover {
    border-bottom: 2px solid #3AB5BE;
}

.hotpoint-theme .vtex-category-menu-2-x-firstLevelLink:hover {
    border-bottom: 2px solid #3AB5BE;
}

.hotpoint-theme .vtex-category-menu-2-x-secondLevelLink:hover {
    border-bottom: 2px solid #3AB5BE;
}

.hotpoint-theme .vtex-category-menu-2-x-thirdLevelLink:hover {
    border-bottom: 2px solid #3AB5BE;
}

.hotpoint-theme .smartukb2c-countdown-0-x-countdownMain {
    background-color: #e6e6e6;
}

.hotpoint-theme .smartukb2c-countdown-0-x-serviceMainDiv {
    background-color: #f2f2f2;
}

.hotpoint-theme .smartukb2c-countdown-0-x-buttonZie,
.hotpoint-theme .smartukb2c-countdown-0-x-alertButton {
    background-color: #3AB5BE;
    color: white;
}

.hotpoint-theme .smartukb2c-countdown-0-x-buttonZie:hover,
.hotpoint-theme .smartukb2c-countdown-0-x-alertButton:hover {
    cursor: pointer;
    background-color: #3AB5BE;
}

.hotpoint-theme .smartukb2c-countdown-0-x-categoriesMainDiv {
    background-color: white;
    /* margin-top: 100px; */
}

.hotpoint-theme .smartukb2c-countdown-0-x-iconsInnerDiv {
    background-color: #f2f2f2;
}

.hotpoint-theme .smartukb2c-countdown-0-x-categoriesLabel:hover {
    border-bottom: 4px solid #3AB5BE;
}

.hotpoint-theme .smartukb2c-login-custom-flow-0-x-link {
    color: #3AB5BE;
}

.hotpoint-theme .smartukb2c-countdown-0-x-categoriesIcons {
    fill: gray;
}

.hotpoint-theme .smartukb2c-countdown-0-x-categoriesArrow {
    fill: #3AB5BE;
}

.hotpoint-theme .smartukb2c-countdown-0-x-categoriesIcons:hover {
    fill: #3AB5BE;
}

.hotpoint-theme .smartukb2c-countdown-0-x-footerHr {
    background-color: #3AB5BE;
}

.hotpoint-theme .smartukb2c-countdown-0-x-footerColumnHeaders {
    color: white;
}

.hotpoint-theme .smartukb2c-countdown-0-x-footerLabels {
    color: white;
}

.hotpoint-theme .smartukb2c-countdown-0-x-footerDivIconLabel {
    color: white;
}

.hotpoint-theme .smartukb2c-countdown-0-x-footerEndLabels {
    color: white;
}

.hotpoint-theme .smartukb2c-countdown-0-x-footerDivWithIcon {
    color: #3AB5BE
}

.hotpoint-theme .smartukb2c-countdown-0-x-footerMailIcon {
    fill: #3AB5BE
}

.hotpoint-theme .smartukb2c-countdown-0-x-phoneCallFooter {
    color: white;
}

.hotpoint-theme .smartukb2c-countdown-0-x-promotionTitle {
    background-color: #3AB5BE;
    color: #fff;
}

.hotpoint-theme .smartukb2c-countdown-0-x-promotionTitle::before {
    border-color: transparent transparent #3AB5BE;
}

.hotpoint-theme .smartukb2c-countdown-0-x-promotionTitle::after {
    border-color: transparent transparent #3AB5BE;
}

.hotpoint-theme .smartukb2c-countdown-0-x-barcodeMainDiv {
    background-color: white;
}

.hotpoint-theme .smartukb2c-countdown-0-x-warningHover {
    background-color: #3AB5BE;
}

.hotpoint-theme .smartukb2c-countdown-0-x-warningHover::after {
    border-color: #3AB5BE transparent transparent transparent;
}

.hotpoint-theme .store-logo>img {
    width: auto !important;
    height: 4rem;
}

.hotpoint-theme .smartukb2c-add-to-cart-button-custom-0-x-closeButton .vtex-button {
    background: #3AB5BE !important;
    border-color: #3AB5BE !important;
}

.vtex-flex-layout-0-x-flexRow--footer {
    background-color: #424242;
}

.vtex-flex-layout-0-x-flexRow--header {
    background-color: white;
    border: 2px solid #f2f2f2;
}

.vtex-flex-layout-0-x-flexRow--landing {
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
}

.vtex-flex-layout-0-x-flexRow--flexboxVideos {
    background-color: #f2f2f2;
}

.hotpoint-theme .vtex-flex-layout-0-x-flexRow--footerEnd {
    background-color: black
}

.vtex-flex-layout-0-x-flexRow--promotions {
    background-color: white;
}

.vtex-flex-layout-0-x-flexRow--creditCards {
    background-color: #424242
}


/*
.hotpoint-theme .vtex-flex-layout-0-x-flexRow--headertabMain {
    border: 3px solid #f2f2f2
}
*/

.hotpoint-theme .vtex-flex-layout-0-x-flexRow--priceAndButton {
    border: 1px solid #f2f2f2e5
}

.hotpoint-theme .vtex-flex-layout-0-x-flexColChild--flexRowProductRight {
    border-left: 1px solid black;
}

.hotpoint-theme .vtex-flex-layout-0-x-flexRowContent--priceAndButton .vtex-button {
    background: #3AB5BE !important;
}

@keyframes vtex-flex-layout-0-x-shoppingIcon {
    0% {
        background-color: rgb(30, 255, 105);
    }
    10% {
        background-color: rgb(255, 255, 255);
    }
}

.hotpoint-theme .vtex-flex-layout-0-x-flexColChild--flexRowProductRight .vtex-button {
    background: #3AB5BE !important;
    border-color: #3AB5BE;
}

.hotpoint-theme .vtex-flex-layout-0-x-flexRow--videosMobileRow {
    background-color: #f2f2f2
}

.vtex-flex-layout-0-x-flexCol--videosMobileCol {
    background-color: #f2f2f2
}

.hotpoint-theme .vtex-flex-layout-0-x-flexRow--headertabSecond .vtex-button {
    background-color: #3AB5BE;
    color: white !important
}

.hotpoint-theme .vtex-flex-layout-0-x-flexRow--headertabSecond .vtex-button .vtex-flex-layout-0-x-span {
    color: white
}

@media only screen and (max-width:1024px) {
    .vtex-flex-layout-0-x-flexColChild--dropdowncolMobile::after {
        color: #3AB5BE;
    }
    .hotpoint-theme .smartukb2c-countdown-0-x-categoriesMainDiv {
        background-color: white;
        margin-top: 100px;
    }
}

.hotpoint-theme .vtex-login-2-x-label,
.vtex-login-2-x-profile {
    color: white;
}

.hotpoint-theme .vtex-dropdown__arrow {
    background-color: #3AB5BE;
}

.hotpoint-theme .vtex-menu-2-x-menuContainer .vtex-menu-2-x-styledLinkContainer::after {
    color: #3AB5BE;
}

.hotpoint-theme .vtex-toast {
    background: #3AB5BE;
    color: white
}

.hotpoint-theme .vtex-minicart-2-x-minicartCheckoutButton .vtex-button {
    background: #3AB5BE !important;
    border-color: #3AB5BE !important;
    color: white
}

.hotpoint-theme .vtex-minicart-2-x-minicartProductListContainer .vtex-dropdown__arrow {
    background-color: #3AB5BE;
}

.hotpoint-theme .vtex-modal-layout-0-x-backdrop {
    background-color: rgb(14, 12, 12)
}

.hotpoint-theme .vtex-modal-layout-0-x-closeIcon {
    color: #3AB5BE;
    border: 3px solid #3AB5BE;
}

.hotpoint-theme .vtex-product-summary-2-x-element {
    border: 1px solid rgb(184, 176, 176);
}

.hotpoint-theme .vtex-product-summary-2-x-buyButtonContainer {
    background-color: #3AB5BE;
}

.hotpoint-theme .vtex-product-summary-2-x-buyButtonContainer:hover {
    background-color: #3AB5BE;
}

.hotpoint-theme .vtex-product-summary-2-x-buyButton {
    background-color: #3AB5BE
}

.hotpoint-theme .vtex-rich-text-0-x-container {
    background-color: white;
    color: rgb(0, 0, 0)
}

.hotpoint-theme .vtex-rich-text-0-x-wrapper--headerLeft {
    background-color: white;
}

.hotpoint-theme .vtex-rich-text-0-x-wrapper--headerRight {
    background-color: white;
}

.hotpoint-theme .vtex-rich-text-0-x-wrapper--text1 {
    background-color: #424242;
    color: white;
}

.hotpoint-theme .vtex-rich-text-0-x-wrapper--text2 {
    background-color: #424242;
    color: white;
}

.hotpoint-theme .vtex-rich-text-0-x-wrapper--landing {
    background-color: #f2f2f2;
}

.hotpoint-theme .vtex-rich-text-0-x-wrapper--videos {
    background-color: #f2f2f2;
}

.hotpoint-theme .vtex-rich-text-0-x-wrapper--header {
    background-color: white;
}

.hotpoint-theme .vtex-rich-text-0-x-wrapper--header:hover {
    border-bottom: 4px solid #3AB5BE
}

.hotpoint-theme .vtex-rich-text-0-x-wrapper--key {
    border-bottom: 2px solid red;
}

.hotpoint-theme .vtex-rich-text-0-x-wrapper--columnText {
    border-bottom: 1px solid #f2f2f2;
}

.hotpoint-theme .vtex-rich-text-0-x-wrapper--columnText:hover {
    color: #3AB5BE
}

.hotpoint-theme .vtex-rich-text-0-x-container--videosMobile {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f2f2f2
}

.hotpoint-theme .vtex-rich-text-0-x-wrapper--barcodeIcon:hover {
    border-bottom: 5px solid #3AB5BE
}

.hotpoint-theme .vtex-rich-text-0-x-paragraph--phoneNumber {
    border-right: 1px solid #b3b3b3;
}

.hotpoint-theme .vtex-rich-text-0-x-container--SearchTitle {
    background-color: #f2f2f2
}

.hotpoint-theme .vtex-rich-text-0-x-paragraph--textSlider {
    color: #f2f2f2;
}

.hotpoint-theme .vtex-rich-text-0-x-wrapper--promotiesPage {
    background: #f2f2f2;
    color: #212529
}

.hotpoint-theme .vtex-rich-text-0-x-container--headerCustomPage {
    background-color: #f2f2f2;
}

.hotpoint-theme .vtex-search-result-3-x-buttonShowMore .vtex-button {
    background-color: #3AB5BE !important;
}

.hotpoint-theme .vtex-shelf-1-x-relatedProducts--relatedProductsDiv {
    background: rgb(230, 230, 230)
}

.hotpoint-theme .vtex-slider-layout-0-x-slideChildrenContainer {
    background-color: white
}

.hotpoint-theme .vtex-stack-layout-0-x-stackItem--searchImage {
    border-bottom: 1px solid #f2f2f2
}

.hotpoint-theme .vtex-store-components-3-x-infoCardHeadline {
    color: rgb(0, 0, 0);
    background-color: #3AB5BE;
}

.hotpoint-theme .vtex-store-components-3-x-infoCardHeadline:hover {
    color: white;
    background-color: red;
}

.hotpoint-theme .vtex-store-components-3-x-infoCardContainer {
    background-color: #f2f2f2;
}

.hotpoint-theme .vtex-store-components-3-x-infoCardCallActionContainer .vtex-button {
    color: white;
    background-color: #f2f2f2;
}

.hotpoint-theme .vtex-store-components-3-x-infoCardCallActionContainer .vtex-button:hover {
    color: gray;
    background-color: white;
}

.hotpoint-theme .vtex-store-components-3-x-currencyCode {
    color: #3AB5BE
}

.hotpoint-theme .vtex-store-components-3-x-productBrand {
    color: #212529
}

.hotpoint-theme .vtex-store-components-3-x-autoCompleteOuterContainer--searchDrop .vtex-input-prefix__group {
    border-bottom: 1px solid rgb(192, 186, 186);
}

.hotpoint-theme .vtex-store-components-3-x-autoCompleteOuterContainer--homeAutocomplete .vtex-input-prefix__group {
    border: gray;
}

.hotpoint-theme .vtex-store-components-3-x-autoCompleteOuterContainer--homeAutocomplete .vtex-styleguide-9-x-input {
    background: #e4e9eb
}

.vtex-store-components-3-x-autoCompleteOuterContainer--homeAutocomplete .vtex-styleguide-9-x-input:focus {
    background: white;
    border: 1px solid #e4e9eb;
    box-shadow: 5px 5px #e4e9eb
}

.hotpoint-theme .vtex-store-components-3-x-price_savings {
    color: #3AB5BE
}

.hotpoint-theme .vtex-store-drawer-0-x-menuIcon {
    color: #3AB5BE
}

.hotpoint-theme .vtex-store-link-0-x-link--columnLinkRight {
    color: black;
}

.hotpoint-theme .vtex-store-link-0-x-label--columnLinkRight:hover {
    color: #f2f2f2;
}

.hotpoint-theme .vtex-store-link-0-x-link--promotionsButton {
    color: black;
    background-color: white;
    border-color: #3AB5BE;
}

.hotpoint-theme .vtex-store-link-0-x-link--promotionsButton:hover {
    color: white;
    background-color: #3AB5BE;
    border-color: #3AB5BE
}

.hotpoint-theme .vtex-store-link-0-x-buttonLink--buttonSearch {
    background: #3AB5BE;
    color: white;
}

.hotpoint-theme .vtex-store-link-0-x-buttonLink--buttonSearch:hover {
    background: #3AB5BE;
    color: white
}

.hotpoint-theme .vtex-store-link-0-x-buttonLink--leftDown {
    background-color: #3AB5BE;
    color: white;
}

.hotpoint-theme .vtex-store-link-0-x-buttonLink--leftDown:hover {
    background-color: #a88718;
    color: white
}

.hotpoint-theme .vtex-store-link-0-x-link--loginButton {
    background-color: #3AB5BE !important;
}

.hotpoint-theme .vtex-store-video-1-x-videoContainer--videoLandingMobile {
    background-color: rgb(224, 224, 224)
}

.hotpoint-theme .vtex-styleguide-9-x-vtex-dropdown__container {
    background-color: red
}

.hotpoint-theme .vtex-styleguide-9-x-container {
    background-color: #e4e9eb;
}

.smartukb2c-countdown-0-x-countdownImage1 {
    fill: #3AB5BE !important;
}

.hotpoint-theme .smartukb2c-custom-autocomplete-0-x-customAutocomplete__search_btn {
    background-color: #3AB5BE;
    border-color: #3AB5BE;
}

.hotpoint-theme .smartukb2c-custom-autocomplete-0-x-customAutocomplete__search_btn:hover {
    background-color: #3AB5BE;
    border-color: #3AB5BE;
}

.hotpoint-theme .vtex-menu-2-x-styledLinkContent:hover {
    color: #3AB5BE;
}

.hotpoint-theme .bg-emphasis {
    background-color: #3AB5BE !important;
}

.hotpoint-theme .smartukb2c-countdown-0-x-promotionsIcon polygon {
    fill: #3AB5BE !important;
}

.hotpoint-theme #onetrust-consent-sdk #onetrust-accept-btn-handler {
    background-color: #3AB5BE !important;
    border-color: #3AB5BE !important;
    color: #FFFFFF;
}

.hotpoint-theme #onetrust-consent-sdk #onetrust-accept-btn-handler:hover{
    background-color: #3AB5BE !important;
    border-color: #3AB5BE !important;
    color: #FFFFFF;
}

.hotpoint-theme #onetrust-consent-sdk #onetrust-banner-sdk a[href] {
    color: #3AB5BE;
}

.hotpoint-theme #onetrust-pc-btn-handler {
    color: #fff !important;
    border: 1px solid #3AB5BE !important;
    background-color: #3AB5BE !important;
}

.hotpoint-theme #onetrust-pc-btn-handler:hover {
    background-color: #3AB5BE !important;
    border-color: #3AB5BE !important;
    color: #ffffff !important;
}

.hotpoint-theme .smartukb2c-countdown-0-x-serviceImage circle {
    stroke: #3AB5BE !important;
}

.hotpoint-theme #BARRA_INFO path {
    fill: #3AB5BE !important;
}

.hotpoint-theme .smartukb2c-countdown-0-x-hamburgerIcon path {
    fill: #3AB5BE !important;
}

.hotpoint-theme .vtex-login-2-x-sendButton,
.hotpoint-theme .vtex-login-2-x-sendButton .vtex-button {
    background: #3AB5BE !important;
}

.hotpoint-theme .vtex-login-2-x-forgotPasswordLink,
.hotpoint-theme .vtex-login-2-x-dontHaveAccount {
    color: #3AB5BE !important;
}

.hotpoint-theme .vtex-login-2-x-emailPasswordOptionBtn,
.hotpoint-theme .vtex-login-2-x-backButton {
    color: #3AB5BE !important;
}

.hotpoint-theme .vtex-login-2-x-sendButton .vtex-button:hover {
    opacity: .5;
}

.hotpoint-theme .smartukb2c-login-custom-flow-0-x-confirmButton {
    color: #3AB5BE;
    border: 1px solid #3AB5BE;
}

.hotpoint-theme .vtex-login-2-x-accessCodeOptionBtn .vtex-button {
    background-color: #fff !important;
    color: #3AB5BE;
}

.hotpoint-theme .smartukb2c-login-custom-flow-0-x-confirmButton:hover,
.hotpoint-theme .vtex-login-2-x-accessCodeOptionBtn .vtex-button:hover {
    background-color: #3AB5BE !important;
    border-color: #3AB5BE !important;
    color: #ffffff !important;
}

.hotpoint-theme .smartukb2c-product-availability-custom-0-x-exclamationIcon {
    fill: #3AB5BE !important;
}

.hotpoint-theme .vtex-login-2-x-content--emailVerification {
    justify-content: center !important;
}

.hotpoint-theme .smartukb2c-login-custom-flow-0-x-inputContainer .vtex-input-prefix__group:hover {
    border-color: #3AB5BE;
}

.hotpoint-theme .smartukb2c-login-custom-flow-0-x-buttonContainer .vtex-button {
    background: #3AB5BE !important;
}

.hotpoint-theme .vtex-checkbox__inner-container.b--action-primary {
    border-color: #3AB5BE;
    background: #3AB5BE;
}

.hotpoint-theme .vtex-flex-layout-0-x-flexRowContent--confirmationButtons .vtex-button {
    background-color: #3AB5BE !important;
    border-color: #3AB5BE !important;
    color: #fff !important;
    padding: 0 10px;
}

.hotpoint-theme .vtex-flex-layout-0-x-flexRowContent--confirmationButtons .vtex-button:hover {
    border-color: #3AB5BE !important;
    background-color: #3AB5BE !important;
}

.hotpoint-theme .vtex-order-placed-2-x-confirmationIconWrapper {
    color: #3AB5BE;
}

.hotpoint-theme .vtex-order-placed-2-x-myOrdersButton .vtex-button {
    background-color: #3AB5BE !important;
    border-color: #3AB5BE !important;
    color: #fff !important;
    padding: 0 10px;
}

.hotpoint-theme .vtex-order-placed-2-x-myOrdersButton .vtex-button:hover {
    border-color: #3AB5BE !important;
    background-color: #3AB5BE !important;
}

.hotpoint-theme .smartukb2c-custom-autocomplete-2-x-customAutocomplete__search_btn:hover {
    border-color: #3AB5BE !important;
    background-color: #3AB5BE !important;
}

.hotpoint-theme .smartukb2c-custom-autocomplete-2-x-customAutocomplete__search_btn {
    border-color: #3AB5BE !important;
    background-color: #3AB5BE !important;
    padding: 10px;
    width: 70px;
    height: 60px;
    border: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 3px 3px 0px;
}

.hotpoint-theme .smartukb2c-custom-product-page-0-x-customProductPageSparePartsCardFooter button {
    border-color: #3AB5BE !important;
    background-color: #3AB5BE !important;
}

.hotpoint-theme .smartukb2c-custom-product-page-0-x-customProductPageSparePartsCardFooter button:hover {
    border-color: #3AB5BE !important;
    background-color: #3AB5BE !important;
}

.hotpoint-theme .smartukb2c-custom-product-page-0-x-customProductPageCategoryActive {
    border: 1px solid #3AB5BE;
}

.hotpoint-theme .smartukb2c-countdown-0-x-deliveryHover,
.smartukb2c-countdown-0-x-warningHover {
    background-color: #3AB5BE;
    padding: 5px 5px;
}

.hotpoint-theme .smartukb2c-countdown-0-x-deliveryHover:after,
.smartukb2c-countdown-0-x-warningHover:after {
    border-top-color: #3AB5BE;
}

.hotpoint-theme .vtex-input__label {
    font-family: quicksandRegular;
}

.hotpoint-theme .vtex-flex-layout-0-x-flexRow--searchBoxWrapper {
    background-color: transparent;
}

.hotpoint-theme .vtex-flex-layout-0-x-flexRowContent--barcodeOpen {
    background-color: #0C3D57;
    color: white;
}

.hotpoint-theme .smartukb2c-custom-autocomplete-2-x-customAutocomplete__input {
    height: 48px;
    padding: 6px 20px;
}

.hotpoint-theme .vtex-flex-layout-0-x-flexRow--leftDown .smartukb2c-countdown-0-x-barcodeHeader {
    margin: 16px 33px !important
}

.hotpoint-theme .vtex-store-components-3-x-productDescriptionTitle {
    color: #3AB5BE;
}

.hotpoint-theme .vtex-flex-layout-0-x-flexColChild--flexRowProductRight .vtex-product-price-1-x-savings--summary {
    color: #1C8D9F;
    font-weight: 700;
    background-color: #FFF;
    font-size: 22px;
    text-decoration: line-through;
}

.hotpoint-theme .vtex-flex-layout-0-x-flexColChild--flexRowProductRight .vtex-product-price-1-x-sellingPrice--summary {
    color: #1C8D9F;
}

@media only screen and (max-width:720px) {
    .smartukb2c-countdown-0-x-footerMainDiv {
        background-color: #424242
    }
    .smartukb2c-countdown-0-x-footerHr {
        background-color: #3AB5BE;
    }
    .smartukb2c-countdown-0-x-footerColumnHeaders {
        color: white;
    }
    .smartukb2c-countdown-0-x-footerLabels {
        color: white;
    }
    .smartukb2c-countdown-0-x-footerDivIconLabel {
        color: white;
    }
    .smartukb2c-countdown-0-x-footerEndLabels {
        color: white;
    }
    .smartukb2c-countdown-0-x-footerEndDiv {
        background-color: black;
    }
    .smartukb2c-countdown-0-x-footerDivWithIcon {
        color: #3AB5BE
    }
    .smartukb2c-countdown-0-x-leftArrowDivMobile {
        background-color: #3AB5BE;
        color: white
    }
    .smartukb2c-countdown-0-x-categoriesArrowMobile {
        fill: white;
    }
    .hotpoint-theme .vtex-flex-layout-0-x-flexRowContent--barcodeOpen {
        height: auto;
    }
    .hotpoint-theme .smartukb2c-countdown-0-x-categoriesMainDiv {
        background-color: white;
        margin-top: 0px;
    }
}

.hotpoint-theme .smartukb2c-countdown-0-x-secondColumnPhone a:hover,
.hotpoint-theme .smartukb2c-countdown-0-x-firstColumnItem p:hover,
.hotpoint-theme .smartukb2c-countdown-0-x-thirdColumnItemText:hover,
.hotpoint-theme .smartukb2c-countdown-0-x-fourthColumnItemText:hover {
    color: #3AB5BE !important;
}

.hotpoint-theme .smartukb2c-countdown-0-x-firstFooter {
    border-color: #3AB5BE !important;
}

.hotpoint-theme .smartukb2c-add-to-cart-button-custom-0-x-outOfStockPrice {
    color: #3AB5BE !important;
}

.hotpoint-theme .vtex-rich-text-0-x-wrapper--Cleaning:hover {
    border-bottom: solid 4px #3AB5BE;
}

.hotpoint-theme .vtex-rich-text-0-x-link--Cleaning:hover {
    color: #3AB5BE
}

.hotpoint-theme .smartukb2c-countdown-0-x-cleaningAndCareCategory:hover {
    border: 1px solid #3AB5BE;
    background-color: #3AB5BE;
}

.hotpoint-theme .vtex-flex-layout-0-x-flexColChild--flexRowProductRight .vtex-product-price-1-x-currencyContainer--summary {
    font-size: 2rem !important;
    color: #3AB5BE !important;
}

.hotpoint-theme .vtex-flex-layout-0-x-flexRowContent--priceAndButton .vtex-button {
    height: 30px!important
}

.hotpoint-theme .smartukb2c-countdown-0-x-serviceImage path:not(.no-fill) {
    fill: #3AB5BE;
}

.hotpoint-theme #onetrust-consent-sdk #onetrust-pc-sdk button:not(#clear-filters-handler):not(.ot-close-icon):not(#filter-btn-handler):not(.ot-remove-objection-handler):not(.ot-obj-leg-btn-handler):not([aria-expanded]):not(.ot-link-btn),
#onetrust-consent-sdk #onetrust-pc-sdk .ot-leg-btn-container .ot-active-leg-btn {
    background-color: #3AB5BE;
    border-color: #3AB5BE;
    color: #FFFFFF;
}

.hotpoint-theme #onetrust-pc-sdk .ot-cat-grp .ot-always-active {
    color: #3AB5BE;
}

.hotpoint-theme .smartukb2c-countdown-0-x-categoriesArrowMobile {
    fill: white
}

.hotpoint-theme .vtex-rich-text-0-x-container--modelsName {
    background-color: #f2f2f2;
    color: rgb(0, 0, 0);
}

.hotpoint-theme .vtex-rich-text-0-x-container--linkModels {
    background-color: #f2f2f2;
    color: #3AB5BE;
}

.hotpoint-theme .vtex-rich-text-0-x-link--modelsName {
    color: #000;
}

.hotpoint-theme .vtex-rich-text-0-x-link--searchModel {
    color: #000;
}

.hotpoint-theme #onetrust-banner-sdk #onetrust-button-group {
    display: flex;
}

.hotpoint-theme .banner-actions-container {
    display: flex;
    flex-direction: row-reverse
}

.hotpoint-theme #onetrust-accept-btn-handler {
    margin-right: 18px
}

.hotpoint-theme .smartukb2c-countdown-0-x-customAutocomplete__homeButton {
    background-color: #3AB5BE;
}

@media only screen and (max-width: 500px) {
    .hotpoint-theme #onetrust-banner-sdk #onetrust-button-group {
        flex-direction: column;
    }
    .hotpoint-theme .banner-actions-container {
        flex-direction: column-reverse;
    }
}