/*--- SUMMARY ---*/
.signInContainerSummary {
	margin-left: 1.5rem;
	display: flex;
	align-items: flex-end;
}
.mandatoryContainer {
}

.emailLoader {
	right: 0;
	top: 30%;
}
.signInContainerSummary :global(.vtex-button) {
	min-height: unset;
}
.signInContainerSummary :global(.vtex-button):hover {
	background: transparent;
}
.signInContainerSummary :global(.vtex-button__label),
.signInContainerSummary :global(.vtex-button__label) > span > div > div {
	padding: 0 !important;
}
.signInContainerSummary :global(.vtex-login-2-x-label) {
	padding: 0;
	display: block!important;
}

.dirtyProfileMessageInfo :global(.vtex-button) {
	min-height: unset;
	margin-top: -3px;
}
.dirtyProfileMessageInfo :global(.vtex-button):hover {
	background: transparent;
}
.dirtyProfileMessageInfo :global(.vtex-button__label),
.dirtyProfileMessageInfo :global(.vtex-button__label) > span > div > div {
	padding: 0 !important;
}
.dirtyProfileMessageInfo :global(.vtex-login-2-x-label) {
	padding: 0;
	text-transform: lowercase !important;
	font-size: .75rem;
	display: block!important;
	font-weight: 600;
}

.dirtyProfileMessageInfo :global(.vtex-login-2-x-container) {
	float: none;
	display: inline-flex;
	margin-left: 3px;
}
.dirtyProfileMessageInfoSignIn :global(.vtex-login-2-x-label){
	color: #fff;
	display: block!important;
	text-transform: uppercase !important;
}
.dirtyProfileMessageInfoSignIn :global(.vtex-login-2-x-container){
	display: block;

}
.dirtyProfileMessageInfoSignIn :global(.vtex-button){
	height: fit-content;
	width: max-content;
}
.dirtyProfileMessageInfoSignIn :global(.vtex-login-2-x-buttonLink){
	text-align: center;
}

.signInORSummary {
	margin: 0 1rem;
	color: #727273;
}
.signInChangeEmailSummary {
	text-transform: uppercase;
	font-size: 0.875rem;
	cursor: pointer;
}
.profileSumbitButton > button {
	border: none;
	transition: all 0.3s ease;
	border-radius: 11px;
	width: 50%;
}
.profileSumbitButton > button:hover {
	border: none;
	transition: all 0.3s ease;
}

/*--- SUMMARY ---*/
.profileSummaryContainer {
	margin-top: 1.5rem;
	font-size: 12px;
	color: #000;
}
.profileSummaryEmail {
  display: flex;
  align-items: center;
}
.profileSummaryLabel {
}
.profileSummaryLabelNoMargin {
	margin-top: 0;
}
/*--- INFO DATA ---*/
.errorLabel {
	font-weight: 400;
	font-size: 0.9375rem;
	margin: 0;
	margin-top: 0.125rem;
}
.emailModal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	z-index: 999;
	display: flex;
	justify-content: center;
	align-items: center;
}
.emailModalContent {
	background-color: #fff;
	width: 50%;
	height: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.dirtyProfileContainer{
	display: flex;
    flex-direction: column;
    margin-top: 20px;
    background: white;
    padding: 20px;
    border-radius: 0.5rem;
}
.dirtyProfileMessageTitleWrap{
	display: flex;
	align-items: center;
	gap: 5px;
	margin-bottom: 20px;
}

.dirtyProfileMessageTitle{
	font-weight: 700;
	font-size: 0.775rem;
}
.dirtyProfileMessageInfo{
	display: block;
	padding-left: 21px;
}
.dirtyProfileMessageInfoItem{
	display: initial;
}
.emailModalContentWrapper {
}
.modalCloseIconContainer {
	position: absolute;
	right: 0;
	top: 0;
}
.modalCloseIcon {
	padding: 1rem;
	cursor: pointer;
}
.emailModalButtonContainer {
	display: flex;
	justify-content: center;
}
.emailModalButton {
	border: none;
	padding: 0.5rem 1.5rem;
	border-radius: 5px;
	cursor: pointer;
	min-height: 2.5rem;
	transition: all 0.3s ease;
}
.emailModalButton:hover {
	transition: all 0.3s ease;
}
.doubleInputsContainer {
	display: flex;
	justify-content: space-between;
	margin-top: 0.5rem;
}
.profileInput {
	margin: 0;
	width: 100%;
	position: relative;
}
.profileInput .vtex-input-prefix__group {
	border: 0;
}
.profileInput span {
	font-size: 13px;
}
.profileInput div{
	background-color: #e3e3e3 !important;
}
.profileInput > div{
	background-color: inherit!important;
}
.profileInput input:disabled{
	cursor: not-allowed;
}
.profileSumbitButton {
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	margin-bottom: -2rem;
}
.profileSumbitButton button:hover {
	opacity: 0.7;
}
.signInChangeEmailSummaryDirty{
	text-decoration: underline;
	text-transform: lowercase !important;
	font-size: .75rem;
}

.dirtyProfileMessageTitleWrap path{
	fill: #e53e3e;
}
.dirtyProfileMessageInfoWrapBottom{
	margin-top: 20px;
	padding-top: 20px;
	border-top: 1px solid #f2f2f2;
}
.dirtyProfileMessageInfoContainer{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.dirtyProfileMessageInfoSignIn{
    padding: 10px 60px;
    border-radius: 8px;
    height: fit-content;
	margin-left: 20px;
}
@media only screen and (max-width: 780px) {
	.profileSumbitButton > button {
		width: 100%;
	}
	.dirtyProfileMessageInfoSignIn{
		margin-left: 0;
		margin-top: 20px;
		width: 100%;
	}
	.dirtyProfileMessageInfo{
		flex-direction: column;
	}
	.dirtyProfileMessageInfoContainer{
		flex-direction: column;
	}
	.dirtyProfileMessageTitleWrap svg{
		height: 30px;
		width: 30px;
	}
	.profileSummaryEmail{
		flex-direction: column;
		align-items: flex-start;
	}
	.profileSummaryLabelNoMargin{
		order: 2;
	}
	.signInContainerSummary{
		margin-left: 0;
		margin-bottom: 20px;
	}
}
.profileEmailLogout {
	font-weight: 700;
	text-decoration: underline;
	text-align: right;
	width: 100%;
	margin: 10px 0;
	cursor: pointer;
}
