/* .vtex-address-form__country,  */
form.vtex-address-form__postalCode {
    display: block !important;
}
.vtex-pageHeader__title{
    font-family: 'nunitoRegular';
    color: #0d436b;
}
.vtex_my-authentication_savePassButton_container > button, .newAddressButton > button {
    border-width: 1px;
    border-radius: 20px;
    transition: all 0.3s ease;
}
.vtex_my-authentication_savePassButton_container > button, .newAddressButton > button > div {
    padding: .5rem 2rem .5rem 2rem;
}
.vtex_my-authentication_savePassButton_container > button:hover, .newAddressButton > button:hover {
    background-color: #fff;
    color: #0d436b;
    transition: all 0.3s ease;
}
.vtex-profile-form-3-x-styleguideInput > label > .vtex-input-prefix__group input {
    background-color: #f2f2f2;
    border-color: #000;
}
.vtex-my-account-1-x-boxContainerBody > div{
    height: auto;
}
.address-summary {
    font-weight: 600;
    color: #000;
}
.vtex-my-orders-app-3-x-orderBody > div:last-child {
    width: auto;
}
.myo-progress-bar .myo-progress-bar__ma-inner-circle::before {
    background-color: #0d436b;
}
.vtex-my-account-1-x-addressList > div > div > span{
    color: #3f3f40;
}
  
@media only screen and (max-width: 640px){
    .vtex-account__page .vtex-pageHeader__children {
        margin-top: 1.5rem;
        width: 100%;
    }
    .vtex-my-orders-app-3-x-orderBody > div:first-child {
        margin-top: 1.5rem;
    }
    .vtex-my-orders-app-3-x-orderBody > div:last-child {
        padding: 0;
        width: fit-content;
        margin-left: auto;
        margin-top: -2.5rem;
    }
}