.cx-form-inputs {
    font-weight: normal;
}

.cx-widget.cx-theme-light .cx-titlebar .cx-title {
    color: #187c83;
}

.cx-widget.cx-theme-light .cx-btn-primary {
    border-color: #187c83;
    /* background: linear-gradient(180deg,#187c83 0,#187c83); */
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    border-radius: 0;
    margin: 0;
    border: none;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    height: 50px;
    text-transform: uppercase;
}

.cx-chat-close .cx-btn-primary {
    position: relative !important;
    width: 45% !important;
    border-radius: 50px !important;
    /* padding: 0; */
    height: 32px !important;
}

.cx-widget.cx-theme-light .cx-titlebar .cx-title {
    color: #187c83;
}

.cx-webchat.cx-theme-light .cx-message.cx-them .cx-bubble {
    background-color: #f2f2f2 !important;
}

.cx-webchat.cx-theme-light .cx-message.cx-you .cx-bubble {
    background-color: #e1e1e1 !important;
}

.cx-avatar-wrapper {
    top: -11px !important;
    left: auto !important;
    right: 35px!important;
}

.cx-avatar-wrapper svg {
    background: #f2f2f2;
    border-radius: 100%;
    padding: 4px;
    height: 32px !important;
    width: 32px !important;
}

.cx-webchat .cx-transcript .cx-message-group>.cx-message.cx-participant:first-child .cx-bubble-arrow,
.cx-webchat .cx-transcript .cx-message-group>.cx-message.cx-participant:first-child .cx-name {
    display: none!important;
}

.cx-webchat .cx-transcript .cx-message-group>.cx-message.cx-participant {
    margin-bottom: 20px!important;
}

.cx-input-container {
    display: block;
    width: 90% !important;
    margin: 0 auto;
    margin-bottom: 10px;
}

.cx-widget.cx-desktop .cx-input-focus {
    border-width: 1px!important;
    box-shadow: 0 2px 2px #e1e1e1;
    transition: all .2s ease-out;
    border-color: #e1e1e1!important;
}

.cx-widget.cx-theme-light .cx-btn:focus,
.cx-widget.cx-theme-light .cx-button-group button:focus,
.cx-widget.cx-theme-light .cx-form-control:not(.cx-error):focus,
.cx-widget.cx-theme-light input:focus,
.cx-widget.cx-theme-light textarea:focus {
    border-color: #e1e1e1!important;
}

.cx-emoji-hasmenu svg path {
    fill: #9d9d9d;
}

.cx-emoji-hasmenu svg circle {
    fill: #9d9d9d;
}

.cx-send svg path {
    fill: #187c83 !important;
}

.cx-webchat .cx-transcript .cx-message-group>.cx-message.cx-participant .cx-bubble {
    margin: 0 40px 0 0 !important;
}

.cx-webchat .cx-transcript .cx-message-group>.cx-message.cx-participant.cx-you .cx-bubble {
    margin: 0 0 0 40px !important;
}

.cx-webchat .cx-menu>li>.cx-menu-item {
    height: 25px;
    width: 25px;
}

.cx-webchat .cx-alert>.cx-wrapper {
    margin-top: 30px!important;
}

.Tertiary.nirepair p {
    margin: 0!important;
}

.Tertiary.nirepair a {
    text-decoration: none;
}

.no-absolute {
    position: relative !important;
}

.indesit-theme .cx-btn-primary {
    background-color: #0090d0!important;
}