.can_i_help {
    position: relative;
    background: black;
}

.can_i_help p {
    position: absolute;
    right: 0;
    top: 20px;
    color: #187c83;
    background: white;
    padding: 10px 15px;
    border-radius: 7px;
    font-weight: 500;
    font-family: quicksandbold;
}

.TertiaryVisible {
    visibility: hidden;
}

.Tertiary {
    position: fixed;
    right: 8%;
    right: 120px;
    bottom: 12%;
    z-index: 100;
    min-width: 321px;
}

.Tertiary img {
    position: absolute;
    right: -29%;
}

.Tertiary .toggle_tertiary {
    cursor: pointer;
}

.Tertiary .Tertiary_1 {
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: none;
}

.Tertiary .Tertiary_1 .Tertiary_1_1 {
    background: linear-gradient(270deg, #282828 0, #000) !important;
    padding: 15px 20px;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

.Tertiary .Tertiary_1 .Tertiary_1_1 p {
    color: white;
    font-size: 17px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Tertiary .Tertiary_1 .Tertiary_1_1 p img {
    height: 11px;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
}

.Tertiary .Tertiary_1 .Tertiary_1_1 i {
    right: 20px;
    text-align: right;
    font-size: 0.8rem;
}

.Tertiary .Tertiary_1 .Tertiary_1_2 p {
    border-bottom: 1px solid #f2f2f2;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 25px;
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 13px;
    background-image: url("/arquivos/Right-chevron-(hotpoint-green).png");
}

.Tertiary .Tertiary_1 .Tertiary_1_2 a {
    color: black;
}

.Tertiary .Tertiary_1 .Tertiary_1_2 a:hover {
    color: #187c83;
}

.Tertiary .Tertiary_1 .Tertiary_1_2 p:last-of-type {
    padding: 15px 0px;
    border-bottom: 1px solid #f2f2f2;
    font-size: 16px;
    box-shadow: 0 0 black;
}

.Tertiary .Tertiary_1 .Tertiary_1_2 i {
    position: absolute;
    right: 20px;
    color: #187c83;
    cursor: pointer;
}

.Tertiary_1_3 {
    display: flex;
    align-items: center;
    padding-bottom: 0px !important;
    padding-top: 0 !important;
}

.Tertiary .Tertiary_1 .Tertiary_1_3 {
    padding: 15px 20px;
    background: #f2f2f2;
    margin-top: 60px;
}

.Tertiary .Tertiary_1 .Tertiary_1_3 img {
    height: 25px;
    left: auto;
    right: auto;
    bottom: auto;
    top: auto;
}

.Tertiary .Tertiary_1 .Tertiary_1_3 h3 {
    font-size: 20px;
    font-weight: 400;
    padding: 0px 10px;
}

.Tertiary .Tertiary_1 .Tertiary_1_3 i {
    position: absolute;
    left: 20px;
    font-size: 24px;
    color: #000;
}

.Tertiary .Tertiary_2 {
    background: #187c83;
    position: absolute;
    margin-top: 10px;
    box-shadow: 0px 2px 4px #000000;
    width: 100%;
    padding: 10px 0px;
    border-radius: 7px;
}

.Tertiary .Tertiary_2 .col-xs-2 i {
    font-size: 40px;
    color: white;
    position: absolute;
    top: 5px;
}

.Tertiary .Tertiary_2 .col-xs-10 p:first-of-type {
    color: white;
    font-weight: 500;
    font-size: 18px;
}

.Tertiary .Tertiary_2 .col-xs-10 p {
    font-size: 16px;
}

.nirepair.whats {
    display: none;
}

.chatStatus {
    margin-bottom: 60px;
    display: none;
}

.chatStatus img {
    right: auto;
    left: -7px;
    bottom: -25px;
}

.chatStatus.on img {
    cursor: pointer;
}

.Tertiary_Chat,
.chatSelect {
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    display: none;
    position: absolute;
    bottom: 20px;
    right: -75px;
    min-width: 320px;
}

.Tertiary_Chat.chat-hidden {
    display: none !important;
}

.Tertiary_Chat p,
.chatSelect p {
    padding: 0px 25px;
    color: black;
}

.Tertiary_Chat .header,
.chatSelect .header {
    background: linear-gradient(270deg, #282828 0, #000) !important;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    padding: 15px 20px;
}

.Tertiary_Chat .header i.toggle_chat.ion-close,
.chatSelect .header i.toggle_chat.ion-close {
    float: right;
    padding-right: 3px;
    font-size: 0.8rem;
}

.Tertiary_Chat .footer,
.chatSelect .footer {
    background: linear-gradient(270deg, #282828 0, #000) !important;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    color: white;
    padding: 15px 20px;
    border: none;
    display: flex;
    align-items: center;
}

.Tertiary_Chat .footer img {
    height: 12px;
    left: auto;
    right: auto;
    bottom: auto;
    top: auto;
}

.Tertiary_Chat .footer a {
    margin-left: 20px;
    text-decoration: none;
}

.Tertiary_Chat .header p,
.chatSelect .header p {
    color: white;
    font-size: 17px;
    font-weight: 500;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    background-image: none;
}

.Tertiary_Chat .header p img {
    height: 11px;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
}

.Tertiary_Chat p,
.chatSelect p {
    border-bottom: 1px solid #f2f2f2;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 25px;
    background-repeat: no-repeat;
    background-position: 95%;
    background-size: 13px;
    background-image: url("/arquivos/Right-chevron-(hotpoint-green).png");
}

.Tertiary_Chat p:last-child,
.chatSelect p:last-child {
    border-bottom: none;
}

.Tertiary_Chat p a,
.chatSelect p a {
    color: #000;
}

.Tertiary_Chat p.footer a,
.chatSelect p.footer a {
    color: #fff;
}

.Tertiary_Chat p i.ion-chevron-right.overlay_takeover,
.chatSelect p i.ion-chevron-right.overlay_takeover {
    float: right;
    padding-right: 5px;
    color: #187c83;
}

.btn-disabled {
    background: #ccc;
    border: 1px solid #ddd;
    padding: 5px 25px;
    color: #fff;
    margin: 10px 10px 10px 0;
    display: inline-block;
}

.begin-chat {
    display: flex;
    align-items: center;
    background-color: #187c83;
    color: #fff;
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
    padding: 18px;
}

.begin-chat img {
    height: 25px;
    left: auto;
    right: auto;
    top: auto;
    bottom: auto;
}

.begin-chat-text {
    display: flex;
    flex-direction: column;
    font-family: quicksandMedium;
    margin-left: 10px;
}

.begin-chat i {
    position: relative !important;
    font-size: 2rem;
    color: #fff !important;
    margin-left: 20px;
}

@media (max-width: 767.98px) {
    .Tertiary img {
        position: absolute;
        right: -30%;
        bottom: -30px;
    }
}