.subscriberContainer {
  background-color: aquamarine;
}
.ButtonText {
  font-weight: 700;
  font-size: 12px;
  text-transform: none;
  color: #edb112;
}
.gobackContainer{
  display: flex;
  align-items: center;
}
.goBackLinkInvoice{
  color: #edb112;
  font-family: "GothamProRRegular";
  font-weight: 600;
  font-size: 0.75rem;
  margin-left: .5rem;
}

.gobackIcon{
  margin-right: 0.2rem;
}
