.bg-base {
}
.vtex-input-prefix__group {
	border: none;
	border-radius: 0;
	position: relative;
}
.vtex-input-prefix__group::after {
	content: "";
	width: 0;
	height: 2px;
	bottom: 0;
	left: 0;
	position: absolute;
	transition: all 0.3s ease;
}
.vtex-input-prefix__group:focus-within::after {
	content: "";
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	position: absolute;
	transition: all 0.3s ease;
}

.vtex-styleguide-9-x-input {
	border-bottom: 1px solid #bfc0c1;
	padding: 0;
	border-radius: 0;
	position: relative;
	padding-inline: 10px;
	font-size: 13px;
}
.vtex-styleguide-9-x-input::after {
	content: "";
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	position: absolute;
}
.vtex-styleguide-9-x-input:focus {
	border-color: transparent;
}
.vtex-dropdown__container {
	border-bottom: 1px solid #bfc0c1;
	border-top: none;
	border-right: none;
	border-left: none;
	border-radius: 0;
}
