{
  "extends": ["vtex-react/io"],
  "rules": {
    "camelcase": "off",
    "@typescript-eslint/camelcase": ["off"],
    "react/no-unescaped-entities": false
  },
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  }
}
