.caretIcon {
    color: #deb01a;
    padding: 0 1rem 0 1rem;
}

.container {
    padding-left: 7%;
}

.homeLink, .arrow--1, .arrow--2 {
    display: none ;
}

.arrow--3 .caretIcon {
    display: none;
}

.arrow--3:hover .link, .arrow--4:hover .link {
    color: #deb01a !important;
}