.product-identifier {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 8px;
}


@media only screen and (max-width: 1300px) {
    .product-identifier--productReference {
        display: flex;
        justify-content: flex-end; 
    }
}

@media only screen and (max-width: 1110px) {
    .product-identifier--productReference {
        display: flex;
        justify-content: flex-start; 
    }
}