.confirmationIconWrapper {
    color: #deb01a;
}
.noticesList {
    display: none;
}
.orderOptionsWrapper .updateOrderButton, .orderOptionsWrapper .cancelOrderButton{
    display: none;
}
.myOrdersButton{
    display: none;
}
.myOrdersButton :global(.vtex-button) {
    background-color: #deb01a !important;
    border-color: #deb01a !important;
    color: #fff !important;
    padding: 0 10px;
}
.myOrdersButton :global(.vtex-button):hover {
    border-color: #BE9714 !important;
    background-color: #BE9714 !important;
}