.link--columnLinkRight {
    color: black;
    width: 520px;
    height: 100px;
    text-decoration: none;
}

.label--columnLinkRight {
    font-size: 16px;
}

.label--columnLinkRight:hover {
    color: #f2f2f2;
    font-size: 16px;
}

.link--promotionsButton {
    margin-top: 10px;
    color: black;
    background-color: white;
    border-color: #deb01a;
    border-radius: 0;
    width: 100%;
}
.label--promotionsButton{
    text-transform: capitalize;
    font-weight: normal;
}

.link--promotionsButton:hover {
    color: white;
    background-color: #deb01a;
    border-color: #deb01a;
}

.buttonLink--buttonSearch {
    min-width: 0;
    min-height: 0;
    height: 42px;
    background: #deb01a;
    color: white;
    border-radius: 0;
}

.buttonLink--buttonSearch:hover {
    background: #deb01a;
    color: white;
}

.buttonLink--leftDown {
    background-color: #deb01a;
    color: white;
    height: 30px !important;
}

.buttonLink--leftDown:hover {
    background-color: #a88718;
    color: white;
}

.label--buttonCarousel {
    vertical-align: middle;
    height: 100%;
    font-size: 1rem;
    font-weight: 300;
}

.link--loginButton {
    margin-right: 20px;
    background-color: #deb01a !important;
    border: none;
}

@media only screen and (max-width: 640px)
{
    .link--loginButton, .label--loginButton { 
        width: 100px !important;
        height: 40px; 
    }

    .label--loginButton {
        font-size: 14px;
        margin-top: 10px;
        margin-right: 0;
    }
}  