.menuLinks :global(.vtex-account_menu-link) {
  color: #deb01a;
}
.genderContainer {
  display: none;
}
.dateOfBirthSubContainer {
  display: none;
}
/* HIDE ADDRESSES SECTION IN MYACCOUNT */
.menuLinks :first-child :nth-child(2) {
  display: none !important;
}
