.searchResultContainer {
    padding: 0;
    max-width: none;
}

.galleryItem--grid {
    flex-basis: 25.1% !important;
    max-width: none !important;
}

.gallery--grid {
    justify-content: center;
    margin: 0;
    padding: 0;
}

.buttonShowMore--layout {
    margin: 10px 0 10px 0;
}

.buttonShowMore :global(.vtex-button) {
    width: 40% !important;
    background-color: #deb01a;
    border: none;
}

.totalProducts--layout {
    display: none;
}