.flexRow {
  background-color: white;
}
.flexRow--footer {
  width: 100%;
  height: 300px;
  background-color: #424242;
  padding: 30px 0 0 10%;
}
.flexRow--header {
  background-color: white;
  border: 2px solid #f2f2f2;
  height: 40px;
  padding-bottom: 30px;
}

.flexRow--landing {
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  height: 60px;
  padding-bottom: 30px;
}

.flexRow--flexboxVideos {
  height: 280px;
  margin-bottom: 40px;
  background-color: #f2f2f2;
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.flexRowContent {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
}

.flexRowContent--headerMenuRow {
  display: flex;
  justify-content: space-between;
}

.flexRow--footerEnd {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
}

.flexRow--promotions {
  height: 400px;
  background-color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.flexRow--creditCards {
  background-color: #424242;
}

.flexCol--footerCol {
  justify-content: flex-start;
  padding-top: 20px;
}

.flexRow--dropdownRow {
  width: 100%;
  height: 325px;
}

.flexRow--dropdownRowBarcode {
  width: 70vh;
  height: 80vh;
}

.flexRow--dropdownRowSearch {
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0;
}

.flexCol--dropdowncol {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100px;
  padding: 0;
  margin: 0;
}

.flexColChild--dropdowncol {
  width: 520px;
  height: 100px;
  margin: 0 0 0 20px;
  padding: 0;
}

.flexColChild--dropdowncolright {
  margin-bottom: 10px;
  min-width: 440px;
}

.flexColChild--cta2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 120px !important;
  background: transparent;
}

.flexRowContent--searchWithButton {
  position: relative;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexRowContent--searchWithButton .stretchChildrenWidth:first-child {
  width: 80% !important;
}

.flexRowContent--searchWithButton .stretchChildrenWidth:last-child {
  width: 20% !important;
  margin-left: 10px;
}

.flexRow--headertabSecond {
  display: flex;
  justify-content: flex-end;
}

.flexRowContent--headertabSecond {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: auto;
}

.stretchChildrenWidth {
  width: 150px;
}

.flexRowContent--headertabMain {
  align-items: center;
}

.flexRow--headertabMain :global(.vtex-store-components-3-x-container) {
  width: 100% !important;
  max-width: unset !important;
}

.flexRow--headertabMain {
  border: 3px solid #f2f2f2;
}

.flexRow--priceAndButton {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #f2f2f2e5;
}

.flexRowContent--priceAndButton {
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px 0 30px 0;
  padding: 0 5px 0 5px;
}

.flexRowContent--priceAndButton .stretchChildrenWidth:first-child {
  width: 40% !important;
}

.flexRowContent--priceAndButton .stretchChildrenWidth:last-child {
  width: 60% !important;
  max-width: 180px !important;
}

.flexRow--productMiddleRow {
  width: 100%;
  padding-left: 20px;
}

.flexColChild--flexRowProductRight {
  width: 40%;
  height: 100% !important;
  border-left: 1px solid black;
  padding-left: 20px;
}

.flexRowContent--rowQty {
  margin-top: 120px;
}

.flexRowContent--priceAndButton :global(.vtex-button) {
  display: flex;
  width: 260px;
  height: 60px;
  background: #deb01a;
  border: none;
  border-radius: 0;
  margin: 0;
  text-transform: inherit;
  font-size: 13px;
  font-weight: 300;
}

:global(.vtex-button__label) {
  padding: 0 !important;
  width: 100%;
}
@keyframes shoppingIcon {
  0% {
    background-color: rgb(30, 255, 105);
    margin-right: 0;
  }
  10% {
    background-color: rgb(255, 255, 255);
    margin-right: 3px;
    border-radius: 4px;
  }
}

.flexRow--cta2 {
  background: transparent;
  width: 100%;
}

.flexRow--searchWithButton {
  display: flex;
  justify-content: center;
  width: 100%;
}

.flexRow--barcodeOpen {
  display: flex;
  justify-content: center;
}

.flexRowContent--barcodeOpen {
  display: flex;
  justify-content: center;
}

.flexRowContent--barcodeOpen .stretchChildrenWidth:first-child {
  display: flex;
  justify-content: flex-end;
  width: 32% !important;
  padding-right: 10px;
}

.flexCol--leftDown {
  width: 92% !important;
  justify-content: center;
}

.flexRowContent--searchWithButtonDown {
  align-items: center;
}

.flexRowContent--searchWithButtonDown .stretchChildrenWidth:first-child {
  width: 70% !important;
}

.flexRowContent--searchWithButtonDown .stretchChildrenWidth:last-child {
  width: 100% !important;
}

.flexRow--leftDown {
  margin-bottom: 40px;
}

.flexColChild--flexRowProductRight :global(.vtex-button) {
  background: #deb01a !important;
  width: 220px;
  height: 60px;
  border-color: #deb01a;
  border-radius: 0px;
}

.flexRow--productMiddleRow {
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 150px;
  min-width: 310px;
  margin: 0 2px 0 2px;
}

.flexRow--productMiddleRow
  :global(.vtex-product-identifier-0-x-product-identifier--productReference) {
  display: flex;
  justify-content: flex-start;
}

.flexRow--productMiddleRowRec {
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 150px;
  min-width: none;
  width: 100%;
  padding-left: 10px;
}

.flexRow--searchBoxWrapper {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 330px;
  padding-top: 20px;
  max-width: 1140px;
}
.flexRow--searchBoxElements {
  align-items: center;
  justify-content: center;
}

.flexRowContent--CLASSIC-PAGE .flexCol:last-child {
  padding-left: 6%;
}

.flexRowContent--leftDown .stretchChildrenWidth {
  justify-content: flex-start;
}

.minicartProductListContainer .flexColChild {
  display: flex;
}

.flexRowContent--availabilityRow {
  width: 90%;
  justify-content: flex-start;
  align-items: center;
}

.flexRowContent--availabilityDelivery {
  align-items: center;
}
.flexRowContent--confirmationButtons :global(.vtex-button) {
  background-color: #deb01a !important;
  border-color: #deb01a !important;
  color: #fff !important;
  padding: 0 10px;
}
.flexRowContent--confirmationButtons :global(.vtex-button):hover {
  border-color: #be9714 !important;
  background-color: #be9714 !important;
}
/* Mobile part start */

.flexRow--videosMobileRow {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f2f2f2;
}

.flexCol--videosMobileCol {
  width: 100%;
  background-color: #f2f2f2;
}

.flexRow--searchBoxWrapper {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 330px;
  padding-top: 20px;
  max-width: 1140px;
}
.flexRow--searchBoxElements {
  align-items: center;
  justify-content: center;
}

.flexRow--headertabSecond :global(.vtex-button) {
  margin: 0 20px 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  background-color: #deb01a;
  color: white !important;
}

.flexRow--headertabSecond :global(.vtex-button) .span {
  color: white;
}

.stretchChildrenWidth :global(.vtex-product-list-0-x-productBrandName) {
  display: none;
}
.stretchChildrenWidth :global(.vtex-product-list-0-x-removeButtonContainer) {
  padding-left: 60px;
  padding-top: 4px;
}

/* Mobile part end */

@media only screen and (max-width: 1300px) {
  .flexRowContent--productLeft {
    padding-left: 0px;
  }
}

@media only screen and (max-width: 1100px) {
  .flexRowContent--productMainRow {
    flex-flow: column !important;
  }

  .flexRowContent--productMainRow .stretchChildrenWidth:first-child {
    width: 100% !important;
  }

  .flexRowContent--productMainRow .stretchChildrenWidth:last-child {
    width: 100% !important;
  }

  .flexRowContent--productLeft {
    flex-flow: column;
    padding-left: 0px;
  }

  .flexRowContent--productLeft .stretchChildrenWidth:last-child {
    padding-left: 40px;
  }

  .flexCol--flexRowProductRight {
    margin: 40px;
  }

  .flexColChild--flexRowProductRight {
    border-left: none;
  }

  .flexRowContent--CLASSIC-PAGE .flexCol:last-child {
    padding-left: 0%;
  }
}

@media only screen and (max-width: 1024px) {
  .flexRow--searchBoxWrapper {
    top: -200px;
    position: relative;
  }

  .flexRow--dropdownRowMobile {
    height: 310px;
  }

  .flexColChild--dropdowncol {
    margin: 0 !important;
  }

  .flexColChild--dropdowncolMobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .flexColChild--dropdowncolMobile::after {
    content: ">";
    font-size: 19px;
    color: #deb01a;
    width: 10px;
    height: 10px;
    margin-top: 10px;
  }
  .flexRowContent--rowQty {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 900px) {
  .flexRowContent--priceAndButton .stretchChildrenWidth:last-child {
    margin-left: 40px;
  }
}

@media only screen and (max-width: 600px) {
  .flexRow--videosMobileRow :global(.vtex-store-components-3-x-container) {
    width: 100% !important;
  }

  .flexRow--productMiddleRow {
    min-width: 280px;
  }

  .flexRowContent--priceAndButton :global(.vtex-button) {
    width: 150px;
  }

  .flexColChild--videosMobileCol {
    display: flex !important;
    justify-content: center !important;
  }

  .flexColChild--dropdowncol {
    width: 100%;
  }
}
