.container{
    padding-left: 10px;
    margin-top: 0;
}

.globeIcon {
    display: none;
}

.list {
    padding-right: 80px; 
}

.relativeContainer {
    width: 50px !important;
}

.listElement {
    width: 32px;
}