.submenuList {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.departmentLink:hover {
    border-bottom: 2px solid yellow;
}

.firstLevelList {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-wrap: wrap;
}

.firstLevelLink:hover {
    border-bottom: 2px solid #deb01a;
    text-decoration: none;
}

.secondLevelLink:hover {
    border-bottom: 2px solid #deb01a;
    text-decoration: none;
}

.thirdLevelLink:hover {
    border-bottom: 2px solid #deb01a;
}

.firstLevelLinkContainer {
    width: 100%;
}

.secondLevelLinkContainer {
    width: 51%;
}

.itemContainer {
    z-index: 1000;
}