@font-face {
    font-family: "Gotham Pro";
    font-style: normal;
    font-weight: 400;
    src: local("Gotham Pro"),
      url("https://fonts.cdnfonts.com/s/12664/GothaProReg.woff") format("woff");
  }
  @font-face {
    font-family: "Gotham Pro";
    font-style: normal;
    font-weight: 400;
    src: local("Gotham Pro"),
      url("https://fonts.cdnfonts.com/s/12664/GothaProBla.woff") format("woff");
  }
  @font-face {
    font-family: "Gotham Pro";
    font-style: normal;
    font-weight: 400;
    src: local("Gotham Pro"),
      url("https://fonts.cdnfonts.com/s/12664/GothaProLig.woff") format("woff");
  }
  @font-face {
    font-family: "Gotham Pro";
    font-style: normal;
    font-weight: 400;
    src: local("Gotham Pro"),
      url("https://fonts.cdnfonts.com/s/12664/GothaProMed.woff") format("woff");
  }
  @font-face {
    font-family: "Gotham Pro";
    font-style: normal;
    font-weight: 700;
    src: local("Gotham Pro"),
      url("https://fonts.cdnfonts.com/s/12664/GothaProBol.woff") format("woff");
  }
  

.mobileStickyFooter {
    font-family: 'gothamproregular';
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 150;
    background: #FFFFFF;
    height: 80px;
    width: 100%;
    box-shadow: 0px 0px 16px rgba(35, 31, 32, 0.05);
    border-radius: 4px 4px 0px 0px;
}
  