.containerBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0rem 3rem;
}

.containerNumberBlock {
    display: flex;
    flex-direction: column;
    width: 38%;
    border: 1px solid #B1B1B1;
    padding: 1rem 2rem 1rem 2rem;
    background: #DEE0E3;
    border-radius: 4px;
}

.containerOrderBlockGuest {
    display: flex;
    flex-direction: column;
    border: 1px solid #B1B1B1;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 4px;
    width: 60%;
}

.containerOrderBlockLoggedin {
    display: flex;
    border: 1px solid #B1B1B1;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 4px;
    width: 60%;
}

.containerOrderBlockLoggedinTimeline {
    display: flex;
    border: 1px solid #B1B1B1;
    padding: 1rem 2rem 1rem 2rem;
    border-radius: 4px;
    width: 60%;
    justify-content: space-between;
}

.phoneSectionTitle,
.orderBlockTitle {
    color: #134468;
    font-weight: 600;
    font-family: openSans;
    font-size: 22px;
}

.phoneNumber {
    font-weight: 700;
    font-family: openSans;
    font-size: 15px;
    color: #134468;
}

.imagePhoneNumber {
    padding: 0 0.2rem;
    width: 10px;
    height: 10px;
}

.linkGuest {
    font-weight: 700;
    font-family: openSans;
    color: #134468;
    font-size: 15px;
    padding: 0rem 0.2rem;
}

.paraghaphStyle,
.paraghaphMyaccountLabel {
    font-size: 15px;
    font-family: openSans;
    color: #134468;
}

.paraghaphDeliveryLabel{
    font-size: 12px;
    font-family: openSans;
    color: #134468;
}

.spanDeliveryLabel{
    font-weight: 600;
}

.secondColOrderSection {
    display: flex;
    flex-direction: column;
}

.containerOrderBlockLoggedin {
    justify-content: space-between;
}

.firstButton {
    color: white;
    background: #134468;
    text-decoration: unset;
    padding: 0.5rem;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    margin: 0.3rem 0rem;
    font-size: 13px;
    font-family: openSans;
    font-weight: 600;
    width: 150px;
}

.secondButton {
    color: #134468;
    background: #DEE0E3;
    border: 1px solid #134468;
    text-decoration: unset;
    padding: 0.5rem;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    margin: 0.3rem 0rem;
    font-size: 13px;
    font-family: openSans;
    font-weight: 600;
    width: 150px;
}

.timelineSection2Col {
    display: flex;
    flex-direction: column;
}

/*Timeline*/
.timeline {
    margin: 0.5rem 3rem 2.5rem 1rem;
    height: 5px;
    background-color: #ccc;
}

.paraghaphTimelineVoice {
    font-size: 10px;
    font-weight: 400px;
    font-family: openSans;
    color: #134468;
}

.timelineProgressStep1 {
    width: 0%;
    height: 100%;
    background-color: #134468;
}

.timelineProgressStep2 {
    width: 33%;
    height: 100%;
    background-color: #134468;
}

.timelineProgressStep3 {
    width: 66%;
    height: 100%;
    background-color: #134468;
}

.timelineProgressStep4 {
    width: 100%;
    height: 100%;
    background-color: #134468;
}

.timelineItems {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -12px;
    display: flex;
    justify-content: space-between;
}

.timelineItem1,
.timelineItem1Blue,
.timelineItem2,
.timelineItem2Blue,
.timelineItem3,
.timelineItem3Blue,
.timelineItem4,
.timelineItem4Blue {
    position: relative;
    width: 100px;
}

.timelineItem4,
.timelineItem4Blue {
    width: 20px;
}

.timelineItem1::before {
    content: '1';
    width: 20px;
    height: 20px;
    text-align-last: center;
    background-color: #ccc;
    display: block;
    border-radius: 100%;
}

.timelineItem1Blue::before {
    content: '1';
    color: #fff;
    width: 20px;
    height: 20px;
    text-align-last: center;
    background-color: #134468;
    display: block;
    border-radius: 100%;
}

.timelineItem2::before {
    content: '2';
    width: 20px;
    height: 20px;
    text-align-last: center;
    background-color: #ccc;
    display: block;
    border-radius: 100%;
}

.timelineItem2Blue::before {
    content: '2';
    color: #fff;
    width: 20px;
    height: 20px;
    text-align-last: center;
    background-color: #134468;
    display: block;
    border-radius: 100%;
}

.timelineItem3::before {
    content: '3';
    width: 20px;
    height: 20px;
    text-align-last: center;
    background-color: #ccc;
    display: block;
    border-radius: 100%;
}

.timelineItem3Blue::before {
    content: '3';
    color: #fff;
    width: 20px;
    height: 20px;
    text-align-last: center;
    background-color: #134468;
    display: block;
    border-radius: 100%;
}

.timelineItem4::before {
    content: '4';
    width: 20px;
    height: 20px;
    text-align-last: center;
    background-color: #ccc;
    display: block;
    border-radius: 100%;
}

.timelineItem4Blue::before {
    content: '4';
    color: #fff;
    width: 20px;
    height: 20px;
    text-align-last: center;
    background-color: #134468;
    display: block;
    border-radius: 100%;
}

.timelineContent {
    position: absolute;
    /* top: 30px; */
    left: 18%;
    transform: translateX(-50%);
    width: 100px;
    padding: 0px 0px;
    border-radius: 5px;
    text-align: center;
}

@media only screen and (max-width: 1024px) {
    .containerBlock {
        display: flex;
        flex-direction: column;
        padding: 0rem 1rem;
    }

    .containerNumberBlock,
    .containerOrderBlockGuest,
    .containerOrderBlockLoggedin {
        width: 100%;
        margin-top: 1rem;
        padding: 1rem;
    }

    .containerOrderBlockLoggedin {
        flex-direction: column;
    }

    .secondColOrderSection {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .firstButton,
    .secondButton {
        width: 120px;
    }

    .containerOrderBlockLoggedinTimeline {
        flex-direction: column;
        width: 100%;
        padding: 1rem;
        margin-top: 1rem;
    }

    .timelineSection2Col {
        display: flex;
        flex-direction: column;
        bottom: 1.5rem;
        position: relative;
    }

    .paraghaphMyaccountLabel {
        position: relative;
        top: 7rem;
        text-align: center;
    }

    .paraghaphDeliveryLabel{
        text-align: center;
    }

    .timeline{
        margin: 0.5rem 1rem 2.5rem 1rem;
    }
}