.tableContainer {
    width: 100%;
    border-collapse: collapse;
}
:global(.vtex-button) {
    width: 7rem;
    margin: 0.2rem;
    font-size: 11px;
    white-space: nowrap;
    justify-content: center;
}
/* :global(.styleguide__box){
    width: 57rem;
    position: relative;
    right: 0rem;
} */
.formWrapper{
    margin: 15px 0px;
}
td {
    border: 1px solid #d1d1d1;
    /* font-size: 14px; */
    padding: 2px;
    max-width: 8rem;
    font-size: 11px;
    text-align: center;
}
th {
    text-align: center;
    border: 1px solid #d1d1d1;
    height: 50px;
    max-width: 6rem;
    padding: 2px;
    font-size: 12px;
    background-color: #edb112
}
.formWrapper{
    margin: 15px 0px;
}
.selectWrapper{
    margin: 15px 0px;
    width: 100%;
}
select{
    height: 40px;
    width: 100%;
    border-color: hsl(0, 0%, 80%);
    height: 40px;
    border-radius: 3px;
    color: slategray;
    padding: 5px;
}
option{
    font-size: 18px;
}
.filterContainer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}
.selectWrapperFilter{
    width: 50%;
    padding: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
:global(.css-b62m3t-container){
    width: 100%;
}