.readMoreContent {
  font-weight: bold;
  font-size: 0.9rem;
  letter-spacing: 1px;
}

.readMoreContainer {
  display: flex;
  margin: 1rem 0 2rem 0;
  flex-direction: column;
}
.link {
  color: #007d69;
}
