.container {
  width: 100%;
  margin-bottom: 0.5rem;
}

.container :global(.vtex-button) {
  height: 100%;
  background-color: #0d436b;
  color: white;
  border-color: #0d436b;
}

.container :global(.vtex-button):hover {
  background-color: rgba(13, 67, 107, 0.8);
}

.container :global(.vtex-styleguide-9-x-input) {
  border: 0.125rem solid #cacbcc;
  width: 70%;
  margin-right: 5%;
  border-radius: 0.25rem;
}

.error {
  font-family: "openSans";
  width: 100%;
  font-size: 0.8rem;
  color: red;
}

.containerDelivery {
  width: 100%;
  align-items: center;
  display: flex;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}

:global(.vtex-flex-layout-0-x-flexRow--deliverySimulatorRow) .fastEstForm {
  margin-bottom: 0;
}

.container :global(.vtex-input-prefix__group) {
  border: none;
}
.container :global(.vtex-styleguide-9-x-input):hover {
  border-color: #cacbcc;
}
.container :global(.vtex-button__label) {
  padding: unset;
}
.success {
  width: 80%;
  margin: auto;
  color: #3f3f40;
  font-size: 1rem;
}
.subTitle {
  color: #3f3f40;
  font-size: 0.7rem;
}
.containerSuccess {
  opacity: 0.8;
  width: 50%;
  display: flex;
}
.containerInstallation {
  display: flex;
}
.textResponse {
  font-size: 0.875rem;
  color: #979899;
}
.tickIconInstall {
  width: 0.875rem;
  margin-right: 1rem;
}

@media only screen and (max-width: 600px) {
  .fastEstForm {
    flex-direction: column;
  }
  .container {
    width: 100%;
  }
  .containerSuccess {
    width: 100%;
  }
  .error {
    width: 100%;
  }
}
