.productPriceContainer {
  display: flex;
  flex-direction: column;
}

:global(.vtex-flex-layout-0-x-flexCol--SearchResult--price) .sellingPrice{
  font-size: 1.5rem;
  position: relative;
  top: 0.5rem;
}

:global(.vtex-flex-layout-0-x-flexCol--SearchResult--price) .percentageBadgeContainer,
:global(.vtex-flex-layout-0-x-flexCol--SearchResult--price) .listPriceContainer{
  display: none;
}

.percentageBadgeContainer {
  margin: 0 0 0.5rem auto;
}

/*--- NEW UI ---*/
:global(.vtex-product-summary-2-x-column--drawer-summary-col2)
  .listPriceContainer {
  margin: 0;
  text-align: right;
}

:global(.vtex-product-summary-2-x-column--drawer-summary-col2) .sellingPrice {
  color: #3f3f40;
  font-size: 1.5rem;
}

.sellingPrice {
  font-family: "openSans";
}

/*----------------------*/

/*--- PRODUCT OF DAY ---*/
:global(.vtex-flex-layout-0-x-flexRowContent--productPriceDay)
  .productPriceContainer {
  margin-bottom: 0.5rem;
}

:global(.vtex-flex-layout-0-x-flexRowContent--productPriceDay)
  .productPriceContainer {
  margin-bottom: 0.5rem;
}

:global(.vtex-flex-layout-0-x-flexRowContent--productPriceDay)
  .listPriceContainer,
:global(.vtex-flex-layout-0-x-flexRowContent--productPriceDay)
  .sellingPriceContainer {
  text-align: center;
}

:global(.vtex-flex-layout-0-x-flexRowContent--productPriceDay) .sellingPrice {
  font-size: 1.3rem;
  line-height: 16px;
  font-weight: 300;
  color: #505050;
  font-family: "openSans";
  min-width: fit-content;
  justify-content: center;
}
:global(.vtex-product-summary-2-x-clearLink--shelfRelatedAccessories)
  .sellingPrice {
  font-size: 1.3rem;
  line-height: 16px;
  font-weight: 300;
  color: #505050;
}
:global(.vtex-product-summary-2-x-clearLink--shelfRelatedAccessories)
  .listPriceContainer {
  text-align: end;
}

/*--- PRODUCT CARDS ---*/
:global(.vtex-flex-layout-0-x-flexRowContent--productPriceDay)
  .flexColChild--productPrice {
  margin-bottom: 0.5rem;
}

:global(.vtex-flex-layout-0-x-flexColChild--productPrice) .listPriceContainer,
:global(.vtex-flex-layout-0-x-flexColChild--productPrice)
  .sellingPriceContainer {
  text-align: right;
}

:global(.vtex-flex-layout-0-x-flexColChild--productPrice) .listPrice {
  white-space: nowrap;
}

:global(.vtex-flex-layout-0-x-flexColChild--productPrice) .sellingPrice {
  font-size: 1.3rem;
  line-height: 16px;
  font-weight: 300;
  color: #505050;
  font-family: "openSans";
  min-width: fit-content;
  white-space: nowrap;
}

:global(.vtex-flex-layout-0-x-flexColChild--rightBlock) .sellingPrice {
  justify-content: flex-start;
}

:global(.vtex-flex-layout-0-x-flexRow--priceAndLeadTimeRow) .sellingPrice {
  justify-content: flex-start;
  font-size: 1.7rem;
  color: #505050;
}

:global(.vtex-flex-layout-0-x-flexRow--priceAndLeadTimeRow) .listPrice {
  font-size: 1.2rem;
}

:global(.vtex-flex-layout-0-x-flexRow--stickyPdpPriceRow) .sellingPrice {
  color: #000;
  font-size: 1.5rem;
  margin-left: 1rem;
}

:global(.vtex-flex-layout-0-x-flexRow--stickyPdpPriceRow) .listPriceContainer {
  margin: 0;
  display: flex;
  align-items: center;
  font-weight: 100;
  justify-content: flex-end;
}

:global(.vtex-flex-layout-0-x-flexRow--stickyPdpPriceRow)
  .productPriceContainer {
  display: flex;
  justify-content: flex-end;
}

:global(.vtex-flex-layout-0-x-flexRow--productEnergyLabelAndPriceRow)
  .sellingPrice,
:global(.vtex-flex-layout-0-x-flexCol--productPriceAndEnergyCol) .sellingPrice {
  font-size: 1.3rem;
  font-weight: 300;
  color: #505050;
}
.productEnergyLabelAndPriceRow {
  min-height: 76px;
}

:global(.vtex-flex-layout-0-x-flexCol--productPriceAndEnergyCol) .sellingPrice {
  justify-content: flex-start;
}

:global(.vtex-flex-layout-0-x-flexRowContent--productEnergyLabelAndPricePDPRow)
  .sellingPriceContainer,
:global(.vtex-flex-layout-0-x-flexColChild--pdpStickyColPrice)
  .sellingPriceContainer {
  margin-bottom: 0;
}

:global(.vtex-flex-layout-0-x-flexColChild--pdpStickyColPrice) .sellingPrice {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 300;
}
:global(.vtex-flex-layout-0-x-flexColChild--priceSectionPDP)
  .productPriceContainer {
  position: relative;
}
:global(.vtex-flex-layout-0-x-flexColChild--priceSectionPDP)
  .percentageBadgeContainer {
  position: absolute;
  right: -2rem;
}
:global(.vtex-flex-layout-0-x-flexRowContent--stickyPdpPriceRow)
  .productPriceContainer {
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
:global(.vtex-flex-layout-0-x-flexRowContent--stickyPdpPriceRow)
  .percentageBadgeContainer {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
:global(.vtex-flex-layout-0-x-flexRowContent--stickyPdpPriceRow)
  .productPriceWrapper {
  display: flex;
  width: 100%;
}
:global(.vtex-flex-layout-0-x-flexRowContent--stickyPdpPriceRow)
  .listPriceContainer {
  width: 50%;
  justify-content: flex-start;
}
:global(.vtex-flex-layout-0-x-flexRowContent--stickyPdpPriceRow)
  .sellingPriceContainer {
  width: 50%;
}
:global(.vtex-flex-layout-0-x-flexColChild--priceSection)
  .productPriceContainer {
  flex-direction: row;
  position: relative;
}
@media only screen and (min-width: 641px) {
  :global(.vtex-flex-layout-0-x-flexColChild--priceSection)
    .percentageBadgeContainer {
    position: absolute;
    left: -2.5rem;
  }
}

@media only screen and (max-width: 640px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--productImageAndPriceRowMobile)
    .productPriceContainer {
    position: relative;
  }
  :global(.vtex-flex-layout-0-x-flexRowContent--productImageAndPriceRowMobile)
    .percentageBadgeContainer {
    position: absolute;
    right: 0;
  }
  :global(.vtex-flex-layout-0-x-flexRowContent--showPriceSticky)
    .productPriceContainer {
    flex-direction: row-reverse;
  }
}
@media only screen and (max-width: 1024px) {
  :global(.vtex-flex-layout-0-x-flexCol--SearchResult--price) .sellingPrice{
    font-size: 1.5rem;
    position: relative;
    bottom: 0.5rem;
  }
}