.titleForm {
  color: #0d436b;
  font-family: "nunitoRegular";
}

.fieldContainer :global(.vtex-styleguide-9-x-input) {
  font-family: "openSans";
}

.informativa {
  font-family: "openSans";
}

.submitContainer :global(.vtex-styleguide-9-x-input) {
  background-color: #0d436b !important;
  font-family: "openSans";
  border: 1px solid #0d436b !important;
  transition: all 0.3s ease;
}

.submitContainer :global(.vtex-styleguide-9-x-input):hover {
  background-color: white !important;
  transition: all 0.3s ease;
  color: #0d436b !important;
}
.buttonDisabled :global(.vtex-styleguide-9-x-input) {
  cursor: text !important;
}
.buttonDisabled :global(.vtex-styleguide-9-x-input):hover {
  background-color: #0d436b !important;
  font-family: "openSans";
  border: 1px solid #0d436b !important;
  color: #fff !important;
}

.formNotValid :global(.vtex-styleguide-9-x-input) {
  background-color: #dee0e3 !important;
  border-color: transparent !important;
  color: #fff;
  font-family: "openSans";
}

.formNotValid :global(.vtex-styleguide-9-x-input):hover {
  background-color: #dee0e3 !important;
  color: #fff !important;
  border-color: transparent !important;
  font-family: "openSans";
}

.successClass {
  border-radius: 0.25rem;
  background-color: #0d436b;
  font-family: "openSans";
  color: white;
}
.privacyLabel .paragraph,
.privacyCheckboxLabel .paragraph {
  margin-left: 0;
  font-size: 0.625rem;
}
.privacyCheckboxLabel .paragraph {
  margin: 0;
}
.privacyLabel .link,
.privacyCheckboxLabel .link {
  color: #0d436b;
  text-decoration: underline;
}

@media only screen and (max-width: 640px) {
  .description {
    text-align: left;
    font-size: 0.9rem;
  }

  :global(.vtex-flex-layout-0-x-flexRow--news-letters)
    .container
    :global(.vtex-button) {
    width: 100%;
  }

  :global(.vtex-flex-layout-0-x-flexRow--news-letters-footer)
    .container
    :global(.vtex-button) {
    border-radius: 0.3rem;
    width: 60%;
    background-color: #0d436b;
    border: 1px solid #0d436b;
    transition: all 0.4s ease;
  }

  :global(.vtex-flex-layout-0-x-flexRow--news-letters-footer)
    .container
    :global(.vtex-button):hover {
    background-color: #fff;
    transition: all 0.4s ease;
  }

  :global(.vtex-flex-layout-0-x-flexRow--news-letters-footer)
    .container
    :global(.vtex-button__label) {
    color: #fff;
    border: none;
    background-color: transparent;
  }

  :global(.vtex-flex-layout-0-x-flexRow--news-letters-footer)
    .container
    :global(.vtex-button__label):hover {
    background-color: transparent;
    color: #0d436b;
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    /* display: flex; */
    align-items: center;
    padding: 0;
    margin: 0;
  }
}

:global(.vtex-flex-layout-0-x-flexRowContent--news-letters-footer)
  .description {
  display: flex !important;
}

:global(.vtex-flex-layout-0-x-flexRow--news-letters) .description {
  display: contents;
}

.container :global(.vtex-button__label) {
  color: #fff;
  transition: all 0.4s ease;
  font-size: 0.75rem;
  font-family: "openSans";
  font-weight: 700;
}

.container :global(.vtex-button) {
  text-transform: none;
  background-color: #0d436b;
  border: 1px solid #0d436b;
  transition: all 0.4s ease;
}

.container :global(.vtex-button):hover {
  background-color: #fff;
  transition: all 0.4s ease;
}
.container :global(.vtex-button):hover :global(.vtex-button__label) {
  color: #0d436b;
  transition: all 0.4s ease;
}

.container :global(.vtex-button__label):hover {
  color: #fff;
  transition: all 0.4s ease;
}
