.productPrice {
  font-family: "openSans";
}

@media only screen and (min-width: 64em) {
  .packageHeaderColumn {
    width: 50%;
    padding-right: 1.5rem;
  }
}
.confirmationIconWrapper {
  color: #0d436b;
}

.noticeListItem,
.productName,
.productQuantity,
.attachmentTitle,
.attachmentToggleWrapper,
.productPrice,
.totalListItemValue,
.productInformationSheet {
  color: #0d436b;
}

.confirmationMessage {
  color: black;
}

.productInformationSheet {
  color: #0d436b;
  font-size: 14px;
}

.confirmationTitle,
.orderNumber,
.packageDeliveryTitle,
.totalListItemLabel {
  font-family: "nunitoRegular";
  color: #0d436b;
}

.noticesList,
.attachmentHeader {
  background-color: #edf4fc;
}

.orderWrapper,
.totalListItemValue {
  font-family: "openSans";
  color: #0d436b !important;
}

.updateOrderButton :global(.vtex-button),
.myOrdersButton :global(.vtex-button) {
  background-color: #0d436b;
  color: white;
}

.updateOrderButton :global(.vtex-button):hover,
.myOrdersButton :global(.vtex-button):hover {
  background-color: white;
  color: #0d436b;
  border: 1px solid #0d436b;
}

@media only screen and (min-width: 600px) {
  .linksContainer {
    width: 150%;
  }
}
