.breadcrumbContainer {
  /* padding-left: 0; */
  text-transform: capitalize !important;
  font-family: "openSans" !important;
  padding-left: 0;
  padding: 0 !important;
}

.breadcrumbNolink {
  color: #9fa0a1;
}

.breadcrumbContainer {
  color: #9fa0a1;
}

.breadcrumb {
  color: #9fa0a1;
}

.breadcrumb:hover,
.breadcrumbNolink:hover {
  color: #0d436b !important;
}

.arrowIconBread {
  opacity: 25% !important;
}

@media only screen and (max-width: 640px) {
  .breadcrumbContainer {
    padding-left: 1rem;
  }
}
