.prodSpecItem {
  padding: 0.7rem 2rem 0.5rem;
}

.text {
  font-family: "openSans";
}

.title {
  font-family: "nunitoRegular";
  color: #0d436b;
}

.prodSpecContainer {
  margin-top: 2rem;
  max-width: unset;
}
