.serviziAggiuntiviTable {
  margin: 0 0 1rem 0;
  padding: 0.5rem 1.5rem;
  border-bottom: 1px solid #0d436b;
  background-color: #f9f9f9;
  width: 100%;
  font-size: 1rem;
  height: auto;
  overflow: visible;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.freeLabel,
.labelPrice {
  font-family: "openSans";
  font-weight: bolder;
  margin-left: 1rem;
  font-size: 0.875rem;
}

.labelPrice {
  display: flex;
  align-items: center;
  color: #505050;
}

.servOptions {
  font-family: "openSans";
  font-size: 0.9rem;
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
}

.twoYearsWarranty {
  width: 100%;
  padding-right: 2.125rem;
}

.servAggTooltip {
  font-family: "openSans";
  font-size: 0.9rem;
  padding-top: 0.875rem;
}

.servTitleStyle {
  font-family: "nunitoRegular";
  color: #0d436b;
  margin: 0.5rem 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
}
.serviceTitle {
  display: flex;
  align-items: center;
}
.whirlClub {
  margin-left: 0.6rem;
  height: 1.2rem;
  margin-bottom: -4px;
}
.servAggRow {
  display: flex;
  flex-direction: column;
  padding: 0.875rem 0;
  position: relative;
}

.servAggRow:not(:last-child) {
  border-bottom: 1px solid #d0d3d4;
}
.servOptionsNoDesc {
  padding-right: calc(1.5rem + 10px);
}
.servOptionsDiscount {
  display: flex;
  justify-content: space-between;
  padding-right: 2rem;
}
.servAggRow :global(.vtex__icon-caret-down),
.servAggRow :global(.vtex__icon-caret-up) {
  width: 10px;
  color: #505050;
}

@media only screen and (max-width: 600px) {
  .serviziAggiuntiviTable {
    padding: 1.5rem 1.3rem;
  }
  .serviziAggiuntiviTable {
    font-size: 0.875rem;
  }
}
