.containerImage {
    height: 50px;
    width: 76px;
}

@media only screen and (min-width: 1024px) {
    :global(.vtex-flex-layout-0-x-flexRowContent--headerDesktopLogin) .containerImage{
        display: none;
      }   
}