.element--shelfRelatedAccessories
  :global(.vtex-product-summary-2-x-imageNormal) {
  max-width: 150px !important;
  height: auto !important;
}
.container :global(.vtex-button__label) {
  padding: 0.5rem !important;
  font-size: 0.8rem;
  font-weight: 600;
}

/* --------------------------- SEARCH RESULT ---------------------------- */
@media only screen and (min-width: 1200px) {
  :global(.vtex-flex-layout-0-x-flexColChild--shelfHeaderSearch) .productNameContainer{
    min-height: 70px;
  } 
}
@media only screen and (max-width: 640px) {
  :global(.vtex-flex-layout-0-x-flexColChild--shelfHeaderSearch) .productNameContainer{
    min-height: 50px;
  } 
  :global(.vtex-flex-layout-0-x-flexColChild--shelfHeaderSearch) .brandName{
    font-size: 14px!important;
  }
}
:global(.vtex-flex-layout-0-x-flexColChild--shelfHeaderSearch) .brandName{
  font-size: 15px;
  font-weight: 500!important;
}
.imageContainer--headerSearchShelfImage{
  padding-bottom: 0.5rem;
}

@media screen and (max-width: 600px) {
  :global(.vtex-product-summary-2-x-containerNormal--shelfHeaderSearch) .containerNormal {
    min-width: 380px !important;
  }
}
@media screen and (max-width: 640px) {
  .imageContainer {
    text-align: center;
    margin-top: unset;
    margin-bottom: unset;
    margin-right: unset !important;
  }
  .element--shelfHeaderSearch {
    flex-direction: row;
    align-items: center;
  }
  .imageWrapper--headerSearchShelfImage {
    margin-left: 1rem;
    width: auto;
  }
  .image--headerSearchShelfImage {
    height: 90% !important;
    width: auto !important;
  }
  .imageContainer--headerSearchShelfImage {
    width: auto !important;
    height: auto !important;
    max-height: 90px !important;
  }
}

@media screen and (max-width: 379px){
  :global(.vtex-product-summary-2-x-containerNormal--shelfHeaderSearch) .imageContainer {
    text-align: left;
    margin: 0;
    height: 50px!important;
    width: 50px!important;
    position: static;
  }
}
@media screen and (min-width: 380px) and (max-width: 450px){
  :global(.vtex-product-summary-2-x-containerNormal--shelfHeaderSearch) .imageContainer {
    text-align: left;
    margin: 0;
    height: 50px!important;
    width: 50px!important;
    position: static;
  }
}
@media screen and (min-width: 451px) and (max-width: 540px){
  :global(.vtex-product-summary-2-x-containerNormal--shelfHeaderSearch) .imageContainer {
    text-align: left;
    margin: 0;
    height: 50px !important;
    width: 50px !important;
    position: static;
  }
}
@media screen and (min-width: 600px) and (max-width: 1024px){
  :global(.vtex-product-summary-2-x-containerNormal--shelfHeaderSearch) .containerNormal{
    max-width: 320px !important;
  }
}
@media screen and (max-width: 1024px){
  :global(.vtex-flex-layout-0-x-flexColChild--shelfHeaderSearch) .brandName{
    font-size: 1rem;
  }
}
/* ---------------------------END SEARCH RESULT ---------------------------- */
/*Comparison plp*/
:global(.vtex-product-summary-2-x-image--comparisonDrawer) {
  height: 6.25rem;
}

.column--drawer-summary-col2
  :global(.vtex-product-summary-2-x-nameContainer--nameProductCompare) {
  width: 100%;
  text-align: left;
}
.column--drawer-summary-col2
  :global(.vtex-product-summary-2-x-image--comparisonDrawer) {
  width: 100%;
  height: 80px !important;
  object-fit: contain;
  max-height: unset;
  max-width: 80px !important;
}

.column--drawer-summary-col2 {
  flex-direction: column;
  align-items: flex-start;
}

.column--drawer-summary-col2
  :global(.vtex-store-components-3-x-discountInsideContainer) {
  display: none;
}

.nameContainer--nameProductCompare {
  width: 80%;
  margin-bottom: 0.9375rem;
  justify-content: center;
  text-align: center;
}

.brandName--nameProductCompare {
  font-size: 0.875rem !important;
  line-height: 1rem;
  color: #505050;
}

.column--drawer-summary-col2
  :global(.vtex-product-specifications-1-x-specificationValue--first) {
  padding: 0;
  margin: 0;
}
.column--drawer-summary-col2
  :global(.vtex-flex-layout-0-x-flexRow--priceComparisonDrawer) {
  margin-top: 1rem;
}
.column--drawer-summary-col2
  :global(.vtex-flex-layout-0-x-flexRow--priceComparisonDrawer) {
  width: 100%;
}
.column--drawer-summary-col2
  :global(.vtex-flex-layout-0-x-flexRowContent--priceComparisonDrawer) {
  justify-content: flex-end;
}

:global(.vtex-slider-layout-0-x-slide--comparison-page) .imageContainer .image {
  height: unset !important;
}

:global(.vtex-slider-layout-0-x-slide--comparison-page) .productBrand {
  font-size: 1rem !important;
  font-weight: 400 !important;
}

.skuSelectorContainer--quickview .skuSelectorItemImage .frameAround,
.skuSelectorContainer--quickview .skuSelectorItemImage .skuSelectorInternalBox {
  border-radius: 50%;
}

.container :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.container:hover :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 1;
}

@media screen and (max-width: 40em) {
  .container :global(.vtex-modal-layout-0-x-triggerContainer) {
    display: none;
  }
}

.nameContainer {
  justify-content: start;
  margin-bottom: 0.2rem;
  padding: 0;
  height: auto;
}

.brandName {
  font-size: 1.1rem;
  color: #505050;
  text-decoration: none;
  font-weight: 600;
  font-family: "nunitoRegular";
}

.container--productSummaryShelfPlp {
  border: none !important;
}

.container--productSummaryShelfPlp:hover {
  box-shadow: none !important;
}

.productBrandContainer {
  text-align: center;
}

.productBrandName {
  padding: 0.5rem 1rem;
  border: 2px solid #fdc100;
  font-size: 0.9rem;
}

.container {
  text-align: start;
  border: 0.0625rem solid rgb(236, 236, 236);
  transition: 0.3s;
  border-radius: 0px;
  max-width: unset !important;
}

.container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.containerNormal--productOfDay {
  /* border: 1px solid #ececec; */
  border: none;
}

.imageContainer {
  text-align: center;
}

.image {
  border-radius: 0.25rem;
}

.element {
  margin: 0 1rem;
}

.element--productSummaryShelfPlp {
  padding: 0;
  margin: 0 0.5rem;
}

.element--productSummaryShelfPlp
  :global(.vtex-product-summary-2-x-nameWrapper) {
  display: block;
  display: -webkit-box;
  line-height: 1;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nameContainer--productOfDay {
  display: flex;
  align-items: flex-end;
  text-align: center !important;
  /* margin: 5px 0 0 0; */
  /* min-height: 65px; */
  margin: 0.5rem 0;
}

.element--productOfDay .image {
  max-height: 140px !important;
}

.element--homeCarousel {
  margin: 0 1rem !important;
}

.element--homeCarousel .image {
  height: 120px !important;
  max-height: unset !important;
  margin-bottom: 10px;
}

.element--homeCarousel :global(.vtex-product-summary-2-x-nameWrapper) {
  height: 50px;
  display: block;
  display: -webkit-box;
  line-height: 1;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nameWrapper--productOfDay {
  display: flex;
  display: -webkit-box;
  align-items: flex-end;
  max-width: 400px;
  /* height: 44px; */
  margin: 0 auto;
  font-size: 11px;
  line-height: 1;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 3rem;
}

.brandName--productOfDay {
  font-weight: 400 !important;
  text-align: center !important;
  justify-content: center;
  padding-bottom: 0px !important;
  font-size: 11px;
  line-height: 16px;
}

.priceContainer {
  padding-bottom: 0;
}

/*------------- NEW PLP CARD -------------*/
/* Mobile */
/* .containerNormal--productCardUkcc {
  border: none;
} */

.element--productCardUkcc {
  margin: 0;
  padding: 1rem;
}

.containerNormal--productCardUkcc {
  overflow: visible;
}

/*----------------------------------------*/

@media only screen and (max-width: 1100px) {
  .element--productSummaryShelfPlp {
    padding: 0;
    margin: 0.5rem 0.5rem !important;
  }
}

@media only screen and (max-width: 1024px) {
  .containerNormal--productOfDay {
    /* border: 1px solid #ececec; */
    border: none;
    border-radius: 0;
    transition: all 0.4s ease;
  }

  .containerNormal--productOfDay:hover {
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
    transition: all 0.4s ease;
  }
}

@media only screen and (min-width: 1100px) {
  .element--productOfDay .image {
    max-height: 90px !important;
  }
}
.containerNormal--shelfRelatedAccessories {
  max-width: 300px !important;
}
@media only screen and (max-width: 640px) {
  .nameContainer--productOfDay {
    font-weight: normal !important;
    text-align: center !important;
    justify-content: center;
    align-items: center;
    height: 5rem;
    font-size: 0.8rem;
    padding: 0;
    margin: 0;
  }

  .brandName--productOfDay {
    font-weight: 400 !important;
    text-align: center !important;
    justify-content: center;
    padding-bottom: 0px !important;
    font-size: 10px;
    line-height: 16px;
  }

  .element--productSummaryShelfPlp {
    padding: 0.5rem 0;
    margin: 0.5rem 0.5rem !important;
    justify-content: space-between;
  }

  .element--homeCarousel {
    margin: 0 0.5rem !important;
  }
  .containerNormal--shelfRelatedAccessories {
    max-width: unset !important;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1024px) {
  .containerNormal--productCardUkcc {
    max-width: 394px !important;
  }
}