.footerLayout--footerSection :global(.vtex-flex-layout-0-x-flexRow--footerRow) {
  background-color: transparent;
}
.row--menu-row {
  padding-right: 24px;
}

.row--menu-row .rowContainer {
  align-items: flex-start;
}

.row--payment-methods {
  padding-top: 16px;
}

.socialNetworkWrapper--footerMobile {
  width: auto !important;
  margin: 0 auto;
  padding-bottom: 2rem;
}

.footerLayout--footerSection {
  background-color: #484949;
  padding-bottom: 85px;
}

.footerLayout :global(.vtex-flex-layout-0-x-flexRowContent) {
  width: 100%;
}

.footerLayout :global(.vtex-menu-2-x-styledLinkContent) {
  white-space: pre-wrap !important;
}
