.minicartTitle {
  font-family: "nunitoRegular";
  color: #0d436b;
  font-weight: 700;
}
.minicartIconContainer--cartIcon {
  width: 25px;
}

.minicartCheckoutButton--checkoutBtnContainer :global(.vtex-button__label) {
  font-size: 12px;
}

.minicartProductListContainer--listItemContainer {
  font-size: 12px;
}

.opened {
  z-index: 1400 !important;
}

.openIconContainer--cartIcon {
  padding-right: 0 !important;
}

.openIconContainer--minicartHeaderMobile {
  padding: 0 !important;
}

.openIconContainer--minicartHeaderMobile :global(.vtex-button__label) {
  padding: 0 0.5rem;
}

.minicartProductListContainer--listItemContainer
  :global(.vtex-product-list-0-x-productName) {
  color: #000 !important;
}
