/* TO BE REMOVED AFTER ROUNDELS IMPLEMENTATION */
/* .imageElement--roundelsPlaceholder {
  max-width: 3rem;
  margin: 0 1rem;
}

@media only screen and (min-width: 1024px) {
  .imageElement--roundelsPlaceholder {
    max-width: 85%;
    margin: 0 0 1rem 0;
  }
} */

/*------------------------------------*/
/* featured template */

.imageElement--imageMenuOurBest {
  width: 80px;
  height: 80px;
}

/*  */
.imageElementLink--disputeResolution {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageElement--ImageBannerHorizontal4Card{
  width: 380px;
  object-fit: fill;
  border-radius: 4px;
}

.imageElementLink--ImageBannerHorizontal4Card{
  padding: 1rem 0rem;
  display: flex;
  justify-content: center;
  min-width: -webkit-fill-available;
}
.logoContainer--top-menu-item-logo {
  padding: 0;
  min-width: unset;
}

.logoLink--top-menu-item-logo {
  min-width: 36px;
  display: flex !important;
  justify-content: center;
}

.logoLink--logoHeaderDesktop {
  display: flex;
}

.logoContainer--logoHeaderDesktop {
  padding: 0;
  display: flex;
}

.logoImage--logoHeaderDesktop {
  max-width: 200px;
}

.sizeMobile {
  max-width: none;
}

/*--------------------CUSTOM LOGIN------------------------*/
.imageElement--logo-header-login {
  max-height: 3.5rem;
}

/*--------------------------------------------*/
.logoContainer--logoPhoneHeaderMobile {
  display: flex;
  justify-content: center;
  min-width: 25px;
  padding: 0;
}

.imageElement--mobileHeaderSupportIcon {
  max-width: 2.5rem;
  margin-right: 1rem;
}

.imageElement--imagePaymentPdp {
  margin: 0 !important;
}

.showMoreButton {
  background-color: transparent;
}

.productBrandContainer--brandBadge {
  display: flex;
  justify-content: center;
  margin: 0 0 1rem 0;
}

.productBrandName--brandBadge {
  color: white;
  font-size: 0.8rem;
  padding: 0.3rem 1.2rem;
  border-radius: 20px;
  margin: 0;
}

.productBrandName--WhirlpoolBrand {
  background-color: #fdc100;
}

.productBrandName--IndesitBrand {
  background-color: #0090d0;
}

.productBrandName--HotpointBrand {
  background-color: #000000;
}

.productBrandName--KitchenAidBrand {
  background-color: #c41230;
}

.productBrandName--WproBrand {
  background-color: #bdbdbd;
}

.logoLink--socialLogoFooterMobile {
  display: flex;
  justify-content: center;
  padding: 0 0.5rem;
}

.logoContainer--socialLogoFooterMobile {
  padding: 0;
  min-width: unset;
}

/*--------------------------------------------*/
.productBrand--summaryName {
  font-size: 0.9rem !important;
  color: #505050;
  text-decoration: none;
  line-height: 1.3rem;
  min-height: 7rem;
}

.imageElement--logoHeaderMenu {
  max-height: 2rem;
}

.imageElement--logoHeaderBigger {
  max-height: 3rem;
}

.imageElement--imagePayment {
  padding: 1rem 0 0 0;
  margin: 0;
  max-width: 80%;
}

.imageElement--enStockImage {
  margin-right: 0.5rem;
}

.imageElement--propologo {
  margin-right: 0.5rem;
  width: 40px !important;
  object-fit: cover;
  scale: 0.8;
}

.productNameLink--summaryName:hover {
  text-decoration: none;
}

.productNameContainer--summaryName {
  line-height: 0.7 !important;
  padding: 0.5rem 0rem;
  min-height: 6rem;
}

.searchIcon {
  color: #505050;
}

.searchIcon:hover {
  transition: all 0.3s ease;
  color: #0d436b;
}

.imageElement--imagePostillaBanner {
  max-height: 30rem;
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.imageElement--imagebannerTwoButton {
  max-height: 30rem;
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 0rem 0.5rem 0.5rem 0rem;
}

.imageElement--imagePostillaBanner2 {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.logoLink--logoFooter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logoContainer--logoFooterIcon {
  padding: 0;
  width: 25px !important;
  min-width: 25px;
  text-align: right;
}

.logoContainer--logoFooter {
  max-width: unset;
  min-width: unset;
  width: 232px;
  padding: 0;
}

.logoImage--logoFooterIcon {
  width: 25px;
  height: 25px;
}

.logoImage--logoHeaderWhr {
  max-height: 4rem;
}

.logoImage--logoFooterMobile {
  max-width: 7rem;
}

/**/
.logoContainer--logoFooterIconMobile {
  padding: 0;
  width: 25px !important;
  min-width: 25px;
  text-align: right;
}

.logoImage--logoFooterIconMobile {
  width: 25px;
  height: 25px;
}

/**/
.logoImage--logoFooter {
  max-height: 52px !important;
}

.logoImage--logoPageNotFound {
  width: 15rem;
}

.logoImage--requestACallLogo {
  margin: 10px 0 0 0;
  height: 40px;
}

:global(.vtex-search-result-3-x-galleryTitle--layout) {
  display: flex;
  justify-content: center;
  font-family: "openSans";
  font-weight: 400;
  font-size: 2.125rem;
  line-height: 2.25rem;
  color: #505050;
  margin: auto;
}

.breadcrumbpdp {
  font-family: "openSans";
  font-size: 0.75rem;
}

.infoCardHeadline--promoHalfBanner {
  font-family: "nunitoRegular";
  color: #0d436b;
}

.infoCardSubhead--promoHalfBanner {
  font-family: "openSans";
  color: #3f3f40;
}

.sizeDesktop {
  max-width: unset;
}

.infoCardCallActionContainer :global(.vtex-button):hover {
  font-family: "openSans";
  background-color: white;
  color: #0d436b;
  border: 1.5px solid #0d436b;
}

.notificationBarContainer {
  background-color: #edac09;
  color: #000000;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 20px;
  text-decoration: none;
}

.infoCardContainer--info-card-home {
  /* max-width: 1520px; */
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}

.imageElement--carousel {
  border-radius: 0.5rem;
}

.newsletter {
  background-color: #03054e;
  max-width: 1528px;
  margin: 0 auto;
}

.newsletter .container {
  padding: 60px 10px;
}

.label {
  color: #fff;
  font-size: 1.625rem;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 1rem;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.logoImage--logoSocialFooter {
  width: auto;
  padding: 5px;
}

.logoContainer--logoSocialFooter {
  padding: 0;
}

.logoContainer--logoFooterMobile {
  padding: 0;
}

.logoLink--logoFooterIconMobile {
  /* margin-right: 1rem; */
  margin: 0;
}

.imageElement--supportoCardIcon {
  max-width: 2.6875rem;
  height: 2.6875rem;
  width: auto;
}

.logoContainer--logoHeaderMobile {
  padding: 0;
  min-width: unset !important;
  max-width: 150px !important;
  max-height: unset;
  display: flex;
  align-items: center;
}

.logoImage--logoHeaderMobile {
  width: 100%;
}

.logoLink--logoHeaderMobile {
  display: flex;
}

.logoContainer--brandLogoHeader {
  padding: 0;
  display: flex;
  justify-content: center;
  max-width: unset;
}

.logoImage--brandLogoHeader {
  width: 60%;
}

.logoImage--brandLogoHeaderWpro {
  width: 30%;
}

.logoLink--brandLogoHeader {
  background: #fff;
  border-radius: 10px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  min-height: 3.5rem;
}

.logoContainer--logoMarkerHeaderMobile {
  position: absolute;
  top: 70px;
  min-width: 0px;
  padding: 20px 0px 0px 0px;
}

.logoImage--logoPhoneHeaderMobile {
  width: 25px;
  height: 25px;
}

.logoContainer--logoCatalogMobile {
  position: absolute;
  min-width: 0px;
  padding: 0px;
}

.logoImage--logoCatalogMobile {
  height: 100%;
  max-height: 2.25rem;
}

.logoImage--cartIcon {
  width: 25px;
  height: 25px;
}

.logoContainer--cartIcon {
  padding: 0;
  width: 25px;
}

.logoLink--cartIcon {
  width: 25px;
}

.infoCardContainer--cardSliderHp {
  background-color: #f4f4f4;
  padding: 0;
  width: 80%;
  height: 100%;
  border-radius: 0.5rem;
  border: none;
}

.infoCardContainer--cardSliderHpMobile {
  background-color: #f4f4f4;
  padding: 0;
  width: 80%;
}

.infoCardContainer--secondCardSliderHp {
  width: 100%;
}

.infoCardTextContainer--secondCardSliderHp {
  display: none;
}

.infoCardCallActionContainer--cardSliderHp {
  margin-top: 1rem;
}

.paginationDot--carouselHp--isActive {
  background-color: black;
}

.infoCardImageContainer--cardSliderHp {
  height: fit-content;
}

.infoCardImage--cardSliderHp {
  object-fit: contain !important;
  height: fit-content;
}

.infoCardTextContainer--wcollectionCardhp {
  width: 100% !important;
}

.infoCardContainer--wcollectionCardhp {
  height: calc(100% - 3.6rem);
  border-radius: 10px;
  margin-top: 2.8rem;
}

.infoCardContainer--wcollectionCardhpMobile {
  margin-right: 1rem;
  height: 100px;
}

.infoCardContainer--catalogCarouselImage {
  max-width: none;
  margin-right: unset;
  border-radius: 4px;
  border: unset;
}

.productNameContainer {
  color: #505050;
  text-align: left;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 24px;
  font-family: "nunitoRegular";
}

.productNameContainer--stickyName {
  margin-bottom: 0.25rem;
}

.imageElement--bannerPlpImage {
  max-height: 160px;
  width: 1022px;
  margin-bottom: 17px;
}

.autoCompleteOuterContainer :global(.vtex-input-prefix__group) {
  border-color: #b4b4b4;
}

@media only screen and (min-width: 1280px) {
  .searchBarContainer :global(.vtex-input-prefix__group) {
    max-height: 38px;
  }
}

@media only screen and (min-width: 1024px) {
  .logoLink--logoHeaderDesktop {
    max-width: 200px;
    position: relative;
    right: 0.5rem;
  }

  .searchBarContainer {
    max-width: 43rem;
    margin: auto;
  }

  .logoImage--logoPhoneHeaderMobile {
    width: auto;
    height: 25px !important;
  }

  .logoContainer--logoPhoneHeaderMobile {
    margin-bottom: 0.2rem;
    padding-top: 0.5rem;
  }
}

@media only screen and (max-width: 1024px) {
  .searchBarContainer {
    width: 55rem;
    max-width: none;
    padding: 0;
  }
  .imageElement--imagebannerTwoButton{
    border-radius: 0.5rem 0.5rem 0rem 0rem;
  }
}

.imageElement--imgWhirlpool {
  width: 9rem;
  margin: 0.5rem;
}

.imageElement--ContactMapMobile {
  height: auto;
}

.productImageTag--quickview-images--main {
  max-height: 300px !important;
}

.imageElement--backArrowIcon {
  margin-right: 0.5rem;
}

.container {
  /* margin: 0.5rem 2rem; */
  padding: 0 0.5rem;
}

.autoCompleteOuterContainer {
  border: none;
}

.autoCompleteOuterContainer :global(.vtex-input-prefix__group) {
  border-color: #b4b4b4;
  border-width: 0.125rem;
  border-style: solid;
  border-radius: 0.25rem;
}

.autoCompleteOuterContainer :global(.vtex-styleguide-9-x-input) {
  color: #727273;
  border: none;
  padding: 0.0625rem 0.125rem 0.0625rem 1rem;
  font-size: 1rem;
}

.productDescriptionContainer--featuresDesc {
  padding-top: 1.5rem;
}

.productDescriptionTitle--featuresDesc {
  font-weight: bold;
  font-size: 1.125rem;
}

.container--mainDescr {
  padding-left: 0;
}

.productDescriptionTitle--mainDescr {
  font-weight: bold;
  font-size: 1.125rem;
}

.infoCardSubhead--cardSliderHp {
  font-family: "openSans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #231f20;
}

.infoCardTextContainer--cardSliderHp :global(.vtex-button__label) {
  font-family: "openSans";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 11.5px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  text-transform: capitalize;
}

.infoCardTextContainer--cardSliderHp :global(.vtex-store-components-3-x-infoCardHeadline--cardSliderHp) {
  margin-top: 1rem !important;
}

.infoCardTextContainer--cardSliderHp :global(.vtex-store-components-3-x-infoCardSubhead--cardSliderHp) {
  margin-top: 1rem !important;
}

.infoCardTextContainer--cardSliderHp :global(.vtex-store-components-3-x-infoCardCallActionContainer--cardSliderHp) {
  margin-top: 1rem !important;
}

/* Template Landing Brand */
.imageElement--heroBannerImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.imageElement--textBoxImage {
  object-fit: contain;
  width: 100%;
}

.imageElement--bannerHalfImage {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.infoCardContainer--info-card-design {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.infoCardTextContainer--info-card-design {
  padding: 3rem;
}

.infoCardHeadline--info-card-design {
  font-size: 2.8rem;
  color: #353535;
}

.infoCardSubhead--info-card-design {
  font-size: 1.18rem;
  color: #353535;
}

.infoCardImageContainer--info-card-design {
  height: 100%;
}

.infoCardImage--info-card-design {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.imageElement--tabBannerImage {
  width: 100% !important;
  height: 100% !important;
}

/* Support Page */
.imageElement--howToBuyStepImage {
  max-width: 80%;
  max-height: 200px;
}

.imageElement--paymentMethodsImage {
  max-height: 12.995px;
}

.imageElement--specialOffersImage {
  max-width: 400px;
}

.imageElement--garantieLogo {
  max-height: 3rem;
}

.imageElement--closingIcon {
  width: 0.8rem;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.7rem;
  pointer-events: none;
}

.imageElement--gtIcon {
  height: 1rem;
}

@media only screen and (max-width: 1100px) {
  .container {
    margin: unset;
    width: 100%;
  }

  .infoCardImageContainer--cardSliderHp {
    width: 55%;
    height: auto !important;
  }

  .infoCardContainer--cardSliderHp {
    display: flex;
    height: 100%;
  }

  .infoCardImage--cardSliderHp {
    object-fit: cover;
    width: 100%;
    padding-top: 1rem;
  }

  .infoCardHeadline--cardSliderHp {
    font-family: "openSans";
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
  }

  .infoCardSubhead--cardSliderHp {
    font-family: "openSans";
    font-size: 0.563rem;
    font-style: normal;
    font-weight: 400;
    line-height: 11px;
    letter-spacing: 0em;
    text-align: left;
  }

  .infoCardTextContainer--cardSliderHp :global(.vtex-button__label) {
    font-family: "openSans";
    font-size: 0.438rem;
    font-style: normal;
    font-weight: 700;
    line-height: 7px;
    letter-spacing: 0em;
    text-align: center;
  }

  .infoCardContainer--wcollectionCardhp {
    /* height: 1000px; */
    width: 100%;
    max-width: unset;
  }
}

@media only screen and (max-width: 1000px) and (min-width: 600px) {
  .imageElement--imagePostillaBanner {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
  }
}

.productDescriptionTitle--subscription {
  margin-top: 0.75rem;
  margin-bottom: 0.25rem;
}

.price_sellingPrice--productPrice {
  font-weight: bold;
  font-size: 2rem;
  font-family: "openSans";
}

.productNameContainer--subscription {
  margin: 0.5rem 0;
  padding: 0.5rem 0;
}

.productBrand--subscription {
  font-weight: normal;
  font-size: 0.75rem;
}

.infoCardHeadline--cardSliderHp {
  font-family: "openSans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #231f20;
}

.infoCardHeadline--wcollectionCardhp {
  font-size: 16px;
  font-weight: bold !important;
  min-width: max-content;
}

.infoCardSubhead--wcollectionCardhp {
  font-size: 12px !important;
}

.infoCardContainer--serviceBannerImage {
  background-size: contain !important;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  position: absolute;
  top: 0;
  border: unset;
}

.imageElement--seoImage {
  margin-top: 7vh;
  display: flex;
}

.imageElement--userBonusPrincipalLogo {
  width: 10rem;
  margin-top: 2rem;
}

.imageElement--categoryIcon {
  height: 45px;
  width: 45px;
}

.imageElement--kondicioneryIcon {
  height: 33px !important;
}

:global(.vtex-toast) {
  background-color: #0d436b;
  letter-spacing: 0.1rem;
  font-weight: 700;
  font-size: 0.85rem;
  line-height: 1;
  color: #ffffff;
}

.imageElement--iconBelowHeader {
  max-height: 80%;
}

.imageElement--iconBelowHeaderLast {
  height: 36px;
}

.imageElement--iconStarsBannerHeader {
  margin-top: 3px;
}

@media only screen and (min-width: 1024px) and (max-width: 1160px) {
  .searchBarContainer {
    width: 80%;
    margin: auto;
  }
}

@media only screen and (max-width: 600px) {
  .searchBarContainer {
    padding: 0;
    border-color: #000000;
  }

  :global(.vtex-flex-layout-0-x-flexRow--wcollectionBanner) .imageElement--imagePostillaBanner {
    max-height: 100%;
    max-width: 100%;
    min-height: 30rem;
    object-fit: cover;
  }

  .searchBarContainer :global(.vtex-input-prefix__group) {
    max-height: 38px;
  }

  .infoCardTextContainer--cardSliderHp {
    width: 50%;
  }

  .infoCardContainer--cardSliderHp {
    width: 100% !important;
  }

  .infoCardHeadline--cardSliderHp {
    font-family: "openSans";
    font-size: 12px !important;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    color: #231f20;
    margin-top: 25%;
  }

  .infoCardSubhead--cardSliderHp {
    font-family: "openSans";
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 11px;
    letter-spacing: 0em;
    text-align: left;
    color: #231f20;
  }

  .infoCardTextContainer--cardSliderHp :global(.vtex-button__label) {
    font-family: "openSans";
    font-size: 7px;
    font-style: normal;
    font-weight: 700;
    line-height: 6.7px;
    letter-spacing: 0em;
    text-align: center;
    color: #ffffff;
    text-transform: capitalize;
  }

  .infoCardContainer--wcollectionCardhp {
    width: 100%;
    padding: 12px !important;
    margin-right: 12px !important;
    margin-left: 12px !important;
    border-radius: 5px !important;
    border: 0px !important;
  }

  .infoCardHeadline--wcollectionCardhp {
    font-size: 0.9rem !important;
    font-weight: bold !important;
  }

  .infoCardsubHead--wcollectionCardhp {
    font-size: 0.9rem !important;
    font-weight: bold !important;
  }

  .searchBarIcon--search {
    margin-left: 50px !important;
  }

  .logoContainer--logoFooterIconMobile {
    width: 13px !important;
    height: 13px !important;
  }

  .logoImage--logoFooterIconMobile {
    width: 13px !important;
    height: 13px !important;
  }

  .logoContainer--productSummaryComparisonLogo {
    margin: 0px 10px;
    padding: 0;
  }

  .productNameContainer {
    padding: 10px 0;
  }

  .productBrand--subscription {
    font-size: 10px;
  }

  .infoCardContainer--serviceBannerImage {
    background-size: inherit !important;
  }

  .imageElement--seoImage {
    display: none;
  }

  .imageElement--userBonusPrincipalLogo {
    width: 6rem;
    margin-top: 1rem;
  }

  .imageElement--bannerPlpImage {
    max-height: 115px;
    width: 346px;
    margin-bottom: 5px;
  }

  .imageElementLink--bannerPlpImage {
    text-align: center;
  }
}

@media only screen and (min-width: 640px) and (max-width: 1024px){
  /* .imageElement--ImageBannerHorizontal4Card{
    height: 6rem;
  } */

  .imageElementLink--ImageBannerHorizontal4Card{
    padding: 0.5rem;
  }
}

@media only screen and (max-width: 640px) {
  .imageElement--imagePayment {
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  /* .imageElement--ImageBannerHorizontal4Card{
    height: 10rem;
  } */

  .productNameContainer {
    padding: 0 0.5rem;
    color: #505050;
  }

  /* Template LP Brand */
  .imageElement--textBoxImage {
    max-height: 80px !important;
  }

  .infoCardHeadline--info-card-design {
    font-size: 2rem;
  }

  .infoCardSubhead--info-card-design {
    font-size: 1rem;
  }

  .infoCardContainer--info-card-design {
    display: flex;
    flex-direction: column-reverse;
  }

  .infoCardTextContainer--info-card-design {
    padding: 1rem;
  }

  :global(.vtex-toast) :first-child {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 0 0.15rem 0;
    text-align: center;
  }

  /* Support Page */
  .imageElement--howToBuyStepImage {
    max-width: 100%;
    max-height: unset;
  }

  .imageElement--specialOffersImage {
    max-width: 100%;
  }
}

.imageElement--serviceLogoIndesit {
  max-height: 28px;
}

.imageElement--serviceLogoHotpoint {
  height: 2rem;
}

.imageElement--serviceLogoKitchenAid {
  max-height: 16px;
}

.logoContainer--serviceLogoPhone {
  width: fit-content !important;
  min-width: unset !important;
  height: fit-content;
  padding: 0 10px 0 0;
}

.logoContainer--serviceLogoWash {
  width: fit-content !important;
  min-width: unset !important;
  height: fit-content;
  padding: 0 10px 0 0;
}

.logoContainer--serviceLogoTicket {
  width: fit-content !important;
  min-width: unset !important;
  height: fit-content;
  padding: 0 10px 0 0;
}

@media only screen and (max-width: 1024px) {
  .imageElement--serviceLogoWhirlpool {
    max-height: 20px;
  }

  .imageElement--serviceLogoIndesit {
    max-height: 20px;
  }

  .imageElement--serviceLogoHotpoint {
    max-height: 18px;
  }

  .imageElement--serviceLogoKitchenAid {
    max-height: 10px;
  }

  .infoCardContainer--wcollectionCardhp {
    min-height: 30rem;
  }
}

/* Subscription */

.imageElement--chartImage {
  margin: 0 auto;
}

.imageElement--imageCardCarousel {
  display: flex;
  max-width: 80%;
  margin: 0 auto;
}

.imageElementLink--imageCardCarousel {
  display: flex;
}

.imageElement--logoCardsSubscription {
  height: 1.6rem;
  width: 1rem !important;
  padding: 0.5rem;
}

.logoContainer--wrenchIcon {
  display: flex;
  justify-content: center;
}

.imageElement--quickViewIcon {
  width: 70%;
}

.infoCardImageLinkWrapper--cardSliderHp {
  width: 100%;
  height: 100%;
}