.dontHaveAccount {
  display: none;
}
.content {
  justify-content: center;
  max-width: 50rem;
}

.customOAuthOptionBtn :global(.vtex-button) {
  background: white;
  color: #000000;
  border: 1px solid black;
}

.customOAuthOptionBtn :global(.vtex-button):hover {
  background: #93bb1b;
  color: white;
}
.oauthLabel {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 !important;
  justify-content: center;
  font-weight: 500;
}

.oauthLabel::after {
  content: url("data:image/svg+xml,%3Csvg xmlns:xlink='http://www.w3.org/1999/xlink' xmlns='http://www.w3.org/2000/svg' width='53.52214163585037' id='screenshot' version='1.1' viewBox='-5.651703889032542e-7 -9.34137674837408e-7 53.52214163585037 24.000001868275334' height='24.000001868275334' style='-webkit-print-color-adjust: exact;'%3E%3Cg id='shape-144b34c0-4168-11ec-881f-a1e3183da032' width='24' height='24'%3E%3Cg id='shape-025aebc0-4168-11ec-881f-a1e3183da032'%3E%3Cpath d='M11.761070179609103,-8.552881841890085e-9C5.266019092130608,-3.829547266910491e-9,-1.500424658960342e-7,5.37299999999998,-1.5466898454507845e-7,11.999999999999998C-1.5929550319412272e-7,18.626999999999978,5.266019075375448,23.99999999617043,11.761070162853942,23.999999991447098C18.25612125033244,23.99999998672376,23.522140492505514,18.626999982894194,23.52214049713203,11.999999982894215C23.52214050175855,5.372999982894196,18.2561212670876,-1.327621641686968e-8,11.761070179609103,-8.552881841890085e-9ZZM14.701337755499173,7.999999989308873L13.378217343835386,7.999999990271073C12.850929357557488,7.999999990654528,12.741159367694777,8.220999990734358,12.741159367305917,8.777999990734381L12.7411593664528,9.999999990734338L14.70133775410291,9.999999989308856L14.496499111197236,11.999999989457846L12.741159365056538,11.999999990734365L12.741159360169615,18.99999999073433L9.800891778694488,18.999999992872553L9.800891783581411,11.999999992872588L7.840713395931382,11.99999999429807L7.8407133973276455,9.999999994298044L9.800891784977674,9.999999992872562L9.800891786588961,7.691999992872587C9.800891787823957,5.922999992872574,10.713354827919526,4.99999999220902,12.769581956564393,4.999999990713689L14.701337757593569,4.9999999893088765L14.701337755499173,7.999999989308873ZZ' style='fill: rgb(0, 0, 0);'/%3E%3C/g%3E%3Cg id='shape-144c1f20-4168-11ec-881f-a1e3183da032'%3E%3Cpath d='M41.76107032590051,-1.2033385511821123e-14C35.26601923842199,-1.2033385485576235e-14,30,5.373,30,11.999999999999964C30,18.626999999999974,35.26601923842199,23.999999999999986,41.76107032590051,23.999999999999986C48.25612141337903,23.999999999999986,53.522140651801,18.626999999999974,53.522140651801,11.999999999999964C53.522140651801,5.373,48.25612141337903,-1.2033385538066008e-14,41.76107032590051,-1.2033385511821123e-14ZZM47.97875617152667,16.16299999999999L46.14892964665525,16.16299999999999C45.11493554716985,16.16299999999999,44.94145975986282,15.562000000000001,44.08878216123502,14.694000000000003C43.319412144082335,13.908999999999981,42.893073344768425,14.511000000000019,42.910714950257336,15.628999999999985C42.91659548542022,15.92599999999997,42.77252237392802,16.16299999999999,42.425570799313945,16.16299999999999C41.34257224013723,16.16299999999999,39.78521051114924,16.318999999999974,38.207266909090926,14.583000000000009C36.59306000686108,12.803999999999952,34.900445969125236,9.234999999999983,34.900445969125236,8.884000000000022C34.900445969125236,8.675999999999993,35.06902131046316,8.583000000000025,35.35030690909084,8.583000000000025L37.210516198970836,8.583000000000025C37.703501063464884,8.583000000000025,37.744664809605574,8.83199999999999,37.8828573859348,9.150999999999991C38.455229475128654,10.481999999999951,39.824414078902265,13.153000000000013,40.18998734819902,11.661999999999944C40.39972643567752,10.80599999999998,40.484994195540295,8.822999999999961,39.58723249399657,8.651999999999967C39.07758611320756,8.555999999999981,39.975347814751274,8.000000000000007,41.274946085763375,8.000000000000007C41.59837551972547,8.000000000000007,41.94924745111498,8.03500000000003,42.30796009605491,8.120000000000019C42.967560123499105,8.276000000000016,42.970500391080684,8.577999999999953,42.96069949914239,9.017999999999981C42.92737646655233,10.684000000000001,42.7303785385935,11.803999999999983,43.16063769468272,12.086999999999962C43.57129506689536,12.357999999999997,44.65135335849047,10.584999999999965,45.22274535849059,9.216000000000019C45.37857954030882,8.838000000000013,45.409942394511134,8.583999999999977,45.85294271012004,8.583999999999977L48.128709818181825,8.583999999999977C49.320498277873,8.583999999999977,47.97287563636359,10.33199999999999,46.942801893653524,11.696000000000005C46.11266634648377,12.795000000000021,46.15677036020587,12.815999999999944,47.12215821612356,13.730000000000008C47.80920074099494,14.38099999999996,48.62169468267575,15.269999999999948,48.62169468267575,15.77299999999998C48.62169468267575,16.011000000000013,48.439398092624366,16.16299999999999,47.97875617152667,16.16299999999999ZZ' style='fill: rgb(0, 0, 0);'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  margin-left: 1rem;
}

.formFooter {
  border: none;
}

.forgotPasswordLink {
  color: #000000;
}

.inputContainerEmail label :global(.vtex-input-prefix__group),
.inputContainerPassword label :global(.vtex-input-prefix__group) {
  border-width: 1px;
}

.sendButton :global(.vtex-button) {
  height: 38px;
}

.emailPasswordOptionBtn :global(.vtex-button) {
  background: white;
  width: 100%;
}

.emailPasswordOptionBtn :global(.vtex-button__label) {
  background: white;
  color: #000000;
  border: 1px solid black;
  border-radius: 0.25rem;
  font-size: 12px;
  height: 40px;
  width: 100%;
  text-transform: initial;
}

.emailPasswordOptionBtn :global(.vtex-button__label):hover {
  background: #93bb1b;
  color: white;
}
.loginOptionsContainer {
  margin-right: 0.5rem;
}

.formFooter {
  justify-content: end;
}

.sendButton {
  margin-left: 0.5rem;
}

.backButton :global(.vtex-button) {
  height: 100%;
}

.backButton :global(.vtex-button__label) {
  color: black;
}

.optionsSticky {
  padding: 0 0.75rem;
}

@media only screen and (min-width: 641px) {
  .loginOptionsContainer {
    width: 50%;
  }

  .contentForm {
    width: 50%;
  }
}

@media only screen and (max-width: 640px) {
  .customOAuthOptionBtn {
    margin-right: 0;
  }

  .loginOptionsContainer {
    margin-right: 0;
  }
}

/* Checkout IO */

.sendButton :global(.vtex-button) {
  background-color: #0d436b !important;
  border: none;
  transition: all 0.3s ease;
}
.sendButton :global(.vtex-button):hover {
  background-color: #fdc100 !important;
  border: none;
  transition: all 0.3s ease;
}
.formFooter {
  border: none;
}
.emailPasswordOptionBtn :global(.vtex-button) {
  background-color: #0d436b;
  border: transparent;
  color: white;
  transition: all 0.3s ease;
}
.emailPasswordOptionBtn :global(.vtex-button):hover {
  background-color: #fdc100;
  border: transparent;
  color: white;
  transition: all 0.3s ease;
}
.googleOptionBtn :global(.vtex-button),
.facebookOptionBtn :global(.vtex-button) {
  color: #0d436b;
  transition: all 0.3s ease;
}
.googleOptionBtn :global(.vtex-button):hover,
.facebookOptionBtn :global(.vtex-button):hover {
  border-color: #0d436b;
  background-color: transparent;
  transition: all 0.3s ease;
}
