.container {
    display: flex;
    justify-content: left;
}

.highStockText {
    font-size: .8rem;
}

.highStockText::before {
    content: url(assets/icons/greenCheckMark.svg);
    position: absolute;
    left: -0.1rem;
}