.specificationValue--subscriptionText {
  padding: 4px 10px;
  font-size: 10px;
  font-family: "openSans";
  font-weight: 400;
  line-height: 12px;
}

.specificationValue--wProKeyValue::before {
  content: "• ";
}

.groupName {
}

.specificationValue--wProKeyValue::after {
  content: "\a";
  white-space: pre;
}

.groupContainer--ecoValue,
.badgeText--ecoValue {
  margin: 0;
}

.specificationValue--codiceProdotto {
  font-weight: 100 !important;
  line-height: 1;
}

@media only screen and (max-width: 600px) {
  .specificationValue--subscriptionText {
    font-size: 9px;
    font-family: "openSans";
    font-weight: 400;
    line-height: 12px;
    padding: 4px 8px;
  }
}

.specificationValue--fieldNameSpec {
  font-family: "openSans";
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0;
  font-size: 1rem;
  color: #727273;
}
