.profileContainer {
  font-family: "openSans";
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  color: #231f20;
}

.personalFields {
  font-family: "openSans";
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  color: #231f20;
}
.personalFields :global(.vtex-input__label) {
  font-family: "openSans";
  font-weight: 600;
  letter-spacing: 2.5px;
  font-size: 0.75rem;
}
.personalFields :global(.vtex-input-prefix__group) .border-box {
  background: #f2f2f2;
  border-color: #000;
}
.genderInput {
  display: none;
}

.styleguideInput {
  font-family: "openSans";
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  color: #231f20;
}
.profileContainer :global(.vtex-button) {
  border-width: 1px;
  transition: all 0.3s ease;
}
.profileContainer :global(.vtex-button):hover {
  background-color: #fff;
  color: #0d436b;
  transition: all 0.3s ease;
}
.profileContainer :global(.vtex-button) {
  border-radius: 20px;
}
