:global(.vtex-flex-layout-0-x-flexRowContent--energyLabel) .container {
  justify-content: start;
  padding: 0;
}

:global(.vtex-flex-layout-0-x-flexRowContent--energyLabel) .labelLink {
  display: none;
}

:global(.vtex-flex-layout-0-x-flexRow--mainSectionDesktopRow) :global(.vtex-flex-layout-0-x-flexRowContent--energyLabel) .image {
  max-width: 4.5rem;
}

:global(.vtex-flex-layout-0-x-flexRowContent--energyLabel) .image {
  max-width: 3.5rem;
}

:global(.vtex-flex-layout-0-x-flexRowContent--energyLabelOld) .image {
  max-width: 2rem;
  padding: 0 !important;
}

@media only screen and (max-width: 640px) {
  .image {
    max-width: 3.5rem;
  }
}

:global(.vtex-product-summary-2-x-element) .container {
  /* padding: 0 1rem 0.5rem 1rem; */
}

.container {
  display: flex;
  align-items: center;
  justify-content: start;
}

.containerNew {
  margin-left: 0;
}

.productSheet {
  margin-left: 0.5rem;
}

:global(.vtex-flex-layout-0-x-flexRow--mainSectionDesktopRow) .image {
  width: 4.5rem;
}

.image {
  width: 3.5rem;
}

:global(.vtex-flex-layout-0-x-flexColChild--colIndexRepairability) .container {
  justify-content: start;
  padding: 0;
}

:global(.vtex-flex-layout-0-x-flexRowContent--energyLabel) .container {
  padding: 0;
}

:global(.vtex-flex-layout-0-x-flexColChild--colIndexRepairability) .image {
  max-height: 2rem;
  max-width: 3.5rem;
}

:global(.vtex-flex-layout-0-x-flexRow--etichetteRowCarousel) .container {
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.productSheet {
  font-family: "myriadSemiBold";
  text-decoration: underline;
}