.label--SupportCTA{
  border-radius: 4px;
  background-color: #0d436b;
  font-family: "openSans";
  color: #fff;
  border: 1px solid #0d436b;
  padding: 0.3rem 19px !important;
  font-size: 12px !important;
}
.label--SupportCTA:hover{
  background-color: #fff;
  transition: all 0.4s ease;
  border: 1px solid #0d436b;
  color: #0d436b;
}
.link--viewFullRange{
  align-items: center;
  height: 3rem;
  width: 95%;
  display: flex;
  color: #000000;
  margin: 0.5rem;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.1rem;
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  border-radius: 11px;
  flex-direction: column;
  justify-content: center;
}
.link--viewFullRange:focus,
.link--viewFullRang:active{
  background-color: black;
  transition: none;
}
.link--viewFullRange:hover{
  background-color: #ececec;
  transition: all 0.3s ease;
}
.link--SupportCTA{
  position: fixed;
}
.linkContainer--countdownButton{
  text-align: center;
}
/*------------ STRIPE CUSTOM --------------- */
.linkContainer--stripeLink {
  border: 1px solid white;
  border-radius: 5px;
  height: 100%;
}

.label--stripeLink {
  font-size: 16px;
}

.label--infoLoginLink,
.link--infoLoginLink {
  color: #0d436b;
}

/*--------------------------- */
/* featured template */
.link--OurBestBannerButton:hover {
  background-color: white;
  border: 1.5px solid #0d436b;
  color: #0d436b;
}

.label--breadcrumb-link:hover {
  color: #0d436b;
}

.label--last-breadcrumb-link:hover {
  color: #9fa0a1 !important;
}

.link--breadcrumb-link {
  text-decoration: none;
}

.label--breadcrumb-link {
  color: #9fa0a1;
  font-size: 0.8rem;
}

.label--breadcrumb-link-no-href {
  cursor: auto;
}

.linkContainer--SupportImagesLink {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.link--SupportImagesLink {
  text-decoration: none;
}

.label--SupportImagesLink {
  color: #0d436b;
}

.link--SupportImmagesButton:hover {
  background-color: white;
  color: #0d436b;
  border: 1.5px solid #0d436b;
}

.childrenContainer--cardImageMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.link--SupportImages {
  text-decoration: none;
}

.linkContainer--SupportImmagesButton {
  display: flex;
  justify-content: center;
}

/*  */
.label--headerPhoneLink {
  font-size: 0.8rem;
}

.linkContainer--footerNormal {
  padding: 0.25rem 0;
}

.link {
  text-decoration: none;
}

.link--phoneMobileLabel {
  text-align: center;
}

.link--phoneMobileLabelTop {
  margin-bottom: 1rem;
}

.label--phoneMobileLabel {
  /* font-weight: bolder; */
  font-size: 0.9rem;
  padding-left: 0.4rem;
}

.buttonLink--pdpsubonline {
  background-color: #ffffff;
  border-color: #edac09;
  color: #231f20;
  width: 100%;
  height: 44px;
  font-weight: bold;
  font-size: 0.75rem;
  font-family: "openSans";
}

.label--pdpsubonline {
  text-transform: capitalize;
}

.buttonLink--pdpsubonlineSticky {
  background-color: #ffffff;
  color: #231f20;
  width: 100%;
  /* height: 44px; */
  font-weight: bold;
  font-size: 0.7rem;
  font-family: "openSans";
  text-transform: capitalize;
}


/*-----------HEADER MOBILE-------------*/

.linkContainer--mobileHeaderSupportLink {
  width: 100%;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(147, 192, 255, 0.5);
}

.childrenContainer--mobileHeaderSupportLink {
  display: flex;
  align-items: center;
}

.link--discoverMoreButton {
  color: #fff;
  background-color: #0d436b;
  padding: 0.6rem 1rem;
  border: 1px solid #0d436b;
  border-radius: 50px;
  margin-left: 1rem;
  transition: all 0.4s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link--discoverMoreButton:hover {
  color: #0d436b;
  background-color: #fff;
  transition: all 0.4s ease;
}

.label--discoverMoreButton {
  font-size: 0.9rem;
  font-family: "openSans";
}

/*-----------HEADER DESKTOP-------------*/
.linkContainer--phoneDesktop {
  position: relative;
}

.linkContainer--phoneDesktop::before {
  display: none;
  content: "03448111011";
  position: absolute;
  bottom: -6px;
  left: 80%;
  font-size: 11px;
  background-color: white;
  border: 1px solid #505050;
  padding: 2px 3px;
  z-index: 1000;
}

.linkContainer--phoneDesktop:hover::before {
  display: inline;
}

.linkContainer--helpDesktop {
  position: relative;
}

.linkContainer--helpDesktop::before {
  display: none;
  content: unset;
  position: absolute;
  bottom: -6px;
  left: 80%;
  font-size: 11px;
  background-color: white;
  border: 1px solid #505050;
  padding: 2px 3px;
  z-index: 1000;
}

.linkContainer--helpDesktop:hover::before {
  display: inline;
}

.linkContainer--wishlistDesktop {
  position: relative;
}

.linkContainer--wishlistDesktop::before {
  display: none;
  content: "Wishlist";
  position: absolute;
  bottom: -6px;
  left: 80%;
  font-size: 11px;
  background-color: white;
  border: 1px solid #505050;
  padding: 2px 3px;
  z-index: 1000;
}

.linkContainer--wishlistDesktop:hover::before {
  display: inline;
}

.linkContainer--FFDesktop {
  position: relative;
}

.linkContainer--FFDesktop::before {
  display: none;
  content: "Friends&Family";
  position: absolute;
  bottom: -6px;
  left: 80%;
  font-size: 11px;
  background-color: white;
  border: 1px solid #505050;
  padding: 2px 3px;
  z-index: 1000;
}

.linkContainer--FFDesktop:hover::before {
  display: inline;
}

.linkContainer--phoneMobileLabelTop {
  display: flex;
  align-items: center;
  margin: 0 0.9rem;
}

.link--phoneMobileLabelTop {
  margin: 0;
}

/*-----------WISHLIST-------------*/

.link--wishlistIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(24px + 3.125rem);
}

.link--wishlistIcon .childrenContainer--wishlistIcon {
  width: 44px;
  height: auto;
  display: contents;
  justify-content: center;
}

.link--linkSeeAll,
.link--seeDetails {
  text-decoration-color: #00a0dd;
  text-decoration: underline;
  color: #00a0dd;
  font-family: "openSans";
  /* font-size: 14px; */
}

.label--linkSeeAll {
  line-height: 2;
}

.link--seeDetails {
  margin-top: 1rem;
}

.link--footerNormal {
  /* color: white;
  margin: 0 1.5rem;
  padding: 0.25rem 0; */
  /* display: block; */
  font-family: "openSans";
  font-weight: 400;
  font-size: 0.688rem;
  color: #ffffff;
  line-height: 1.5rem;
  text-transform: unset;
  letter-spacing: normal;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/* .label--footerNormal {
  font-size: 0.688rem;
  line-height: 1.5rem;
} */
.linkContainer--infoLoginLink {
  margin-top: 0.5rem;
}

.link--infoLoginLink {
  color: #0d436b;
  text-decoration: none;
  transition: all 0.3s ease;
}

.link--infoLoginLink:hover {
  color: #fdc100;
  transition: all 0.3s ease;
}

@media only screen and (max-width: 1024px) {
  .link--wishlistIcon {
    width: auto;
  }
}

@media only screen and (max-width: 375px) {

  .linkContainer--discoverMoreButton,
  .link--discoverMoreButton {
    width: 100%;
  }

  .link--discoverMoreButton {
    margin-left: 0;
  }
}

/* @media only screen and (max-width: 1280px) {
  .label--footerNormal {
    font-size: 0.875rem;
  }
} */

.link--wishlistIconPdp {
  display: flex;
  justify-content: initial;
  align-items: center;
}

.link--tabPDP :global(.vtex-rich-text-0-x-wrapper--linkSchedeTab) {
  color: #0d436b;
}

.link--wishlistIconPdp .childrenContainer--wishlistIconPdp {
  width: 44px;
  height: auto;
  display: contents;
  justify-content: initial;
}

:global(.vtex-flex-layout-0-x-flexColChild--rightSpecBlock) .linkContainer {
  margin-top: 10px;
}

.link--pdfLink {
  margin-top: 10px;
  color: #0d436b;
  text-decoration: underline;
  position: relative;
  font-family: "openSans";
  font-size: 16px;
}

.link--pdfLink::before {
  content: url(assets/icons/doc.svg);
  position: absolute;
  left: -1rem;
}

.label--categoryTitle {
  font-size: 16px;
  font-weight: bold;
  margin-block-start: 0 !important;
  margin-block-end: 0.5em !important;
  max-width: 210px;
  color: #3f3f40;
  font-family: "Gotham Pro";
}

.label--categoryTitle:hover {
  color: #f2c147;
}

@media only screen and (max-width: 640px) {
  .linkContainer--newHeaderIcon{
    padding: 0 0.5rem;
  }
  .link--pdfLink {
    margin-left: 20px;
  }
  .linkContainer--countdownButton{
    margin-bottom: 2rem;
  }

  .label--categoryTitle {
    font-size: 16px;
  }

  .link--footerNormal {
    font-size: 14px;
  }
}

.buttonLink--notificationButtonMore {
  background-color: #0d436b;
  color: #000000;
  border-color: black;
  width: 100%;
  font-size: 0.75rem;
  text-transform: none;
  font-family: "openSans";
  font-weight: bold;
}

.buttonLink--notificationButtonMobileMore {
  background-color: #0d436b;
  color: #000000;
  border: none;
  width: 100%;
  font-size: 0.563rem;
  text-transform: none;
  transition: all 0.3s ease;
}

/*-----------BREAD-------------*/
.label--breadLink {
  text-decoration: none;
  color: #9fa0a1;
}

.label--breadLink:hover {
  color: #0d436b;
}

.link--breadLink {
  font-size: 0.8rem;
  line-height: 22px;
  margin: auto;
  font-weight: 300;
  padding: 0 0.4rem;
  text-decoration: none;
}

/* Subscription */
.link--linkCardsSubscription {
  cursor: unset;
}

.childrenContainer--linkCardsSubscription {
  width: 18rem;
  height: 15.3rem;
  border: 2px solid #231f20;
  background-color: #ffffff;
  -webkit-box-shadow: 5px 5px 0px 1px #edac09;
  box-shadow: 5px 5px 0px 1px #edac09;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.link--cardCarousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25rem;
  width: 18rem;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(35, 31, 32, 0.1);
  box-shadow: 0px 0px 10px 1px rgba(35, 31, 32, 0.1);
  margin: 0 0.5rem;
  cursor: unset;
}

.childrenContainer--cardCarousel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.childrenContainer--linkContract {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link--subCategoryTitle {
  font-size: 14px;
  color: #505050;
}

.link--subCategoryTitle:hover {
  color: #f2c147;
}

.label--subCategoryTitle {
  margin: 20px 0;
}

.label--supportForm {
  padding: 0 4rem;
}

/* MEdia Queries */
@media only screen and (min-width: 640px) and (max-width: 1300px) {
  .childrenContainer--linkCardsSubscription {
    width: 11rem;
    height: 28rem;
  }
}

/* Checkout IO */

.link--logoHeaderLink {
  max-width: 10rem;
}

.link--chooseAProductButton {
  background-color: #0d436b;
  border: 1px solid #0d436b;
  color: #fff;
  padding: 1rem 1.2rem;
  border-radius: 5px;
  transition: all 0.3s ease;
  /* margin-top: 15px; */
}

.link--chooseAProductButton:hover {
  background-color: transparent;
  color: #0d436b;
  transition: all 0.3s ease;
}