.firstCard--buyTogether{
    margin-top: 47px;
}
.priceWithoutDiscount--buyTogether{
    font-size: 0.65rem;
    color: #727273;
    text-decoration: line-through;
    font-weight: 600;
}
.disabledProduct--buyTogether{
    opacity: 0.5;
}