:global(.vtex-flex-layout-0-x-flexColChild--test) .value {
  font-size: 10px;
  color: white;
  white-space: pre;
  /* margin: 10px 0px; */
}

:global(.vtex-flex-layout-0-x-flexColChild--test) .container {
  margin: 0;
  /* margin: 10px 0px; */
}

:global(.vtex-flex-layout-0-x-flexColChild--pdp-price) .value {
  font-size: 10px;
  white-space: pre;
  /* margin: 10px 0px; */
}

:global(.vtex-flex-layout-0-x-flexColChild--pdp-price) .container {
  margin: 0;
  /* margin: 10px 0px; */
}

:global(.vtex-flex-layout-0-x-flexColChild--leasingFourthColValue) .value {
  font-family: "openSans";
  font-size: 12px;
  line-height: 15px;
  margin: 0;
}

:global(.vtex-flex-layout-0-x-flexColChild--leasingFourthColValue) .container {
  margin: 0;
}

:global(.vtex-flex-layout-0-x-flexRowContent--listItem2-sub-price-container)
  .value {
  font-size: 12px;
  line-height: 15px;
  margin: 0 10px 0 0;
}

:global(.vtex-flex-layout-0-x-flexRowContent--listItem2-sub-price-container)
  .container {
  margin: 0;
  width: fit-content;
}

.container--keyFeature {
  margin: 0 0.5rem 0.5rem 0;
  height: fit-content;
}
.attribute--keyFeature {
  margin: 0;
  background: #f9f9f9;
  /* padding: 0.1rem 0.25rem; */
  border-radius: 5px;
  font-size: 0.7rem;
  color: #505050;
  font-weight: 300;
  line-height: 1.3125rem;
}
.value--keyFeature {
  padding: 0.1rem 0.25rem;
}
.specificationValue--keyFeature-null {
  display: none;
}

@media only screen and (max-width: 640px) {
  :global(.vtex-flex-layout-0-x-flexColChild--test) .value {
    font-size: 8px;
    color: white;
    /* margin: 10px 0px; */
  }
}
