.modalCheckboxInput {
  width: 5%;
}

.textNearCheckbox {
  width: 95%;
}

.modalCheckboxContainer {
  align-items: center;
}

.caretIcon {
  cursor: pointer;
}

/* --------------- HDX -------------*/
.shippingMessageIcon {
  border: 1px solid #ffb100;
  border-radius: 100%;
  display: block;
  height: 25px;
  width: 25px;
  text-align: center;
  margin-right: 8px;
  flex: none;
}

.shippingMessage {
  font-size: 12px;
  line-height: 1.2;
}

.shippingMessageContainer {
  display: flex;
  align-items: center;
  border: 1px solid #ffb100;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  line-height: 1.2;
}

.customdate__table {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem 1.5rem;
  justify-content: center;
  color:#0072c9;
}

.customdate__table_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 10px;
  border-radius: 4px;
  background-color: #fff;
  flex-basis: 25%;
  margin-top: 10px;
  border: 1px solid #cbcbcb;
  cursor: pointer;
  text-align: center;
}

.customdate__table_item:hover,
.customdate__table_item_active {
  border: 1px solid #0d436b;
  background-color: #f4f2f2;
}

.stairsPreText {
  color: #999;
  font-size: 13px;
  margin-bottom: 8px;
}

.stairsInputWrapper {
  display: flex;
  align-items: center;
  color: #999;
  display: flex;
  flex-direction: row;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  padding: 15px 10px;
  cursor: pointer;
}

.shippingMessageContainer {
  align-items: center;
  border: 1px solid #ffb100;
  border-radius: 4px;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  line-height: 1.2;
  display: flex;
}

.streetListWrapper {
  position: relative;
  z-index: 99;
  background-color: white;
  max-height: 200px;
  overflow-y: scroll;
  width: -webkit-fill-available;
  padding-right: 1.875rem;
}

.singleStreet {
  padding: 10px;
  cursor: pointer;
}

.singleStreet:hover {
  background-color: #0d436b !important;
  color: #fff !important;
}

.shiptext {
  font-weight: bold;
  color: #0d436b;
  font-size: 12px;
}

.formInputWrapper .caret-opened,
.formInputWrapper .caret-closed {
  transition: all 0.3s ease;
  position: absolute;
  top: calc(50% + 0.8rem);
  right: 0.5rem;
  transform: translateY(-50%);
}

.formInputWrapper .caret-opened {
  transform: translateY(-50%) rotate(180deg);
}

.paymentMethodImage {
  position: relative;
  left: 30px;
  max-width: 220px
}



.select {
  height: 40px;
  line-height: 40px;
  max-height: initial;
  display: inline-block;
  padding: 0px 10px;
  border-radius: 5px;
  border: 1px solid #cbcbcb;
  outline: initial;
  font-family: "hotpointRegular", sans-serif;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
}

.selectPreText {
  margin: 10px 0;
  color: #999;
  font-size: 13px;
}

.shippingInput :global(.vtex-input-prefix__group)::after,
.shippingInput :global(.vtex-styleguide-9-x-input)::after {
  background-color: #0d436b;
}

.goToPayentButton {
  margin-top: 2.625rem;
}

.deliveryText {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #cbcbcb;
  margin-top: 30px;
}

.deliveryRadioGroup {
  margin-top: 20px;
  margin-bottom: 20px;
}

.deliveryRadio {
  position: relative;
}

.deliveryRadioInfo {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  margin-top: -4px;
}

.deliveryRadioInfoEstimate {
  font-size: 0.675rem;
  margin-top: 5px;
}

.deliveryRadioInfoPrice {
  position: absolute;
  right: 32px;
  top: 13px;
  height: 50px;
  display: flex;
  align-items: center;
  border-left: 2px solid #f2f2f2;
  padding-left: 30px;
}

.deliveryRadioWrapper {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
  margin-bottom: 2px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #f2f2f2;
}

.loaderWrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #f2f2f2a8;
  z-index: 999;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----------------------------*/

.productName {
  font-family: "nunitoRegular";
  text-transform: uppercase;
  font-size: 16px !important;
  color: #0d436b;
}

.subText {
  color: #cbcbcb;
  font-size: 1rem !important;
}

.subText2 {
  color: #0d436b;
}

.productDataSheetLabel {
  color: #0d436b;
}

.productName:hover {
  font-family: "nunitoRegular";
  text-transform: uppercase;
  font-size: 16px;
}

.GoToCheckoutButton {
  font-family: "openSans";
  border: 1px solid #0d436b;
  z-index: 2;
}

.GoToCheckoutButton:hover {
  background-color: #fff;
  color: #0d436b;
  transition: all 0.3s ease;
}

.couponForm {
  border: 1px solid #0d436b;
  border-radius: 11px;
  min-height: 55px;
}

.couponInput {
  min-height: unset;
  border: none;
}

.couponButton {
  min-height: unset;
  border-radius: 0 7px 7px 0;
  border-left: 1px solid #0d436b;
}

.couponButton:hover {
  background: #fff;
  color: #0d436b;
  border-radius: 0 11px 11px 0;
}

.StepHeader::before {
  background-color: #0d436b !important;
}

.StepHeaderTitleText {
  font-family: "nunitoRegular";
  color: #0d436b;
}

.profileSumbitButton :global(.vtex-button) {
  border-width: 1px;
  transition: all 0.3s ease;
}

.profileSumbitButton :global(.vtex-button):hover {
  transition: all 0.3s ease;
  background-color: #fff;
  color: #0d436b;
  opacity: 1;
}

.profileInput :global(.vtex-input-prefix__group)::after,
.profileInput :global(.vtex-styleguide-9-x-input)::after {
  background-color: #0d436b !important;
}

.StepHeaderText {
  margin-left: 0.25rem;
  font-family: "nunitoRegular";
  color: #0d436b;
}

.paymentMethodName {
  font-family: "openSans";
}

.paymentGroupContainer:hover,
.paymentGroupContainer:hover .paymentMethodCheckContainer {
  border-color: #0d436b;
}

.checkboxLabelLink,
.description :global(.vtex-button) {
  text-decoration: underline;
}

.couponAlertContainer {
  top: 1%;
}

.couponAlertContainer :global(.vtex-alert) {
  background-color: #f7f7f7;
  border-left: 3px solid #0d436b;
  border-radius: 0;
  padding: 0.5rem;
  -webkit-box-shadow: 0px 0px 5px 5px rgb(0 0 0 / 6%);
  box-shadow: 0px 0px 5px 5px rgb(0 0 0 / 6%);
}

.productPriceContainer {
  display: flex;
  flex-direction: column;
}

.productPrice {
  display: flex;
  flex-direction: column;
  margin-left: 0rem;
  font-size: 1.5rem;
}

.shippingContainer {
  font-size: 1rem;
}

.summaryProductList .price,
.totalizer-items .price {
  font-size: 1.5rem;
}

/*--- MEDIA QUERIES - DESKTOP ---*/
@media only screen and (min-width: 1024px) {
  .defaultImage {
    max-width: 220px;
    position: relative;
    left: 30px;
  }

  .shippingLabel {
    font-size: 0.8rem;
  }

  .productListPrice {
    text-align: center;
  }

  .productName {
    max-width: 88%;
  }

  .productPrice {
    text-align: center;
    font-size: 1.5rem;
    min-height: 1.975rem;
    justify-content: center;
  }

  .removeProductButton {
    min-height: 1.975rem;
  }
}

/*--- MEDIA QUERIES - TABLET ---*/
@media only screen and (max-width: 1024px) {
  .couponInput {
    width: 100%;
  }

  .couponButton {
    padding: 0 1.5rem;
    width: auto;
  }
}

/*--- MEDIA QUERIES - Mobile ---*/
@media only screen and (max-width: 640px) {
  .profileInput :global(.vtex-styleguide-9-x-input) {
    color: #000;
  }

  .paymentMethodImage,
  .defaultImage {
    max-height: 2rem;
  }

  .removeProductButton {
    display: flex;
    justify-content: flex-end;
  }

  .productquantityContainer {
    max-width: unset;
  }

  .productPriceContainer {
    text-align: right;
  }

  .summaryPaymentImage {
    margin-right: 0;
  }
}

.StepHeader::before {
  background-color: #0d436b;
}

.profileInput :global(.vtex-input-prefix__group)::after,
.profileInput :global(.vtex-styleguide-9-x-input)::after {
  background-color: #0d436b;
}