.registrationModalTitle {
  font-family: "nunitoRegular";
}
.catalogRow {
  margin: 0;
}
/* .catalogRowButton {
  padding-left: 2rem;
  width: 85%;
  max-width: 96rem;
  margin: 0 auto;
  justify-content: space-between;
  justify-content: center!important;
} */
.catalogButton,
.catalogCategoriesContainer{
  background-color: #0d436b;
}
.catalogMenuLeftMobile {
  background-color: #fff;
}
.itemTitleBrand,
.subItemTitleBrand,
.labelP {
  color: #0d436b;
}
.labelP{
  font-weight: 600;
}
.itemTitle {
  font-weight: 600;
}

.catalogMenuLeftMobile :global(.vtex-button) {
  background-color: #fff !important;
}
.catalogMenuLeftMobile :global(.vtex-button):hover {
  border: 1px solid #fff !important;
}
.catalogMenuLeftMobile :global(.vtex-button__label) {
  color: #0d436b !important;
}
.brandMenuCategoriesContainer {
  background-color: #dee0e3;
}
.brandImageContainerActive {
  background-color: #dee0e3;
}
.weekDealsLink{
  font-weight: 600;
  text-decoration: unset;
  color: black;
  padding: unset;
  white-space: nowrap;
}
.brandsAndButtonContainer {
  padding-left: 0;
  width: 89.8%;
  max-width: 96rem;
  margin: 0 auto;
  padding-right: 4rem;
}

.catalogRowButton :global(.vtex-rich-text-0-x-container){
  width: 76px;
}

@media only screen and (max-width: 1023px){
  :global(.vtex-flex-layout-0-x-flexRowContent--headerDesktopLogin) .catalogRow{
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  .catalogCategoriesContainer {
    padding: 0 !important;
  }
  :global(.vtex-flex-layout-0-x-flexRowContent--headerDesktopLogin) .catalogButtonLink{
    display: none;
  }
  :global(.vtex-flex-layout-0-x-flexRowContent--headerDesktopLogin) .weekDealsLink{
    border-radius: 4px;
    background-color: #0d436b;
    font-family: openSans;
    color: #fff;
    border: 1px solid #0d436b;
    padding: 0.7rem 19px!important;
    font-size: 12px!important;
  }
  :global(.vtex-flex-layout-0-x-flexRowContent--headerDesktopLogin) .weekDealsLink:hover{
    background-color: #fff;
    transition: all .4s ease;
    border: 1px solid #0d436b;
    color: #0d436b;
  }
  :global(.vtex-flex-layout-0-x-flexRowContent--headerDesktopLogin) .weekDealsContainer{
    background-color: #fff;
  }
  :global(.vtex-flex-layout-0-x-flexRowContent--headerDesktopLogin) .brandsAndButtonContainer{
    width: -webkit-fill-available;
    padding: unset;
    justify-content: end;
  }
}
@media only screen and (min-width: 1300px) {
  .brandsAndButtonContainer {
    max-width: 100.5rem;
  }
}
