.receiverInput {
	margin: 0.5rem 0;
	width: 100%;
	position: relative;
}

.deliverygroupContainer {
	margin-top: 1rem;
}
.deliverygroupContainer :global(.vtex-radio) {
	display: flex;
	align-items: center;
}

.deliverygroupContainer :global(.vtex-radioGroup__radioLabel) {
	background-color: white;
	margin-bottom: 1rem;
	border-radius: 0.4rem !important;
	border-color: #eee;
}

.deliveryTypeContainer {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.deliveryNameContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.deliveryPriceContainer {
	display: flex;
	align-items: center;
	padding: 0.8rem;
}

.deliveryType {
	color: #333;
}

.deliveryDescription {
	color: #999;
}

.deliveryPrice {
	color: #999;
}
.deliveryButton {
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	margin-bottom: -2rem;
}
.deliveryButton > button {
	transition: all 0.3s ease;
	border-radius: 11px;
	width: 50%;
}
