.shippingSumbitButton {
	margin-top: 1rem;
}

/*--- SUMMARY ---*/
.shippingSummaryContainer {
	margin-top: 1.5rem;
	padding: 2rem;
	border: 1px solid #e3e4e6;
	border-radius: 0.5rem;
}

.shippingSummaryAddress {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-bottom: 0.75rem;
}

.shippingSummaryDelivery {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-top: 0.75rem;
}

.shippingSummaryLabel {
	color: #727273;
}

.shippingSummaryContainerWithPrice {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 0.75rem;
}
