.wheretobuy {
  background-color: #fff;
  border: none;
  width: 100%;
  font-size: 0.9rem;
  font-weight: 600;
  color: #edb112;
  margin: auto;
  padding: 0.5rem !important;
  cursor: pointer;
}
.wheretobuy:hover{
  text-decoration: underline;
}