:global(.vtex-product-summary-2-x-element) .container {
  padding: 0 1rem 0.5rem 1rem;
}
.container {
  display: flex;
  align-items: center;
  justify-content: start;
}
.containerNew {
  margin-left: 0;
}
.productSheet {
  margin-left: 0.5rem;
}
.image {
  width: 3rem;
}

:global(.vtex-flex-layout-0-x-flexColChild--colIndexRepairability) .container {
  justify-content: center;
  padding: 0;
}
:global(.vtex-flex-layout-0-x-flexRowContent--energyLabel) .container {
  padding: 0;
  display: block;
  margin-left: 1rem;
}
:global(.vtex-flex-layout-0-x-flexColChild--colIndexRepairability) .image {
  max-height: 2rem;
}
:global(.vtex-flex-layout-0-x-flexRow--etichetteRowCarousel) .container {
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.container {
  justify-content: end;
}

.productSheet {
  font-family: "myriadSemiBold";
  text-decoration: underline;
}
