.closeIcon--popupHome {
  max-width: 1.5rem;
  max-height: 1.5rem;
  display: block;
  cursor: pointer;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
}
@media only screen and (max-width: 768px) {
  .closeIcon--popupHome {
    left: 0.5rem;
    right: unset;
  }
}
