.slideChildrenContainer--bannerText {
  margin: 50px;
}
.sliderTrackContainer--bannerText {
  margin-bottom: 5rem;
}
.sliderTrack--bannerTextW11Micro {
  width: 90%;
  margin: auto;
}
.sliderLayoutContainer--whyRegisterSliderMobile {
  padding: 1rem;
}
.sliderLeftArrow--shelfBlackFriday {
  left: -0.5rem;
}
.sliderRightArrow--shelfBlackFriday {
  right: -0.5rem;
}
.slide--shelfBlackFriday {
  margin: 0 0.5rem;
}
@media (min-width: 1024px) {
  .sliderTrack--shelfBlackFriday{
    width: 187% !important; 
  }
}