.colorBord {
  color: black;
}
.countdownContainer--2022 {
  background-color: #222222;
}
.countdownContainer--2022 .timer .colorBord {
  color: #ffffff;
  border: 1px solid #edac09;
  border-radius: 10px;
  padding: 0.5rem;
  font-weight: 300;
  font-size: 2.5rem;
  display: inline-block;
}
.countdownContainer--2022 .timer .marginSideDot5Rem {
  font-size: 2.5rem;
  color: #ffffff;
}
.countdownContainer--2022 .timer {
  margin: 0;
}
@media only screen and (min-width: 1200px) {
  .countdownContainer--2022 .timer .colorBord {
    font-size: 5rem;
  }
  .countdownContainer--2022 .timer .marginSideDot5Rem {
    font-size: 5rem;
  }
}
