.breadCustom {
  padding: 1rem 0 1rem 3.125rem;
  max-width: 96rem;
  margin: auto;
  width: 100%;
}
.catLink {
  text-decoration: none;
  color: #505050;
  cursor: pointer;
  pointer-events: all;
  text-transform: uppercase;
  font-size: 0.75rem;
}
.catLink:hover {
  color: #fdc100;
}
.catBold {
  text-decoration: none;
  color: #505050;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 700;
}
.arrowImg {
  margin: 0 0.3rem;
}
@media only screen and (max-width: 800px) {
  .catLink,
  .catBold {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 800px) and (min-width: 400px) {
  .catLink,
  .catBold {
    font-size: 0.55rem;
  }
}

.breadCustom--catalogBreadcrumb {
  margin: 0;
}
