.link--footerLinkNormal {
  display: block;
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 0.875rem;
  color: #505050;
  line-height: 1.5rem;
  text-transform: unset;
  letter-spacing: normal;
  margin: 0.3rem 0 0.3rem 1.5rem;
}
.label--promoBadgePreOrderLink{
  font-weight: bold;
  text-decoration: underline;
  color: black;
}
.label--terminiPreOrder{
  color: #505050;
  border-bottom-style: solid;
  border-bottom-width: 1.5px;
  cursor: pointer;
}
.linkContainer--terminiPreOrder{
	padding-top: 2rem;
}
.link--preOrderDiscoverMore {
  width: 120px;
}
.linkContainer--preOrderDiscoverMore {
  height: 40px;
  display: flex;
  justify-content: right;
  align-items: center;
}
.linkContainer--preOrderDiscoverMoreFaq {
  display: flex;
  justify-content: center;
}
.label--preOrderDiscoverMore,
.label--preOrderDiscoverMoreFaq {
  text-transform: none;
  color: #292929;
}
.label--preOrderDiscoverMore {
  color: #292929 !important;
}
.label--preOrderDiscoverMoreMedia{
  display: flex;
  justify-content: flex-end;
}
.label--preOrderDiscoverMoreProd{
	background-color: #edb112;
  color: #ffff;
  padding: 0.5rem;
  font-weight: 800;
  border-radius: 0.2rem;
}
.link--preOrderDiscoverMoreProd{
  background-color: #edb112;

}
.link--preOrderDiscoverMoreMedia{
  background-color: #edb112;
}
.label--typoLinkPDP {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  color: #505050;
  height: fit-content;
  margin: auto 0;
}
.link--buttonLink {
  background-color: #edb112;
  padding: 0.6em 2em;
  color: white;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: "myriadSemibold" !important;
}
.buttonLink--plpCustom {
  display: none;
}
.link--buttonLink:hover {
  opacity: 0.7;
}
.linkContainer--footerNormal {
  font-family: "myriadLight";
  font-weight: 400;
  height: fit-content;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.link--footerNormal {
  display: block;
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 0.875rem;
  color: #505050;
  line-height: 1.5rem;
  text-transform: unset;
  letter-spacing: normal;
}
.link--linkSquare {
  display: flex;
  align-items: center;
  height: 100%;
}
.link--underline {
  text-decoration: underline;
}
.linkContainer--paddingModelName {
  padding: 0.5rem 1rem;
}
.linkContainer--loginIcon {
  display: flex;
}
:global(.vtex-flex-layout-0-x-flexRowContent--rowLinkPDPGallery)
  .linkContainer {
  width: auto;
}
.childrenContainer--cardImageMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.linkContainer--notClickable {
  cursor: default;
  pointer-events: none;
}
/*-------------LINK CARDS-------------*/
.childrenContainer--linkCards {
  margin: 0 0.4rem 1.25rem;
  padding: 2.1875rem 1.25rem;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
  height: 25rem;
}
.link--linkCards {
  text-decoration: none;
  outline: none;
  width: 100%;
}
.link {
  text-decoration: none;
}

/*-------------------------------------*/

.label--popupHome {
  font-weight: bold;
  border: 2px solid white;
  padding: 0.5rem;
  border-radius: 5px;
}

.link--loginIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(24px + 3.125rem);
}
.link--loginIcon .childrenContainer--loginIcon {
  width: 24px;
  height: auto;
}

/*-----------WISHLIST-------------*/

/* .link--wishlistIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(24px + 3.125rem);
}
.link--wishlistIcon .childrenContainer--wishlistIcon {
  width: 24px;
  height: auto;
}
@media only screen and (max-width: 1024px) {
  .link--wishlistIcon {
    width: auto;
  }
} */
.link--backWishlist::before {
  content: "";
  display: inline-block;
  background-image: url(assets/back_arrow.png);
  width: 25px;
  height: 10px;
  background-repeat: no-repeat;
}
.label--backWishlist {
  color: #fdc100;
  font-family: myriadLight;
  font-weight: 500;
  letter-spacing: 0;
  font-size: 0.875rem;
}
.linkContainer--backWishlist {
  padding-top: 1rem;
  padding-left: 1rem;
}
/*-----------BREAD-------------*/
.label--breadLink {
  text-decoration: none;
}
.link--breadLink {
  font-family: "myriadLight";
  font-size: 0.8rem;
  line-height: 1.5;
  margin: auto;
  font-weight: 300;
  padding: 0 0.4rem;
  text-transform: uppercase;
  color: #505050;
  text-decoration: none;
}
.link--breadLink:hover {
  color: #fdc100;
}
.link--warrantyLink {
  text-transform: uppercase;
  font-weight: 600;
  font-family: "myriadSemibold";
  color: #505050;
}
.link--warrantyLink2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.875rem;
  font-family: "myriadSemibold";
  color: #505050;
}
.link--dep {
  pointer-events: none;
  /* text-decoration: underline; */
}
.link--typoLinkPDP:hover {
  color: #fdc100;
}
.childrenContainer--tabPDP {
  display: flex;
  justify-content: center;
}
.link--fitContent {
  height: fit-content;
  margin: auto 0 auto 0; /*.5rem;*/
}
.linkContainer--tabPDP :global(.vtex-store-components-3-x-imageElement) {
  max-width: 1rem;
}
.linkContainer--promoPDP {
  margin-bottom: 1rem;
}
.childrenContainer--maxWidthLinkCardAlone {
  background-color: white;
}
.link--cardLinkBottom {
  width: 100%;
}
.childrenContainer--cardLinkBottom {
  width: 100%;
}

:global(.vtex-flex-layout-0-x-flexRowContent--rowLinkPDPGallery)
  .linkContainer--typoLinkPDP {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.link--colonnaMenuSupportoLast {
  font-family: "myriadSemibold";
  font-weight: 400;
  color: #505050 !important;
  font-size: 0.875rem;
  line-height: 1.2;
  margin-top: 0;
  /* padding-left: 1rem; */
  text-transform: none;
  letter-spacing: 0;
  cursor: pointer;
  color: inherit;
}
.link--colonnaMenuSupportoLast:hover::before {
  content: "";
  width: 0;
  transition: width 0.7s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  height: 0.125rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fdc100;
}
.link--colonnaMenuSupportoLast.link--email {
  padding-left: 1rem;
}
.linkContainer--postillaButton {
  margin-bottom: 3.75rem;
}
.linkContainer--marginButtonWColl {
  margin: 0;
  margin-bottom: 1.875rem;
}
/*thank u page*/
.linkContainer--backHomeLink {
  padding: 2rem;
  display: flex;
  justify-content: center;
  border-radius: 3px;
}
.link--backHomeLink {
  background-color: #f9f9f9;
  padding: 1rem 2.5rem;
}
.label--backHomeLink {
  color: #505050;
  position: relative;
}
.label--backHomeLink::before {
  content: url(assets/arrow-left.svg);
  position: absolute;
  left: -2rem;
}
.linkContainer--postillaButtonLanding,
.linkContainer--postillaButtonLandingWhite {
  margin: 0 1rem 3.75rem 1rem;
}
.buttonLink--postillaButtonLandingWhite {
  background-color: transparent;
  border: 1px solid #aeaeae;
  border-radius: 0.3125rem;
  color: #aeaeae;
}
.buttonLink--postillaButtonLandingWhite:hover {
  background-color: #ffffff;
  border: 1px solid #fdc100;
  color: #fdc100;
}
.linkContainer--tabPDP {
  padding: 0 2rem;
}
.linkContainer--postillaButtonOffers {
  margin-bottom: 1.875rem;
}
.childrenContainer--bannerLinkWrapper {
  display: flex;
  justify-content: center;
}
.linkContainer--noMargin {
  margin: 0 !important;
}
.buttonLink--energyLabelbutton {
  transition: all 0.5s ease-in-out;
}
.label--energyLabelbutton {
  font-size: 0.875rem;
}
.linkContainer--buttonGoToRecipes {
  display: flex;
  justify-content: center;
}
.linkContainer--buttonBann3 {
  margin-bottom: 0;
}
.linkContainer--technologyDesignHigh1Button {
  margin-bottom: 2rem;
  padding: 0 2rem;
}
.childrenContainer--bannerBottomPLP {
  height: 10rem;
  position: relative;
  margin: 0 1rem;
  display: flex;
  margin-bottom: 1rem;
}
.childrenContainer--bannerBottomPLP::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: #333;
  opacity: 0.5;
  z-index: 2;
}
.link--buttonWarrantyPdf {
  width: 100%;
  background-color: #ffffff;
  color: #aeaeae;
  border: 0.0625rem solid #aeaeae;
  padding: 0.75rem 1.25rem;
  transition: all 0.5s ease-in-out;
}
.link--buttonWarrantyPdf:hover,
.link--buttonWarrantyPdf:focus:hover {
  background-color: #ffffff;
  color: #fdc100;
  border-color: #fdc100;
}
.link--buttonWarrantyPdf:focus {
  background-color: #ffffff;
  border: 0.0625rem solid #aeaeae;
  color: #aeaeae;
}
.linkContainer--buttonWarrantyPdf {
  max-width: 100%;
  min-width: fit-content;
}
.link--buttonSparePartsContact {
  width: 30%;
}
.linkContainer--buttonSparePartsContact {
  display: flex;
  justify-content: center;
  width: 60%;
  margin: 0 auto;
}
.linkContainer--postillaButtonReverse {
  display: flex;
  justify-content: center;
}
.buttonLink--postillaButtonReverse {
  width: 100%;
  background-color: #ffffff;
  color: #aeaeae;
  border: 0.0625rem solid #aeaeae;
  transition: all 0.4s ease-in-out;
}
.buttonLink--postillaButtonReverse:hover {
  background-color: #ffffff;
  color: #fdc100;
  border: 0.0625rem solid #fdc100;
}
.label--cashbackNewLink {
  color: #fdc100;
  text-decoration: underline;
  font-family: "myriadRegular";
}

/* BLACK FRIDAY */
.link--blackFridayDiscoverMore {
  width: 120px;
  padding-bottom: 0.5rem;
}
.linkContainer--blackFridayDiscoverMore {
  display: flex;
}
.linkContainer--bfDiscoverMoreFaq {
  display: flex;
  justify-content: center;
}

.label--blackFridayDiscoverMore,
.label--bfDiscoverMoreFaq {
  text-transform: none;
  color: #292929;
}
/* Media Queries */
@media only screen and (max-width: 1024px) {
  .link--loginIcon {
    width: auto;
  }
  .linkContainer--blackFridayDiscoverMore {
    right: 5px;
    top: 40px;
  }
}
@media only screen and (max-width: 1000px) {
  .link--warrantyLink2 {
    font-size: 0.7rem;
  }

  .linkContainer--discontinuedButton {
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .link--blackFridayDiscoverMore {
    padding-bottom: 0;
  }
}
@media only screen and (max-width: 600px) {
  .linkContainer--tabPDP {
    margin: auto;
  }
  .label--warrantyLink2 {
    display: flex;
    justify-content: center;
    padding: 1rem;
  }
  .linkContainer--postillaButton {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 668px) {
  .link--backHomeLink {
    padding: 1rem 1.5rem;
  }
  .label--backHomeLink::before {
    left: -1rem;
  }
}
@media screen and (max-width: 640px) {
  .childrenContainer--cardImageMenu::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 90%;
    height: 60%;
    z-index: 0;
    background-color: #f2f2f2;
  }
  .linkContainer--buttonBannerTastyMobile {
    margin-bottom: 2rem;
  }
  .linkContainer--energyLabelbutton {
    margin-bottom: 0;
  }
  .linkContainer--buttonSparePartsContact {
    width: 100%;
  }
  .link--buttonSparePartsContact {
    width: 100%;
  }
  .linkContainer--postillaButtonMobile {
    margin-bottom: 2rem;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .linkContainer--buttonSparePartsContact {
    width: 100%;
  }
  .link--buttonSparePartsContact {
    width: 70%;
  }
}
@media only screen and (max-width: 1100px) {
  .linkContainer--preOrderDiscoverMore {
    right: 5px;
    top: 40px;
  }
}
@media only screen and (max-width: 640px) {
  :global(.vtex-flex-layout-0-x-flexColChild--timerPreOrderMobile) .linkContainer--terminiPreOrder{
    padding-top: 0rem;
    padding-left: 3rem;
  }
  :global(.vtex-flex-layout-0-x-flexColChild--timerPreOrderMobile) .label--terminiPreOrder{
    color: #ffff;
  }
}
@media only screen and (max-width: 400px) {
  .label--promoBadgePreOrderLink{
    font-size: 11px;
    white-space: nowrap;
  }
}
