.link:hover {
  color: #fdc100;
}

.link:focus {
  color: unset;
  outline: unset;
}

.link {
  position: relative;
  transition: color 0.15s ease-in;
}
.container {
  text-decoration: none;
  font-family: "myriadLight";
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 22px;
  padding-left: 1.25rem;
  color: #505050;
  text-transform: uppercase;
}
.sliderContainer::-webkit-scrollbar {
  display: none;
}
.sliderContainer {
  overflow: auto;
}
.arrowIconBread {
  opacity: 20%;
}
