.attribute,
.container,
.value {
  font-family: "myriadLight";
  font-size: 0.7rem;
}

.value {
  font-weight: 600;
}

.container {
  width: auto;
}

.value {
  color: #505050;
  padding: 0;
  font-family: "myriadRegular";
  line-height: 1.5;
}

.attribute {
  text-align: right;
  font-family: "myriadRegular";
}

:global(.vtex-flex-layout-0-x-flexColChild--prezzoCol) .value {
  color: #505050;
  padding: 0;
  font-size: 1.85rem;
  font-family: "myriadRegular";
  line-height: 1.5;
}

:global(.vtex-flex-layout-0-x-flexColChild--SearchResult) .value {
  color: #6dd400;
}

:global(.vtex-flex-layout-0-x-flexColChild--SearchResult) .attribute {
  background: unset !important;
}

:global(.vtex-flex-layout-0-x-flexColChild--specProps) .value {
  font-size: 0.875rem;
  white-space: nowrap;
}

:global(.vtex-flex-layout-0-x-flexColChild--inStock-PDP) .value,
:global(.vtex-flex-layout-0-x-flexColChild--inStock-PLP) .value {
  color: #6dd400;
}

:global(.vtex-flex-layout-0-x-flexColChild--inStock-PDP) .attribute {
  background: unset !important;
  float: right;
  position: relative;
  left: -6rem;
  bottom: 0rem;
}

:global(.vtex-flex-layout-0-x-flexColChild--inStock-PLP) .attribute {
  background: unset !important;
}

:global(.vtex-flex-layout-0-x-flexColChild--specProps) .attribute {
  background: #f9f9f9;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  margin-right: 0.5rem;
  width: fit-content;
}

:global(.vtex-flex-layout-0-x-flexRowContent--dimensioni) .attribute {
  text-align: left;
}

:global(.vtex-flex-layout-0-x-flexColChild--specProps) .container {
  width: auto;
  margin-bottom: 0.5rem;
}

:global(.vtex-flex-layout-0-x-flexColChild--inStockProp) .value {
  position: relative;
  margin-left: 0.8rem;
}

:global(.vtex-flex-layout-0-x-flexColChild--inStockProp) .value::after {
  content: "";
  position: absolute;
  left: -0.8rem;
  top: 50%;
  transform: translateY(-50%);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #6dd400;
}

:global(.vtex-flex-layout-0-x-flexRowContent--mobilePriceOOS) .value {
  font-family: "myriadMedium";
  font-size: 1.5rem;
}