.content--visible.content--footerAccordionProducts--visible {
  height: 340px !important;
}

.content--visible.content--footerAccordionServices--visible,
.content--visible.content--footerAccordionPolicy--visible {
  height: 450px !important;
}
.content--visible.content--buttonPLPCustom-content--visible {
  position: relative;
  z-index: 1;
  top: -1rem;
  width: 65%;
  height: auto;
  margin: 0 auto;
}
