.faqWrapper {
  width: 100%;
}
.faqContainer,
.faqContainerOpen {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.0625rem solid #979797;
}
.QuestionText--blackFriday,
.QuestionTextOpen--blackFriday {
  display: flex;
  justify-content: space-between;
  padding: 0 54px;
}
.QuestionText .container .wrapper .paragraph,
.QuestionTextOpen .container .wrapper .paragraph {
  font-size: 0.9rem;
  overflow-wrap: anywhere;
}

.AnswerText .container .wrapper .paragraph {
  font-size: 0.75rem;
  margin-bottom: 1.5rem;
}

.caretIconContainer {
  cursor: pointer;
  padding: 1em;
}

/* BLACK FRIDAY */

.faqContainer--blackFriday {
  background-color: #eeeeee;
  padding: 0;
  border: none;
  margin-bottom: 24px;
}
.link--blackFriday {
  color: #292929;
}
.QuestionText--blackFriday .container .wrapper .paragraph,
.QuestionTextOpen--blackFriday .container .wrapper .paragraph {
  font-weight: 900;
}
.QuestionTextOpen--blackFriday {
  background-color: #f1bc2a;
}
.AnswerText--blackFriday .container .wrapper .paragraph {
  padding: 0 54px;
}
.AnswerText--blackFriday .container {
  background-color: #f9f9f9;
}
.caretIconContainer--blackFriday {
  background-color: #ffffff;
  border-radius: 50%;
  padding: 0;
  align-self: center;
  display: grid;
  place-items: center;
  max-height: 29px;
  max-width: 29px;
  min-height: 29px;
  min-width: 29px;
}
.caretIcon--blackFriday {
  filter: contrast(0);
}

@media only screen and (max-width: 1024px) {
  .QuestionText--blackFriday,
  .QuestionTextOpen--blackFriday,
  .AnswerText--blackFriday .container .wrapper .paragraph {
    padding: 0 12px;
  }
}
