.productSummary {
    padding-bottom: 3rem;
}

.buyTogetherTitle {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.25rem;
}

.buyTogetherContainer {
    padding: 1rem;
}

.disabledProduct {
    opacity: 50%;
    pointer-events: none;
}

.priceWithoutDiscount {
    font-size: 1rem;
    color: #727273;
    text-decoration: line-through;
    font-weight: 600;
}

.priceWithtDiscount {
    font-size: 1.25rem;
    font-weight: 600;
}

.totalLabel {
    font-size: 1.25rem;
    font-weight: 600;
}

.firstCard {
    margin-top: 48px;
}