:global(.vtex__icon-caret-down) {
  width: 10px;
  color: #505050;
}
:global(.vtex__icon-caret-up) {
  width: 10px;
  color: #505050;
}
.servAggRow {
  padding: 0.5rem 0 !important;
}
.servAggRow:not(:last-child) {
  border-bottom: 1px solid #d0d3d4;
}
.serviceTitle {
  margin: 0;
  padding: 0.5rem 0;
}
.serviziAggRow {
  padding: 0.5rem 0;
}

.whrClub{
  margin-left: 0.6rem;
  height: 1.2rem;
  margin-bottom: -7.5px;
  width: auto;
  visibility: visible;
  max-width: 100%;
}

.freeLabel {
  color: #edb112;
  font-size: .875rem;
  font-family: myriadSemibold;
  margin-left: 1rem;
  min-width: 5em;
  display: flex;
  justify-content: flex-end;
  text-transform:uppercase;
}

.serviziAggiuntiviTable {
  background-color: #f9f9f9;
  border-bottom: 1px solid #edb112;
  width: 100%;
  font-size: 1rem;
  margin: 1rem 0 2.5rem;
  height: auto;
  overflow: visible;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1.75rem 2.5rem;
}

.labelPrice {
  color: #505050;
  font-size: .875rem;
  font-family: myriadSemibold;
  margin-left: 1rem;
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 640px) {
  .serviziAggiuntiviTable {
    margin: 0;
    padding: 0rem 1.3rem;
    margin-bottom: 1rem;
  }
  .servAggRow {
    display: contents;
  }
  .servAggRow:not(:last-child) {
    border: none;
  }

  .addServicesTitle {
    margin: 0.5rem 0;
  }
  .serviziAggiuntiviTooltip {
    padding-bottom: 0.875rem;
  }
  .servTitleStyle {

    font-family: myriadLight !important;
    font-weight: 700;

  }
}

