.link {
  color: #505050;
  font-family: "myriadSemiBold";
  font-size: 1rem;
  font-weight: 400;
  text-decoration-thickness: 1px;
  line-height: 1.5;
  margin-right: 0.25rem;
}
.paragraph {
  margin-bottom: 0;
}
