input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.ship-receiverName {
  display: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

.newsletter-text {
  text-align: justify;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
  padding: 0 !important;
}
.seller span:nth-child(2) {
  display: none;
}
a:hover,
a:link,
a:visited {
  text-decoration: none;
  outline: none;
  font-family: "Roboto", sans-serif;
}
.btn-success {
  background-color: #3ab5be;
  border-color: #3ab5be;
}
.container-logo {
  padding: 20px 0 20px 20px;
}

.container-logo img {
  width: 120px;
}

.checkout-title h2 {
  max-width: 980px;
  width: calc(100% - 40px);
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 0;
}

.bar {
  margin: 1rem 1rem;
}

.cart-template-holder {
  width: 60% !important;
}

.cart-more-options {
  width: 100% !important;
}

.cart-more-options {
  padding: 20px 10px !important;
}

#cart-coupon-add,
.btn-place-order-wrapper,
.shipping-calculate-link,
.btn-success,
#cart-to-orderform,
#payment-data-submit,
#go-to-payment,
#go-to-shipping,
#cart-choose-products {
  border-radius: 0 !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.cart-more-options .srp-container .onda-v1 .blue {
  outline: none !important;
}

#shipping-option-delivery.vtex-omnishipping-1-x-deliveryOptionInactive,
#shipping-option-pickup-in-point.vtex-omnishipping-1-x-deliveryOptionInactive {
  background: unset;
}
.newsletter {
  margin-top: -10px;
}
.orderform-template-holder
  .step.shipping-data
  .vtex-omnishipping-1-x-deliveryChannelsWrapper,
.orderform-template-holder
  .step.shipping-data
  .vtex-omnishipping-1-x-deliveryChannelsToggle {
  border-radius: 4px;
}

.vtex-omnishipping-1-x-postalCodeFrom {
  align-items: flex-end !important;
}

.vtex-omnishipping-1-x-pc .btn {
  margin: 0 0 10px 10px !important;
}

.cart-template {
  flex-flow: row !important;
}

#client-profile-data #go-to-shipping,
#client-profile-data #go-to-payment {
  display: none !important;
}

.client-document {
  display: none !important;
}

.ship-state input {
  display: none !important;
}

.custom-corporate-terms a {
  color: #deb01a;
}

#btn-go-to-payment {
  display: block;
  min-width: 55%;
  margin: 20px 0 !important;
}
#btn-go-to-payment:disabled,
#btn-go-to-payment[disabled="disabled"] {
  cursor: not-allowed;
}
#go-to-shipping {
  display: block;
  min-width: 55%;
  margin: 20px 0 !important;
}

#shp-shipping-calculate {
  display: none !important;
}

#is-corporate-client {
  text-decoration: underline;
}

#not-corporate-client {
  text-decoration: underline;
}

.custom-corporate-terms {
  margin-top: 15px;
}

#user-country {
  margin-top: 10px;
}

.payment-confirmation-modal {
  background: #deb01a !important;
}

.corporate-info-box {
  display: block !important;
}

.corporate-info-box .custom-corporate-street {
  display: block !important;
}

.corporate-info-box .custom-corporate-number {
  display: none !important;
}

.corporate-info-box .custom-corporate-postal-code {
  display: block !important;
}

.corporate-info-box .custom-corporate-city {
  display: block !important;
}

.corporate-info-box .person-type-field {
  display: none !important;
}

.corporate-info-box .custom-corporate-name {
  display: none !important;
}

.corporate-info-box .custom-corporate-document {
  display: none !important;
}

.corporate-hide-link {
  display: none;
}

.box-client-info-pj {
  padding-top: 0 !important;
}

/* Chrome, Safari, Edge, Opera */

#client-phone {
  height: 40px;
  line-height: 40px;
  height: 40px;
  line-height: 40px;
  max-height: initial;
  display: inline-block;
  padding: 0px 10px;
  border-radius: 4px;
  border: 1px solid #cbcbcb;
  outline: initial;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
}

#client-phone::-webkit-outer-spin-button,
#client-phone::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

#client-phone {
  -moz-appearance: textfield;
}

.checkbox {
  display: flex;
}

.checkbox > span {
  margin-left: 10px;
  margin-top: 6px;
}

.checkbox > input {
  height: 25px;
}

.custom-corporate-state {
  margin-top: 5px;
}

.vtex-omnishipping-1-x-address > div {
  display: flex;
  flex-direction: column;
}
.vtex-omnishipping-1-x-address p {
  order: 3;
}
.ship-street {
  order: 2 !important;
}

.ship-complement {
  order: 1 !important;
}

#worldpay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #fff;
}

#worldpay #wp-cl {
  margin-top: 60px;
}

.checkout-title {
  display: none;
}

@media (max-width: 690px) {
  body {
    padding-bottom: 50px !important;
  }
}
/*style header and footer*/

.cart-template {
  min-height: 60vh !important;
}

#footer {
  position: static;
}

.header {
  display: flex;
  flex-direction: column;
}

.firstRowHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 10px auto;
}

.logoHeader {
  display: flex;
  align-items: center;
  /* width: 50px; */
}

.imgLogoHeader {
  max-height: 40px;
}

.rightSectionHeader {
  display: flex;
  align-items: center;
}

.logoSecureCheck {
  display: flex;
  align-items: center;
  padding-right: 20px;
  font-size: 22px;
  font-weight: bold;
}
.payment-confirmation-message {
  margin-top: 10px;
}
.lockIcon {
  align-items: center;
}

.secureCheckText {
  align-items: center;
}

.linkPhoneNumber {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
}

.telephoneNumber {
  align-items: center;
  line-height: 22px;
}

.phoneIcon {
  align-items: center;
  height: 30px;
  padding-right: 10px;
}

.secondRowHeader {
  display: flex;
  background-color: #e6e6e6;
  justify-content: space-around;
  min-height: 50px;
}

.secondRowHeaderItem {
  display: flex;
  align-items: center;
}

.itemIcon {
  align-items: center;
  max-height: 28px;
  padding-right: 10px;
}

.itemText {
  align-items: center;
  white-space: nowrap;
}

.itemText:hover {
  color: #333;
}

p.itemText :hover {
  color: white;
}

.trustPilotLink {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
}

.trustPilotWrapper {
  align-items: center;
  padding-bottom: 7px;
}

.trustPilotImg {
  align-items: center;
  max-height: 20px;
  margin-left: 5px;
}

.header p.itemText {
  margin-bottom: 0px !important;
}

.header p.telephoneNumber {
  margin-bottom: 0px !important;
}

.footer {
  display: flex;
  flex-direction: column;
}

.firstFooter {
  background-color: #424242;
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  padding-bottom: 20px;
  /* border-top: solid 6px #3AB5BE; */
}

.footerColumn {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.firstColumnItem {
  margin: 0px;
  max-height: 30px;
}

.firstColumText a {
  text-decoration: none;
  color: white;
  font-size: 0.875rem;
  line-height: 16px;
  margin-bottom: 14px;
}

.secondColumnItem,
.thirdColumnItemText,
.fourthColumnItemText,
.secondFooterItem {
  font-size: 0.875rem;
}
.firstColumText a:hover,
.secondColumnPhone a:hover,
.thirdColumnItemText a:hover,
.fourthColumnItemText a:hover {
  color: white !important;
}

.imgFirstColumnItem {
  max-height: 40px;
  padding-bottom: 20px;
}

.secondColumnItem {
  display: flex;
}

.mailIconWrapper svg {
  width: 20px;
  height: 20px;
  align-items: center;
  margin-bottom: 0px;
}

.secondColumnTitle {
  color: white;
  font-size: 20px;
}

.secondColumnMail {
  color: white;
  font-size: 14px;
}

.secondColumnPhone {
  display: flex;
  margin-bottom: 14px;
}

.secondColumnPhoneIcon {
  align-items: center;
  padding-right: 10px;
}

.secondColumnPhoneText {
  align-items: center;
}

.secondColumnPhoneText a {
  text-decoration: none;
  color: white;
  align-items: center;
}

.socialItem {
  display: flex;
  align-items: center;
}

.socialIcon {
  align-items: center;
  padding-right: 10px;
}

.thirdColumnItem {
  display: flex;
}

.thirdColumnTitle {
  color: white;
  font-size: 20px;
}

.thirdColumnItemText {
  margin-top: 0px;
  margin-bottom: 14px;
}

.thirdColumnItemText a {
  text-decoration: none;
  color: white;
  align-items: center;
}

.fourthColumnItem {
  display: flex;
}

.fourthColumnTitle {
  color: white;
  font-size: 20px;
}

.fourthColumnItemText {
  margin-top: 0px;
}

.imagePayment {
  margin-top: 0px;
}
.seller {
  display: none !important;
}
.v-custom-quantity-price__list--selling,
.table.cart-items tbody tr td.product-price .v-custom-quantity-price__best {
  font-size: 14px !important;
}
.fourthColumnItemText a {
  text-decoration: none;
  color: white;
  align-items: center;
}

.secondFooter {
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding-top: 13px;
  padding-bottom: 13px;
  color: white;
}

.secondFooterWrapper {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
}

.secondFooterItem a {
  color: white !important;
  text-decoration: none;
  border-left: 1px solid white;
  padding-left: 10px;
  margin-left: 15px;
  display: block;
}

.body-cart-vertical .summary-template-holder {
  width: 40%;
}
#has-phone-key,
#no-phone-key {
  display: none;
}
.other-phone {
  display: block !important;
  margin-top: -25px;
}
.summary-template-holder {
  background: #fff;
  padding: 20px;
  margin-top: 30px;
  text-align: none;
  box-sizing: inherit;
  border-radius: 0;
  position: static;
  top: 0;
  border: none;
}
.cart-template-holder {
  margin-top: 30px;
}

.custom-toggle-lift-section {
  display: none;
}
#shipping-preview-container {
  display: block !important;
}
.orderform-template-holder #client-profile-data form.client-pre-email,
.orderform-template-holder #client-profile-data .step.client-profile-data,
.orderform-template-holder #shipping-data,
.orderform-template-holder #payment-data {
  background: #f4f2f2;
}
.orderform-template {
  margin-top: 20px;
}
@media only screen and (max-width: 900px) {
  .secondRowHeader {
    display: none;
  }
  .cart-template {
    flex-flow: column !important;
  }
  .cart-template-holder {
    width: 100% !important;
  }
  .body-cart-vertical .summary-template-holder {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .firstRowHeader {
    padding-bottom: 20px;
  }
  .secondFooter {
    padding: 20px;
  }
  .firstFooter {
    flex-wrap: wrap;
    padding: 20px;
  }
  .footerColumn {
    font-size: 0.875rem;
    width: 100%;
    padding-bottom: 40px;
    border-bottom: 1px solid #fff;
    margin-top: 30px;
  }
  .secondFooterWrapper {
    flex-wrap: wrap;
    margin-bottom: 25px;
    justify-content: center;
  }
  .secondFooterWrapper .secondFooterItem:nth-child(1) {
    width: 100%;
    margin-bottom: 25px;
    text-align: center;
  }
  .secondFooterWrapper .secondFooterItem {
    width: 33%;
    margin-bottom: 10px;
  }
  .secondFooterWrapper .secondFooterItem a {
    border: none;
    margin: 0;
  }
  .secondFooterItem {
    font-size: 0.875rem;
  }
}

@media only screen and (max-width: 525px) {
  .secondFooterItem {
    font-size: 0.875rem;
  }
  .firstRowHeader {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .logoSecureCheck {
    margin-bottom: 10px;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 420px) {
  .rightSectionHeader {
    flex-direction: column;
  }
}
.delivery-address-title {
  display: none;
}

.vtex-omnishipping-1-x-addressSummaryActive .address-summary-GBR {
  display: none;
}
