.paragraph--ContactCardButton {
  color: #aeaeae;
  height: 40px;
  font-weight: bold;
  padding: 10px;
  border: 0.0625rem solid #aeaeae;
}
.wrapper--ContactCardButton {
  margin-top: 10%;
}

.wrapper--ContactButton {
  font-family: "myriadSemibold";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2;
  letter-spacing: -0.2px;
  width: 100%;
  text-transform: uppercase;
  color: white;
  background-color: #fdc100;
  text-align: center;
  min-height: 2.8125rem;
  min-width: 9.375rem;
  border-radius: 0.3125rem;
}
.wrapper--ContactButton:hover {
  background-color: burlywood;
}

.wrapper--widthAutoButton {
  width: auto;
  margin: auto;
  padding: 0rem 1.5rem;
}
.paragraph--warrantyButton {
  padding: 0.75rem 1.25rem !important;
  font-family: "myriadSemibold";
  font-size: 0.875rem;
  line-height: 1.2;
  letter-spacing: -0.2px;
  color: #aeaeae;
  height: 40px;
  font-weight: bold;
  border: 0.0625rem solid #aeaeae;
  border-radius: 5px;
}
.paragraph--warrantyButton:hover {
  color: #fdc100;
  border: 1px solid #fdc100;
}
.container--warrantyButton {
  justify-content: center;
}
.container--linkPromoBanner {
  justify-content: flex-start;
}
