.container {
  /* display: block; */
}
.recipeList {
  margin: 0 auto;
}
.recipeItemTitle {
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #505050;
}
.recipeItemWrapper:hover .recipeItemTitle {
  font-family: "myriadRegular", Arial;
}
