.productImagesContainer--productPage--carousel,
:global(.vtex__ProductImagesWrapper) {
  width: 80%;
}
.productImagesGallerySwiperContainer--productPage {
  padding-bottom: 0.5rem;
  margin: 0.5rem;
}
.thumbImg--productPage {
  max-height: 90%;
}
.thumbImg--productPage--video {
  min-height: 3.5rem;
}
.swiperPaginationClickable {
  display: none;
}
.productImagesThumb--productPage {
  padding: 1rem;
  margin: 5px;
  display: flex;
  align-items: center;
}
.productImagesThumbActive--productPage {
  border-radius: 5px;
  border: 2px solid #fdc100;
}
.swiperCaretNext--productPage,
.swiperCaretPrev--productPage {
  color: #979899;
}
.swiperCaretNext--productPage {
  padding-left: 1rem;
}
.swiperCaretPrev--productPage {
  padding-right: 1rem;
}
.gradientBaseRight--productPage {
  background-color: white;
}
.gradientBaseLeft {
  background-image: -webkit-linear-gradient(
    right,
    rgba(255, 255, 255, 0.001) 0%,
    #fff 100%,
    #fff 100%
  );
}
.gradientBaseRight {
  background-image: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0.001) 0%,
    #fff 100%,
    #fff 100%
  );
}
.caretIcon--productPage {
  color: #505050;
  /* padding-bottom: 2.8rem; */
  width: 17px;
}
.gradientBaseBottom,
.gradientBaseTop {
  padding: 0;
}

/* Media Queries */
@media only screen and (max-width: 668px) {
  .swiperPaginationClickable {
    display: block;
  }
  .productImageTag--productPage {
    /* width: 270px !important; */
    height: 15rem !important;
    object-fit: cover !important;
    margin: 1.25rem 0;
  }
}
