.slideChildrenContainer--bannerText {
  margin: 50px;
}
.sliderTrackContainer--bannerText {
  margin-bottom: 5rem;
}
.sliderTrack--bannerTextW11Micro {
  width: 90%;
  margin: auto;
}
.sliderLayoutContainer--whyRegisterSliderMobile {
  padding: 1rem;
}
