.imageContainer {
  width: 15%;
  display: flex;
  align-items: center;
}
.energyLabelSrc {
  width: 3rem;
}
.productInformationSheet {
  display: flex;
  align-items: center;
  font-weight: bold;
  text-decoration: underline;
  color: #505050;
}
.linksContainer {
  display: flex;
}
.cancelOrderButton {
  display: none;
}

.updateOrderButton {
  display: none;
}
