/* .product-identifier--productReference {
  margin-bottom: 1rem;
}
.product-identifier--skuReferenceId {
  margin: auto;
  position: relative;
  font-family: "myriadRegular";
} */
/* .product-identifier--skuReferenceId::before {
  content: "";
  position: absolute;
  left: -2px;
  background-color: #727273;
  width: 1px;
  bottom: 1px;
  height: 100%;
} */
/* .product-identifier__value {
  font-size: 0.875rem;
  padding: 0.2rem;
  font-weight: 300;
  color: #505050; */
/* line-height: 1.43; */
/* } */
.product-identifier__value {
  padding-left: 0;
  font-size: 0.875rem;
}
