.listPrice {
  color: #d0d3d4;
  font-size: 1.25rem;
  font-family: "myriadRegular";
  text-align: end;
}
.sellingPriceValue {
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: "myriadRegular";
}
.sellingPrice--summary {
  font-size: 0.65rem;
  margin: 0;
  color: #505050;
  display: flex;
  flex-direction: column;
  /* width: 70% !important; */
  text-align: right;
}
.sellingPriceValue--summary {
  color: #505050;
  padding: 0;
  width: 100%;
  text-align: right;
}
.sellingPrice--summary2 {
  font-size: 1.25rem;
  margin: 0;
  color: #505050;
  display: flex;
  align-items: flex-start;
  font-family: "myriadRegular";
}
.sellingPriceValue--summary2 {
  color: #505050;
  padding: 0;
  font-size: 1.85rem;
  font-family: "myriadRegular";
}
.savings--summary {
  background: #fdc100;
  border-radius: 1000px;
  padding: 0.2rem;
  align-items: center;
  display: flex;
  color: #ffffff;
}
.savings-discount--summary {
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #ffffff;
}
.listPrice--summary {
  margin-bottom: 0;
  margin-right: 0.5rem;
}
.listPrice--comparison {
  padding-left: 20px;
}
.savings--saving {
  padding: 0 0.3rem;
  color: #505050;
  font-weight: 600;
}
.savings--savingPdp {
  color: #edb112;
  font-family: "myriadRegular";
  font-size: 1.25rem;
}
.savings--widthMinContent {
  width: min-content;
}
.currencyContainer--savingPdp {
  padding-left: 0.2rem;
}
/* Media Queries */
@media only screen and (max-width: 600px) {
  .currencyContainer--summary {
    font-size: 1.7rem;
  }
  .currencyContainer--savingsSummary {
    font-size: 1.3rem;
    margin-right: 1rem;
  }
  .savings--saving {
    padding: 0;
  }
}
@media only screen and (max-width: 1600px) {
  .sellingPrice--summary {
    width: 85% !important;
  }
}
@media only screen and (max-width: 1400px) {
  .sellingPrice--summary {
    width: 100% !important;
  }
}
