.productBrand--summaryName {
  font-family: "myriadRegular";
  font-weight: 300 !important;
  font-size: 1rem !important;
  color: #505050;
  text-decoration: none;
  line-height: 1.3rem;
  min-height: 7rem;
}
.productNameLink--summaryName:hover {
  text-decoration: none;
}
.productNameContainer--summaryName {
  line-height: 0.7 !important;
  padding: 0.5rem 1rem;
  /* min-height: 7rem; */
}
.imageElement--imageMenuHome {
  width: 70%;
  z-index: 2;
}
.imageElementLink--imageMenuHome {
  display: flex;
  justify-content: center;
}
.notificationBarContainer {
  background-color: #e6f1e6;
  color: #03034e;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}
.imageElement--search-icon {
  cursor: pointer;
}
.searchBarContainer :global(.vtex-styleguide-9-x-input) {
  max-width: unset;
  border-bottom: 1px solid lightgray;
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.2;
  padding: 0;
}
.searchBarIcon {
  color: #fdc100;
  width: 30px;
  height: 30px;
  justify-content: center;
  padding: 0;
}
.searchBarIcon:hover {
  color: white;
  border-radius: 12px;
  background-color: rgba(237, 177, 18, 0.4);
}
.searchBarContainer :global(.vtex-input-prefix__group) {
  border: none;
}
.searchBarContainer {
  max-width: unset;
  margin: 3.75rem 0;
}
.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}
.newsletter {
  background-color: #03054e;
  max-width: 1528px;
  margin: 0 auto;
}
.newsletter .container {
  padding: 60px 10px;
}
.label {
  color: #fff;
  font-size: 26px;
}
.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}
.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}
.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}
.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}
.buttonContainer {
  padding-top: 0px;
}
.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}
.skuSelectorContainer {
  margin: 1rem 0;
  display: none;
}
.productBrand--quickview {
  color: #505050;
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1rem;
  line-height: 2.5rem;
}
.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #505050;
  font-family: "myriadRegular";
  font-weight: 400;
  line-height: 2.5rem;
  font-size: 30px;
  /* min-height: 6rem; */
  height: inherit;
}
.imageElement--imageMenu {
  width: 300px;
  padding-left: 50px;
}
.imageElement--clubImage {
  height: 1rem;
}
.infoCardContainer--mainMenu {
  border: 1px solid lightgray;
  border-radius: 0 0 12px 12px;
  padding: 5px;
}

.imageElement--SupportoItem {
  float: right;
}
.imageElement--wproImage {
  padding-top: 1em;
  width: 5rem;
}
.infoCardHeadline--mainMenu {
  width: fit-content;
  height: 2rem;
  margin: 1.375rem 12.813rem 0.25rem 0;
  font-family: "myriadLight", Arial;
  font-size: 1.5rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #505050;
  border-bottom: 0.125rem solid #fdc100;
}
.infoCardHeadline--mainMenu::after {
  content: "";
  width: 0;
  transition: width 0.7s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  height: 0.125rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fdc100;
}
.infoCardSubhead--mainMenu {
  width: 21.75rem;
  height: 1.375rem;
  margin: 0.313rem 1.563rem 0 0;
  font-family: "myriadLight";
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #505050;
}
.infoCardSubhead--mainMenu::before {
  content: "";
  width: 100%;
  transition: width 0.7s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  height: 0.125rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fdc100;
}

.infoCardCallActionContainer--mainMenu {
  position: absolute;
  left: 62%;
}

.infoCardCallActionContainer--mainMenu :global(.vtex-button) {
  font-family: "myriadRegular";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2;
  letter-spacing: -0.2px;
  border: 0.0625rem solid #aeaeae;
  background-color: white !important;
  color: #aeaeae;
  /* ----- */
  width: 10.5rem;
  height: 3.125rem;
  /* margin: 2rem 1.75rem 0.25rem 1.563rem; */
  /* padding: 0 1.5rem; */
  border-radius: 5px;
  border: solid 2px #aeaeae;
}
.infoCardCallActionContainer--mainMenu:hover :global(.vtex-button) {
  border-color: rgb(237, 177, 18);
  background-color: white !important;
  color: rgb(237, 177, 18);
}

.imageElement--Lavatrici {
  position: absolute;
  left: 100%;
  top: 0;
  display: none;
}

.imageElement--logoImage {
  height: 70px !important;
  width: 80%;
  margin: 0.3rem 1rem;
}

.infoCardContainer--mainMenu {
  flex-direction: column-reverse;
  padding: 0;
  margin: 0;
  width: 100%;
}
.infoCardImageContainer--mainMenu {
  width: 100%;
  padding: 0px;
  overflow: hidden;
}

.infoCardImage--mainMenu {
  height: 300px;
  width: 100%;
  border-radius: unset;
  transition: transform 0.7s ease;
}
.infoCardImage--mainMenu:hover {
  transform: scale(1.1);
}

.infoCardTextContainer--mainMenu {
  width: 92.5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-bottom: 0.8rem;
}
/*---------------HERO BANNER------------*/

.infoCardImage--heroBanner {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  height: 740px;
  width: 100%;
}

.infoCardContainer--heroBanner {
  flex-direction: row;
  max-height: 740px;
  background-color: #f9f9f9;
  padding: 0;
}

.infoCardTextContainer--heroBanner {
  padding-left: 3.125rem;
  flex: 0 0 40%;
  width: 40%;
}
.infoCardImageContainer--heroBanner {
  flex: 0 0 60%;
  width: 60%;
}
.infoCardHeadline--heroBanner {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: #505050;
  margin: 0 0 1.875rem;
}
.infoCardSubhead--heroBanner {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.8125rem;
  margin: 0 0 1.875rem;
}

.infoCardCallActionContainer--heroBanner {
  margin: 0;
}

.infoCardCallActionContainer--heroBanner :global(.vtex-button) {
  min-height: 2.8125rem;
  min-width: 9.375rem;
  font-family: "myriadSemibold";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2;
  letter-spacing: -0.2px;
  text-transform: uppercase;
}

/*-------------------Half banner---------------*/

.infoCardImage--halfBanner {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  height: 33.75rem;
  width: 100%;
}

.infoCardContainer--halfBanner {
  background-color: #f9f9f9;
  margin: 0 7.3125rem;
  padding-bottom: 0rem;
  padding-left: 0.25rem;
}

.infoCardHeadline--halfBanner {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: #505050;
  margin: 0 0 1.25rem;
}
.infoCardSubhead--halfBanner {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
  margin: 0 0 1.25rem;
}

.infoCardCallActionContainer--halfBanner {
  margin: 0;
}

.infoCardImageContainer--halfBanner {
  min-height: 33.75rem;
  max-height: 33.75rem;
}
:focus:global(.vtex-button) {
  outline: none;
}
.infoCardCallActionContainer--halfBanner :global(.vtex-button) {
  min-height: 2.8125rem;
  min-width: 9.375rem;
  font-family: "myriadSemibold";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2;
  letter-spacing: -0.2px;
  text-transform: uppercase;
}
/*-------------------Half banner reverse---------------*/
.infoCardImage--halfBannerReverse {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  height: 33.75rem;
  width: 100%;
}

.infoCardContainer--halfBannerReverse {
  flex-direction: row-reverse;
  background-color: #f9f9f9;
  margin: 0 7.3125rem;
}
.infoCardTextContainer--halfBannerReverse {
  padding: 2.5rem 5.625rem;
}
.infoCardTextContainer--halfBanner {
  padding: 9rem 4rem;
  height: 57;
  background-color: #f9f9f9;
}
.infoCardTextContainer--halfBannerTextBox {
  padding: 12rem 4rem;
  height: 57;
  background-color: #f9f9f9;
}
.infoCardHeadline--halfBannerReverse {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: #505050;
  margin: 0 0 1.25rem;
}
.infoCardSubhead--halfBannerReverse {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
  margin: 0 0 1.25rem;
}

.infoCardCallActionContainer--halfBannerReverse {
  margin: 0;
}

.infoCardImageContainer--halfBannerReverse {
  min-height: 33.75rem;
  max-height: 33.75rem;
}

.infoCardCallActionContainer--halfBannerReverse :global(.vtex-button) {
  min-height: 2.8125rem;
  min-width: 9.375rem;
  font-family: "myriadSemibold";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2;
  letter-spacing: -0.2px;
  text-transform: uppercase;
}
.infoCardTextContainer--postilla::after {
  content: "*Également disponible en version autonome.";
  padding-top: 1rem;
  font-size: 0.65rem;
}

/*----------------GRID BANNER HOME-----------------*/
.infoCardImage--gridHome {
  width: 100%;
  height: 15.625rem;
  max-height: 340px;
}
.infoCardContainer--gridHome {
  display: flex;
  flex-direction: column-reverse;
  border: 1px solid #f2f2f2;
  margin: 0.3125rem;
  padding: 0;
}
.infoCardImageContainer--gridHome {
  /* flex: 0 0 50%; */
  width: 100%;
}
.infoCardTextContainer--gridHome {
  flex: 0 0 50%;
  width: 100%;
  padding: 2.1875rem;
}
.infoCardHeadline--gridHome {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.infoCardSubhead--gridHome {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.375rem;
}
.infoCardSubhead--gridHome3::after {
  content: "* Basé sur la perte de volume et l'aspect visuel des fruits et légumes. Mesures effectuées en laboratoires internes.";
  display: block;
  padding-top: 0.5rem;
  font-size: 0.625rem;
  line-height: normal;
}
.infoCardSubhead--gridHome {
  min-height: 6.5rem;
}

.infoCardCallActionContainer--gridHome :global(.vtex-button) {
  min-height: 2.8125rem;
  min-width: 9.375rem;
  font-family: "myriadSemibold";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2;
  letter-spacing: -0.2px;
  text-transform: uppercase;
}

/*-------------------Contact banner---------------*/

.infoCardImage--contactHome {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  height: auto;
  width: 100%;
  object-fit: unset !important;
}

.infoCardContainer--contactHome {
  flex-direction: row-reverse;
  background-color: #f9f9f9;
  margin: 0 7.3125rem;
  overflow: hidden;
}
.infoCardTextContainer--contactHome {
  padding: 2.5rem 5.625rem;
}

.infoCardHeadline--contactHome {
  font-family: "myriadSemibold";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.625rem;
  margin-bottom: 1.875rem;
  color: #505050;
  margin: 0 0 1.25rem;
}
.infoCardSubhead--contactHome {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
  margin: 0 0 1.25rem;
}

.infoCardCallActionContainer--contactHome {
  margin: 0;
}

.infoCardImageContainer--contactHome {
  min-height: 33.75rem;
  max-height: 33.75rem;
}

.infoCardCallActionContainer--contactHome {
  display: none;
}
.imageElement--linkCards {
  height: 2.6875rem;
  width: auto;
  margin: 0 auto 1.875rem;
}
/*---------MENU SUPPORTO------------*/
.imageElement--menuSupporto {
  width: 1.8125rem;
  height: 1.8125rem;
  min-width: 2rem;
}
/*---------------------------*/
.imageElement--imageSecond {
  position: absolute;
  left: 60%;
  top: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.7s ease-out;
}
.imageElement--lavatriciCss {
  z-index: 6;
  opacity: 1;
}
.imageElement--asciugatriciCss {
  z-index: 7;
}
.imageElement--lavasciugaCss {
  z-index: 8;
}
.imageElement--frigoriferiCss {
  z-index: 6;
  opacity: 1;
}
.imageElement--congelatoriCss {
  z-index: 7;
}
.imageElement--forniCss {
  z-index: 6;
  opacity: 1;
}
.imageElement--forniMicroondeCss {
  z-index: 7;
}
.imageElement--pianiCotturaCss {
  z-index: 8;
}
.imageElement--cappeCss {
  z-index: 9;
}
.imageElement--senzaCategoria {
  max-width: none;
  width: 370px;
}
.imageElement--AccessoriLavaggio {
  z-index: 6;
  opacity: 1;
}
.imageElement--AccessoriRefrigerazione {
  z-index: 7;
}
.imageElement--AccessoriCottura {
  z-index: 8;
}
.imageElement--AccessoriLavastoviglie {
  z-index: 9;
}
.imageElement--AccessoriAriaCondizionata {
  z-index: 10;
}
.imageElement--AccessoriPiccoliElettrodomestici {
  z-index: 11;
}
/*---------------CARD POSTILLA--------------*/
.imageElement--promoBanner {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  max-height: 35.8125rem;
  /* min-height: 35.813rem; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*--------------------------------------------*/
.logoImage--logoFooter {
  width: 7.1875rem;
  height: auto;
}
.logoContainer--logoFooter {
  padding: 0;
}

.logoLink--footerMobile {
  width: auto !important;
  padding: 2rem 0;
}
.logoImage--footerMobile {
  max-width: 7.1875rem;
}

.imageElement--Login {
  margin-left: 2rem;
  padding: 0.2rem;
  border-radius: 4px;
}
.imageElement--Login:hover {
  background-color: rgba(237, 177, 18, 0.1);
}
.logoImage--logoHeader {
  width: 150px;
  position: absolute;
  top: 20%;
  left: 15%;
}

/*Search result*/
:global(.vtex-search-result-3-x-galleryTitle--layout) {
  display: flex;
  justify-content: center;
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 2.125rem;
  line-height: 2.25rem;
  color: #505050;
  margin: auto;
}
.productImagesContainer--productPage {
  width: 90%;
  margin: 0 1rem 0 0;
}
.infoCardContainer--width1280Center {
  max-width: 1280px;
  margin: 0 auto;
}
:global(.vtex-breadcrumb-1-x-container) {
  font-family: "myriadLight";
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 22px;
  padding-left: 1.25rem;
  color: #505050;
  text-transform: uppercase;
}
.infoCardContainer--heroBannerSearch {
  height: 25.625rem;
  background-color: #f9f9f9;
  padding-bottom: 10px;
}
.infoCardImage--heroBannerSearch {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  height: 25.625rem;
  width: 100%;
}
.infoCardContainer--heroBannerSearch {
  padding-bottom: 0px;
}
:global(.vtex-tab-layout-0-x-contentItem) {
  padding: 0 3.125rem;
}
.imageElement--bannerPromoSmall {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  max-height: 8rem;
}
.imageElement--bannerPromoSmallWarranty {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 70%;
  max-height: 7rem;
  margin-left: auto;
}
/*----------------- HERO BANNER IN SUPPORT PAGE ------------------*/
.infoCardContainer--bannerHeroPageSupporto {
  background: #f9f9f9;
  display: flex;
  max-height: 25.625rem;
}
.infoCardTextContainer--bannerHeroPageSupporto {
  padding: 0 3.125rem;
  flex: 0 0 40%;
}
.infoCardImageContainer--bannerHeroPageSupporto {
  flex: 0 0 60%;
}
/*--------------RICAMBI ORIGINALI BANNER----------------------*/
.infoCardContainer--bannerRicambiOriginali {
  background: #f9f9f9;
  display: flex;
  max-height: 25.625rem;
  padding: 0;
}
.infoCardTextContainer--bannerRicambiOriginali {
  padding: 3.125rem;
  width: 40%;
}
.infoCardImageContainer--bannerRicambiOriginali {
  width: 60%;
}
.infoCardImage--bannerRicambiOriginali {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  height: 25.625rem;
  width: 100%;
}
.infoCardHeadline--bannerRicambiOriginali {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin: 0 0 1.875rem 0;
}
.infoCardSubhead--bannerRicambiOriginali {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.8125rem;
  margin: 0 0 1.875rem 0;
}
:global(.vtex-toast) {
  background-color: #fdc100;
  letter-spacing: 0.125rem;
  font-family: "myriadLight";
  font-weight: bold;
  font-size: 0.8125rem;
  line-height: 1.2;
  color: #ffffff;
}
.infoCardContainer--padding0 {
  padding: 0;
}
.imageElement--logoBannerHeader1 {
  padding: 0 0.3rem;
}

.productImageTag--main {
  padding: 3rem 0;
}
.thumbImg--productPage {
  width: 70%;
  margin: auto;
}
.videoElement--cover {
  object-fit: cover;
}
:global(.vtex-store-video-1-x-videoContainer--videoEl) {
  margin-top: 0;
}
.imageElement--blackFridayLogo {
  height: auto;
}
/* Tablet media query */
.imageElement--imagePayment {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0 auto;
}
:global(.vtex-modal__modal) {
  max-width: 50%;
}
.imageElement--imageClasseEnergetica {
  padding-left: 2.1875rem;
}
:global(.vtex__hotspot) {
  position: absolute;
  left: 0px;
  top: -10px;
}
:global(.vtex__flixmedia) {
  margin: 0 auto 3rem auto;
  max-width: 1000px;
}
:global(.vtex__ProductImagesWrapper) {
  width: 90%;
}
/* :global(.vtex-store-video-1-x-videoElement--videoCottura) {
  height: 58vh;
  width: 88vh;
}
:global(.vtex-store-video-1-x-videoContainer--videoCottura) {
  display: flex;
  justify-content: space-around;
  margin-top: 6rem;
  height: 65vh;
  padding-top: 1rem;
}
@media screen and (min-width: 421px) and (max-width: 700px) {
  :global(.vtex-store-video-1-x-videoElement--videoCottura) {
    height: 29vh;
    width: 51vh;
  }
  :global(.vtex-store-video-1-x-videoContainer--videoCottura) {
    height: 29vh;
    margin-top: 0rem;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 420px) {
  :global(.vtex-store-video-1-x-videoElement--videoCottura) {
    height: 25vh;
    width: 100%;
  }
  :global(.vtex-store-video-1-x-videoContainer--videoCottura) {
    display: flex;
    align-items: center;
    margin-top: 0rem;
    height: fit-content !important;
    margin-bottom: 2rem;
  }
} */
.infoCardImage--contain {
  object-fit: contain;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  height: 33.75rem;
  width: 100%;
}
.infoCardContainer--smallBanner {
  background-color: #ffffff;
}
.infoCardContainer--smallBannerBlack {
  margin: 0;
  padding: 0rem 20rem;
  height: 33.8125rem;
  max-height: 35.8125rem;
}
:global(.vtex-rich-text-0-x-container--black) {
  background-color: #222325;
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1.875rem;
}
:global(.vtex-rich-text-0-x-container--black-2) {
  background-color: #222325;
  font-family: "myriadLight";
  font-weight: 600;
  font-size: 1.875rem;
  margin-top: -0.2rem;
}
:global(.vtex-store-components-3-x-imageElement--black) {
  background-color: #222325;
  width: 100%;
  object-fit: contain;
  max-height: 600px !important;
  margin-top: -0.2rem;
}
.infoCardHeadline--underline {
  border-bottom: solid 1px #fdc100;
  font-size: 16px;
  font-weight: bold;
  font-family: "myriadLight";
}
.infoCardSubhead--subhead {
  font-size: 35px !important;
}
.infoCardImage--heroBannerWCollection {
  height: 37.5rem;
  max-height: 37.5rem;
}
.sliderTrackContainer--BottomSliderLavatrice {
  border: 2px solid #fdc100;
  background-color: #222325;
  max-width: 1166px;
  width: auto;
}
.slideChildrenContainer--BottomSliderLavatrice {
  width: auto;
  border: 2px solid #fdc100;
  background-color: #222325;
}
.slide--BottomSliderLavatrice {
  width: auto;
  border: 2px solid #fdc100;
  background-color: #222325;
}
.sliderLayoutContainer--BottomSliderLavatrice {
  width: auto;
  border: 2px solid rebeccapurple;
  background-color: #fdc100;
}
.infoCardHeadline--halfBannerBlackfiber,
.infoCardSubhead--halfBannerBlackfiber {
  color: #fff;
}
.infoCardContainer--halfBannerReverseW {
  background-color: #e1e1e1;
  padding-left: 0rem;
  padding-bottom: 0rem;
  padding-right: 0rem;

  height: auto;
}
.infoCardContainer--halfBannerReverseColor {
  background-color: inherit;
}
.menuItem--wcollectionMenuItem {
  padding-bottom: 1em;
}
.menuContainer {
  background-color: #505050;
}
.infoCardContainer--halfBannerSquare {
  max-width: 1200px;
  margin: 0 auto;
  background-color: #f9f9f9;
}
/*******************SUPPORTO PAGE****************/
.label--m-stripe__link {
  background-color: #03054e;
  padding-top: 20px;
}
.imageElement--supportoCardIcon {
  max-width: 2.6875rem;
  height: 2.6875rem;
  width: auto;
  margin-bottom: 1.875rem;
}
.imageElement--rowImageDescPPImage {
  width: 100%;
}
.productBrand--stickyName {
  /* font-family: "myriadRegular";
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #505050; */
  margin: 0 1.188rem 0.563rem 0;
  font-family: "MyriadLight";
  font-size: 1.7rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
}
.imageElement--imagePostillaBanner {
  max-height: 30rem;
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.imageElement--imagePostillaBannerWFrigo4Porte {
  height: 33.8125rem;
  object-fit: cover;
  width: 100%;
}

.imageElement--offresImgCarousel {
  height: 31rem;
  object-fit: cover;
  width: 100%;
}
:global(.vtex-flex-layout-0-x-flexRow--halfBannerWithPostilla4NTE)
  .imageElement--imagePostillaBannerBottom {
  height: 37.5rem;
  object-fit: unset;
}

.imageElement--imagePostillaBannerBottom {
  height: 37.5rem;
  object-fit: cover;
}
.imageElement--imageFitContent {
  object-fit: scale-down;
}
.imageElement--imagePostillaBannerMaster {
  height: 37.5rem;
  max-height: 37.5rem;
  width: 100%;
  object-fit: cover;
}
.imageElement--logoLargeRowImage {
  max-width: 6.25rem;
  max-height: 6.25rem;
}
.imageElement--sliderWFrigo4Porte,
.imageElement--sliderMaster {
  max-height: 857px !important;
}
.imageElement--designAwardMedium {
  max-width: 12.5rem;
  max-height: 6.25rem;
  min-width: 6.25rem;
  min-height: 3.125rem;
  height: auto;
  width: auto;
  margin-right: 2.1875rem;
  box-sizing: border-box;
  padding-left: 2.1875rem;
}
.imageElement--marginBottom {
  width: 2rem;
  margin-bottom: 1.875rem;
}
.imageElement--blackBanner2 {
  /* width:2rem !important; */
}
.imageElement--cover {
  object-fit: cover;
}
.imageElement--minHeight {
  min-height: 100%;
}
.infoCardContainer--marginBanner {
  margin-top: 7.5rem;
  margin-bottom: 7.5rem;
}
.imageElement--minHeightCover {
  min-height: 100%;
  object-fit: cover;
}
.infoCardContainer--mobileInfoCardSupporto {
  max-height: unset;
}
:global(.vtex-flex-layout-0-x-flexRow--faq-title) {
  margin: 0 3.125rem;
}
.productDescriptionTitle {
  /* display: none; */
}
.productDescriptionText {
  line-height: 1.67;
  font-size: 1rem;
  padding-right: 4rem;
  font-weight: 300;
  color: #505050;
}
.imageElement--minHeightGarantie {
  min-height: 45px;
  border-radius: 10px;
}
.imageElement--maxHeightWarranty {
  border-radius: 10px;
}
/*----------------MASTER LANDING PAGE-----------------*/
.infoCardTextContainer--equal {
  flex: 0 0 50% !important;
  width: 50% !important;
}
.infoCardImageContainer--equal {
  flex: 0 0 50% !important;
  width: 50% !important;
}
.infoCardContainer--equal {
  margin: 5rem 0;
}
.infoCardContainer--width100 {
  width: 100%;
}
.imageElement--imageHomeBanner {
  width: auto !important;
  margin: auto !important;
}
/*----------------PLP PRICES-----------------*/
.listPriceLabel,
.sellingPriceLabel {
  display: none;
}
.listPriceValue {
  color: #d0d3d4;
  font-size: 1.25rem;
  font-family: "myriadRegular";
  text-align: end;
}
.imageElement--imagePostillaBanner2 {
  object-fit: cover;
  height: 100%;
}
.imageElement--energyLabelBannerImage {
  max-height: unset;
}
.imageElement--rightBannerTastyImageMR {
  max-height: unset;
}
.imageElement--imageRecipe {
  max-width: unset !important;
  height: unset !important;
  margin-bottom: 0 !important;
}
.imageElement--imagePlay {
  width: 2rem !important;
  cursor: pointer;
  margin-bottom: 0 !important;
}
.imageElement--imagePlay:hover {
  width: 5rem !important;
}
.imageElement--imageHigh {
  margin: 0 auto 1.875rem;
  height: 18rem;
}
.imageElement--imageLow {
  height: 15rem;
  width: 100%;
}
.imageElement--imageBannerBottomPLP {
  position: relative;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  width: -webkit-fill-available;
}
.imageElement--MinusIcon {
  transform: rotate(180deg);
}

/* Media Queries */
@media only screen and (min-width: 600px) {
  :global(.vtex-flex-layout-0-x-flexRow--wcollectionBanner)
    .imageElement--imagePostillaBanner {
    max-height: 100%;
    max-width: 100%;
    min-height: 30rem;
    object-fit: cover;
  }
}
@media only screen and (min-width: 1100px) {
  .infoCardTextContainer--mobileInfoCardSupporto {
    padding: 0rem 4rem;
    height: 100%;
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 1100px) and (min-width: 600px) {
  .infoCardContainer--mobileInfoCardSupporto {
    width: 100%;
    padding: unset;
  }
  .infoCardTextContainer--mobileInfoCardSupporto {
    height: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .infoCardContainer--mobileInfoCardSupporto {
    height: auto;
    max-height: unset;
  }
  :global(.vtex__hotspot) {
    left: 100%;
    top: 5%;
    transform: translateX(-100%);
  }
  :global(.vtex-modal__modal) {
    max-width: 100%;
  }
  .infoCardContainer--gridHome {
    margin: 0;
    margin-bottom: 1.875rem;
    overflow: hidden;
  }
  .productImageTag--main {
    width: 100% !important;
    margin: 0 !important;
    padding: 0;
    padding-bottom: 2rem;
  }
  :global(.vtex-search-result-3-x-galleryItem) {
    flex-basis: 100% !important;
    max-width: 100% !important;
  }
  .productDescriptionText {
    line-height: 1.67;
    font-size: 1rem;
    padding-right: 0;
    font-weight: 300;
    color: #505050;
  }
  .fadeBottom {
    display: none;
  }
  .pointerEventsAuto {
    text-align: left;
    padding: 0;
  }
  .showMoreButton {
    text-align: left;
    background: none;
    text-decoration: underline;
    width: auto;
    text-transform: lowercase;
    padding: 10px 0;
    margin: 0;
    color: #505050;
    font-family: "myriadLight";
  }
  .productNameContainer {
    line-height: 2.25rem;
  }

  .imageElement--imagePostillaBannerBottom {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    object-position: 100% 0;
  }

  .imageElement--imagePostillaBannerWFrigo4Porte {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    object-position: 100% 0;
  }
  .imageElement--offresImgCarousel {
    width: 100%;
    object-fit: cover;
    object-position: 100% 0;
  }
}
@media only screen and (max-width: 1280px) and (min-width: 1025px) {
  :global(.vtex-flex-layout-0-x-flexRow--faq-title) {
    margin: 0 2.5rem;
  }
}
@media only screen and (max-width: 1024px) {
  :global(.vtex-flex-layout-0-x-flexRow--faq-title) {
    margin: 0 1.25rem;
  }
}
@media only screen and (max-width: 1320px) {
  .infoCardContainer--smallBannerBlack {
    padding: 0rem 8rem;
  }
}
@media only screen and (max-width: 668px) {
  .productNameContainer--stickyName {
    /* white-space: nowrap;
    width: 219px;
    overflow: hidden;
    text-overflow: ellipsis; */
    display: none;
  }
  .productBrand--stickyName {
    /* width: 19.688rem; */
    /* height: 1.75rem; */
    margin: 0 1.188rem 0.563rem 0;
    font-family: "MyriadLight";
    font-size: 1.25rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: var(--greyish-brown);
  }
  .infoCardContainer--smallBannerBlack {
    padding: 0rem;
  }
  .imageElement--objFit {
    object-fit: contain;
  }
}
@media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 140px;
  }
  .label {
    font-size: 40px;
  }
  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }
  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }
  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}
@media only screen and (max-width: 1000px) and (min-width: 600px) {
  .imageElement--imagePostillaBanner {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
  }
  .infoCardContainer--halfBanner,
  .infoCardContainer--halfBannerReverse,
  .infoCardContainer--contactHome {
    margin: 0;
  }
  .infoCardImageContainer--halfBannerReverse,
  .infoCardImageContainer--halfBanner,
  .infoCardImageContainer--contactHome {
    max-height: unset;
    min-height: unset;
  }
  .infoCardImage--halfBanner,
  .infoCardImage--halfBannerReverse {
    object-fit: cover;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    /* height: 384px; */
    width: 100%;
  }
  .infoCardImage--contactHome {
    object-fit: cover;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    height: auto;
    width: 100%;
  }
  .infoCardContainer--contactHome .infoCardTextContainer,
  .infoCardContainer--halfBanner .infoCardTextContainer,
  .infoCardContainer--halfBannerReverse .infoCardTextContainer,
  .infoCardContainer--smallBanner .infoCardTextContainer {
    padding: 2.5rem 3.75rem;
    justify-content: center;
  }
  .infoCardContainer--gridHome {
    overflow: hidden;
  }
}
@media only screen and (min-width: 1200px) {
  .infoCardHeadline--gridHome {
    min-height: 5.5rem;
  }
}
@media only screen and (max-width: 1200px) {
  :global(.vtex__hotspot) {
    left: 10%;
    top: 0px;
    transform: translateX(-100%);
  }
  .productImageTag--main {
    width: 80% !important;
    margin: 0 10% !important;
    padding: 3rem 0;
  }
  .productImagesContainer--productPage {
    width: 100%;
  }
  .infoCardImage--gridHome {
    height: 100%;
  }
}
@media only screen and (max-width: 1100px) {
  /* :global(.vtex-modal__modal) {
    max-width: 80%;
  } */
  .infoCardContainer--smallBannerBlack {
    padding: 0rem 3rem;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1200px) {
  .infoCardTextContainer--heroBanner {
    padding: 0;
    padding-left: 1.5625rem;
  }
  .infoCardTextContainer--heroBanner,
  .infoCardImageContainer--heroBanner {
    flex: 0 0 50%;
  }
  .infoCardContainer--halfBanner,
  .infoCardContainer--halfBannerReverse,
  .infoCardContainer--contactHome {
    margin: 0;
  }
  .infoCardImageContainer--halfBannerReverse,
  .infoCardImageContainer--halfBanner,
  .infoCardImageContainer--contactHome {
    max-height: unset;
    min-height: unset;
  }
  .infoCardImage--halfBanner,
  .infoCardImage--halfBannerReverse {
    object-fit: cover;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    /* height: 384px; */
    width: 100%;
  }
  .infoCardImage--contactHome {
    object-fit: cover;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    height: auto;
    width: 100%;
  }
  .infoCardImageContainer--gridHome {
    overflow: hidden;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 640px) {
  .infoCardContainer--mobileHalfBannerProduct {
    margin: 0;
    max-height: 25.625rem;
  }
  .infoCardTextContainer--mobileHalfBannerProduct {
    padding: 2.5rem 3.75rem;
  }
  .infoCardImageContainer--mobileHalfBannerProduct {
    max-height: 25.625rem;
    min-height: unset;
  }
  .infoCardImage--mobileHalfBannerProduct {
    max-height: 25.625rem;
    min-height: unset;
  }
}
@media only screen and (max-width: 1080px) {
  .infoCardTextContainer--bannerRicambiOriginali {
    padding: 1.25rem;
    width: 50%;
  }
  .infoCardImageContainer--bannerRicambiOriginali {
    width: 50%;
  }
}
@media only screen and (max-width: 640px) {
  .imageElement--promoBanner {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    /* max-height: 35.8125rem; */
    /* min-height: 35.813rem; */
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    min-height: unset;
  }
  .infoCardImageContainer--bannerRicambiOriginali {
    flex-direction: column-reverse;
    width: 100%;
    max-height: 100%;
  }
  .imageElement--offresImgCarousel {
    height: unset;
  }
  .infoCardTextContainer--bannerRicambiOriginali {
    padding: 2.5rem 1.25rem;
    align-items: center;
    width: 100%;
  }
  .infoCardSubhead--bannerRicambiOriginali {
    font-family: "myriadLight";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
  }
  .infoCardImage--bannerRicambiOriginali {
    max-height: unset;
    height: unset;
  }
  .infoCardContainer--bannerRicambiOriginali {
    padding-bottom: 0;
    display: flex;
    flex-direction: column-reverse;
    max-height: unset;
  }
  .logoImage {
    width: 120px;
  }
  .logoLink--footerMobile {
    padding: 2rem 0 1rem 0;
  }
  .infoCardContainer--heroBannerSearch {
    flex-direction: column-reverse;
    height: unset;
    overflow: hidden;
  }
  .infoCardTextContainer--heroBannerSearch {
    align-items: flex-start;
    padding: 2.5rem 1.25rem;
    width: 100%;
  }
  .infoCardImageContainer--heroBannerSearch {
    max-height: 391px;
    width: 100%;
  }
  .infoCardImage--heroBannerSearch {
    height: 391px;
    max-height: unset;
  }
  .infoCardSubhead--heroBannerSearch {
    margin-bottom: 1.875rem;
    font-family: "myriadLight";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
  }
  .infoCardHeadline--heroBannerSearch {
    margin-bottom: 1.875rem;
    font-family: "myriadLight";
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .infoCardContainer--contactHome {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
  }
  .infoCardContainer--halfBannerReverse {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
  }
  .infoCardTextContainer--halfBannerReverse {
    padding: 1.5rem 0.625rem;
  }
  .infoCardTextContainer--halfBanner {
    padding: 1.5rem 0.625rem;
  }
  .infoCardContainer--smallBanner {
    padding: 1.5rem 0.625rem;
  }
  .infoCardImageContainer--halfBanner,
  .infoCardImageContainer--halfBannerReverse {
    min-height: auto !important;
    max-height: auto !important;
  }
  .infoCardContainer--halfBanner {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
  }
  .infoCardImage--halfBanner,
  .infoCardImage--halfBannerReverse {
    height: auto !important;
  }
  .infoCardImageContainer--heroBanner {
    flex-direction: column-reverse;
    width: 100%;
    max-height: 100%;
  }
  .infoCardTextContainer--heroBanner {
    padding: 0;
    align-items: flex-start;
    width: 100%;
    padding: 2.5rem 1.25rem;
  }
  .infoCardImage--heroBanner {
    max-height: 23.4375rem;
    object-position: 70% 0;
  }
  .infoCardContainer--heroBanner {
    padding-bottom: 0;
    display: flex;
    flex-direction: column-reverse;
  }
  .infoCardContainer--smallBannerBlack {
    height: unset;
  }
  .productNameContainer {
    color: #505050;
    line-height: 1rem;
    font-size: 1.2rem;
  }
  .imageElement--imagePostillaBanner2 {
    max-height: 18rem;
  }
  .imageElement--maxHeightWarranty {
    border-radius: 6px;
  }
}
@media only screen and (min-width: 1250px) {
  :global(.vtex-search-result-3-x-galleryItem) {
    flex-basis: 33% !important;
    max-width: 33% !important;
  }
}
@media only screen and (max-width: 705px) {
  .imageElement--bannerPromoSmallWarranty {
    width: 100%;
  }
}
@media only screen and (max-width: 800px) {
  .infoCardContainer--smallBannerBlack {
    padding: 0rem 1rem;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1024px) {
  .infoCardTextContainer--heroBannerSearch {
    flex: 0 0 50%;
    width: 50%;
    padding: 1.5625rem;
  }
  .infoCardImageContainer--heroBannerSearch {
    flex: 0 0 50%;
    width: 50%;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1025px) and (orientation: portrait) {
}
@media only screen and (max-width: 1040px) {
}
@media screen and (min-width: 1040px) {
}
@media only screen and (max-width: 639px) {
  .searchBarIcon {
    background-color: transparent;
    height: unset;
  }
}

.infoCardCallActionContainer :global(.vtex-button) {
  border: none;
  min-width: 0px !important;
}

.infoCardCallActionContainer :global(.vtex-button__label):empty {
  display: none;
}

.infoCardCallActionContainer :global(.vtex-button__label) {
  padding-bottom: 0 !important;
}

.infoCardContainer--halfBannerLavatriceSupreme {
  max-width: 49rem;
  margin: 0 auto;
}
