.productHighlightText--PromotionBadgeYellow,
.productHighlightText--PromotionBadgeYellowPDP {
  background-color: #fdc100;
  color: #fff;
  position: absolute;
  width: auto;
  height: auto !important;
  white-space: nowrap;
  left: 3px;
  font-family: "myriadBold";
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.375rem;
  padding: 0.3125rem 0.9375rem;
}
.productHighlightText--PromotionBadgeYellow::before,
.productHighlightText--PromotionBadgeYellowPDP::before {
  position: absolute;
  left: 0;
  bottom: -5px;
  content: "";
  transform: rotate(45deg);
  border-left: 0.4rem solid transparent;
  border-right: 0.4rem solid transparent;
  border-bottom: 0.4rem solid #966e02;
}

.productHighlightText--PromotionBadgeYellowPDP {
  position: relative;
}

.productHighlightText--PromotionBadgeOrange,
.productHighlightText--PromotionBadgeOrangePDP {
  background-color: orange;
  color: #fff;
  position: absolute;
  width: auto;
  height: auto !important;
  white-space: nowrap;
  left: 3px;
  font-family: "myriadBold";
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.375rem;
  padding: 0.3125rem 0.9375rem;
}
.productHighlightText--PromotionBadgeOrange::before,
.productHighlightText--PromotionBadgeOrangePDP::before {
  position: absolute;
  left: 0;
  bottom: -5px;
  content: "";
  transform: rotate(45deg);
  border-left: 0.4rem solid transparent;
  border-right: 0.4rem solid transparent;
  border-bottom: 0.4rem solid #966e02;
}

.productHighlightText--PromotionBadgeOrangePDP {
  position: relative;
}

.productHighlightText--PromotionBadgeDarkRed,
.productHighlightText--PromotionBadgeDarkRedPDP {
  background-color: #910e03;
  color: #fff;
  position: absolute;
  width: auto;
  height: auto !important;
  white-space: nowrap;
  left: 3px;
  font-family: "myriadBold";
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.375rem;
  padding: 0.3125rem 0.9375rem;
}
.productHighlightText--PromotionBadgeDarkRed::before,
.productHighlightText--PromotionBadgeDarkRedPDP::before {
  position: absolute;
  left: 0;
  bottom: -5px;
  content: "";
  transform: rotate(45deg);
  border-left: 0.4rem solid transparent;
  border-right: 0.4rem solid transparent;
  border-bottom: 0.4rem solid rgb(105, 0, 0);
}

.productHighlightText--PromotionBadgeDarkRedPDP {
  position: relative;
}

.productHighlightText--PromotionBadgeTransparent,
.productHighlightText--PromotionBadgeTransparentPDP {
  background-color: transparent;
  color: #505050;
  position: absolute;
  width: auto;
  height: auto !important;
  white-space: nowrap;
  left: 3px;
  font-family: "myriadBold";
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.375rem;
  padding: 0.3125rem 0.9375rem;
}
.productHighlightText--PromotionBadgeTransparent::before,
.productHighlightText--PromotionBadgeTransparentPDP::before {
  position: absolute;
  left: 0;
  bottom: -5px;
  content: "";
  transform: rotate(45deg);
  border-left: 0.4rem solid transparent;
  border-right: 0.4rem solid transparent;
  border-bottom: 0.4rem solid rgb(105, 0, 0);
}

.productHighlightText--PromotionBadgeTransparentPDP {
  position: relative;
}

.productHighlightText--promoBadgeOrange {
  background-color: orange !important;
  border-radius: unset !important;
  color: #fff;
  position: relative;
  width: min-content !important;
  margin-left: 0;
  margin-bottom: 0.8rem;
  height: auto !important;
  white-space: nowrap;
  left: -0.5rem;
  font-family: myriadBold;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.375rem;
  padding: 0.3125rem 0.9375rem;
}

.productHighlightText--promoBadgeOrange::before {
  position: absolute;
  left: 0;
  bottom: -5px;
  content: "";
  transform: rotate(45deg);
  border-left: 0.4rem solid transparent;
  border-right: 0.4rem solid transparent;
  border-bottom: 0.4rem solid #966e02;
}
