.wrapper .link--headTabPP,
.wrapper .link--headTabPP:active,
.wrapper .link--headTabPP:focus,
.wrapper .link--anchorPostilla,
.wrapper .link--anchorPostilla:active,
.wrapper .link--anchorPostilla:focus {
  text-decoration: none;
  color: #edb112;
  outline: none;
  font-weight: 600;
}
.container--deals {
  color: #ffffff;
  text-align: center;
  justify-content: center;
}
.container--shelfTitle {
  color: #727273;
  justify-content: center;
  text-align: center;
}
.headingLevel2--shelfTitle {
  font-weight: 200;
}
.container--deals .paragraph {
  margin: 0;
}
.container--link {
  justify-content: center;
}
.container--question {
  justify-content: center;
}
.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  margin: 0 16px;
  padding-top: 120px;
  color: #03034e;
}
.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}
.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #03034e;
}
.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034e;
}
.container--title {
  color: #03034e;
  font-size: 28px;
  font-weight: 700;
}
/*-----------------Text Home------------------*/
.paragraph--textHome,
.paragraph--textVP {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 2.625rem;
  text-align: center;
  padding-bottom: 2rem;
}
.container--textVP {
  margin-bottom: 0;
}
.paragraph--textVP {
  padding-bottom: 0;
}
.paragraph--textHomePromo {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 2.125rem;
  line-height: 2.25rem;
  padding-bottom: 2.5rem;
  margin: 0;
}
.vtex-rich-text-0-x-link--seoText {
  text-decoration: none;
  color: #edb112;
  font-weight: 700 !important;
}
/* Badge outofstock */
.paragraph--specificationAttribute {
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  width: fit-content;
  color: #505050;
  font-family: "myriadRegular";
  line-height: 1.5;
  margin: 0 0.5rem 0 0 !important;
  font-size: 0.875rem;
  white-space: nowrap;
  font-weight: 600;
}
.wrapper--outOfStock {
  margin-right: 0.5rem;
  width: fit-content;
  margin-bottom: 0.5rem;
}
.paragraph--outOfStock {
  background: #f9f9f9;
  position: relative;
  padding-left: 0.8rem !important;
}
.paragraph--outOfStock::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: red;
}
/*----------------LINK CARD---------------*/
.paragraph--linkCardsTitle {
  font-family: "myriadRegular";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  color: #505050;
  text-transform: uppercase;
  margin: 0 0 0.9375rem;
  text-transform: uppercase;
}
.paragraph--linkCardsSubTitle {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #505050;
  margin: 0;
  height: 5rem;
  margin-top: 2rem;
}
.link--linkCardsSubTitle {
  text-decoration: none;
  color: #edb112;
}
.paragraph--linkCardsSubTitleNoHeight {
  margin-top: 0.3rem;
  min-height: unset;
}
.paragraph--premium {
  margin: 0;
  margin-right: 1.2rem;
  font-size: 0.75rem;
  position: relative;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: "myriadRegular";
}
.paragraph--premium::before {
  height: 1px;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fdc100;
}
.wrapper--linkCardsButton .link {
  text-transform: inherit;
  text-decoration: none;
  color: inherit;
}
.paragraph--linkCardsButton {
  font-family: "myriadSemibold";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2;
  letter-spacing: -0.2px;
  width: 100%;
  text-transform: uppercase;
}
.container--iva {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-left: 1rem;
}
.paragraph--iva {
  font-size: 0.65rem;
  margin: 0;
}
.paragraph--ivaPDP {
  text-align: end;
}
.container--linkCardsButton {
  background-color: transparent;
  border: 1px solid #aeaeae;
  border-radius: 0.3125rem;
  color: #aeaeae;
  margin-top: 3rem;
}
.container--linkCardsButton:hover {
  border: 1px solid #fdc100;
  color: #fdc100;
}
/*----------------------------------------*/
/*-----------MENU SUPP-----------------------*/
.wrapper--colonnaMenuSupporto .strong {
  font-family: "myriadSemibold";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 1rem;
}
.wrapper--colonnaMenuSupporto .paragraph {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2;
  margin-top: 0;
}
.paragraph--colonnaMenuSupporto {
  margin-block-end: 0;
}
.paragraph--remove-link-styles {
  text-decoration: none;
}
.paragraph--nextline {
  display: block;
}
.paragraph--car-link-restore-styles {
  color: #505050;
}
.paragraph--custom {
  color: inherit;
}
.container--colonnaMenuSupporto {
  padding-left: 1.875rem;
}
.link--colonnaMenuSupporto,
.wrapper--colonnaMenuSupportoLast .strong {
  font-family: "myriadSemibold" !important;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 1rem;
}
.wrapper--colonnaMenuSupportoLast .paragraph {
  /* font-family: "myriadLight"; */
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2;
  margin-top: 0;
}
.container--colonnaMenuSupportoLast {
  padding-left: 1rem;
}
.wrapper--colonnaMenuSupporto .strong {
  position: relative;
  display: inline-block;
  padding-bottom: 2px;
}
.wrapper--colonnaMenuSupporto .strong::before {
  content: "";
  width: 0;
  transition: width 0.7s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  height: 0.125rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fdc100;
}
.wrapper--colonnaMenuSupporto:hover .strong::before {
  width: 100%;
}
.wrapper--colonnaMenuSupportoLast .strong {
  position: relative;
  display: inline-block;
  padding-bottom: 2px;
}
.wrapper--colonnaMenuSupportoLast .strong::before {
  content: "";
  width: 0;
  transition: width 0.7s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  height: 0.125rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fdc100;
}
.wrapper--colonnaMenuSupportoLast:hover .strong::before {
  width: 100%;
}
.link--colonnaMenuSupporto,
.link--colonnaMenuSupportoLast {
  font-family: "myriadSemibold";
  color: #505050;
  text-decoration: none;
  font-weight: bolder !important;
  font-size: 0.875rem;
}
.link--menuSupportoLast {
  margin-top: 1rem;
  line-height: 1.2;
  font-family: "myriadSemibold";
  color: #505050;
  text-decoration: none;
  font-size: 0.875rem;
}
/*------------------------------------------------*/
/*-------------PROMOTIONAL CARDS--------------*/
.wrapper--range {
  font-family: "myriadSemibold";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.625rem;
  margin-bottom: 1.875rem;
}
.wrapper--range .paragraph {
  margin: 0;
  padding-top: 1.5rem;
}
.wrapper--titleCard {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.wrapper--smallTitle {
  font-size: 1rem;
  font-family: "myriadSemibold";
}
.wrapper--titleCard .paragraph {
  margin: 0;
}
.wrapper--WhithoutRange .paragraph {
  margin-top: 2rem;
}
.wrapper--subtitleCard {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
}
.wrapper--subtitleCard .paragraph {
  margin-bottom: 2.5rem;
}
.wrapper--buttonCard {
  font-family: "myriadSemibold";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2;
  letter-spacing: -0.2px;
  width: 100%;
  text-transform: uppercase;
  color: white;
  background-color: #fdc100;
  width: auto;
  min-height: 2.8125rem;
  min-width: 9.375rem;
  border-radius: 0.3125rem;
}
.wrapper--buttonCardwidth100 {
  width: 100%;
}
.wrapper--buttonCard .paragraph {
  text-align: center;
}
.wrapper--buttonCard:hover {
  background-color: burlywood;
}
.wrapper--buttonGoToCartModal {
  background-color: #fff;
  border: 2px solid #edb112;
  color: #edb112;
  width: 100%;
  margin-top: 2.5rem;
}
.wrapper--buttonGoToCartModal:hover {
  background-color: #fff;
}
.link--buttonGoToCartModal {
  display: inline-block;
  width: 100% !important;
  height: 100% !important;
  text-decoration: none;
  color: #edb112;
  font-size: 1rem;
}
.wrapper--postilla {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 0.8125rem;
  color: #8d8d8d;
}
/*------------------------------------------------*/
/*---------------FOOTER-------------*/
.wrapper--textFooter {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #505050;
}
.container--textFooter {
  padding: 2.1875rem 2.1875rem 2.1875rem 0;
}
/*-----------------------------------*/
.wrapper--margin {
  margin: 2rem auto 0;
}
/*---------------------------------*/
.paragraph--notFound {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 2.625rem;
}
.link--buttonCard {
  text-decoration: none;
  color: #ffffff;
}
.wrapper--linkNotFound {
  padding: 0.2rem 1.25rem;
}
.container--center {
  width: auto !important;
  margin: 0 auto;
}
.wrapper--centerbannerpromo,
.wrapper--centerbannerpromoWarranty {
  width: auto;
  margin: auto auto;
  flex: unset !important;
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.375rem;
}
.wrapper--promoText {
  margin: auto;
  display: flex;
  background-color: #fdc100;
}
.wrapper--promoText .paragraph {
  margin: 0;
  background-color: #fdc100;
  color: #fff;
  text-transform: uppercase;
  font-family: "myriadBold";
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.375rem;
  padding: 0.3125rem 0.9375rem;
}
.wrapper--textBannerWithImage {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.wrapper--firstAccessori {
  margin-top: 7.5rem;
}
.wrapper--firstAccessori .headingLevel1 {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 2.125rem;
  line-height: 2.25rem;
}
.wrapper--firstAccessori .headingLevel5 {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #505050;
  margin: 0;
}
/*-------------Banner Header------------*/
.wrapper--bannerheader {
  font-family: "myriadRegular";
  font-size: 0.85rem;
  line-height: 1rem;
  color: #4b4b4b;
  letter-spacing: 1px;
}
.link--bannerheader {
  font-family: "myriadRegular";
  font-size: 0.85rem;
  line-height: 1rem;
  color: #4b4b4b;
  letter-spacing: 1px;
  text-decoration: none;
}
/*---------Ricambi Originali-*/
.wrapper--cardRicambiOriginali {
  color: #505050;
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1;
  padding: 3.75rem 0;
}
.wrapper--textRicambiOriginali {
  /*padding-bottom: 1.5625rem;*/
  color: #505050;
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 2.125rem;
  line-height: 2.625rem;
  text-align: center;
  margin-top: 5.625rem;
  margin-bottom: 1.5rem;
}
.wrapper--textRicambiOriginali .paragraph--textRicambiOriginali {
  margin: 0;
}
.wrapper--vantaggiRicambiOriginali .headingLevel4 {
  font-family: "myriadRegular";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  color: #505050;
  text-transform: uppercase;
  margin: 0 0 0.9375rem 0;
}
.wrapper--vantaggiRicambiOriginali .headingLevel5 {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #505050;
}
.wrapper--ricambiOriginaliButton .paragraph {
  font-family: "myriadSemibold";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2;
  letter-spacing: -0.2px;
  padding: 0 1.25rem;
}
:global(.vtex-rich-text-0-x-container--ricessiButton) {
  padding: 1rem 0;
}
.wrapper--promoBannerProductTitle {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1.2;
}
.wrapper--promoBannerProductTitle .paragraph {
  margin-top: 0;
  margin-bottom: 1.25rem;
}
.container--promoBannerProductTitleSmall {
  height: 100%;
  position: relative;
}
.wrapper--promoBannerProductTitleSmall {
  position: absolute;
  bottom: 0;
  font-family: "myriadSemibold";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.625rem;
  margin-bottom: 1.875rem;
}
.wrapper--promoBannerProductTitleSmall .paragraph {
  margin: 0;
}
.wrapper--promoBannerProductsubtitleCard {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.wrapper--promoBannerProductsubtitleCard .paragraph {
  margin: 0;
  margin-bottom: 2.5rem;
}
.wrapper--promoBannerProductPostilla {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 0.8125rem;
  color: #8d8d8d;
}
.wrapper--promoBannerProductPostilla .paragraph {
  margin: 0;
}
/*-------------------------- Banner Header ----------------*/
.wrapper--bannerheader {
  padding: 0 0.75rem;
}
.wrapper--cover .headingLevel3 {
  color: #ffffff;
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 2.375rem;
  line-height: 1.2;
  text-transform: uppercase;
}
.wrapper--cover .headingLevel5 {
  color: #fff;
  border: 0.0625rem solid #fff;
  font-family: "myriadSemibold";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2;
  letter-spacing: -0.2px;
  padding: 0.75rem 1.25rem;
  text-transform: uppercase;
  border-radius: 0.3125rem;
  width: 50%;
  margin: auto;
  cursor: pointer;
}
.container--pianiProtezione {
  margin-top: 7.5rem;
  background-color: #f9f9f9;
}
.wrapper--pianiProtezione {
  margin: 0;
  padding-top: 7.5rem;
}
.wrapper--pianiProtezione .headingLevel1 {
  margin-top: 0;
}
.wrapper--pianiProtezione .headingLevel5 {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
}
.wrapper--headTabPP .headingLevel2 {
  margin-top: 0;
  margin-bottom: 1.875rem;
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1.5625rem;
  line-height: 1.9375rem;
}
.wrapper--headTabPP .headingLevel5 {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}
.wrapper--headTabPPDimensions .headingLevel5 {
  height: 12rem;
}
.headingLevel2--headTabPP {
  height: 7rem !important;
}
.wrapper--noLinkEffect .link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
.container--titleSearchPage {
  display: flex;
  justify-content: center;
}
.wrapper--titleSearchPage {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.25rem;
  color: #505050;
  margin-bottom: 0.5rem;
}
.headingLevel1--titleSearchPage {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.25rem;
  color: #505050;
  margin: 2.5rem 0;
}
.container--smallerh1 {
  display: flex;
  justify-content: center;
}
.wrapper--smallerh1 {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.25rem;
  color: #505050;
  margin-bottom: 0.5rem;
}
.headingLevel1--smallerh1 {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1.2rem !important;
  line-height: 2.25rem;
  color: #505050;
  margin: 2.5rem 0;
}
.wrapper--textQrModal .headingLevel4 {
  margin-top: 0;
  font-family: "myriadSemibold";
  font-size: 0.8rem;
}
.wrapper--textQrModal .headingLevel5 {
  font-size: 0.8rem;
}
.wrapper--query {
  padding-right: 0.7rem;
}
.wrapper--query .paragraph {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 2.125rem;
  line-height: 2.25rem;
  color: #505050;
}
.wrapper--query .paragraph {
  margin: unset;
}
.paragraph--cotturaTtile {
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 2.125rem;
  line-height: 2.25rem;
  color: #505050;
  margin-bottom: 2.5rem;
}
/*
.container--technologiaHeader1{
  height: auto;
  background-color: #fdc100;
} */
.paragraph--technologiaHeader0 {
  display: inline-block;
  font-family: "myriadRegular", Arial;
  font-weight: 400;
  font-size: 1.1875rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  color: #505050;
  position: relative;
  border-bottom: #fdc100 2px solid;
}
.paragraph--technologiaHeader1 {
  display: inline-block;
  font-family: "myriadRegular", Arial;
  font-weight: 400;
  font-size: 1.1875rem;
  line-height: 1.75rem;
  color: #505050;
  position: relative;
}
.container--blackFiberHeader {
  color: #ffffff;
}
.paragraph--black {
  margin-bottom: 0;
}
.paragraph--black-2 {
  margin-top: 0;
}
/* .paragraph--black-vita{
  font-size: Zrem;
} */
.paragraph--w9 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}
.wrapper--w9 {
  border-bottom: #fdc100 0.1875rem solid;
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1.875rem;
  margin: 2rem 0;
}
.wrapper--w99 {
  font-weight: bold;
}
/* Condizioni di utilizzo / Termini e condizioni */
.container--formText,
.container--spaziature-impaginazione,
.wrapper--SostituzioneProdottoDanneggiatoText,
.wrapper--dirittoRecesso,
.flexRowContent--container,
.wrapper--formMail {
  max-width: 56.25rem;
  margin: 0 auto;
  text-align: justify;
}
.headingLevel4--SostituzioneProdottoDanneggiatoText,
.headingLevel4--dirittoRecesso,
.headingLevel4--spaziature-impaginazione {
  text-align: left;
}
.container--spaziature-impaginazione {
  padding: 0 2vw;
}
.headingLevel2 {
  margin-top: 0 !important;
  color: #000000;
  font-family: "myriadLight", Arial;
  text-align: left;
}
.wrapper--removeTopMargin {
  margin-top: 0;
}
.wrapper--reduceWidthMobile {
  margin-left: 3rem;
  margin-right: 3rem;
}
.link--paragraph-text-page {
  color: #fdc100;
  text-decoration: none;
}
.link--footnoteLink {
  color: #fdc100;
  text-decoration: none;
}
/* .wrapper--paragraph-text-page :not(.lh-copy){
  color: #fdc100;
  text-decoration: none;
} */
.paragraph--m-stripe__text {
  font-family: "myriadRegular", "Arial";
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  padding-right: 1.25rem;
  color: #505050;
}
.container--m-stripe__text {
  background-color: #f2f2f2;
}
.label--m-stripe__link {
  background-color: #03054e;
  padding-top: 20px;
}
.wrapper--colonnaSupportoCard .headingLevel3 {
  font-family: "myriadRegular", Arial;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  color: #505050;
  text-transform: uppercase;
  /* margin: 6.25rem auto auto auto; */
  min-height: 2.1875rem;
  min-width: 7rem;
}
.wrapper--colonnaSupportoCard .headingLevel2 {
  text-align: center;
  line-height: 1;
}
.wrapper--colonnaSupportoCard {
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.375rem;
  width: 100%;
}
.paragraph--cardButton {
  /* background-color: #fdc100; */
  width: 6rem;
  /* border-radius: 1px solid black; */
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid black;
}
.paragraph--cardButton:hover {
  color: #fdc100;
  border: 1px solid #fdc100;
}
.wrapper--cardButton {
  margin-top: 10%;
}
.paragraph--colonnaSupportoCard {
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #505050;
  font: inherit;
  width: 90%;
  margin: auto;
}
.paragraph--colonnaSupportoCardPostilla {
  margin: 0.4rem 0 0 0;
  font-size: 0.7rem !important;
}
.paragraph--postillaButtonPP {
  margin: 0.4rem 0 2rem 0;
  font-size: 0.7rem !important;
}
.container--colonnaSupportoCardPostilla,
.container--postillaButtonPP {
  justify-content: center;
}
.container--rowImageDescPPText {
  width: 90%;
  margin-left: 1rem;
}
.container--rowImageDescPPImage {
  width: 90%;
  margin-left: 1rem;
}
.wrapper--richTextCollaboriamo {
  width: 50%;
  margin: auto;
}
.link--formMail {
  text-decoration: none;
  pointer-events: none;
  color: #505050;
}
.link--formText {
  text-decoration: none;
  color: #fdc100;
}
.headingLevel1--formText {
  font-family: "myriadLight";
}
.paragraph--cardButton {
  color: #aeaeae;
  height: 40px;
  font-weight: bold;
  padding: 10px;
  border: 0.0625rem solid #aeaeae;
}
/* .paragraph--colonnaSupportoCard{
  height: 100px ;
} */
.link--m-stripe__text,
.link--colonnaSupportoCard {
  text-decoration: none;
  color: #edb112;
}
.link--buttonNonDecoration {
  text-decoration: none;
  color: white;
}
.link--LireLesAvis {
  color: #505050;
}
.wrapper--online-garanzia .heading-level-5 {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 2.125rem;
  line-height: 2.25rem;
  margin: 2.5rem 0;
}
.wrapper--online-garanzia .heading-level-6 {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #505050;
  margin-top: 0;
  margin-bottom: 2.5rem;
}
.wrapper--titlePBannerPostilla .paragraph {
  margin: 0;
  font-family: "myriadSemibold";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.625rem;
  margin-bottom: 1.875rem;
}
.wrapper--titleBannPostilla4PorteTop .headingLevel1 {
  margin: 0;
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 1.875rem;
}
.wrapper--descBannerPostilla .paragraph {
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.625rem;
  margin-top: 0;
  margin-bottom: 1.875rem;
}
.wrapper--descBannerPostilla .paragraph {
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.625rem;
  margin-top: 0;
  margin-bottom: 1.875rem;
}
.wrapper--energyLabelHalfBannDesc .paragraph {
  font-size: 1rem;
}
.wrapper--descBannerPostillaLanding .paragraph {
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
  margin-top: 0;
  margin-bottom: 1.875rem;
  text-align: center;
}
.wrapper--BannPostilla .paragraph {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 0.8125rem;
  color: #8d8d8d;
}
.headingLevel2--titleBannPostillaBottom {
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1.2;
}
.headingLevel2--titleBannPostilla {
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.25rem;
}
/* manualiIstruzione */
.container--manualiIstruzione {
  background-color: #f9f9f9;
  padding-top: 5rem;
}
.wrapper--manualiIstruzione {
  width: 78%;
}
.headingLevel3--largeBannOnlyTextHeader {
  font-family: "myriadLight";
  font-size: 1.875rem;
  line-height: 2.25;
}
.headingLevel3--manualiIstruzione {
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 1.75rem !important;
  line-height: 2.625rem !important;
  color: #353535;
  margin-bottom: 1.875rem;
}
.paragraph--manualiIstruzione {
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 1rem !important;
  line-height: 1.625rem;
  color: #353535;
  margin-bottom: 3.75rem;
}
.paragraph--technologiaHeader {
  font-family: "myriadLight";
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0;
  line-height: 1.5;
  font-size: 1rem;
}
.wrapper--titleRich .paragraph {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 2.625rem;
}
.wrapper--ContRich {
  width: 100%;
}
.wrapper--ContRich .paragraph {
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
  color: #000000;
}
.wrapper :global(.vtex__link),
.wrapper :global(.vtex__link):focus,
.wrapper :global(.vtex__link):active,
.wrapper :global(.vtex__link):hover {
  text-decoration: none;
  color: #fdc100;
  opacity: 1;
}
.wrapper--bannerWIthImageTitle2 .paragraph {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-top: 0;
  margin-bottom: 1.875rem;
}
.wrapper--bannerWIthImagedescription {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.8125rem;
}
.heading--bannerWIthImagedescription {
  font-family: "myriadLight";
  font-size: 1.25rem;
  line-height: 1.8125rem;
  font-weight: 700;
}
.heading-level-3 {
  font-family: "myriadLight";
  font-size: 1.2rem;
  line-height: 1.3;
}
.wrapper .link--paragraph-text-page {
  font-weight: 600;
}
:global(.vtex-rich-text-0-x-link--spaziature-impaginazione) {
  color: #edb112;
  text-decoration: none;
  font-weight: 600;
}
.wrapper :global(.vtex-rich-text-0-x-heading-level-4) {
  font-family: "myriadLight";
}
.wrapper--premioText {
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.375rem;
  color: #353535;
  text-align: center;
  margin-bottom: 1.875rem;
}
.wrapper--personalizedButtonCard {
  margin-top: 1.5625rem;
}
.wrapper--personalizedButtonCard .paragraph {
  padding: 0.75rem 1.25rem;
  font-family: "myriadSemibold";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2;
  letter-spacing: -0.2px;
}
.wrapper--bannerTestoTitle .headingLevel2 {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 2.125rem;
  line-height: 2.25rem;
  text-align: center;
}
.wrapper .paragraph--bannerTestoDesc {
  padding: 0 1.5625rem;
  font-family: "myriadLight";
  text-align: center;
}
.wrapper--richText6thsense .paragraph {
  padding: 0 1.5625rem;
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #505050;
  text-align: center;
}
.wrapper--titltebannertabBanner .paragraph {
  margin: 0;
  padding-bottom: 1.25rem;
  text-transform: uppercase;
  font-family: "myriadSemibold";
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.625rem;
}
.wrapper--titltebannertabBannerBlack .paragraph {
  color: #ffffff;
  margin: 0;
  padding-bottom: 1.25rem;
  text-transform: uppercase;
  font-family: "myriadSemibold";
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.625rem;
}
.wrapper--descbannertabBanner .paragraph {
  margin: 0 0 4rem 0;
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.625rem;
}
.wrapper--descbannertabBannerBlack .paragraph {
  color: #ffffff;
  margin: 0 0 4rem 0;
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.625rem;
}
.container--caruselTextBanner,
.container--caruselTextBanner100 {
  justify-content: center;
  margin-bottom: 2.25rem;
}
.wrapper--caruselTextBanner .paragraph {
  text-align: center;
  width: auto;
  font-family: "myriadRegular";
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  color: #353535;
  border-bottom: 0.125rem solid #edb112;
  margin-bottom: 0;
}
.wrapper--caruselTextBanner100 .paragraph {
  text-align: center;
  width: auto;
  font-family: "myriadRegular";
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  color: #353535;
  border-bottom: 0.125rem solid #edb112;
  margin-bottom: 0;
}
.wrapper--titleCardTextBanner .paragraph {
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 1.875rem;
  margin-top: 0;
}
.wrapper--DescCardTextBanner .paragraph {
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin: 0;
  color: #000;
}
.wrapper--postillaBannerPostilla {
  position: absolute;
  bottom: 0;
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 0.8125rem;
  color: #8d8d8d;
}
.wrapper--postillaBannerPostillaLanding {
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 0.8125rem;
  color: #8d8d8d;
}
.wrapper--titleHBannerPostilla .headingLevel1 {
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin: 0;
  margin-bottom: 1.875rem;
}
.wrapper--bfBannerTitle .headingLevel1 {
  font-family: "myriadLight", Arial;
  color: #f9f9f9;
}

.wrapper--titleSpremeBanner .paragraph {
  font-family: "myriadSemibold", Arial;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.625rem;
  margin-bottom: 1.875rem;
  margin: 0;
}
.sliderLayoutContainer--percheWhirlpoolCarousel
  .slideChildrenContainer
  .paragraph--squareTextP {
  font-size: 1.5rem;
}
.wrapper--underlineBannerHeroAnto .paragraph {
  border-bottom: solid 1px #edb112;
}
.wrapper--underlineBannerHeroAnto .link {
  text-decoration: none;
  color: #505050 !important;
}
.wrapper--noPosAbsolute {
  position: unset;
  bottom: unset;
}
/*thank u page*/
.wrapper--order-confirmation-box-text_styles {
  font-size: 1.875rem;
}
.paragraph--order-confirmation-box-text_styles {
  margin: 0;
  text-align: center;
}
.wrapper--headerOrderText {
  text-transform: uppercase;
  font-family: "myriadRegular";
}
.paragraph--delivery-shipping-billing-wrapper_content {
  font-family: "myriadRegular";
  font-size: 1.25rem;
  color: #505050;
}
.container--productText {
  width: 50%;
}
.headingLevel4--titleOrder,
.headingLevel4--mainOrder {
  font-family: "myriadLight";
  font-size: 1.875rem;
}
.container--accessoriText {
  padding-right: 2rem;
}
.wrapper--descContattaci .paragraph {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.8125rem;
}
.wrapper--messaggioNoStock .paragraph {
  color: #fdc100;
  font-weight: bold;
}
.paragraph--ContRich :global(.vtex__link) {
  color: #edb112;
}
.paragraph--colonnaMenuSupportoLast {
  margin-bottom: 0;
}
.paragraph--menuSupportoLast {
  margin-bottom: 0;
  font-size: 14px;
  margin-top: 1rem;
  margin-left: 1rem;
}
.container--textVP {
  margin: 3rem 2rem;
}
.wrapper--linkService {
  width: 100%;
  margin: auto;
  color: #edb112;
  padding: 0 1.5625rem;
  font-family: myriadLight, Arial;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
}
.link--seoText {
  text-decoration: none;
  color: #edb112;
}
.wrapper--seoText {
  margin: 0 auto;
  max-width: 1520px;
}
.container--seoText {
  padding: 1rem;
}
.wrapper--seoTextHome {
  margin: 0 auto;
  max-width: 1520px;
  padding: 0 3.125rem;
  margin-top: 2rem;
}
.headingLevel2--seoText {
  font-family: "myriadLight";
  font-size: 1.2rem;
  line-height: 1;
  justify-content: flex-start;
  font-weight: 700;
}
.wrapper--titleTab {
  margin-top: 3rem;
}
.headingLevel2--titleTab {
  color: #727273;
  margin: 3rem 0 !important;
}
.paragraph--titleTab {
  color: #727273;
  margin: 3rem 0 !important;
  font-size: 2.25rem;
}
.wrapper--noMarginBottom .headingLevel2 {
  margin-bottom: unset !important;
  text-align: center;
}
.paragraph--stickyMenyItem {
  font-family: "myriadRegular";
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  color: #505050;
  text-transform: uppercase;
  margin: 0.9375rem 0 0 0;
  text-transform: uppercase;
  padding-bottom: 0.4rem;
}
.paragraph--stickyMenyItem:hover {
  border-bottom: 2px solid #fdc100;
}
.paragraph--pochiPezzi {
  margin: 0;
  color: #edb112;
  font-size: 1rem;
  font-family: "myriadRegular";
}
.paragraph--promotionPDP {
  font-size: 0.875rem;
  color: #505050;
  font-family: "myriadLight";
}
.wrapper--preDesc .paragraph {
  font-size: 0.875rem;
  padding: 0.2rem;
  font-weight: 300;
  color: #505050;
  font-family: "myriadRegular";
  margin: 0;
  text-transform: uppercase;
}
.paragraph--deeeTextPre {
  margin: 0;
  font-size: 15px;
}
.paragraph--deeeTextPost {
  margin: 0;
  font-size: 15px;
}
.paragraph--deeeTextCurrency {
  margin: 0;
  font-size: 15px;
}
.wrapper--carouselTitle .heading-level-3 {
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin: 3rem 0 1.8rem;
}
.container--menu-desc-paragraph {
  z-index: 2;
}
.paragraph--menu-desc-paragraph {
  text-transform: uppercase;
  font-size: 0.875rem;
  color: #000000;
}
/* OLD BADGE 5 YEARS WARRANTY */

/* .container--garantieBannerText {
  margin: 0;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1em;
}
.wrapper--garantieBannerText {
  background-color: #c50023;
}
.paragraph--garantieBannerText {
  margin: 0 2px;
  padding: 0 0.5em 0 0.5em;
  color: white;
  font-size: 0.75rem;
  line-height: 1.3125rem;
  white-space: nowrap;
} */
/*discontinued pdp*/
.paragraph--discontinuedTitle {
  padding: 2px;
  line-height: 1.3125rem;
  font-size: 0.75rem;
}
.container--buttonCardConseils {
  justify-content: flex-start;
}
.wrapper--buttonCardConseils {
  background-color: #edb112;
  border: 1px solid #edb112;
  min-height: 2.8125rem;
  min-width: 9.375rem;
  border-radius: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.wrapper--buttonCardConseils:hover {
  background-color: rgba(237, 177, 18, 0.8);
}
.paragraph--buttonCardConseils {
  margin: 0;
  font-family: "myriadSemibold";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  color: #fff;
}
.wrapper--WCollectionW9 {
  padding: 0;
  padding-bottom: 1.1875rem !important;
  color: #353535;
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.625rem;
  min-width: 10rem;
  cursor: pointer;
  margin: 0 1.5rem;
}
.paragraph--WCollectionW9 {
  margin: 0;
}
.paragraph--biggerTextPostilla {
  font-size: 0.7rem !important;
}
.paragraph--shippingSimulatorQuestion {
  font-family: "myriadRegular";
}
.link--formMail {
  font-weight: 600 !important;
  color: rgb(237, 177, 18) !important;
  pointer-events: all !important;
}
.paragraph--pricePostilla {
  font-size: 0.65rem;
  margin: 0 1rem 0 auto;
  color: #505050;
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 85%;
}
.container--pricePostilla {
  display: flex;
  justify-content: flex-end;
}
.wrapper--pricePostilla {
  height: 4rem;
}
.paragraph--titlePBannerPostilla {
  font-size: 1.8rem;
  font-family: "myriadRegular";
}
.paragraph--titlePBannerPostillaNewHP,
.headingLevel1--titlePBannerPostillaNewHP {
  font-size: 2rem;
  font-family: "myriadRegular";
  line-height: 1;
  margin: 0 0 1.875rem 0;
  font-weight: 400;
}
.paragraph--NewHPListPrice,
.paragraph--NewHPPrice {
  margin: 0;
  font-family: "myriadRegular";
}
.paragraph--NewHPListPrice {
  font-size: 2rem;
  position: relative;
}
.paragraph--NewHPListPrice::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 3px;
  background-color: #505050;
  transform: translate(0, -50%) rotate(-15deg);
}
.paragraph--NewHPPrice {
  font-size: 3rem;
  line-height: 1;
}
.paragraph--descBannerPostillaHP {
  margin: 0;
}
/* Promo Page */
.wrapper--lesPlus {
  display: none;
}
/* Badges PLP and PDP */
.paragraph--PromotionBadgeYellow,
.paragraph--PromotionBadgeBlack {
  margin: 0;
  background-color: #fdc100;
  color: #fff;
  position: absolute;
  width: auto;
  height: auto !important;
  white-space: nowrap;
  left: 3px;
  font-family: "myriadBold";
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.375rem;
  padding: 0.3125rem 0.9375rem;
}
.paragraph--PromotionBadgeYellow {
  left: 1rem;
}
.paragraph--PromotionBadgeBlack {
  background-color: black;
  /* left: 15px; */
}
.paragraph--PromotionBadgeYellow::before,
.paragraph--PromotionBadgeBlack::before {
  position: absolute;
  left: 0;
  bottom: -5px;
  content: "";
  transform: rotate(45deg);
  border-left: 0.4rem solid transparent;
  border-right: 0.4rem solid transparent;
}
.paragraph--PromotionBadgeYellow::before {
  border-bottom: 0.4rem solid #966e02;
}
.paragraph--PromotionBadgeBlack::before {
  border-bottom: 0.4rem solid #505050;
}

/* balck friday */
.container--blackFridayTitleMain1 {
  max-height: 10rem;
}
.heading--blackFridayTitleMain1 {
  font-style: normal;
  font-weight: 900;
  font-size: 4rem;
  color: white;
  text-transform: uppercase;
  margin: 0;
  line-height: unset !important;
}
.paragraph--blackFridayTitleSmall {
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  margin: 0.4rem 1rem;
}
.paragraph--blackFridayTitleMain2 {
  display: block;
  font-style: normal;
  font-weight: 900;
  font-size: 6rem;
  color: #edac09;
  text-transform: uppercase;
  margin: 0;
  /* -webkit-text-fill-color: transparent; Will override color (regardless of order) */
  /* -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #edac09; */
  /* line-height: 2rem !important; */
  margin-top: 2rem;
}
.paragraph--blackFridayTitleMainPostilla {
  color: white !important;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  top: -35px;
  position: relative;
}
.container--energyLabelBannTitle,
.container--energyLabelBannDesc {
  justify-content: center;
}
.wrapper--titleHBannerHOB .heading-level-1 {
  font-size: 1.875rem;
  font-weight: 400;
}
.paragraph--descBannerHOB {
  font-size: 1.25rem;
}
.wrapper--energyLabelPara .paragraph--testoDescNTE {
  font-size: 1.125rem;
}
.wrapper--energyLabelParaMin .paragraph--energyLabelParaMin {
  font-size: 0.825rem !important;
}

.container--energyLabelBannerTitle .heading-level-2 {
  font-size: 1.875rem;
  color: #505050;
}
.wrapper--energyLabelBannerTestoTitle .heading-level-2 {
  color: #505050;
}
.wrapper--energyLabelPara .paragraph--energyLabelPara {
  font-size: 1.125rem;
}
.wrapper--energyLabelLastBannDesc .paragraph--energyLabelLastBannDesc {
  font-size: 1rem;
}
.container--firstBoxTitleMR {
  justify-content: center;
}
.wrapper--firstBoxTitleMR .heading-level-2 {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 2.125rem;
  line-height: 2.25rem;
}
.container--bannerDeliciousTitle {
  margin-top: 3rem;
  padding: 4rem 0;
}
.wrapper--exceptionalResultsTitle .paragraph--exceptionalResultsTitle {
  font-family: "myriadRegular", Arial;
  font-weight: 400;
  font-size: 1rem;
  padding: 5rem 0;
  line-height: 1.25rem;
  text-transform: uppercase;
  color: #353535;
}
.paragraph--exceptionalResultsTitle::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.125rem;
  background: #fdc100;
}
.wrapper--exceptionalResultsSubTitle .heading-level-3 {
  font-weight: 400;
  font-size: 1.875rem;
  color: #000000;
  line-height: 2.25rem;
  margin-bottom: 1.875rem;
}
.container--exceptionalResultsSubTitle {
  justify-content: flex-start;
}
.wrapper--exceptionalResultsDesc .paragraph--exceptionalResultsDesc {
  font-size: 1.188rem;
  color: #000000;
}
.wrapper--carouselTitle {
  margin-top: 7rem;
}
.wrapper--carouselTitle .heading-level-2 {
  font-size: 2.5rem;
}
.container--videoTitle {
  justify-content: center;
  margin-top: 6rem;
  padding-top: 2rem;
  background-color: #f9f9f9;
}
.container--videoTitle .heading-level-2 {
  font-size: 2.5rem;
}
.wrapper--bannTitleBannerEditoria .heading-level-2 {
  font-size: 1.875rem;
  color: #505050;
}
.wrapper--descBannerPostilla .paragraph {
  font-size: 1rem;
  color: #505050;
}
.container--technologyDesignHigh1Title,
.container--technologyDesignHigh1SubTitle {
  justify-content: center;
  padding: 0 1rem;
}
.container--bannTitleTech {
  justify-content: center;
}
.wrapper--bannPostilla3 {
  position: unset;
}
.wrapper--bannTitleTech .heading-level-1 {
  font-size: 1.5rem;
}
.wrapper--technologyDesignHigh1Title .paragraph {
  font-size: 0.875rem;
  line-height: 1.1875rem;
  color: #505050;
  margin: 0 0 0.9375rem;
}
.wrapper--TechnologyDesignTitle .heading-level-1 {
  font-size: 1.875rem;
  text-transform: uppercase;
}
.container--TechnologyDesignTitle {
  justify-content: center;
}
.container--textComponent {
  justify-content: center;
}
.paragraph--firstTitleBannerPLP,
.paragraph--secondTitleBannerPL,
.paragraph--buttonMoreAboutPLP {
  color: #fff;
  margin: 0;
  line-height: 1;
}
.paragraph--firstTitleBannerPLP {
  font-size: 1.5rem !important;
}
.paragraph--secondTitleBannerPL {
  font-size: 1.5rem !important;
  font-family: "myriadSemibold";
}
.container--buttonMoreAboutPLP {
  display: flex;
  justify-content: flex-end;
}
.paragraph--pricePostillaMobile {
  font-size: 0.65rem;
  margin: 0 1rem 0.5rem 0;
  color: #505050;
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 85%;
}
.container--titoloAccordion {
  width: calc(100% - 24px);
}
.wrapper--titoloAccordion {
  margin: unset !important;
}
.paragraph--titoloAccordion {
  font-family: "myriadSemibold";
  font-weight: 400;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #505050;
  line-height: 1.5rem;
}
.container--WPROTitle {
  display: flex;
  justify-content: center;
}
.container--sparePartsContactTitle {
  margin-top: 2rem;
  font-weight: bold;
}
.container--sparePartsContactDesc {
  margin-top: -1rem;
}
.container--sparePartsContactTitle,
.container--sparePartsContactDesc {
  justify-content: center;
  text-align: center;
  font-size: 0.875rem;
}
.container--editorialBannerTotalNoFrostDesc {
  width: 65%;
  margin: 0 auto;
}
.container--editorialBanner2TotalNoFrostTitle {
  align-items: end;
}
.container--sliderTotalNoFrost {
  justify-content: center;
}
.wrapper--sliderTotalNoFrost .paragraph {
  font-family: "myriadRegular";
  border-bottom: solid 0.125rem #fdc100;
}
.wrapper--totalNoFrost .heading-level-4 {
  color: #000000;
  font-size: 1.875rem;
  line-height: 2.25rem;
  text-align: left;
  text-transform: none;
}
.wrapper--totalNoFrost .heading-level-5 {
  color: #000000;
  font-size: 1.188rem;
  text-align: left;
}
.wrapper--textbannerTabContent .heading-level-2 {
  justify-content: flex-start;
  font-size: 1rem;
  font-family: "myriadSemibold", Arial;
  text-transform: uppercase;
}
.wrapper--editorialBannerTotalNoFrostTitle .heading-level-2 {
  font-size: 2.5rem;
  color: #505050;
  margin-bottom: 0;
}
.wrapper--whiteBannerTotalNoFrostDesc .paragraph {
  font-size: 1.25rem;
  color: #505050;
}
.wrapper--whiteBannerTotalNoFrostPostilla .paragraph {
  font-size: 0.625rem;
}
.wrapper--editorial3bannerTotalNoFrostTitle .heading-level-2 {
  margin-top: 2rem !important;
}
.container--BannerTabHomeTotal {
  font-size: 2.125rem;
  justify-content: center;
}
.container--titleTabAnchor {
  position: relative;
  top: -30rem;
}
.table--BaseGiuridica {
  border: 0.0125rem solid #505050;
}
.table--BaseGiuridica:last-child {
  border: 0.125rem solid #505050;
  margin-top: 0.3rem;
}
.table--FinalitaTrattamento {
  border: 0.0125rem solid #505050;
}
.tableTh--FinalitaTrattamento,
.tableTh--BaseGiuridica {
  border-bottom: 0.0125rem solid #505050;
}
.tableTh--FinalitaTrattamento:not(:last-child),
.tableTh--BaseGiuridica:not(:last-child) {
  border-right: 0.0125rem solid #505050;
}
.tableBody--FinalitaTrattamento .tableTd--FinalitaTrattamento,
.tableBody--BaseGiuridica .tableTd--BaseGiuridica {
  border-bottom: 0.0125rem solid #505050;
}
.tableBody--BaseGiuridica .tableTd--BaseGiuridica:first-child {
  width: 7rem;
}
.tableBody--FinalitaTrattamento .tableTd--FinalitaTrattamento:not(:last-child),
.tableBody--BaseGiuridica .tableTd--BaseGiuridica:not(:last-child) {
  border-right: 0.0125rem solid #505050;
}
.tableBody--BaseGiuridica .tableTd--BaseGiuridica {
  padding: 0.5rem;
}
.tableBody--FinalitaTrattamento
  .tableTr:last-child
  .tableTd--FinalitaTrattamento {
  border-bottom: none;
}
.wrapper--BaseGiuridica
  .table--BaseGiuridica:last-child
  .tableTh--BaseGiuridica {
  border: none;
}
.wrapper--BaseGiuridica
  .table--BaseGiuridica:last-child
  .tableTd--BaseGiuridica {
  border-bottom: none;
  padding: 0.5rem;
}
.tableBody--BaseGiuridica .tableTr:last-child .tableTd--BaseGiuridica {
  border-bottom: none;
}
.container--anchorBannerTasty {
  margin-top: -7rem;
}
.wrapper--highCashBack .paragraph--highCashBack {
  margin: 0;
  color: #fff;
  font-family: "myriadBold";
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.375rem;
}
.wrapper--paragraphCookies5:first-child {
  padding-left: 2.4rem;
}
.list--paragraphCookies5 {
  padding: 0;
}
.paragraph--customPromoBannerLink {
  background-color: #edb112;
  padding: 0.7rem 2rem;
  border-radius: 5px;
  color: #fff;
  font-family: "myriadSemibold";
}
.wrapper--maintenanceTitle {
  width: 30%;
}
.wrapper--maintenanceTitle .heading-level-1 {
  text-transform: uppercase;
}
.wrapper--underMaintenanceTitle {
  width: 60%;
}
.wrapper--underMaintenanceTitle .paragraph,
.wrapper--maintenanceContactUS .paragraph {
  font-size: 2rem;
}
.wrapper--maintenanceContactUS .paragraph {
  margin-bottom: 0.5rem;
}
.link--maintenanceTextMail {
  text-decoration: none;
  color: #505050;
}
/* .container--descVideoRecipe {
  position: relative;
  top: 3rem;
} */

/* Media Queries */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .link--bannerheader {
    font-size: 0.75rem;
  }
  .wrapper--bannerheader {
    padding: 0 0.5rem;
    font-size: 0.75rem;
  }
  .container--ivaPDP {
    margin-left: 50%;
    justify-content: unset;
  }
}
@media only screen and (max-width: 600px) {
  .wrapper--titleTab {
    margin-top: unset;
  }
  .container--notFound {
    text-align: center;
  }
  .wrapper--dirittoRecesso .headingLevel4 {
    font-size: 1.3rem;
  }
  .wrapper--formText .headingLevel2 {
    text-align: left;
    font-size: 2rem;
  }
  /* .wrapper--formText .headingLevel1 {
    text-align: left;
  } */
  .wrapper--descbannertabBanner .paragraph {
    margin-bottom: 2.5rem;
    font-size: 1rem !important;
  }
  .wrapper--descbannertabBannerBlack .paragraph {
    margin-bottom: 2.5rem;
    font-size: 1rem !important;
  }
  .wrapper--titltebannertabBanner .paragraph {
    font-size: 1rem !important;
  }
  .wrapper--titltebannertabBannerBlack .paragraph {
    font-size: 1rem !important;
  }
  .wrapper--descBannerPostilla .paragraph {
    font-size: 1rem;
    margin-bottom: 1.875rem;
  }
  .wrapper--descBannerPostillaLanding .paragraph {
    font-size: 1rem;
    margin-bottom: 1.875rem;
  }
  .wrapper--centerbannerpromo,
  .wrapper--centerbannerpromoWarranty {
    padding: 0.625rem 1.25rem;
    font-family: "myriadLight";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #000;
    text-align: center;
    margin-bottom: 0.625rem;
  }
  .heading--blackFridayTitleMain1 {
    font-size: 3rem;
  }
  .paragraph--blackFridayTitleMain2 {
    font-size: 3.3rem;
  }
  .paragraph--blackFridayTitleMainPostilla {
    top: -30px;
  }
}
@media screen and (max-width: 668px) {
  .wrapper--headerOrderText--quantity {
    display: none;
  }
  .paragraph--order-confirmation-box-text_styles {
    font-size: 1rem;
  }
  .paragraph--textHome {
    font-size: 2.25rem !important;
  }
}
@media only screen and (max-width: 1100px) {
  .container--dettagli {
    display: none;
  }
  .container--caruselTextBanner,
  .container--caruselTextBanner100 {
    margin-bottom: 0;
  }
  .wrapper--DescCardTextBanner .paragraph {
    font-size: 0.9rem !important;
  }
  .wrapper--titleCardTextBanner .paragraph {
    font-size: 1.875rem !important;
  }
}
@media only screen and (max-width: 400px) {
  .link--m-stripe__text {
    display: block;
  }
}
/* @media only screen and (min-width: 600px) {
  .paragraph--squareTextP {
    padding: 0 1rem;
    position: absolute;
    top: 50%;
    margin: 0;
    height: auto;
    transform: translate(0, -50%);
  }
} */
@media only screen and (max-width: 599px) {
  .container--spaziature-impaginazione {
    padding: 0 1.25rem;
  }
}
@media only screen and (max-width: 640px) {
  .paragraph--squareTextP {
    font-size: 1.2rem !important;
    padding: 0 1rem;
  }
  .paragraph--titlePBannerPostillaNewHP,
  .headingLevel1--titlePBannerPostillaNewHP {
    font-family: "myriadLight";
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .paragraph--NewHPListPrice {
    font-size: 1.5rem;
  }
  .paragraph--NewHPPrice {
    font-size: 2rem;
  }
  .wrapper--energyLabelBannerTestoTitle .heading-level-2 {
    text-align: center;
  }
  .wrapper--carouselTitle .heading-level-2 {
    font-size: 1.5rem;
    text-align: center;
  }
  .wrapper--exceptionalResultsTitle .paragraph--exceptionalResultsTitle {
    padding: 1rem;
  }
  .wrapper--bannDescBannerEditoria .paragraph {
    color: #000000;
  }
  .wrapper--bannTitleBannerEditoria .heading-level-2 {
    color: #000000;
  }
  .wrapper--postillaBannerPostilla {
    position: unset;
    margin-top: 1rem;
  }
  .paragraph--textMoreProduct {
    font-size: 1.4rem !important;
    margin-top: 2rem;
    margin-left: 1rem;
    font-weight: bold;
  }
  .wrapper--titleSearchPage .paragraph {
    margin: 0;
  }
  .container--whyRegisterMobile {
    margin-top: -10rem;
  }
  .container--pianiProtezioneMobile {
    margin-top: 2rem;
  }
  .wrapper--pianiProtezioneMobile {
    padding: 2rem;
  }
  .wrapper--headTabPPDimensions .heading-level-5 {
    height: auto;
  }
  .wrapper--richTextCollaboriamoMobile {
    width: 100%;
    padding: 0 2rem;
  }
  .container--colonnaSupportoCardMobile {
    margin-top: -5rem;
  }
  .container--WPROTitle {
    padding: 0 2rem;
  }
  .wrapper--WPROTitle .heading-level-2 {
    text-align: center;
  }
  .wrapper--editorialBannerTotalNoFrostTitle .heading-level-2 {
    font-size: 1.75rem;
    text-align: center;
  }
  .container--editorialBannerTotalNoFrostDesc {
    width: 100%;
    margin: 0 auto;
    padding: 0 1.5625rem;
  }
  .wrapper--editorialBannerTotalNoFrostDesc .paragraph {
    text-align: center;
  }
  .wrapper--editorialBanner2TotalNoFrostTitle .heading-level-2 {
    font-size: 1.875rem;
    text-align: center;
  }
  .wrapper--totalNoFrost .heading-level-4,
  .wrapper--totalNoFrost .heading-level-5 {
    text-align: center;
  }
  .wrapper--BannerTabHomeTotal {
    padding: 0 1.25rem;
  }
  .wrapper--BannerTabHomeTotal .paragraph {
    text-align: center;
    font-size: 1.75rem;
  }
  .container--noMarginTopMobile {
    margin-top: 0;
  }
  .wrapper--vantaggiRicambiOriginaliMobile {
    padding: 0 1rem;
  }
  .tableTd--TipologieDatiTrattati {
    display: inline-block;
    width: 21rem;
  }
  .tableHead--FinalitaTrattamento .tableTr {
    display: flex;
    justify-content: space-around;
    width: 24rem;
  }
  .tableBody--FinalitaTrattamento,
  .table--FinalitaTrattamento {
    display: block;
  }
  .tableBody--FinalitaTrattamento .tableTr {
    display: flex;
    justify-content: space-evenly;
  }
  .tableTd--FinalitaTrattamento {
    display: inline;
    width: 6rem;
    text-align: left;
  }
  .tableTd--FinalitaTrattamento:last-child {
  }
  .tableHead--FinalitaTrattamento
    .tableTr
    .tableTh--FinalitaTrattamento:not(:first-child, :last-child) {
    width: 3rem;
  }
  .container--FinalitaTrattamento {
    padding: 1rem 1rem 1rem 0 !important;
  }
}
@media screen and (min-width: 1200px) {
  .container--spaziature-impaginazione {
    padding: 0 0;
  }
}
@media only screen and (max-width: 1000px) {
  .wrapper--centerbannerpromo,
  .wrapper--centerbannerpromoWarranty {
    font-size: 0.8rem;
  }

  .container--discontinued,
  .container--discontinuedTitle {
    justify-content: center;
  }
  .paragraph--discontinuedTitle {
    font-size: 1.5rem !important;
  }
}
@media only screen and (max-width: 1000px) and (min-width: 640px) {
  .wrapper--promoBannerProductTitle {
    font-size: 1.5rem;
  }
  .wrapper--promoBannerProductTitle .paragraph {
    margin-top: 0;
    margin-bottom: 0.7rem;
  }
  .wrapper--promoBannerProductTitleSmall {
    font-weight: 400;
    font-size: 0.575rem;
    margin-bottom: 1rem;
  }
  .wrapper--promoBannerProductsubtitleCard {
    font-size: 1rem;
  }
  .wrapper--promoBannerProductsubtitleCard .paragraph {
    margin: 0;
    margin-bottom: 1.5rem;
  }
  .wrapper--promoBannerProductPostilla {
    font-size: 0.425rem;
    color: #8d8d8d;
  }
}
@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }
  .container--about {
    max-width: 85%;
  }
  .container--title {
    color: #03034e;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }
  .container--title .paragraph {
    line-height: 1.3em;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1023px) {
  .paragraph--blackFridayTitleMain1 {
    font-size: 3.5rem;
  }
  .paragraph--blackFridayTitleSmall {
    font-size: 0.8rem;
  }
  .paragraph--blackFridayTitleMain2 {
    font-size: 4rem;
  }
}

.wrapper--text-center {
  margin: 0 auto;
}

.paragraph--text-center {
  font-size: 2rem;
}

.headingLevel1--formText {
  text-align: center;
}

.paragraph--smallTitleAdvantageForYou,
.paragraph--bigTitleAdvantageForYou {
  margin: 0;
}
.paragraph--smallTitleAdvantageForYou {
  color: #000;
}
.paragraph--bigTitleAdvantageForYou {
  font-size: 1.5rem !important;
  font-family: "myriadBold";
  line-height: 1;
}
.container--TextAdvantageForYou {
  display: flex;
  align-items: center;
}
.paragraph--TextAdvantageForYou {
  font-size: 1rem !important;
  font-family: "myriadRegular";
  margin: 0;
  text-align: justify;
}

.wrapper--titleSpremeBanner60 .paragraph--titleSpremeBanner60 {
  line-height: 1 !important;
}

.paragraph--titleSpremeBanner60::after {
  background: #fdc100;
  width: 100%;
  display: flex;
  content: "";
  display: block;
  height: 0.125rem;
  margin-bottom: 0.625rem;
}

.wrapper--pdpAccordionTitle .paragraph {
  font-size: 1.75rem !important;
  text-transform: uppercase;
  margin: 0;
}

.wrapper--testoDescNTE .paragraph--testoDescNTE {
  text-align: start !important;
}

.wrapper--spaziature-impaginazione {
  width: 100% !important;
  overflow-wrap: break-word;
}
