.styledLinkContainer--linkMenu {
  position: relative;
  display: inline-block;
  margin-right: 0;
  margin-left: 1.7rem;
}
.styledLinkContent--linkMenu::before {
  content: "";
  width: 0;
  transition: width 0.7s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  height: 0.125rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fdc100;
}
.styledLinkContainer--linkMenu:hover .styledLinkContent--linkMenu::before {
  width: 100%;
}
.styledLinkContent {
  font-family: "myriadSemibold";
  font-weight: bold;
  font-size: 0.8125rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: #505050;
}
.styledLinkContent--menu {
  letter-spacing: 0.1rem;
  font-family: "myriadLight";
  font-size: 2.5rem;
  font-weight: 400;
  padding: 0;
  line-height: 1.2;
  text-transform: none;
  color: #979797;
}
.styledLinkContent--menu:hover {
  color: #505050;
}
.submenu--menu {
  padding: 2.25rem 0 0 0;
}
.submenuWrapper--menu {
  display: block !important;
  position: absolute;
  top: 100%;
  left: 0;
  content: "";
  overflow: hidden;
  transition: 0.5s height linear;
  height: 0px; /*deve essere 0*/
  padding: 0;
  margin: 0;
  border: none;
}
.submenuWrapper--menu--isOpen.dn {
  display: block !important;
}
.submenuWrapper--menu--isOpen {
  height: 530px;
  z-index: 1000;
}
.submenuWrapper--menuAstuces {
  display: block !important;
  position: absolute;
  top: 100%;
  left: 0;
  content: "";
  overflow: hidden;
  transition: 0.5s height linear;
  height: 0px; /*deve essere 0*/
  padding: 0;
  margin: 0;
  border: none;
}
.submenuWrapper--menuAstuces--isOpen.dn {
  display: block !important;
}
.submenuWrapper--menuAstuces--isOpen {
  height: 250px;
  z-index: 1000;
  border-bottom: 1px solid lightgray;
}
.submenu--menuAstuces {
  padding: 2.25rem 0 0 0;
}
.submenuWrapper--menuOffres {
  display: block !important;
  position: absolute;
  top: 100%;
  left: 0;
  content: "";
  overflow: hidden;
  transition: 0.5s height linear;
  height: 0px; /*deve essere 0*/
  padding: 0;
  margin: 0;
  border: none;
}
.submenuWrapper--menuOffres--isOpen.dn {
  display: block !important;
}
.submenuWrapper--menuOffres--isOpen {
  height: 350px;
  z-index: 1000;
  border-bottom: 1px solid lightgray;
}
.submenu--menuOffres {
  padding: 2.25rem 0 0 0;
}
.submenuWrapper--menuSupporto {
  display: block !important;
  position: absolute;
  top: 100%;
  left: 0;
  content: "";
  overflow: hidden;
  transition: 0.5s height linear;
  height: 0px; /*deve essere 0*/
  padding: 0;
  margin: 0;
  border: none;
}
.submenuWrapper--menuSupporto--isOpen.dn {
  display: block !important;
}
.submenuWrapper--menuSupporto--isOpen {
  height: 350px;
  z-index: 1000;
  border-bottom: 1px solid lightgray;
}
.submenuWrapper--menuSecondoLivello {
  position: absolute;
  top: 0;
  left: 100%;
  height: 768px;
  z-index: 1000;
}
.submenu--menuSecondoLivello {
  justify-content: flex-start !important;
}
.styledLinkContent--menu2 {
  font-family: "myriadLight";
  font-size: 1.5625rem;
  line-height: 1.2;
  font-weight: 400;
  text-transform: none;
  margin: 0;
  padding: 0;
  color: #979797;
}
.styledLinkContent--menu2:hover {
  color: #505050;
}
.menuItem--menu {
  width: 500px;
  padding: 0;
}
.menuItem--menu {
  padding-bottom: 1rem;
}
.menuItem--menu2 {
  padding-bottom: 1.875rem;
  width: 100%;
}
.menuItem--menu2:hover .container--menuProva {
  display: block;
  transition: transform 0.7s ease;
}
.styledLinkContent--conseilsMenu {
  white-space: pre-wrap;
  width: 70%;
}
/*---------------  Menu Mobile ------------------------------*/
/* .menuContainerNav--mobileMenu {
  width: 100%;
} */
.menuContainer--mobileMenu {
  border-bottom: 1px solid lightgray;
}
.submenuAccordion {
  padding: 0 0 1rem 0;
}
.menuItem--First {
  border-top: 1px solid lightgray;
}
.styledLinkContent--First {
  padding: 0.9rem 0;
}
.menuItem--mobileMenu {
  padding: 0.3rem;
}
.styledLinkContent--mobileMenu {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.2;
  text-transform: none;
  color: #979797;
}
.styledLinkContent--mobileMenu:hover {
  color: #505050;
}
.submenuWrapper--mobileMenu {
  position: absolute;
  left: 100%;
}

/*---------------  secondo livello --------------------------------*/
.styledLinkContent--itemSecondoLivello {
  font-family: "myriadLight";
  font-size: 1.5625rem;
  line-height: 1.2;
  font-weight: 400;
  text-transform: none;
  margin: 0;
  padding: 0;
  letter-spacing: 0;
  color: #979797;
}
.styledLinkContent--itemSecondoLivello:hover {
  color: #505050;
}
.menuItem--itemSecondoLivello:hover
  :global(.vtex-store-components-3-x-imageElement) {
  transition: 0.7s ease;
  opacity: 1;
}
.menuItem--itemSecondoLivello {
  padding-bottom: 1.875rem;
  width: 100%;
}
.styledLinkContainer--terzoLivello {
  margin-right: 0;
}
/*------------FOOTER----------*/
.styledLinkContent--footerBold {
  font-family: "myriadSemibold";
  font-weight: 400;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #505050;
  line-height: 1.5rem;
}
.styledLinkContent--footerNormal {
  display: block;
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 0.875rem;
  color: #505050;
  line-height: 1.5rem;
  text-transform: unset;
  letter-spacing: normal;
}
.styledLinkContainer--marginLeft0 {
  margin-left: 0;
}
/*---------------------------------*/
.accordionIcon--terzoLivello {
  margin-left: 2rem;
}
.styledLinkContent--wrap {
  /* white-space: pre-wrap; */
}
/* .menuItem--wcollectionMenuItem{
  display: flex;
  margin-right: 1.875rem;
  padding: 0;
} */
.menuContainer--cotturaMenu {
  justify-content: space-around;
  width: 80%;
  font-family: "myriadLight";
  line-height: 1;
  min-width: fit-content;
  margin: auto;
}
.styledLinkContainer--wcollectionMenuItem:hover {
  border-bottom: 1px solid #fdc100;
}
.styledLinkContainer--energyLabelMenuItem:hover {
  border-bottom: none;
}
/* .styledLinkContainer--wcollectionMenuItem{
  display: flex;
  justify-content: center;
} */
.menuContainer--wcollectionMenu {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 0.7rem;
  margin-left: 1rem;
}
.menuContainer--energyLabelMenu {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.7rem;
}
.menuContainer--supremeSilenceMenu {
  display: flex;
  justify-content: space-between;
  padding: 0 3.125rem;
}

.styledLinkContent--wcollectionMenuItem1,
.styledLinkContainer--wcollectionMenuItem {
  height: 3rem;
  /* width: 100% !important; */
  /* justify-content: space-around !important; */
}
.styledLinkContent--wcollectionMenuItem {
  font-family: "myriadLight";
  text-transform: none !important;
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1;
  /* margin-right: 1.875rem; */
  /* min-width: fit-content; */
  color: #505050;
}
.styledLinkContent--wcollectionMenuItem1 {
  text-transform: none !important;
  font-family: "myriadSemibold", Arial;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1;
}
/* .menuItem--wcollectionMenuItem1{
  }
  .styledLinkContent--wcollectionMenuItem1{
    width: 100%;
  } */
.styledLinkContainer--wcollectionMenuItem1 {
  border-right: 0.0625rem solid #979797;
  /* height: 37px; */
  width: 90%;
  vertical-align: auto;
  height: 22px;
  padding-top: 0px;
  margin-top: 17px;
  margin-bottom: 0px;
}
.styledLinkContainer--wcollectionMenuItem {
  margin: 0 1.5rem;
  padding: 0.5rem 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.styledLink--wcollectionMenuItem {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.styledLink--linkMenu.active {
  background-color: #fdc100;
}
.styledLinkContent--cotturaLinkMenu:hover {
  color: #fdc100;
}
.menuContainerNav--cotturaMenu {
  border-bottom: 0.0625rem solid #f2f2f2;
}
.menuContainerNav--pdpTab {
  background: #f9f9f9;
}
.menuContainer--pdpTab {
  justify-content: center;
}
.menuItem--pdpTab {
  margin: 0 6rem;
  padding-bottom: 0.25rem;
}
.menuContainer--pdpTabSticky .menuItem--pdpTab:hover {
  border-color: #fdc100 !important;
  border-bottom: 0.25rem solid #fdc100;
  padding-bottom: unset !important;
}
.styledLinkContent--pdpTab {
  font-family: "myriadSemibold";
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0;
}
.menuContainer--pdpTabSticky .menuItem--pdpTab {
  margin-left: 0rem;
  border-bottom: 0.25rem solid transparent;
}
.styledLinkContent--mobileMenu {
  white-space: pre-wrap;
}
.styledLinkContent--energyLabelMenuItem {
  font-size: 0.875rem;
  text-transform: uppercase !important;
  color: #353535;
  font-family: "myriadRegular", Arial;
  transition: all 0.3s;
}
.styledLinkContent--energyLabelMenuItem:hover {
  opacity: 0.7;
}
.menuContainerNav--microwaveRecipesMenu {
  padding: 1rem 3rem;
  max-width: 90rem;
  margin: 0 auto;
  border-bottom: 0.0625rem solid #f2f2f2;
}
.submenuWrapper--menuSecondoLivello--isOpen
  :global(.vtex-flex-layout-0-x-flexRowContent) {
  margin-left: -2rem;
}
.menuContainer--microwaveRecipesMenu
  .styledLinkContainer--microwaveRecipesMenu:first-child {
  display: none;
}
.menuContainer--microwaveRecipesMenu {
  justify-content: space-between;
}

/* Media Queries */
@media screen and (max-width: 1128px) {
  .menuContainerNav--pdpTab {
    display: none !important;
  }
  @media screen and (max-width: 1128px) {
    .menuItem--pdpTab {
      margin-left: 0;
      margin-right: 2rem;
    }
    .menuItem--pdpTab:hover {
      border-bottom: unset;
    }
    .menuContainerNav--pdpTab {
      display: flex;
      overflow-x: auto;
    }
    .styledLinkContainer--pdpTab:hover {
      border-bottom: 0.25rem solid #fdc100;
    }
  }
  @media screen and (max-width: 700px) {
    .menuContainer--supremeSilenceMenu {
      display: none;
    }
    .menuContainerNav--wcollectionMenu {
      overflow-x: scroll;
      background-color: white;
      overflow-y: hidden;
    }
    .menuContainer--wcollectionMenu {
      width: 55rem;
    }
    .menuContainerNav--cotturaMenu {
      display: none;
    }
  }
  @media screen and (max-width: 1366) and (max-height: 768) {
    .menuItem--menu {
      padding-bottom: 0;
    }
  }
  @media screen and (min-width: 1024px) {
    .styledLinkContainer--linkMenu {
      margin-right: 1.5rem;
      margin-left: 1.5rem;
    }
  }
  @media screen and (min-width: 1280px) {
    .styledLinkContainer--linkMenu {
      margin-right: 2.5rem;
      margin-left: 2.5rem;
    }
  }
}
@media only screen and (max-width: 1024px) and (min-width: 600px) {
  .menuContainer--pdpTabSticky {
    overflow-x: auto;
  }
  .menuContainer--pdpTabSticky .styledLinkContainer--pdpTab {
    margin: 0;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .menuContainer--microwaveRecipesMenu {
    justify-content: center;
  }
}
@media only screen and (max-width: 640px) {
  .menuContainerNav--microwaveRecipesMenu {
    display: none;
  }
  .styledLinkContainer--wcollectionMenuItem {
    margin: 0;
  }
  .menuContainerNav--energyLabelMenu {
    display: none;
  }
  .menuContainer--wcollectionMenu {
    margin-left: -5rem;
    justify-content: space-evenly;
  }
}
