.container .title {
  font-family: "myriadLight";
  color: #585858;
  font-size: 1.125rem;
  text-transform: uppercase;
}
.container .titleProvince,
.titleCities,
.titleCity {
  font-family: "myriadLight";
  color: #007d69;
  font-size: 1.125rem;
  text-transform: uppercase;
}
.container .titleProvince::after,
.titleCities::after,
.titleCity::after {
  width: 3.125rem;
  content: "";
  display: block;
  height: 0.125rem;
  background-color: #007d69;
  margin-top: 0.625rem;
}
.listProvince:hover,
.listCities:hover,
.numberLink:hover {
  color: #40a08c;
  text-decoration-color: #40a08c;
}

.container .list .listLink {
  font-family: "myriadLight";
  font-size: 1.125rem;
  color: #007d69;
  text-decoration: underline;
}

.container .list .listLink:hover {
  color: #40a08c;
}

.container .list .servicePhone {
  font-family: "myriadLight";
  font-size: 1.125rem;
  color: #007d69;
  text-decoration: underline;
}

.container .list .servicePhone:hover {
  color: #40a08c;
}

.container .text {
  font-family: "myriadLight";
  font-size: 1.125rem;
  color: #585858;
}

.serviceName,
.serviceAddress {
  font-family: "myriadLight";
  font-size: 1.125rem;
  color: #585858;
}
