:global(.vtex__icon-close) {
  margin: 3px;
  height: 2rem;
  width: 2rem;
}
:global(.vtex-flex-layout-0-x-flexColChild--offersSectionPreOrder) .serviziAggiuntiviTable{
  background: white !important;
}

.servTitleStyle {
	font-weight: 700;
	line-height: 1.5;
}
.servAggTooltip {
	padding-top: 0.875rem;
	font-size: 0.875rem;
	line-height: 1.5;
}
.serviceTitle {
	display: flex;
	align-items: center;
}
.whirlClub {
	margin-left: 0.6rem;
	height: 1.2rem;
	margin-bottom: -4px;
}
.serviziAggiuntiviTable {
	background-color: #f9f9f9;
	border-bottom: 1px solid #007d69;
	width: 100%;
	font-size: 1rem;
	margin: 1rem 0 2.5rem 0;
	height: auto;
	overflow: visible;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 1.75rem 2.5rem;
}

.servAggRow {
	display: flex;
	flex-direction: column;
	padding: 0.875rem 0;
	position: relative;
}

.servAggRow:not(:last-child) {
	border-bottom: 1px solid #d0d3d4;
}
.servOptions {
	display: flex;
	justify-content: space-between;
	padding-right: 1rem;
}
.servOptionsDiscount {
	display: flex;
	justify-content: space-between;
	padding-right: 2rem;
}
.freeLabel {
	color: #007d69;
	font-size: 0.875rem;
	font-family: 'myriadBold';
	margin-left: 1rem;
	display: flex;
	align-items: center;
	text-align: right;
}
.labelPrice {
	color: #505050;
	font-size: 0.875rem;
	font-family: 'myriadBold';
	margin-left: 1rem;
}
.twoYearsWarranty {
	width: 96.5%;
}
.servAggRow :global(.vtex__icon-caret-down),
.servAggRow :global(.vtex__icon-caret-up) {
	width: 10px;
	color: #505050;
}
.warrantyServicesTitle {
	margin-top: 1rem;
}
.addServicesTitleContainer {
	display: flex;
	align-items: center;
}
.addServicesTitleMarkLogo {
	width: 18px;
	margin-right: 0.5rem;
}
.addServicesTitle {
}
.mainContainer {
	height: 565px;
	/* padding: 0 1rem; */
}
.tabLinkContainer {
	display: flex;
	justify-content: space-between;
}
.warrantyTabLink {
	display: flex;
	justify-content: flex-start;
}
.warrantySecondTitle {
	margin-left: 4rem;
}
.baseTitle {
	font-size: 1.5rem;
	cursor: pointer;
}
.clicked {
	color: #007d69;
	font-size: 1.5rem;
	cursor: pointer;
}
.clicked::after {
	content: '';
	border-bottom: 1px solid #007d69;
	height: 4px;
	width: 52px;
	display: block;
}
.infoIcon {
	height: 15px;
	width: 15px;
	margin-left: 0.5rem;
	cursor: pointer;
}
.carefreeUnorderedContainer {
	display: flex;
}
.lastParagraph {
	padding-bottom: 2rem;
}
.modalListItem {
	margin-bottom: 1rem;
}

.textMainContainer {
	text-align: justify;
}
.serviziAggiuntiviTable--abTest {
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  background: transparent;
  border-bottom: none;
  padding-right: 3rem;
  gap: 1rem;
}
.servAggRow--abTest {
  border-bottom: none !important;
  padding: 0.5rem 0;
}
.servTitleStyle--abTest {
  font-family: "myriadBold";
  color: #000;
  margin-bottom: 0.5rem;
}
.servOptions--abTest {
  justify-content: flex-start;
  align-items: center;
}
.labelPrice--abTest, .freeLabel--abTest {
  margin-left: 0.5rem;
  /* text-decoration: underline; */
  font-family: "myriadLight";
  font-weight: bold;
  margin-left: auto;
}
.addServicesTitle--abTest {
  margin-right: 1.5rem;
}
.labelPrice--abTest {
  color: #007d69;
}
.warrantyServicesTitle--abTest {
  margin-top: 0;
}
.serviziAggiuntiviTable--abTest {
  flex-wrap: nowrap;
}

/* MEDIA QUERYS */

@media only screen and (max-width: 1024px) {
	.mainContainer {
		height: 26rem;
	}
	.baseTitle {
		font-size: 1.2rem;
	}
	.clicked {
		font-size: 1.2rem;
	}
	.modalParagraph {
		font-size: 0.9rem;
	}
}
@media only screen and (max-width: 800px) {
	.baseTitle {
		font-size: 1rem;
	}
	.clicked {
		font-size: 1rem;
	}
}
@media only screen and (max-width: 680px) {
	.tabLinkContainer {
		flex-direction: column;
		align-items: flex-start;
	}
	.warrantyTabLink {
		flex-direction: column;
	}
	.warrantySecondTitle {
		margin-left: 0rem;
	}
	.baseTitle {
		font-size: 1.5rem;
		margin-bottom: 0;
	}
	.clicked {
		font-size: 1.5rem;
		margin-bottom: 0;
	}

	.mainContainer {
		height: 26rem;
	}
	.carefreeUnorderedContainer {
		flex-direction: column;
	}
	.modalParagraph {
		font-size: 1rem;
	}
}
@media only screen and (max-width: 640px) {
	.serviziAggiuntiviTable {
		padding: 1.5rem 1.3rem;
	}
	.serviziAggiuntiviTable {
		font-size: 0.875rem;
	}
	.serviceTitle {
		justify-content: center;
	}
	.servTitleStyle {
		font-size: 1rem;
		font-family: 'myriadLight';
		font-weight: 500;
	}
	.addServicesTitleMarkLogo {
		display: none;
	}
  :global(.vtex-flex-layout-0-x-flexColChild--product-desc-info)
    .serviziAggiuntiviTable {
    margin-bottom: 0;
  }

  :global(.vtex-modal__close-icon){
	width: unset;
  }
}

@media only screen and (min-width: 640px) {
  :global(.vtex-flex-layout-0-x-flexColChild--product-desc-info)
    .serviziAggiuntiviTable {
    margin: 1rem 0 1rem 0;
  }
}
@media only screen and (max-width: 1440px) and (min-width: 1024px) {
  .serviziAggiuntiviTable--abTest {
    padding-right: 0;
  }
}
@media only screen and (max-width: 1200px) and (min-width: 1024px) {
  .serviziAggiuntiviTable--abTest {
    justify-content: space-between;
  }
}

