.productImagesContainer--productPage--carousel,
:global(.vtex__ProductImagesWrapper) {
  width: 80%;
}
.productImagesContainer--productPage--carousel {
  margin-bottom: 1rem;
}
.productImagesGallerySwiperContainer--productPage {
  padding-bottom: 0.5rem;
  margin: 0.5rem;
}
.thumbImg--productPage {
  max-height: 90%;
}
.thumbImg--productPage--video {
  min-height: 3.5rem;
}
.swiperPaginationClickable {
  display: none;
}
.productImagesThumb--productPage {
  padding: 1rem;
  margin: 5px;
  display: flex;
  align-items: center;
}
.productImagesThumbActive--productPage {
  border-radius: 5px;
  border: 2px solid #007d69;
}
.swiperCaretNext--productPage,
.swiperCaretPrev--productPage {
  color: #979899;
}
.swiperCaretNext--productPage {
  padding-left: 1rem;
}
.swiperCaretPrev--productPage {
  padding-right: 1rem;
}
.gradientBaseRight--productPage {
  background-color: white;
}
.gradientBaseLeft {
  background-image: -webkit-linear-gradient(
    right,
    rgba(255, 255, 255, 0.001) 0%,
    #fff 100%,
    #fff 100%
  );
}
.gradientBaseRight {
  background-image: -webkit-linear-gradient(
    left,
    rgba(255, 255, 255, 0.001) 0%,
    #fff 100%,
    #fff 100%
  );
}
.caretIcon--productPage {
  color: #505050;
  /* padding-bottom: 2.8rem; */
  width: 17px;
}
.modalMain {
  height: 95% !important;
}

/* Media Queries */
@media only screen and (min-width: 1024px) {
  .videoButtonContainer {
    position: absolute;
  }
}
@media only screen and (max-width: 668px) {
  .productImagesContainer--productPage--carousel,
  :global(.vtex__ProductImagesWrapper) {
    width: 100% !important;
  }
}
@media only screen and (max-width: 668px) {
  .swiperPaginationClickable {
    display: block;
  }
  .productImageTag--productPage {
    /* width: 270px !important; */
    object-fit: cover !important;
    margin: 0;
  }
  .productImagesGallerySwiperContainer--productPage {
    padding: 0;
    margin-bottom: 0;
    margin-top: 0;
  }
  .button {
    top: 20% !important;
  }
  .productImagesGallerySlide--productPage {
    width: 100% !important;
  }
  .modalMain .carouselContainer--productPage {
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .closeModalIcon {
    z-index: 1000;
  }
  .modalTrigger {
    left: 86%;
  }
}

@media only screen and (min-width: 640px) and (max-width: 768px) {

  .productImageTag--productPage {
    max-width: 426px !important;
    max-height: 400px !important;
    margin: 0;
  }

  .thumbImg--productPage {
    max-width: 78px !important;
    max-height: 78px !important;
    align-items: center;
  }
}

@media only screen and (max-width: 640px){
  .productImageTag--productPage {
    max-width: 584px !important;
    max-height: 329px !important;
    object-fit: cover !important;
  }
}
@media only screen and (max-width: 1300px) and (min-width: 1200px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--main-pdp-content) .videoButtonContainer {
    margin-left: 17%;
  }
}
