.countdownContainer--promoCountdownPlp {
  width: 90%;
  margin: 0 auto;
}
.countdownText--promoCountdownPlp, .countdownText--promoCountdownPlpMobile,
.countdownText--promoCountdownPdp, .countdownText--promoCountdownPdpMobile,
.countdownText--promoCountdownHomepageCarousels {
  margin-top: 0;
}
.countdownContainer--promoCountdownPlpMobile, .countdownContainer--promoCountdownHomepageCarousels,
.countdownContainer--promoCountdownPlp {
  margin-bottom: 1rem;
}
.countdownContainer--promoCountdownPdp {
  width: 60%;
  margin: 0 auto -1rem;
  transform: translateX(8%)
}
.countdownContainer--promoCountdownPdpMobile {
  margin: 0 auto 1.5rem;
}
