.container :global(.vtex-button) {
  width: 100%;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0.1rem;

  background-color: #007d69;
  border-color: #007d69;
  transition: all 0.5s ease-in-out;
}

.container :global(.vtex-button):hover {
  background-color: #40a08c;
  border-color: #40a08c;
}

.container {
  margin: 0.5rem 0;
  /* width: 100% !important; */
}

.fastEstForm {
  margin: 1rem 0;
}

.container :global(.vtex-styleguide-9-x-input) {
  border: 1px solid #c7c7c7;
  border-top-right-radius: 0;
  margin-right: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}

.container :global(.vtex-input__label) {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0;
}

.error {
  font-family: "myriadLight";
}

.success {
  font-family: "myriadLight";
}
.subTitle {
  font-family: "myriadLight";
}


/* Media Queries */
@media only screen and (max-width: 668px) {
  .container :global(.vtex-input__label) {
    font-size: 0.875rem;
  }

  .fastEstForm {
    margin: 0.5rem 0;
  }
}
