:global(.vtex-slider-layout-0-x-slideChildrenContainer--shelf) .isHovered {
  z-index: 2001;
}
:global(.vtex-slider-layout-0-x-slideChildrenContainer--shelf) .awardedLogoImage {
  max-height: 60px;
}
:global(.vtex-flex-layout-0-x-flexRow--badgesAwards) .awardedLogoImages,
:global(.vtex-flex-layout-0-x-flexRow--badgesAwards) .awardedLogoImage {
  max-height: 5rem;
  max-width: 5.5rem;
  height: auto;
}
:global(.vtex-flex-layout-0-x-flexRow--badgesAwards) .awardedLogoImages:hover,
:global(.vtex-flex-layout-0-x-flexRow--badgesAwards) .awardedLogoImage:hover {
  transform: scale(2) !important;
  margin-left: 0 !important;
  margin-top: 0 !important;
}
:global(.vtex-shelf-1-x-shelfContentContainer--suggestedCarousel) .awardedLogoImages,
:global(.vtex-shelf-1-x-shelfContentContainer--suggestedCarousel) .awardedLogoImage {
  max-width: 100%;
}
