.scrollListener {
    z-index: 1000;
    width: 100%;
    transition: transform .5s ease-in,
                height .5s ease-out,
                -webkit-transform .5s ease-in;
}

/* .scrollListener--customBlockClass--scrollDown{
    transform: translateY(calc(-100%));
} */
.wrapperScrollingDown{
    transform: translateY(calc(-100%));
}