.filterWrapper .filter {
  font-family: "myriadLight" !important;
}
/* .filterWrapper .selectedFilter {
  font-family: "myriadLight" !important;
  color: #007d69 !important;
   background-color: #ffffff !important; 
  border-color: #007d69 !important;
} */
.domandaContainer {
  border: 2px solid #000;
}
.singleAnswer {
  font-family: "myriadLight";
}
.faqPage :global(.vtex-button__label) {
  font-size: 0.875rem;
}
.faqPage :global(.vtex-button) {
  transition: all 0.5s ease-in-out;
}
.question {
  font-family: "myriadLight";
}
.shortAnswer {
  font-family: "myriadLight";
}
.readMore {
  font-family: "myriadBold";
  color: #007d69;
  font-size: 0.875rem;
}
.singleQuestion {
  font-family: "myriadLight";
}
.container {
}
.loaderForm {
  background: linear-gradient(
    to right,
    #007d69 10%,
    rgba(237, 177, 18, 0) 42%
  ) !important;
}
.loaderForm::before {
  background: #007d69 !important;
}
