@media only screen and (max-width: 1024px) {
  .breadcrumbSliderContainer {
    /* display: none; */
  }
}
@media only screen and (max-width: 640px) {
  .breadcrumbSliderContainer {
    padding: 1rem 0 1rem 1.125rem;
  }
  .breadcrumbContainer {
    display: inline-block;
    align-items: center;
    padding: 0;
  }
  .breadcrumb,
  .lastItem,
  .catLink,
  .catBold {
    font-size: 10px;
  }
}
