.subscriberContainer {
  margin-top: 1rem;
}
.content {
  max-width: unset;
}
.input {
  margin-right: 0;
}
.inputName {
  max-width: 16rem;
  margin-right: 1rem;
}
.privacyLink {
  color: #007d69;
}
:global(.vtex-flex-layout-0-x-flexRow--addToCartAndPrice) .subscriberContainer {
  margin-top: 0;
}
:global(.vtex-flex-layout-0-x-flexRow--addToCartAndPrice) .title,
:global(.vtex-flex-layout-0-x-flexRow--addToCartAndPrice) .subscribeLabel {
  font-weight: bold;
  color: #000;
}
:global(.vtex-flex-layout-0-x-flexRow--addToCartAndPrice) .content {
  gap: 1rem;
}
:global(.vtex-flex-layout-0-x-flexRow--addToCartAndPrice) .inputName {
  max-width: unset;
  margin-right: 0;
}
