:global(.vtex-search-result-3-x-gallery--galleryBundles) .bundleImagesWrapper,
:global(.vtex-search-result-3-x-gallery) .bundleImagesWrapper {
  margin: 0;
  width: auto;
  height: 100%;
}

@media only screen and (max-width: 640px) {
  :global(.vtex-search-result-3-x-gallery--galleryBundles) .bundleImage,
  :global(.vtex-search-result-3-x-gallery) .bundleImage {
    max-width: 7rem;
  }
}
