.slideChildrenContainer--wishlistSlider {
  margin-left: 1px;
  margin-right: 1px;
}
.slide--salesforceCarousel {
  padding: 0 1rem;
}
.paginationDotsContainer--salesforceCarousel {
  bottom: -2rem;
}

@media only screen and (max-width: 1024px) {
  .paginationDotsContainer--wishlistSlider {
    bottom: -1rem;
  }
  .slide--wishlistSlider--firstVisible {
    margin-left: 2rem;
  }
  /* .sliderTrack--shelfBlackFriday{
    width: 187% !important; 
  } */
}
@media only screen and (max-width: 640px) {
  .sliderLayoutContainer--salesforceCarousel {
    padding: 0 !important;
  }
  .slide--wishlistSlider--firstVisible {
    margin-left: 0;
  }
}
