.inputLabel {
  font-family: "myriadLight";
  font-size: 1.331rem;
  color: #585858;
  margin: 0 auto;
  text-align: center;
  min-height: 4.6875rem;
  line-height: 1.4375rem;
}
.input {
  font-family: "myriadLight";
  font-size: 1.125rem;
  color: #607171;
  border-bottom: 0.0625rem solid #bbc9c9;
  margin-bottom: 0.625rem;
}
.input::placeholder {
  font-size: 0.7rem;
}
.inputText {
  font-family: "myriadBold";
  font-size: 0.75rem;
  color: #607171;
  display: block;
  text-transform: uppercase;
  line-height: .875rem;
  text-align: center;
}
.formContainer {
  /* background-color: #f2f2f2; */
  background-color: #f5f5f5;
}
.button {
  margin: 0 auto;
  margin-top: 0.625rem;
}
.buttonContainer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.buttonContainer:last-child {
  margin-left: auto;
}
.button :global(.vtex-button__label) {
  font-family: "myriadLight";
  font-size: 1.125rem;
  color: #f2f2f2;
  text-transform: none;
}
.button :global(.vtex-button) {
  transition: all 0.5s ease-in-out;
  min-width: 17.5rem;
  border-radius: 0;
}
.button :global(.vtex-button):hover {
  border: 0.125rem solid #40a08c;
}
