.container {
  margin-bottom: 4rem;
}
.recipeContent {
  min-height: 27rem;
}
.ingredientsImage {
  display: block;
}
.relatedCarouselDiv {
  margin-bottom: 3rem;
}
/* .recipeContentName {
  font-size: 1.6rem;
} */
.recipeContentDescription {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  padding-bottom: 0;
}
.recipeContentName {
  font-size: 29px;
}
@media only screen and (max-width: 640px) {
  .recipeContent {
    justify-content: unset;
  }
  .recipeCard {
    padding: 0;
  }
}
