.optanonToggleDisplay {
  text-decoration: underline;
  font-size: 1rem;
  color: #007d69;
  font-weight: bold;
}

:global(.vtex-flex-layout-0-x-flexRowContent--footerRow) .footerPopupLabel,
:global(.vtex-flex-layout-0-x-flexRowContent--footerMenusMobile) .footerPopupLabel {
  position: unset;
}