:global(.vtex-product-summary-2-x-element) .container {
  padding: 0 1rem 0.5rem 1rem;
}

.container {
  align-items: center;
}

.labelLink {
  font-family: "myriadLight";
}

.labelLink:hover {
  color: #007d69;
}

:global(.vtex-flex-layout-0-x-flexRowContent--newEnergyLabelRow) .container {
  padding: 0;
}

:global(.vtex-flex-layout-0-x-flexRowContent--oldEnergyLabelRow) .container {
  padding: 0;
}
:global(.vtex-flex-layout-0-x-flexColChild--energyLabels) .image,
:global(.vtex-flex-layout-0-x-flexRowContent--newEnergyLabelRow) .image {
  height: 30.75px;
  width: 52.5px;
}
:global(.vtex-flex-layout-0-x-flexRow--keyFeaturesAndBadges) .image {
  display: block;
  max-width: 52.5px;
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}
:global(.vtex-flex-layout-0-x-flexColChild--EtichettaEnergeticaNewSticky)
  .image {
  height: 30px;
}

@media only screen and (max-width: 1024px) {
  :global(.vtex-product-summary-2-x-element) .container {
    padding: 0;
  }
}
