.savings--savingPLPBK {
  color: #007d69;
  font-family: "myriadBold";
}
.listPrice {
  color: #9e9f9f;
  font-size: 1.5rem;
  font-family: "myriadLight";
  text-align: start;
  display: flex;
  align-items: center;
}
.currencyContainer--SearchResult{
  font-size: 1.5rem;
}
.sellingPrice--SearchResult{
  justify-content: right;
}
.sellingPriceValue {
  font-size: 2rem !important;
  line-height: 1.5;
  font-family: "myriadLight";
  color: #007d69 !important;
}
:global(.vtex-flex-layout-0-x-flexRowContent--nameAndPriceRowWishlist)
  .sellingPrice--summary {
  align-items: flex-start;
}
:global(.vtex-flex-layout-0-x-flexColChild--productInfoPrice)
  .savings--savingPLPBK {
  margin-top: 1rem;
  text-align: center;
}
:global(.vtex-flex-layout-0-x-flexRow--productInfosRow) .sellingPrice--summary {
  font-size: 0.9rem;
}
.sellingPrice--summary {
  font-size: 0.7rem;
  margin: 0;
  color: #afafaf;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.sellingPriceValue--summary {
  padding: 0;
}
.sellingPrice--summary2 {
  font-size: 1.25rem;
  margin: 0;
  color: #505050;
  display: flex;
  align-items: flex-start;
  font-family: "myriadLight";
}
.sellingPriceValue--summary2 {
  color: #505050;
  padding: 0;
  font-size: 1.85rem;
  font-family: "myriadLight";
}
.savings--summary {
  background: #fdc100;
  border-radius: 1000px;
  padding: 0.2rem;
  align-items: center;
  display: flex;
  color: #ffffff;
}
.savings-discount--summary {
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #ffffff;
}
.listPrice--summary {
  margin-bottom: 0;
}
.listPrice--comparison {
  padding-left: 20px;
}
.savings--saving {
  color: #505050;
  font-weight: 600;
  font-size: 1rem;
  margin: 0 0.25rem;
}
.savings--savingPdp {
  color: #505050;
  font-family: "myriadLight";
  font-size: 1.25rem;
}
.savings--widthMinContent {
  width: min-content;
}
.currencyContainer--savingPdp {
  padding-left: 0.2rem;
}
.savings--savingPdpMobile {
  background: #007d69;
  color: #ffffff;
  padding: 0.1rem 0.5rem;
  margin-right: 1rem;
}
.savings--savingPdpDeskPerc {
  padding: 0.3rem 2rem;
}
.sellingPriceValue--priceMobile {
  font-family: "myriadBold";
  margin-right: 1rem;
}
.savings--savingPlpMobile {
  padding: 0.4rem 0.6rem;
}
.sellingPrice--hasListPrice {
  margin: 0 0.25rem;
}
.sellingPrice--summaryPL--hasListPrice {
  font-family: "myriadLight";
}
.savings--savingPercentage {
  background: #007d69;
  color: #ffffff;
  padding: 0.3rem 0.6rem;
  margin-right: 1rem;
  height: 1.5rem;
}
.savings--savingRisparmi {
  font-family: "myriadBold";
  color: #007d69 !important;
  font-size: 1.1rem;
}
.savings--desktop {
  /* padding: 0.3rem 2.5rem; */
  font-size: 1rem;
}
.spotPriceSavings--percentagePLPBK {
  height: 1rem;
  display: flex;
  align-items: flex-end;
  align-self: flex-end;
  background-color: #007d69;
  padding: 0.3rem 0.5rem;
  color: #ffffff;
  font-family: "myriadLight";
}
.listPriceValue--listPricePLPBK {
  font-size: 1.3rem;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
  .currencyContainer--summary {
    /* font-size: 1rem; */
  }
  .savings--saving {
    padding: 0;
  }
  /* .sellingPrice--summary {
    padding-left: 0.9rem;
  } */
}
@media only screen and (max-width: 640px) {
  .listPrice {
    font-family: "myriadLight";
  }
  .listPrice--summary {
    padding: 0;
  }
}
@media only screen and (max-width: 1024px) {
  .sellingPrice--summaryPL {
    flex-direction: column;
  }
  .sellingPriceValue--summaryPL {
    margin-bottom: 0.5rem;
  }
  .savings--desktop {
    display: none;
  }
  .sellingPriceValue--summaryPL {
    line-height: 1;
    margin-right: 0.5rem;
  }
  .listPrice--summary {
    padding: 0;
  }
  .sellingPrice--summary {
    align-items: center;
  }
  /* .currencyContainer--summary {
    font-size: 1rem;
  } */
  .sellingPriceValue--summary {
    line-height: 1;
    font-weight: bold;
    font-family: "myriadLight";
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .savings--savingPdpMobile {
    padding: 0.3rem 2rem;
  }
}
