.listItem--modalSliderText :global(.vtex-button__label),
.listItemActive--modalSliderText :global(.vtex-button__label) {
  text-transform: none !important;
  font-size: 1.25rem;
}
.container--homeTabLayoutProducts {
  margin: 1rem 0 3rem 0;
}

.listContainer--homeTabLayoutProducts {
  border-bottom: 1px solid #ececec;
}

.listContainer--noBorderInModal {
  border: none !important;
}

.listItemActive--tabItemHomeProducts :global(.vtex-button) {
  background-color: transparent;
  border: none;
}

.contentItem--Itslider1OurBest {
  margin-top: 0rem !important;
}
.contentItem--customEmbedCarousel {
  padding-top: 2rem !important;
}

.contentItem--ItsCarouselMobile {
  margin-top: 0rem !important;
  margin-bottom: 2.5rem;
  padding-bottom: 15px;
}

.listItemActive--tabItemHomeProducts {
  border-bottom: 3px solid #007d69 !important;
  padding: 0.5rem;
  margin: 0;
}

.listItem--tabItemHomeProducts {
  border-bottom: 3px solid transparent;
  padding: 0.5rem;
  margin: 0;
}

.contentItem--f2f2f2 {
  background-color: #f2f2f2;
}

.listItem--tabItemHomeProducts :global(.vtex-button__label),
.listItemActive--tabItemHomeProducts :global(.vtex-button__label) {
  color: #000 !important;
  font-family: "myriadLight";
  font-size: 1rem;
}

.listItemActive--modalSliderText {
  border: none !important;
}

.listItemActive--modalSliderText::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0;
  /* height: 1px; */
  width: 100%;
  border-bottom: 3px solid #007d69;
}

.listItem--tabItemSearchNotFound :global(.vtex-button__label) {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: .9375rem;
  line-height: 1.25rem;
  /* margin-right: 2.5rem; */
  transition: all .4s;
  color: #000;
}
.listItemActive--tabItemSearchNotFound :global(.vtex-button) {
  background-color: unset;
  border: 0;
}
.listItemActive--tabItemSearchNotFound :global(.vtex-button__label) {
  transform: none;
  font-family: "myriadLight",Arial;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 1.25rem;
  color: #007d69;
}
.listItemActive--tabItemSearchNotFound :global(.vtex-button__label)::after {
  content: '';
  position: absolute;
  bottom: -2px;
  margin: auto;
  height: 0.125rem;
  display: block;
  width: 80%;
  background-color: #007d69;
}

.listItemActive--additionalModalTab2Text {
  border: none !important;
}

.listContainer--pdpTab {
  background-color: #f9f9f9;
}

.listItem--pdpTab :global(.vtex-button) {
  color: #505050;
  background-color: #f9f9f9;
  border: none;
}

.listItemActive :global(.vtex-button__label) {
  color: #007d69;
}
:global(.vtex-tab-layout-0-x-container--searchNotFound) .listItemActive :global(.vtex-button__label) {
  color: #000;
}

.listItemActive--pdpTab {
  border: none;
  background-color: #f9f9f9;
}

.listItemActive--pdpTab :global(.vtex-button) {
  border-bottom: 0.25rem solid #fdc100;
  border-radius: unset;
}

.listItemActive--pdpTab :global(.vtex-button__label) {
  padding: 0;
}

.listItem--pdpTab {
  width: 25%;
  /*Con il tab documenti 33.3*/
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.container--tabPdpCollection .listContainer {
  flex-wrap: nowrap;
  overflow-x: scroll;
  justify-content: space-between;
  overflow: hidden;
}

.container--tabPlpCollectionList:global(.vtex-button) {
  background-color: #f2f2f2;
  border-radius: 0;
  height: 100%;
  justify-content: space-around;
  min-width: 7rem;
}

.listContainer--tabPlpCollectionList :global(.vtex-button__label) {
  text-transform: uppercase;
  font-family: "myriadBold";
  color: #505050;
}

.container--tabPdpCollection .listItemActive :global(.vtex-button) {
  border: none;
}

.container--tabPdpCollection .listItemActive :global(.vtex-button__label) {
  color: #ffff;
}

.container--tabPdpCollection .listItem :global(.vtex-button):hover {
  border-radius: 37px;
}

.container--tabPdpCollection .listContainer {
  border-radius: 37px;
  background-color: #f2f2f2;
  /*width: 24rem;*/
  margin: auto;
  margin-bottom: 1rem;
}

.container--tabPdpCollection .listContainer .listItem {
  padding: 0;
  margin: 0;
}

.container--tabPdpCollection .listItemActive :global(.vtex-button) {
  background-color: #007d69;
  border-radius: 37px;
  height: 100%;
}

.container--tabPdpCollection .listItemActive :global(.vtex-button__label) {
  color: #ffffff !important;
}

.listContainer--tabPlpCollectionList :global(.vtex-button) {
  height: 100%;
}

.listContainer--tabPlpCollectionList
  .listItemActive
  :global(.vtex-button__label) {
  color: #f2f2f2;
}

.contentContainer--tabPdpCollection {
  margin: 0 !important;
}

.contentContainer .contentItem--TabContent {
  background-color: #f2f2f2;
  position: relative;
  -webkit-animation: slide 0.6s;
  animation: slide;
  animation-duration: 0.6s;
  padding: 0;
}

.contentContainer .contentItem--TabContentBlack {
  background-color: #f2f2f2;
  position: relative;
  -webkit-animation: slide 0.6s;
  animation: slide;
  animation-duration: 0.6s;
}

@keyframes slide {
  0% {
    opacity: 0;
    left: 100%;
    top: 0px;
  }

  10% {
    opacity: 0.1;
    left: 90%;
    top: 0px;
  }

  20% {
    opacity: 0.2;
    left: 80%;
    top: 0px;
  }

  30% {
    opacity: 0.3;
    left: 70%;
    top: 0px;
  }

  40% {
    opacity: 0.4;
    left: 60%;
    top: 0px;
  }

  50% {
    opacity: 0.5;
    left: 50%;
    top: 0px;
  }

  60% {
    opacity: 0.6;
    left: 40%;
    top: 0px;
  }

  70% {
    opacity: 0.7;
    left: 30%;
    top: 0px;
  }

  80% {
    opacity: 0.8;
    left: 20%;
    top: 0px;
  }

  90% {
    opacity: 0.9;
    left: 10%;
    top: 0px;
  }

  100% {
    opacity: 1;
    left: 0px;
    top: 0px;
  }
}

.container--BannerTab {
  padding-top: 5.625rem;
}

.container--BannerTabBlack {
  background-color: #ffff;
}

.container--BannerTabBlack {
  margin-top: -0.3rem;
  padding-top: 5.625rem;
}

.container--BannerTab .listContainer {
  border-bottom: 0.0625rem solid #979797;
}

.container--BannerTabBlack .listContainer {
  border-bottom: 0.0625rem solid #979797;
}

.container--BannerTab .listItem {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.container--BannerTabBlack .listItem {
  padding: 0;
  margin: 0;
}

.container--BannerTab :global(.vtex-button__label) {
  padding: 0;
  padding-bottom: 2.1875rem !important;
  color: #353535;
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1.375rem;
  text-transform: uppercase;
  line-height: 1.625rem;
  min-width: 10rem;
}

.container--BannerTabBlack :global(.vtex-button__label) {
  padding: 0;
  padding-bottom: 2.1875rem !important;
  color: #9b9b9b;
  font-family: "myriadLight";
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 1.625rem;
  min-width: 10rem;
}

.container--BannerTab .listItemActive :global(.vtex-button) {
  border-bottom: 0.1875rem solid #007d69;

  border-radius: 0;
}

.container--BannerTabBlack .listItemActive :global(.vtex-button) {
  border-bottom: 0.1875rem solid #007d69;
  border-radius: 0;
}

.container--BannerTab :global(.vtex-button) {
  background-color: unset;
  outline: unset;
  border: unset;
  text-transform: unset;
  margin: 0 2.5rem;
}

.container--BannerTabBlack :global(.vtex-button) {
  background-color: unset;
  outline: unset;
  border: unset;
  text-transform: unset;
  margin: 0 2.5rem;
}

.contentContainer--bannerTab {
  /* padding-top: 3.75rem; */
  background: #f2f2f2;
}

.contentContainer--bannerTabBlack {
  padding-top: 3.75rem;
  background-color: #f2f2f2;
}

.contentItem--documentContainer {
  padding-top: 2.625rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*---------------- HOMEPAGE TAB LAYOUT -------------------*/
.container--BannerTabHome :global(.vtex-tab-layout-0-x-listContainer) {
  border: none;
}

.container--BannerTabHome :global(.vtex-button__label) {
  padding-bottom: 0.5rem !important;
  min-width: unset;
  color: rgb(155, 155, 155);
}

.container--BannerTabHome :global(.vtex-button) {
  margin: 0 1.5rem 0 0;
}

.listContainer--bannerTabHome {
  justify-content: flex-start;
  padding: 1rem 3%;
  max-width: 100rem;
  margin: auto;
}

.listItem--backSlideDisabled :global(.vtex-button),
.listItem--goNextSlideActive :global(.vtex-button) {
  width: 57px;
  height: 57px;
  background: #007d69;
}

.listItemActive--backArrowDisabled {
  position: absolute;
  background: #007d69;
  left: 2%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 4;
  height: 57px;
  width: 57px;
  opacity: 0.5;
  pointer-events: none;
}

.listItemActive--backArrowDisabled :global(.vtex-button) {
  margin: 0;
  width: 100%;
  height: 100%;
}

.listItemActive--backArrowDisabled :global(.vtex-button)::after {
  content: url("assets/icons/arrowIconTab.svg");
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
}

.listItem--backArrowActive {
  position: absolute;
  background: #007d69;
  left: 2%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 4;
  height: 57px;
  width: 57px;
}

.listItem--backArrowActive :global(.vtex-button) {
  margin: 0;
  width: 100%;
  height: 100%;
}

.listItem--backArrowActive :global(.vtex-button)::after {
  content: url("assets/icons/arrowIconTab.svg");
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
}

.listItem--goNextSlideActive {
  position: absolute;
  background: #007d69;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 4;
  height: 57px;
  width: 57px;
}

.listItem--goNextSlideActive :global(.vtex-button) {
  margin: 0;
  width: 100%;
  height: 100%;
}

.listItem--goNextSlideActive :global(.vtex-button)::after {
  content: url("assets/icons/arrowIconTab.svg");
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.listItem--goNextSlideDisabled {
  position: absolute;
  background: #007d69;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 4;
  height: 57px;
  width: 57px;
  opacity: 0.5;
  pointer-events: none;
}

.listItem--goNextSlideDisabled :global(.vtex-button) {
  margin: 0;
  width: 100%;
  height: 100%;
}

.listItem--goNextSlideDisabled :global(.vtex-button)::after {
  content: url("assets/icons/arrowIconTab.svg");
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.listContainer--bannerTabActivePoint {
  position: absolute;
  z-index: 100;
}

.listContainer--bannerTabActivePoint {
  justify-content: space-between;
}

.listItem--listItem1ActivePoint,
.listItem--listItem2ActivePoint {
  display: flex;
  justify-content: center;
}

.listItemActive--backArrowActivePoint,
.listItem--backArrowActivePoint,
.listItem--goNextActivePoint,
.listItemActive--goNextActivePoint {
  background: #007d69;
  z-index: 4;
  height: 57px;
  width: 57px;
}

.listItem--backArrowActivePoint,
.listItem--goNextActivePoint {
  opacity: 1;
}

.listItemActive--backArrowActivePoint,
.listItemActive--goNextActivePoint {
  opacity: 0.5;
}

.listItemActive--backArrowActivePoint :global(.vtex-button),
.listItem--backArrowActivePoint :global(.vtex-button),
.listItemActive--goNextActivePoint :global(.vtex-button),
.listItem--goNextActivePoint :global(.vtex-button) {
  margin: 0;
  width: 100%;
  height: 100%;
}

.listItemActive--backArrowActivePoint :global(.vtex-button)::after,
.listItem--backArrowActivePoint :global(.vtex-button)::after {
  content: url("assets/icons/arrowIconTab.svg");
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
}

.listItemActive--goNextActivePoint :global(.vtex-button)::after,
.listItem--goNextActivePoint :global(.vtex-button)::after {
  content: url("assets/icons/arrowIconTab.svg");
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.listContainer--bannerTabActivePoint {
  align-items: center;
}
.contentItem--ourBest3Slider {
  margin-top: 0 !important;
}

/* Media Queries */

@media only screen and (max-width: 600px) {
  .contentContainer--tabPdpCollection
    :global(.vtex-product-summary-2-x-container) {
    border: none !important;
  }

  .contentContainer--tabPdpCollection
    :global(.vtex-slider-layout-0-x-sliderArrows--shelf) {
    display: none;
  }

  .contentContainer--tabPdpCollection
    :global(.vtex-slider-layout-0-x-sliderLayoutContainer) {
    padding: 0 !important;
  }

  .listItem--pdpTab {
    width: 50%;
  }

  .listContainer--pdpTab {
    flex-wrap: unset;
    overflow-x: scroll;
    justify-content: unset;
  }

  .listContainer {
    margin-bottom: 1rem !important;
  }
}

@media only screen and (max-width: 640px) {
  .listItem--tabItemHomeProducts :global(.vtex-button) {
    font-size: 0.8rem;
  }

  .bannerTab {
    margin-top: 5rem;
  }

  .container--BannerTabHome :global(.vtex-button) {
    margin: 0 0.8rem 0 0;
    white-space: nowrap;
  }

  .container--BannerTab {
    padding-top: 2.25rem;
  }

  .container--BannerTab :global(.vtex-button__label) {
    font-size: 1rem;
  }

  .listItem--goNextSlideActive,
  .listItem--goNextSlideDisabled,
  .listItemActive--backArrowDisabled,
  .listItemActive--backArrowActive,
  .listItem--backArrowActive {
    display: none;
  }

  .listContainer--bannerTabHome {
    margin-bottom: 6rem !important;
  }

  .listItemActive--additionalModalTab2Text::before {
    content: "";
    position: absolute;
    left: 25px;
    bottom: 0;
    /* height: 1px; */
    width: 80%;
    border-bottom: 3px solid #007d69;
  }

  .listItem--modalSliderText :global(.vtex-button__label),
  .listItemActive--modalSliderText :global(.vtex-button__label) {
    font-size: 1rem;
    padding-bottom: 1rem !important;
  }
  .listItemActive--modalSliderText {
    width: 9rem;
    height: 4rem;
  }

  .listItem--modalSliderText {
    width: 9rem;
    height: 4rem;
  }

  .listItem--modalSliderText :global(.vtex-button) {
    width: 9rem;
    height: 4rem;
  }

  .listItemActive--modalSliderText :global(.vtex-button) {
    width: 9rem;
    height: 4rem;
  }

  .listItemActive--modalSliderText {
    border: none !important;
  }

  .listItemActive--modalSliderText::before {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0;
    /* height: 1px; */
    width: 100%;
    border-bottom: 3px solid #007d69;
  }

  .listItemActive--additionalModalTab2Text {
    border: none !important;
  }

  .listContainer--searchNotFound {
    margin-bottom: 0!important;
    padding: 1rem 0;
    border-top: 2px solid #bbc9c9;
    border-bottom: 2px solid #bbc9c9;
  }
  .listItem--tabItemSearchNotFound :global(.vtex-button) {
    min-height: unset;
  }
  .listItem--tabItemSearchNotFound :global(.vtex-button__label) {
    font-size: 0.75rem;
    padding-inline: 0;
  }
  .listItemActive--tabItemSearchNotFound :global(.vtex-button__label) {
    font-size: 0.975rem;
  }
  .listItemActive--tabItemSearchNotFound :global(.vtex-button__label)::after {
    bottom: 0px;
    height: 0.0625rem;
    width: 80%;
  }
  
  .contentItem--ItsCarouselMobile {
    margin-bottom: 0;
    padding-bottom: 2.5rem;
  }
}

@media only screen and (max-width: 1024px) {
  .contentItem {
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 800px) and (min-width: 640px) {
  .listItemActive--modalSliderText :global(.vtex-button__label) {
    font-size: 0.8rem !important;
  }

  .listItem--modalSliderText :global(.vtex-button__label) {
    font-size: 0.8rem !important;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 600px) {
  .contentContainer--tabPdpCollection
    :global(.vtex-slider-layout-0-x-sliderLayoutContainer) {
    padding: 0 !important;
  }

  .contentContainer--tabPdpCollection
    :global(.vtex-store-components-3-x-productNameContainer--summaryName) {
    padding: 1rem 0 !important;
  }

  .contentContainer--tabPdpCollection
    :global(.vtex-product-summary-2-x-container) {
    border: none !important;
  }

  .listContainer--tabPlpCollectionList {
    width: 24rem !important;
  }

  .contentContainer--tabPdpCollection :global(.vtex-slider-layout-0-x---shelf) {
    display: none;
  }

  .contentContainer--tabPdpCollection
    :global(.vtex-flex-layout-0-x-flexRowContent--priceAndSavingMobile) {
    flex-direction: row-reverse;
    display: flex;
  }

  .contentContainer--tabPdpCollection
    :global(.vtex-product-price-1-x-sellingPrice--summaryPL--hasListPrice) {
    display: flex;
    flex-direction: column;
  }
}

.contentContainer--tabPdpCollection
  :global(.vtex-product-summary-2-x-imageContainer) {
  height: 200px;
  width: 160px;
  margin: auto;
}

@media only screen and (max-width: 1200) {
  .contentContainer--tabPdpCollection
    :global(.vtex-flex-layout-0-x-flexRowContent--imageAndPriceMobile) {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .contentItem--documentContainer {
    align-items: unset;
  }
}

@media only screen and (max-width: 1100px) {
  .container--BannerTab .listContainer {
    display: flex;
    overflow-x: scroll;
    flex-wrap: nowrap;
    justify-content: start;
  }
}

@media only screen and (max-width: 600px) {
  .contentContainer .contentItem--TabContent {
    -webkit-animation: slide 0.4s;
    animation: slide;
    animation-duration: 0.4s;
  }

  .contentContainer .contentItem--TabContentBlack {
    -webkit-animation: slide 0.4s;
    animation: slide;
    animation-duration: 0.4s;
  }
}

@media only screen and (max-width: 600px) {
  .listContainer--pdpTab {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: start;
  }

  .listItem--pdpTab {
    min-width: 10rem;
  }
}

.container--BannerTabBlack :global(.vtex-button__label) {
  font-family: "myriadLight";
  font-size: 1.25rem;
  text-transform: uppercase;
  color: white;
}

.container--BannerTabBlack .listItemActive :global(.vtex-button) {
  border-bottom: 0.1875rem solid #007d69;
}
@media only screen and (max-width: 860px){
  .infoCardTextContainer--infoCardPreOrderReverse{
    padding: 1rem;
  }
  .infoCardTextContainer--infoCardPreOrder{
    padding: 1rem;
  }
}