.summarySmallDisclaimer {
  display: none;
}

.summaryItemContainer .summaryItemLabel--summary-totalizers-Text {
  color: rgb(104, 104, 104);
  font-weight: 400 !important;
}

.summaryItemContainer:last-child .summaryItemLabel--summary-totalizers-Text {
  color: #007d69;
  font-weight: bold;
}