.trigger--flex {
  padding-left: 3rem;
  padding-right: 2rem;
  margin-top: auto;
  margin-bottom: auto;
}

:global(.vtex-flex-layout-0-x-flexRowContent--tootltipLabelMouseHover) .container {
  padding-right: 0.6rem;
  width: max-content;
  /* width: 55vh; */
}
@media only screen and (max-width: 640px){
  :global(.vtex-flex-layout-0-x-flexRowContent--tootltipLabelMouseHover) .container {
    width: auto;
  }
}
