/* .skuSelectorContainer--quickview .skuSelectorItemImage .frameAround, .skuSelectorContainer--quickview .skuSelectorItemImage .skuSelectorInternalBox {
  border-radius: 50%;
} */
/*------------------ NEW PRODUCT CARD BK --------------*/
.imageWrapper--productImageBk {
  margin: 0 !important;
  display: flex;
  justify-content: center;
}

/* Avoid CLS regression and fix quality of retrieved images in PLP */
.image--productImageBk {
  height: 180px !important;
  max-width: 180px !important;
  min-width: 180px;
}

/*------------------ END --------------*/

/*  "bauknechtPLP-comparison-small" */

.element--bauknechtPLP-comparison-small .imageWrapper--productImageBk {
  width: 100%;
  height: unset;
}

.element--bauknechtPLP-comparison-small .imageStackContainer {
  width: 100%;
  height: unset;
}


/*------------------ END --------------*/

.imageWrapper {
  text-align: center;
}

.container :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.container:hover :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 1;
}

.nameContainer {
  justify-content: start;
  padding: 0.5rem 1rem;
}

.productBrand {
  font-weight: 300 !important;
  font-size: 1.25rem !important;
  line-height: 1.2;
  color: #505050;
}

.container {
  text-align: start;
  border: 1px solid rgb(236, 236, 236);
  transition: 0.3s;
}

.container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.image {
  border-radius: 0.25rem;
}

.element {
  padding: 0;
}

.container {
  border-radius: unset;
}

.container :global(.vtex-button) {
  border-radius: 0;
  width: 90%;
  margin: 0 auto 0.6rem auto;
  padding: 0;
}

.container :global(.vtex-button) {
  transition: all 0.5s ease-in-out;
}

.container :global(.vtex-button__label) {
  padding: 0.5rem !important;
  font-size: 0.75rem;
  font-weight: 600;
  font-family: "myriadBold";
  text-transform: uppercase;
}

.containerNormal {
  max-width: unset !important;
  overflow: visible;
}

.imageWrapper {
  margin-top: 0rem;
}

.imageContainer {
  margin-top: 9px;
}

.container--shelfHeaderSearch {
  border-radius: 10px;
}

.element--shelfHeaderSearch {
  padding-top: 0 !important;
}

.imageContainer--headerSearchShelfImage {
  width: 100px !important;
  height: 100px !important;
  margin-bottom: 0;
}

.container--shelfHeaderSearch {
  border-radius: 10px;
}

.element--shelfHeaderSearch {
  padding-top: 0 !important;
}

.imageContainer--headerSearchShelfImage {
  width: 100px !important;
  height: 100px !important;
  margin-bottom: 0;
}

/*Comparison plp*/
:global(.vtex-product-summary-2-x-image--comparisonDrawer) {
  height: 6.25rem;
}

.column--drawer-summary-col2 .imageContainer {
  height: 100px;
  margin: 0 inherit;
}

.column--drawer-summary-col2 :global(.vtex-product-summary-2-x-imageContainer) {
  margin: 0;
}

.column--drawer-summary-col2 :global(.vtex-store-components-3-x-discountInsideContainer) {
  display: none;
}

.nameContainer--nameProductCompare {
  width: 80%;
  margin-bottom: 0.9375rem;
  justify-content: center;
  text-align: center;
}

.brandName--nameProductCompare {
  font-weight: 400 !important;
  font-size: 0.875rem !important;
  line-height: 1rem;
  color: #505050;
}

.column--drawer-summary-col2 :global(.vtex-product-specifications-1-x-specificationValue--first) {
  padding: 0;
  margin: 0 auto;
}

:global(.vtex-slider-layout-0-x-slide--comparison-page) .imageContainer .image {
  height: unset !important;
}

:global(.vtex-slider-layout-0-x-slide--comparison-page) .productBrand {
  font-size: 1rem !important;
  font-weight: 400 !important;
}

.priceContainer--priceUnavailableProd {
  padding: unset;
}

.productPriceClass--priceUnavailableProd {
  width: 100%;
}

.sellingPrice--priceUnavailableProd {
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: "myriadLight";
  color: #505050;
  padding: unset;
}

.sellingPriceContainer--priceUnavailableProd {
  padding: unset !important;
}

.productPriceClass--priceUnavailableProd::after {
  content: "IVA inclusa";
  font-size: 0.65rem;
  color: #505050;
}

.imageContainer--productImageMobile {
  display: flex;
}

.image--productImageMobileCarousel {
  width: 80% !important;
}

.priceContainer--priceUnavailableProdCarousel {
  width: auto !important;
  padding: 0;
}

.price_sellingPriceLabel--priceUnavailableProdCarousel {
  text-transform: lowercase;
  font-size: 0.75rem;
}

.price_listPriceLabel--priceUnavailableProdCarousel {
  padding: 0;
  font-size: 0.75rem;
  color: #d0d3d4;
}

.price_listPrice--priceUnavailableProdCarousel {
  font-size: 1rem;
  color: #d0d3d4;
}

.price_sellingPrice--priceUnavailableProdCarousel {
  font-family: "myriadLight";
  font-size: 1rem;
}

/* .spacer{
  background: red !important;
  height: 1px !important;
} */

.element--bauknechtPLPCard-carousel {
  padding: 15px !important;
}

.element--bauknechtPLPCard-carousel :global(.vtex-wish-list-1-x-wishlistIconContainer--wishListBKPLP-carousel-small) {
  position: static !important;
  justify-content: flex-end;
  margin-right: 0.5rem;
}

.containerNormal--bauknechtPLPCard-carousel {
  border-bottom: 2px solid #ececec;
}

:global(.vtex-flex-layout-0-x-flexColChild--offersSectionPreOrder) .containerNormal--bauknechtPLPCard-carousel {
  background: white;
}

:global(.vtex-flex-layout-0-x-flexColChild--offersSectionPreOrder) .containerNormal {
  max-width: 300px !important;
}
.imageWrapper--compareImageStickyMobile {
  min-width: 100px;
  min-height: 100px;
}

/* Media Queries */
@media screen and (max-width: 40em) {
  .container :global(.vtex-modal-layout-0-x-triggerContainer) {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  :global(.vtex-slider-layout-0-x-sliderLayoutContainer--bestSeller) .containerNormal {
    margin: 0 50px;
  }

  .clearLink--drawer-summary {
    max-height: 20rem;
    min-height: 20rem;
  }

  .image--productImageMobile {
    width: 80% !important;
  }
}

@media screen and (max-width: 668px) {
  .imageContainer {
    margin-top: 0;
    margin-bottom: 0;
  }

  .element {
    padding-bottom: 0.5rem;
  }

  .priceContainer--priceUnavailableProd {
    padding-left: 1rem;
  }
}

@media screen and (max-width: 1024px) {
  .containerNormal {
    position: relative;
    overflow: visible;
  }

  .imageContainer,
  .imageWrapper--productImageMobile {
    width: auto;
  }

  .imageContainer--productImageMobile,
  .imageWrapper--productImageMobile {
    margin: 0;
  }

  .imageContainer--productImageMobile {
    margin-left: 1rem;
  }

  .element--bauknechtPLPCard-mobile {
    padding: 2rem;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .clearLink--bauknechtPLPCard-mobile :global(.vtex-flex-layout-0-x-flexRowContent--productPriceMobilePLPBK) {
    flex-direction: row;
    justify-content: flex-end;
  }

  .clearLink--bauknechtPLPCard-mobile :global(.vtex-flex-layout-0-x-flexRowContent--productPriceMobilePLPBK) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: auto !important;
  }
}

@media screen and (min-width: 900px) {
  .element--bauknechtPLPCard-carousel :global(.vtex-wish-list-1-x-wishlistIconContainer--wishListBKPLP-carousel-small) {
    position: absolute !important;
  }
}

@media screen and (max-width: 640px) {
  .element--bauknechtPLPCard-carousel :global(.vtex-wish-list-1-x-wishlistIconContainer--wishListBKPLP-carousel-small) {
    position: absolute !important;
  }
}