/*----------- NEW COMPARE ---------------*/
.productSelectorContainer--compareSearchBKPDP {
  margin: 0 !important;
  padding: 0 !important;
}

.productSelectorContainer--compareSearchBKPDP
  :global(.vtex-checkbox__line-container) {
  height: 40px;
}

.productSelectorContainer--compareSearchBKPDP
  :global(.vtex-checkbox__container) {
  display: flex;
  height: 100%;
  width: 58px;
  margin: 0;
  border-top: 0.8px solid #007d69;
  border-right: 0.8px solid #007d69;
  border-bottom: 0.8px solid #007d69;
  border-left: 0.8px solid #007d69;
  box-sizing: content-box;
}

.productSelectorContainer--compareSearchBKPDP :global(.vtex-checkbox__label) {
  height: 100%;
  border-top: 0.8px solid #007d69;
  border-right: 0.8px solid #007d69;
  border-bottom: 0.8px solid #007d69;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  font-size: 0.9rem;
  font-family: "myriadBold";
  color: #007d69;
}

.productSelectorContainer--compareSearchBKPDP
  :global(.vtex-checkbox__inner-container) {
  margin: 0;
  width: 100%;
  height: 100%;
  border-radius: 0;
  border: none;
}

.productSelectorContainer--compareSearchBKPDP
  :global(.vtex-checkbox__box-wrapper) {
  width: 100%;
  height: 100%;
}

.productSelectorContainer--compareSearchBKPDP :global(.vtex-checkbox__input) {
  width: 8.5rem;
  height: 2.5rem;
}

/* .productSelectorContainer--compareSearchBKPDP
  :global(.vtex-checkbox__input):hover {
  background-image: url(assets/icons/compare-icon.svg);
  transition: all 0.3s ease;
} */

.productSelectorContainer--compareSearchBKPDP :global(.vtex-checkbox__box) {
  color: transparent;
}

.productSelectorContainer--compareSearchBKPDP :global(.vtex__icon-check) {
  width: 100%;
  height: 100%;
  background-image: url(assets/icons/compare-icon.svg);
  background-size: cover;
  background-position: center;
  /* z-index: 2; */
}

/*------------------------------------*/
.productSelectorContainer--compareSearchBKPLP {
  align-items: end;
  display: flex;
  height: 42px;
  margin: 0 0.5rem 0 0 !important;
  padding: 0 !important;
}

.productSelectorContainer--compareSearchBKPLP
  :global(.vtex-checkbox__box-wrapper) {
  display: none;
}

.productSelectorContainer--compareSearchBKPLP
  :global(.vtex-checkbox__line-container) {
  /*border: 0.8px solid #007d69;*/
  height: 100%;
}

.productSelectorContainer--compareSearchBKPLP :global(.vtex-checkbox__label) {
  margin: auto;
  padding: 0 0.5rem;
  color: #007d69;
  font-family: "myriadBold";
  font-size: 0.9rem;
}

.productSelectorContainer--compareSearchBKPLP
  :global(.vtex-checkbox__container) {
  /*border-right: 0.8px solid #007d69;*/
  background-image: url(assets/icons/compare-icon-hovered.svg);
  background-position: center;
  background-size: cover;
  border: 1.5px solid #007d69;
  display: flex;
  height: 100%;
  margin: 0;
  padding: 1.2rem;
  position: initial !important;
  transition: all 0.3s ease;
  width: auto;
}

.productSelectorContainer--compareSearchBKPLP
  :global(.vtex-checkbox__container):hover {
  background-image: url(assets/icons/compare-icon.svg);
  transition: all 0.3s ease;
}

.productSelectorContainer--compareSearchBKPLP
  :global(.vtex-checkbox__inner-container) {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  /*border: none;*/
  border: 1.5px solid #007d69;
  border-radius: 0;
  background-color: transparent;
}

.productSelectorContainer--compareSearchBKPLP :global(.vtex-checkbox__input) {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.productSelectorContainer--productComparisonPLPBK-grid
  :global(.vtex-checkbox__label) {
  display: none;
}
.productSelectorContainer--productComparisonPLPBK-grid
  :global(.vtex-checkbox__container) {
  border: none;
  width: 40px;
  height: 40px;
}

.productSelectorContainer--compareSearchPage
  :global(.vtex-checkbox__container)::after {
  content: url(assets/icons/compareIconNew.png);
  max-width: 24px;
  max-height: 24px;
  position: absolute;
  top: 0;
}

.productSelectorContainer--compareSearchPage
  :global(.vtex-checkbox__container)::after {
  left: -25px;
}

.productSelectorContainer {
  padding: 0.75rem 0.5rem;
  margin: 0.5rem;
}

.productSelectorContainer--compareSearchPage
  :global(.vtex-checkbox__container) {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 0;
}

.productSelectorContainer--compareSearchPage
  :global(.vtex-checkbox__line-container) {
  width: 50%;
  margin: 0 auto;
}

.productSelectorContainer--compareSearchPage :global(.vtex-checkbox__input) {
  z-index: 10;
  cursor: pointer;
  width: auto;
  left: 0;
}

.productSelectorContainer--compareSearchPage :global(.vtex-checkbox__label) {
  font-size: 0.9rem;
  text-decoration: underline;
  font-family: "myriadLight";
}

.productSelectorContainer--compareSearchPage
  :global(.vtex-checkbox__inner-container) {
  visibility: hidden;
}

.productSelectorContainer--compareSearchPage
  :global(.vtex-checkbox__box-wrapper) {
  visibility: hidden;
}

.title {
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 2.625rem;
  color: #505050;
}

.fieldNameCol {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #505050;
}

.drawerContainer {
  z-index: 2;
  border: none;
}

.showDifferencesContainer--rowSliderPComparison {
  margin: 0 auto;
}

.showDifferencesContainer--rowSliderPComparison
  :global(.vtex-checkbox__container) {
  margin: 5px auto;
}

.showDifferencesContainer--rowSliderPComparison :global(.vtex-checkbox__label) {
  margin-left: 3px;
  width: 222px;
}

.drawerContainer
  :global(.vtex-product-summary-2-x-column--drawer-summary-col2) {
  padding: 0;
  max-width: 100%;
}

.drawerContainer :global(.vtex-product-summary-2-x-element--drawer-summary) {
  justify-content: center;
}

.drawerContainer :global(.vtex-product-summary-2-x-element) {
  padding-top: 2rem;
}

.comparisonButtons {
  margin: 0;
  margin-right: 0.5rem;
  padding: 0.5rem;
  background: #c8c8c8;
  border-top: 1px solid #e3e4e6;
}

.expandCollapseButton {
  position: relative;
  color: #007d69;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "myriadBold";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2;
  border-radius: 0.25rem;
  border: 0.0625rem solid #007d69;
  background: #ffffff;
}

.expandCollapseButton::after {
  content: url(assets/icons/iconaArrow.svg);
  color: #9e9e9e;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: none;
}

.expandCollapseButton:hover {
  color: white;
  background: #007d69;
}

.removeAllWrapper {
  border-radius: 0.25rem;
  border: 0.0625rem solid #007d69;
  background: #fff;
}

.removeAllWrapper:hover {
  border-color: #007d69;
}

.removeAllWrapper :global(.vtex-button) {
  color: #007d69;
}

.removeAllWrapper :global(.vtex-button):hover {
  color: #fff;
  background-color: #007d69;
  border-color: #007d69;
}

.removeAllWrapper:hover {
  color: white;
  background: #007d69;
}

.removeAllWrapper :global(.vtex-button__label) {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  font-weight: 400 !important;
  font-size: 0.875rem;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "myriadBold";
}

.drawer {
  background: #f2f2f2;
  margin: 0 0.5rem;
  padding: 0;
}

:global(.vtex-slider-layout-0-x-slide--comparison-drawer--visible) {
  width: 100% !important;
  /* margin: 0 auto !important; */
}

:global(.vtex-slider-layout-0-x-slide--comparison-drawer) {
  background-color: #ffffff;
  margin: 1rem;
  max-width: 240px !important;
}

.productSummaryRowContainer {
  background: white;
  transform: scaleY(1);
  z-index: 998;
}

.productSummaryRowContainer--rowSliderPComparison {
  flex-direction: column-reverse;
}

.closeButton {
  border: none;
  padding: 0.3rem;
  position: absolute;
  right: 0;
}

.closeButtonContainer {
  position: absolute;
  top: 0;
  right: 0;
}

.compareProductButtonWrapper :global(.vtex-button) {
  text-transform: uppercase;
}
.pageContainer--comparisonPageBox {
  width: 100%;
  /* margin: 0 -3rem; */
}
.productSelectorContainer--compareSearchBKPDP
  :global(.vtex-checkbox__container)::before {
  content: url(assets/icons/compare-icon-hovered.svg);
  min-width: 42px;
  max-height: 40px;
  position: absolute;
  top: 0;
}

.productSelectorContainer--compareSearchBKPDP
  :global(.vtex-checkbox__container):hover::before {
    content: url(assets/icons/compare-icon.svg);
    transition: all 0.3s ease;
}
/* Media Queries */
@media only screen and (min-width: 1100px) {
  .productSelectorContainer--compareSearchPage :global(.vtex-checkbox__input) {
    width: 6em;
    left: -2em;
  }
}

@media only screen and (max-width: 1024px) {
  .drawerContainer--compareDrawerPDP {
    bottom: 112px;
  }
}

@media only screen and (max-width: 600px) {
  :global(.vtex-slider-layout-0-x-slide--comparison-drawer) {
    margin: 0;
  }

  :global(.vtex-pageHeader__title) {
    margin-bottom: 10px;
  }

  :global(.vtex-pageHeader__children) {
    margin: 0 auto;
  }

  .comparisonButtons {
    flex-wrap: wrap;
  }

  .expandCollapseButton {
    margin: 0 0.5rem;
  }

  .removeAllWrapper {
    display: block;
    flex: auto;
  }

  .removeAllWrapper :global(.vtex-button__label) {
    margin: auto;
  }

  .compareProductButtonWrapper {
    flex: auto;
  }

  .productSelectorContainer--compareSearchPage {
    display: block;
  }

  .productSelectorContainer--compareSearchPage :global(.vtex-checkbox__input) {
    width: 100px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
  :global(.vtex-slider-layout-0-x-slide--comparison-drawer) {
    margin: 0.2rem;
  }

  .productSelectorContainer--compareSearchPage {
    width: auto !important;
  }
}

.removeAllWrapper :global(.vtex-button):focus {
  background-color: transparent;
  border: transparent;
}

.productSummaryRowContainer :global(.vtex-product-summary-2-x-imageContainer) {
  width: 5em;
  height: 5em;
  margin: auto;
}

@media only screen and (max-width: 1100px) {
  .fieldNameCol {
    width: 50%;
    min-width: unset;
  }

  .rowContainer :global(.vtex-slider-layout-0-x-sliderLayoutContainer) {
    width: 50%;
  }
}

@media only screen and (max-width: 1000px) {
  .title {
    display: flex;
    justify-content: center;
  }

  .productSummaryRowContainer--rowSliderPComparison {
    display: flex;
    flex-direction: column;
    margin: 0;
  }

  .productSummaryRowContainer .fieldNameCol {
    margin: 1vh auto;
    width: 100% !important;
  }

  /*SLIDER inerente la pagina comparativa*/
  .productSummaryRowContainer--rowSliderPComparison
    :global(.vtex-slider-layout-0-x-sliderLayoutContainer) {
    width: 100% !important;
  }

  .fieldNameCol--rowSliderPComparison {
    width: 100%;
  }
}

@media only screen and (max-width: 668px) {
  .productSummaryRowContainer {
    position: unset;
  }

  .closeButton {
    border: none;
    padding: 0rem;
    position: absolute;
    right: 0;
  }

  .productSelectorContainer--compareSearchPage {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }

  .productSelectorContainer--compareSearchPage :global(.vtex-checkbox__label) {
    width: auto;
    margin-left: 35px;
  }

  .productSelectorContainer--compareSearchPage
    :global(.vtex-checkbox__container)::after {
    left: 0 !important;
  }

  .productSelectorContainer--compareSearchPage
    :global(.vtex-checkbox__line-container) {
    margin: 0;
  }
}
@media only screen and (max-width: 640px) {
  .productSelectorContainer--compareSearchBKPDP :global(.vtex-checkbox__label) {
    display: none !important;
  }
  .productSelectorContainer--compareSearchBKPDP {
    width: 42px !important;
    height: 40px;
  }
}
@media only screen and (max-width: 640px) {
  .productSelectorContainer--compareSearchBKPDP :global(.vtex-checkbox__input) {
    width: 2.5rem;
  }
}
