.inputTitle {
  font-family: "myriadLight";
}
.inputError {
  font-family: "myriadLight";
}
.textArea {
  font-family: "myriadLight";
}
.formContainer {
  font-family: "myriadLight";
}
.loaderForm {
  background: linear-gradient(to right, #007d69 10%, rgba(237, 177, 18, 0) 42%);
}
.loaderForm::before {
  background: #007d69;
}
.mailTo {
  color: #007d69;
}
.formLink {
  color: #007d69;
}
.inviaButton :global(.vtex-button) {
  font-family: "myriadBold";
  transition: all 0.5s ease-in-out;
}

/* Media Queries */
@media only screen and (min-width: 1100px) {
  :global(.vtex-flex-layout-0-x-flexRow--CustomFormRow) .formContainer {
    max-width: 56.25rem;
  }
}
