.containerPayPal {
  margin: 1rem 0;
  background-color: #fff;
  min-width: 166px;
  height: 44px;
  max-height: 44px;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  display: block;
  padding: 9px;
  width: 100%;
  justify-content: center;
  padding-left: 18px;
  }
/* ------ MEDIA QUERY ------ */
  @media only screen and (max-width: 450px) {
  .containerPayPal {
    padding-left: 12px;
  }
}
