.faqWrapper {
    width: 100%;
}

.faqContainer,
.faqContainerOpen {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.0625rem solid #979797;
}

.QuestionText .container .wrapper .paragraph,
.QuestionTextOpen .container .wrapper .paragraph {
    font-size: 0.9rem;
    overflow-wrap: anywhere;
}

.AnswerText .container .wrapper .paragraph {
    font-size: 0.75rem;
    margin-bottom: 1.5rem;
}

.caretIconContainer {
    cursor: pointer;
    padding: 1em;
}

/* BLACK FRIDAY */

.faqContainer--blackFriday {
    background-color: #eeeeee;
    padding: 0;
    border: none;
    margin-bottom: 24px;
}

.link--blackFriday {
    color: #292929;
}

.QuestionText--blackFriday .container .wrapper .paragraph,
.QuestionTextOpen--blackFriday .container .wrapper .paragraph {
    font-weight: 900;
}

.QuestionTextOpen--blackFriday {
    /* background-color: #007d69; */
    background-color: #d0d3d4
}

.QuestionTextOpen--blackFriday .headingLevel3--blackFriday {
    color: black;
    /* color: #ffffff; */
}

.AnswerText--blackFriday .container .wrapper .paragraph {
    padding: 0 54px;
    font-size: 15px;
    line-height: 2rem;
}

.AnswerText--blackFriday .container {
    background-color: #f9f9f9;
}

.caretIconContainer--blackFriday {
    background-color: #ffffff;
    border-radius: 50%;
    padding: 0;
    align-self: center;
    display: grid;
    place-items: center;
    max-height: 29px;
    max-width: 29px;
    min-height: 29px;
    min-width: 29px;
}

.caretIcon--blackFriday {
    filter: contrast(0);
}
.faqWrapper--preOrder {
    margin-top: 3rem;
}
/* PRE ORDER PAGE */
.headingLevel3--preOrder,
.paragraph--preOrder {
  font-size: 1.063rem !important;
  color: black !important;
  font-family: 'myriadLight';
}
.headingLevel3--preOrder {
  margin: 1.5rem 0;
}
.paragraph--preOrder {
  margin: 2.5rem 0;
  color: black !important;
}
.QuestionText--blackFriday,
.QuestionTextOpen--blackFriday {
  display: flex;
  justify-content: space-between;
  padding: 0 3.25rem;
}
@media only screen and (max-width: 1024px) {
  .faqWrapper--preOrder {
    padding: 0 1.25rem;
  }
  .faqContainer--blackFriday {
    margin-bottom: 0.5rem !important;
  }
}
/* ---------------------- */
@media only screen and (max-width: 1024px) {

    .QuestionText--blackFriday,
    .QuestionTextOpen--blackFriday,
    .AnswerText--blackFriday .container .wrapper .paragraph {
        padding: 0 12px;
    }
}
@media only screen and (max-width: 640px) {
    .faqWrapper--preOrder {
      margin-top: 1rem;
    }
}