.confirmButton {
  color: #007d69;
  font-family: "myriadLight";
  border: 1px solid white;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.confirmButton:hover {
  font-family: "myriadBold";
  border: 1px solid #007d69;
  transition: all 0.5s ease-in-out;
}
.inputContainer :global(.vtex-styleguide-9-x-input) {
  line-height: 1;
}
.privacy,
.informativa :global(.vtex-checkbox__label) {
  font-family: "myriadLight";
}
.colorEdb112 {
  color: #007d69;
}
@media screen and (max-width: 1024px) {
  .confirmButton {
    top: -6rem !important;  }
}
