.title,
.paragraphh .title {
  font-family: "myriadBold" !important;
  font-size: 1rem !important;
  color: #607171 !important;
  text-align: start !important;
  padding: 0 0.3125rem !important;
}

.matricola {
  font-family: "myriadLight";
  font-size: 1rem;
  color: #585858;
}

.matricola .title {
  font-family: "myriadLight" !important;
  padding: 0;
  color: #637977;
}

.paragraphh {
  font-family: "myriadLight";
  font-size: 0.9375rem;
  color: #585858;
}

.inputTitle {
  font-family: "myriadBold";
  font-size: 0.75rem;
  color: #607171;
}

.formContainer :global(.vtex-styleguide-9-x-input) {
  font-family: "myriadLight";
  font-size: 1.125rem;
  color: #607171;
}

.groupInput .singleInput {
  margin: 0 0.3125rem;
}

.singleSelect {
  font-family: "myriadLight";
  font-size: 1.125rem;
  color: #607171;
}

.textArea {
  font-family: "myriadLight";
  font-size: 1.125rem;
  color: #607171;
}

.singleInput :global(.vtex-dropdown__button) {
  font-family: "myriadLight";
  font-size: 1.125rem;
  color: #607171;
}

.singleSelectProdotto :global(.vtex-dropdown__button) {
  font-family: "myriadLight";
  font-size: 1.125rem;
  color: #585858;
}

.singleSelectMotivo :global(.vtex-dropdown__button) {
  font-family: "myriadLight";
  font-size: 1.125rem;
  color: #607171;
}

.consenso {
  font-family: "myriadLight";
  color: #585858;
  font-size: 0.9375rem;
}

.consenso .title {
  font-family: "myriadLight";
  font-size: 1rem;
  color: #607171;
  padding: 0;
}

.formLink {
  color: #007d69;
  font-family: "myriadLight";
  text-decoration: underline;
}

.consenso :global(.vtex-checkbox__label) {
  font-family: "myriadLight";
  font-size: 0.9375rem;
  color: #585858;
}

.inviaButton :global(.vtex-button) {
  font-family: "myriadLight";
  transition: all 0.5s ease-in-out;
  font-size: 1.125rem;
  text-transform: uppercase;
  background: #007d69;
}

.inviaButton :global(.vtex-button):hover {
  /* border: 1px solid #007d69; */
  background-color: #40a08c;
}

.inputError {
  font-family: "myriadLight";
  font-size: 0.9375rem;
  color: #d10000;
  border-bottom: 1px solid #d10000;
}

.asterisco {
  font-family: "myriadLight";
  font-size: 0.9375rem;
  color: #585858;
}
