.formContainer{
  background-color:#f9f9f9;
  display: flex;
  flex-direction: row;
  /* margin: auto; */
  padding: 3rem 3.125rem;
    max-width: 100%;
  
  padding: 2rem 3.125rem;
  margin-bottom: 7rem;
}
.store-locator-app{
  background-color: black;
}

.button{
    bottom: .625rem;
    max-width: 12rem;
    margin: 0.5rem;
    border-radius: 11px;
}
.button:hover{
animation: hover 1s cubic-bezier(.86,0,.07,1) forwards
}
.inputContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 2rem;
  background-color: #fff;
  margin: 1rem;
  flex: 0 0 40%;
  min-height: 21rem;
  border-radius: 1.875rem;
}

.input{
width: 100%;
display: block;
border: 0;
margin-bottom: 0;
font-family: "hotpointRegular",Arial;
border-bottom: none;
color: #353535;
padding: 0 0 .3125rem 0;
background: 0 0;
height: 1.5625rem;
font-weight: 400;
font-size: 1.125rem;
line-height: 1.25rem;
border-bottom: .0625rem solid #e7e7e7;
}
.inputText{
  display: block;
    text-transform: uppercase;
    padding-top: .5rem;
    text-align: left;
    font-family: "hotpointRegular",Arial;
    font-weight: 400;
    font-size: 0.75rem;
    line-height: 1.1875rem;
}

.inputLabel{
  font-family: "hotpointRegular",Arial;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-bottom: 1.875rem;
   /* display: block; */
  padding-top: .5rem;
  text-align: left;
  /* font-family: "hotpointRegular",Arial; */
    /* font-weight: 400; */
    /* font-size: 1.5rem; */
    /* line-height: 1.75rem; */
    /* margin-bottom: 1.875rem; */ 
}
@media (max-width: 992px) {
  .inputContainer{
    min-height: 27rem !important;
  }
}
@media (max-width: 600px) {
  .formContainer{
    flex-direction: column;
    padding: 2rem 0.125rem
  }
  .inputContainer{
    padding: 1rem;
    margin: 1rem;
    min-height: unset !important;
  }
}