.cartModalContainer {
}
.modalCheckboxInput{}
.closeButtonContainer {
	display: flex;
	justify-content: flex-end;
	font-size: 1.5rem !important;
	font-weight: bold;
}
.closeButtonContainer:hover {
	cursor: pointer;
}
.cartModalVideoContainer {
}
.modalDescription {
	font-weight: bold;
}
.cartModalUnorderedList {
	list-style: none;
	padding-left: 0;
}
.cartModalListItem {
	margin: 10px 0;
}
.cartModalListItem::before {
	content: "✓";
	color: green;
	margin-right: 10px;
	font-size: 1rem;
}
.modalCheckboxContainer {
	display: flex;
}
.saveButtonContainer {
	display: flex;
	justify-content: flex-end;
}
.textOverCheckbox {
	font-weight: bold;
}
.textNearCheckbox {
	font-size: 13px;
}
.saveButton {
	outline: none;
	border: none;
	width: 3.5rem;
	height: 2rem;
	color: #fff;
	border-radius: 2px;
	font-size: 14px;
	cursor: pointer;
	text-align: center;
}
.errorMessage {
	border: 1px solid;
	font-size: 14px;
	padding: 10px;
	margin-bottom: 1rem;
}
