.leadTimeWrapper{
	display: flex;
  align-items: center;
  margin-bottom: 0.625rem;
}
.leadTimeImg {
	width: 14px;
	height: 14px;
	margin-right: 0.5rem;
  }
  .PDSLabel{}
.productListContainer {
}
.imageAndNameLink {
	display: flex;
	text-decoration: none;
}
.nameAndSubText {
	margin-left: 1rem;
	display: flex;
	flex-direction: column;
	color: #333;
	font-size: 20px;
}
.productImage {
	width: 6rem;
}
.productName {
	/* font-size: 0.75rem; */
	text-transform: uppercase;
}
.productName:hover {
	/* font-size: 0.75rem; */
}
.subText {
	/* font-size: 0.75rem; */
	margin-bottom: 10px;
	margin-top: 5px;
}
.subText {
	color: #999;
}
.subText2 {
	font-size: 0.75rem;
}
.subText:hover {
	/* color: var(--url-color-hover); */
}
.productquantityContainer {
	display: flex;
	justify-content: space-between;
	max-width: 85%;
	border: 1px solid #cbcbcb;
	padding: 0.3rem 0.5rem;
	border-radius: 5px;
}
.minusButton,
.plusButton {
	all: unset;
	cursor: pointer;
}
.minusButtonDisabled {
	all: unset;
	opacity: 0.2;
	pointer-events: none;
}
.productPrice {
	font-size: 1.5rem;
}
.productPriceContainer {
	display: flex;
	flex-direction: column;
	/* font-size: var(--base-font-size); */
	margin-left: 0.5rem;
}
.productListPrice {
	color: #999;
	font-size: 0.8rem;
	text-decoration: line-through;
}
.removeProductButton {
	all: unset;
	padding: 5px 0 0 5px;
}
.removeProductImg {
}
/*-----------ENERGY AND SHEET-------------------*/
/* .energyAndSheetContainer {
	display: flex;
	justify-items: center;
	margin-left: 1rem;
}
.energyAndSheetContainer :global(.vtex-button) {
	color: #000;
	text-decoration: underline;
	font-size: 0.75rem;
}
.energyLabelUndefined {
	display: none;
} 

METTIAMO LO STILE NEL CSS DELL'APP 
SE NON C'è L'ENERGY LABEL NON DOBBIAMO PORTARCI DIETRO IL SUO STILE 
*/

/*---------------------------*/
