.wtbTitle {
  font-family: "hotpointRegular";
  font-weight: 400;
  font-size: 1.75rem;
  color: #B24C24;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 1.875rem;
}

.wtbTitleUnderline {
  font-family: "hotpointRegular";
  font-weight: 400;
  font-size: 1.75rem;
  color: #B24C24;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 1.875rem;
  text-decoration: underline;
  text-underline-offset: 10px;
}

.wtbButton{
  width: 100%;
  margin: 10px 0px;
  padding: 0.5rem;
  background: white;
  color: #B24C24;
  border-radius: 2px;
  border: 0px;
  font-family: "hotpointMedium";
  letter-spacing: 2px;
  font-size: 0.875rem;
  text-decoration: underline;
  cursor: pointer;
}

.buyNowButton {
  width: 100%;
  margin: 20px 0px;
  padding: 0.8rem;
  background: white;
  color: #B24C24;
  border: 1px solid #B24C24;
  border-radius: 2px;
  font-family: "hotpointRegular";
  letter-spacing: 2px;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}

.buyNowButton:hover {
  border: 1px solid transparent;
}

.buyNowButton:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: .0625rem;
  z-index: 1;
  transform: scaleX(0);  
}

.buyNowButton:hover:before { 
  background: none repeat scroll 0 0 teal;
  transition: all .5s ease-in-out;
  transform: scaleX(1);
 }
 
.buyNowButton.fromLeft:before{  transform-origin:  0% 50%; }

.retailerWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.retailerItemContainer {
  flex: 0 0 25%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.storeLocatorLinkContainer {
  font-family: "hotpointRegular";
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  width: 100%;
  background: #f2f2f2;
}

.storeLocatorLink {
  text-decoration: none;
  color: #B24C24;
}

.wtbImage {
  width: 121px;
}

@media only screen and (max-width: 600px) {
  .wtbTitle {
    font-size: 1.25rem;
  }

  .wtbTitleUnderline {
    font-size: 1.25rem;
  }

  .retailerWrapper {
    justify-content: space-around;
  }

  .retailerItemContainer {
    flex: 0 0 35%;
    margin: 10px;
  }
}
