@font-face {
  font-family: "openSans";
  src: url(assets/fonts/OpenSans.ttf);
  font-display: swap;
}
@font-face {
  font-family: "nunitoExtraLight";
  src: url(assets/fonts/NunitoSans-ExtraLight.ttf);
  font-display: swap;
}
@font-face {
  font-family: "nunitoLight";
  src: url(assets/fonts/NunitoSans-Light.ttf);
  font-display: swap;
}
@font-face {
  font-family: "nunitoRegular";
  src: url(assets/fonts/NunitoSans-Regular.ttf);
  font-display: swap;
}
@font-face {
  font-family: "nunitoSemiBold";
  src: url(assets/fonts/NunitoSans-SemiBold.ttf);
  font-display: swap;
}
@font-face {
  font-family: "nunitoBold";
  src: url(assets/fonts/NunitoSans-Bold.ttf);
  font-display: swap;
}
@font-face {
  font-family: "nunitoExtraBold";
  src: url(assets/fonts/NunitoSans-ExtraBold.ttf);
  font-display: swap;
}
@font-face {
  font-family: "nunitoBlack";
  src: url(assets/fonts/NunitoSans-Black.ttf);
  font-display: swap;
}
