.indesituk-image-from-specification-0-x-labelLink {
  display: none !important;
}

.image {
  margin-left: 12.08px;
  height: 24px;
  width: 28px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--product-left-col) .image, :global(.vtex-flex-layout-0-x-flexRowContent--energy-badge-mobile-style) .image {
  margin-left: 0;
}

@media (max-width: 1024px) {
  .image {
    margin-left: 16px;
    width: 32px;
  }
}

.container {
  margin-top: 10px;
}

@media screen and (max-width: 1024px) {
  :global(.vtex-flex-layout-0-x-flexColChild--energy-class-icon-pdp-mobile) .container {
    position: relative;
    left: 14px;
    top: 135px;
  }
  :global(.vtex-flex-layout-0-x-flexRowContent--negative-margin) :global(.vtex-flex-layout-0-x-stretchChildrenWidth) .container .image {
    margin-left: 0;
  }
}

@media (max-width: 374px) {
  .image {
    height: 24px;
    width: 32px;
    margin-left: 12px;
  }
}
