.product-identifier--productReference {
  margin-bottom: 1rem;
}

.product-identifier--skuReferenceId {
  margin: auto;
  position: relative;
}

:global(.vtex-flex-layout-0-x-flexRow--codeReferences) .product-identifier--skuReferenceId .product-identifier__value {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #43c1f9;
  margin-left: 104px;
  margin-top: 16px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--product-code) .product-identifier--skuReferenceId .product-identifier__value {
  font-family: "Roboto";
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #43c1f9;
  margin-left: 48px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--product-code) .product-identifier--skuReferenceId {
  margin-top: 29px !important;
}

:global(.vtex-flex-layout-0-x-flexRowContent--margin-new-product) {
  margin-top: -16px !important;
}

/* PDP MOBILE */

@media (max-width: 1024px) {
  :global(.vtex-flex-layout-0-x-flexRow--codeReferences) .product-identifier--skuReferenceId .product-identifier__value {
    font-family: "Roboto";
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #43c1f9;
    margin-left: 20px;
    /*  margin-bottom: 12px; */
  }
}

/* CARD PLP MOBILE */

@media (max-width: 1024px) {
  .product-identifier__value {
    font-family: "Roboto";
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #43c1f9;
  }
}