.relatedProducts--margin3125 {
  margin: 3.125rem 0;
}
.slide--slideMargin {
  margin: 0 1.375rem;
}
.slide--slide20width {
  width: 20% !important;
}
.dot {
  display: none;
}

/* Media Queries */
@media only screen and (max-width: 1200px) {
  .slide--slide20width {
    width: calc(33.3% - 0.5rem) !important;
  }
  .slide--slideMargin {
    margin: 0 0.5rem 0 0;
  }
  .dot {
    display: inline-block;
  }
}
@media only screen and (max-width: 600px) {
  .slide--slide20width {
    width: 100% !important;
  }
}
