:global(.vtex-search-2-x-imageContainer) {
  display: none !important;
  visibility: hidden;
}

:global(.vtex-search-2-x-image) {
  display: none !important;
  visibility: hidden;
}

:global(.vtex-search-2-x-priceContainer) {
  display: none !important;
  visibility: hidden;
}

:global(.vtex-search-2-x-productBrand) {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #f3fafd;
}

@media screen and (max-width: 1024px) {
  :global(.vtex-search-2-x-close-btn) {
    display: none;
  }
}

:global(.vtex-search-2-x-element):hover {
  background-color: unset !important;
}

:global(.vtex-store-components-3-x-searchBarIcon--search) {
  content: url(assets/search.svg);
  padding: 0;
  height: 21px;
  margin: 11px 11px 0px;
}

:global(.vtex-store-components-3-x-suffixWrapper--search-bar-container) {
  width: 44px;
  height: 44px;
}

@media screen and (max-width: 1024px) {
  :global(.vtex-store-components-3-x-searchBarIcon--search) {
    height: 21px;
    margin: 11px 0px 0px 0px;
    padding: 0 11px;
  }
}

:global(.vtex-store-components-3-x-searchBarIcon--clear) {
  content: url(assets/search.svg);
  padding: 0px 11px;
  height: 21px;
  margin: 11px 0px 0px 0px;
}

.itemList--suggestion {
  display: none !important;
}

:global(.vtex-store-components-3-x-autoCompleteOuterContainer)
  :global(.vtex-styleguide-9-x-input) {
  color: white;
  font-family: "Roboto";
}

:global(.vtex-input__suffix) {
  background: #ffffff;
  border-radius: 16px;
  width: 44px;
  height: 44px;
  padding: 0px !important;
  margin-top: 6px;
  position: relative;
  left: -48px;
}

:global(.vtex-styleguide-9-x-input)::placeholder {
  font-family: "Roboto-Light";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: rgba(225, 237, 249, 0.5);
}

:global(.vtex-search-2-x-element) {
  padding: 0 20px !important;
  margin-bottom: 32px;
}

:global(.vtex-search-2-x-tileListTitle) {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #43c1f9;
  padding: 0 20px !important;
  margin-top: 44px;
  margin-bottom: 24px;
}

@media (max-width: 1024px) {
  :global(.vtex-search-2-x-tileListTitle) {
    margin-top: 28px;
  }
}

:global(.vtex-search-2-x-information) {
  margin-left: 0px !important;
}
