.sliderLayoutContainer {
  justify-content: center;
}

.sliderLayoutContainer--carousel {
  background-color: #f0f0f0;
  padding-left: 1rem;
}

.sliderTrackContainer {
  max-width: unset !important;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
}

.slide--shelf {
  margin-bottom: 25px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.sliderLayoutContainer--shelf {
  background-color: transparent !important;
  margin-bottom: 2rem;
  padding: 0;
  margin-right: 0px;
  margin-left: 0px;
}

.sliderLayoutContainer--carousel {
  background-color: transparent !important;
  margin-bottom: 2rem;
  padding: 0;
}

.sliderLayoutContainer--percheWhirlpoolCarousel .slideChildrenContainer {
  background-color: white;
  min-width: 20.9375rem;
  max-width: 20.9375rem;
  max-height: 20.9375rem;
  min-height: 20.9375rem;
  margin: 0 auto;
  font-size: 1.5rem;
}

.sliderLayoutContainer--ricambiOriginali {
  padding: 5rem;
}

/*-------------------------- Banner Header ----------------*/

.sliderLayoutContainer--bannerHeaderContainer {
  width: 100%;
  max-width: none !important;
  background-color: #f7f7f7;
  border-bottom: 0.01188rem solid #fff;
  height: 3.1875rem;
}

.sliderTrackContainer--bannerHeaderContainer {
  max-width: none !important;
  max-height: 100%;
}

.sliderTrack--bannerHeaderContainer {
  height: 3.1875rem;
}

.slide--bannerHeaderContainer {
  max-height: 100%;
}

.bannerHeaderContainer {
  width: 100%;
}

.slideChildrenContainer--bannerHeaderContainer {
  position: relative;
}

.slideChildrenContainer--bannerHeaderContainer::after {
  position: absolute;
  content: "";
  width: 0.0625rem;
  background-color: #d1d1d1;
  right: 0;
  height: 70%;
}

.slideChildrenContainer--BottomSliderLavatrice {
  width: auto;
  max-width: 840px;
  margin: auto;
}

.sliderLayoutContainer--bottomSliderBlackfiber {
  background-color: #222325;
}

.slideChildrenContainer--technologiaSlider {
  width: 80%;
  max-width: 100%;
}

.sliderLayoutContainer--bottomSliderBlackfiber {
  height: 45rem;
}

.sliderLayoutContainer--removeTopPadding {
  padding-top: 0;
}

.sliderLayoutContainer--personalizedBannerCard {
  padding: 0 20%;
}

.sliderLayoutContainer--sliderWFrigo4Porte {
  margin-bottom: 7.5rem;
  padding: 0 1.125rem;
  max-width: 90rem;
  margin: 0 auto;
  transform: translateY(0);
  opacity: 1;
  margin-bottom: 7rem;
}

.sliderTrackContainer--sliderWFrigo4Porte {
  padding-top: 5.625rem;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

.sliderLeftArrow--sliderWFrigo4Porte {
  background: #d8d8d8 !important;
  left: 4rem;
  padding: 1rem;
  border-radius: 70%;
  opacity: 0.4;
}

.sliderRightArrow--sliderWFrigo4Porte {
  right: 4rem;
  background: #d8d8d8 !important;
  padding: 1rem;
  border-radius: 70%;
  opacity: 0.4;
}

.sliderLayoutContainer--personalizedBannerCard {
  padding-top: 6.25rem;
}

/* PRODUCTS LIST SLIDER LAYOUT */

.sliderLayoutContainer--product-list-slider {
  height: 330px !important;
}

/* DOTS CAROUSEL STYLE */

.paginationDotsContainer {
  margin: 0;
}

.paginationDot--shelf {
  opacity: unset !important;
  margin-right: 11px !important;
  margin-right: 0px;
  width: 6px !important;
  height: 6px !important;
  display: inline-block !important;
  background: #0090d0 !important;
  border-radius: 13px !important;
  transition: all 0.1s ease-in-out !important;
}

.paginationDot--shelf--isActive {
  background: #005c92 !important;
  width: 16px !important;
  height: 6px !important;
}

/* SLIDER PLP CAROUSEL */

.sliderTrack--shelf {
  margin-top: 200px;
}


.sliderLayoutContainer--shelf {
  padding: 0 !important;
  margin-top: 32px;
}

.shelf {
  margin-top: 32px;
  background-color: transparent !important;
  margin-bottom: 2rem;
  padding: 0;
  margin-right: 0px;
  margin-left: 0px;
}

/* :global(.vtex-slider-layout-0-x-sliderLeftArrow) {
  display: none;
}

:global(.vtex-slider-layout-0-x-sliderRightArrow) {
  display: none;
} */

/* Media Queries */

@media only screen and (min-width: 600px) {
  .sliderLayoutContainer--percheWhirlpoolCarousel {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .slideChildrenContainer--bannerHeaderContainer::after {
    content: none;
  }

  .slideChildrenContainer--bannerHeaderContainer::after {
    content: none;
  }
}

@media only screen and (min-width: 1280px) {
  .sliderLayoutContainer--ricambiOriginali {
    padding: 5rem 20%;
  }

  .sliderLayoutContainer--cardsSupp {
    padding: 5rem 15%;
  }

  .sliderLayoutContainer--VP {
    padding: 0 15% 3rem 15% !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
  .sliderTrack--cardsSupp {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .slide--cardsSupp {
    width: 33% !important;
  }
}

@media only screen and (max-width: 1100px) {
  .sliderLayoutContainer--personalizedBannerCard {
    padding: unset;
  }
}

/* PLP MOBILE */
@media only screen and (max-width: 1024px) {
  .sliderTrack--shelf {
    margin-top: unset !important;
  }
}

/*-------------------------------- LANDING PAGE INNEX WASHING MACHINE --------------------------------------*/
.sliderTrackContainer--shelf-landing-products {
  margin-left: 21vw;
  margin-right: 21vw;
}

.slide--shelf-landing-products {
  margin-right: 5px;
  margin-left: 5px;
}

.sliderLeftArrow--carousel {
  left: 50%;
  bottom: 0;
  transform: rotate(180deg);
  content: url(assets/arrow-home-page.svg);
  user-select: none;
  margin-left: 44px !important;
}

.sliderRightArrow--carousel {
  left: 50%;
  bottom: 0;
  content: url(assets/arrow-home-page.svg);
  user-select: none;
  margin-left: 98px !important;
}

.sliderArrows--carousel {
  height: 44px;
  width: 44px;
  border: 1px solid #f0f0f5;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  z-index: 2;
  cursor: pointer;
  background-color: #fff !important;
}

.paginationDot--carousel {
  height: 8px !important;
  width: 8px !important;
  background-color: #0090d0;
  margin: 1px 4px;
}

.paginationDot--isActive {
  height: 10px !important;
  width: 20px !important;
  border-radius: 13px;
  background: #005c92;
}