/* ICONS FOOTER */

.socialNetworksContainer {
    margin: 0 !important;
    padding: 0 !important;
    justify-content: end;
}

/* ICONS FOOTER DESKTOP */

.socialNetworkLink--social-icons {
    width: unset !important;
    margin-left: 0.83vw;
    margin-right: 0;
    height: unset;
}

.socialNetworkImage {
    opacity: 0;
    height: 0;
}

/* ICONS FOOTER DESKTOP */

.socialNetworkWrapper--social-icons-mobile {
    margin-left: 36px;
    margin-bottom: 32px;
}

@media screen and (min-width: 576px) and (max-width: 1025px) {
    .socialNetworkWrapper--social-icons-mobile {
        margin-left: 1.56vw !important;
        margin-top: 15px;
    }
}

@media screen and (max-width: 576px) {
    .socialNetworkWrapper--social-icons-mobile {
        margin-bottom: 45px;
    }
}

.socialNetworkLink--social-icons-mobile {
    width: unset !important;
    margin-right: 24px;
    margin-left: 0;
}

/* FACEBOOK */

.socialNetworkLink--facebook::after {
    height: 100%;
    width: 100%;
    content: url(assets/facebook.svg);
}

.socialNetworkLink--facebook:hover {
    height: 100%;
    width: 100%;
    content: url(assets/facebook-background.svg);
}

/* YOUTUBE */

.socialNetworkLink--youtube::after {
    height: fit-content;
    width: 100%;
    margin: 3px 0 0;
    content: url(assets/youtube.svg);
}

.socialNetworkLink--youtube:hover {
    height: 100%;
    width: 100%;
    content: url(assets/youtube-background.svg);
}

/* INSTAGRAM */

.socialNetworkLink--instagram::after {
    height: 100%;
    width: 100%;
    content: url(assets/instagram.svg);
}

.socialNetworkLink--instagram:hover {
    height: 100%;
    width: 100%;
    content: url(assets/instagram-background.svg);
}

/* TWITTER */

.socialNetworkLink--twitter::after {
    /*   margin-top: 5px; */
    height: 26px;
    width: 26px;
    content: url(assets/twitter.svg);
}

.socialNetworkLink--twitter:hover {
    /*   margin-top: 5px; */
    height: 26px;
    width: 26px !important;
    margin-top: 6.25px;
    content: url(assets/twitter-background.svg);
}

@media screen and (max-width: 1024px) {
    .socialNetworkLink--twitter:hover {
        margin-top: 0;
    }
}