.link--footer-item {
  color: #0090d0;
  font-family: "Roboto-Medium";
  font-weight: 500;
  font-size: 14px;
  line-height: 35px;
  letter-spacing: 0.04em;
}

.childrenContainer--label-container-dit {
  /* margin-right: 44px; */
  /* 40px */
  margin-top: 41px;
  text-decoration: none !important;
}

.link--locator-icon-container {
  margin-top: 35px;
  max-width: unset !important;
}

.link--locator-icon-container-mobile {
  margin-top: 0;
  max-width: unset !important;
  width: auto;
  display: flex;
  justify-content: flex-end;
  margin-right: 28px;
}

@media screen and (max-width: 756px) {
  .label--discover-more-do-it-together-home-mobile:active {
    background: #005c92;
  }
}

@media screen and (max-width: 1024px) {
  .link--footer-item {
    color: #0090d0;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 14px;
    line-height: 35px;
    letter-spacing: 0.04em;
  }
}

.imageElement--locator-icon-style {
  width: 16px;
}

[data-src*="store___e34174a5e3b7b6c6f33d27a3896c272f.svg"] {
  max-width: unset !important;
}

.link {
  text-decoration: none !important;
}

/* LINK DISCOVER MORE CARD HOME PAGE  */

.link--discover-more-link-home {
  margin-left: 32px;
}

.label--discover-more-link-home {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
  line-height: unset !important;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding: 18px 40px;
  border-radius: 16px;
  background: #0090d0;
  color: #ffffff;
}

.label--discover-more-link-home:hover {
  background-color: #005c92;
}

.link--discover-more-link-home.link--button-NEL {
  margin-left: 0;
}

/* .link--discover-more-link-home::after {
  content: ":";
  display: inline-block;
  color: transparent;
  background: #0090d0;
  width: 10px;
  line-height: 32px;
  height: 32px;
  width: 32px;
  text-align: center;
  border-radius: 360px;
  margin: 0 0 0 0.556vw;
  background-image: url("assets/discover_more.svg");
  background-position: 8px center;
  background-repeat: no-repeat;
} */

/* .link--discover-more-link-home:hover::after {
  content: ":";
  display: inline-block;
  color: transparent;
  background: #005c92;
  width: 10px;
  line-height: 32px;
  height: 32px;
  width: 32px;
  text-align: center;
  border-radius: 360px;
  margin: 0 0 0 0.556vw;
  background-image: url("assets/discover_more.svg");
  background-position: 8px center;
  background-repeat: no-repeat;
} */

/* LINK HOME PAGE MOBILE */

.childrenContainer--link-home-page {
  display: flex;
  justify-content: center;
  height: 100%;
  min-height: 336px;
}

.link--discover-more-do-it-together-home-mobile {
  margin-left: 20px;
  margin-bottom: 35px;
}

.label--discover-more-do-it-together-home-mobile {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
  line-height: unset !important;
  letter-spacing: 0.02em;
  /* border: 1px solid; */
  text-transform: uppercase;
  padding: 18px 40px;
  border-radius: 16px;
  background: #0090d0;
  color: #ffffff;
  display: inline-block;
}

@media screen and (max-width: 756px) {
  .label--discover-more-do-it-together-home-mobile:focus {
    background-color: #005c92;
  }
}

@media screen and (max-width: 1024px) {
  .label--discover-more-link-home {
    display: inline-block;
    min-width: 170px;
  }
}

@media screen and (min-width: 1024px) {
  .link--discover-more-do-it-together-home-mobile:hover::after {
    content: ":";
    display: inline-block;
    color: transparent;
    background: #005c92;
    width: 10px;
    line-height: 32px;
    height: 32px;
    width: 32px;
    text-align: center;
    border-radius: 360px;
    margin: 0 0 0 0.556vw;
    background-image: url("assets/discover_more.svg");
    background-position: 8px center;
    background-repeat: no-repeat;
  }
  .link--footer-item {
    font-size: 16px;
    padding-right: 80px;
    line-height: 20px;
  }
}

/* LINK DISCOVER MORE CARDS */

.link--discover-more-link {
  margin-left: 339px;
  margin-top: -20px;
}

.label--discover-more-link {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 14px;
  line-height: unset !important;
  letter-spacing: 0.04em;
  color: #0090d0;
}

.label--discover-more-link:hover {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 14px;
  line-height: unset !important;
  letter-spacing: 0.04em;
  color: #005c92;
}

.link--discover-more-link::after {
  content: ":" /* url('assets/discover_more_icon.svg') */;
  display: inline-block;
  color: transparent;
  background: #0090d0;
  width: 10px;
  line-height: 32px;
  height: 32px;
  width: 32px;
  text-align: center;
  border-radius: 360px;
  margin: 0 20px 0 12px;
  background-image: url("assets/discover_more.svg");
  background-position: 8px center;
  background-repeat: no-repeat;
}

.link--discover-more-link:hover::after {
  content: ":" /* url('assets/discover_more_icon.svg') */;
  display: inline-block;
  color: transparent;
  background: #005c92;
  width: 10px;
  line-height: 32px;
  height: 32px;
  width: 32px;
  text-align: center;
  border-radius: 360px;
  margin: 0 20px 0 12px;
  background-image: url("assets/discover_more.svg");
  background-position: 8px center;
  background-repeat: no-repeat;
}

/* PDP */

.childrenContainer--tabPDP {
  flex-direction: row;
  display: flex;
  margin-top: 20px;
  /* width: 146px; */
  width: 198px;
  background: #ffffff;
  border: 1px solid #f0f0f5;
  border-radius: 16px;
  height: 44px;
}

.childrenContainer--tabPDP:hover {
  flex-direction: row;
  display: flex;
  margin-top: 20px;
  /* width: 146px; */
  width: 198px;
  background: #e5f6ff;
  border: 1px solid #f0f0f5;
  border-radius: 16px;
  height: 44px;
}

/* PLP MOBILE */

.childrenContainer--btnPlpEnergyClass {
  flex-direction: row;
  display: flex;
  margin-top: 16px;
  width: 145px;
  background: #ffffff;
  border: 1px solid #f0f0f5;
  border-radius: 16px;
  height: 44px;
}

.childrenContainer--btnPlpEnergyClass:hover {
  flex-direction: row;
  display: flex;
  margin-top: 16px;
  width: 145px;
  background: #e5f6ff;
  border: 1px solid #f0f0f5;
  border-radius: 16px;
  height: 44px;
}

@media (max-width: 1024px) {
  .childrenContainer--tabPDP {
    flex-direction: row !important;
    margin: 0;
    display: flex !important;
    max-width: 55.733vw !important;
    background: #ffffff;
    border: 1px solid #f0f0f5;
    border-radius: 16px !important;
    height: 44px !important;
  }

  .link--card-link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.04em;
    display: flex;
    align-self: flex-start;
    /* Blue Indesit */
    color: #0090d0;
  }
}

/* MEDIA QUERY PLP MOBILE */

@media (max-width: 1024px) {
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) .link--card-link {
    margin-top: 0px !important;
  }

  .link--btnPlpEnergyClass {
    display: flex;
    justify-content: center;
  }

  .childrenContainer--btnPlpEnergyClassMobile {
    flex-direction: row;
    display: flex;
    justify-content: center;
    width: 39.733vw;
    background: #ffffff;
    border: 1px solid #f0f0f5;
    border-radius: 16px;
    height: 44px;
  }
}

/* PLP DESKTOP*/

:global(.vtex-flex-layout-0-x-stretchChildrenWidth) .link--card-link {
  margin-top: 16px;
}

/* START OF SUPPORT PAGE STYLE */

.link--sup-cta-desktop {
  margin-bottom: 20px;
  margin-right: 24px;
}

.label--sup-cta-desktop {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 14px;
  line-height: unset !important;
  letter-spacing: 0.04em;
  color: #0090d0;
}

.link--sup-cta-desktop::after {
  content: ":" /* url('assets/discover_more_icon.svg') */;
  display: inline-block;
  color: transparent;
  background: #0090d0;
  width: 10px;
  line-height: 32px;
  height: 32px;
  width: 32px;
  text-align: center;
  border-radius: 360px;
  margin: 0 20px 0 12px;
  background-image: url("assets/discover_more.svg");
  background-position: 8px center;
  background-repeat: no-repeat;
}

.link--sup-cta-desktop:hover::after {
  content: ":" /* url('assets/discover_more_icon.svg') */;
  display: inline-block;
  color: transparent;
  background: #005c92;
  width: 10px;
  line-height: 32px;
  height: 32px;
  width: 32px;
  text-align: center;
  border-radius: 360px;
  margin: 0 20px 0 12px;
  background-image: url("assets/discover_more.svg");
  background-position: 8px center;
  background-repeat: no-repeat;
}

.link--sup-cta-desktop {
  margin-bottom: 20px;
  margin-right: 24px;
}

.menuServiceLink__anchor {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 14px;
  line-height: unset !important;
  letter-spacing: 0.04em;
  color: #0090d0;
}

.menuServiceLink__arrowImage::after {
  content: ":" /* url('assets/discover_more_icon.svg') */;
  display: inline-block;
  color: transparent;
  background: #0090d0;
  width: 10px;
  line-height: 32px;
  height: 32px;
  width: 32px;
  text-align: center;
  border-radius: 360px;
  margin: 0 20px 0 12px;
  background-image: url("assets/discover_more.svg");
  background-position: 8px center;
  background-repeat: no-repeat;
}

.menuServiceLink__arrowImage::after {
  content: ":" /* url('assets/discover_more_icon.svg') */;
  display: inline-block;
  color: transparent;
  background: #005c92;
  width: 10px;
  line-height: 32px;
  height: 32px;
  width: 32px;
  text-align: center;
  border-radius: 360px;
  margin: 0 20px 0 12px;
  background-image: url("assets/discover_more.svg");
  background-position: 8px center;
  background-repeat: no-repeat;
}

.childrenContainer--link-support-page {
  display: flex;
  justify-content: center;
  height: 100%;
  min-height: 336px;
}

.link--button-register-product-desktop {
  background: #0090d0;
  border-radius: 16px;
  width: 225px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px 0 0;
}

.link--button-register-product-desktop:hover {
  background: #005c92;
}

.label--button-register-product-desktop {
  font-family: "Roboto-Medium";
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-transform: uppercase;
}

.link--button-protection-plans-desktop {
  background: #0090d0;
  border-radius: 16px;
  width: 225px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 32px 0 0;
}

.label--button-protection-plans-desktop {
  font-family: "Roboto-Medium";
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-transform: uppercase;
}

/* END OF SUPPORT PAGE STYLE */

/* START OF SUPPORT PAGE MOBILE STYLE */

.link--sup-cta-mobile {
  margin-bottom: 20px;
  margin-right: 24px;
}

.label--sup-cta-mobile {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 14px;
  line-height: unset !important;
  letter-spacing: 0.04em;
  color: #0090d0;
}

.link--sup-cta-mobile::after {
  content: ":" /* url('assets/discover_more_icon.svg') */;
  display: inline-block;
  color: transparent;
  background: #0090d0;
  width: 10px;
  line-height: 32px;
  height: 32px;
  width: 32px;
  text-align: center;
  border-radius: 360px;
  margin: 0 0px 0 8px;
  background-image: url("assets/discover_more.svg");
  background-position: 8px center;
  background-repeat: no-repeat;
}

/* END OF SUPPORT PAGE MOBILE STYLE */

/* START PROTECTION PLANS  */

.label--protection-plans-first-cta-link-desktop,
.label--protection-plans-second-cta-link-desktop,
.label--protection-plans-third-cta-link-desktop {
  font-family: "Roboto";
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-align: right;
  color: rgba(0, 144, 208, 1);
}

.link--protection-plans-first-cta-link-desktop::after,
.link--protection-plans-second-cta-link-desktop::after,
.link--protection-plans-third-cta-link-desktop::after {
  content: ":" /* url('assets/discover_more_icon.svg') */;
  display: inline-block;
  color: transparent;
  background: #0090d0;
  line-height: 32px;
  height: 32px;
  width: 32px;
  text-align: center;
  border-radius: 360px;
  margin-left: 8px;
  background-image: url("assets/discover_more.svg");
  background-position: 8px center;
  background-repeat: no-repeat;
}

.label--pp-card-easycare-list-button-desktop {
  border: 2px solid #0090d0;
  border-radius: 16px;
  color: #0090d0;
  padding: 16px 20px;
  font-family: "Roboto-Medium";
}

/* END PROTECTION PLANS */

/* START PROTECTION PLANS MOBILE */

.label--pp-first-cta-link-mobile,
.label--pp-second-cta-link-mobile,
.label--pp-third-cta-link-mobile {
  font-family: "Roboto";
  font-size: 14px !important;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.04em;
  text-align: right;
  color: rgba(0, 144, 208, 1);
}

.label--pp-card-easycare-list-button-mobile {
  padding: 18px 40px;
  border: 2px solid #0090d0;
  border-radius: 16px;
  color: #0090d0;
  text-transform: uppercase;
  font-family: "Roboto-Medium";
}

.link--pp-first-cta-link-mobile::after,
.link--pp-second-cta-link-mobile::after,
.link--pp-third-cta-link-mobile::after {
  content: ":" /* url('assets/discover_more_icon.svg') */;
  display: inline-block;
  color: transparent;
  background: #0090d0;
  line-height: 32px;
  height: 32px;
  width: 32px;
  text-align: center;
  border-radius: 360px;
  margin-left: 8px;
  background-image: url("assets/discover_more.svg");
  background-position: 8px center;
  background-repeat: no-repeat;
}

/* END PROTECTION PLANS MOBILE */

/* START PHONE SUPPORT DESKTOP STYLE */

.label--phone-support-link {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 14px;
  line-height: unset !important;
  letter-spacing: 0.04em;
  color: #0090d0;
}

.label--phone-support-link:hover {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 14px;
  line-height: unset !important;
  letter-spacing: 0.04em;
  color: #005c92;
}

.link--phone-support-link::after {
  content: ":" /* url('assets/discover_more_icon.svg') */;
  display: inline-block;
  color: transparent;
  background: #0090d0;
  width: 10px;
  line-height: 32px;
  height: 32px;
  width: 32px;
  text-align: center;
  border-radius: 360px;
  margin: 0 24px 0 8px;
  background-image: url("assets/discover_more.svg");
  background-position: 8px center;
  background-repeat: no-repeat;
}

.link--phone-support-link:hover::after {
  content: ":" /* url('assets/discover_more_icon.svg') */;
  display: inline-block;
  color: transparent;
  background: #005c92;
  width: 10px;
  line-height: 32px;
  height: 32px;
  width: 32px;
  text-align: center;
  border-radius: 360px;
  margin: 0 24px 0 8px;
  background-image: url("assets/discover_more.svg");
  background-position: 8px center;
  background-repeat: no-repeat;
}

/* END PHONE SUPPORT DESKTOP STYLE */

/* WHATSAPP PAGE */

/* DESKTOP */

.link--accesso-whatsapp-container-desktop {
  margin: 132px 0;
  cursor: pointer;
  height: fit-content;
}

.childrenContainer--accesso-whatsapp-container-desktop {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content !important;
  margin: 0 auto;
}

/* MOBILE */

.link--accesso-whatsapp-container-mobile {
  width: 140px !important;
  margin: 80px auto;
}

.childrenContainer--accesso-whatsapp-container-mobile {
  display: flex;
  flex-direction: column;
}
