.container {
  display: flex;
  align-items: center;
}
.image {
  width: auto;
  object-fit: contain;
  max-width: unset;
}
.label {
  width: auto;
  margin: auto 0 auto 0.5rem;
  font-family: "hotpointRegular";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  color: #505050;
}
.labelLink {
  width: auto;
  margin: auto 0 auto 0.5rem;
  font-family: "hotpointRegular";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  color: #505050;
  text-decoration: none;
}
.labelLink:hover {
  color: #b24c24;
}
.labelSpectrum{
  color: #505050;
}
