/**
*   GradientCollapse CSS Modules
*/

.fadeBottom {
  background-image: linear-gradient(transparent, white);
}

.pointerEventsNone {
  pointer-events: none;
}

.pointerEventsAuto {
  pointer-events: auto;
}

.container {
}
.content {
  border-bottom: 1px solid #007d69;
  margin: 0 2rem;
  padding-bottom: 0.5rem;
}
.showMoreButton {
  background-color: transparent;
}
