/* cursor: "pointer",
marginLeft: "1.5rem",
fontSize: "0.875rem",
fontWeight: 400,
color: "#505050", */


.cookieTitleContainer {}

.linkText {}

.wrapper>ul>li:first-child {
    padding-bottom: 1rem;
}

.cookieTitleContainer {
    max-width: 900px;
    margin: 0 auto;
}

.cookieTitleText {}

.cookieTitleLink {
    color: #edb112;
    cursor: pointer;
}

.cookieTitleContainerFooter {
    font-family: "myriadLight";
    margin-left: 1.5rem;
    display: block;
    font-weight: 400;
    font-size: 0.875rem;
    color: #505050;
    line-height: 1.5rem;
    text-transform: unset;
    letter-spacing: normal;
    margin-top: -0.5rem;
}

.cookieTitleContainerFooter a {
    color: #505050;
}

.cookieTitleContainerFooter a:hover {
    color: #505050;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .cookieTitleContainerFooter {
        font-family: "myriadLight";
        margin-left: 1.5rem;
        display: block;
        font-size: 0.85rem;
        line-height: 1.5rem;
        text-transform: unset;
        letter-spacing: normal;
        color: #505050;
        opacity: 0.95;
    }

    .cookieTitleContainerFooter a:hover {
        cursor: pointer;
        color: #505050;
    }
}
