/* @font-face {
  font-family: "hotpointRegular";
  src: url(assets/fonts/Quicksand-Regular.woff);
} */
/* @font-face {
  font-family: "hotpointMedium";
  src: url(assets/fonts/Quicksand-Bold.woff);
} */
/* @font-face {
  font-family: "hotpointRegular";
  src: url(assets/fonts/Quicksand-Light.woff);
} */
/* @font-face {
  font-family: "hotpointMedium";
  src: url(assets/fonts/Quicksand-Medium.woff);
} */
/* NEW FONTS */
@font-face {
  font-family: "hotpointRegular";
  src: url(assets/fonts/Hotpoint-Regular.woff2);
  font-display: swap;
}
/* @font-face {
  font-family: "hotpointBold";
  src: url(assets/fonts/Hotpoint-Bold.otf);
} */
/* @font-face {
  font-family: "hotpointLight";
  src: url(assets/fonts/Hotpoint-Light.otf);
} */
@font-face {
  font-family: "hotpointMedium";
  src: url(assets/fonts/Hotpoint-Medium.woff2);
  font-display: swap;
}
