.productListContainer {
}
.imageAndNameLink {
	display: flex;
	text-decoration: none;
	color: inherit;
}
.nameAndSubText {
	margin-left: 1rem;
	display: flex;
	flex-direction: column;
}
.productImage {
	width: 100px;
	max-width: 100px !important;
}
.productName {
	font-size: 0.75rem;
	text-transform: uppercase;
}
.productName:hover {
	font-size: 0.75rem;
}
.subText {
	font-size: 0.75rem;
	margin-bottom: 10px;
	margin-top: 5px;
}

.productquantityContainer {
	display: flex;
	justify-content: space-between;
	border: 1px solid #cbcbcb;
	padding: 0.3rem 0.5rem;
	border-radius: 5px;
	align-items: center;
}
.quantity{
	margin-top: 2px;

	margin: 0 5px;
}
.minusButton,
.plusButton {
	all: unset;
	cursor: pointer;
	font-size: 22px ;
	line-height: 22px;
	height: 22px;
	margin-top: -2px;
}
.minusButtonDisabled {
	all: unset;
	opacity: 0.2;
	pointer-events: none;
	font-size: 22px ;
	line-height: 22px;
	height: 22px;
	margin-top: -2px;
}
.productPrice, .productListPriceCurrency {
	font-size: 0.775rem;
}

.productPriceContainer {
	display: flex;
	flex-direction: column;
	/* font-size: var(--base-font-size); */
	margin-left: 0.5rem;
}
.productListPrice {
	color: #999;
	font-size: 0.8rem;
	text-decoration: line-through;
}
.removeProductButton {
	all: unset;
	margin-bottom: 5px;
}
.removeProductImg {
}
.itemWrap{
	padding: 0 10px;
	border-radius: 5px;

}
.itemWrapToBeRemoved :global(.hotpointuk-checkout-container-custom-0-x-subText){
	display: none;
}
.itemWrapToBeRemoved :global(.vtex-flex-layout-0-x-flexColChild--quantityCol){
	display: none;
}
.itemWrapToBeRemoved :global(.vtex-flex-layout-0-x-flexColChild--removeCol){
	display: none;
}
.itemToBeRemovedText{
	padding: 5px 8px;
	font-size: 0.875rem;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-top: 10px;
	margin-left: -10px;
	margin-right: -10px;
}
/*-----------ENERGY AND SHEET-------------------*/
.energyAndSheetContainer :global(.vtex-button) {
	color: #505050;
	text-decoration: underline;
	font-size: 0.75rem;
}
/* .energyAndSheetContainer {
	display: flex;
	justify-items: center;
	margin-left: 1rem;
}
.energyLabelUndefined {
	display: none;
}

METTIAMO LO STILE NEL CSS DELL'APP
SE NON C'è L'ENERGY LABEL NON DOBBIAMO PORTARCI DIETRO IL SUO STILE
*/

/*---------------------------*/
