/**
* AvailabilitySubscriber CSS Module
*/

.subscriberContainer {}

.title {}

.subscribeLabel {}

.form {}

.content {}

.input {}

.inputName {}

.inputEmail {}

.optinText {
}

.inputError {}

.checkbox2{}

.submit {
    width: 100%;
    margin: 1rem 0rem;
}
.submit button{
    width: 100%;

} 
.submit button :global(.vtex-button__label ){
    padding: 1rem !important;
    font-family: 'GothamProRRegular';
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0;
}

.success {}

.error {}
.link{
    color: #edb112;
    text-decoration: none;
  }
.checkbox {
    width: auto !important;
    display: flex;
    flex-direction: row;
}
.checkbox :global(.vtex-checkbox__line-container){
    width: auto;
    margin-right: 0.5rem;
    height: fit-content;
}
.avvisamiBtn{
    width: 100%;
    background-color: aqua;
}
.checkboxText{
    font-size: 0.75rem;
}