.productPriceContainer {
}
.sellingPriceContainer {
}
.sellingPrice {
  font-size: 2rem;
  font-weight: 600;
  font-family: "GothamProRRegular";
  display: flex;
  justify-content: flex-end;
}
.listPriceContainer {
  margin: 0 0 0.4rem 0;
}
.listPrice {
  color: #d0d3d4;
  font-size: 1rem;
  text-decoration: line-through;
}
.sellingPriceSymbol {
  font-size: 0.6em;
  font-weight: 400;
}
.ecofeeLabel {
}
.ecofeeLabelCards {
  font-size: 0.5rem;
  color: #505050;
  margin: 0;
  text-align: end;
  display: flex;
  margin-top: 0.5rem;
}
:global(.vtex-modal-layout-0-x-contentContainer--relatedAccessories) .ecofeeLabel{
  display: none;
}
:global(.vtex-flex-layout-0-x-flexRow--priceModalPdp) .sellingPrice{
  display: flex;
  flex-direction: column !important;
  align-items: center !important;
}
:global(.vtex-flex-layout-0-x-flexRowContent--namePriceAddedModal) .sellingPrice{
	font-size: 1.5rem;
	font-weight: 400;
}
:global(.vtex-flex-layout-0-x-flexRowContent--priceModalPdp) .sellingPrice{
	display: flex;
    flex-direction: row !important;
    justify-content: center;
}
@media only screen and (max-width: 640px) {
  .sellingPriceContainer {
    margin-bottom: 1.5rem;
  }
}
