.footerCustomContainer {}

.customFooterCustomMobileContainer {}

.titleTextContainer {
  padding: 0 1rem 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.titleText,
.footerCustomDesktopTitle {
  font-family: "openSans";
  font-weight: 400;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  letter-spacing: 0.1rem;
  margin: 1rem 0;
  display: block;
}

.footerCustomDesktopTitle {
  cursor: text;
}

.footerCustomDesktopLink {
  text-decoration: none;
}

.titleTextPlus {
  content: "+";
  color: #979899;
  cursor: pointer;
}

.titleLinkSubItems {
  text-decoration: none;
}

.titleTextSubItems,
.footerCustomDesktopSubTitle {
  font-family: "openSans";
  font-weight: 400;
  font-size: 0.875rem;
  color: #fff;
  cursor: pointer;
  padding: 0.5rem 0;
  display: block;
}

.footerCustomDesktopWrapper {
  display: flex;
  justify-content: space-between;
}

.footerCustomDesktopContainer {
  display: flex;
  justify-content: space-between;
}

.footerCustomDesktopColumn {
  display: flex;
  flex-direction: column;
  width: calc(100% / 3);
}

.footerCustomDesktopColumn:nth-child(2) {
  align-items: center;
}

.footerCustomDesktopColumn:nth-child(2)>div {
  transform: translateX(15%);
}

.footerCustomDesktopColumn:nth-child(3) {
  align-items: flex-end;
}

.footerCustomDesktopTitle,
.footerCustomDesktopSubTitle {
  font-size: 0.688rem;
  font-family: "openSans";
}

.footerCustomDesktopImagesContainer {}

.firstColDesktop {
  justify-content: space-between;
}