.container {
  padding: 0;
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 0;
  color: #505050;
  align-items: flex-end;
  font-family: "myriadRegular";
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.priceoos {
  display: flex;
  flex-direction: column;
}
.risparmiooscontainer {
  display: flex;
}
.listandsellingprice {
  display: flex;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.listprice {
  color: #d0d3d4;
  line-height: 1.5;
  font-size: 1rem;
  font-family: "myriadRegular";
  text-align: start;
  text-decoration: line-through;
}
.sellingprice {
}
.risparmioosMobile {
  display: none;
}
.priceooscont {
  width: 100%;
}
.risparmioos {
  color: #edb112;
  font-family: "myriadRegular";
  font-size: 1.25rem;
  display: unset;
}
.risparmioosDesktop {
  margin-bottom: 2rem;
  display: unset;
  width: fit-content;
  background: #edb112;
  color: #fff;
  padding: 0.3rem 0.6rem;
  margin-right: 1rem;
  font-family: "myriadLight";
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0;
  font-size: 1rem;
}
@media only screen and (max-width: 640px) {
  .risparmioosDesktop {
    display: none;
  }
  .risparmioosMobile {
    display: unset;
    background: #edb112;
    color: #fff;
    padding: 0.3rem 0.6rem;
    margin-right: 1rem;
    font-family: "myriadLight";
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0;
    font-size: 1rem;
  }
  .risparmioos {
    display: none;
  }
  .container {
    font-family: "myriadSemibold";
    font-size: 1.5rem !important;
    line-height: 1.5;
    flex-direction: row-reverse;
    align-items: center;
  }
  .priceoos {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
  }
  .listprice {
    margin-left: 1rem;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
}
