.container {
  margin: 0;
  padding: 0;
}
.attribute {
  font-family: 'myriadPro';
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 21px;
  color: #353535;
  margin: 0;
  padding: 0;
}
.value {
  font-family: 'myriadPro';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #353535;
}
