  @font-face {
    font-family: 'oswaldmedium';
    src: url(assets/fonts/Oswald-Medium.woff);
    font-display: swap;
  }
  @font-face {
    font-family: 'gothamproregular';
    src: url(assets/fonts/Gotham-Pro-Regular.woff);
    font-display: swap;
  }
  @font-face {
    font-family: "GothamProRRegular";
    src: url(assets/fonts/GothamProRRegular.woff);
    font-display: swap;
  }