.tooltipWrapper {
}
.discountTooltipContentContainer {
	padding: 0.2rem;
}
.discountTooltipContentTitle {
	font-weight: 500;
}
.discountTooltipContentDivider {
	width: 100%;
	height: 1px;
	background-color: #cbcbcb;
	margin: 0.5rem 0;
}
.discountTooltipContentDesc {
}
.tooltipIconImg {
}
