.productPriceContainer {
}
.productPriceWrapper{
  
}
.sellingPriceContainer {
}
.sellingPrice {
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  justify-content: flex-end;
}
.listPriceContainer {
  margin: 0 0 0.4rem 0;
}
.listPrice {
  color: #d0d3d4;
  font-size: 1rem;
  text-decoration: line-through;
}
.sellingPriceSymbol {
  font-size: 0.6em;
  font-weight: 400;
}
.ecofeeLabel {
}
.ecofeeLabelCards {
  font-size: 0.5rem;
  color: #505050;
  margin: 0;
  text-align: end;
  display: flex;
  margin-top: 0.5rem;
}
.percentageBadgeContainer {
  font-weight: 700;
  color: #00a0dd;
  font-size: 0.75rem;
  border: 1px solid;
  height: fit-content;
  border-radius: 15px;
  padding: 0.1rem 0.4rem;
  margin: 0 0 auto;
  width: fit-content;
}

@media only screen and (max-width: 640px) {
  .sellingPriceContainer {
    margin-bottom: 1.5rem;
  }
}
