.container{
    display: flex;
    flex-direction: column;
}
.additionalService{
    font-family: "myriadSemibold";
    color: #505050;
    font-weight: 400;
    font-size: .675rem;
    line-height: 1.25rem;
    text-transform: uppercase;
}

