.container {
  display: flex;
}
.image {
  width: auto !important;
  height: 27px;
  object-fit: contain;
}
.label {
  width: auto;
  margin: auto 0 auto 0.5rem;
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  color: #505050;
}
.labelLink {
  width: auto;
  margin: auto 0 auto 0.5rem;
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  color: #505050;
  text-decoration: none;
}
.labelLink:hover {
  color: #edb112;
}
@media screen and (max-width: 1024px) {
	.labelLink{
	  width: 100px;
	}
}