.container {
    display: flex;
    flex-direction: column;
}

.hideMoreContainer>div:nth-child(2) {
    display: none;
}

.hideButton {
    display: none;
}

.button {
    margin: 20px auto;
    color: #fff;
    background-color: #007d69;
    padding: 11px 20px;
    border-radius: 0.125rem;
}