@font-face {
    font-family: "gothamproregular";
    src: url("https://frccwhirlpool.vtexassets.com/assets/vtex/assets-builder/frccwhirlpool.whl-theme/0.0.1/fonts/GothamProRRegular___8fd921d002646f5aefc70699823718b3.woff");
}

​​ body {
    padding-bottom: 0 !important;
}

#scheduled-delivery-Standard {
    display: none !important;
}

.invoice-text {
    font-size: 13px;
}

.discount {
    display: none;
}

.energyLabelImage {
    width: 3rem;
}

.productInformationSheet {
    width: 50%;
    margin: 0;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    color: #505050;
    font-weight: bold;
    text-decoration: underline;
    flex-grow: 2;
}

.deee {
    display: flex;
    flex-direction: column;
}

.totalEcofee {
    font-family: "gothamproregular";
    font-size: 12px !important;
    font-weight: normal !important;
    color: #aaa !important;
    display: block;
    margin-top: 1rem;
}

.newsletter-label {
    margin: 0.5rem 0;
}

.newsletter-text {
    text-align: justify !important;
}

#cartLoadedDiv>div.cart>table>tbody>tr>fieldset>div.title-custom-extra-services-container>div {
    display: none;
}

.checkout-header-logo {
    display: block;
    max-width: 10rem;
}

.container-header {
    height: 6.1875rem;
    border-bottom: 0.0625rem solid #f2f2f2;
    background-color: white;
    margin-bottom: 5vh;
}

.header-content {
    max-width: 1280px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    height: 100%;
    padding-left: 2vw;
}

.extra-services-label {
    position: relative;
    font-size: 14px;
    min-width: fit-content;
    width: 100%;
}

.service-space {
    width: 100%;
}

@media screen and (min-width: 82rem) {
    .header-content {
        padding-left: 0;
    }
}

.btn-success {
    font-family: "gothamproregular", Arial;
    font-size: 14px;
}

#cart-coupon {
    font-size: 9px !important;
    border: 0.125rem solid #979797;
    border-radius: 1.5625rem;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    margin: 0;

    font-size: 15px;
    padding: 0px 20px;
}

#cart-coupon-add {
    color: black;
    font-weight: 600;
    border: 0.125rem solid #979797;
    border-radius: 1.5625rem;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: none;

    padding: 7px 30px;
    font-size: 15px;
    text-transform: uppercase;
}

#cart-coupon,
#cart-coupon-add {
    height: 55px !important;
    line-height: 45px !important;
}

.table.cart-items td.product-name a,
.table.cart-items td.product-name a:hover {
    font-weight: normal;
}

.summary-template-holder .tfoot .tr .td.monetary,
.full-cart .summary-totalizers .monetary,
.table.cart-items tbody tr td i.icon-question-sign,
.summary-template-holder .summary-coupon p.coupon-fields span.info>span {
    color: black;
}

.box-client-info-pj .links .link {
    padding: 7px 7px 7px 0;
}

.box-client-info-pj .corporate-title {
    background-color: #dddddd;
    padding: 7px;
}

.box-client-info-pj .corporate-info-box {
    margin-top: 15px;
}

.add-service-container .add-service .btn .btn-mini,
.table.cart-items tbody tr td.product-name .add-service.btn {
    border: 1px solid black !important;
    color: black !important;
}

.cart-more-options .srp-container .onda-v1 .blue {
    border-color: black;
    color: black;
}

.onda-v1 .hover-b--light-blue,
.onda-v1 .hover-b--light-blue:focus,
.onda-v1 .hover-b--light-blue:hover {
    background-color: lightgrey;
}

/* accordion del checkout a step */
body.js-vcustom-hideEmailStep .client-profile-data .accordion-toggle>span:before,
body.v-custom-step-shipping .shipping-data .accordion-toggle:before {
    background-color: black;
    border-color: black;
}

.accordion-group.client-profile-data.active,
#shipping-data,
#payment-data,
.accordion-group.client-profile-data.filled {
    background-color: #f4f2f2 !important;
}

.accordion-group.client-profile-data.active,
.activeSection {
    border-bottom: 3px solid #edb112 !important;
}

#shipping-data input,
#shipping-data select,
.accordion-group.client-profile-data.active input,
.accordion-group.client-profile-data.active select {
    background: #f9f9f9 !important;
    border-radius: 5px !important;
}

.accordion-heading i.icon-edit:after {
    content: "Modifier";
    font-family: "gothamproregular";
    text-decoration: underline;
    padding-left: 0.3rem;
}

.client-pre-email h3.client-pre-email-h span:before,
.client-profile-data .accordion-toggle>span:before,
.shipping-data .accordion-toggle:before,
.payment-data .accordion-toggle>span:not(.payment-edit-link):before {
    background: #edb112 !important;
    border-color: #edb112 !important;
    color: white !important;
}

.orderform-template .cart-template.mini-cart .summary-totalizers tfoot tr td.monetary {
    color: black;
}

#scheduled-delivery-choose-Normal.vtex-omnishipping-1-x-dateLink {
    border-color: black;
    color: black;
}

#scheduled-delivery-delivery svg.vtex-omnishipping-1-x-svg path {
    fill: black;
}

a.vtex-omnishipping-1-x-linkEdit .link-edit,
.orderform-template-holder .step.shipping-data .vtex-omnishipping-1-x-linkEdit {
    color: black;
}

#orderform-minicart-to-cart {
    color: black;
    font-size: 14px;
}

svg.srp-icon-radio-selected path {
    fill: black;
}

i.icon-edit {
    color: black;
}

.headerCustom {
    background-color: white;
    padding: 1.5rem 3.75rem;
    border-bottom: 1px solid #f2f2f2;
}

.containerFooter {
    padding-top: 11rem;
    padding-bottom: 10.625rem;
    max-width: unset;
    width: 100%;
    background-color: #f9f9f9;
}

.footerContent {
    padding: 0 2.25rem;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: row;
    margin: 0;
}

.primaColonna {
    flex: 20%;
}

.secondaColonna {
    display: flex;
    flex: 80%;
}

.rowInfoWhl {
    flex-direction: column;
    display: flex;
}

.rowInfoWhl a,
.rowInfoWhl a:hover,
.colonnaInterna a,
.colonnaInterna a:hover {
    text-decoration: none;
    display: block;
    font-family: "gothamproregular";
    font-weight: 400;
    font-size: 0.875rem;
    color: #3f3f40;
    line-height: 1.5rem;
    text-transform: unset;
    letter-spacing: normal;
    margin: 0 1.5rem;
    padding: 0.25rem 0;
}

.rowInfoMarchi {
    flex-direction: row;
    display: flex;
}

.firstRowInfoWhl {
    font-family: "gothamproregular";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.5rem;
    color: #353535;
    padding: 2.1875rem 2.1875rem 2.1875rem 0;
}

.rowInfoMarchi {
    flex: 100%;
    margin-top: 6.25rem;
}

.rowInfoMarchi p {
    margin: 0 3.125rem 0 0;
    color: #9b9b9b;
    display: block;
    font-family: "gothamproregular";
    font-weight: 400;
    font-size: 1.125rem;
}

.colonnaInterna {
    flex-direction: column;
    display: flex;
    flex: 25%;
}

.colonnaInterna p {
    letter-spacing: 0.125rem;
    font-family: "gothamproregular";
    font-weight: 400;
    font-size: 0.875rem;
    text-transform: uppercase;
    color: #353535;
    line-height: 1.5rem;
    margin: 0;
}

.normativaFGAS {
    margin: 0px;
    text-align: justify;
}

.heading--fgas {
    text-align: left;
    margin: 0.5rem 0 1rem;
    font-family: "gothamproregular";
    text-transform: uppercase;
    font-size: 0.9rem;
    color: #999;
}

.paragraph--fgas {
    color: #505050;
    font-family: "gothamproregular";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.3125rem;
}

.fgasPDF {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
}

.fgasPdfText {
    margin: -14px -40px;
}

@media only screen and (max-width: 600px) {
    .normativaFGAS {
        margin: 139px 0px 0px 92px;
    }

    .primaColonna,
    .secondaColonna,
    .rowInfoMarchi {
        width: 100%;
    }

    .primaColonna {
        margin-bottom: 2.5rem;
    }

    .rowInfoMarchi {
        flex-direction: column;
        margin-top: 2.5rem;
    }

    .rowInfoMarchi p {
        margin-bottom: 0.9375rem;
    }
}

.linkGoToShop {
    position: absolute;
    left: -8%;
    top: 50%;
    transform: rotate(-90deg) translateY(-50%);
}

.linkGoToShopCheck {
    position: absolute;
    left: -8%;
    top: 50%;
    transform: rotate(-90deg) translateY(-50%);
}

@media only screen and (max-width: 1200px) and (min-width: 1000px) {
    .linkGoToShopCheck {
        position: absolute;
        top: -7%;
        left: 50%;
        transform: translateX(-50%);
    }

    .linkGoToShop {
        position: absolute;
        top: -8%;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media only screen and (max-width: 1000px) and (min-width: 600px) {
    .linkGoToShopCheck {
        position: absolute;
        top: 3%;
        left: 50%;
        transform: translateX(-50%);
    }

    .linkGoToShop {
        top: -4%;
        left: 50%;
        transform: translateX(-50%);
    }
}

@media only screen and (max-width: 600px) {
    .linkGoToShopCheck {
        position: absolute;
        width: fit-content;
        font-size: 18px;
        top: -2%;
        left: 50%;
        transform: translateX(-50%);
    }

    .linkGoToShop {
        width: fit-content;
        font-size: 18px;
        top: -3%;
        left: 50%;
        transform: translateX(-50%);
    }
}

#cart-to-orderform {
    /*color: transparent;*/
    display: flex;
    justify-content: center;
}

/*#cart-to-orderform::after {
      content: "Scopri di più";
      position: absolute;
      text-transform: uppercase;
      color: white;
    }*/
.vtex-omnishipping-1-x-productItems {
    display: none !important;
}

label[for="ship-number"]:after {
    content: " civico";
}

.buttonContinuaShopping {
    display: flex;
    height: 3em;
    border-radius: 5px;
    border: none;
    opacity: 0.5;
    margin: 30px auto 0;
}

.buttonContinuaShopping:hover {
    opacity: 1;
}

.buttonSvg {
    padding-left: 15px;
    margin: auto;
    display: flex;
}

.buttonSvg svg {
    width: 15px !important;
}

.labelButtonContinuaShopping {
    margin: auto;
    padding: 0.5em 1em;
}

.continuaAcquisti:hover,
.continuaAcquisti:focus {
    color: unset;
    text-decoration: none;
}

#shipping-preview-container {
    display: none;
}

.v-custom-trservice-wrap {
    background-color: white !important;
}

.available-gift .active {
    background-color: white !important;
}

.v-custom-trservice-wrap .quantity {
    display: none !important;
}

.loaderShipping {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #edb112;
    background: -moz-linear-gradient(left,
            #edb112 10%,
            rgba(237, 177, 18, 0) 42%);
    background: -webkit-linear-gradient(left,
            #edb112 10%,
            rgba(237, 177, 18, 0) 42%);
    background: -o-linear-gradient(left, #edb112 10%, rgba(237, 177, 18, 0) 42%);
    background: -ms-linear-gradient(left, #edb112 10%, rgba(237, 177, 18, 0) 42%);
    background: linear-gradient(to right, #edb112 10%, rgba(237, 177, 18, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.loaderShipping:before {
    width: 50%;
    height: 50%;
    background: #edb112;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
}

.loaderShipping:after {
    background: #ffffff;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: "";
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#loginButton {
    color: #edb112;
    cursor: pointer;
}

#loginButton:hover {
    text-decoration: underline;
}

#shipping-preview-container {
    visibility: hidden;
}

.logo {
    width: 7.1875rem;
    height: 2.375rem;
}

.socialNetwork {
    width: 100%;
    flex-wrap: nowrap;
    display: flex;
}

.socialNetwork a {
    width: 2rem;
    margin: 0 0.25rem;
}

.rowPay {
    margin: 1rem 0;
}

svg#paymentCard {
    width: 100%;
}

.rowPayFirst {
    display: none;
}

@media only screen and (max-width: 1100px) {
    .table.cart-items tbody tr {}

    .footerContent {
        flex-direction: column-reverse;
    }

    .secondaColonna {
        flex-wrap: wrap;
        flex-direction: row;
    }

    .secondaColonna .colonnaInterna {
        width: 50%;
    }

    .footerContent {
        padding: unset;
    }

    .logo {
        margin: auto;
        width: 192px;
        padding: 2rem 0;
    }

    .firstRowInfoWhl {
        text-align: center;
        padding: 2rem 0;
        width: 20%;
        margin: auto;
    }

    .socialNetwork {
        display: flex;
        justify-content: center;
    }

    .containerFooter {
        padding: 4rem 0;
    }

    .rowPayFirst {
        display: block;
        margin: 1rem auto;
    }

    .containerFooter {
        padding: 1rem 0;
    }

    .rowPay {
        display: none;
    }
}

.containerFooter {
    display: none;
}

@media only screen and (max-width: 600px) {
    .continuaAcquisti {
        display: flex;
        justify-content: center;
        background: white;
        padding: 0.5rem 0 0 0;
    }

    .buttonContinuaShopping {
        margin: 0;
    }
}

.custom-cart-template-wrap .shipping-date {
    display: none;
}

.custom-cart-template-wrap .description {
    justify-content: flex-end !important;
}

[data-i18n="clientProfileData.notice"] {
    display: none;
}

p.note-label::after {
    content: "Message personnalisé (max 216 caractères)";
    font-size: 13px;
}

label[for="cart-note"] {
    display: none;
}

.item-unavailable {
    outline: 2px solid #ffe699 !important;
    background: transparent;
}

.unavailable {
    background: transparent !important;
}

.newsletter {
    margin-bottom: 1rem;
}

.box-client-info span.error {
    font-size: 11px;
    width: 100%;
}

.available-gift-item {
    z-index: 0 !important;
}

/* EXTRA SERVICES - CUSTOMIZATION */

.custom-extra-services {
    /*margin-left: 130px;*/
    background: #f9f9f9;
    width: 100%;
    padding: 1rem;
    border-top: 1px solid #c9c9c9;
    border-bottom: 3px solid #edb112;

    width: 100% !important;
    position: static !important;
    min-width: 250px;
    top: calc(100% - 200px);
    left: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
    display: flex;
    flex-wrap: wrap;
}

.preselected-service-name-shipping {
    color: #edb112;
    font-weight: bold;
}

.blacked-service-price {
    color: #3f3f40;
}

.containerCheckbox {
    display: flex;
    flex-wrap: wrap;
}

.extra-services-checkbox {
    display: flex;
    flex: 100% 0;
    margin: 0.5rem 0.5rem;
    background: white;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
}

.extra-services-label {
    padding: 0.5rem;
    background: white;
    border-radius: 5px;
    display: flex;
    color: #505050;
    font-family: "gothamproregular";
    font-weight: 400;
    line-height: 1.3125rem;
}

.servicePriceBlack {
    color: #353535 !important;
}

.title-custom-extra-services {
    font-family: "gothamproregular";
    line-height: 1.625rem;
    color: #353535;
    font-size: 0.9rem;

    display: block;
    order: -1;
    width: 100%;
}

.title-custom-extra-services i {
    display: none;
}

.tooltip {
    position: relative;
    display: inline-block;
    opacity: 1;
    margin: 0 0.5rem;
    align-items: center;
    display: flex;
    font-size: 14px !important;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 20%);
    background-color: white;
    width: 15rem;
    color: #505050;
    padding: 1rem;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 999;
    top: -5px;
    left: 105%;
}

.table.cart-items tbody tr {}

.product-name {
    height: 100%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.table.cart-items tbody tr td .product-service {
    /*height: calc(135px + 10px) !important;*/
    height: unset;
    position: static;
}

@media screen and (max-width: 1200px) {
    .table.cart-items tbody tr {}
}

@media screen and (max-width: 690px) {
    .table.cart-items tbody tr td .product-service {
        top: 170px;
        position: absolute;
    }

    .table.cart-items tbody tr {}
}

@media screen and (max-width: 567px) {
    .table.cart-items tbody tr td .product-service {
        top: 180px;
    }
}

@media screen and (max-width: 423px) {
    .table.cart-items tbody tr td .product-service {
        top: 215px;
    }
}

@media screen and (max-width: 394px) {
    .table.cart-items tbody tr td .product-service {
        top: 260px;
    }

    .custom-extra-services {
        position: absolute;
        left: -75px;
    }
}

form.product-service {
    display: none !important;
}

.extra-services-preselected {
    flex: 100% 0;
    margin: 0.5rem 0.5rem;

    color: #505050;
    font-family: "gothamproregular";
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.3125rem;
}

.preselected-service {
    background: white;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.extra-services-label {
    position: relative;
    font-size: 15px;
}

.extra-services-input {
    margin-right: 0.5rem !important;
    /*margin: 0px !important;*/
}

.extra-services-price {
    color: #edb112;
    font-weight: bold;
    font-size: 0.875rem;
    width: 8%;
}

.preselected-service-name {
    font-size: 14px;
}

.preselected-service-icon {
    color: #edb112;
}

.title-custom-extra-services {
    font-weight: bold;
    font-size: 16px;
}

.title-custom-extra-services i {
    margin-right: 5px;
}

/* VTEX - LOADER */
.customShow {
    display: inline !important;
    margin-top: 0px;
}

/* REPLY STYLES */
.couponTitle,
.cart-items [data-i18n="global.product"],
.cart-items [data-i18n="global.price"],
.cart-items [data-i18n="global.quantity"] {
    color: black;
    text-align: left;
    margin: 0.5rem 0 1rem;
    font-family: "gothamproregular";
    text-transform: uppercase;
    font-size: 0.9rem;
}

#cart-coupon {
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-width: 1px;
    border-right: unset;
}

#cart-coupon-add {
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    background-color: #edb112;
    color: white;
    font-weight: 300;
    border-width: 1px;
    border-color: #edb112;
}

#cart-coupon-add:hover {
    background: #faca4b;
    border: 1px solid #faca4b;
}

.titoloCarrello {
    text-align: center;
    font-size: 2rem;
    margin: 2rem 0 0.5rem;
    font-family: "gothamproregular";
    font-weight: 500;
}

.couponTitle {
    margin: 1rem 0;
}

.ivaMessage {
    color: #999;
    font-size: 0.7rem;
    font-weight: normal;
}

/* FIX TABLE ROWS - SERVICES */
.v-custom-product-item-wrap {
    align-items: start !important;
}

/* END: FIX TABLE ROWS - SERVICES */

/* NEW STYLES */
.full-cart .totalizers tfoot td {
    font-size: 23px;
    font-weight: inherit !important;
}

th.product-price {
    text-align: center !important;
}

i.icon-info {
    color: black;
    border: 1px solid;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    text-align: center;
    font-size: 9px;
}

.summary-template-holder tbody {
    border-top: none !important;
}

.summary-template-holder tbody td {
    color: black !important;
}

.summary-template-holder tfoot tr td {
    margin-top: 15px !important;
}

.summary-template-holder .cart-links-bottom {
    margin: 25px 0 0 0 !important;
}

.orderform-template .cart-template.mini-cart .summary-totalizers tfoot tr td {
    font-size: 23px !important;
    font-weight: normal !important;
}

.orderform-template .cart-template.mini-cart h2 {
    font-weight: normal !important;
    font-size: 24px !important;
}

.client-pre-email h3.client-pre-email-h span:before,
.client-profile-data .accordion-toggle>span:before,
.shipping-data .accordion-toggle:before,
.payment-data .accordion-toggle>span:not(.payment-edit-link):before {
    width: 40px !important;
    height: 40px !important;
    line-height: 40px !important;
}

.orderform-template .cart-template.mini-cart .summary-totalizers tbody td {
    font-size: 15px !important;
    padding: 0 0 10px 0 !important;
}

#requestInvoice .checkbox {
    font-size: 14px;
    padding-bottom: 10px;
    padding-top: 15px;
}

/* HIDDEN NATIVE BLOCKS */
.client-document {
    display: none;
}

form.product-service {
    display: none;
}

p.add-service-container {
    display: none;
}

/* FIXING CHECKOUT */
div.vtex-omnishipping-1-x-address div p.input.ship-complement {
    display: none;
}

@media screen and (max-width: 450px) {
    #cart-coupon-add {
        padding: 7px 10px;
    }

    .payment-paypal-postscript {
        background-size: 60px;
    }
}

@media screen and (max-width: 370px) {
    .payment-paypal-postscript {
        background-size: 50px;
    }
}

@media screen and (max-width: 295px) {
    .payment-paypal-postscript {
        background-size: 40px;
    }
}

@media (max-width: 490px) {
    .vtex-omnishipping-1-x-dateLink {
        width: calc(100vw - 75px) !important;
    }
}

/*  CUSTOM EXTRA SERVICES */
.custom-extra-services {
    border-bottom: 3px solid #edb112 !important;
}

.preselected-service-icon {
    color: #edb112 !important;
}

.extra-services-label {
    font-family: "gothamproregular" !important;
    width: auto;
}

.title-custom-extra-services {
    font-family: "gothamproregular" !important;
}

.extra-services-preselected {
    font-family: "gothamproregular" !important;
}

/* .cart-template-holder .cart {
      min-height: 700px; */

/* CHECKOUT-UI-CUSTOM FIX */
BODY.v-custom-addressForm-on.v-custom-googleForm-on .vtex-omnishipping-1-x-addressForm,
BODY.v-custom-addressForm-on.v-custom-googleForm-on .vtex-omnishipping-1-x-btnDelivery {
    display: none;
}

.vcustom--vtex-omnishipping-1-x-address__state .ship-state {
    margin-top: 0 !important;
}

.vcustom--vtex-omnishipping-1-x-address__state label[for="ship-state"] {
    display: block !important;
}

.vcustom--vtex-omnishipping-1-x-address__state .ship-state:before {
    content: "";
    font-size: 0;
}

label[for="ship-country"] {
    font-size: 0 !important;
    visibility: hidden;
}

label[for="ship-country"]:before {
    content: "Stato";
    color: #999999;
    font-size: 13px;
    visibility: visible;
    line-height: 16px;
}

p.corporate-field.custom-corporate-phone.invoice-address-input {
    display: none;
}

.summary-template-holder tfoot tr td.monetary {
    width: auto;
}

.tooltip {
    position: relative;
    display: inline-block;
    opacity: 1;
    margin-left: 0.5rem;
    align-items: center;
    display: flex;
    z-index: unset;
}

.tooltiptext {
    visibility: hidden;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 50%);
    background-color: white;
    width: 15rem;
    color: #505050;
    padding: 1rem;
    text-align: center;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 105%;
    /* height: 25vh; */
    overflow-y: auto;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.table.cart-items tbody tr td i.icon-question-sign {
    color: #000000 !important;
    display: flex;
    align-items: center;
    font-size: 14px;
}

.table.cart-items tbody tr td i.icon-question-sign:hover {
    cursor: pointer;
}

.tooltip-modal-content p {
    margin-block-start: 1.75em !important;
    margin-block-end: 0px !important;
    text-align: center;
}

.tooltip-modal-content {
    border-radius: 6px;
}

.tooltiptext::-webkit-scrollbar {
    width: 10px;
}

.tooltiptext::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

.tooltiptext::-webkit-scrollbar-thumb {
    background: #edb112;
    border-radius: 10px;
}

.unFlex {
    display: unset;
    margin: unset;
    margin-left: 0.5rem;
}

.almaDisclaimer {
    margin-top: 1rem;
}

/* PAYMENT ICONS */
.orderform-template-holder #payment-data .v-custom-payment-item-wrap .payment-group-item#payment-group-payPalPaymentGroup {
    background-image: url(https://frwhirlpool.vteximg.com.br/arquivos/paypal_logo.png);
    background-size: 3rem 2rem;
    background-position: right;
    background-repeat: no-repeat;
}

.orderform-template-holder #payment-data .v-custom-payment-item-wrap .payment-group-item#payment-group-AlmaPaymentGroup {
    background-image: url(https://frwhirlpoolqa.vtexassets.com/assets/vtex.file-manager-graphql/images/765a1cf7-ad6f-4571-8f85-c79288817331___2656cd0….png);
    background-size: 4.5rem 1.5rem;
    background-position: right;
    background-repeat: no-repeat;
}

.orderform-template-holder #payment-data .v-custom-payment-item-wrap .payment-group-item#payment-group-custom201PaymentGroupPaymentGroup {
    background-image: url(https://frwhirlpool.vteximg.com.br/arquivos/credit_cards_logo.png);
    background-size: 9rem 1.5rem;
    background-position: right;
    background-repeat: no-repeat;
}


.orderform-template-holder #payment-data .v-custom-payment-item-wrap .pg-carte-bancaire.payment-group-item.active#payment-group-custom202PaymentGroupPaymentGroup:after {
    left: 42% !important;
}

.orderform-template-holder #payment-data .payment-group-item.active:after {
    border-color: transparent !important;
}

.AlmaPaymentGroup .payment-description {
    display: none;
}

.AlmaPaymentGroup .installments {
    display: none;
}

.paymentMethodsCartImage {
    max-width: 250px;
    margin-left: calc(50% - 125px);
    margin-top: 1rem;
}

@media only screen and (max-width: 640px) {
    .unFlex {
        display: unset;
        margin: unset;
        font-size: 1.25rem;
    }

    .icon-question-sign {
        margin: auto 0.5rem;
        font-size: large;
    }

    .extra-services-label {
        width: fit-content;
    }

    .extra-services-price {
        line-height: 2.4rem;
        margin-right: 0.5rem;
        width: auto;
    }

    .service-space {
        width: 100%;
        flex-shrink: 2;
    }

    .unFlex>.icon-question-sign {
        margin-right: 0;
        margin-left: 0;
        padding-top: 0;
    }

    .table.cart-items tbody tr td.product-price .total-selling-price .discount,
    .table.cart-items tbody tr td.product-price .best-price .discount,
    .table.cart-items tbody tr td.quantity-price .total-selling-price .discount,
    .table.cart-items tbody tr td.quantity-price .best-price .discount {
        display: none;
    }

    .almaBoxImg {
        width: 100%;
        content: url(https://frwhirlpoolqa.vtexassets.com/assets/vtex.file-manager-graphql/images/1b301a50-6258-4919-a66f-cb80a3dd3f23___3eab911d94a3b28d18923e0718513ed5.png);
    }
}

/* INSTALLATION CHECK MODAL */

.installValidationContainer {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 900;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
}

.installValidationFormContainer {
    align-items: center;
    background: white;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 40%;
    left: 0;
    top: 0;
    margin: 0 auto;
    box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.42);
    z-index: 999;
    position: relative;
    border-radius: 20px;
    justify-content: center;
    padding: 1rem;
}

.installValidationCloseIcon {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0;
}

.installValidationIcon {
    padding: 1.5rem;
    cursor: pointer;
}

.installValidationForm {}

.installValidationLabel {
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
}

.installValidationInputContainer {
    display: flex;
    justify-content: center;
    margin: 1rem 0;
}

.installValidationInput {
    border-color: #e3e4e6 !important;
    padding: 0.5rem !important;
    font-family: "gothamproregular";
    font-size: 1rem !important;
    color: black !important;
    margin: 0 0.5rem;
    border-radius: 5px;
}

.installValidationButton {
    background-color: #fdc100;
    border: none;
    color: white;
    padding: 0 0.8rem;
    border-radius: 5px;
}

.installValidationResponse {
    margin: 1rem 0;
}

.installValidationResponseText {
    text-align: center;
}

.tick-icon-install {
    width: 1rem;
}

@media screen and (max-width: 1200px) {
    .installValidationFormContainer {
        width: 50%;
        height: 50%;
    }
}

@media screen and (max-width: 780px) {
    .installValidationFormContainer {
        width: 80%;
        height: 50%;
    }

    .installValidationInputContainer {
        width: 80%;
        margin: 1rem auto;
    }
}

.invoice-info-box {
    display: inline !important;
}

.custom-corporate-document2 {
    display: none !important;
}

.vtex-omnishipping-1-x-shippingDataDev>div>span::after {
    content: "Livraison";
    width: 40%;
    height: 100%;
    background: #F4F2F2;
    position: absolute;
    top: 0;
    left: 50px;
    display: flex;
    align-items: center;
}

.changeCoordonneesLabel::after {
    content: "Renseignements personnels";
    width: 40%;
    height: 100%;
    background: #F4F2F2;
    position: absolute;
    top: 0;
    left: 50px;
    display: flex;
    align-items: center;
}

.Items, .Discounts {
    visibility: hidden;
    height: 0;
}

.service-list {
    display: none !important;
}

.product-services {
    margin-left: 0;
    margin-top: 1.5rem;
}

#ot-sdk-btn-floating {
    display: none !important;
}

.dep_warning_message {
    font-size: 0.8rem;
}