@font-face {
  font-family: "hotpointRegular";
  src: url(https://hotpointuk.vtexassets.com/assets/vtex/assets-builder/hotpointuk.hotpoint-theme/1.0.86/fonts/Hotpoint-Regular.otf);
}
@font-face {
  font-family: "hotpointMedium";
  src: url(https://hotpointuk.vtexassets.com/assets/vtex/assets-builder/hotpointuk.hotpoint-theme/1.0.86/fonts/Hotpoint-Medium.otf);
}


body {
  padding-bottom: 0 !important;
  font-family: "hotpointRegular", sans-serif;
}
/*ENERGY LABEL*/
.energyLabelImage {
  width: 3rem;
}
.energyLabel{
  color: #333 !important;
}
.energyLabel:hover{
  color:#fdc100 !important;
}
/*ENERGY LABEL*/
input {
accent-color: #953D1B;
}
.title-custom-extra-services{
display: none !important;
}
.react-datepicker__day--keyboard-selected, .react-datepicker__day--selected{
background-color: #953D1B !important;
}
.react-datepicker__current-month{
    text-transform: capitalize;
    font-family: 'hotpointRegular';
}
.react-datepicker__day-name, .react-datepicker__day{
    font-family: 'hotpointRegular';
}
.vtex-omnishipping-1-x-toggleActive{
background-color: #953D1B !important;
}
.vtex-omnishipping-1-x-dateLink{
border: 1px solid #953D1B !important;
color: #953D1B !important;
}
.vtex-omnishipping-1-x-dateLinkModify{
color: #953D1B !important;
}
.vtex-omnishipping-1-x-scheduledDeliveryList{
border: none !important;
}
.orderform-template .cart-template.mini-cart .quantity{
background-color: #fff !important;
}
.checkout-header-logo {
  display: block;
  max-width: 10rem;
}
.container-header {
  height: 6.1875rem;
  border-bottom: 0.0625rem solid #f2f2f2;
  background-color: black;
  margin-bottom: 5vh;
}
.header-content {
  max-width: 1280px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  padding-left: 2vw;
}
@media screen and (min-width: 82rem) {
  .header-content {
    padding-left: 0;
  }
}

@media screen and (max-width: 640px) {
  .extra-services-label {
    padding-right: 5rem !important;
    align-items: center;
  }
}

.btn-success {
  font-family: "hotpointMedium", Arial;
  font-size: 14px;
}

#cart-coupon {
  border: 0.125rem solid #979797;
  border-radius: 1.5625rem;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  margin: 0;

  font-size: 15px;
  padding: 0px 20px;
}

#cart-coupon-add {
  color: black;
  font-weight: 600;
  border: 0.125rem solid #979797;
  border-radius: 1.5625rem;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-left: none;

  padding: 7px 30px;
  font-size: 15px;
  text-transform: uppercase;
}

#cart-coupon,
#cart-coupon-add {
  height: 55px !important;
}

.table.cart-items td.product-name a,
.table.cart-items td.product-name a:hover {
  font-weight: normal;
font-family: "hotpointRegular";
}
.table.cart-items td.quantity input{
font-family: "hotpointRegular";
}

.summary-template-holder .tfoot .tr .td.monetary,
.full-cart .summary-totalizers .monetary,
.table.cart-items tbody tr td i.icon-question-sign,
.summary-template-holder .summary-coupon p.coupon-fields span.info > span {
  color: black;
}

.box-client-info-pj .links .link {
  padding: 7px 7px 7px 0;
}

.box-client-info-pj .corporate-title {
  background-color: #dddddd;
  padding: 7px;
}

.box-client-info-pj .corporate-info-box {
  margin-top: 15px;
}

.add-service-container .add-service .btn .btn-mini,
.table.cart-items tbody tr td.product-name .add-service.btn {
  border: 1px solid black !important;
  color: black !important;
}

.cart-more-options .srp-container .onda-v1 .blue {
  border-color: black;
  color: black;
}

.onda-v1 .hover-b--light-blue,
.onda-v1 .hover-b--light-blue:focus,
.onda-v1 .hover-b--light-blue:hover {
  background-color: lightgrey;
}

/* accordion del checkout a step */
body.js-vcustom-hideEmailStep .client-profile-data .accordion-toggle > span:before,
body.v-custom-step-shipping .shipping-data .accordion-toggle:before {
  background-color: black;
  border-color: black;
}
.accordion-group.client-profile-data.active,
#shipping-data,
#payment-data,
.accordion-group.client-profile-data.filled {
  background-color: #f4f2f2 !important;
}

.accordion-group.client-profile-data.active,
.activeSection {
  border-bottom: 3px solid #953D1B !important;
}

#shipping-data input,
#shipping-data select,
.accordion-group.client-profile-data.active input,
.accordion-group.client-profile-data.active select {
  background: #f9f9f9 !important;
  border-radius: 5px !important;
}
.accordion-heading i.icon-edit:after {
  content: "Modifica";
  font-family: "hotpointMedium";
  text-decoration: underline;
  padding-left: 0.3rem;
}
.client-pre-email h3.client-pre-email-h span:before,
.client-profile-data .accordion-toggle > span:before,
.shipping-data .accordion-toggle:before,
.payment-data .accordion-toggle > span:not(.payment-edit-link):before {
  background: #953D1B !important;
  border-color: #953D1B !important;
  color: white !important;
}
.orderform-template .cart-template.mini-cart .summary-totalizers tfoot tr td.monetary {
  color: black;
}

#scheduled-delivery-choose-Normal.vtex-omnishipping-1-x-dateLink {
  border-color: black;
  color: black;
}

#scheduled-delivery-delivery svg.vtex-omnishipping-1-x-svg path {
  fill: black;
}

a.vtex-omnishipping-1-x-linkEdit .link-edit,
.orderform-template-holder .step.shipping-data .vtex-omnishipping-1-x-linkEdit {
  color: black;
}
.orderform-template-holder .step .submit.btn.btn-success {
  border-radius: 11px;
}

.orderform-template-holder .step.shipping-data .vtex-omnishipping-1-x-summaryChange {
background: none;
border-color: #953D1B;
border-style: solid;
}


.orderform-template-holder .step.shipping-data .vtex-omnishipping-1-x-summaryChange:hover {
text-decoration: underline;
}

.orderform-template-holder
  #payment-data
  .v-custom-payment-item-wrap
  .payment-group-item.active
  .payment-group-item-text:before {
  background: white;
  border-color: white;
  box-shadow: inset 0 0 0 3px #953D1B;
}

.orderform-template-holder #payment-data .v-custom-payment-item-wrap .payment-group-item.active {
background: #953D1B;

}

.orderform-template-holder #payment-data .v-custom-payment-item-wrap .payment-group-item.active .payment-group-item-text {
color: white;
}



#orderform-minicart-to-cart {
  color: black;
  font-size: 14px;
}

svg.srp-icon-radio-selected path {
  fill: black;
}

i.icon-edit {
  color: black;
}
.headerCustom {
  background-color: white;
  padding: 1.5rem 3.75rem;
  border-bottom: 1px solid #f2f2f2;
}
.containerFooter {
  padding-top: 11rem;
  padding-bottom: 10.625rem;
  max-width: unset;
  width: 100%;
  background-color: #f9f9f9;
}
.footerContent {
  padding: 0 2.25rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: row;
  margin: 0;
}
.primaColonna {
  flex: 20%;
}
.secondaColonna {
  display: flex;
  flex: 80%;
}
.rowInfoWhl {
  flex-direction: column;
  display: flex;
}
.rowInfoWhl a,
.rowInfoWhl a:hover,
.colonnaInterna a,
.colonnaInterna a:hover {
  text-decoration: none;
  display: block;
  font-family: "hotpointRegular";
  font-weight: 400;
  font-size: 0.875rem;
  color: #3f3f40;
  line-height: 1.5rem;
  text-transform: unset;
  letter-spacing: normal;
  margin: 0 1.5rem;
  padding: 0.25rem 0;
}
.rowInfoMarchi {
  flex-direction: row;
  display: flex;
}
.firstRowInfoWhl {
  font-family: "hotpointRegular";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #353535;
  padding: 2.1875rem 2.1875rem 2.1875rem 0;
}
.rowInfoMarchi {
  flex: 100%;
  margin-top: 6.25rem;
}
.rowInfoMarchi p {
  margin: 0 3.125rem 0 0;
  color: #9b9b9b;
  display: block;
  font-family: "hotpointMedium";
  font-weight: 400;
  font-size: 1.125rem;
}
.colonnaInterna {
  flex-direction: column;
  display: flex;
  flex: 25%;
}
.colonnaInterna p {
  letter-spacing: 0.125rem;
  font-family: "hotpointMedium";
  font-weight: 400;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #353535;
  line-height: 1.5rem;
  margin: 0;
}
.normativaFGAS {
    margin: 0px;
    text-align: justify;
  }
  .heading--fgas {
    text-align: left;
    margin: 0.5rem 0 1rem;
    font-family: "hotpointMedium";
    text-transform: uppercase;
    font-size: 0.9rem;
    color: #999;
  }
  .paragraph--fgas {
    color: #505050;
    font-family: "hotpointRegular";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.3125rem;
  }
  .fgasPDF {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
  }
  .fgasPdfText {
    margin: -14px -40px;
  }
@media only screen and (max-width: 600px) {
 .normativaFGAS {
      margin: 139px 0px 0px 92px;
    }
  .primaColonna,
  .secondaColonna,
  .rowInfoMarchi {
    width: 100%;
  }
  .primaColonna {
    margin-bottom: 2.5rem;
  }
  .rowInfoMarchi {
    flex-direction: column;
    margin-top: 2.5rem;
  }
  .rowInfoMarchi p {
    margin-bottom: 0.9375rem;
  }
}
.linkGoToShop {
  position: absolute;
  left: -8%;
  top: 50%;
  transform: rotate(-90deg) translateY(-50%);
}
.linkGoToShopCheck {
  position: absolute;
  left: -8%;
  top: 50%;
  transform: rotate(-90deg) translateY(-50%);
}
@media only screen and (max-width: 1200px) and (min-width: 1000px) {
  .linkGoToShopCheck {
    position: absolute;
    top: -7%;
    left: 50%;
    transform: translateX(-50%);
  }
  .linkGoToShop {
    position: absolute;
    top: -8%;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media only screen and (max-width: 1000px) and (min-width: 600px) {
  .linkGoToShopCheck {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
  }
  .linkGoToShop {
    top: -4%;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media only screen and (max-width: 600px) {
  .linkGoToShopCheck {
    position: absolute;
    width: fit-content;
    font-size: 18px;
    top: -2%;
    left: 50%;
    transform: translateX(-50%);
  }
  .linkGoToShop {
    width: fit-content;
    font-size: 18px;
    top: -3%;
    left: 50%;
    transform: translateX(-50%);
  }
}
#cart-to-orderform {
  /*color: transparent;*/
  display: flex;
  justify-content: center;
  border-radius: 11px;
}
/*#cart-to-orderform::after {
  content: "Scopri di più";
  position: absolute;
  text-transform: uppercase;
  color: white;
}*/
.vtex-omnishipping-1-x-productItems {
  display: none !important;
}
p.input.ship-number label[for="ship-complement"]:after {

content: " civico";
}
/* label[for="ship-number"]:after {
content: " civico";
} */
p.input.ship-complement label[for="ship-complement"]:after {
    content: "Informazioni aggiuntive indirizzo";
    position: absolute;
    top: 0;
    left: 0;
    visibility: visible;
  }
  label[for="v-custom-ship-street"]:after {
    content: "Indirizzo";
    position: absolute;
    top: 0;
    left: 0;
    visibility: visible;
  }
  label[for="ship-postalCode"]:after {
    content: "Codice postale";
    visibility: visible;
    position: absolute;
    top: 0;
    left: 0;
  }

  label[for="ship-postalCode"] {
    visibility: hidden;
    position: relative;
  }
  p.input.ship-complement label[for="ship-complement"] {
    visibility: hidden;
    position: relative;
  }
  label[for="v-custom-ship-street"] {
    visibility: hidden;
    position: relative;
  }
.buttonContinuaShopping {
  display: flex;
  height: 3em;
  border-radius: 5px;
  border: none;
  opacity: 0.5;
  margin: 30px auto 0;
}
.buttonContinuaShopping:hover {
  opacity: 1;
}
.buttonSvg {
  padding-left: 15px;
  margin: auto;
  display: flex;
}
.buttonSvg svg {
  width: 15px !important;
}

.labelButtonContinuaShopping {
  margin: auto;
  padding: 0.5em 1em;
}
.continuaAcquisti:hover,
.continuaAcquisti:focus {
  color: unset;
  text-decoration: none;
}
#shipping-preview-container {
  display: none;
}
.v-custom-trservice-wrap {
  background-color: white !important ;
}
.available-gift .active {
  background-color: white !important;
}
.v-custom-trservice-wrap .quantity {
  display: none !important;
}

.loaderShipping {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  background: #B24C24;
  background: -moz-linear-gradient(left, #B24C24 10%, rgba(237, 177, 18, 0) 42%);
  background: -webkit-linear-gradient(left, #B24C24 10%, rgba(237, 177, 18, 0) 42%);
  background: -o-linear-gradient(left, #B24C24 10%, rgba(237, 177, 18, 0) 42%);
  background: -ms-linear-gradient(left, #B24C24 10%, rgba(237, 177, 18, 0) 42%);
  background: linear-gradient(to right, #B24C24 10%, rgba(237, 177, 18, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loaderShipping:before {
  width: 50%;
  height: 50%;
  background: #B24C24;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}
.loaderShipping:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
#loginButton {
  color: #B24C24;
  cursor: pointer;
}
#loginButton:hover {
  text-decoration: underline;
}
#shipping-preview-container {
  visibility: hidden;
}

.logo {
  width: 7.1875rem;
  height: 2.375rem;
}
.socialNetwork {
  width: 100%;
  flex-wrap: nowrap;
  display: flex;
}
.socialNetwork a {
  width: 2rem;
  margin: 0 0.25rem;
}
.rowPay {
  margin: 1rem 0;
}
svg#paymentCard {
  width: 100%;
}
.rowPayFirst {
  display: none;
}
@media only screen and (max-width: 1100px) {
  .footerContent {
    flex-direction: column-reverse;
  }
  .secondaColonna {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .secondaColonna .colonnaInterna {
    width: 50%;
  }
  .footerContent {
    padding: unset;
  }
  .logo {
    margin: auto;
    width: 192px;
    padding: 2rem 0;
  }
  .firstRowInfoWhl {
    text-align: center;
    padding: 2rem 0;
    width: 20%;
    margin: auto;
  }
  .socialNetwork {
    display: flex;
    justify-content: center;
  }
  .containerFooter {
    padding: 4rem 0;
  }
  .rowPayFirst {
    display: block;
    margin: 1rem auto;
  }
  .containerFooter {
    padding: 1rem 0;
  }
  .rowPay {
    display: none;
  }
}
.containerFooter {
  display: none;
}
@media only screen and (max-width: 600px) {
  .continuaAcquisti {
    display: flex;
    justify-content: center;
    background: white;
    padding: 0.5rem 0 0 0;
  }
  .buttonContinuaShopping {
    margin: 0;
  }
}
.custom-cart-template-wrap .shipping-date {
  display: none;
}
.custom-cart-template-wrap .description {
  justify-content: flex-end !important;
}
[data-i18n="clientProfileData.notice"] {
  display: none;
}
[data-i18n="clientProfileData.indentification"] {
  font-family: "hotpointRegular";
}
p.note-label::after {
  content: "Note dell'ordine  (max 216 caratteri)";
  font-size: 13px;
}
label[for="cart-note"] {
  display: none;
}
.item-unavailable {
  outline: 2px solid #ffe699 !important;
  background: transparent;
}
.unavailable {
  background: transparent !important;
}
.newsletter {
  margin-bottom: 1rem;
}
.box-client-info span.error {
  font-size: 11px;
  width: 100%;
}
.available-gift-item {
  z-index: 0 !important;
}

/* EXTRA SERVICES - CUSTOMIZATION */
.custom-extra-services {
  /*margin-left: 130px;*/
  background: #f9f9f9;
  width: 100%;
  padding: 1rem;
  border-top: 1px solid #c9c9c9;
  border-bottom: 3px solid #B24C24;

  width: 100% !important;
  position: static !important;
  min-width: 250px;
  top: calc(100% - 200px);
  left: 0;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.containerCheckbox {
  display: flex;
  flex-wrap: wrap;
}
.extra-services-checkbox {
  flex: 100% 0;
  margin: 0.5rem 0.5rem;
}
.extra-services-label {
  padding: 0.5rem;
  background: white;
  border-radius: 5px;
  display: flex;

  color: #505050;
  font-family: "hotpointRegular";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;
}
.extra-services-price {
  display: block !important;
font-size: 15px;
}
.title-custom-extra-services {
  font-family: "hotpointMedium";
  line-height: 1.625rem;
  color: #353535;
  font-size: 0.9rem;

  display: block;
  order: -1;
  width: 100%;
}
.title-custom-extra-services i {
  display: none;
}

.tooltip {
  position: relative;
  display: inline-block;
  opacity: 1;
  margin-left: 0.5rem;
  align-items: center;
  display: flex;
  z-index: unset;
}

.tooltip .tooltiptext {
  visibility: hidden;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
    background-color: white;
    width: 12rem;
    color: #505050;
    padding: 1rem;
    text-align: left;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    top: -65px;
    right: -10%;
    transform: translateX(100%);
left: unset !important;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
@media only screen and (max-width: 600px) {
  .tooltip {
    display: none;
  }
}

.table.cart-items tbody tr td .product-service {
  /*height: calc(135px + 10px) !important;*/
  position: static;
}

@media screen and (max-width: 690px) {
  .table.cart-items tbody tr td .product-service {
    top: 170px;
    position: absolute;
  }
}
@media screen and (max-width: 567px) {
  .table.cart-items tbody tr td .product-service {
    top: 180px;
  }
}
@media screen and (max-width: 423px) {
  .table.cart-items tbody tr td .product-service {
    top: 215px;
  }
}
@media screen and (max-width: 394px) {
  .table.cart-items tbody tr td .product-service {
    top: 260px;
  }
}

form.product-service fieldset.form-inline,
tr.item-service {
  display: none !important;
}

.extra-services-preselected {
  /*margin-bottom: 15px;*/
  flex: 100% 0;
  margin: 0.5rem 0.5rem;

  color: #505050;
  font-family: "hotpointRegular";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;
}
.preselected-service {
  padding: 0.5rem;
  background: white;
  border-radius: 5px;
  display: flex;
  /*font-size:13px;*/
}

.extra-services-label {
  position: relative;
  font-size: 15px;
}

.extra-services-input {
  margin-right: 0.5rem !important;
  /*margin: 0px !important;*/
}

.extra-services-price {
  position: absolute;
  right: 20px;
}

.preselected-service-name {
  font-size: 16px;
}

.preselected-service-icon {
  color: #B24C24;
}

.title-custom-extra-services {
  font-weight: bold;
  font-size: 16px;
}

.title-custom-extra-services i {
  margin-right: 5px;
}

/* VTEX - LOADER */
.customShow {
  display: inline !important;
  margin-top: 0px;
}

/* REPLY STYLES */
.couponTitle,
.cart-items [data-i18n="global.product"],
.cart-items [data-i18n="global.price"],
.cart-items [data-i18n="global.quantity"] {
  color: black;
  text-align: left;
  margin: 0.5rem 0 1rem;
  font-family: "hotpointMedium";
  text-transform: uppercase;
  font-size: 0.9rem;
}
#cart-coupon {
  border-radius: 11px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-width: 1px;
  border-right: unset;
}
#cart-coupon-add {
  border-radius: 11px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background-color: #953D1B;
  color: white;
  font-weight: 300;
  border-width: 1px;
  border-color: #953D1B;
 transition: all 0.3s ease;
}
#cart-coupon-add:hover {
  background: #B24C24;
border-color: #B24C24;
}
.titoloCarrello {
  text-align: center;
  font-size: 2rem;
  margin: 2rem 0 0.5rem;
  font-family: "hotpointRegular";
  font-weight: 500;
}
.couponTitle {
  margin: 1rem 0;
}
.ivaMessage {
  color: #999;
  font-size: 0.7rem;
  font-weight: normal;
}

/* FIX TABLE ROWS - SERVICES */
.v-custom-product-item-wrap {
  align-items: end !important;
}
/* END: FIX TABLE ROWS - SERVICES */

/* NEW STYLES */
.full-cart .totalizers tfoot td {
  font-size: 1.563rem;
  font-weight: inherit !important;
}
th.product-price {
  text-align: center !important;
}
i.icon-info {
  color: black;
  border: 1px solid;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  text-align: center;
  font-size: 9px;
}
.summary-template-holder tbody {
  border-top: none !important;
}
.summary-template-holder tbody td {
  color: black !important;
}
.summary-template-holder tfoot tr td {
  margin-top: 15px !important;
}
.summary-template-holder .cart-links-bottom {
  margin: 25px 0 0 0 !important;
}
.orderform-template .cart-template.mini-cart .summary-totalizers tfoot tr td {
  font-size: 23px !important;
  font-weight: normal !important;
}
.orderform-template .cart-template.mini-cart h2 {
  font-weight: normal !important;
  font-size: 24px !important;
}
.client-pre-email h3.client-pre-email-h span:before,
.client-profile-data .accordion-toggle > span:before,
.shipping-data .accordion-toggle:before,
.payment-data .accordion-toggle > span:not(.payment-edit-link):before {
  width: 40px !important;
  height: 40px !important;
  line-height: 40px !important;
}
.orderform-template .cart-template.mini-cart .summary-totalizers tbody td {
  font-size: 0.9375rem !important;
  padding: 0 0 10px 0 !important;
}

#requestInvoice .checkbox {
  font-size: 14px;
  padding-bottom: 10px;
  padding-top: 15px;
}

label.checkbox.newsletter-label {
text-align:  justify;
}

/* HIDDEN NATIVE BLOCKS */
.client-document {
  display: none;
}
form.product-service {
  display: none;
}
p.add-service-container {
  display: none;
}

/* FIXING CHECKOUT */
div.vtex-omnishipping-1-x-address div p.input.ship-complement {
  display: none;
}

@media screen and (max-width: 450px) {
  .payment-paypal-postscript {
    background-size: 60px;
  }
}

@media screen and (max-width: 370px) {
  .payment-paypal-postscript {
    background-size: 50px;
  }
}

@media screen and (max-width: 295px) {
  .payment-paypal-postscript {
    background-size: 40px;
  }
}

@media (max-width: 490px) {
  .vtex-omnishipping-1-x-dateLink {
    width: calc(100vw - 75px) !important;
  }
}

/*  CUSTOM EXTRA SERVICES */
.custom-extra-services {
  border-bottom: 3px solid #953D1B !important;
}
.preselected-service-icon {
  color: #B24C24 !important;
}
.extra-services-label {
  font-family: "hotpointRegular" !important;
}
.title-custom-extra-services {
  font-family: "hotpointMedium" !important;
}
.extra-services-preselected {
  font-family: "hotpointRegular" !important;
}


/* CHECKOUT-UI-CUSTOM FIX */
BODY.v-custom-addressForm-on.v-custom-googleForm-on .vtex-omnishipping-1-x-addressForm,
BODY.v-custom-addressForm-on.v-custom-googleForm-on .vtex-omnishipping-1-x-btnDelivery {
    display: none;
}
.vcustom--vtex-omnishipping-1-x-address__state .ship-state {
  margin-top: 0 !important;
}
.vcustom--vtex-omnishipping-1-x-address__state label[for="ship-state"] {
  display: block !important;
}
.vcustom--vtex-omnishipping-1-x-address__state .ship-state:before {
  content: "";
  font-size: 0;
}

label[for="ship-country"] {
  font-size: 0 !important;
  visibility: hidden;
}
label[for="ship-country"]:before {
    content: "Stato";
    color: #999999;
    font-size: 13px;
    visibility: visible;
    line-height: 16px;
}

.summary-template-holder tfoot tr td.monetary {
  width: auto;
}

.orderform-template-holder .step.shipping-data .vtex-omnishipping-1-x-addressItemOption:hover, .orderform-template-holder .step.shipping-data .vtex-omnishipping-1-x-active {
background-color: #ffffff !important;
}

.vtex-omnishipping-1-x-buttonEditAddress, .vtex-omnishipping-1-x-buttonCreateAddress,
.vtex-omnishipping-1-x-backToAddressList {
    border: 1px solid #953D1B !important;
}
.orderform-template-holder .step.shipping-data .box-step>*#postalCode-finished-loading, .orderform-template-holder .step.shipping-data .box-step>*:last-child{
margin-top: 1.5rem !important;
}
.icon-ok:before{
color: #953D1B;
}
.box-client-info-pj{
display: none;
}
.sdipec-tabs > span {
display: none;
}
.invoice-text, .shipping-addr-text{
font-size: 13px;
}
.preselected-service{
position: relative;
}
.table.cart-items tbody tr{
align-items: start;
}
.payment-unauthorized-modal{
    background: #953D1B !important;
}
.item-unavailable > p > span {
border-bottom-color: #953D1B !important;
}
.vtex-omnishipping-1-x-warning{
border: 1px solid #953D1B !important;
}
.vtex-omnishipping-1-x-unavailableIcon{
border: 1px solid #953D1B !important;
}
.vtex-omnishipping-1-x-unavailableIcon > svg > g {
fill: #953D1B !important;
}
.invoice-text::after{
    content: "(Non è prevista la fatturazione con P.Iva)";
    font-size: 12px;
    margin-left: 0.5rem;
     color: #999999;
}
/* PAYMENT ICONS */
.orderform-template-holder
  #payment-data
  .v-custom-payment-item-wrap
  .pg-carte-di-credito.payment-group-item#payment-group-custom202PaymentGroupPaymentGroup:after {
  content: "";
  display: inline-block;
  background-image: url(/arquivos/credit_cards_logo.png);
  background-repeat: no-repeat;
  background-position: right center;
  /* background-size: 100% auto; */
  height: 2.5rem;
  width: 100%;
  position: relative;
}
.orderform-template-holder
  #payment-data
  .v-custom-payment-item-wrap
  .payment-group-item#payment-group-payPalPaymentGroup:after {
  content: "";
  background-image: url(/arquivos/paypal_logo.png);
  height: 2.5rem;
  margin-left: 1rem;
}
.orderform-template-holder
  #payment-data
  .v-custom-payment-item-wrap
  .payment-group-item#payment-group-SatispayPaymentGroup:after {
  content: "";
  display: inline-block;
  background-image: url(/arquivos/satispay_logo.png);
  background-repeat: no-repeat;
  background-position: right center;
  /* background-size: 100% auto; */
  height: 2.5rem;
  width: 100%;
  position: relative;
}
.orderform-template-holder
  #payment-data
  .v-custom-payment-item-wrap
  .pg-carte-di-credito.payment-group-item.active#payment-group-custom202PaymentGroupPaymentGroup:after {
  left: 38% !important;
}
.orderform-template-holder
  #payment-data
  .v-custom-payment-item-wrap
  .payment-group-item.active#payment-group-SatispayPaymentGroup:after {
  left: 42% !important;
}
.orderform-template-holder #payment-data .payment-group-item.active:after {
  border-color: transparent !important;
}
@media screen and (max-width: 768px) {
  .orderform-template-holder
    #payment-data
    .v-custom-payment-item-wrap
    .pg-carte-di-credito.payment-group-item#payment-group-custom202PaymentGroupPaymentGroup:after {
    background-image: url(/arquivos/credit_cards_mobile_logo.png);
    height: 3.5rem;
  }
}
@media screen and (max-width: 450px) {
  .orderform-template-holder
    #payment-data
    .v-custom-payment-item-wrap
    .pg-carte-di-credito.payment-group-item.active#payment-group-custom202PaymentGroupPaymentGroup:after {
    left: 32% !important;
  }
}

/*-----------------------------------------------------------------------
-----------------------------PAYPAL CSS----------------------------------
----------------------------------------------------------------------- */

.orderform-template-holder #payment-data .v-custom-payment-item-wrap .payment-group-item.active+div, .orderform-template-holder #payment-data .v-custom-payment-item-wrap.active>div {
  max-height: 33rem;
}

p.payment-paypal-postscript.row-fluid {
  position: relative !important;
  top: 17rem;
}

span[id*="zoid-paypal-message-uid"]::after {
  content: url(/arquivos/paypal-after-image.png);
  position: relative;
  left: -3rem;
}

span[id*="zoid-paypal-message-uid"]::before {
  content: url(/arquivos/paypal-before-image.png);
  display: inline-block;
  transform: scale(.07);
  position: relative;
  right: 2.5rem;
  max-width: 20px;
  max-height: 20px;
  bottom: -18.2rem;
}

.payment-paypal-help {
  max-height: 2.5rem;
}

span[id*="zoid-paypal-message-uid"] {
  position: relative;
  right: -3rem;
  bottom: 20.7rem;
}

@media only screen and (max-width: 320px){
  span[id*="zoid-paypal-message-uid"] {
      position: relative;
      right: -1.5rem;
      bottom: 20.7rem;
  }

  span[id*="zoid-paypal-message-uid"]::after {
      max-width: 200px;
      display: inline-block;
      transform: scale(0.4);
      max-height: 100px;
      top: -2rem;
      left: -5rem;
  }

  p.payment-paypal-postscript.row-fluid {
      position: relative !important;
      top: 10rem;
  }

  .orderform-template-holder #payment-data .v-custom-payment-item-wrap .payment-group-item.active+div, .orderform-template-holder #payment-data .v-custom-payment-item-wrap.active>div {
      max-height: 34rem;
  }
}

@media only screen and (min-width: 321px) and (max-width: 450px) {
  span[id*="zoid-paypal-message-uid"] {
      position: relative;
      right: -1.5rem;
      bottom: 20.7rem;
  }

  p.payment-paypal-postscript.row-fluid {
      position: relative !important;
      top: 10rem;
  }

  .orderform-template-holder #payment-data .v-custom-payment-item-wrap .payment-group-item.active+div, .orderform-template-holder #payment-data .v-custom-payment-item-wrap.active>div {
      max-height: 33rem;
  }
}

@media only screen and (min-width: 321px) and (max-width: 359px) {
  span[id*="zoid-paypal-message-uid"]::after {
      max-width: 200px;
      display: inline-block;
      transform: scale(0.5);
      max-height: 100px;
      top: -2rem;
      left: -5rem;
  }
}

@media only screen and (min-width: 360px) and (max-width: 450px) {
  span[id*="zoid-paypal-message-uid"]::after {
      max-width: 200px;
      display: inline-block;
      transform: scale(0.5);
      max-height: 100px;
      top: -2rem;
      left: -3rem;
  }
}

@media only screen and (min-width: 451px) and (max-width: 500px) {
  .orderform-template-holder #payment-data .v-custom-payment-item-wrap .payment-group-item.active+div, .orderform-template-holder #payment-data .v-custom-payment-item-wrap.active>div {
      max-height: 38rem;
  }

  span[id*="zoid-paypal-message-uid"]::after {
      left: -6rem;
      top: -1rem;
      max-width: 200px;
      display: inline-block;
      transform: scale(.7);
      max-height: 100px;
  }

  p.payment-paypal-postscript.row-fluid {
      position: relative !important;
      top: 13rem;
  }

  .orderform-template-holder #payment-data .v-custom-payment-item-wrap .payment-group-item.active+div, .orderform-template-holder #payment-data .v-custom-payment-item-wrap.active>div {
      max-height: 34rem !important;
  }
}

@media only screen and (min-width: 501px) and (max-width: 550px) {
  span[id*="zoid-paypal-message-uid"]::after {
      left: -6rem;
      top: -1rem;
      max-width: 200px;
      display: inline-block;
      transform: scale(.8);
      max-height: 100px;
  }

  span[id*="zoid-paypal-message-uid"] {
      right: -5rem;
  }

  .orderform-template-holder #payment-data .v-custom-payment-item-wrap .payment-group-item.active+div, .orderform-template-holder #payment-data .v-custom-payment-item-wrap.active>div {
      max-height: 37rem !important;
  }
}

@media only screen and (min-width: 551px) and (max-width: 650px) {
  span[id*="zoid-paypal-message-uid"]::after {
      left: -8rem;
  }

  span[id*="zoid-paypal-message-uid"] {
      right: -8rem;
  }

  .orderform-template-holder #payment-data .v-custom-payment-item-wrap .payment-group-item.active+div, .orderform-template-holder #payment-data .v-custom-payment-item-wrap.active>div {
      max-height: 37rem !important;
  }
}

@media only screen and (min-width: 651px) and (max-width: 700px) {
  span[id*="zoid-paypal-message-uid"]::after {
      left: -8rem;
  }

  span[id*="zoid-paypal-message-uid"] {
      right: -10rem;
  }

  .orderform-template-holder #payment-data .v-custom-payment-item-wrap .payment-group-item.active+div, .orderform-template-holder #payment-data .v-custom-payment-item-wrap.active>div {
      max-height: 37rem !important;
  }
}

@media only screen and (min-width: 701px) and (max-width: 766px) {
  span[id*="zoid-paypal-message-uid"]::after {
      left: -8rem;
  }

  span[id*="zoid-paypal-message-uid"] {
      right: -12rem;
  }

  .orderform-template-holder #payment-data .v-custom-payment-item-wrap .payment-group-item.active+div, .orderform-template-holder #payment-data .v-custom-payment-item-wrap.active>div {
      max-height: 37rem !important;
  }
}

@media only screen and (min-width: 767px) and (max-width: 850px) {
  span[id*="zoid-paypal-message-uid"]::after {
      left: -3rem;
      width: 100px;
      top: -1rem;
      max-width: 200px;
      display: inline-block;
      transform: scale(0.6);
      max-height: 100px;
  }

  span[id*="zoid-paypal-message-uid"] {
      right: -3rem;
  }

  p.payment-paypal-postscript.row-fluid {
      position: relative !important;
      top: 12rem;
  }

  .orderform-template-holder #payment-data .v-custom-payment-item-wrap .payment-group-item.active+div, .orderform-template-holder #payment-data .v-custom-payment-item-wrap.active>div {
      max-height: 31rem !important;
  }
}

@media only screen and (min-width: 851px) and (max-width: 1000px) {
  span[id*="zoid-paypal-message-uid"]::after {
      left: -6.5rem;
      top: -1rem;
      max-width: 200px;
      display: inline-block;
      transform: scale(0.75);
      max-height: 100px;
  }

  span[id*="zoid-paypal-message-uid"] {
      right: -5rem;
  }

  p.payment-paypal-postscript.row-fluid {
      position: relative !important;
      top: 13rem;
  }

  .orderform-template-holder #payment-data .v-custom-payment-item-wrap .payment-group-item.active+div, .orderform-template-holder #payment-data .v-custom-payment-item-wrap.active>div {
      max-height: 31rem !important;
  }
}

/*-----------------------------------------------------------------------
-----------------------------END PAYPAL CSS------------------------------
----------------------------------------------------------------------- */

.service-list {
  display: none !important;
}