:global(.vtex-overlay-layout-0-x-container) .faqContainer {
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 1rem;
}
:global(.vtex-overlay-layout-0-x-container)
  .vtex-styleguide-9-x-jsFocusVisible {
  margin: auto 0;
}
:global(.vtex-overlay-layout-0-x-container) .container {
  padding-left: 1rem;
}
.caretIcon {
  filter: brightness(0) saturate(100%) invert(19%) sepia(75%) saturate(967%) hue-rotate(174deg) brightness(93%) contrast(96%);
}
