/*--- PRODUCT OF DAY ---*/
:global(.vtex-flex-layout-0-x-flexRowContent--productPriceDay)
  .productPriceContainer {
  margin-bottom: 0.5rem;
}
:global(.vtex-flex-layout-0-x-flexRowContent--productPriceDay)
  .productPriceContainer {
  margin-bottom: 0.5rem;
}
:global(.vtex-flex-layout-0-x-flexRowContent--productPriceDay)
  .listPriceContainer,
:global(.vtex-flex-layout-0-x-flexRowContent--productPriceDay)
  .sellingPriceContainer {
  text-align: center;
}
:global(.vtex-flex-layout-0-x-flexRowContent--productPriceDay) .sellingPrice {
  font-size: 1.3rem;
  line-height: 16px;
  font-weight: 300;
  min-width: fit-content;
  justify-content: center;
}

/*--- PRODUCT CARDS ---*/
:global(.vtex-flex-layout-0-x-flexRowContent--productPriceDay)
  .flexColChild--productPrice {
  margin-bottom: 0.5rem;
}
:global(.vtex-flex-layout-0-x-flexColChild--productPrice) .listPriceContainer,
:global(.vtex-flex-layout-0-x-flexColChild--productPrice)
  .sellingPriceContainer {
  text-align: left;
}
:global(.vtex-flex-layout-0-x-flexColChild--productPrice) .listPrice {
  white-space: nowrap;
}
:global(.vtex-flex-layout-0-x-flexColChild--productPrice) .sellingPrice {
  font-size: 1.2rem;
  line-height: 16px;
  font-weight: 300;
  min-width: fit-content;
  white-space: nowrap;
}
:global(.vtex-flex-layout-0-x-flexColChild--productPriceCarousel)
  .sellingPriceContainer {
  margin-top: 0.6rem;
}

:global(.vtex-flex-layout-0-x-flexColChild--rightBlock) .sellingPrice {
  justify-content: flex-start;
}
.listPriceContainer {
  margin: 0 0 0.4rem 0.5rem;
  display: flex;
}
.ecofeeLabelCards {
  display: none;
}
.sellingPriceSymbol {
  display: none;
}
:global(.vtex-flex-layout-0-x-flexColChild--productPriceCarousel) .listPrice {
  font-size: 0.75rem;
}
.sellingPrice {
  font-size: 1.3rem;
  font-weight: unset;
  justify-content: flex-start;
  font-family: "openSans";
  color: #505050;
}
:global(.vtex-flex-layout-0-x-flexRowContent--showPriceSticky)
  .productPriceContainer {
  display: flex;
  justify-content: space-around;
}
:global(.vtex-flex-layout-0-x-flexCol--priceAndAddToCartCol)
:global(.vtex-flex-layout-0-x-flexColChild--priceSection) .sellingPrice {
  font-size: 1.5rem;
  font-weight: bold;
}

@media only screen and (max-width: 640px) {
  .listPriceContainer {
    justify-content: flex-start;
    margin: 0 0 0.4rem 0;
  }
  .sellingPriceContainer {
    margin-bottom: 0.7rem;
  }
  :global(.vtex-flex-layout-0-x-flexColChild--stickyListPriceMobileCol)
    .sellingPrice {
    color: #fff !important;
  }
}
@media only screen and (min-width: 1024px) {
  :global(.vtex-flex-layout-0-x-flexRowContent--priceAndLeadTimeRow)
    .sellingPrice--summary {
    justify-content: flex-start;
  }
}
:global(.vtex-flex-layout-0-x-flexCol--SearchResult--price) .sellingPrice{
  font-size: 0.8rem;
  position: relative;
  top: 0.5rem;
}

:global(.vtex-flex-layout-0-x-flexCol--SearchResult--price) .percentageBadgeContainer,
:global(.vtex-flex-layout-0-x-flexCol--SearchResult--price) .listPriceContainer{
  display: none;
}
