.deliveryTitle {
    font-family: "nunitoRegular";
    color: #0d436b;
}
.delivery {
    font-family: "openSans";
    text-align: unset;
    color:#0d436b;
}
.billingInfo {
    font-family: "openSans";
    color:#0d436b;
}
.creationDate {
    font-family: "openSans";
}