.breadcrumbContainer {
  /* padding-left: 0; */
  text-transform: capitalize !important;
  font-family: 'gothamproregular' !important;
  padding-left: 0;
  padding: 0 !important;
}
.breadcrumb,
.link {
  color: #9fa0a1;
  font-family: "openSans";
}
.breadcrumb:hover {
  color: #0d436b;
}

.arrowIconBread {
  opacity: 25% !important;
}

@media only screen and (max-width: 640px) {
  .breadcrumbContainer {
    padding-left: 1rem
  }
}
