.menuItemLabel {
  font-family: "openSans";
  font-size: 0.688rem;
  color: #505050;
  text-align: center;
  visibility: hidden;
}
.menuItemContainer {
  padding: 0;
  margin: 0;
}
.menuItemContainer:hover .menuItemLabel {
  visibility: visible;
}