.title {
  font-size: 0.8rem;
  font-weight: 600;
  color: #3f3f40;
  text-align: center;
}
.optinText {
  font-size: 0.8rem;
}
.subscribeLabel {
  font-size: 0.875rem;
  font-weight: 400;
  color: #3f3f40;
}
.checkboxText {
  font-size: 0.625rem;
  color: #3f3f40;
}
.inputName :global(.vtex-input-prefix__group),
.inputEmail :global(.vtex-input-prefix__group) {
  border: 0.125rem solid #cacbcc;
}
.checkbox2 {
  margin-top: 1rem;
}
.inputError {
  font-size: 0.875rem;
  color: #ff4c4c;
}
.inputName :global(.vtex-input__error),
.inputEmail :global(.vtex-input__error) {
  margin: 0;
}
.content .inputName:last-child {
  margin-left: 0;
}
.optinContainer {
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}
.optinLabelLink{
  color: #0D436B;
}