.menuContainer{
  margin: 0 auto;
  max-width: 85%;
}
.categoryCardLink {
  max-width: unset;
}
.categoryCard {
  align-self: flex-end;
  margin: 0;
  width: unset;
}
.categoryCardImage {
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 1024px) {
  .menuContainer {
    display: none;
  }
}
