.withdrawalButtonGroups {
    display: flex;
    justify-content: space-around;
}
.withdrawalButtonGroups .paragraph {
    background-color: #edb112;
    cursor: pointer;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 15px;
}
.withdrawalButtonGroups .container {
    width: 100%;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
.withdrawalButtonGroups .wrapper {
    width: 80%;
}
.buttonLink {
    width: 80%;
    text-decoration: none;
}
.buttonLink .wrapper {
    width: 80%;
}
.link {
    color: #edb112;
    text-decoration: none;
}
.linkDownload {
    color: #fff;
    text-decoration: none;
}
.withdrawalRightTitle .paragraph {
    font-weight: bold;
    font-size: 1.25rem;
}
.withdrawalRightSubTitle .paragraph {
    font-weight: bold;
    margin-bottom: 0;
    font-size: 1rem;
}
.textBeforeButtons .paragraph,
.textAfterButtons .paragraph {
    font-size: 0.875rem;
}
.messageText {
    display: flex;
    flex-direction: column;
}
.formLink {
    margin-top: 0.5rem;
    color: #00a0dd;
}
.mailTo {
    text-decoration: none;
    color: #00a0dd;
}
.inputTitle {
    font-family: "openSans";
}
.loaderForm {
    background: #0d436b;
    background: -moz-linear-gradient(
        left,
        #0d436b 10%,
        rgba(237, 177, 18, 0) 42%
      );
      background: -webkit-linear-gradient(
        left,
        #0d436b 10%,
        rgba(237, 177, 18, 0) 42%
      );
      background: -o-linear-gradient(left, #0d436b 10%, rgba(237, 177, 18, 0) 42%);
      background: -ms-linear-gradient(left, #0d436b 10%, rgba(237, 177, 18, 0) 42%);
      background: linear-gradient(to right, #0d436b 10%, rgba(237, 177, 18, 0) 42%);
}

.loaderForm::before {
    background: #0d436b;
}
@media only screen and (max-width: 640px) {
    .withdrawalButtonGroups{
        flex-direction: column;
    }
    .buttonLink{
        width: 100%;
    }
    .buttonLink .wrapper {
        width: 100%;
    }
    .mailTo {
        word-break: break-word;
    }
    .campiObbligatori {
        text-align: start;
        margin-top: 1rem;
    }
  }