:global(.vtex-flex-layout-0-x-flexRowContent--stileskuid) .leadTimeText {
  font-size: 1rem;
}
:global(.vtex-flex-layout-0-x-flexRowContent--stileskuid) .leadTimeContainer {
  margin-top: 0;
}
:global(.vtex-flex-layout-0-x-flexRowContent--stileskuid) .leadTimeWrapper {
  display: flex;
  justify-content: center;
}
:global(.vtex-slider-layout-0-x-sliderTrack--shelfBottom) .leadTimeText {
  font-size: 0.731rem;
}
:global(.vtex-flex-layout-0-x-flexRow--paddingSearch) .leadTimeText,
:global(.vtex-shelf-1-x-sliderContainer--mobileNomargin) .leadTimeText,
:global(.vtex-flex-layout-0-x-flexRowContent--carouselSalesforce)
  .leadTimeText {
  font-size: 0.844rem;
}
.leadTimeContainer {
  margin-top: 0;
}

.leadTimeWrapper {
  min-height: 2.5rem;
}
.leadTimeText {
  font-family: "openSans";
}
/* Media Query */
@media only screen and (min-width: 640px) and (max-width: 1550px) {
  /* .leadTimeWrapper {
    min-height: 2.5rem;
  } */
}
@media only screen and (min-width: 600px) and (max-width: 1450px) {
  :global(.vtex-flex-layout-0-x-flexCol--SearchResult--leadTime) .leadTimeContainer{
    margin-top: 0rem ;
  }
}
@media only screen and (min-width: 1024px) {
  :global(.vtex-flex-layout-0-x-flexCol--SearchResult--leadTime) .leadTimeText{
    font-size: 0.8rem ;
  }
}