.optinCheckboxDiv :global(.vtex-checkbox__label) {
  text-align: justify;
}
.tooltipModalImage {
  width: 70%;
}
.inputDivEmail :global(.vtex-styleguide-9-x-input) {
  color: #000;
  -webkit-text-fill-color: rgba(0, 0, 0, 1);
}