.listContainer--pdpTab-container {
  background-color: #ffffff;
  display: flex;
  justify-content: left;
  border-bottom: 1px solid #e5e5e5;
}

.listItem--pdpTab :global(.vtex-button) {
  color: #231f20;
  padding-left: 0;
  background-color: #ffffff;
  border: none;
  font-weight: bold;
  text-transform: capitalize;
  font-family: "openSans";
  /* min-width: 95px; */
  max-width: 170px;
  min-height: 45px;
}

.listItem :global(.vtex-button__label) {
  font-size: 0.75rem;
}

.listItemActive--pdpTab {
  margin: 0px;
  padding: 0px;
  border-bottom: 0.25rem solid #0d436b;
}

.listItem--pdpTab {
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 49px;
}

/* Template Landing Brand */
.listContainer--tabLandingBrandContainer {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #e5e5e5;
  margin: 2rem 0;
}
.listItem--tabItemLandingBrand :global(.vtex-button) {
  color: #231f20;
  padding-left: 0;
  background-color: #ffffff;
  border: none;
  font-weight: bold;
  text-transform: capitalize;
  font-family: "openSans";
}
.listItem--tabItemLandingBrand :global(.vtex-button__label) {
  font-size: 1rem !important;
}
.listItemActive--tabItemLandingBrand {
  margin: 0px;
  padding: 0px;
  border-bottom: 0.25rem solid #edb112;
}
.listItem--tabItemLandingBrand {
  margin: 0px;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 49px;
}
/*---------- SUPPORT -----------*/
.container--supportTabCC {
  display: flex;
  box-shadow: 0 0 16px rgb(35 31 32 / 5%);
}
.contentContainer--supportCCContentContainer {
  padding: 1rem;
}
.listContainer--supportCCListContainer {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #edf4fc;
  padding: 2rem 0;
  justify-content: flex-start;
}
.listItemActive--listItemSupport,
.listItem--listItemSupport {
  padding: 1rem 0;
  margin: 0;
}
.listItemActive--listItemSupport {
  background-color: #ffffff;
  border-right: 4px solid #0d436b;
}
.listItemActive--listItemSupport :global(.vtex-button),
.listItem--listItemSupport :global(.vtex-button) {
  background-color: transparent;
  border: none;
  color: #231f20;
  text-transform: unset;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-left: 1rem;
}
.listItemActive--listItemSupport :global(.vtex-button__label),
.listItem--listItemSupport :global(.vtex-button__label) {
  font-family: "openSans";
  font-size: 1rem;
  padding: 0 !important;
}
.listItem--listItemSupport :global(.vtex-button__label) {
  text-align: start !important;
}
.contentItem--Itslider1OurBest {
  padding-inline: 2rem;
}

.contentItem .faqContainer {
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 1rem;
}
.contentItem :global(.vtex-styleguide-9-x-jsFocusVisible) {
  margin: auto 0;
}
.contentItem .container {
  padding-left: 1rem;
}
.listItemLink {
  padding-left: 1rem;
  text-decoration: none;
  color: #231f20;
  padding: 0.8rem;
  font-family: "nunitoRegular";
  color: #0d436b;
  z-index: 1;
}

@media only screen and (max-width: 600px) {
  .listContainer--pdpTab-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
  .listItem :global(.vtex-button__label) {
    font-size: 0.9rem;
  }
  .listItem :global(.vtex-button__label) {
    font-size: 0.9rem;
  }
  .listItem--pdpTab--techData :global(.vtex-button__label) {
    font-size: 0.9rem;
    margin-left: 0.5rem;
    padding-left: 0;
  }
  /* .listItem--pdpTab :global(.vtex-button) {
    min-width: 95px; 
     max-width: 120px;
  } */
}
@media only screen and (min-width: 640px) and (max-width: 1024px) {
  /* Template LP Brand */
  .listItem--tabItemLandingBrand {
    max-width: 20%;
  }
}
@media only screen and (max-width: 640px) {
  /* Template LP Brand */
  .listItem--tabItemLandingBrand {
    max-width: 20%;
    padding: 0;
  }
  .listItem--tabItemLandingBrand :global(.vtex-button__label) {
    font-size: 0.8rem !important;
  }
}

@media only screen and (max-width: 1200px) {
  .contentContainer--tabPdpCollection
    :global(.vtex-flex-layout-0-x-flexRowContent--imageAndPriceMobile) {
    display: none;
  }
}
/* .listItem--pdpTab :global(.vtex-button__label){
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.5;
  font-family: "openSans";
  text-transform: none;
  letter-spacing: 0;
} */
