:global(.vtex-menu-2-x-menuContainer) .cookieTitleContainer {
    margin: 0 1.5rem;
    padding: 0.25rem 0;
  }
  :global(.vtex-menu-2-x-menuContainer) .linkText, :global(.vtex-menu-2-x-menuContainer) .linkTextNoUnderline {
    display: block;
    font-family: "openSans";
    font-weight: 400;
    font-size: 11px;
    color: #fff !important;
    line-height: 1.5rem;
    text-transform: unset;
    letter-spacing: normal;
  }
  :global(.vtex-flex-layout-0-x-flexRow--preferenceLink2) .cookieTitleContainer {
    margin-left: 40px;
    display: list-item;
    color:#979899;
  }
  :global(.vtex-flex-layout-0-x-flexRow--preferenceLink1) .cookieTitleContainer {
    color:#979899;
  }
  .wrapper {
    text-align: justify;
  }
  .linkText {
    color: #0d436b !important;
    text-decoration: underline;
  }
  .linkTextNoUnderline{
    color: #ffffff !important;
    text-decoration: none;
  }
  
  @media only screen and (max-width: 640px) {
    :global(.vtex-disclosure-layout-1-x-content--mobileFooterMenuContent)
      .cookieTitleContainer {
      margin: 0 1.5rem;
      padding: 0.25rem 0;
    }
    :global(.vtex-disclosure-layout-1-x-content--mobileFooterMenuContent)
      .linkText, :global(.vtex-disclosure-layout-1-x-content--mobileFooterMenuContent)
      .linkTextNoUnderline{
      font-size: 0.875rem;
      display: block;
      font-family: "openSans";
      font-weight: 400;
      color: #fff !important;
      line-height: 1.5rem;
      text-transform: unset;
      letter-spacing: normal;
    }
  }
  @media only screen and (min-width: 1280px) {
    :global(.vtex-menu-2-x-menuContainer) .linkText {
      font-size: 11px;
    }
  }
  

  
  @media only screen and (min-width: 641px) and (max-width: 1024px) {
    :global(.vtex-disclosure-layout-1-x-content--mobileFooterMenuContent)
    .linkTextNoUnderline{
      font-size: 11px;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
    }
  }