@media only screen and (max-width: 640px) {
  .description {
    text-align: left;
    font-size: 0.9rem;
  }
  :global(.vtex-flex-layout-0-x-flexRow--news-letters)
    .container
    :global(.vtex-button) {
    width: 100%;
  }
  :global(.vtex-flex-layout-0-x-flexRow--news-letters-footer)
    .container
    :global(.vtex-button) {
    width: 60%;
    background-color: #231f20;
    border: 1px solid #231f20;
    transition: all 0.4s ease;
  }
  :global(.vtex-flex-layout-0-x-flexRow--news-letters-footer)
    .container
    :global(.vtex-button):hover {
    background-color: #fff;
    transition: all 0.4s ease;
  }
  :global(.vtex-flex-layout-0-x-flexRow--news-letters-footer)
    .container
    :global(.vtex-button__label) {
    color: #fff;
    border: none;
    background-color: transparent;
  }
  :global(.vtex-flex-layout-0-x-flexRow--news-letters-footer)
    .container
    :global(.vtex-button__label):hover {
    background-color: transparent;
    color: #231f20;
  }
  .container {
    display: flex;
  }
}

:global(.vtex-flex-layout-0-x-flexRowContent--news-letters-footer)
  .description {
  display: flex !important;
}

:global(.vtex-flex-layout-0-x-flexRow--news-letters) .description {
  display: contents;
}
.container :global(.vtex-button__label) {
  color: #fff;
  transition: all 0.4s ease;
  font-size: 0.75rem;
  font-family: "openSans";
  font-weight: 700;
}
.container :global(.vtex-button) {
  text-transform: none;
  background-color: #000;
  border: none;
}
.container :global(.vtex-button__label):hover {
  color: #fff;
  transition: all 0.4s ease;
}

@media only screen and (min-width: 1024px) {
  .container {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
  }
}