.serviziAggiuntiviTable {
  margin: 0 0 1rem 0;
  border-bottom-color: #0d436b;
  padding: 0.5rem 1.5rem;
}

.labelPrice {
  font-family: "openSans";
  font-weight: bolder;
}

.freeLabel {
  font-family: "openSans";
  font-weight: bolder;
  color: #0d436b;
}

.labelPrice {
  display: flex;
  align-items: center;
}

.servOptions {
  font-family: "openSans";
  font-size: 0.9rem;
}

.twoYearsWarranty {
  width: 100%;
  padding-right: 2.125rem;
}

.servAggTooltip {
  font-family: "openSans";
  font-size: 0.9rem;
}

.servTitleStyle {
  font-family: "nunitoRegular";
  color: #0d436b;
  font-size: 1rem;
}