.container {
  width: 100%;
  margin-bottom: 0.5rem;
}
.container :global(.vtex-button) {
  height: 100%;
}
.container :global(.vtex-styleguide-9-x-input) {
  border: 0.125rem solid #cacbcc;
}
.error {
  font-family: "openSans";
  width: 100%;
  font-size: 0.8rem;
}
.containerDelivery {
  width: 100%;
  align-items: center;
}
:global(.vtex-flex-layout-0-x-flexRow--deliverySimulatorRow) .fastEstForm {
  margin-bottom: 0;
}
.container :global(.vtex-input__label) {
  font-family: "openSans";
}
.container :global(.vtex-button) {
  background-color: #0d436b;
  border-color: #0d436b;
  font-family: "openSans";
}
.container:hover :global(.vtex-button) {
  background-color: #0d436b;
}