.localeIdText--localeSwitcherHeaderSupport {
    margin-top: 1px;
}
.button--localeSwitcherHeaderSupport {
  width: max-content;
  margin-right: 0;
}
@media only screen and (max-width: 640px) {
    .container--localeSwitcherHeaderSupport {
      width: 2rem;
    }
}