.galleryItem {
  position: relative;
}

.buttonShowMore {
  display: contents;
}
.buttonShowMore--layout {
  padding: 0 2rem 0 5rem;
}
.galleryLayoutOptionButton {
  background-color: #f0f0f0;
  color: #3f3f40;
  padding: 0.375rem 0.75rem 0.375rem 0.75rem;
}

.galleryLayoutOptionButton--selected {
  background-color: #3f3f40;
  color: #ffffff;
}

.galleryLayoutSwitcher {
  border-radius: 4px 4px 4px 4px;
  justify-content: center;
  overflow: hidden;
  width: auto !important;
  align-self: center;
}

.galleryItem--list {
  border-bottom: 1px #e7e9ee solid;
}

.galleryItem {
  position: relative;
  border: 0.0625rem solid #ececec;
  margin: 1rem 0.5rem;
  border-radius: 4px;
  padding: 0;
  transition: all 0.3s ease;
}
.galleryItem:hover {
  transition: all 0.3s ease;
  box-shadow: 0px 0px 16px #dadada;
}
.filter__container--selectedFilters .filterSelected {
  padding: 0;
  padding-top: 10px;
}
.filter__container--selectedFilters .filterTemplateOverflow::before {
  content: "Filtri selezionati:";
  font-family: "openSans";
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  display: block;
  width: 100%;
  line-height: 35px;
  padding: 3px;
  color: #505050;
}
.filter__container--selectedFilters .filterTemplateOverflow:empty {
  display: none !important;
}
.filter__container--selectedFilters .filterSelected .filterTitle {
  display: none;
}
/*-- TO BE REMOVED --*/
.filterTitleSpan,
.accordionFilterItemTitle {
  text-transform: uppercase;
}
.accordionFilterItemTitle {
  font-size: 1rem;
}
.filter__container--selectedFilters .filterTemplateOverflow {
  display: flex;
  flex-wrap: wrap;
  background: #f2f2f2;
  border-radius: 8px;
  padding: 12px;
}
.filterItem--selected {
  padding: 0;
  width: auto;
  background-color: #ffffff;
}
.filter__container--selectedFilters .filterItem {
  border-radius: 15.5px;
  cursor: pointer;
  text-align: center;
  margin: 0.62rem 0.62rem 0.62rem 0;
  display: flex;
  vertical-align: middle;
  position: relative;
  border: none;
}
.filter__container--selectedFilters .filterItem::before {
  content: "+";
  color: #505050;
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%) rotate(45deg) scale(1.2);
}
.filter__container--selectedFilters :global(.vtex-checkbox__line-container) {
  margin: auto auto;
}
.filter__container--selectedFilters :global(.vtex-checkbox__container) {
  display: none;
}
.filter__container--selectedFilters :global(.vtex-checkbox__line-container) :global(.vtex-checkbox__label){
  color: #505050;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2;
  padding: 0.8rem 2rem 0.8rem 0.8rem;
  width: 75%;
}
@media only screen and (min-width: 1100px) {
  .galleryItem {
    max-width: calc(345px - 1rem) !important;
    flex-basis: 33% !important;
  }
}
@media only screen and (max-width: 1100px) {
  .gallery {
    padding: unset;
  }
  .galleryItem {
    margin: 0.5rem;
    max-width: calc(50% - 1rem) !important;
    flex-basis: calc(50% - 1rem) !important;
    padding: unset;
  }
  .buttonShowMore {
    margin-left: 0 !important;
  }
}
@media only screen and (max-width: 640px) {
  .galleryItem {
    margin: 0.2rem;
    max-width: calc(100%) !important;
    flex-basis: calc(100%) !important;
  }
  .filterClearButtonWrapper :global(.vtex-button):hover {
    background-color: transparent;
  }
  .loadingOverlay {
    padding: 0 1rem;
  }
  .filterBreadcrumbsText{
    color: #0d436b;
    font-family: "nunitoRegular";
  }
  .filterClearButtonWrapper :global(.vtex-button__label) {
    color: #0d436b;
    font-family: "openSans";
    font-weight: 600;
  }
  .filterApplyButtonWrapper :global(.vtex-button__label) {
    color: #0d436b;
    font-family: "openSans";
    font-weight: 600;
  }
}

.buttonShowMore {
  margin-top: 2rem;
  margin-left: 4rem;
  margin-bottom: 2rem;
}

.buttonShowMore :global(.vtex-button) {
  width: 90%;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid black;
  border-radius: 0;
  color: black;
  font-weight: 800;
}
.searchResultContainer
  :global(.vtex-search-result-3-x-buttonShowMore--searchFetchMore) {
  display: flex !important;
}

.galleryItem :global(.vtex-button) {
  border-color: transparent;
}

.filter__container--clearAllFilters {
  margin-top: 1rem;
  border: none;
}
.filter__container--clearAllFilters :global(.vtex-button) {
  width: 100%;
  border: 2px solid black;
  background: white;
  color: black;
  font-weight: 600;
}
.galleryItem--productCardItcc :global(.vtex-product-summary-2-x-element--productSummaryShelfPlp) {
  margin: 0;
  padding: 1rem;
}
.orderByText {
  font-family: "nunitoRegular";
  color: #0d436b;
}
.filterPopupButton .filterPopupTitle {
  color: #0d436b;
}

@media only screen and (min-width: 1100px) {
  .searchResultContainer {
    padding: 0!important;
    width: 85%;
    max-width: 96rem;
    margin: 0 auto;
  }
  .filterPopupTitle {
    color: #979899;
    font-size: 1rem;
    line-height: 20px;
  }
  .orderByText {
    font-size: 1.25rem;
    font-family: "nunitoRegular";
    font-weight: 400;
    padding-right: 1rem;
  }
}
@media only screen and (max-width: 1024px) {
  .orderByButton {
    justify-content: center !important;
  }
}

.galleryTitle--layout::after {
  content: '"';
}

.galleryTitle--layout::before {
  content: '\00a0"';
}

.orderByOptionsContainer {
  border: 1px solid white;
  border-radius: 0;
  font-size: 12px;
  z-index: 4;
}

.orderByOptionItem {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.15;
  font-family: "openSans";
}

.filter__container {
  border-color: rgba(0, 0, 0, 0.05);
}

.filterItem :global(.vtex-checkbox__inner-container) {
  border-radius: 0;
  border-width: 1px;
}

.orderByButton {
  padding-left: 0;
  justify-content: flex-start;
}
@media only screen and (min-width: 640px) and (max-width: 1360px) {
  .galleryItem {
    margin: 0.5rem;
    flex-basis: calc(50% - 1rem) !important;
    padding: unset;
    max-width: calc(350px - 1rem) !important;
  }
}
@media only screen and (max-width: 1025px) {
  :global(.vtex-checkbox__label) {
    margin: 0 0 0 1rem;
  }
}
@media only screen and (min-width: 1024px) {
  .gallery{
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 1281px) and (max-width: 1366px) {
  .galleryItem {
    margin: 0.5rem;
    flex-basis: calc(50% - 1rem) !important;
    padding: unset;
    max-width: calc(350px - 1rem) !important;
  }
}
@media only screen and (min-width: 720px) and (max-width: 1024px) {
  .gallery {
    justify-content: center;
  }
}