.minicartIconContainer--cartIcon {
  width: 25px;
}

.minicartCheckoutButton--checkoutBtnContainer :global(.vtex-button__label) {
  font-size: 12px;
}

.minicartProductListContainer--listItemContainer {
  font-size: 12px;
}

.openIconContainer--cartIcon {
  padding-right: 0 !important;
}
.opened--minicartHeaderMobile {
  z-index: 1301;
}
.minicartQuantityBadgeDefault {
  background-color: #0d436b;
}
:global(.vtex-minicart-2-x-minicartTitle), :global(.vtex-product-list-0-x-productName){
  font-family: "nunitoRegular";
}
:global(.vtex-minicart-2-x-minicartTitle){
  color: #0d436b;
}
:global(.vtex-button):hover{
  background-color: #fff;
  color: #0d436b;
}
@media only screen and (max-width: 640px) {
  .openIconContainer {
    padding: 0 !important;
  }
}
@media only screen and (min-width: 1200px) {
  .minicartIconContainer--cartIcon {
    bottom: 0.8rem;
  }
}