.buttonText {
    /* display: none; */
}
.globeIcon--testLocaleSwitcher {
    /* display: none; */
}
/* .button--testLocaleSwitcher::before {
    content: url(assets/icons/rounded-uk-flag.png);
    width: 15px;
    height: 15px;
} */
@media only screen and (max-width: 640px) {
    .container {
        width: auto;
    }
}