.profileContainer {
  font-family: "openSans";
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  color: #231f20;
}

.personalFields {
  font-family: "openSans";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  color: #231f20;
}

.genderInput {
  display: none;
}

.styleguideInput {
  font-family: "openSans";
  font-style: normal;
  font-weight: 400;
  font-size: 0.75rem;
  color: #231f20;
}

.personalFields :global(.vtex-input__label){
  font-family: "openSans";
  font-weight: 600;
  letter-spacing: 2.5px;
  font-size: .75rem;
}


.profileContainer :global(.vtex-button){
  transition: all .3s ease;
  border-width: 1px;
  border-radius: 20px;
}

.profileContainer :global(.vtex-button):hover {
  transition: all .3s ease;
}
