.cancelOrderButton {
  display: none;
}

.updateOrderButton {
  display: none;
}

.noticeListItem {
  display: none;
}

/* .orderSoldBy::after {
  content: " ООО “Вирлпул РУС”";
  color: #edb112;
} */

.orderPaymentItem :global(.vtex__icon-info) {
  display: none;
}

.productQuantity {
  display: block;
}