.stackItem--product {
  width: 100%;
}

.stackItem--quickview {
  right: 0;
  top: calc(90% - 16px);
  left: auto;
}

.stackItem--quickViewLayer {
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 600px) {
  .stackItem--badgePlp {
    width: 100% !important;
  }
}
