.savings--productPriceSavingsCarousel,
.savings--summaryPercentagePdp {
    font-weight: 700;
    font-family: "openSans";
    color: #00a0dd;
    font-size: .75rem;
    border: 1px solid;
    height: fit-content;
    border-radius: 15px;
    padding: 0.1rem 0.4rem;
    margin: 0 0 auto 0;
}
.savings--productPriceSavingsPdpSticky {
    background-color: #edb112;
    padding: 0.3rem 2rem;
    color: #fff;
}
/* .savings--productPriceSavingsMobile{
    position: relative;
    top: 27px;
    left: 78px;
} */