.newsletterForm--desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.emailInputContainer--desktop {
  width: 500px;
  padding: 0px 50px;
}

.formSubmitContainer--desktop :global(.vtex-button) {
  font-family: "openSans";
  font-weight: 400;
  background-color: #231F20;
  color: #FFFFFF;
  height: 100%;
  border: solid 2px #231F20;
  border-radius: 0;
  width: 70%;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  width: 230px;
  font-size: 0.85rem;
}
.formSubmitContainer--desktop :global(.vtex-button):hover {
  font-family: "openSans";
  font-weight: 400;
  background-color: #FFFFFF;
  color: #231F20;
  height: 100%;
  border: solid 2px #231F20;
  /* border-radius: 10px; */
  width: 70%;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  width: 230px;
  font-size: 0.85rem;
}

.newsletterForm--mobile {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}


/**/
.emailInputContainer--mobile {
width: calc(100% - 30px);
padding: 0px 30px;
}

.formSubmitContainer--mobile {
  padding: 0 50px;
  width: 100%;
}

.formSubmitContainer--mobile :global(.vtex-button) {
font-family: "openSans";
font-weight: 400;
background-color: #231F20;
color: #FFFFFF;
height: 100%;
border: solid 2px #231F20;
border-radius: 0;
width: 70%;
text-align: center;
cursor: pointer;
font-weight: 700;
width: 100%;
font-size: 0.85rem;
}
.formSubmitContainer--mobile :global(.vtex-button):hover {
font-family: "openSans";
font-weight: 400;
background-color: #FFFFFF;
color: #231F20;
height: 100%;
border: solid 2px #231F20;
/* border-radius: 10px; */
width: 70%;
text-align: center;
cursor: pointer;
font-weight: 700;
width: 100%;
font-size: 0.85rem;
}