.dropdown {
    font-family: "openSans";
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    color: #231F20;  
}

.dropdown--label {
    font-family: "openSans";
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    color: #231F20;  
}

.container {
    font-family: "openSans";
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    color: #231F20;  
}

.boxContainerBody {
    font-family: "openSans";
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    color: #231F20;  
}

.input {
    font-family: "openSans";
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    color: #231F20;  
}

.button  {
    font-family: "openSans";
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    color: #231F20;  
}



