.row--menu-row {
  padding-right: 24px;
}

.row--menu-row .rowContainer {
  align-items: flex-start;
}

.row--payment-methods {
  padding-top: 16px;
}

.socialNetworkWrapper--footerMobile{
  width: auto !important;
  margin:0 auto;
  padding-bottom: 2rem;
}

.footerLayout{
  background-color: #f9f9f9;
}
.footerLayout :global(.vtex-flex-layout-0-x-flexRowContent){
  width: 100%;
}
.footerLayout :global(.vtex-menu-2-x-styledLinkContent){
  white-space:pre-wrap !important;
}
