.product-identifier--productReference {
  margin-bottom: 1rem;
}
.product-identifier {
  font-family: "openSans";
}
@media only screen and (max-width: 640px) {
  .product-identifier__label {
    line-height: 2;
  }
}
