.container {
    display: contents;
    justify-content: center;
    width: auto;
    margin: 0 30%;
    padding: 2rem 0;
    border: 3px solid #ffffff;
}
.link {
    text-decoration: none;
    color: inherit;
}
.description {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 2rem;
    font-family: "openSans";
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.2;
}
.containerForm {
    margin: 0;
    padding: 0;
}
.titleForm {
    margin: auto;
    text-align: left;
    font-family: "openSans";
    font-size: 1rem;
}
.descriptionForm {
    margin: auto;
    text-align: center;
    font-family: "openSans";
    margin: 0.6rem;
}
.fieldContainer {
    margin: 0 0 1.5rem;
    padding: 0;
    display: flex;
    flex-direction: row;
}
.descriptionForm {
    margin: 0;
}
/* .fieldContainerEmail > label > div > input {
    color: #000000;
} */
.fieldContainer :global(.vtex-styleguide-9-x-input) {
    font-size: 0.625rem;
    font-family: "openSans";
}
.fieldContainer :global(.vtex-input-prefix__group) {
    margin-right: 10px;
}
.closeButton--newsletter-cc {
    padding: 0.5rem 0;
    position: relative;
    right: -25px;
}
.closeButton--newsletter-cc .closeIcon {
    width: 1.2rem;
}
.submitContainer {
    margin: 1rem 0 0;
    padding: 0;
}
.informativa {
    margin: 1rem 0 0;
    display: flex;
}
.errorClass {
    text-align: center;
    font-family: "openSans";
    background-color: white;
    color: red;
    border-radius: unset;
    width: 100%;
    padding: 0.5rem;
    margin: auto;
}
.submitContainer :global(.vtex-input-prefix__group) {
    border: none;
}
.submitContainer :global(.vtex-styleguide-9-x-input) {
    cursor: pointer;
    background-color: #231f20;
    color: #fff;
    font-family: "openSans";
    font-size: .75rem;
    padding: 0.3rem 1.5rem;
    margin: 0 auto;
    border-radius: 0.25rem;
}
.containerForm :global(.vtex-checkbox__label) {
    font-size: 0.625rem;
    color: #000000;
}
.submitContainer :global(.vtex-button) {
    width: 100%;
    background-color: #0d436b;
    color: #fff;
    border: none;
}
.formButtonDisabled :global(.vtex-button) {
    width: 100%;
    background-color: #fafafa;
    border: none;
}
.successClass {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.privacyPolicyLink {
    color: #0d436b;
}
.privacyPolicyHref {
    color: #0d436b !important;
    cursor: pointer;
    text-decoration: underline !important;
}

/* Media query */
@media only screen and (max-width: 640px) {
    .submitContainer {
        padding-bottom: 2rem;
    }
    .successClass {
        text-align: center;
    }
}