.linkContainer--stripeLink {
  border: 1px solid white;
  border-radius: 5px;
  height: 100%;
}

.linkContainer--countdownButton{
  text-align: center;
}

/*-----------HEADER DESKTOP-------------*/
.linkContainer--phoneMobileLabelTop {
  display: flex;
  align-items: center;
  min-width: 3rem;
  justify-content: center;
}

.label--SupportCTA{
  border-radius: 4px;
  background-color: #0d436b;
  font-family: "openSans";
  color: #fff;
  border: 1px solid #0d436b;
  padding: 0.3rem 19px !important;
  font-size: 12px !important;
  position: relative;
  bottom: 0.5rem;
}
.label--SupportCTA:hover{
  background-color: #fff;
  transition: all 0.4s ease;
  border: 1px solid #0d436b;
  color: #0d436b;
}

.link--phoneMobileLabelTop {
  margin: 0;
}

.link--phoneMobileLabel {
  text-align: center;
  text-decoration: none;
  /* padding: 1rem; */
}

/*-----------HEADER MOBILE-------------*/
.linkContainer--mobileHeaderSupportLink {
  padding: 1rem 0;
  border-bottom: 1px solid rgba(147, 192, 255, 0.5);
}

.childrenContainer--mobileHeaderSupportLink {
  display: flex;
  align-items: center;
}

.link--mobileHeaderSupportLink {
  text-decoration: none;
}

.buttonLink--welcomeMessageCta {
  border-radius: 2rem;
  background-color: #0d436b;
  border-color: #0d436b;
  font-family: "openSans";
  color: #fff;
}

.buttonLink--welcomeMessageCta:hover {
  background-color: #fff;
  border-color: #0d436b;
  color: #0d436b;
}

.linkContainer--green-number-phone,
.linkContainer--unique-number-phone {
  display: flex;
  justify-content: center;
}

.link--support-information-appliances-desc,
.link--green-number-phone,
.link--wpro-mail,
.link--unique-number-phone {
  text-decoration: none;
  font-size: 0.875rem;
  color: #0d436b;
  font-family: "openSans";
}

.label--green-number-phone {
  font-size: 1.5rem;
}

.linkContainer--backHomeLink {
  padding: 2rem;
  display: flex;
  justify-content: center;
  border-radius: 3px;
}

.link--backHomeLink {
  background-color: #f9f9f9;
  padding: 1rem 2.5rem;
  text-decoration: none;
}

.label--backHomeLink {
  color: #505050;
  position: relative;
  font-family: "openSans";
}

.label--backHomeLink::before {
  content: url(assets/arrow-left.svg);
  position: absolute;
  left: -2rem;
}

.link--pdfLink {
  color: #edb112;
}

.link--avvisamiQuandoDisponibile {
  text-decoration: none;
}

.link--breadcrumb-link {
  text-decoration: none;
}

.label--breadcrumb-link {
  color: #979899;
  font-size: 0.8rem;
}

.label--breadcrumb-link-no-href {
  cursor: auto;
}

.linkContainer--infoLoginLink {
  margin-top: 0.5rem;
}

.link--infoLoginLink {
  color: #0d436b;
  text-decoration: none;
  transition: all 0.3s ease;
}

.link--infoLoginLink:hover {
  color: #0d436b;
  transition: all 0.3s ease;
}

.linkContainer--SupportImagesLink {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.link--SupportImagesLink {
  text-decoration: none;
}

.label--SupportImagesLink {
  color: #0d436b;
}

.link--SupportImages {
  text-decoration: none;
}

.linkContainer--SupportImmagesButton {
  display: flex;
  justify-content: center;
}

.buttonLink--SupportImmagesButton:hover {
  background-color: white;
  color: #0d436b;
}

.childrenContainer--cardImageMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.linkContainer--buttonFormAndPdf {
  display: flex;
  justify-content: center;
}

.link--buttonFormAndPdf {
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  margin: 0 1rem;
  border: 1px solid #edb112;
  border-radius: 15px;
  text-decoration: none;
}

.label--buttonFormAndPdf {
  color: #edb112;
}

.label--warrantyLink2 {
  font-family: "openSans";
  color: #0d436b;
  font-weight: bold;
}

.link--warrantyLink2 {
  text-decoration: none;
}

/*-----------------SUPPORT CC-----------------*/
.linkContainer--supportCCLink {
  margin: 1rem 0;
}

.link--supportCCLink {
  padding-left: .8rem;
  color: #0d436b;
  text-decoration: none;
}

.link--pdfLink {
  color: #00a0dd;
}

.label--pdfLink {
  color: #00a0dd;
}

.linkContainer--pdfLink {
  margin-bottom: 0.5rem;
}

.label--linkSeeAll {
  color: #00a0dd;
  font-family: "openSans";
}

.link--linkSeeAll {
  color: #00a0dd;
}

.linkContainer--welcomeMessageCta {
  padding: 0 1rem;
}

.link--OurBestBannerButton:hover {
  background-color: white;
  color: #0d436b;
}

.label--chooseAProductButton {
  background-color: #0d436b;
  border: 1px solid #0d436b;
  color: #fff;
  padding: 1rem 1.2rem;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.link--chooseAProductButton {
  text-decoration: none;
}

/*------------------------------*/
.linkContainer--phoneMobileLabelTop:hover :global(.vtex-rich-text-0-x-paragraph--phoneDesktopLabel) {
  visibility: visible;
}

.childrenContainer--phoneMobileLabel {
  position: relative;
}

.linkContainer--footerNormal {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.link--footerNormal {
  text-decoration: none;
}

.label--footerNormal {
  font-family: "openSans";
  font-weight: 400;
  font-size: 11px;
  color: #ffffff;
  line-height: 1.5rem;
  letter-spacing: normal;
}

/* Media Queries */
@media only screen and (max-width: 640px) {
  .link--supportCCLink {
    padding: 0;
  }

  .linkContainer--countdownButton{
    margin-bottom: 2rem;
  }

  .link--buttonFormAndPdf {
    margin: 0 0 0.5rem;
  }

  .label--footerNormal {
    font-size: 14px;
  }
}

@media only screen and (max-width: 1024px) {
  .linkContainer--footerNormal {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
  }
}