.supportCenterButtonContainer {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	margin-top: 20px;
}

.supportCenterButtonContainer .supportCenterButton {
	align-items: center;
	background: #134468;
	border: 1px solid #D8D8D8;
  border-radius: 4px;
	color: white;
	cursor: pointer;
	display: flex;
	flex-shrink: 0;
	height: 65px;
	justify-content: center;
	padding: 19px 20px 20px 20px;
	text-align: center;
	width: 333px;
}

@media screen and (max-width: 640px) {
	.supportCenterButtonContainer {
		justify-content: center;
	}
	.supportCenterButtonContainer .supportCenterButton {
		width: 300px;
	}
}