/* .container--keyFeature {
    margin: 0 0.5rem 0.5rem 0;
} */
.attribute--keyFeature {
    margin: 0;
    background: #f9f9f9;
    border-radius: 5px;
    font-size: 0.7rem;
    color: #505050;
    font-weight: 300;
    line-height: 1.3125rem;
    /* max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.value--keyFeature {
    padding: 0.1rem 0.25rem;
}

.attribute--keyFeatureCarousel {
    padding: 0.5rem 0.2rem;
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

:global(.vtex-flex-layout-0-x-flexColChild--servicesAndDescriptionCol) .attribute--keyFeature {
    background: unset;
    font-size: 1rem;
    color: #727273;
    margin-top: 1rem;
}