.containerVisible--stripeCustom {
  background-color: #0d436b;
}
.containerVisible--stripeCustom :first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
@media only screen and (max-width: 640px) {
  .containerVisible--stripeCustom {
    flex-direction: row-reverse;
  }
}
