.image {
  width: 3rem;
  margin-right: 0.5rem;
}
.labelLink {
  font-family: "openSans";
  color: #0d436b;
}
:global(.vtex-flex-layout-0-x-flexRowContent--energyLabel) .image {
  max-width: 3.5rem;
  width: 3.5rem;
  min-height: 4rem;
}
:global(.vtex-flex-layout-0-x-flexRowContent--energyLabelOld) .image {
  max-width: 3.5rem;
  width: 3.5rem;
  min-height: 4rem;
}
:global(.vtex-flex-layout-0-x-flexRowContent--mainSectionDesktopRow) :global(.vtex-flex-layout-0-x-flexRowContent--preServizi) .image {
  max-width: 4.5rem;
  width: 4.5rem;
}