.rowWrapper {
  width: 100%;
  padding: 0 1rem;
}
.cancelButton {
  border-color: #0d436b;
  color: #0d436b;
  font-family: "openSans";
}
.cancelButton:hover {
  background-color: #0d436b;
  color: #fff;
}
.submitButton {
  background-color: #0d436b;
  border: 1px solid #0d436b;
  font-family: "openSans";
}
.submitButton:hover {
  background-color: #fff;
  border-color: #0d436b;
  color: #0d436b;
}
.logoutModalButtonUndo {
  color: #0d436b;
}
.invitationButtonIconContainer,
.invitationButtonTextContainer {
  border: 1px solid #0d436b;
}
.invitationButtonIconContainer {
  margin-right: 2px;
}
.invitationButtonContainer:hover .invitationButtonTextContainer,
.invitationButtonContainer:hover .invitationButtonIconContainer {
  background-color: #fff;
}
.invitationButtonContainer:hover .invitationButtonText {
  color: #0d436b;
}
.invitationButtonContainer {
  margin-bottom: 1rem;
}
.sectionTitle {
  font-family: "nunitoRegular";
  color: #0d436b;
}
.closeIcon {
  background-color: #0d436b;
}
.cardLabelEmail {
  color: #0d436b;
}
.invitationFormInputs {
  margin-top: 1rem;
}
.logoutModalButtonLogout {
  background-color: #0d436b;
  border: 1px solid #0d436b;
  transition: all 0.3s ease;
}
.logoutModalButtonLogout:hover {
  background-color: #fff;
  color: #0d436b;
  transition: all 0.3s ease;
}
.logoutModalButtonUndo {
  transition: all 0.3s ease;
  border: 1px solid #0d436b;
  border-radius: 0.25rem;
}
.logoutModalButtonUndo:hover {
  transition: all 0.3s ease;
  background-color: #0d436b;
  color: #fff;
}
.logoutModalTitle {
  font-family: "nunitoRegular";
  color: #0d436b;
}
.downloadButton {
  background-color: #0d436b;
  border: 1px solid #0d436b;
  color: #fff;
  transition: all 0.3s ease;
}
.downloadButton :global(.vtex-button),
.downloadButton :global(.vtex-button__label) {
  color: inherit;
}

.gobackContainer {
  padding: 0;
}
.expDateInput {
  color: #000;
  -webkit-text-fill-color: rgba(0, 0, 0, 1);
}

@media only screen and (min-width: 1024px) {
  .downloadButton:hover {
    background-color: #fff;
    color: #0d436b;
    transition: all 0.3s ease;
  }
  .invoicesBackButtonContainer {
    padding: 2rem 1rem;
  }
  .FFBackButtonContainer {
    padding: 2rem 2rem 0 2rem;
  }
  .FFContainer {
    padding-left: 2rem;
  }
}
@media only screen and (max-width: 640px) {
  .rowWrapper {
    width: 100%;
    padding: 1.5rem 1rem;
  }
  .FFBackButtonContainer {
    padding-top: 1rem;
  }
  .invoicesBackButtonContainer {
    padding-left: 1rem;
  }
  .gobackContainer {
    margin-top: 0;
  }
  .invitationFormContainer {
    height: unset;
  }
}
