.trigger{
  background-color: #000000;
  padding: 15px;
  color: #fff;
  width: 100%;
  display: flex;
  border-radius: 8px;
  margin-bottom: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
.dropdown{
  width: 90%;
}
.content{
  padding-bottom: 20px;
}

