.menuItemContainer {
  align-items: center;
  display: flex;
  cursor: pointer;
  justify-content: center;
  flex-direction: column;
  margin-right: 2rem;
}
.menuItemLabel {
  position: absolute;
  top: 65%;
  color: white;
}

@media only screen and (max-width: 640px) {
  .menuItemContainer {
    padding: 0;
  }
}
