.flexRow--productSpecificationGroup {
  margin-top: 1.5rem;
  font-family: "GothamProRRegular";
  font-size: 0.75rem;
}
.flexRow--productSpecificationGroup
  :global(.vtex-product-specifications-1-x-specificationName) {
  font-weight: unset;
}
.flexRow--productSpecificationGroupName {
  background-color: #ffffff;
  line-height: 1.5;
  padding: 0;
  margin-top: 0.5rem;
  font-family: "GothamProRRegular";
}
.flexRow--productSpecificationGroupName:first-child {
  margin-top: 1.5rem;
}

.flexCol--productSpecificationName {
  padding: 0.75rem 0;
  font-family: "GothamProRRegular";
}

.flexCol--productSpecificationValue {
  padding: 1rem 1rem 1rem 0;
  font-family: "GothamProRRegular";
}

.flexRow--productSpecification:nth-child(even) {
  background-color: #ffffff;
  font-family: "GothamProRRegular";
}
.flexRowContent--productSpecificationGroupName
  :global(.vtex-product-specifications-1-x-groupName) {
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.5;
  font-family: "GothamProRRegular";
  text-transform: none;
  letter-spacing: 0;
}
.flexCol--productSpecificationName {
  overflow-wrap: break-word;
}
.flexRowContent--productSpecification {
  justify-content: space-between;
}
.flexRowContent--buttons-WishlistOnly
  :global(.vtex-wish-list-1-x-wishlistIconContainer) {
  justify-content: center;
  align-items: flex-end;
}
.flexRow--buttons-WishlistOnly {
  margin-top: 0.5rem;
}
.flexColChild--productSpecificationName,
.flexCol--productSpecificationValue {
  font-family: "GothamProRRegular";
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0;
  font-size: 1rem;
  color: #727273;
}

.flexRow--productSpecificationPdpGroup:not(:first-child) {
  margin-top: 0.5rem;
  font-family: "GothamProRRegular";
}
.flexRow--productSpecificationPdp:nth-child(even) {
  background-color: #ffffff;
  font-family: "GothamProRRegular";
}
.flexColChild--productSpecificationPdpName,
.flexCol--productSpecificationPdpValue {
  font-family: "GothamProRRegular";
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0;
  font-size: 1rem;
  color: #727273;
}

.flexRow--fullHeight,
.flexCol--fullHeight {
  height: fit-content;
}
.flexRowContent--fullHeight {
  height: fit-content;
}
.flexRowContent--fullHeight .flexColChild {
  display: flex;
}
.flexCol--fourthColSubscription {
  border: 1px solid #231f20;
}
