.breadCustom {
  padding: 1rem 0 1rem 3.125rem;
  max-width: 96rem;
  margin: auto;
  width: 100%;
}
.catLink{
  text-decoration: none;
  color: #505050;
  cursor: pointer;
  pointer-events: all;
  text-transform: uppercase;
  font-size: 0.75rem;
}
.catLink:hover{
  color: #B24C24;
} 
.catBold {
  text-decoration: none;
  color: #505050;
  font-family: "hotpointMedium";
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;
}
.arrowImg {
  margin: 0 0.3rem;
  width: 8px;
  height: 8px;
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
  .catLink, .catBold {
    font-size: .55rem;
  }
}
@media only screen and (max-width: 400px) {
    .catLink, .catBold {
    font-size: .5rem;
  }
  .arrowImg {
    width: 6px;
    height: 6px;
  }
}
@media only screen and (max-width: 315px) {
      .catLink, .catBold {
    font-size: .45rem;
  }
}