.actualFlag {
    width: 1.5rem;
    padding: 5px;
}
.otherFlag {
    width: 1rem;
    object-fit: contain;
    padding-right: 0.5rem;
}
.list {
    width: auto;
    padding: 0.5rem 1rem;
    right: -30px;
}
.listElement {
    display: flex;
    width: 4rem;
}