/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

a:hover,
a:link,
a:visited {
  text-decoration: none;
  outline: none;
  font-family: "Roboto", sans-serif;
}

.container-logo {
  padding: 20px 0 20px 20px;
}
.container-logo img {
  width: 120px;
}

.checkout-title h2 {
  max-width: 980px;
  width: calc(100% - 40px);
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 0;
}
#footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
#footer .credits {
  font-weight: 300;
  font-size: 0.9rem;
  margin: 0 auto;
  padding: 20px;
}

#footer a:hover,
#footer a:link,
#footer a:visited {
  text-decoration: none;
  outline: none;
  font-family: "Roboto", sans-serif;
}

.bar {
  margin: 1rem 1rem;
}
.cart-template-holder {
  width: 100% !important;
}

.cart-more-options {
  width: 100% !important;
}
.cart-more-options {
  padding: 20px 10px !important;
}
#cart-coupon-add,
.btn-place-order-wrapper,
.shipping-calculate-link,
.btn-success,
#cart-to-orderform,
#payment-data-submit,
#go-to-payment,
#go-to-shipping,
#cart-choose-products {
  border-radius: 0 !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.cart-more-options .srp-container .onda-v1 .blue {
  outline: none !important;
}

#shipping-option-delivery.vtex-omnishipping-1-x-deliveryOptionInactive,
#shipping-option-pickup-in-point.vtex-omnishipping-1-x-deliveryOptionInactive {
  background: unset;
}

.orderform-template-holder
  .step.shipping-data
  .vtex-omnishipping-1-x-deliveryChannelsWrapper,
.orderform-template-holder
  .step.shipping-data
  .vtex-omnishipping-1-x-deliveryChannelsToggle {
  border-radius: 4px;
}

.vtex-omnishipping-1-x-postalCodeFrom {
  align-items: flex-end !important;
}
.vtex-omnishipping-1-x-pc .btn {
  margin: 0 0 10px 10px !important;
}

.summary-template-holder {
  width: 75% !important;
  padding: 30px !important;
}

.cart-template {
  flex-flow: column !important;
  align-items: flex-end !important;
}
#client-profile-data #go-to-shipping,
#client-profile-data #go-to-payment {
  display: none !important;
}

.client-document {
  display: none !important;
}

.ship-state input {
  display: none !important;
}
.custom-corporate-terms a {
  color: #deb01a;
}

#btn-go-to-payment {
  display: block;
  min-width: 55%;
  margin: 20px 0 !important;
}

#go-to-shipping {
  display: block;
  min-width: 55%;
  margin: 20px 0 !important;
}

#shp-shipping-calculate {
  display: none !important;
}

#is-corporate-client {
  text-decoration: underline;
}
#not-corporate-client {
  text-decoration: underline;
}
.custom-corporate-terms {
  margin-top: 15px;
}
#user-country {
  margin-top: 10px;
}
.payment-confirmation-modal {
  background: #deb01a !important;
}

.corporate-info-box {
  display: block !important;
}
.corporate-info-box .custom-corporate-street {
  display: block !important;
}
.corporate-info-box .custom-corporate-number {
  display: none !important;
}
.corporate-info-box .custom-corporate-postal-code {
  display: block !important;
}
#custom-corporate-postal-code {
  height: 40px;
  line-height: 40px;
  max-height: initial;
  display: inline-block;
  padding: 0px 10px;
  border-radius: 4px;
  border: 1px solid #cbcbcb;
  outline: initial;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
}
.corporate-info-box .custom-corporate-city {
  display: block !important;
}

.corporate-info-box .person-type-field {
  display: none !important;
}
.corporate-info-box .custom-corporate-name {
  display: none !important;
}
.corporate-info-box .custom-corporate-document {
  display: none !important;
}
.corporate-hide-link {
  display: none;
}

.box-client-info-pj {
  padding-top: 0 !important;
}

/* Chrome, Safari, Edge, Opera */
#client-phone {
  height: 40px;
  line-height: 40px;
  height: 40px;
  line-height: 40px;
  max-height: initial;
  display: inline-block;
  padding: 0px 10px;
  border-radius: 4px;
  border: 1px solid #cbcbcb;
  outline: initial;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  width: 100%;
}
#client-phone::-webkit-outer-spin-button,
#client-phone::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
#client-phone {
  -moz-appearance: textfield;
}
.checkbox {
  display: flex;
}
.checkbox > span {
  margin-left: 10px;
  margin-top: 6px;
}
.checkbox > input {
  height: 25px;
}
.custom-corporate-state {
  margin-top: 5px;
}
#worldpay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #fff;
}
#worldpay #wp-cl {
  margin-top: 60px;
}
.cart {
  display: none;
}
.summary-template-holder {
  display: none;
}
.checkout-title {
  display: none;
}
.ship-complement {
  display: none;
}
