.placeOrderButtonContainer {
}
.placeOrderButtonContainer > div > button {
	transition: all 0.3s ease;
	height: 55px;
	border-radius: 11px;
}
.placeOrderButtonContainer > div > button:hover {
	transition: all 0.3s ease;
}
.placeOrderButtonWrapper {
}
