.wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background: none;
  padding: 0 0 1rem 1rem;
  width: 93%;
  margin: 0 auto;
  border-radius: 8px;
}
.title{
  font-size: 1.1rem;
}
.features{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  padding-left: 20px;
}
:global(.vtex-flex-layout-0-x-flexColChild--product-desc-info) .features {
  flex-direction: column;
}
.feature{
  flex-basis: 50%;
  margin-bottom: 0px;
  margin-top: 8px;
  font-size: 0.875rem;
  position: relative;
}
.feature::before{
  content: url(./assets/instockIcon.svg);
  position: absolute;
  left:-20px;
  top: 2px;
  width: 10px;
  height: 10px;
  /* font-size: 0.575rem;
  padding-left: 1px;
  padding-bottom: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #953D1B;
  background: #fff;
  border-radius: 50%;
  color: #953D1B;
  box-shadow: inset 0 1px 3px rgba(0,0,0,.3) */
}

/* Media Queries */
@media only screen and (max-width: 668px) {
  /* .feature{
    flex-basis: 100%;
  } */
  .features{
    flex-direction: column;
  }
  .wrapper{
    position: unset;
  }
}

@media only screen and (max-width: 640px){
  .features{
    flex-direction: row;
  }
}

@media only screen and (max-width: 1370px) and (min-width: 1020px)  {
 .feature{
  flex-basis: 50%;
  margin-bottom: 0px;
  margin-top: 8px;
  /* font-size: 0.75rem; */
  position: relative;
}

.title{
  font-size: 0.8rem;
}

.wrapper{
  display: flex;
  flex-direction: row;
  /* margin-bottom: 50px; */
  /* background: #F9F9F9; */
  padding: 0 0 1rem 1rem;

}
}

@media only screen and (max-width: 640px){ 
  .wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    background: none;
    padding: 0 0 1rem 1rem;
    margin: 0 auto;
    border-radius: 8px;
  }
}