.containerSocialPage{
  width: 50%;
  margin: 0 auto;
}
.title{
  text-align: center;
  font-size: 1.7rem;
  margin: .67em 0;
  font-family: 'myriadSemibold';
}
.containerTermini{
  margin: 2.67em 0;
  text-align: center;
}
.containerButtonSocial{
  width: 50%;
  margin: 0 auto;
  text-align: center;
  justify-content: space-around;
  display: flex;
}
.checkboxContainer{
  margin: .67em 0;
  display: flex;
}
.newsletter{
  position: relative;
  left: 1rem;
}
.socialName{
  margin: 0 .5rem;
}
.logoFacebook{
  width: 24px;
}
.testoInformativa{
  color: #fdc100;
  padding: 0rem;
}
@media only screen and (max-width: 1024px){
  .containerSocialPage{
    width: unset;
    margin: 0rem 1rem;
  }
  .containerButtonSocial{
    margin: .67em -1rem;
    width: unset;
  }
}