.productPriceContainer {
}
.sellingPriceContainer {
}
.sellingPrice {
  font-size: 2rem;
  font-weight: 600;
  font-family: "GothamProRRegular";
  display: flex;
  justify-content: flex-end;
}
.listPriceContainer {
  margin: 0 0 0.4rem 0;
}
.listPrice {
  color: #d0d3d4;
  font-size: 1rem;
  text-decoration: line-through;
}
.sellingPriceSymbol {
  font-size: 0.6em;
  font-weight: 400;
}
.ecofeeLabel {
}
.ecofeeLabelCards {
  font-size: 0.5rem;
  color: #505050;
  margin: 0;
  text-align: end;
  display: flex;
  margin-top: 0.5rem;
}

@media only screen and (max-width: 640px) {
  .sellingPriceContainer {
    margin-bottom: 1.5rem;
  }
}
