.groupName {
  font-size: 1.25rem;
}

.specificationName--fieldNameSpec {
  font-weight: normal;
}

.specificationName--fieldNameSpecTab {
  margin-top: 0.75rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.125rem;
}
.specificationValue--priceSubscription {
  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  font-family: "openSans";
  min-width: max-content;
}
.specificationValue--minus,
.specificationValue--list {
  position: relative;
}
.specificationValue--priceSubscription.specificationValue--minus::before {
  height: 0.3rem;
  content: "";
  width: 1rem;
  background-color: #231f20;
  top: calc(50% - 0.15rem);
  left: -2.25rem;
  position: absolute;
}

/* .specificationValue--codiceProdotto{
  font-weight: bold;
} */

.specificationValue--codiceProdotto--last {
  font-family: "openSans";
  font-size: 12px;
  line-height: 1;
  margin: 0;
  color: #3f3f40;
  font-weight: 600;
}

.specificationValue--monthlyRate2--last {
  font-weight: 400;
  font-size: 12px;
  font-family: "openSans";
}

@media only screen and (max-width: 600px) {
  .specificationValue--monthlyRate2--last {
    font-size: 10px !important;
  }
}
