.InvoiceDataContainer {
	margin-top: 2rem;
}
.InvoiceDataContainer,
.checkboxesContainer {
	font-size: 13px;
	color: #333;
}
.InvoiceDataContainer :global(.vtex-checkbox__inner-container),
.checkboxDiv :global(.vtex-checkbox__inner-container),
.optinDiv :global(.vtex-checkbox__inner-container) {
	border: 1px solid #999999;
}
.CustomDatasContainer {
	transition: all 0.3s ease-in-out;
	overflow: hidden;
}
.CustomDatasChildrenContainer {
	padding: 1rem 0;
}
.invoiceSelectContainer {
	display: flex;
	flex-direction: column;
}
.invoiceSelectContainer :global(.vtex-radioGroup__fieldset) {
	display: flex;
}
.invoiceSelectContainer
	:global(.vtex-radioGroup__fieldset)
	> label:first-child {
	margin-right: 1rem;
}
.profileInput {
	margin: 0;
	margin-top: 0.5rem !important;
	width: 100%;
	position: relative;
}

/*-- INVOICE SECTION ---*/
.invoiceSection {
	margin-top: 1.5rem;
}

/*-- CHECKBOXES ---*/
.checkboxesContainer {
	margin-top: 2rem;
}
.checkboxDiv {
}
.checkboxDivOptin {
	margin-top: 0.5rem;
}
.checkboxLabel {
	margin-left: 0.5rem;
	color: #3f3f40;
}
.checkboxLabelOptin {
	color: #3f3f40;
}
.checkboxLabelLink {
	transition: all 0.2s ease;
}
.checkboxLabelLink:hover {
	transition: all 0.2s ease;
}
.optinDiv {
	margin-top: 0.5rem;
}
:global(.vtex-checkbox__label) {
	color: #3f3f40;
}
