:global(.vtex-overlay-layout-0-x-container--phoneLayoutMobile)
  .analyticsWrapperContainer {
  display: flex;
  flex-direction: column;
}
:global(.vtex-modal-layout-0-x-paperScrollContent) .analyticsWrapperContainer {
  width: fit-content;
  margin-left: auto;
}
