/*--- PRODUCT OF DAY ---*/
:global(.vtex-flex-layout-0-x-flexRowContent--productPriceDay)
  .productPriceContainer {
  margin-bottom: 0.5rem;
}
:global(.vtex-flex-layout-0-x-flexRowContent--productPriceDay)
  .productPriceContainer {
  margin-bottom: 0.5rem;
}
:global(.vtex-flex-layout-0-x-flexRowContent--productPriceDay)
  .listPriceContainer,
:global(.vtex-flex-layout-0-x-flexRowContent--productPriceDay)
  .sellingPriceContainer {
  text-align: center;
}
:global(.vtex-flex-layout-0-x-flexRowContent--productPriceDay) .sellingPrice {
  font-size: 1.3rem;
  line-height: 16px;
  font-weight: 300;
  color: #505050;
  font-family: "GothamProRRegular";
  min-width: fit-content;
  justify-content: center;
}

/*--- PRODUCT CARDS ---*/
:global(.vtex-flex-layout-0-x-flexRowContent--productPriceDay)
  .flexColChild--productPrice {
  margin-bottom: 0.5rem;
}
:global(.vtex-flex-layout-0-x-flexColChild--productPrice) .listPriceContainer,
:global(.vtex-flex-layout-0-x-flexColChild--productPrice)
  .sellingPriceContainer {
  text-align: right;
}
:global(.vtex-flex-layout-0-x-flexColChild--productPrice) .listPrice {
  white-space: nowrap;
}
:global(.vtex-flex-layout-0-x-flexColChild--productPrice) .sellingPrice {
  font-size: 1.3rem;
  line-height: 16px;
  font-weight: 300;
  color: #505050;
  font-family: "GothamProRRegular";
  min-width: fit-content;
  white-space: nowrap;
}
:global(.vtex-flex-layout-0-x-flexColChild--rightBlock) .sellingPrice {
  justify-content: flex-start;
}
@media only screen and (max-width: 640px){
  :global(.vtex-flex-layout-0-x-flexCol--cardModalMobile) .sellingPrice{
    display: flex;
    justify-content: center;
  }
  :global(.vtex-flex-layout-0-x-flexCol--cardModalMobile) .ecofeeLabelCards{
    justify-content: center;
}
}