.serviziAggiuntiviTable {
  margin: 0 0 1rem 0;
}
.freeLabel,
.labelPrice {
  font-family: "gothamproregular";
  font-weight: bolder;
}
.labelPrice {
  display: flex;
  align-items: center;
}
.servOptions {
  font-family: "gothamproregular";
  font-size: 0.9rem;
}
.twoYearsWarranty {
  width: 100%;
  padding-right: 2.125rem;
}
.servAggTooltip {
  font-family: "gothamproregular";
  font-size: 0.9rem;
}
