:global(.vtex-tab-layout-0-x-contentItem) .faqContainer {
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 1rem;
}
:global(.vtex-tab-layout-0-x-contentItem) .vtex-styleguide-9-x-jsFocusVisible {
  margin: auto 0;
}
:global(.vtex-tab-layout-0-x-contentItem) .container {
  padding-left: 1rem;
}

:global(.vtex-overlay-layout-0-x-container) .faqContainer {
  border: 1px solid black;
  border-radius: 4px;
  margin-bottom: 1rem;
}
:global(.vtex-overlay-layout-0-x-container)
  .vtex-styleguide-9-x-jsFocusVisible {
  margin: auto 0;
}
:global(.vtex-overlay-layout-0-x-container) .container {
  padding-left: 1rem;
}
