:global(.vtex-flex-layout-0-x-flexColChild--test) .value {
  font-size: 10px;
  color: white;
  white-space: pre;
  /* margin: 10px 0px; */
}

:global(.vtex-flex-layout-0-x-flexColChild--test) .container {
  margin: 0;
  /* margin: 10px 0px; */
}

:global(.vtex-flex-layout-0-x-flexColChild--pdp-price) .value {
  font-size: 10px;
  white-space: pre;
  /* margin: 10px 0px; */
}

:global(.vtex-flex-layout-0-x-flexColChild--pdp-price) .container {
  margin: 0;
  /* margin: 10px 0px; */
}

:global(.vtex-flex-layout-0-x-flexColChild--leasingFourthColValue) .value {
  font-family: "GothamProRRegular";
  font-size: 12px;
  line-height: 15px;
  margin: 0;
}

:global(.vtex-flex-layout-0-x-flexColChild--leasingFourthColValue) .container {
  margin: 0;
}

:global(.vtex-flex-layout-0-x-flexRowContent--listItem2-sub-price-container) .value {
  font-size: 12px;
  line-height: 15px;
  margin: 0 10px 0 0;
}

:global(.vtex-flex-layout-0-x-flexRowContent--listItem2-sub-price-container) .container {
    margin: 0;
    width: fit-content
  }
  @media only screen and (max-width: 640px) {
  :global(.vtex-flex-layout-0-x-flexColChild--test) .value {
    font-size: 8px;
    color: white;
    /* margin: 10px 0px; */
  }
}