.breadcrumbContainer {
  /* padding-left: 0; */
  text-transform: capitalize !important;
  font-family: 'gothamproregular' !important;
  padding-left: 0;
  padding: 0 !important;
}

.arrowIconBread {
  opacity: 25% !important;
}

@media only screen and (max-width: 640px) {
  .breadcrumbContainer {
    padding-left: 1rem
  }
}
