.listPrice {
  color: #d0d3d4;
  margin: 0 0 0.4rem 0;
  font-size: 1rem;
}
.listPrice--comparison {
  padding-left: 20px;
}
.sellingPrice {
  color: #231f20;
  font-size: 16px;
}

.sellingPriceValue {
  font-size: 2rem;
  font-weight: 600;
  display: flex;
  font-family: "GothamProRRegular";
}
.sellingPriceValue--quick {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 0.5rem;
}
.sellingPrice--productOfDayPrice {
  display: flex;
  align-items: center;
  justify-content: center;
}

.installments {
  color: #727273;
  margin-bottom: 1rem;
}

.savings {
  font-weight: 500;
  color: #79b03a;
}

.sellingPriceValue--summary {
  font-size: 1.3rem;
  line-height: 16px;
  font-weight: 300;
  color: #505050;
  font-family: "GothamProRRegular";
  min-width: fit-content;
}

.savings--summary {
  background: #8bc34a;
  border-radius: 1000px;
  align-items: center;
  display: flex;

  padding-left: 0.5rem;
  padding-right: 0.5rem;
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #ffffff;
}

.savings-discount--summary {
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #ffffff;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.listPrice--summary {
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
  text-align: center;
}
.listPrice--day {
  text-align: center !important;
}
.installments--summary {
  margin-bottom: 2rem;
  font-size: 0.875rem;
}

.savings--summaryPercentage {
  background: #0f3e99;
  border-radius: 1000px;
  align-items: center;
  display: flex;
}

.savingsPercentage--summaryPercentage {
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #ffffff;
  padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

.currencyContainer--productOfDayPrice {
  font-size: 0.9rem;
  width: 100%;
}

.sellingPrice--productOfDayPrice {
  justify-content: center;
  text-align: center;
}
.listPrice--summary {
  font-weight: 400;
  color: #d0d3d4;
  font-size: 1rem;
  margin: 0 0 0.4rem 0;
  text-align: end;
}
.currencyContainer--summary {
  margin-bottom: 0.5rem;
}
.sellingPrice--summary {
  display: flex;
  justify-content: flex-end;
}
.sellingPrice--day {
  justify-content: center;
}

.sellingPriceValue--pricePlusTax {
  color: #505050;
  padding: 0;
  width: 100%;
  text-align: right;
  font-size: 1.3rem;
  line-height: 1.3;
  font-family: "GothamProRRegular";
  justify-content: end;
}
.sellingPrice--pricePlusTax {
  font-size: 8px;
  color: #a4a4a4;
  text-align: right;
  font-family: "GothamProRRegular";
}
.sellingPrice--pdpStickyPrice {
  justify-content: flex-start;
}
.currencyContainer--pdpStickyPrice {
  color: #fff;
  margin: 0;
}
.sellingPriceValue--product-price {
  font-weight: bold;
  font-size: 2rem;
  font-family: "GothamProRRegular";
}
@media only screen and (max-width: 600px) {
  .sellingPriceValue--day {
    font-size: 1.3rem;
  }
  .listPrice--day {
    font-size: 0.875rem;
    color: #d0d3d4;
  }
}

