.unavailableButton {
    width: 100%;
    min-height: 2.5rem;
    border-radius: 0.25rem;
    /* border-color: #edb112; */
    background-color: #edb112;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    font-family: GothamProRRegular;
    letter-spacing: 0;
    border: 0.25rem solid #edb112;
}

.unavailableButton--pdp { 
    font-size: 1rem;
    font-weight: 500;
}