.catalogMenuContainer {
  top: 163px;
}
.catlogButton {
  margin-left: 0;
}
.catalogImagesLink {
  height: fit-content;
}
.catalogImagesDiv {
  align-items: center;
}
.subMenuDivMobileOpened {
  overflow-y: scroll;
  padding-bottom: 3rem;
}
.rightColumnMobile {
  padding-top: 1rem;
}
.catalogSubTitleMobile {
  margin-bottom: 0;
  padding: 0.6rem 0;
}
.buttonImageBack {
  margin-top: 2rem;
}
.rightColumnItemsWrapper {
  padding-bottom: 25rem;
}
.catalogMenuContainer {
  position: absolute;
  top: 100%;
}
.leftMenuLabel,
.leftMenuLabelHover {
  text-align: left;
  padding-left: 30%;
}
@media only screen and (max-width: 640px) {
  .leftMenuLabel,
  .leftMenuLabelHover {
    text-align: left;
    padding-left: unset;
    padding: 0.6rem 1rem;
  }
}
@media only screen and (max-width: 1024px) {
  .subItemDiv {
    width: 70%;
    padding: 0.6rem 0;
  }
}
