.label--headerPhoneLink {
  font-size: 0.8rem;
}
.linkContainer--footerNormal {
  padding: 0.25rem 0;
}
.link {
  text-decoration: none;
}
.link--phoneMobileLabel {
  text-align: center;
}
.link--phoneMobileLabelTop {
  margin-bottom: 1rem;
}
.label--phoneMobileLabel {
  /* font-weight: bolder; */
  font-size: 0.9rem;
  padding-left: 0.4rem;
}
.buttonLink--pdpsubonline {
  background-color: #ffffff;
  border-color: #edac09;
  color: #231f20;
  width: 100%;
  height: 44px;
  font-weight: bold;
  font-size: 0.75rem;
  font-family: "GothamProRRegular";
}

.label--pdpsubonline {
  text-transform: capitalize;
}
.buttonLink--pdpsubonlineSticky {
  background-color: #ffffff;
  color: #231f20;
  width: 100%;
  /* height: 44px; */
  font-weight: bold;
  font-size: 0.7rem;
  font-family: "GothamProRRegular";
  text-transform: capitalize;
}

/*-----------WISHLIST-------------*/

.link--wishlistIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(24px + 3.125rem);
}
.link--wishlistIcon .childrenContainer--wishlistIcon {
  width: 44px;
  height: auto;
  display: contents;
  justify-content: center;
}
.link--linkSeeAll,
.link--seeDetails {
  text-decoration-color: #edb112;
  text-decoration: underline;
  color: #edb112;
  /* font-size: 14px; */
}
.label--linkSeeAll {
  line-height: 2;
}
.link--seeDetails {
  margin-top: 1rem;
}
.link--footerNormal {
  /* color: white;
  margin: 0 1.5rem;
  padding: 0.25rem 0; */
  /* display: block; */
  font-family: "GothamProRRegular";
  font-weight: 400;
  font-size: 0.688rem;
  color: #ffffff;
  line-height: 1.5rem;
  text-transform: unset;
  letter-spacing: normal;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
/* .label--footerNormal {
  font-size: 0.688rem;
  line-height: 1.5rem;
} */
@media only screen and (max-width: 1024px) {
  .link--wishlistIcon {
    width: auto;
  }
}
/* @media only screen and (max-width: 1280px) {
  .label--footerNormal {
    font-size: 0.875rem;
  }
} */

.link--wishlistIconPdp {
  display: flex;
  justify-content: initial;
  align-items: center;
}
.link--wishlistIconPdp .childrenContainer--wishlistIconPdp {
  width: 44px;
  height: auto;
  display: contents;
  justify-content: initial;
}

.link--pdfLink {
  color: #edac09;
  position: relative;
  font-family: "GothamProRRegular";
  font-size: 0.75rem;
}
.link--pdfLink::before {
  content: url(assets/doc.svg);
  position: absolute;
  left: -1rem;
}

.label--categoryTitle {
  font-size: 16px;
  font-weight: bold;
  margin-block-start: 0 !important;
  margin-block-end: 0.5em !important;
  max-width: 210px;
  color: #3f3f40;
  font-family: "Gotham Pro";
}

.label--categoryTitle:hover {
  color: #f2c147;
}

@media only screen and (max-width: 640px) {
  .link--pdfLink {
    margin-left: 20px;
  }

  .label--categoryTitle {
    font-size: 16px;
  }
  .link--footerNormal {
    font-size: 14px;
  }
}

.buttonLink--notificationButtonMore {
  background-color: #edb112;
  color: #000000;
  border-color: black;
  width: 100%;
  font-size: 0.75rem;
  text-transform: none;
  font-family: "GothamProRRegular";
  font-weight: bold;
}

.buttonLink--notificationButtonMobileMore {
  background-color: #edb112;
  color: #000000;
  border: none;
  width: 100%;
  font-size: 0.563rem;
  text-transform: none;
  transition: all 0.3s ease;
}
/*-----------BREAD-------------*/
.label--breadLink {
  text-decoration: none;
}
.link--breadLink {
  font-size: 0.8rem;
  line-height: 22px;
  margin: auto;
  font-weight: 300;
  padding: 0 0.4rem;
  text-transform: uppercase;
  color: #505050;
  text-decoration: none;
}
.link--breadLink:hover {
  color: #fdc100;
}
/* Subscription */
.link--linkCardsSubscription {
  cursor: unset;
}
.childrenContainer--linkCardsSubscription {
  width: 18rem;
  height: 15.3rem;
  border: 2px solid #231f20;
  background-color: #ffffff;
  -webkit-box-shadow: 5px 5px 0px 1px #edac09;
  box-shadow: 5px 5px 0px 1px #edac09;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}
.link--cardCarousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25rem;
  width: 18rem;
  -webkit-box-shadow: 0px 0px 10px 1px rgba(35, 31, 32, 0.1);
  box-shadow: 0px 0px 10px 1px rgba(35, 31, 32, 0.1);
  margin: 0 0.5rem;
  cursor: unset;
}
.childrenContainer--cardCarousel {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.childrenContainer--linkContract {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link--subCategoryTitle {
  font-size: 14px;
  color: #505050;
}

.link--subCategoryTitle:hover {
  color: #f2c147;
}

.label--subCategoryTitle {
  margin: 20px 0;
}

/* MEdia Queries */
@media only screen and (min-width: 640px) and (max-width: 1300px) {
  .childrenContainer--linkCardsSubscription {
    width: 11rem;
    height: 28rem;
  }
}
