.title {
  font-size: 0.8rem;
  font-weight: 600;
  color: #3f3f40;
}
.subscribeLabel {
  font-size: 0.875rem;
  font-weight: 400;
  color: #3f3f40;
}
.checkboxText {
  font-size: 0.625rem;
  color: #3f3f40;
}
.inputName :global(.vtex-input-prefix__group),
.inputEmail :global(.vtex-input-prefix__group) {
  border: 0.125rem solid #cacbcc;
}
