.biggy-autocomplete-wrapper {
  max-height: 38px;
}
.biggy-autocomplete {
  border: 1px solid #231f20;
  border-top: none;
}
/* Media queries */
@media only screen and (min-width: 1280px) {
  .biggy-autocomplete-wrapper {
    width: 25rem !important;
  }
}
@media only screen and (min-width: 1024px) {
  .biggy-autocomplete-wrapper {
    width: 22rem;
  }
}
@media only screen and (max-width: 1024px) {
  .biggy-autocomplete-wrapper {
    width: 58.5rem;
    max-width: none;
    padding: 0;
  }
}
@media only screen and (max-width: 768px) {
  .biggy-autocomplete-wrapper {
    width: 42.5rem;
    max-width: none;
    padding: 0;
  }
}
@media only screen and (max-width: 600px) {
  .biggy-autocomplete-wrapper {
    max-width: 85vw;
  }
}
