.profileContainer {
  font-family: "GothamProRRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  color: #231f20;
}

.personalFields {
  font-family: "GothamProRRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  color: #231f20;
}

.genderInput {
  display: none;
}

.styleguideInput {
  font-family: "GothamProRRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  color: #231f20;
}
