.paragraph--headerPhoneTitle {
  margin: 0;
  letter-spacing: 0.1rem;
  font-family: "GothamProRRegular";
  font-weight: 500;
  line-height: 1.2;
  text-transform: uppercase;
  color: #505050;
  font-size: 11px;
  margin-left: 1.8rem;
}
.container--TableGreyBorder{
  border: 1px solid #e1e1e1;
  padding: 0.5rem !important;
}
.wrapper--TableGreyBorder{
  color: #fff;
}
.container--TableBorder{
  border: 1px solid black;
  height: inherit;
}
.wrapper--TableBorder{
  margin: 0.5rem;
  text-align: center;
}
.paragraph--HeightSecondRow {
  height: 65px;
}
.container--YellowColor{
  background: #edb112;
}
.container--LightYellowColor{
  background: blanchedalmond;
}
.paragraph--YellowColor{
  color: #fff !important;
  font-weight: bold !important;
}
.paragraph--LightYellowColor{
  font-weight: bold !important;
}
.container--Height6Row{
  height: 18.35rem;
}
.container--Height5Row{
  height: 15.7rem;
}
.container--Height4Row{
  height: 12.2rem;
}
.container--Height3Row{
  height: 9.6rem;
}
.container--Height2Row{
  height: 6.1rem;
}
.paragraph--phoneMobileText {
  margin: 0.5rem 0;
  font-weight: bold;
  font-family: "GothamProRRegular";
}
.paragraph--notrePolitiqueTrigger {
  font-family: "GothamProRRegular";
  font-weight: 400;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 1.5rem;
  cursor: pointer;
  min-width: 14.5rem;
  letter-spacing: 0.1rem;
}
.container--linkSchedeTab {
  width: fit-content;
  width: -moz-fit-content;
}
.wrapper--linkSchedeTab {
  font-family: "gothamprorregular";
  font-weight: 400;
  font-size: 0.7rem;
  white-space: nowrap;
  line-height: 1.375rem;
  color: #000;
  text-decoration: underline;
  flex-direction: column;
  margin-left: 0;
}
/* .wrapper--linkSchedeTab:hover {
  color: #fdc100;
} */
.container--title-text-page {
  justify-content: center;
}
.listOrdered--ContRich {
  line-height: 1.5;
}
.listItem--ContRich {
  margin: 0.2rem 0;
}
.paragraph--PromotionBadgeYellow,
.paragraph--PromotionBadgeBlack {
  margin: 0;
  background-color: #fdc100;
  color: #fff;
  position: absolute;
  width: auto;
  height: auto !important;
  white-space: nowrap;
  left: 3px;
  font-family: "myriadBold";
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.375rem;
  /* padding: 0.1rem 0.9375rem; */
  padding: 0 0.7375rem;
}
.paragraph--PromotionBadgeYellow::before,
.paragraph--PromotionBadgeBlack::before {
  position: absolute;
  left: 0;
  bottom: -5px;
  content: "";
  transform: rotate(45deg);
  border-left: 0.4rem solid transparent;
  border-right: 0.4rem solid transparent;
}
.paragraph--PromotionBadgeYellow::before {
  border-bottom: 0.4rem solid #966e02;
}
.table--ContRich {
  border: 1px solid #696969;
  border: 1px solid white;
  border-spacing: 1px;
}

.tableTd--ContRich {
  border: 1px solid #696969;
  padding: 6px;
}

.tableHead--ContRich {
  background: #edb112 !important;
  text-align: center;
  line-height: 3rem;
  color: white;
}
/*-------------Banner Header------------*/
.wrapper--bannerheader {
  font-family: "gothamProRRegular";
  font-size: 0.85rem;
  line-height: 1rem;
  color: #d1d1d1;
  letter-spacing: 1px;
}

.link--bannerheader {
  font-family: "gothamProRRegular";
  font-size: 0.85rem;
  line-height: 1rem;
  color: #d1d1d1;
  letter-spacing: 1px;
  text-decoration: none;
  white-space: nowrap;
}
.headingLevel3--titleWishlistText {
  font-family: GothamProRRegular;
  font-weight: 400;
  font-size: 30px;
  text-transform: none;
  letter-spacing: 0;
}
.container--paragraph-text-page,
.container--spaziature-impaginazione {
  max-width: 56.25rem;
  margin: 0 auto;
  text-align: justify;
  padding: 0 1.5rem;
}
.container--pricePostillaMobile {
  margin-left: 3.5rem;
}
.paragraph-pricePostillaMobile {
  margin: 0;
  padding: 0;
}

.paragraph--titlePBannerPostillaNewHP,
.headingLevel1--titlePBannerPostillaNewHP {
  font-size: 2rem;
  font-family: "gothamproregular";
  line-height: 1;
  margin: 0 0 1.875rem 0;
  font-weight: 400;
}
.paragraph--NewHPPrice {
  margin: 0;
  font-family: "myriadRegular";
  font-size: 3rem;
  line-height: 1;
}
.paragraph--descBannerPostillaHP {
  margin: 0;
}
.wrapper--linkService {
  width: 100%;
  margin: auto;
  color: #edb112;
  padding: 0 1.5625rem;
  font-family: myriadLight, Arial;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
}
.wrapper--buttonGoToCartModal {
  background-color: #fff;
  border: 2px solid #edb112;
  color: #edb112;
  width: 100%;
  margin-top: 0.5rem;
}
.link--buttonGoToCartModal {
  display: inline-block;
  width: 100% !important;
  height: 100% !important;
  text-decoration: none;
  color: #edb112;
  font-size: 1rem;
}
.wrapper--ricambiOriginaliButton .paragraph {
  /* font-family: "myriadSemibold"; */
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2;
  letter-spacing: -0.2px;
  padding: 0 1.25rem;
  text-align: center;
  text-transform: uppercase;
}
.paragraph--pricePostilla {
  font-size: 0.65rem;
  margin: 0 0 0 auto;
  color: #505050;
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 85%;
}
.paragraph--pricePostillaMobile {
  font-size: 0.65rem;
  /* margin: 0.5rem; */
  color: #505050;
  display: flex;
  flex-direction: column;
  text-align: left;
  /* width: 85%; */
}
.container--pricePostilla {
  display: flex;
  justify-content: flex-end;
}
.wrapper--pricePostilla {
  height: 4rem;
}
.wrapper--pricePostillaPlpNew {
  height: 2rem !important;
}
.paragraph--pricePostillaPlpNew {
  margin-top: 0.5rem;
  padding-left: 3rem;
}
.link--paragraph-text-page,
.link--formMail,
.link--formText {
  color: #edb112;
  text-decoration: none;
}
.paragraph--shippingSimulatorQuestion {
  font-size: 0.8rem;
  font-weight: 600;
}
.paragraph--tvaPrix {
  font-size: 0.5rem;
  color: #505050;
  margin: 0;
  text-align: end;
}
.paragraph--titleRich {
  font-size: 1.5rem;
}
.heading--titleModalPDP {
  margin: 1rem;
  text-align: center;
}
.headingLevel1--faq-title {
  font-size: 2rem;
}
.wrapper--fakeAddToCart {
  background: #000;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
  width: 90%;
  margin-bottom: 0.5rem;
  transition: all 0.4s ease;
}
.wrapper--fakeAddToCart:hover {
  transition: all 0.4s ease;
  background: rgb(43, 43, 43);
}
.paragraph--fakeAddToCart {
  margin: 0;
}
.headingLevel3--colonnaSupportoCard {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  color: #505050;
  text-transform: uppercase;
  min-height: 4rem;
  min-width: 7rem;
  font-family: "gothamproregular";
  padding: 0.5rem;
}
.image--supportTitle {
  max-width: 5rem;
  vertical-align: middle;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
/*------------------------------------------------*/
.headingLevel1--FFPageTitle {
  font-size: 1.875rem;
}
.headingLevel4--FFPageText {
  font-size: 1.1rem;
  font-family: "gothamproregular";
  font-weight: 600;
}
.paragraph--FFPageText {
  font-family: "gothamproregular";
}
.container--brandBadge {
  justify-content: center;
  margin: 0 0 1rem 0;
}
.wrapper--brandBadge {
  color: white;
  font-size: 0.8rem;
}
.paragraph--brandBadge {
  padding: 0.2rem 1rem;
  border-radius: 20px;
  margin: 0;
}
.paragraph--WproBrand {
  background-color: #bdbdbd;
}
.paragraph--WhirlpoolBrand {
  background-color: #fdc100;
}
.paragraph--IndesitBrand {
  background-color: #0090d0;
}
.paragraph--HotpointBrand {
  background-color: #000000;
}
.paragraph--KitchenAidBrand {
  background-color: #c41230;
}
.paragraph--textHome {
  font-weight: 400;
  font-size: 27.2px;
  line-height: 2.625rem;
  text-align: center;
  color: #505050;
  /* padding-bottom: 2rem; */
}
.paragraph--payementMethodsText {
  font-weight: bolder;
  margin: 0;
  font-size: 0.8rem;
}
/*---------------FOOTER-------------*/
.link--textFooterFsM {
  text-decoration: none;
  color: #ffffff;
}
.wrapper--titleHBannerPostilla .headingLevel1 {
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin: 0;
  margin-bottom: 1rem;
}
.wrapper--descContattaci .paragraph {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.8125rem;
  color: #505050;
}
.wrapper--titlePBannerPostilla .paragraph {
  margin: 0;
  font-family: "myriadSemibold";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.625rem;
  margin-bottom: 1.875rem;
}
.wrapper--titleBannPostilla4PorteTop .headingLevel1 {
  margin: 0;
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 1.875rem;
}
.wrapper--descBannerPostilla .paragraph {
  font-family: "gothamproregular", Arial;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
  margin-top: 0;
  margin-bottom: 1.875rem;
}
.wrapper--descBannerPostillaLanding .paragraph {
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
  margin-top: 0;
  margin-bottom: 1.875rem;
  text-align: center;
}
.wrapper--BannPostilla .paragraph {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 0.8125rem;
  color: #8d8d8d;
}
.headingLevel2--titleBannPostillaBottom {
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1.2;
}
.headingLevel2--titleBannPostilla {
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.wrapper--postillaBannerPostilla {
  position: absolute;
  bottom: 0;
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 0.8125rem;
  color: #8d8d8d;
}
.wrapper--postillaBannerPostillaLanding {
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 0.8125rem;
  color: #8d8d8d;
}
/* .wrapper--textFooterMt10 {
  margin-top: 10px;
} */
.wrapper--textFooterPt8 {
  padding-top: 8px;
}
.wrapper--textFooterFsM {
  font-size: 1.2rem;
  margin-left: 0.5rem;
}
.wrapper--phoneNumber {
  padding: 0;
  display: flex;
  align-items: center;
}
.paragraph--phoneNumber {
  margin: 0;
}

.wrapper--textFooter {
  font-family: "GothamProRRegular";
  font-weight: 400;
  font-size: 14px;
  /*font-size: 0.875rem;
  line-height: 1.5rem;*/
  color: #ffffff;
  height: 100%;
}

.paragraph--textFooterMarginMobile {
  margin: 0.5em 1.5em;
}
.wrapper--footerNormal {
  display: block;
  font-family: "GothamProRRegular";
  font-weight: 400;
  font-size: 0.875rem;
  color: #ffffff;
  line-height: 1.5rem;
  text-transform: unset;
  letter-spacing: normal;
}
.wrapper--textNewsLetters {
  font-family: "GothamProRRegular";
  font-weight: 400; /*
  font-size: 0.875rem;
  line-height: 1.5rem;*/
  color: #231f20;
  height: 100%;
  padding-left: 50px;
}
.wrapper--requestCallTrigger {
  font-family: "GothamProRRegular";
  font-weight: 400;
  color: #ffffff;
  height: 100%;
  border: solid 2px #ffffff;
  /* border-radius: 10px; */
  width: 70%;
  text-align: center;
  cursor: pointer;
}
.wrapper--requestCallTrigger:hover {
  font-family: "GothamProRRegular";
  font-weight: 400;
  background-color: #ffffff;
  color: #231f20;
  height: 100%;
  border: solid 2px #ffffff;
  /* border-radius: 10px; */
  width: 70%;
  text-align: center;
  cursor: pointer;
}
.paragraph--requestCallTriggerMobile {
  margin: 0;
  line-height: 48px;
}
.wrapper--requestCallTriggerMobile {
  font-family: "GothamProRRegular";
  font-weight: 400;
  color: #ffffff;
  height: 100%;
  border: solid 2px #ffffff;
  /* border-radius: 10px; */
  text-align: center;
  cursor: pointer;
  padding: 0 20px;
}
.wrapper--requestCallTriggerMobile:hover {
  font-family: "GothamProRRegular";
  font-weight: 400;
  background-color: #ffffff;
  color: #231f20;
  height: 100%;
  border: solid 2px #ffffff;
  /* border-radius: 10px; */
  text-align: center;
  cursor: pointer;
  padding: 0 20px;
}

.container--link .strong {
  font-size: 1rem;
  font-weight: 700;
}
.wrapper--subscribeTrigger {
  font-family: "GothamProRRegular";
  font-weight: 400;
  color: #231f20;
  height: 100%;
  border: solid 2px #231f20;
  /* border-radius: 10px; */
  width: 70%;
  text-align: center;
  cursor: pointer;
}
.wrapper--subscribeTrigger:hover {
  font-family: "GothamProRRegular";
  font-weight: 400;
  background-color: #231f20;
  color: #ffffff;
  height: 100%;
  border: solid 2px #231f20;
  /* border-radius: 10px; */
  width: 70%;
  text-align: center;
  cursor: pointer;
}
.container--centerTextCardHp {
  width: fit-content !important;
}
.wrapper--noLink .link {
  text-decoration: none;
  color: inherit;
}
.wrapper--subtitleBannerPlp {
  width: 50%;
}

.heading--titleBannerPlp {
  font-family: "GothamProRRegular";
  font-weight: 700;
  line-height: 32px;
  font-size: 25px;
}
.paragraph--subtitleBannerPlp {
  font-weight: 400;
  line-height: 20px;
  font-size: 14px;
  margin: 0;
}

.heading--titleSearchBarPlp {
  font-size: 25px;
  font-family: "GothamProRRegular";
  font-weight: 700;
  display: flex;
  line-height: 32px;
}

.heading--cutitlebig {
  font-size: 20px;
}

.wrapper--titleSearchBarPlp {
  font-size: 2.125rem;
  font-family: "GothamProRRegular";
  font-weight: 400;
  margin: auto;
  display: flex;
  line-height: 2.25rem;
}

.wrapper--textHeader {
  margin: 0 1.5rem;
}

.container--textHeader {
  width: 11rem;
  justify-content: center;
  text-align: center;
}

.paragraph--textHeader {
  margin-top: 0;
  margin-bottom: 0;
}

.link--textHeader {
  color: black;
  letter-spacing: 0.1rem;
  font-family: "GothamProRRegular";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2;
  text-transform: uppercase;
  color: #505050;
}

.container--titoloMobileShelfHp {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #f4f4f4;
}

.container--lastBlockTitle1 {
  min-height: 39px;
}
/* Black Friday*/
.paragraph--blackFridayTitleMain1 {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 900;
  font-size: 4rem;
  color: white;
  text-transform: uppercase;
  margin: 0;
  line-height: unset !important;
}
.paragraph--blackFridayTitleMain2 {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 900;
  font-size: 6rem;
  color: transparent;
  text-transform: uppercase;
  margin: 0;
  -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #edac09;
  line-height: 1 !important;
}
.paragraph--blackFridayTitleSmall {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  margin: 0.4rem 1rem;
}
.paragraph--blackFridayDescription {
  color: white;
  margin: 0;
}

/* Template Landing Brand */
.paragraph--heroBannerTextHeader {
  font-family: "GothamProRegular";
  font-style: normal;
  font-weight: 900;
}
.wrapper--heroBannerTextHeader {
  position: relative;
}
.paragraph--heroBannerTextHeader::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #feb101;
  left: 0;
  bottom: 1rem;
}
.paragraph--heroBannerTextTitle {
  font-family: "GothamProRRegular";
  font-size: 2.5rem;
  margin: 0;
}
.paragraph--heroBannerTextDescription {
  font-family: "GothamProRRegular";
  font-size: 1.2rem;
}
.paragraph--heroBannerTextFooter {
  font-family: "GothamProRRegular";
  font-size: 0.8rem;
  margin: 0;
}
.paragraph--halfBannerTextHeader {
  font-family: "GothamProRegular";
  font-style: normal;
  font-weight: 900;
}
.headingLevel4--textBoxTitle {
  font-family: "GothamProRRegular";
  font-size: 2.18rem;
  margin: 2.5rem 0;
}
.paragraph--textBoxDescription {
  font-family: "GothamProRRegular";
  font-size: 1.3rem;
  margin: 0;
}
.wrapper--featureTitle {
  position: relative;
  color: #2d2d2d;
  font-weight: 400;
  text-transform: uppercase;
}
.paragraph--featureTitle::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #feb101;
  left: 0;
  bottom: 1rem;
}
.headingLevel6--featureTitle {
  font-size: 1.8rem;
  margin: 2rem 0 !important;
}
.paragraph--featureText {
  font-size: 1.125rem;
  margin-top: 0;
  margin-bottom: 2rem;
}
.paragraph--tabComponentTitle {
  font-size: 2.5rem;
  margin: 0;
}
.headingLevel6--tabBannerTitleText {
  font-size: 2rem;
  margin-bottom: 0;
}
.paragraph--tabBannerDescriptionText {
  font-size: 1.2rem;
}
.paragraph--tabBannerFooterText {
  font-size: 0.8rem;
}
/* Support Page */
.headingLevel4--supportContentSubtitle {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  margin: 0 0 0.3rem 0;
}
.paragraph--supportContentParagraph {
  margin: 0;
}
.link--supportContentParagraph {
  color: #3f3f40;
}
.paragraph--supportContentExchangeParagraph {
  margin: 0;
}
.link--supportContentExchangeParagraph {
  opacity: 0.5;
  color: #3f3f40;
  text-decoration: none;
}
.link--supportContentExchangeParagraph:hover {
  text-decoration: underline;
  opacity: 1;
}
.listItem--supportContentExchangeParagraph {
  margin-bottom: 1rem;
}
.paragraph--accordionLabel {
  margin: 0;
}

@media only screen and (max-width: 600px) {
  .paragraph--middleTitle {
    text-align: center;
  }
  .wrapper--subtitleBannerPlp {
    width: 100%;
  }
  .paragraph--subtitleBannerPlp {
    font-size: 0.875rem;
  }
  .wrapper--titleBannerPlp {
    font-size: 1rem;
  }
  .container--titoloMobileShelfHp {
    margin: 0 !important;
    display: flex;
    justify-content: flex-start;
    background-color: #ffffff;
  }
  .container--titleNew {
    font-family: "GothamProRRegular";
    color: #231f20;
    font-weight: 700;
    font-size: 1.75rem;
  }
  .container--hpsecondTitleNew {
    margin-top: 2.5rem;
  }
  .container--titoloMobile1shelf {
    font-family: "GothamProRRegular";
    color: #231f20;
    font-weight: 700;
    font-size: 1.25rem;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
  }
  .paragraph--titoloMobile1shelf {
    /* font-family: "GothamProRRegular";
    color: #231F20;
    font-weight: 700; */
    margin: 10px 0 !important;
  }
  .paragraph--textFooterPl20px {
    font-size: 0.5rem !important;
    text-align: right;
  }
  .strong--textFooterPl20px {
    font-size: 0.8rem !important;
  }
  .paragraph--textFooterFsM {
    font-size: 10px !important;
  }
  .paragraph--testo12 {
    font-size: 10px !important;
  }
  .strong--requestCallTriggerMobile {
    font-size: 0.8rem !important;
  }
  /* .container--requestCallTriggerMobile{
    margin-bottom: 12px !important;
    border-radius: 5px !important;
  } */
  .styledLinkContent--footerBoldP10 {
    font-size: 0.6rem !important;
  }
  .styledLinkContent--footerBold {
    font-size: 0.6rem !important;
  }
  .container--paddingRight
    :global(.vtex-rich-text-0-x-paragraph--paddingRight) {
    font-size: 10px !important;
  }
  .paragraph--stepSubtitle {
    min-height: 30px !important;
    margin: 0;
  }
  .container--supportTitle {
    display: flex;
    justify-content: center;
  }
  .strong--serviceProgramsCardTitle {
    font-size: 0.8rem;
  }
  .paragraph--blackFridayTitleMain1 {
    font-size: 3rem;
  }
  .paragraph--blackFridayTitleMain2 {
    font-size: 3.3rem;
  }
}
/* .wrapper--titoloMobileShelfHp .paragraph {
  font-family: "GothamProRRegular";
  font-size: 18px;
  font-weight: bolder;
  line-height: 20px;
  text-align: left;
  color: #231F20;
} */
@media only screen and (min-width: 1100px) {
  /* .container--titoloMobileShelfHp {
    display: none;
  } */
}

/*SUBSCRIPTION*/
.wrapper--stepTitle {
  color: #edac09;
  font-size: 0.75rem;
}
.paragraph--stepSubtitle {
  min-height: 60px;
}
.wrapper--stepSubtitle {
  font-weight: bold;
  font-size: 1.25rem;
}
.wrapper--subscriptionTitle {
  font-weight: bold;
  font-size: 1.5rem;
}
.container--middleTitle {
  justify-content: center;
  font-weight: 600;
}
.wrapper--price {
  font-size: 1.5rem;
}
.wrapper--secondColDesc {
  min-height: 45px;
}
.paragraph--enStockLabel {
  margin: 0;
  line-height: 1;
  color: #727273;
}
.wrapper--thirdColText {
  text-align: center;
}
.container--paddingRight {
  font-size: 0.75rem;
  font-family: "GothamProRRegular";
}
.container--paddingRight :global(.vtex-rich-text-0-x-paragraph--paddingRight) {
  margin: 0;
  font-size: 12px;
}
.container--testo12 {
  font-size: 0.75rem;
  font-family: "GothamProRRegular";
}

.container--titleNew {
  font-family: "GothamProRRegular";
  color: #231f20;
  font-weight: 700;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.headingLevel3--titleNew {
  font-size: 22px;
  margin: 0;
  padding: 0;
}
.paragraph--titoloMobile1shelf {
  font-family: "GothamProRRegular";
  color: #231f20;
  font-weight: 700;
  margin: 0;
}
.wrapper--notificationBar {
  font-family: "GothamProRRegular";
  font-weight: 400;

  color: #edb112;
}
.wrapper--notificationBarMobile {
  font-family: "GothamProRRegular";
  font-weight: 400;
  font-size: 0.563rem;
  color: #edb112;
}

.headingLevel4--productOfDay {
  font-weight: bold;
}
.container--notfoundrow {
  justify-content: center;
}
.container--linkNotFound {
  justify-content: center;
}
.paragraph--codiceProdotto {
  font-family: "GothamProRRegular";
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  margin: 0;
  min-width: 9rem;
}

.paragraph--testo12 {
  font-weight: 400;
  font-size: 12px;
}

.paragraph--listItem2-sub-text {
  margin: 0;
}

.wrapper--testoTooltip {
  font-family: "GothamProRRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  color: #231f20;
}

.link--withLink {
  color: #edac09;
}

.wrapper--quickview-product-specification-text {
  font-family: "GothamProRRegular";
  font-weight: bold;
  color: #231f20;
}

.link--requestCallTriggerMobile {
  text-decoration: none;
  color: #fff;
}

.link--requestCallTriggerMobile:hover {
  text-decoration: none;
  color: #000;
}
.wrapper--testoTitoloPdf {
  margin-top: 1.5rem;
  font-family: "GothamProRRegular";
  font-style: normal;
  font-weight: bold;
  font-size: 0.875rem;
  color: #000000;
}

.wrapper--tpdtitlebig {
  font-family: "GothamProRRegular";
  font-style: normal;
  font-weight: bold;
  font-size: 1.25rem;
  color: #231f20;
}
.wrapper--tpdtitle {
  font-family: "GothamProRRegular";
  font-style: normal;
  font-weight: bold;
  font-size: 0.875rem;
  color: #231f20;
}
/*---------- SUPPORT -----------*/
.headingLevel3--supportTitle {
  font-size: 1.2rem;
  font-family: "GothamProRRegular";
  font-weight: 600;
  margin: 1rem 0 2rem 0;
  color: #000;
}
.headingLevel4--supportTitle {
  color: #000;
  font-family: "GothamProRRegular";
  font-size: 1rem;
  font-weight: 600;
  margin: 0 0 0.3rem;
}
.link--supportTitle {
  color: #edb112;
}
.link--supportTitle:hover {
  text-decoration: underline;
}
.wrapper--legalText {
  border: 2px solid black;
}
/* mobile */
@media only screen and (max-width: 650px) {
  .wrapper--cutitlebig {
    font-family: "GothamProRRegular";
    font-style: normal;
    font-weight: bold;
    font-size: 1.125rem;
    color: #231f20;
  }

  .wrapper--cutitle {
    font-family: "GothamProRRegular";
    font-style: normal;
    font-weight: bold;
    font-size: 0.625rem;
    color: #231f20;
  }
  .wrapper--cutext {
    font-family: "GothamProRRegular";
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    color: #231f20;
  }
  .paragraph--cutext {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .paragraph--cutitle {
    margin: 0;
  }
  .wrapper--cutextmail {
    font-family: "GothamProRRegular";
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    color: #edac09 !important;
  }
  .paragraph--cutextmail {
    margin-top: 0;
    margin-bottom: 20px;
  }
}

/* desktop */
@media only screen and (min-width: 1600px) {
  .wrapper--cutitlebig {
    font-family: "GothamProRRegular";
    font-style: normal;
    font-weight: bold;
    font-size: 1.25rem;
    color: #231f20;
  }

  .wrapper--cutitle {
    font-family: "GothamProRRegular";
    font-style: normal;
    font-weight: bold;
    font-size: 0.875rem;
    color: #231f20;
  }
  .wrapper--cutext {
    font-family: "GothamProRRegular";
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    color: #231f20;
  }
  .paragraph--cutext {
    margin-top: 0;
    margin-bottom: 30px;
  }
  .paragraph--cutitle {
    margin: 0;
  }
  .wrapper--cutextmail {
    font-family: "GothamProRRegular";
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    color: #edac09 !important;
  }
  .paragraph--cutextmail {
    margin-top: 0;
    margin-bottom: 30px;
  }
}
.paragraph--supportTitle {
  font-weight: 400 !important;
  font-family: "gothamproregular";
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  /* display: flex; */
  align-items: center;
  justify-content: space-between;
  width: 90%;
}
.container--supportTitleImages {
  display: contents;
}
.paragraph--supportTitleImages {
  display: flex;
}

.paragraph--supportDetailTitle {
  margin: 0;
  font-weight: bolder;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.paragraph--supportDetailDesc {
  margin: 10px 0px 0px 0px;
  font-size: 12px;
  line-height: 16px;
  color: #000000;
}

.paragraph--requestACallTitle {
  font-size: 24px;
  font-weight: bold;
  line-height: 24px;
  color: #231f20;
}

.container--serviceTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading--serviceTitle {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  margin: 1rem 0px;
  width: max-content;
}

.wrapper--firstBannerTitle {
  font-size: 22px;
  font-weight: bold;
  line-height: 32px;
}

.wrapper--firstBannerPhoneNumberTitle {
  font-size: 1rem;
}

.wrapper--firstBannerPhoneNumberTitle :global(.vtex-rich-text-0-x-paragraph) {
  margin: 10px 0 0 0;
}

.wrapper--firstBannerPhoneNumber {
  font-size: 1rem;
  font-weight: bold;
}

.wrapper--secondBannerSection1Title {
  font-size: 22px;
  font-weight: bold;
  line-height: 32px;
}

.wrapper--secondBannerSection1Subtitle {
  font-size: 14px;
}

.wrapper--secondBannerSection1Price {
  font-size: 16px;
  font-weight: bold;
  line-height: 22px;
}

.paragraph--secondBannerSection1Price {
  margin-top: 0;
}

.container--secondBannerSection2Desc {
  display: flex;
  justify-content: center;
}

.paragraph--secondBannerSection2Desc {
  font-size: 12px;
}

.container--hiddenContent {
  visibility: hidden;
}

.wrapper--serviceModalTitle {
  display: flex;
  align-items: center;
}

.container--serviceModalButton {
  display: flex;
  justify-content: start;
}

.wrapper--serviceModalButton {
  background-color: #edac09;
  border: 2px solid #edac09;
  padding: 10px 25px;
  cursor: pointer;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper--serviceModalButton:hover {
  background-color: #ffffff;
}

.paragraph--serviceModalButton {
  margin: 0;
}

.heading--serviceProgramsTitle {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin: 60px 0px 50px 0px;
  width: max-content;
}

.wrapper--serviceProgramsCardGreenBadge {
  display: flex;
  align-items: center;
  min-height: 50px;
  border: 2px solid #93bb1b;
  padding: 0 10px;
  border-radius: 4px;
}

.wrapper--serviceProgramsCardRedBadge {
  display: flex;
  align-items: center;
  min-height: 50px;
  border: 2px solid #c60025;
  padding: 0 10px;
  border-radius: 4px;
}

.paragraph--serviceProgramsCardBadge {
  margin: 5px 0;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  max-width: 200px;
}

.paragraph--serviceProgramsFourthCardBadge {
  margin: 0;
  font-size: 12px;
  font-weight: 600;
  text-align: center;
  max-width: 150px;
}

.paragraph--serviceProgramsCardFirstDesc {
  font-size: 13px;
  text-align: center;
  max-width: 200px;
  min-height: 60px;
  display: flex;
  align-items: start;
}

.paragraph--serviceProgramsCardSecondDesc {
  font-size: 12px;
  text-align: center;
  max-width: 200px;
  font-weight: 600;
  min-height: 65px;
  display: flex;
  align-items: start;
  margin: 0;
}

.paragraph--serviceProgramsCardPrice {
  font-size: 16px;
  font-weight: bolder;
  margin: 5px 0;
}

.paragraph--serviceProgramsCardPricePrefix {
  font-size: 16px;
  font-weight: bolder;
  margin: 5px 0;
}

.paragraph--serviceProgramsCardPriceSuffix {
  font-size: 10px;
  padding: 2px 4px;
  margin: 0;
  border: 1px solid #000000;
  border-radius: 5px;
  font-weight: 600;
  position: relative;
}
.paragraph--serviceProgramsCardPriceSuffix::after {
  content: "*";
  position: absolute;
  right: -7px;
  top: -8px;
  font-weight: normal;
  font-size: 14px;
}

.wrapper--serviceProgramsTrigger {
  background-color: #edac09;
  border: 2px solid #edac09;
  cursor: pointer;
  padding: 0px 10px;
  font-size: 12px;
  width: 200px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper--serviceProgramsTrigger:hover {
  background-color: #ffffff;
}
.container--buttonCardPanier{
  padding-bottom: 1rem;
}
.link--buttonGoToCartModalPanier {
  font-family: GothamProRRegular;
  letter-spacing: 0;
  display: inline-block;
  width: 100% !important;
  height: 100% !important;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  color: #fff;
}
.wrapper--buttonCardPanier {
  font-family: "myriadSemibold";
  line-height: 1.2;
  width: 30% !important;
  text-transform: uppercase;
  color: white;
  background-color: #edb112;
  border-color: #edb112;
  width: auto;
  padding: 0.5rem;
  min-height: 2.8125rem;
  min-width: 9.375rem;
  border-radius: 0.3125rem;
}
.wrapper--buttonCardPanier .paragraph {
  text-align: center;
}
.link--buttonCardPanier {
  text-decoration: none;
  color: #ffffff;
}
.paragraph--addedPanierPdp{
  color: #64a54a;
  font-weight: 600;
  display: flex;
  flex-direction: row;
}
.paragraph--addedPanierPdp::before{
  content: '\2713';
  display: inline-block;
  color: #64a54a;
  padding: 0 6px 0 0;
}
.container--addedPanierPdp{
  padding-bottom: 1rem;
}
@media only screen and (max-width: 1100px) {
  .heading--serviceTitle {
    font-size: 22px;
    margin: 20px;
  }
  .wrapper--firstBannerTitle {
    font-size: 20px !important;
  }
}

@media only screen and (max-width: 600px) {
  .heading--serviceTitle {
    font-size: 18px;
    width: unset;
  }
  .wrapper--firstBannerTitle {
    font-size: 18px !important;
    max-width: 150px;
  }
  .wrapper--firstBannerPhoneNumberTitle {
    font-size: 14px;
    max-width: 100px;
  }
  .wrapper--firstBannerPhoneNumber {
    font-size: 12px !important;
  }
  .wrapper--secondBannerSection1Title {
    font-size: 18px;
  }
  .wrapper--secondBannerSection1Subtitle {
    font-size: 12px;
  }
  .wrapper--serviceModalButton {
    padding: 5px 10px;
    font-size: 14px;
  }
  .paragraph--secondBannerSection2Desc {
    font-size: 8px;
  }
  .heading--serviceProgramsTitle {
    font-size: 18px !important;
    margin: 30px 0 10px 0;
    width: unset;
  }
  .paragraph--serviceProgramsCardBadge {
    font-size: 10px;
    font-weight: 600;
  }
  .paragraph--serviceProgramsFourthCardBadge {
    font-size: 10px;
    font-weight: 600;
    min-width: 140px;
    margin-left: 1.5rem;
  }
  .paragraph--serviceProgramsCardFirstDesc {
    font-size: 12px;
    max-width: 200px;
  }

  .paragraph--serviceProgramsCardSecondDesc {
    font-size: 10px;
    max-width: 200px;
    font-weight: 600;
    display: flex;
    align-items: start;
  }

  .paragraph--serviceProgramsCardPricePrefix {
    font-size: 14px;
    margin-left: 10px;
    min-width: 65px;
  }
  .paragraph--serviceProgramsCardPriceSuffix {
    margin: 0;
  }
  .headingLevel3--titleNew {
    font-size: 18px;
  }
}

/* Subscription */
.paragraph--titleSubscription,
.paragraph--titleSubscriptionBanner {
  color: #231f20;
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 1.8rem;
  font-family: "GothamProRRegular";
}
.paragraph--titleSubscription,
.paragraph--paragraphSubscription {
  margin: 0.5rem 0;
}

.paragraph--card-text-subscription,
.paragraph--carousel-text-subscription-center {
  color: #231f20;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-family: "GothamProRRegular";
}
.wrapper--titleSubscriptionBanner,
.wrapper--paragraphSubscriptionBanner {
  width: 100% !important;
}
.paragraph--titleSubscriptionBanner,
.paragraph--paragraphSubscriptionBanner {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 0;
}
.paragraph--banner-desc-paragraph,
.paragraph--carousel-desc-paragraph-center,
.paragraph--banner-desc-paragraph-plus {
  color: #231f20;
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-family: "GothamProRRegular";
}
.paragraph--banner-desc-paragraph-plus {
  font-weight: 700;
}
.container--carousel-desc-paragraph-center,
.container--carousel-text-subscription-center {
  justify-content: center;
}
.container--link-text-subscription-center {
  justify-content: center;
}
.paragraph--link-text-subscription-center {
  font-family: "GothamProRRegular";
  font-size: 0.875rem;
  color: #edac09;
  text-decoration: underline;
  margin-top: 1.125rem;
}

.paragraph--carousel-desc-paragraph-center {
  margin: 1.188rem 0 0 0;
}
.paragraph--carousel-text-subscription-center {
  margin: 0.625rem 0 0 0;
}
.paragraph--FaqTitleSub {
  color: #231f20;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 400;
  font-family: "GothamProRRegular";
}
.paragraph--FaqDescSub {
  font-size: 0.75rem;
  line-height: 1rem;
  padding-right: 2rem;
}
.wrapper--FaqDescSub {
  max-height: 7rem;
  overflow-y: auto;
  scrollbar-color: #edac09 #f4f4f4;
  scrollbar-width: thin;
}
.wrapper--FaqDescSub::-webkit-scrollbar {
  width: 0.25rem;
}
.wrapper--FaqDescSub::-webkit-scrollbar-track {
  background-color: #f4f4f4;
  border-radius: 2px;
}
.wrapper--FaqDescSub::-webkit-scrollbar-thumb {
  background: #edac09;
  border-radius: 2px;
}
.container--FaqDescSub {
  padding: 1rem 0;
}

.container--plpSubBadges {
  display: flex;
  align-items: center;
  padding: 0 8px;
  font-size: 10px;
  /* font-family: "GothamProRRegular"; */
  font-weight: 400;
  line-height: 12px;
  color: white;
  min-width: max-content;
}
.paragraph--plpSubBadges {
  margin: 0;
}

.wrapper--subscriptionCurrency {
  font-family: "GothamProRRegular";
  font-size: 24px;
  margin-left: 10px;
  font-weight: 600;
}
.wrapper--leasingFourthColValue {
  font-size: 12px;
}
.wrapper--subscriptionCurrency :global(.vtex-rich-text-0-x-paragraph) {
  margin: 0;
}

/* .mario {
  padding: 4px 10px;
  font-size: 10px;
  font-family: "GothamProRRegular";
  font-weight: 400;
  line-height: 12px;
} */
.container--notificationButtonSubscribe {
  background-color: #ffffff;
  color: #000000;
  border: 2px solid #edac09;
  cursor: pointer;
  border-radius: 3px;
  font-size: 0.75rem;
  text-transform: capitalize;
  font-family: "GothamProRRegular";
  font-weight: bold;
  margin: 0.6rem 0;
  transition: all 0.2s ease;
}
.container--notificationButtonSubscribe:hover {
  color: #edac09;
  border: 2px solid #000000;
  transition: all 0.2s ease;
}
.container--pdpSubBadges {
  display: flex;
  align-items: center;
  padding: 0 8px;
  padding-right: 0;
  font-size: 14px;
  font-family: "GothamProRRegular";
  line-height: 16px;
  color: #231f20;
}
.container--pdpSubBadges2 {
  display: flex;
  align-items: center;
  padding-right: 0;
  font-size: 14px;
  font-family: "GothamProRRegular";
  line-height: 16px;
  color: #231f20;
}

.paragraph--pdpSubBadges,
.paragraph--pdpSubBadges2 {
  margin: 0;
  font-size: 0.8rem;
}

.paragraph--leasingFourthColValue {
  margin: 0 0 0 5px;
}

.paragraph--aeroflotText {
  font-size: 14px;
  font-family: "gothamproregular";
  line-height: 16px;
  color: #231f20;
}

.paragraph--serviceProgramsCardBottomDesc {
  font-size: 10px;
  margin: 5px 0px;
  position: relative;
}

.paragraph--serviceProgramsCardBottomDesc::before {
  content: "*";
  position: absolute;
  left: -7px;
  top: -7px;
  font-weight: normal;
  font-size: 14px;
}

.headingLevel2--seoTitle {
  font-family: "GothamProRRegular";
  font-weight: 700;
  line-height: 32px;
  font-size: 25px;
}

.wrapper--seoDescription {
  font-size: 14px;
}

.wrapper--seoTitle:empty {
  display: none !important;
}

.wrapper--seoDescription:empty {
  display: none !important;
}

.paragraph--seoDescription {
  max-width: 50vw !important;
  margin: 0;
  font-weight: 400;
  line-height: 20px;
}

.headingLevel1--userBonusTitle {
  font-family: "Gotham Pro";
  /* line-height: 12rem; */
  font-weight: bold;
  font-size: 10rem;
  line-height: 1;
  color: #fefefe;
  text-shadow: 2px 2px #3e3e3e;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}

.container--userBonusTitle {
  display: flex;
  justify-content: center;
}

.paragraph--bonusDescriptionText {
  color: #000;
}
.paragraph--userBonusDesc {
  font-family: "Gotham Pro";
  font-weight: 400;
  font-size: 1.5rem;
  color: #537bab;
  text-align: center;
}

.container--userBonusDesc {
  width: fit-content !important;
}

.headingLevel2--userBonusRegistrationTitle {
  font-family: "Gotham Pro";
  font-weight: bold;
  font-size: 4rem;
  color: #fefefe;
  text-shadow: 2px 2px #3e3e3e;
  margin: 4vh 0 0 0;
  text-transform: uppercase;
}

.container--userBonusRegistrationTitle {
  display: flex;
  justify-content: center;
}

.headingLevel1--departmentTitle {
  font-family: "Gotham Pro" !important;
  font-size: 35px !important;
}
.headingLevel2--FFSectionTitle {
  margin: 2rem 0;
}
.container--FFSectionDescription {
  margin-bottom: 2rem;
}
.paragraph--FFSectionDescription {
  line-height: 1;
  margin: 1rem 0;
}
.link--FFSectionDescription {
  color: #fdc100;
}
.link--FFSectionDescription:hover {
  text-decoration: underline;
}
.wrapper--cardButton {
  width: 100%;
}
.link--spaziature-impaginazione {
  color: #edb112;
}
.headingLevel3--TextSticky {
  font-weight: 600;
  font-size: 0.75rem;
  color: #505050;
  text-transform: uppercase;
  font-family: "gothamproregular";
  padding: 0.5rem;
}
.paragraph--cardButton {
  color: #aeaeae;
  height: 40px;
  font-weight: 700;
  padding: 10px;
  border: 0.0625rem solid #aeaeae;
  border-radius: 5px;
  transition: all 0.3s ease;
  font-size: 0.7rem !important;
}
.paragraph--cardButton:hover {
  transition: all 0.3s ease;
  color: #edb112;
  border: 0.0625rem solid #edb112;
}
.paragraph--colonnaSupportoCard {
  font-size: 0.875rem;
  font-family: "gothamproregular";
}
.link--colonnaSupportoCard {
  color: #edb112;
}
.container--colonnaSupportoCardPostilla {
  justify-content: center;
}
.paragraph--colonnaSupportoCardPostilla {
  margin: 0.4rem 0 0;
  font-size: 0.6rem !important;
  color: #505050;
  font-family: "gothamproregular";
}

@media only screen and (min-width: 641px) and (max-width: 1024px){
  .paragraph--TableBorder{
    font-size: 14px !important;
  }
  .container--Height2Row {
    height: 5.9rem;
  }
  .container--Height3Row{
    height: 9.5rem;
  }
  .container--Height4Row {
    height: 11.8rem;
  }
  .container--Height5Row{
    height: 15.3rem;
  }
  .container--Height6Row{
    height: 17.7rem;
  }
}

@media only screen and (max-width: 640px) {
  .headingLevel2--FFSectionTitle {
    font-size: 1.75rem;
  }
  .strong--TableBorder,
  .paragraph--YellowColor,
  .paragraph--LightYellowColor{
    font-size: 9px !important;
  }
  .container--TableBorder{
    padding: unset;
  }
  .paragraph--TableBorder{
    font-size: 9px !important;
  }
  .container--Height6Row{
    height: 16.3rem;
  }
  .container--Height5Row{
    height: 14.4rem;
  }
  .container--Height4Row{
    height: 10.9rem;
  }
  .container--Height3Row{
    height: 8.9rem;
  }
  .container--Height2Row{
    height: 5.5rem;
  }
  .container--disclaimerLoginVIP {
    width: 80%;
  }
  .wrapper--disclaimerLoginVIP {
    padding: 0 2rem;
  }
  .wrapper--textOverflow {
    overflow-wrap: anywhere;
  }
  .wrapper--tableOverflow {
    /* overflow-x: auto; */
    overflow-wrap: anywhere;
  }
  .tableTh--ContRich {
    width: 33.3%;
    line-height: 1.5rem;
  }
  .wrapper--colonnaSupportoCard {
    width: 100%;
  }
  .paragraph--supportTitle {
    flex-direction: row;
    align-items: flex-start;
    width: fit-content;
  }
  .link--supportLogoImg {
    width: 100px;
    margin: 8px 8px 0 0;
  }
  .paragraph--pricePostillaMobile {
    font-size: 0.65rem;
    margin: 0.5rem;
    color: #505050;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 85%;
  }
  .paragraph--NewHPPrice {
    font-size: 2rem;
  }
  .paragraph--titlePBannerPostillaNewHP,
  .headingLevel1--titlePBannerPostillaNewHP {
    font-family: "gothamproregular";
    font-weight: 400;
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .wrapper--buttonGoToCartModal {
    margin-top: 2.5rem;
  }
  .paragraph--titleSubscription {
    margin-top: 1rem;
  }
  .paragraph--card-text-subscription {
    font-size: 1rem;
  }
  .container--bonusDescriptionText {
    text-align: center;
  }
  .container--plpSubBadges {
    padding: 0px 2px 0px 1px;
    font-size: 9px;
  }
  .paragraph--aeroflotText {
    font-size: 10px;
  }
  .paragraph--seoDescription {
    max-width: unset !important;
  }
  .headingLevel1--userBonusTitle {
    text-align: center;
  }
  .headingLevel1--userBonusTitle {
    font-size: 3rem !important;
    line-height: 4rem !important;
    margin: 2vh 0;
  }
  .paragraph--userBonusDesc {
    font-size: 1rem;
  }
  .headingLevel2--userBonusRegistrationTitle {
    font-size: 1.5rem;
  }
  /* Template LP Brand */
  .paragraph--heroBannerTextTitle {
    font-size: 2rem;
  }
  .paragraph--heroBannerTextDescription {
    font-size: 1rem;
  }
  .headingLevel4--textBoxTitle {
    font-size: 1.3rem;
    margin-bottom: 0;
  }
  .paragraph--textBoxDescription {
    font-size: 0.875rem;
  }
  .paragraph--featureTitle {
    font-size: 0.8rem;
  }
  .paragraph--featureTitle::after {
    bottom: 0;
  }
  .headingLevel6--featureTitle {
    font-size: 1.3rem;
    margin-bottom: 0 !important;
  }
  .paragraph--featureText {
    font-size: 1rem;
  }
  .paragraph--tabComponentTitle {
    font-size: 2rem;
  }
  .headingLevel6--tabBannerTitleText {
    margin: 0;
  }
  .paragraph--tabBannerDescriptionText {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1100px) {
  .headingLevel1--userBonusTitle {
    font-size: 8rem;
    line-height: 8rem;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1023px) {
  .paragraph--blackFridayTitleMain1 {
    font-size: 3.5rem;
  }
  .paragraph--blackFridayTitleSmall {
    font-size: 0.8rem;
  }
  .paragraph--blackFridayTitleMain2 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 668px) {
  .paragraph--textHome {
    font-size: 30px !important;
    margin: 0;
  }
  .paragraph--pdpNsMobile {
    font-size: 1.7rem !important;
    margin: 0;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper--supportTitle {
    width: 100%;
    text-align: left;
    padding-left: 10%;
  }
  .headingLevel3--supportTitle {
    text-align: center;
  }
}
@media only screen and (max-width: 499px) {
  .heading--titleModalPDP {
    margin: 1rem;
    text-align: center;
    font-size: 1.3em;
  }
}
@media screen and (max-width: 450px) {
  .wrapper--fakeAddToCart {
    padding: 0.5rem 0.5rem;
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .link--bannerheader {
    font-size: 0.75rem;
  }
  .wrapper--bannerheader {
    padding: 0 0.5rem;
    font-size: 0.75rem;
  }
  .table--trattamento {
    background-color: white;
    display: flex;
    flex-direction: column;
  }

  .tableHead--trattamento {
    display: flex;
  }

  .tableHead--trattamento:global(.vtex-rich-text-0-x-tableTr) {
    display: flex !important;
  }

  .tableTh--trattamento {
    width: 33%;
  }

  .tableTh--trattamento:nth-child(even) {
    border-right: 0.1rem solid white;
    border-left: 0.1rem solid white;
  }

  .tableBody--trattamento {
    display: block;
    font-size: 6rem !important;
  }

  .tableBody--trattamento :global(.vtex-rich-text-0-x-tableTr) {
    width: 100%;
    display: flex;
    border: 1px solid white;
    /* font-size: 0.7rem; */
  }

  .tableBody--trattamento
    :global(.vtex-rich-text-0-x-tableTr)
    :global(.vtex-rich-text-0-x-tableTd) {
    width: 33.3%;
  }

  .tableBody--spaziature-impaginazione :global(.vtex-rich-text-0-x-tableTr) {
    font-size: 0.6rem;
  }
}
@media only screen and (max-width: 640px){
  .headingLevel2--titleModalPDP{
    font-weight: 800;
    font-size: 1.25rem;
    margin: 0;
  }
  :global(.vtex-product-summary-2-x-element--productSummaryShelfPlp) .paragraph--buttonGoToCartModal{
    padding: 7px 1.25rem;
  }
}
