.sliderLayoutContainer--salesforceMobile {
  margin: 1rem;
}
.sliderLayoutContainer--bannerHeaderContainer {
  width: 100%;
  max-width: none !important;
  background-color: #333;
  border-bottom: 0.01188rem solid #fff;
  height: 40px;
}
.sliderTrackContainer--bannerHeaderContainer {
  max-width: none !important;
  max-height: 100%;
}
.sliderTrack--bannerHeaderContainer {
  height: 40px;
}
.slide--bannerHeaderContainer {
  max-height: 100%;
}
.bannerHeaderContainer {
  width: 100%;
}
.slideChildrenContainer--bannerHeaderContainer {
  position: relative;
  background-color: #231f20;
}
/* .slideChildrenContainer--bannerHeaderContainer::after {
  position: absolute;
  content: "";
  width: 0.0625rem;
  background-color: white;
  right: 0;
  height: 50%;
} */

.sliderLayoutContainer {
  justify-content: center;
}
.sliderLayoutContainer--carouselSlider,
.sliderLayoutContainer--carouselStuck {
  background-color: #f9f9f9 !important;
  margin-bottom: 0;
}
.sliderLayoutContainer--carouselSlider {
  margin: 3rem 0 5rem 0;
}
.slide--carouselSlider:hover {
  box-shadow: none !important;
}
/* .sliderLayoutContainer--carousel {
  background-color: #F0F0F0;
} */

.sliderTrackContainer {
  max-width: 1520px;
}

.paginationDotsContainer {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.paginationDotsContainer--shelfBottom {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
}
.slide--shelf {
  margin-bottom: 25px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.sliderLayoutContainer--carouselHp {
  background-color: #fff;
  /* border-radius: 0.5rem; */
  height: 100%;
}
/* .slideChildrenContainer--carouselHp{
  border-radius: .5rem;
} */
.sliderLayoutContainer--carouselHp
  :global(.vtex-slider-layout-0-x-sliderTrackContainer--carouselHp) {
  height: 100%;
  /* border-radius: .5rem; */
}
.sliderLayoutContainer--carouselHp
  :global(.vtex-slider-layout-0-x-sliderTrack--carouselHp) {
  height: 100%;
}
.sliderLayoutContainer--carouselHp :global(.vtex-button) {
  background-color: black;
  border: none;
}
.sliderLayoutContainer--carouselHp .paginationDotsContainer {
  bottom: 0.5rem !important;
}
.sliderLayoutContainer--mainCarouselHP {
  padding: 0 !important;
}
.slide--galleryCarousel {
  border: none !important;
  box-shadow: none !important;
}
.sliderLeftArrow--galleryCarousel {
  width: 52px;
  height: 52px;
  background-color: rgba(249, 249, 249, 0.3) !important;
  border-radius: 50%;
  left: 4rem;
  transition: background-color 0.3s ease;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
.sliderLeftArrow--galleryCarousel:hover {
  background-color: rgba(249, 249, 249, 0.582) !important;
}
.sliderRightArrow--galleryCarousel {
  width: 52px;
  height: 52px;
  background-color: rgba(249, 249, 249, 0.3) !important;
  border-radius: 50%;
  right: 4rem;
  transition: background-color 0.3s ease;
  transition-property: background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
  transition-delay: 0s;
}
.sliderRightArrow--galleryCarousel:hover {
  background-color: rgba(249, 249, 249, 0.582) !important;
}
/* .sliderLayoutContainer--carouselHp .paginationDotsContainer--carouselHp .paginationDot{
  padding: 0!important;
  height: .2rem!important;
  width: 1rem!important;
  border-radius: 0;
}
.sliderLayoutContainer--carouselHp .paginationDotsContainer--carouselHp .paginationDot--isActive {
  background-color: black !important;
} */
.sliderLeftArrow--shelfBottom {
  transform: translate(55rem, -18.5rem);
}
.sliderLeftArrow--salesforceMobile {
  left: -0.5rem;
}
.sliderRightArrow--salesforceMobile {
  right: -0.5rem;
}
.paginationDotsContainer--salesforceMobile {
  display: none;
}

/* nuovo frecce in alto */
.sliderLeftArrow--shelfBottom {
  left: initial !important;
  top: -35px;
  right: 60px;
  transform: none;
}
.sliderRightArrow--shelfBottom {
  top: -35px;
  transform: none;
}

.caretIcon--catalogSlider {
  width: 20px;
  height: 20px;
}
.caretIcon--salesforceMobile {
  width: 20px;
  height: 20px;
}

.slide {
  margin: 0.2rem 0.2rem;
  /* border: 1px solid #ececec; */
  border: none;
  box-shadow: 0px 0px 15px transparent;
  transition: all 0.3s ease;
}
.slide:hover {
  /* box-shadow: 0px 0px 15px #dadada; */
  /* transition: all 0.3s ease; */
}
.sliderArrows--imageCarousel {
  background-color: #d8d8d8 !important;
  padding: 1rem;
  border-radius: 70%;
  opacity: 0.4;
}
.slide--shelf {
  box-shadow: none;
  overflow: hidden;
}

.slide--carouselHp {
  box-shadow: none;
  border: none;
  margin: 0;
}

.sliderLayoutContainer--shelf {
  background-color: #ffffff;
  margin-left: 1.5rem;
  margin-top: 1rem;
  overflow: hidden;
}
.sliderLayoutContainer--productDayShelf {
  padding: 0 !important;
  height: 100%;
  margin: 0;
  background: transparent;
}
.slide--productDayShelf {
  padding: 0 !important;
  border: none;
  box-shadow: none;
}
.slide--productDayShelf:hover {
  box-shadow: none;
}
.slide--dailyBannerSlider {
  margin: unset;
}
.sliderTrackContainer--productDayShelf {
  height: 100%;
}
.sliderArrows--productDayShelf {
  width: 30px;
  margin: 0.3rem 0;
}
.sliderLayoutContainer--carousel-categories {
  background: none;
  border: none;
}

.slide--shelf--firstVisible :global(.vtex-button) {
  border: none;
  color: #fff;
}

.slide--shelf--firstVisible :global(.vtex-button):hover {
  background-color: rgba(237, 177, 18, 0.8);
}

.slideChildrenContainer--carousel-categories {
  background-color: transparent;
}

.slide--shelfBottom {
  margin: 0.8rem;
}

.sliderLayoutContainer--shelfBottom {
  padding: 0 !important;
}
/* .paginationDotsContainer--shelf {
  bottom: 1.5rem !important;
} */
.paginationDotsContainer--shelf .paginationDot {
  padding: 0 !important;
  height: 0.3rem !important;
  width: 1rem !important;
  border-radius: 0;
}

.slide--shelfBottom :global(.vtex-button) {
  border-color: transparent;
}
.sliderLayoutContainer--carouselSubscription {
  background-color: #ffffff;
  min-height: 26rem;
  border: none;
}
.sliderTrackContainer--carouselSubscription,
.sliderTrack--carouselSubscription {
  height: 100% !important;
}
.slideChildrenContainer--carouselSubscription {
  background-color: #ffffff;
}
/*-------------------------- Banner Header ----------------*/
.sliderLayoutContainer--bannerHeaderContainer .slide {
  margin: 0px !important;
  border: none !important;
  background-color: white;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.sliderLayoutContainer--bannerHeaderContainer {
  background: #ffffff;
  border-bottom: solid 1px rgba(35, 31, 32, 0.05);
}

.slide--bannerHeaderContainer {
  max-height: 100%;
}
.bannerHeaderContainer {
  width: 100%;
}
.imageElement--mainCarouselHP {
  height: 100%;
  object-fit: cover;
}
.slide--carouselPlp,
.slide--carouselPlp:hover {
  box-shadow: none;
  border: none;
}
.imageElement--carouselPlp {
  max-height: 15rem !important;
}
.imageElement--dailyBannerSlider {
  min-height: 300px;
}
.sliderLayoutContainer--carouselPlp {
  padding: 0 1rem 0 5rem;
}

/* Template Landing Brand */
.slide--secondaryFeatureCarousel {
  border: none !important;
  box-shadow: none !important;
}
.slide--productsCarousel {
  margin: 0.8rem;
}
.sliderLayoutContainer--productsCarousel {
  padding: 0 !important;
}
.sliderTrackContainer--productsCarousel {
  width: 70% !important;
}
.slide--productsCarousel :global(.vtex-button) {
  width: 150px;
}
.sliderLeftArrow--productsCarousel {
  transform: translate(5rem, 0rem);
}
.sliderRightArrow--productsCarousel {
  transform: translate(-5rem, 0rem);
}
.paginationDotsContainer--productsCarousel {
  margin-bottom: -1rem !important;
}

/* HOMEPAGE TOP BANNER */
.infoCardContainer--imageCarousel {
  background: #f9f9f9;
  padding: 0;
}
.infoCardTextContainer--imageCarousel {
  max-height: 30rem;
  display: flex;
  justify-content: center;
  position: relative;
  padding: 2.125rem;
  height: 100%;
  width: 40%;
}
.headingLevel1--imageCarousel {
  font-family: myriadLight, Arial;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin: 0 0 1rem;
}
.paragraph--imageCarousel {
  font-family: gothamproregular, Arial;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
  margin-top: 0;
  margin-bottom: 1.875rem;
}
.infoCardImageContainer--imageCarousel {
  width: 60%;
}
.infoCardImage--imageCarousel {
  max-height: 30rem;
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.infoCardCallActionContainer--imageCarousel {
  margin-top: 0;
}
/* ------------------------------------------- */
@media only screen and (max-width: 640px) {
  .slide--shelf {
    padding: 0;
    margin: 0;
  }
  .paginationDotsContainer--salesforceMobile {
    display: none;
  }
  .slideChildrenContainer--bannerHeaderContainer::after {
    content: none;
  }
  .imageElementLink--mainCarouselHP {
    height: 100%;
  }
  .sliderLayoutContainer--shelf {
    margin-top: 0;
  }
  .sliderLayoutContainer--carouselHp {
    border: none !important;
  }

  .sliderLayoutContainer--carouselHp .paginationDotsContainer {
    bottom: -1.5rem !important;
  }

  .sliderLayoutContainer--shelf {
    border: none !important;
    padding: 0px !important;
    /* margin-left: 1.5rem; */
    /* overflow: hidden; */
  }

  .sliderTrackContainer--shelf::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
  }
  .sliderLayoutContainer--shelf {
    background-color: white;
  }

  .slideChildrenContainer--shelf {
    background-color: transparent;
  }
  .paginationDotsContainer--serviceSlider {
    top: 15.5rem !important;
    margin-bottom: 0 !important;
  }
  .sliderArrows--catalogSlider {
    top: -60px !important;
  }
  .paginationDotsContainer--catalogSlider {
    bottom: -2rem;
  }
  .sliderTrackContainer--dailyBannerSlider {
    margin-bottom: 1rem;
  }
  .paginationDotsContainer--dailyBannerSlider {
    bottom: -0.5rem !important;
  }
  .slide--dailyBannerSlider {
    margin: 0.2rem 0.2rem;
  }
  .imageElement--dailyBannerSlider {
    min-height: unset !important;
    border-radius: 0.25rem;
  }
}
.slideChildrenContainer--BottomSliderLavatrice {
  width: auto;
  max-width: 840px;
  margin: auto;
}
.sliderLayoutContainer--bottomSliderBlackfiber {
  background-color: #222325;
}

.slideChildrenContainer--technologiaSlider {
  width: 80%;
  max-width: 100%;
}
.sliderLayoutContainer--bottomSliderBlackfiber {
  height: 45rem;
}

.sliderLayoutContainer--removeTopPadding {
  padding-top: 0;
}

/*-------------------------- FINE Banner Header ----------------*/

@media only screen and (max-width: 1024px) {
  .slideChildrenContainer--mainCarouselHP {
    height: 20rem;
    max-width: 80%;
    margin: auto;
  }
  .slideChildrenContainer--productDayShelf {
    padding: 0.75rem;
  }
  .sliderLayoutContainer--carouselPlp {
    padding: 0 0.5rem;
  }
}
@media only screen and (max-width: 600px) {
  .sliderLayoutContainer--salesforceMobile {
    margin: 0 !important;
    /* margin-left: 0 !important; */
  }
  .imageElement--mainCarouselHP {
    max-height: unset;
    height: 100%;
  }
  .imageElementLink--mainCarouselHP {
    height: 100% !important;
  }
}
.imageElementLink--mainCarouselHP {
  width: 100%;
  height: 100%;
}
.sliderLayoutContainer--serviceSlider {
  /* max-width: 1180px; */
  margin-left: auto;
  margin-right: auto;
  /* box-shadow: 0px 0px 5px #dadada; */
}

.slideChildrenContainer--serviceSlider {
  height: 450px;
  margin: 0 50px;
}

.slide--serviceSlider--firstVisible {
  box-shadow: 0px 0px 0px #fefefe !important;
  border: none !important;
}

.sliderTrackContainer--wishlistSliderContainer {
  max-width: 70rem !important;
  margin: 1.5rem 0 0 0;
}

.paginationDot--wishlistSliderContainer {
  height: 0.5rem !important;
  width: 0.5rem !important;
}

.paginationDotsContainer--wishlistSliderContainer {
  top: 24rem;
}

.slide--wishlistSliderContainer {
  box-shadow: unset !important;
  border: none !important;
}

@media only screen and (max-width: 600px) {
  .slideChildrenContainer--serviceSlider {
    height: 245px;
    margin: 0 10px;
  }
  .sliderTrackContainer--wishlistSliderContainer {
    margin: unset !important;
  }
  .paginationDotsContainer--wishlistSliderContainer {
    top: 22.6rem;
  }
  .sliderLayoutContainer--wishlistSliderContainer {
    margin-bottom: 2.5rem;
  }
}
@media only screen and (max-width: 1100px) {
  .imageElementLink--mainCarouselHP {
    height: 90%;
  }
}
@media only screen and (min-width: 1200px) {
  .imageElementLink--mainCarouselHP {
    width: auto;
  }
}

.sliderLayoutContainer--white-bg-su {
  background-color: #ffffff !important;
  border: none;
  box-shadow: none;
}
.sliderTrack--white-bg-su .slide {
  box-shadow: none;
}
.slideChildrenContainer--white-bg-su {
  padding: 1rem 0;
  width: unset;
}

@media only screen and (max-width: 640px) {
  .sliderTrackContainer--productsCarousel {
    width: 100% !important;
  }
  .slideChildrenContainer--mainCarouselHP {
    max-width: unset;
    height: 15rem;
  }
  .imageElement--carouselPlp {
    max-height: 10rem !important;
  }
}
@media only screen and (max-width: 450px) {
  .sliderLeftArrow--shelfBottom {
    right: 35px;
  }
}
.slide--salesforceMobile {
  max-width: 336px !important;
}
