.heroBannerHomeTop {
  flex-grow: 1;
}

.full-screen-image {
  min-height: 500px;
  height: 100%;
  width: 100%;
}

.full-screen-image :global(.vtex-slider-layout-0-x-infoCardContainer) {
  height: 100%;
  background-size: contain !important;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom-style: none !important;
}