.summarySmallDisclaimer--totalizersContainer {
    font-size: 12px;
}
.summarySmallContent--totalizersContainer {
    font-size: 12px;
}
.summaryItemContainer--summaryTotalizersContainer {
    font-size: 12px;
}
.summarySmallDisclaimer--totalizersContainer {
    display: none
}