.dataEntryLabel {
  font-family: "GothamProRRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  color: #231f20;
}
.dataEntryChildren {
  font-family: "GothamProRRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  color: #231f20;
}

.menuLinks {
  font-family: "GothamProRRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  color: #231f20;
}
/* HIDE OOTB LOGOUT BUTTON */
.menuLinks :global(.vtex-my-account-1-x-menuLink) {
  display: none;
}
.passwordBox :global(.vtex-checkbox__label) {
  text-align: justify;
}
/*------------------------*/

.boxContainer {
  border: none;
}

.boxContainerBody {
  font-family: "GothamProRRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  color: #3f3f40;
}

.newsletterContainerTitle {
  font-family: "GothamProRRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  color: #3f3f40;
  text-align: justify;
  /* display: none; */
}

.newsletterContainerMessage {
  font-family: "GothamProRRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  color: #3f3f40;
  text-align: justify;
}

.passwordBox {
  font-family: "GothamProRRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  color: #3f3f40;
}
.genderSubContainer {
  display: none;
}
.addressList .stretchChildrenWidth {
  font-family: "GothamProRRegular";
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  color: #231f20;
}
.menuLinks div:nth-child(4) {
  display: none;
}
.menuLinks div:nth-child(5) {
  -webkit-box-ordinal-group: 3;
}
.menuLinks div:nth-child(6) {
  -webkit-box-ordinal-group: 4;
}
.menuLinks div:nth-child(7) {
  -webkit-box-ordinal-group: 1;
}
.menuLinks div:nth-child(8) {
  -webkit-box-ordinal-group: 2;
}

.userInfo {
  display: none;
}

/* :global(.vtex-address-form__postalCode) {
  display: none !important;
} */

:global(div.address-summary.address-summary-RUS span span.postalCode) {
  display: none;
}

/* :global(.vtex-account__page-body .no-underline)  */
/* :global(.vtex-address-form__country){
  display: none;
} */

:global(.vtex-address-form__complement) {
  display: none;
}

:global(.vtex-address-form__reference) {
  display: none;
}
/* .passwordBox {
    display: none;
}

.newsletterContainerMessage {
    display: none;
}

.newsletterContainerTitle {
    display: none;
}

.passwordBoxContainer {
    display: none;
} */

:global(.vtex-my-account-1-x-documentsSubContainer) {
  display: none;
}
:global(.vtex-profile-form-3-x-toggleBusinessButtonWrapper) {
  display: none;
}

:global(.vtex-pageHeader__container
    .vtex-pageHeader-link__container
    button.vtex-button:hover) {
  background-color: transparent;
}
