
.ordersList {
    border: none;
    background-color: #ffffff;
}

.orderCard {
    border: none;
    background-color: #ffffff;
}

.orderHeader {
    border: none;
    background-color: #ffffff;
}

.orderHeaderLabel {
    font-family: "GothamProRRegular";
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    color: #231F20;  
    text-transform: none;
}

.orderHeaderValue {
    font-family: "GothamProRRegular";
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    color: #231F20;  
}
.orderProductName {
    font-family: "GothamProRRegular";
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    color: #231F20;  
}

.orderProductShipping {
    font-family: "GothamProRRegular";
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    color: #231F20;  
}

.orderProductValue  {
    font-family: "GothamProRRegular";
    font-style: normal;
    font-weight: bold;
    font-size: 0.75rem;
    color: #231F20;  
}

.orderProductQuantity {
    font-family: "GothamProRRegular";
    font-style: normal;
    font-weight: bold;
    font-size: 0.75rem;
    color: #231F20;  
}

.orderId {
    font-family: "GothamProRRegular";
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    color: #231F20;  
}

.reorderBtn {
    display: none;
}

.detailsBtn {
    background: none;
    font-family: "GothamProRRegular";
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
}

.productTable {
    background: none;
    font-family: "GothamProRRegular";
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
}

.cancelBtn {
    display: none;
}