.minicartIconContainer--cartIcon {
  width: 25px;
}

.minicartCheckoutButton--checkoutBtnContainer :global(.vtex-button__label) {
  font-size: 12px;
}

.minicartProductListContainer--listItemContainer {
  font-size: 12px;
}

.openIconContainer--cartIcon {
  padding-right: 0 !important;
}
.opened--cartIcon{
  z-index: 10000;
}
