.badgeContainer {
  width: 66px;
  height: 36px;
  border-radius: 8px;
  margin-top: 32px;
  margin-left: 45px;
  background-color: #f7941f;
}

@media screen and (max-width: 1024px) {
  .badgeContainer {
    width: 46px;
    height: 24px;
    margin-top: 0;
    margin-left: 0;
  }
}

.badgeContainer--badge-product-new {}

.badgeContainer--isnew {}

.badgeContainer--badge-product-new--isnew {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* LABEL */

.badgeText {}

.badgeText--badge-product-new {}

.badgeText--new {
  font-family: "Roboto";
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .badgeText--new {
    font-size: 10px;
  }
}

.badgeText--badge-product--new {}

:global(.vtex-flex-layout-0-x-flexRow--negative-margin) {
  margin-top: -11px !important;
}

@media screen and (max-width: 1024px) {
  :global(.vtex-flex-layout-0-x-flexRow--negative-margin) {
    margin-top: -10px !important;
  }
}

/* :global(.vtex-product-summary-2-x-imageContainer--image-container-product-mobile) {
  height: 107px !important;
} */

:global(.vtex-flex-layout-0-x-flexColChild--button-discover-more-container-new-product) {
  margin: 16px 0 0;
}

:global(.vtex-product-specification-badges-0-x-groupContainer--badge-product-new) {
  margin: 11px auto 6px;
}