/*LEGAL ISSUES BREADCRUMB************************/

/*.container--breadcrumb-legal-issues-style {
  margin-left: 106px;
}*/

/*LEGAL ISSUES BREADCRUMB END************************/

.container {
  position: relative;
  padding-top: 31px;
  padding-bottom: 20px;
}

.homeLink::before {
  content: "Home";
  position: relative;
}

.homeLink:hover {
  font-family: Roboto !important;
}

.homeLink .homeIcon {
  display: none;
}

.link {
  font-family: "Roboto";
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-align: left;
  font-weight: 300;
  text-transform: capitalize;
}

.link--2 {
  pointer-events: none;
  user-select: none;
}

.container--breadcrumb-share-your-content-style .link--2 {
  pointer-events: all !important;
  user-select: all !important;
}

.link--breadcrumb-share-your-content-style .link--2 {
  font-family: Roboto !important;
}

.link--2:hover {
  pointer-events: none;
  user-select: none;
  font-family: Roboto !important;
}

.arrow--1 {
  display: none;
}

:global(.vtex-breadcrumb-1-x-arrow):last-child .link {
  font-weight: normal;
  font-family: "Roboto";
}

:global(.vtex-breadcrumb-1-x-term) {
  color: #42515A;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 22px;
  text-transform: capitalize;
  padding: 0 !important;
  pointer-events: none;
}

:global(.vtex-breadcrumb-1-x-arrow) {
  padding-left: 0;
  padding-right: 0;
  visibility: visible !important; /*modificato 04/08*/
}

.arrow {
  visibility: hidden;
}

.arrow--1, .arrow--2, .arrow--3 {
  visibility: visible;
}

:global(.vtex-breadcrumb-1-x-link) {
  font-weight: 300;
  font-family: Roboto;
}

@media only screen and (max-width: 1024px) {

  /*------------------------PDP STYLE--------------------------*/
  :global(.vtex-breadcrumb-1-x-homeLink--breadcrumb-pdp-mobile) {
    display: none;
  }

  :global(.vtex-breadcrumb-1-x-link--breadcrumb-pdp-mobile--3) {
    color: #42515A !important;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
  }

  :global(.vtex-breadcrumb-1-x-termArrow--breadcrumb-pdp-mobile) {
    display: none;
  }

  :global(.vtex-breadcrumb-1-x-term--breadcrumb-pdp-mobile) {
    display: none;
  }

  :global(.vtex-breadcrumb---breadcrumb-pdp-mobile--2) {
    display: none;
  }

  :global(.vtex-breadcrumb-1-x-arrow--breadcrumb-pdp-mobile--2) {
    display: none;
  }

  :global(.vtex-breadcrumb-1-x-container--breadcrumb-pdp-mobile) {
    padding-left: 23px !important;
    padding-top: 14px;
    padding-bottom: 0;
    margin-bottom: -38px;
  }

  :global(.vtex-breadcrumb-1-x-caretIcon--breadcrumb-pdp-mobile) {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  /*----------------------------PLP STYLE-----------------------------*/
  :global(.vtex-breadcrumb-1-x-homeLink) {
    display: none;
  }

  :global(.vtex-breadcrumb-1-x-link--breadcrumb-plp-mobile--2) {
    color: #42515A;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    pointer-events: unset;
  }

  :global(.vtex-breadcrumb-1-x-termArrow--breadcrumb-plp-mobile) {
    display: none;
  }

  :global(.vtex-breadcrumb-1-x-term--breadcrumb-plp-mobile) {
    display: none;
  }

  :global(.vtex-breadcrumb-1-x-link--breadcrumb-plp-mobile--3) {
    display: none;
  }

  :global(.vtex-breadcrumb-1-x-arrow--breadcrumb-plp-mobile--3) {
    display: none;
  }

  :global(.vtex-breadcrumb-1-x-container--breadcrumb-plp-mobile) {
    padding-left: 23px !important;
    padding-top: 14px;
    padding-bottom: 32px !important;
  }

  :global(.vtex-breadcrumb-1-x-caretIcon--breadcrumb-plp-mobile) {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }
}

:global(.vtex-breadcrumb-1-x-caretIcon) {
  margin-left: 3px !important;
  margin-right: 3.5px !important;
}

:global(.vtex-breadcrumb-1-x-link) {
  cursor: pointer;
  color: #42515A;
  font-family: "Roboto-Light";
}

.arrow {
  padding: 0;
}

/* NEW LANDING PAGES */

.container--breadcrumb-landing-template-desktop {
  width: 1228px;
  margin: 0 auto;
}

.container--breadcrumb-landing-template-mobile {
  margin: 0 0 0 20px;
  padding: 15px 0;
  position: absolute;
}

:global(.vtex-breadcrumb-1-x-container--breadcrumb-landing-template-mobile) .link--breadcrumb-landing-template-mobile {
  color: #ffffff;
  font-family: "Roboto-Light";
  font-size: 14px;
  line-height: 22px;
}

:global(.vtex-breadcrumb-1-x-container--breadcrumb-landing-template-mobile) .caretIcon--breadcrumb-landing-template-mobile {
  color: #ffffff;
}