/*-------------------DO IT TOGETHER IMAGE STYLE----------------------------*/

.imageElement--push-and-go-logo-style-mobile {
  width: 112px;
}

.imageElement--live-together-image-style {
  border-radius: 0 80px 80px 0;
  width: 52.78vw;
  max-height: 460px;
  object-fit: cover;
}

.imageElement--family-video-style {
  height: 76vh;
}

.imageElement--family-video-hidden-style {
  height: 76vh;
  position: relative;
  bottom: 93vh;
  /* left: 0px; */
  float: right;
  border-radius: 80px 0 0 80px;
}

/* Container Header */

.container {
  height: max-content;
  margin: 0 !important;
  max-width: 100% !important;
  padding: 0 !important;
}

/* Logo Indesit image container */

.logoContainer {
  padding: 0 !important;
  max-width: unset !important;
  display: flex;
  justify-content: center;
}

.logoImage--logo-style {
  margin: 22px 78px 0 0;
  max-width: 160px;
  cursor: pointer;
  width: 11vw;
  height: 56px;
}

@media screen and (max-width: 1024px) {
  .imageElement--menu-mobile {
    margin: 0;
  }
}

.suffixWrapper--header-search {
  align-content: center;
  height: auto;
  margin: 9px 7px;
}

.searchBarInnerContainer--header-search,
.autoCompleteOuterContainer--header-search {
  height: 100%;
  border: 0.5px solid #0090d0;
  border-radius: 10px;
  height: 28px;
}

.logoImage--logo-style-mobile {
  cursor: pointer;
  max-width: unset !important;
  width: 100px !important;
  height: 35px !important;
}

/* Image class lens of search */

/* TODO BUG ICONA */

.imageElement--search-image {
  width: 100%;
  margin-top: 58px;
  height: 18px !important;
  width: 18px !important;
  /* padding-left: 2.91vw; */
  /* padding-right: 30%;
  padding-left: 30%; */
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .imageElement--search-image {
    margin: 31px 0 32px;
  }

  .imageElement--search-image:hover {
    margin-top: 31px !important;
  }
}

.imageElement--search-image:hover {
  max-width: unset !important;
  width: 100%;
  margin-top: 58px;
  height: 18px !important;
  width: 18px !important;
  /* padding-right: 30%;
  padding-left: 30%; */
  cursor: pointer;
  content: url("assets/search_hover.svg");
}

.imageElement--search-image-mobile-style {
  max-width: unset !important;
  cursor: pointer;
}

.imageElement--menu-mobile {
  max-width: unset !important;
  cursor: pointer;
}

/* Container Footer */

.container--footer-container {
  height: 132px;
  margin: 0 !important;
  max-width: 100% !important;
  padding: 0 !important;
}

.notificationBarInner--covid-container {
  background-color: #0090d0;
  font-family: "Roboto";
  font-size: 14px;
  letter-spacing: 0.04em;
  color: #ffffff;
  min-height: unset;
}

/* Image class submenu */

.imageElement--image-card {
  width: 484px;
  height: 300px;
  margin-top: 8px;
  border-radius: 40px;
  box-shadow: 0px 10px 20px rgba(242, 242, 245, 0.3);
}
.imageElement--image-banner {
  content: url(assets/induk-free-ariel-07-23-mobile.png);
  width: 1230px;
  height: 605px;
  margin-top: 8px;
  border-radius: 40px;
  box-shadow: 0px 10px 20px rgba(242, 242, 245, 0.3);
}
.imageElement--image-banner-free-ariel{
  content: url(assets/induk-free-ariel-07-23-mobile.png);
  width: auto;
  height: auto;
  margin-top: 8px;
  border-radius: 40px;
  box-shadow: 0px 10px 20px rgba(242, 242, 245, 0.3);
}
/* PDP image share btn */

.imageElement--share-img {
  margin-right: 25px;
  margin-top: 24px;
}

/* PDP Product name */

:global(.vtex-store-components-3-x-productNameContainer) {
  margin: 12px 104px;
}

:global(.vtex-store-components-3-x-productBrand) {
  font-family: "Roboto-Light";
  font-weight: 500;
  font-size: 32px;
  color: #43525a;
}

/* PDP Product description */

/* TODO VTEX */

/*   .container--description{
    height: calc( 100% - 52px) !important;
} */

:global(.vtex-store-components-3-x-productDescriptionContainer) {
  margin: 0 104px;
}

:global(.vtex-store-components-3-x-productDescriptionTitle) {
  display: none;
}

/* :global(.vtex-store-components-3-x-container--description) {
  height: fit-content !important;
  padding-bottom: 25px !important;
} */

:global(.vtex-store-components-3-x-content) {
  font-family: "Roboto-Light";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #43525a;
}

@media screen and (max-width: 1024px) {
  :global(.vtex-store-components-3-x-content) {
    font-size: 14px;
    line-height: 22px;
  }
}

.productDescriptionText--description {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  line-height: unset !important;
  color: #43525a;
}

/* SHOW MORE BUTTON */

:global(.vtex-store-components-3-x-pointerEventsAuto) {
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

:global(.vtex-store-components-3-x-fadeBottom) {
  background-image: unset !important;
}

.showMoreButton--description {
  margin-top: 0 !important;
  margin-bottom: 9px !important;
  background: #f3fcff;
  box-shadow: 3px 3px 5px 18px #f3fcff;
  font-family: "Roboto";
  font-weight: bold;
  font-size: 14px;
  line-height: unset !important;
  letter-spacing: 0.04em;
  color: #0090d0;
  content: "read more";
  text-transform: lowercase;
  margin: 0 0 6px;
  padding: 0;
  width: 100%;
  text-align: start;
}

@media screen and (max-width: 1024px) {
  .showMoreButton--description {
    margin-bottom: 0 !important;
    padding-bottom: 5px;
  }
}

.imageElement--locator-icon-style {
  width: 16px;
  height: 18px !important;
  padding-top: 4px;
  margin: 15px 0 0 20px;
}

@media screen and (max-width: 1024px) {
  .imageElement--locator-icon-style {
    padding-top: 0;
    margin: 0;
  }
}

.imageElement--locator-icon-style:hover {
  max-width: 100% !important;
  width: 16px;
  height: 18px;
  padding-top: 4px;
  content: url("assets/store_hover.svg");
}

/* PDP */

@media (max-width: 1024px) {

  /* PDP Product name */
  :global(.vtex-store-components-3-x-productNameContainer) {
    margin: 8px 20px 10px;
  }

  /* PDP Product description */
  :global(.vtex-store-components-3-x-productDescriptionContainer) {
    margin: 0 20px;
  }

  :global(.vtex-store-components-3-x-productBrand) {
    font-family: "Roboto-Light";
    font-weight: 300;
    font-size: 24px;
    line-height: 32px;
    color: #43525a;
  }
}

/* CARD PLP DESKTOP*/

.imageElement--share-logo-desktop {
  height: 44px !important;
  width: 44px !important;
  max-height: unset !important;
}

/* CARD PLP MOBILE */

@media (max-width: 1024px) {
  .imageElement--share-logo-mobile {
    height: 44px !important;
    width: 44px !important;
    max-height: unset !important;
  }
}

/* ------------------ LANDING PAGE - INNEX WASHING MACHINE --------------------*/

.imageElement--push-n-go-top-image {
  margin-bottom: 50px;
}

.imageElement--technology-image-margin {
  /* margin-left:7vw; */
  margin-right: 20vw !important;
}

/*-------------- HOMEPAGE DO IT TOGETHER---------*/

.imageElement--push-and-go-logo-style {
  height: 16.75vh;
}

.imageElement--good-example-mobile {
  max-width: 335px;
}

.imageElement--time-together-mobile {
  max-width: 335px;
}

.imageElement--hob-cooking-mobile {
  max-width: 335px;
}

.imageElement--whole-family-mobile {
  max-width: 335px;
}

.imageElement--live-together-image-style-mobile {
  width: inherit;
}

@media (max-width: 1024px) and (min-width: 639px) {
  .imageElement--good-example-mobile {
    margin-top: -120px;
  }

  .imageElement--time-together-mobile {
    margin-top: -120px;
  }

  .imageElement--hob-cooking-mobile {
    margin-top: -150px;
  }

  .imageElement--whole-family-mobile {
    margin-top: -120px;
  }
}

.imageElement--image-do-it-together {
  margin: 12px 12px 0;
  border-radius: 28px;
  height: 100%;
  width: 100%;
  max-height: 348px;
  max-width: 579px;
  object-fit: cover;
}

/* Features pdp image  */

.imageElement--white-arrow-accordion-style {
  margin-bottom: 2px;
}

/*--------- HOME PAGE -------------*/

/* washing machines */

.imageElement--image-washing-home-mobile {
  margin: 21px 31px 20px 33px;
}

/* dryers */

.imageElement--image-dryers-home-mobile {
  margin: 21px 31px 20px 33px;
}

/* ovens */

.imageElement--image-ovens-home-mobile {
  margin: 21px 31px 20px 33px;
}

/* cookers */

.imageElement--image-cookers-home-mobile {
  margin: 21px 31px 20px 33px;
}

/* fridges */

.imageElement--image-fridges-home-mobile {
  margin: 21px 31px 20px 33px;
}

/* freezers */

.imageElement--image-freezers-home-mobile {
  margin: 21px 31px 20px 33px;
}

.imageElement--long-lasting-home-mobile {
  border-radius: 32px;
}

.imageElement--solution-home-mobile {
  border-radius: 32px;
}

.imageElement--simple-to-use-home-mobile {
  border-radius: 32px;
}

.imageElement--do-it-together-home-mobile {
  border-radius: 28px;
}

/* animated arrow */

@keyframes MoveUpDownArrow {

  0%,
  100% {
    top: 716px;
  }

  50% {
    top: 724px;
  }
}

.imageElement--animated-arrow-home-style {
  animation: MoveUpDownArrow 1.8s infinite;
  position: absolute;
  left: 79.133vw;
  /* 308px */
  width: max-content;
  margin-top: 39px;
}

@keyframes MoveUpDownLine {

  0%,
  100% {
    top: 684px;
    height: 40px;
  }

  50% {
    top: 710px;
    height: 23px;
  }
}

.imageElement--animated-line-home-style {
  transform: rotate(180deg);
  animation: MoveUpDownLine 1.8s infinite;
  position: absolute;
  left: 79.133vw;
  width: 16px;
  margin-top: 40px;
}

@media (max-width: 1024px) and (min-width: 639px) {
  @keyframes MoveUpDownArrow {

    0%,
    100% {
      top: 696px;
    }

    50% {
      top: 704px;
    }
  }

  @keyframes MoveUpDownLine {

    0%,
    100% {
      top: 665px;
      height: 40px;
    }

    50% {
      top: 689px;
      height: 23px;
    }
  }
}

@media (max-width: 320px) {
  @keyframes MoveUpDownArrow {

    0%,
    100% {
      top: 736px;
    }

    50% {
      top: 744px;
    }
  }

  @keyframes MoveUpDownLine {

    0%,
    100% {
      top: 705px;
      height: 40px;
    }

    50% {
      top: 729px;
      height: 23px;
    }
  }
}

/* ERROR 404 */

.imageElement--image404 {
  width: 100%;
  max-width: 556px;
  height: 100%;
}

.imageElement--image404-mobile {
  display: none;
}

@media (max-width: 1024px) {
  .imageElement--image404 {
    display: none;
  }

  .imageElement--image404-mobile {
    display: block;
  }
}

/*BANNER LANDING PAGE*/

/**/

.container {
  height: 100%;
}

.imageElement--imageBannerHobsStyle {
  width: 489px;
  height: 276px;
  border-radius: 32px;
  content: url(assets/hob_desktop.png);
  filter: brightness(0.8);
}

.imageElement--imageBannerHobs-sponsor-pdp {
  width: 489px;
  height: 276px;
  border-radius: 32px;
  filter: brightness(0.8);
}

.imageElement--imageBannerNELStyle {
  width: 489px;
  height: 276px;
  border-radius: 32px;
  content: url(assets/NEL_desktop.png);
  filter: brightness(0.8);
}

.imageElement--imageBannerWashingMachinesStyle {
  width: 489px;
  height: 276px;
  margin: 0 0 36px;
  border-radius: 32px;
  content: url(assets/washing_desktop.png);
  filter: brightness(0.8);
}

.imageElement--imageBannerWashingMachines-sponsor-pdp {
  width: 489px;
  height: 276px;
  margin: 0 0 36px;
  border-radius: 32px;
  filter: brightness(0.8);
}

.imageElement--imageBannerDryersStyle {
  width: 489px;
  height: 276px;
  border-radius: 32px;
  content: url(assets/dryer_desktop.png);
  filter: brightness(0.8);
}

.imageElement--imageBannerWasherDryersStyle {
  width: 489px;
  height: 276px;
  border-radius: 32px;
  content: url(assets/wash_dryer_desktop.png);
  filter: brightness(0.8);
}

.imageElement--imageBannerDishwashersStyle {
  width: 489px;
  height: 276px;
  border-radius: 32px;
  content: url(assets/dishwashing_desktop.png);
  filter: brightness(0.7);
}

.imageElement--imageBannerDishwashers-sponsor-pdp {
  width: 489px;
  height: 276px;
  border-radius: 32px;
  filter: brightness(0.7);
}

@media (max-width: 1024px) {
  .container {
    height: 100%;
  }

  .imageElement--imageBannerHobsStyle {
    max-width: 319px;
    max-height: 319px;
    height: 100%;
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    display: block;
    border-radius: 32px;
    content: url(assets/hob_mobile.jpg);
  }

  .imageElement--imageBannerHobs-sponsor-pdp {
    max-width: 319px;
    max-height: 319px;
    height: 100%;
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    display: block;
    border-radius: 32px;
  }

  .imageElement--imageBannerWashingMachinesStyle {
    max-width: 319px;
    max-height: 319px;
    height: 100%;
    width: 100%;
    display: block;
    margin: 0;
    border-radius: 32px;
    content: url(assets/washing_mobile.jpg);
  }

  .imageElement--imageBannerWashingMachines-sponsor-pdp {
    max-width: 319px;
    max-height: 319px;
    height: 100%;
    width: 100%;
    display: block;
    margin: 0;
    border-radius: 32px;
  }

  .imageElement--imageBannerDryersStyle {
    max-width: 319px;
    max-height: 319px;
    height: 100%;
    width: 100%;
    display: block;
    margin-top: 0px;
    margin-left: 0px;
    border-radius: 32px;
    content: url(assets/dryer_mobile.jpg);
  }

  .imageElement--imageBannerWasherDryersStyle {
    max-width: 319px;
    max-height: 319px;
    height: 100%;
    width: 100%;
    display: block;
    margin-top: 0px;
    margin-left: 0px;
    border-radius: 32px;
    content: url(assets/wash_dryer_mobile.jpg);
  }

  .imageElement--imageBannerDishwashersStyle {
    display: block;
    max-width: 319px;
    max-height: 319px;
    height: 100%;
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    border-radius: 32px;
    content: url(assets/dishwashing_mobile.png);
  }

  .imageElement--imageBannerDishwashers-sponsor-pdp {
    display: block;
    max-width: 319px;
    max-height: 319px;
    height: 100%;
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    border-radius: 32px;
  }

  .imageElement--imageBannerNELStyle {
    display: block;
    max-width: 319px;
    max-height: 319px;
    height: 100%;
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    border-radius: 28px;
    content: url(assets/NEL_mobile.jpg);
  }
}

/* -----------------LANDING TEMPLATE-------------- */

.imageElement--landing-template-intro-desktop {
  border-radius: 80px;
  margin-left: -66px;
  width: 100%;
}

.imageElement--image-text-image-landing-template-desktop,
.imageElement--image-bordered-text-image-landing-template-desktop {
  border-radius: 28px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.imageElement--tiny-image-bordered-text-image-landing-template-desktop {
  height: 64px;
  width: 64px;
  margin: 0 4px;
}

.imageElement--desing-award-image-landing-template-desktop {
  width: 155px;
  height: 155px;
  margin: 5px;
}

.imageElement--tiny-rounded-image-bordered-text-image-landing-template-desktop {
  height: 122px;
  width: 122px;
  margin: 69px 0 0 63px;
  border-radius: 61px;
}

.imageElement--large-image-landing-template-banner-desktop {
  border-radius: 80px;
}

/* -----------------LANDING TEMPLATE MOBILE---------------- */

.imageElement--image-text-image-landing-template-mobile {
  border-radius: 15px;
  width: 100%;
}

.imageElement--image-ecodesign-regulation-mobile {
  border-radius: 15px;
  width: 100%;
}

/* --------------NEL LANDING------------- */

.imageElement--image-ecodesign-regulation-desktop {
  border-radius: 20px;
  width: 100%;
  height: 582px;
  object-fit: cover;
}

@media screen and (max-width: 765px) {
  .imageElement--image-bordered-text-image-landing-template-mobile {
    border-radius: 16px;
    height: 319px;
  }

  .imageElement--tiny-rounded-image-bordered-text-image-landing-template-mobile {
    margin: 32px 0 0 12px;
    height: 122px;
    width: 122px;
    border-radius: 61px;
  }

  .imageElement--large-image-container-landing-template-banner-mobile {
    height: 263px;
    margin: 82px 0 0;
  }

  .imageElement--image-text-image-landing-template-mobile {
    height: 100%;
  }

  .imageElement--desing-award-image-landing-template-mobile {
    height: 70px;
    width: 70px;
  }

  .imageElement--tiny-image-bordered-text-image-landing-template-mobile {
    height: 60px;
    width: 60px;
  }
}
