.groupName {
  text-transform: uppercase;
  color: #505050;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
}
.specificationName {
  color: #505050;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  text-transform: lowercase;
}
.specificationValue {
  color: #505050;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 1.3125rem;
}
.specificationValue--codiceProdotto {
  padding: 0;
  color: #505050;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 1.2;
  padding-left: 1rem;
}
.specificationValue--codiceProdottoPDP {
  padding-left: 0;
  font-size: 0.875rem;
}
.specificationValue--noPaddingBottom {
  padding-bottom: 0 !important;
}
.specificationValue--number-spec {
  margin-left: 6px;
  font-family: "Roboto-medium";
  font-size: 16px;
  line-height: 32px !important;
}

/* PDP MEASURES */
.groupContainer--product-measure-spec-style {
  flex-direction: column;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
  .specificationValue--codiceProdottoPDP {
    padding-left: 0;
    font-size: 0.875rem;
  }
}

/* PDP MEASURE MOBILE */
@media (max-width: 1024px) {
  .specificationValue--number-spec {
    margin-left: 0px;
    font-family: "Roboto";
    font-size: 14px;
    line-height: unset !important;
  }

  .specificationValue--number-spec {
    margin-left: 5px;
    font-weight: 600;
  }
}

/* PDP MEASURE */
.specificationName--spec-item-style {
  font-family: "Roboto-Light";
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #43525a;
  text-transform: initial;
}

@media (max-width: 1024px) {
  .specificationName--spec-item-style {
    font-size: 14px;
    line-height: 22px;
  }
}
