:global(.vtex-search-2-x-imageContainer) {
  display: none !important;
  visibility: hidden;
}

:global(.vtex-search-2-x-image) {
  display: none !important;
  visibility: hidden;
}

:global(.vtex-search-2-x-priceContainer) {
  display: none !important;
  visibility: hidden;
}

:global(.vtex-search-2-x-productBrand) {
  font-family: "Roboto";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #f3fafd;
}

@media screen and (max-width: 1024px) {
  :global(.vtex-search-2-x-close-btn) {
    display: none;
  }
}

:global(.vtex-search-2-x-element):hover {
  background-color: unset !important;
}

.biggy-js-container--hidden :global(.vtex-search-2-x-history-and-top-wrapper) {
  display: none;
}

.itemListPrefix {
  color: #ffffff;
  display: none !important;
}

:global(.vtex-store-components-3-x-searchBarIcon--search) {
  content: url(assets/search.svg);
  padding: 0;
  height: 15px;
}

:global(.vtex-store-components-3-x-suffixWrapper--search-bar-container) {
  width: 44px;
  height: 44px;
}

@media screen and (max-width: 1024px) {
  :global(.vtex-store-components-3-x-searchBarIcon--search) {
    height: 17px;
  }
}

:global(.vtex-store-components-3-x-searchBarIcon--clear) {
  content: url(assets/search.svg);
  height: 15px;
}

.itemList--suggestion {
  order: 2;
  border-left: 1px solid #ffffff !important;
}

@media screen and (max-width: 1024px) {
  .itemList--suggestion {
    border-left: none !important;
    border-top: 1px solid #ffffff !important;
    margin: 0 20px;
  }
}

:global(.vtex-store-components-3-x-autoCompleteOuterContainer)
  :global(.vtex-styleguide-9-x-input) {
  color: #0090d0;
  font-family: "Roboto";
  order: 2;
  padding: 0 0 0 6px;
  margin-top: -2px;
}

.biggy-autocomplete::after {
  height: 5000px;
  width: 100%;
  position: absolute;
  background: #c7c7c7;
  content: "";
  z-index: 10;
  opacity: 0.7;
  /* bottom: -81px; */
  top: 100%;
  pointer-events: none;
}

:global(.vtex-input__suffix) {
  background: transparent;
  border-radius: 16px;
  width: 24px;
  height: 24px;
  padding: 0px !important;
  position: relative;
  order: 1;
}

:global(.vtex-styleguide-9-x-input)::placeholder {
  font-family: "Roboto-Light";
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #0090d0;
}

:global(.vtex-search-2-x-element) {
  padding: 0 20px !important;
  margin-bottom: 32px;
}

:global(.vtex-search-2-x-tileListTitle) {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0 20px !important;
  margin-top: 44px;
  margin-bottom: 24px;
  font-size: 12px;
}

:global(.vtex-search-2-x-tileListItem) {
  font-size: 16px;
  padding: 0 0 10px;
  margin: 0 0 -20px;
}

:global(.vtex-search-2-x-tileListItem):hover {
  opacity: 0.6;
}

@media (max-width: 1024px) {
  :global(.vtex-search-2-x-tileListTitle) {
    margin-top: 28px;
  }
}

:global(.vtex-search-2-x-information) {
  margin-left: 0px !important;
}
