.link--footer-item {
  padding-right: 30px;
  color: #0090d0;
  font-family: "Roboto-Medium";
  font-weight: 500 !important;
  font-size: 16px;
  letter-spacing: 0.04em;
  padding-right: 30px;
  line-height: 20px;
}

@media screen and (max-width: 1024px) {
  .link--footer-item {
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 700 !important;
    line-height: 35px;
    padding-right: 0;
  }
}

.childrenContainer--label-container-dit {
  /* 40px */
  margin-top: 40px;
  text-decoration: none !important;
}

.link--locator-icon-container {
  margin-top: 33px;
  max-width: unset !important;
}

/* .link--label-container-dit {
  margin-left: 3.8vw;
} */

.link--locator-icon-container {
  margin-left: 2vw;
}

.link--locator-icon-container-mobile {
  margin-top: 0;
  max-width: unset !important;
  width: auto;
  display: flex;
  justify-content: flex-end;
}

.imageElement--locator-icon-style {
  width: 16px;
}

[data-src*="store___e34174a5e3b7b6c6f33d27a3896c272f.svg"] {
  max-width: unset !important;
}

.link {
  text-decoration: none !important;
}

/* LINK DISCOVER MORE CARD HOME PAGE  */

.link--discover-more-link-home {
  margin-left: 32px;
}

.label--discover-more-link-home {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
  line-height: unset !important;
  letter-spacing: 0.04em;
  border: 1px solid;
  text-transform: uppercase;
  padding: 18px 40px;
  border-radius: 16px;
  background: #0090d0;
  color: #ffffff;
  display: unset;
  min-width: unset;
}

.label--discover-more-link-home:hover {
  background: #005c92;
}

.link--discover-more-link-home.link--button-NEL {
  margin-left: 0;
}

/* .link--discover-more-link-home::after {
  content: ":";
  display: inline-block;
  color: transparent;
  background: #0090d0;
  width: 10px;
  line-height: 32px;
  height: 32px;
  width: 32px;
  text-align: center;
  border-radius: 360px;
  margin: 0 0 0 0.556vw;
  background-image: url("assets/discover_more.svg");
  background-position: 8px center;
  background-repeat: no-repeat;
} */

/* .link--discover-more-link-home:hover::after {
  content: ":";
  display: inline-block;
  color: transparent;
  background: #005c92;
  width: 10px;
  line-height: 32px;
  height: 32px;
  width: 32px;
  text-align: center;
  border-radius: 360px;
  margin: 0 0 0 0.556vw;
  background-image: url("assets/discover_more.svg");
  background-position: 8px center;
  background-repeat: no-repeat;
} */

/* LINK HOME PAGE MOBILE */

.childrenContainer--link-home-page {
  display: flex;
  justify-content: center;
  height: 100%;
  min-height: 336px;
}

.link--discover-more-do-it-together-home-mobile {
  margin-left: 20px;
  margin-bottom: 35px;
}

.label--discover-more-do-it-together-home-mobile {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 16px;
  line-height: unset !important;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  padding: 18px 40px;
  border-radius: 16px;
  background: #0090d0;
  color: #ffffff;
  display: inline-block;
}

.label--discover-more-do-it-together-home-mobile :hover {
  color: #005c92;
}

.label--discover-more-do-it-together-home-mobile:active {
  background-color: #005c92;
}

@media screen and (max-width: 1024px) {
  .label--discover-more-link-home {
    display: inline-block;
    min-width: 90px;
  }
}

/* .link--discover-more-do-it-together-home-mobile:hover::after {
  content: ":";
  display: inline-block;
  color: transparent;
  background: #005c92;
  width: 10px;
  line-height: 32px;
  height: 32px;
  width: 32px;
  text-align: center;
  border-radius: 360px;
  margin: 0 0 0 0.556vw;
  background-image: url("assets/discover_more.svg");
  background-position: 8px center;
  background-repeat: no-repeat;
} */

/* LINK DISCOVER MORE CARDS */

.link--discover-more-link {
  margin-left: 339px;
  margin-top: -20px;
}

.label--discover-more-link {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 14px;
  line-height: unset !important;
  letter-spacing: 0.04em;
  color: #0090d0;
}

.label--discover-more-link:hover {
  font-family: "Roboto";
  font-weight: bold;
  font-size: 14px;
  line-height: unset !important;
  letter-spacing: 0.04em;
  color: #005c92;
}

.link--discover-more-link::after {
  content: ":" /* url('assets/discover_more_icon.svg') */;
  display: inline-block;
  color: transparent;
  background: #0090d0;
  width: 10px;
  line-height: 32px;
  height: 32px;
  width: 32px;
  text-align: center;
  border-radius: 360px;
  margin: 0 20px 0 12px;
  background-image: url("assets/discover_more.svg");
  background-position: 8px center;
  background-repeat: no-repeat;
}

.link--discover-more-link:hover::after {
  content: ":" /* url('assets/discover_more_icon.svg') */;
  display: inline-block;
  color: transparent;
  background: #005c92;
  width: 10px;
  line-height: 32px;
  height: 32px;
  width: 32px;
  text-align: center;
  border-radius: 360px;
  margin: 0 20px 0 12px;
  background-image: url("assets/discover_more.svg");
  background-position: 8px center;
  background-repeat: no-repeat;
}

/* PDP */

.childrenContainer--tabPDP {
  flex-direction: row;
  display: flex;
  margin-left: 104px;
  margin-top: 20px;
  /* width: 146px; */
  width: 149px;
  background: #ffffff;
  border: 1px solid #f0f0f5;
  border-radius: 16px;
  height: 44px;
}

.childrenContainer--tabPDP-discontinued {
  flex-direction: row;
  display: flex;
  /* margin-left: 104px; */
  margin-top: 20px;
  /* width: 146px; */
  width: 149px;
  background: #ffffff;
  border: 1px solid #f0f0f5;
  border-radius: 16px;
  height: 44px;
}

.childrenContainer--tabPDP:hover {
  flex-direction: row;
  display: flex;
  margin-left: 104px;
  margin-top: 20px;
  /* width: 146px; */
  width: 149px;
  background: #e5f6ff;
  border: 1px solid #e5f6ff;
  border-radius: 16px;
  height: 44px;
}

.childrenContainer--tabPDP-discontinued:hover {
  flex-direction: row;
  display: flex;
  /* margin-left: 104px; */
  margin-top: 20px;
  /* width: 146px; */
  width: 149px;
  background: #e5f6ff;
  border: 1px solid #e5f6ff;
  border-radius: 16px;
  height: 44px;
}

/* PLP MOBILE */

.childrenContainer--btnPlpEnergyClass {
  flex-direction: row;
  display: flex;
  margin-top: 16px;
  width: 145px;
  background: #ffffff;
  border: 1px solid #f0f0f5;
  border-radius: 16px;
  height: 44px;
}

.childrenContainer--btnPlpEnergyClass:hover {
  flex-direction: row;
  display: flex;
  margin-top: 16px;
  width: 145px;
  background: #e5f6ff;
  border: 1px solid #f0f0f5;
  border-radius: 16px;
  height: 44px;
}

@media (max-width: 1024px) {
  .childrenContainer--tabPDP {
    flex-direction: row !important;
    margin: 31px 0 0 20px;
    display: flex !important;
    max-width: 39.733vw !important;
    background: #ffffff;
    border: 1px solid #f0f0f5;
    border-radius: 16px !important;
    height: 44px !important;
  }

  .link--card-link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.04em;
    display: flex;
    align-self: flex-start;
    /* Blue Indesit */
    color: #0090d0;
  }
}

/* MEDIA QUERY PLP MOBILE */

@media (max-width: 1024px) {
  :global(.vtex-flex-layout-0-x-stretchChildrenWidth) .link--card-link {
    margin-top: 0px !important;
  }

  .link--btnPlpEnergyClass {
    display: flex;
    justify-content: center;
  }

  .childrenContainer--btnPlpEnergyClassMobile {
    flex-direction: row;
    display: flex;
    justify-content: center;
    width: 39.733vw;
    background: #ffffff;
    border: 1px solid #f0f0f5;
    border-radius: 16px;
    height: 44px;
  }
}

/* PLP DESKTOP*/

:global(.vtex-flex-layout-0-x-stretchChildrenWidth) .link--card-link {
  margin-top: 16px;
}
