.customAutocompleteHeader{
    position: relative;
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
.customAutocompleteHeader__spinner{
    height: 20px;
    margin-right: 10px;
    animation: rotation 1s infinite linear;
}
.customAutocompleteHeader__wrapper{
    display: flex;
    width: 100%;
    position: fixed;
    width: 100%;
    left: 0;
    top: 125px;
    /* padding: 20px 10px; */
    background: #fff;
    padding: 30px;
    /* height: 78px; */
    z-index: 999;
    box-shadow: 0 10px 7px -5px rgb(0 0 0 / 24%);
}
.customAutocompleteHeader__input{
    border: none;
    color: #495057;
    height: 30px;
    padding: .675rem 3rem;
    font-size: 1.5rem;
    z-index: 10;
    width: 100%;
    border-bottom: 1px solid #e2e2e2;
}
.customAutocompleteHeader__input:focus{
    box-shadow: none;
    outline: none;
}
.customAutocompleteHeader__search_btn{
    background-color: #deb01a;
    border-color: #deb01a;
    color: #f2f2f2;
    padding: .375rem 40px;
    height: 42px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 33px;
    margin-left: 20px;
}

.customAutocompleteHeader__search_btn:focus{
    box-shadow: 0 0 0 0.2rem rgba(194,155,28,.5)
}
.customAutocompleteHeader__search_btn:hover{
    background-color: #7a735c;;
    border-color: #b08c15;
}
.customAutocompleteHeader__results{
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 20;
    background-color: #fff;
    width: 100%;
    box-shadow: 0 10px 7px -5px rgb(0 0 0 / 24%);
    padding: 0 20px;
}
.customAutocompleteHeader__results_link{
    color: #495057;
    text-decoration: none;
    padding: 10px;
    height: 30px;
}
.customAutocompleteHeader__results_row{
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0.375rem .75rem;
}
.customAutocompleteHeader__results_row:hover{
    background-color: #e4e9eb;
    border: none;
}
.customAutocompleteHeader__results_row_image{
    height: 20px;
    margin-right: 2px;
}
.customAutocompleteHeader__search_icon{
    width: 24px;
    margin-top: 20px;
    margin-bottom: 23px;
}


.customAutocompleteHeader__search_icon_label{
    position: absolute;
    left: 33px;
    z-index: 999;
    bottom: 46px;
    height: 25px;
    width: 30px;
    cursor: pointer;
}
.customAutocompleteHeader__search_icon_label path{
    fill: #e2e2e2;
}
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

@media only screen and (max-width: 1100px)
{
    .customAutocompleteHeader {
        width: 30%;
        display: flex;
        justify-content: center;
    }
    
    .customAutocompleteHeader__wrapper {
        top: 380px;
    }
}
