.vtex-omnishipping-1-x-scheduledDeliveryList #scheduled-delivery-delivery {
  background-color: white; }

body.scheduled-delivery-delivery_toggle_hide
.vtex-omnishipping-1-x-scheduledDeliveryList
#scheduled-delivery-delivery {
  display: none; }

.vtex-omnishipping-1-x-scheduledDeliveryList
.vtex-omnishipping-1-x-scheduledDelivery {
  padding-left: 0;
  padding-right: 0; }

.vtex-omnishipping-1-x-scheduledDeliveryList
.vtex-omnishipping-1-x-scheduledDeliveryOptionsWrapper {
  display: none; }

.vtex-omnishipping-1-x-scheduledDeliveryList
#scheduled-delivery-delivery
svg.vtex-omnishipping-1-x-svg {
  fill: #edb112; }

.vtex-omnishipping-1-x-scheduledDeliveryList
#scheduled-delivery-delivery
svg.vtex-omnishipping-1-x-svg
path {
  fill: #edb112; }

.vtex-omnishipping-1-x-leanShippingText .shp-option-text-package {
  display: none; }

.vtex-omnishipping-1-x-summaryPackage .shp-summary-package-time {
  display: none; }

.vtex-omnishipping-1-x-scheduleActive {
  display: none !important; }

.vtex-omnishipping-1-x-shippingDataDev.fareyeError
.vtex-omnishipping-1-x-deliveryGroup {
  display: none; }
