/**
* AvailabilitySubscriber CSS Module
*/

.subscriberContainer {
}

.title {
}

.subscribeLabel {
}

.form {
}

.content {
}

.input {
}

.inputName {
}

.inputEmail {
}

.submit {
  width: 100%;
  margin: 1rem 0rem;
}
.submit button {
  width: 100%;
}
.loaderForm {
  border: 16px solid #f9f9f9;
  border-radius: 50%;
  border-top: 16px solid #fdc100;
  width: 80px;
  height: 80px;
  margin: auto;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
.submit button :global(.vtex-button__label) {
  padding: 1rem !important;
  font-family: "myriadSemibold";
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0;
}

.success {
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.error {
}
.link {
  color: #edb112;
  text-decoration: none;
}
.checkbox {
  width: auto !important;
  display: flex;
  flex-direction: row;
  margin-top: 1.5rem;
}
.checkbox :global(.vtex-checkbox__line-container) {
  width: auto;
  margin-right: 0.5rem;
}
.avvisamiBtn {
  width: 100%;
  background-color: aqua;
}
.inputError {
  color: #ff4c4c;
  font-family: "myriadLight";
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0;
  font-size: 0.875rem;
  line-height: 1.25;
  margin-top: 0.5rem;
}
.title {
  padding: 0 1.25rem;
  margin-top: 1.25rem;
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 1.175rem;
  line-height: 2.625rem;
  text-align: center;
  min-width: auto;
}
.subscribeLabel {
  line-height: 1.67;
  font-size: 1rem;
  padding-right: 4rem;
  font-weight: 300;
  color: #505050;
}
/* :global(.vtex-styleguide-9-x-rotate vtex__icon-spinner ){
    
  }
  vtex-button__spinner-container */

.submit button :global(.vtex__icon-spinner) {
  color: #f9f9f9;
  height: 25px;
  width: 25px;
}
@media only screen and (max-width: 600px) {
  .inputName {
    margin: 0.75rem 0rem 0.75rem 0rem;
  }
}
