.container {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  gap: 1rem;
  padding: 3.125rem 6.875rem;
  background: #f2f2f2;
}

.containerGrid {
  display: grid;
  grid-template-columns: 1fr repeat(1, minmax(280px, 1700px)) 1fr;
  width: 100%;
}

.containerGridInner {
  grid-column: 2;
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

@media screen and (max-width: 860px) {
  .containerGrid {
    margin: 2rem auto;
    width: calc(100% - 2rem);
    gap: 0;
  }

  .containerGridBig {
    margin: 2rem auto;
    width: calc(100% - 2rem);
    gap: 0;
  }
}

.containerGridBig {
  display: grid;
  grid-template-columns: 1fr repeat(1, minmax(480px, 1900px)) 1fr;
  width: 100%;
}

.containerGridInnerBig {
  grid-column: 2;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
  align-items: center;
}

.containerTop {
}
.recipeNumber,
.recipeNumberBottom {
  font-family: 'quicksandRegular', Arial;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  display: flex;
  justify-content: center;
}
.recipeNumber {
  text-transform: uppercase;
  color: #197c83;
}
.recipeNumberBottom {
  margin: auto;
  color: #637977;
}
.recipeNumberText {
  padding: 1.25rem 0;
}
.recipeNumberTextCompact {
  color: #edb112;
}
.recipeCard {
  width: 100%;
  max-width: 550px;
  text-decoration: none;
  padding-bottom: 1.875rem;
  justify-self: center;
}
.recipeCard a {
  text-decoration: none;
}

.recipeImageContainer {
  height: auto;
}
.recipeImage {
  object-fit: cover;
  height: 21.875rem;
  -webkit-transition: height 0.5s ease-in-out;
  transition: height 0.5s ease-in-out;
  width: 100%;
}
.recipeContent {
  padding: 1rem 1.25rem;
  display: flex;
  flex-direction: column;
  min-height: 31rem;
  justify-content: space-between;
}
.recipeContentContainer {
  display: flex;
  flex-direction: column;
}
.recipeContentType {
  text-transform: uppercase;
  font-family: 'quicksandMedium', Arial;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.125rem;
  color: #197c83;
  padding-bottom: 0.3125rem;
}
.recipeContentName {
  color: #197c83;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0.9375rem;
  word-break: break-word;
  word-wrap: break-word;
  font-family: 'quicksandRegular', Arial;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.1875rem;
  padding-right: 0.9375rem;
  text-decoration: none;
}
/* .recipeContentName:hover {
  color: #1fa2ac;
  transition: all 0.4s ease;
} */
.recipeContentName::after {
  width: 3.125rem;
  content: '';
  display: block;
  height: 0.1875rem;
  background: #197c83;
  margin-top: 0.625rem;
}
.recipeContentName:hover::after {
  background: #1fa2ac;
  transition: all 0.4s ease;
}
.recipeContentTime {
  font-family: 'quicksandBold', Arial;
  color: #607171;
  padding-bottom: 0.625rem;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.125rem;
  text-transform: uppercase;
}
.recipeContentDescription {
  font-family: 'quicksandLight', Arial;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #585858;
  margin-top: 0.625rem;
  padding-bottom: 1.25rem;
  margin-bottom: 1.25rem;
}
.buttonLink {
  background: 0 0;
  border: 0.0625rem solid #197c83;
  color: #197c83;
  transition: all 0.2s;
  text-decoration: none;
  max-width: 70%;
  text-align: center;
  padding: 0.7rem 2rem;
  width: fit-content;
  position: relative;
}
.buttonLink:hover {
  border: 0.0625rem solid transparent;
  transition: all 0.2s;
}
.buttonLink::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.0625rem;
  background-color: #197c83;
  z-index: 1;
  /* transition: all .4s; */
}
.buttonLink:hover::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.0625rem;
  background-color: #197c83;
  z-index: 1;
  transition: all 0.4s;
}
.buttonLinkText {
  font-size: 1.125rem;
  color: #197c83;
  font-family: 'quicksandRegular', Arial;
}
.buttonArrow {
  font-family: 'quicksandMedium', Arial;
}
/*--- Pagination ---*/
.paginationContainer {
  width: 100%;
}
.paginationUl {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}
.paginationLi {
  margin: 0 0.5rem;
  border: 0.0625rem solid #bbc9c9;
  width: 2.875rem;
  height: 2.875rem;
  transition: all 0.2s;
}
.paginationLiActive {
  border: 0.0625rem solid #197c83;
  transition: all 0.2s;
  width: 2.875rem;
  height: 2.875rem;
  margin: 0 0.5rem;
}
.paginationLiCompact {
  border: 0.0625rem solid #edb112;
}
.paginationLiActive > button {
  color: #197c83;
}

.paginationLiCompact.paginationLiActive > button {
  color: #edb112;
}

.paginationLi:hover {
  border: 0.0625rem solid #1fa2ac;
  transition: all 0.2s;
}

.paginationLiCompact:hover {
  border: 0.0625rem solid #edb112cc;
}

.paginationButton {
  all: unset;
  color: #585858;
  font-family: 'quicksandregular', Arial;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.25rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.2s;
}
.paginationButton:hover {
  color: #1fa2ac;
  transition: all 0.2s;
}
.paginationLiLast {
  margin: 0 0.5rem;
  background-color: #197c83;
  width: 2.875rem;
  height: 2.875rem;
  transition: all 0.2s;
}
.paginationLiLastCompact {
  background-color: #edb112;
}

.paginationButtonCompact:hover {
  color: #edb112;
}

.paginationButtonLast {
  all: unset;
  color: #fff;
  font-family: 'quicksandregular', Arial;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.25rem;
  width: 100%;
  height: 100%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  cursor: pointer;
  margin-top: 0.7rem;
}
/*--- Filters --*/
.filtersContainer {
  padding: 3.4375rem;
  background-color: #000;
}

.filtersContainerCompact {
  padding: 3.4375rem;
  background-color: #fff;
}

.filters {
  padding-bottom: 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 3.125rem;
}

.filtersCompact {
  padding-bottom: 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 3.125rem;
}

.categoryFiltersContainer {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.categoryDetailCompact {
  display: flex;
  flex-flow: row;
  cursor: pointer;
  margin-right: 1.5625rem;
}

.categoryName {
  color: #505050;
  font-family: 'myriadLight', Arial;
  font-weight: 400;
  font-size: 1.15rem;
}

.categoryDetailCompact svg {
  margin: auto 0.5rem;
  transition: all 0.3s ease-in-out;
  transform: rotate(0deg);
}

.categoryContainerCompact {
  display: flex;
  flex-flow: row;
  overflow: hidden;
}

.categoryOptions {
  opacity: 0;
  transition: all 0.7s ease-in-out;
  max-width: 31.25rem;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  pointer-events: none;
  margin: 0 auto;
}

.categoryFiltersText,
.categoryFiltersTextLight {
  color: #000000;
  font-family: 'myriadLight', Arial;
  font-weight: 400;
  font-size: 1.125rem;
  margin-right: 1.5625rem;
  line-height: 1.2;
}

.categoryFiltersTextLight {
  color: #505050;
  cursor: pointer;
  margin-right: 0.5rem;
}

.categoryRefreshButton {
  cursor: pointer;
  display: flex;
  margin-top: 0.2rem;
}

.categoryRefreshButton svg {
  transition: all 0.5s ease-in-out;
  transform: rotate(0deg);
  width: 0.8125rem;
  height: 0.8125rem;
}

.categoryRefreshButton:hover svg {
  transform: rotate(180deg);
}

.categoryContainerBigTitle {
  width: 100%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.categoryContainerBigTitle span {
  font-family: 'myriadLight', Arial;
  font-weight: 400;
  font-size: 2.125rem;
  color: #505050;
}

.categoryFilterCompact {
  color: #505050;
  font-family: 'myriadLight', Arial;
  font-weight: 400;
  font-size: 1.125rem;
  padding: 0.2rem 0;
  width: 33%;
  text-align: center;
  cursor: pointer;
  overflow-wrap: break-word;
}

.categoryFilterCompact:hover {
  color: #edb112;
}

.categoryFilterCompactSelected,
.categoryNameSelected {
  color: #edb112;
}

.categoryFilterCompactMini {
  width: auto;
  padding: 0.2rem 0.4rem;
}

.categoryOptions.categoryOptionsOpen {
  opacity: 1;
  padding: 2rem 0;
  pointer-events: all;
}

.categorySvgOpened {
  transform: rotate(90deg) !important;
}

.filtersDivider {
  margin: 0 0.9375rem;
  flex: 0 0 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  opacity: 0.5;
}
.filtersDivider > div {
  height: 12.5rem;
  width: 0.125rem;
  display: block;
  background: #bbc9c9;
}
.coursersFiltersContainer {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.imageFilter,
.imageFilterActive,
.imageFilterDisabled {
  display: flex;
  flex-direction: column;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin-bottom: 1.5625rem;
  cursor: pointer;
  align-items: center;
}
.imageFilterDisabled {
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}
.imageFilter:hover > svg,
.imageFilterActive > svg {
  fill: #197c83;
  transition: 0.2s all ease-in-out;
}
.imageFilter:hover > span,
.imageFilterActive > span {
  color: #197c83;
  transition: 0.2s all ease-in-out;
}
.FilterImage {
  fill: #fff;
  transition: 0.2s all ease-in-out;
  width: 5.3125rem;
  height: 5.3125rem;
}
.imageFilterText {
  font-family: 'quicksandregular', Arial;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #fff;
  transition: all 0.2s ease-in-out;
  text-align: center;
}
.filterCourses,
.filterCoursesActive {
  justify-content: center;
  border: 0.0625rem solid #fff;
  border-radius: 0.125rem;
  padding: 0.625rem 0;
  transition: all 0.2s ease;
  align-items: center;
  display: flex;
  width: 8.75rem;
  margin: 0.625rem 1.25rem 1.25rem;
  cursor: pointer;
}
.filterCourses:hover,
.filterCoursesActive {
  border: 0.0625rem solid #197c83;
  transition: all 0.2s ease;
}
.filterCourses:hover > span,
.filterCoursesActive > span {
  color: #197c83;
  transition: all 0.2s ease;
}
.filterCourserText {
  font-family: 'quicksandregular', Arial;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.2;
  color: #fff;
  transition: color 0.5s ease;
}
.filterDisabled {
  justify-content: center;
  border: 0.0625rem solid #bbc9c9;
  border-radius: 0.125rem;
  padding: 0.625rem 0;
  transition: all 0.2s ease;
  align-items: center;
  display: flex;
  width: 8.75rem;
  margin: 0.625rem 1.25rem 1.25rem;
  opacity: 0.5;
  cursor: default;
  pointer-events: none;
}
/*-- Loader --*/
.loaderForm {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #197c83;
  background: -moz-linear-gradient(
    left,
    #197c83 10%,
    rgba(237, 177, 18, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    #197c83 10%,
    rgba(237, 177, 18, 0) 42%
  );
  background: -o-linear-gradient(left, #197c83 10%, rgba(237, 177, 18, 0) 42%);
  background: -ms-linear-gradient(left, #197c83 10%, rgba(237, 177, 18, 0) 42%);
  background: linear-gradient(to right, #197c83 10%, rgba(237, 177, 18, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loaderForm:before {
  width: 50%;
  height: 50%;
  background: #197c83;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loaderForm:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.loaderFormCompact {
  background: #edb112;
  background: -moz-linear-gradient(
    left,
    #edb112 10%,
    rgba(237, 177, 18, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    #edb112 10%,
    rgba(237, 177, 18, 0) 42%
  );
  background: -o-linear-gradient(left, #edb112 10%, rgba(237, 177, 18, 0) 42%);
  background: -ms-linear-gradient(left, #edb112 10%, rgba(237, 177, 18, 0) 42%);
  background: linear-gradient(to right, #edb112 10%, rgba(237, 177, 18, 0) 42%);
}

.loaderFormCompact:before {
  background: #edb112;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*--- SINGLE RECIPE ---*/
.sectionsContainer {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  /* padding: 2.5rem 3rem 0 3rem; */
}
.sectionContainer {
  margin: 2.5rem 0;
  padding: 2.5rem 3rem 0 3rem;
}
.sectionContainerMainCompact {
  background: #ffffff;
}

.sectionContainerCompact {
  margin: 0;
  padding: 0;
  margin-bottom: 1.875rem;
  border: 1px solid #c8c8c8;
  width: 100%;
  box-sizing: border-box;
  background: #ffffff;
  display: flex;
  flex-flow: column;
}

.sectionContainerPreparationCompact {
  margin: 0;
  padding: 0;
  margin-bottom: 1.875rem;
  width: 100%;
  box-sizing: border-box;
  background: #ffffff;
  display: flex;
  flex-flow: column;
}

.sectionsGridCompact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 5.5rem;
  max-width: 75rem;
  margin: auto auto 4.375rem;
}

.breadcrumbContainer {
  padding: 1rem 0 1rem 3.125rem;
  max-width: 96rem;
  margin: auto;
  width: 100%;
}
.breadLink,
.breadLinkBold {
  font-size: 0.75rem;
  line-height: 22px;
  margin: auto;
  font-weight: 300;
  padding: 0 0.4rem;
  text-transform: uppercase;
  color: #505050;
  text-decoration: none;
  font-family: 'myriadRegular';
}
.breadLink:hover {
  color: #197c83;
}
.breadLinkCompact:hover {
  color: #edb112;
}

.breadLinkBold {
  font-family: 'myriadSemiBold';
}
.mainImage {
  width: 100%;
  max-height: 22.8125rem;
  object-fit: cover;
}
/*--- SLIDER ---*/
.carouselTopDiv {
  display: flex;
  padding: 2.5rem 3rem 0 3rem;
}
.carouselTopContainer {
  width: 50%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carouselTopContainer > div > div > div {
  transition: all 300ms linear 0ms;
}
.carouselTopImg {
  pointer-events: none;
}
.sideCarouselContainer {
  position: absolute;
  transform: rotate(90deg) translateY(50%);
}

.carouselTopImgActive {
  border: 2px solid #197c83;
}
.carouselTopImgSmall,
.carouselTopImgSmallActive {
  height: 100%;
  transform: rotate(-90deg);
  object-fit: cover;
}
.carouselTopImgSmallActive {
  border: 2px solid #197c83;
  box-sizing: border-box;
}
.carouselTopTextDiv {
  width: 50%;
  padding: 0 5rem;
}

.carouselTopTextCenter {
  max-width: 75rem;
  margin: auto auto 0;
  padding: 0;
}

.carouselTopTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.carouselTopTextContainerCenter {
  max-width: 56.25rem;
}

.carouselTopTextContainerCenter .carouselTopTextSubDesc {
  text-align: center;
  font-family: 'myriadLight';
}

.recipeSingleImage {
  width: 100%;
}

.carouselTopDivCompact {
  flex-flow: column;
  padding: 0;
}

.carouselTopTextName {
  font-family: 'quicksandregular', Arial;
  font-weight: 400;
  font-size: 2.1875rem;
  line-height: 2.375rem;
  color: #197c83;
  text-transform: uppercase;
  margin-bottom: 1.875rem;
}
.carouselTopTextName::after {
  width: 3.125rem;
  content: '';
  display: block;
  height: 0.125rem;
  background: #197c83;
  margin-top: 0.625rem;
}
.carouselTopTextDesc {
  font-family: 'quicksandmedium', Arial;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.125rem;
  color: #607171;
}
.carouselTopTextSubDesc {
  margin: 1.875rem 0;
  font-family: 'quicksandlight', Arial;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.4375rem;
  color: #585858;
  text-align: left;
}
.carouselTopTextTime,
.carouselTopTextPrep,
.carouselTopTextLevel {
  color: #637977;
  padding-top: 0.1875rem;
  font-family: 'quicksandregular', Arial;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.carouselTopTextTimeCompact {
  display: flex;
  flex-flow: column;
}

.carouselTopTextTimeCompact .carouselTopTextTimeName {
  color: black;
  font-family: 'myriadRegular';
}

.carouselTopTextTimeCompact .carouselTopTextTimeUnit {
  color: black;
  font-family: 'myriadLight';
}

.carouselIconTopCompact {
  margin-right: 1rem;
}

.carouselIconTopCompact .clockSvg {
  fill: #353535;
}

.clockSvg {
  height: 40px;
  width: 40px;
  margin-right: 0.5rem;
}
/*--- INGREDIENTS ---*/
.ingredientsTitle,
.relatedTitle {
  font-family: 'quicksandlight', Arial;
  font-weight: 400;
  font-size: 2.625rem;
  line-height: 2.9375rem;
  color: #197c83;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-end;
  position: relative;
  margin-bottom: 2rem;
}
.ingredientsTitle::after,
.relatedTitle::after {
  width: 3.125rem;
  content: '';
  display: block;
  height: 0.125rem;
  background: #197c83;
  position: absolute;
  bottom: -0.625rem;
}

.relatedTitleCompact::after {
  display: none;
}

.ingredientsTitleCompact,
.relatedTitleCompact {
  font-family: 'myriadRegular';
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 0.8;
  text-align: center;
  color: #505050;
  margin: 2.5rem auto;
  text-transform: none;
}

.ingredientsTitleCompact {
  margin-bottom: 1rem;
}

.ingredientsTitleCompact::after {
  display: none;
}

.ingredientsDiv,
.ingredientsDivPreparation {
  background: #fff;
  display: flex;
  justify-content: space-between;
}
.ingredientsDivPreparation {
  justify-content: flex-start;
}
.ingredientsSpecs,
.preparationSpecs {
  padding: 3% 6%;
}
.preparationSpecs {
  display: flex;
  align-items: center;
}

.preparationSpecsCompact {
  padding: 0;
}

.ingredientsSpecsTitle {
  font-family: 'quicksandlight', Arial;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.9375rem;
  color: #197c83;
  text-transform: uppercase;
  position: relative;
}
.ingredientsSpecsTitle::after {
  width: 3.125rem;
  content: '';
  display: block;
  height: 0.125rem;
  background: #197c83;
  position: absolute;
  bottom: -0.625rem;
  left: 0;
}
.ingredientsListDiv {
  display: block;
}
.ingredientsListUl {
  margin: 3rem 0 0 0;
  list-style: none;
}
.ingredientsListLi {
  font-family: 'quicksandregular', Arial;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 2.5rem;
  color: #585858;
}

.ingredientsListUlCompact {
  margin: 0;
  list-style: none;
  margin: 1rem 0;
}

.ingredientsListLiCompact {
  display: inline-flex;
  padding: 0.625rem;
  line-height: 1;
  width: 32%;
  color: #505050;
  font-family: 'myriadLight';
}

.ingredientsListLiCompact::before {
  display: none;
}

.ingredientsListLi::before {
  font-family: sans-serif;
  content: '•';
  padding-right: 1rem;
  color: #197c83;
}
.ingredientsImageDiv {
  position: relative;
  display: flex;
  align-items: center;
}
.ingredientsImageBG {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.3;
  height: 100%;
}
.ingredientsImage {
  max-width: 30rem;
  z-index: 2;
}
.preparationListSpan {
  font-family: 'quicksandbold', Arial;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.4375rem;
  color: #585858;
  margin-bottom: 1rem;
  display: flex;
  flex-flow: row;
}
.preparationListSpanIndicator {
  margin-right: 0.5rem;
}

.preparationListUl {
  margin: 0;
  list-style: none;
}
.preparationListLi {
  font-family: 'quicksandregular', Arial;
  font-weight: 400;
  font-size: 0.9375rem;
  color: #585858;
}
.preparationListDiv {
  margin: 0.5rem 0;
}
.preparationListUlCompact {
  display: flex;
  flex-flow: column;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

/*--- RELATED CAROUSEL ---*/
.relatedCarouselContainer {
  background-color: #f2f2f2;
}
.relatedCarouselContainerCompact {
  background: #f9f9f9;
}

.relatedTitle {
  justify-content: flex-start;
  padding-left: 3rem;
  padding-top: 2.5rem;
}
.relatedTitleCompact {
  font-size: 2.5rem;
  font-family: 'myriadLight';
  justify-content: center;
  padding-top: 4.5rem;
  margin-bottom: 0rem;
}

.relatedCarouselDiv {
  background-color: #000;
  padding: 5rem 0;
}
.relatedCarouselDivCompact {
  background: #f9f9f9;
}

.relatedImageDiv {
  max-width: 100%;
  max-height: 14rem;
}
.relatedImg {
  width: 100%;
  max-height: 12rem;
  object-fit: cover;
}
.relatedInfoDiv {
  padding: 1rem 1.25rem;
  width: 100%;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.relatedInfo {
  display: flex;
  flex-direction: column;
}
.relatedInfoType {
  text-transform: uppercase;
  font-family: 'quicksandmedium', Arial;
  font-weight: 400;
  font-size: 0.9375rem;
  line-height: 1.125rem;
  color: #197c83;
  padding-bottom: 0.3125rem;
}
.relatedInfoName {
  font-size: 1.875rem;
  color: #197c83;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0.9375rem;
  word-break: break-word;
  word-wrap: break-word;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.relatedInfoName:hover {
  color: #1fa2ac;
  transition: all 0.2s ease-in-out;
}
.relatedInfoName::after {
  width: 3.125rem;
  content: '';
  display: block;
  height: 0.1875rem;
  background: #197c83;
  margin-top: 0.625rem;
}
.relatedInfoTime {
  font-family: 'quicksandbold', Arial;
  color: #607171;
  padding-bottom: 0.625rem;
  font-size: 0.9375rem;
  text-transform: uppercase;
}
.relatedButton {
  background: 0 0;
  border: 0.0625rem solid #197c83;
  color: #197c83;
  transition: all 0.2s;
  text-decoration: none;
  text-align: center;
  padding: 0.7rem 2rem;
  width: fit-content;
  position: relative;
  cursor: pointer;
}
.relatedButton:hover {
  border: 0.0625rem solid transparent;
  transition: all 0.2s;
}
.relatedButton::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.0625rem;
  background-color: #197c83;
  z-index: 1;
}
.relatedButton:hover::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.0625rem;
  background-color: #197c83;
  z-index: 1;
  transition: all 0.4s;
}
.relatedButtonText {
  font-size: 1.125rem;
  color: #197c83;
  font-family: 'quicksandRegular', Arial;
}
.buttonLinkRelated {
  text-decoration: none;
}
.carouselDotsDiv {
  display: flex;
  justify-content: center;
}
.carouselMainImageContainer {
  background: white;
  width: 500px;
  height: 500px;
  border: 30px solid white;
  text-align: center;
  line-height: 240px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin: 0;
}
.recipeItemWrapper {
  height: 26.25rem;
  border-bottom: 0.1875rem solid #edb112;
  background-color: #fff;
  text-align: center;
  position: relative;
  margin: 0.5rem 0.5rem 1.5rem 0.5rem;
  overflow: hidden;
  width: 17rem;
}
.recipeItemWrapper:hover {
  /* max-width: 25%; */
}
.recipeItemWrapper:hover .recipeImageCard {
  height: 17.1875rem;
}
.recipeItemWrapper:hover .recipeSocial {
  display: flex;
  visibility: visible;
  opacity: 1;
}
.recipeItemInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0.625rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.recipeItemTitle {
  height: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
}
.recipeSocial {
  display: none;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s, opacity 0.5s ease-in-out;
  transition: visibility 0s, opacity 0.5s ease-in-out;
  padding: 1.25rem;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 0.5rem;
  z-index: 10;
}
.recipeSocialItem {
  width: 2.5rem;
}
.recipeList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 75rem;
  margin: 0 auto;
}
.recipeImageCard {
  object-fit: cover;
  transition: height 0.5s ease-in-out;
  height: 21.875rem;
  width: 100%;
}
.filtersContainerWp {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
}

.refreshFiltersCompact {
  display: flex;
  flex-flow: row;
}
/*--- Media Queries ---*/
@media only screen and (max-width: 640px) {
  .breadcrumbContainer {
    display: none;
  }
  .categoryContainerBigTitle {
    text-align: center;
  }
  .recipeItemWrapper {
    margin: 0 auto;
  }
  .categoryContainerCompact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .bannerImage .bannerTitle {
    font-size: 2rem !important;
    padding-bottom: 0.6rem !important;
  }
  .topIconsDiv {
    display: flex;
    flex-flow: column !important;
    gap: 0.5rem;
    padding: 1.5rem !important;
  }
  .socialIcons {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-inline-start: none;
    width: 100%;
    border-top: rgba(0, 0, 0, 0.288) 1px solid;
    padding-top: 1rem;
  }
  .ingredientsListUlCompact {
    display: flex;
    flex-flow: column;
    padding: 0;
  }
  .ingredientsListLiCompact {
    font-weight: 700;
    width: 100%;
  }
  .carouselTopDiv,
  .sectionContainerCompact,
  .sectionContainer {
    width: 100% !important;
  }
  .relatedCarouselDivCompact {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
  }
  .ingredientsDivPreparation,
  .ingredientsDiv {
    margin: 0 !important;
    width: 100% !important;
  }
  .filters {
    flex-direction: column;
  }
  .filtersContainer {
    padding: 0;
  }
  .filtersDivider > div {
    width: 12.5rem;
    height: 0.125rem;
    margin: 1rem 0;
  }
  .container {
    padding: 0;
  }
  .recipeCard {
    max-width: unset;
  }
  .sectionsContainer {
    padding: 2.5rem 1rem 0 1rem;
  }
  .carouselTopDiv {
    flex-direction: column;
  }
  .carouselTopContainer,
  .carouselTopTextDiv {
    width: 100%;
  }
  .carouselTopContainer {
    margin-bottom: 3rem;
  }
  .carouselTopTextDiv {
    padding: 0 3rem;
  }
  .sideCarouselContainer,
  .ingredientsImageDiv,
  .ingredientsImageDiv {
    display: none;
  }
  .carouselTopTextName,
  .ingredientsTitle,
  .relatedTitle {
    font-size: 1.875rem;
    font-family: 'quicksandRegular', Arial;
  }
  .ingredientsTitle {
    padding-right: 2.5rem;
  }
  .carouselTopTextDesc,
  .carouselTopTextSubDesc {
    font-size: 0.9375rem;
  }
  .preparationSpecs {
    padding: 1.125rem 2.5rem;
  }
  .preparationListUl {
    padding: 0;
  }
  .carouselMainImageContainer {
    width: 300px;
    height: 300px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  .carouselTopTextDiv {
    padding: 0 0 0 5rem;
  }
  .carouselMainImageContainer {
    width: 400px;
    height: 400px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .sideCarouselContainer {
    left: -15% !important;
  }
}
@media only screen and (min-width: 640px) and (max-width: 1200px) {
  .recipeCard {
    max-width: 48%;
  }
}

.topIconsDiv {
  display: flex;
  flex-flow: row;
  padding: 2.5rem 0;
  max-width: 75rem;
  margin: 0 auto;
}

.topIconsBanner {
  width: 100%;
  background: #f9f9f9;
}

.topIconsDiv .socialIcons {
  margin-inline-start: auto;
}

.topIconsDiv .socialIcons .socialIcon:last-child {
  margin-left: 0.5rem;
}

.bannerImage {
  position: relative;
}

.bannerImage .bannerTitle {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 1.8rem;
  z-index: 2;
  font-family: 'myriadRegular';
  font-weight: 400;
  font-size: 2.8125rem;
  color: white;
  text-align: center;
  background: linear-gradient(180deg, transparent 0, rgba(0, 0, 0, 0.5));
}

picture {
  display: flex;
}

@media screen and (max-width: 1255px) {
  .sectionContainer {
    width: calc(100vw - 9rem);
  }

  .sectionsContainer > .sectionContainer {
    margin: 0 auto;
  }

  .sectionsGridCompact {
    display: flex;
    flex-flow: column;
    padding: 0 1rem;
  }

  .topIconsDiv {
    padding: 2.5rem 1rem;
  }

  .carouselTopDiv {
    flex-direction: column;
    width: calc(100vw - 9rem);
    margin: 0 auto;
  }

  .carouselTopTextDiv {
    width: 100%;
  }

  .relatedCarouselDiv > div {
    width: calc(100vw - 9rem) !important;
  }

  .ingredientsDiv,
  .ingredientsDivPreparation {
    display: flex;
    flex-flow: column;
    margin: 0 auto;
  }

  .carouselTopContainer {
    width: 100%;
  }
}

@media screen and (max-width: 640px) {
  .sectionContainerMainCompact {
    padding: 0;
  }
}
