:global(.vtex-flex-layout-0-x-flexColChild--summary-left) .wrapper {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-right: unset;
  margin-bottom: 25px!important;
  background: white !important;
  padding: 0 0 1rem 1rem;
  border-radius: 6px;
  position: relative;
  padding: 1rem;
  padding-top: 0rem;
  left: 1rem;
  height: 13rem;
}

 :global(.vtex-flex-layout-0-x-flexColChild--summary-left) .title{
  font-size: 0.9rem;
  font-weight: 600;
}

:global(.vtex-flex-layout-0-x-flexColChild--summary-left) .features {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    width: 100%;
    padding-left: 20px;
    font-weight: 600;
}

:global(.vtex-slider-layout-0-x-slideChildrenContainer--shelf) .wrapper {
    background: white !important;
    margin-right: 4rem !important;
    margin-bottom: 0 !important;
    width: unset!important;
}



:global(.vtex-flex-layout-0-x-flexRowContent--secondaryMobile) .wrapper {
 background: white !important;
 width: 95% !important;
}

@media only screen and (min-width: 640px) {
    .feature {
        flex-basis: 45%;
    }
    .features {
        justify-content: space-between;
    }
}

@media only screen and (max-width: 640px) {
    .wrapper {
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 1550px) and (min-width: 1370px)  {
 :global(.vtex-flex-layout-0-x-flexColChild--summary-left) .feature{
  flex-basis: 50%;
  margin-bottom: 0px;
  margin-top: 8px;
  font-size: 0.75rem;
  position: relative;
}

 :global(.vtex-flex-layout-0-x-flexColChild--summary-left) .title{
  font-size: 0.8rem;
}

 :global(.vtex-flex-layout-0-x-flexColChild--summary-left) .wrapper{
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-right: 0rem !important;
  margin-bottom: 1rem;
  background: #F9F9F9;
  padding: 0 0 1rem 1rem;
  border-radius: 6px;
  position: relative;
  padding: 1rem;
  padding-top: 0rem;
  left: 1rem;
}
}


@media only screen and (max-width: 1370px) and (min-width: 1260px) {
     :global(.vtex-flex-layout-0-x-flexColChild--summary-left) .feature{
  flex-basis: 50%;
  margin-bottom: 0px;
  margin-top: 8px;
  font-size: 0.75rem;
  position: relative;
}

 :global(.vtex-flex-layout-0-x-flexColChild--summary-left) .title{
  font-size: 0.8rem;
}

 :global(.vtex-flex-layout-0-x-flexColChild--summary-left) .wrapper{
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-right: 0rem !important;
  margin-bottom: 1rem;
  background: #F9F9F9;
  padding: 0 0 1rem 1rem;
  border-radius: 6px;
  position: relative;
  padding: 1rem;
  padding-top: 0rem;
  left: 1rem;
}
}

@media only screen and (max-width: 1260px) and (min-width: 1190px) {
  :global(.vtex-flex-layout-0-x-flexColChild--summary-left) .feature{
  flex-basis: 50%;
  margin-bottom: 0px;
  margin-top: 8px;
  font-size: 0.75rem;
  position: relative;
}

 :global(.vtex-flex-layout-0-x-flexColChild--summary-left) .title{
  font-size: 0.8rem;
}

 :global(.vtex-flex-layout-0-x-flexColChild--summary-left) .wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 0rem !important;
  margin-bottom: 1rem;
  background: #F9F9F9;
  padding: 0 0 1rem 1rem;
  border-radius: 6px;
  position: relative;
  padding: 1rem;
  padding-top: 0rem;
  left: 1rem;
}
}

@media only screen and (max-width: 1190px) and (min-width: 1024px) {
 :global(.vtex-flex-layout-0-x-flexColChild--summary-left) .title{
  font-size: 0.7rem;
}

 :global(.vtex-flex-layout-0-x-flexColChild--summary-left) .wrapper{
  display: flex;
  flex-direction: column;
  width: 85%;
  margin-right: 0rem !important;
  margin-bottom: 1rem;
  background: #F9F9F9;
  padding: 0 0 0.5rem 0.5rem;
  border-radius: 6px;
  position: relative;
  padding: 0.5rem;
  padding-top: 0rem;
  left: 1rem;
}

}

