.serviceContainer {
    gap: 0.25rem;
}
.serviceIcon {
}
.serviceName {
    font-family: "myriadRegular", sans-serif;
    font-size: 0.875rem;
    line-height: 1.25rem;
    margin: 0.25rem 0;
}
.servicePrice {
    color: #edb112;
    font-size: 0.875rem;
    line-height: 1.25rem;
}
