.paragraph--banner1-t0 {
  font-family: Arial;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.625rem;
  margin-bottom: 1.875rem;
}
.paragraph--banner1-t1 {
  font-family: Arial;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1.2;
}
.paragraph--banner1-t2 {
  font-family: Arial;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.paragraph--banner1-t3 {
  font-family: Arial;
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 0.8125rem;
  color: #8d8d8d;
}
.container--dettagli {
  background-color: #f9f9f9;
  margin-top: 3.5rem;
}
.paragraph--dettagli {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 2.5rem;
  padding-bottom: 3.75rem;
  color: #505050;
  margin-top: 5.625rem;
  margin-bottom: 0;
  text-align: center;
}
.container--linkSchedeTab {
  width: fit-content;
  width: -moz-fit-content;
}
.wrapper--linkSchedeTab {
  margin-left: 0.625rem;
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375rem;
  color: #000;
}
.wrapper--linkSchedeTab:hover {
  color: #fdc100;
}
.wrapper--ServiziAggiuntiviLabel .paragraph {
  font-weight: 700;
  text-transform: uppercase;
  color: #505050;
  font-family: "myriadLight";
}
.wrapper--discontinued .paragraph {
  color: #c41a1a;
  font-family: "myriadSemibold", "Arial";
  font-weight: 400;
  font-size: 0.875rem;
  text-transform: uppercase;
}
.wrapper--ivaPDP {
  margin-bottom: 1rem;
}
.wrapper--ivaPDP .paragraph {
  font-size: 0.8rem;
  margin: 0;
}
.wrapper--percentageBanner {
  font-size: 1.5rem;
  padding: 0 1rem 0 0;
}
.wrapper--rich-text-specification {
  width: 100%;
  text-align: center;
  margin-bottom: -30px;
  margin-top: 7.5rem;
  font-size: 2.25rem;
}
.wrapper--rich-text-visualize {
  width: 35%;
  text-align: center;
  margin: auto;
}
.wrapper--cta-visualize {
  color: #2aabe2;
  font-size: 0.875rem;
  font-weight: 600;
  border: 2px solid;
  padding: 0 2rem;
  border-radius: 5px;
}
.paragraph--centerbannerpromo {
  padding: 0 !important;
}
.paragraph--showRatings {
  cursor: pointer;
  text-decoration: underline;
}
.link--showRatings {
  color: #505050 !important;
  text-decoration: none;
}
.container--3dDescText {
  justify-content: center;
}
.wrapper--3dDescText {
  text-align: center;
  padding: 0 7rem;
}
.paragraph--3dButton {
  color: #edb112;
  font-family: "myriadSemibold";
  text-transform: uppercase;
  padding: 0 0.2rem;
  margin: 0;
}
.paragraph--compareButton {
  margin: 0;
  margin-left: 0.8rem;
  color: #505050;
  text-decoration: underline;
}
.paragraph--fgasPdfText,
.headingLevel3--fgasPdfText {
  margin: 0;
}
.paragraph--euroCurrency {
  color: #505050;
  padding: 0;
  font-size: 1.85rem;
  font-family: "myriadRegular";
  line-height: 1.5;
  margin: 0rem 0.1rem;
}
.wrapper--euroCurrency {
  width: 20px;
  text-align: right;
}
.paragraph--fgas {
  text-align: justify;
}
.container--fgasPdfText {
  margin-left: -40px;
  margin-top: -4px;
}
.wrapper--fgasPdfText {
  margin: 0;
}
.paragraph--prezzoZeriCol {
  margin: 0;
  color: #505050;
  padding: 0;
  font-size: 1.85rem !important;
  font-family: "myriadRegular";
  line-height: 1.5;
}
.paragraph--asteriscoAfter {
  color: #505050;
  padding: 0;
  font-size: 1.85rem;
  font-family: "myriadRegular";
  line-height: 1.5;
  margin: 0;
}
.wrapper .link--headTabPP,
.wrapper .link--headTabPP:active,
.wrapper .link--headTabPP:focus {
  text-decoration: none;
  color: #edb112;
  outline: none;
  font-weight: 600;
}
.container--deals {
  color: #ffffff;
  text-align: center;
  justify-content: center;
}
.container--shelfTitle {
  color: #727273;
  justify-content: center;
  text-align: center;
}
.headingLevel2--shelfTitle {
  font-weight: 200;
}
.container--deals .paragraph {
  margin: 0;
}
.container--link {
  justify-content: center;
}
.container--question {
  justify-content: center;
}
.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  margin: 0 16px;
  padding-top: 120px;
  color: #03034e;
}
.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}
.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #03034e;
}
.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}
.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034e;
}
.container--title {
  color: #03034e;
  font-size: 28px;
  font-weight: 700;
}
/*-----------------Text Home------------------*/
.paragraph--textHome,
.paragraph--textVP {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 2.625rem;
  text-align: center;
  padding-bottom: 4.375rem;
}
.container--textVP {
  margin-bottom: 0;
}
.paragraph--textVP {
  padding-bottom: 0;
}
.paragraph--textHomePromo {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 2.125rem;
  line-height: 2.25rem;
  padding-bottom: 2.5rem;
  margin: 0;
}
/*----------------LINK CARD---------------*/
.paragraph--linkCardsTitle {
  font-family: "myriadRegular";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  color: #505050;
  text-transform: uppercase;
  margin: 0 0 0.9375rem;
  text-transform: uppercase;
}
.paragraph--linkCardsSubTitle {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #505050;
  margin: 0;
  min-height: 5rem;
}
.paragraph--premium {
  margin: 0;
  margin-right: 1.2rem;
  font-size: 0.75rem;
  position: relative;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: "myriadRegular";
}
.paragraph--premium::before {
  height: 1px;
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fdc100;
}
.wrapper--linkCardsButton .link {
  text-transform: inherit;
  text-decoration: none;
  color: inherit;
}
.paragraph--linkCardsButton {
  font-family: "myriadSemibold";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2;
  letter-spacing: -0.2px;
  width: 100%;
  text-transform: uppercase;
}
.container--iva {
  position: absolute;
  left: 0;
  bottom: 0;
  padding-left: 1rem;
}
.paragraph--iva {
  font-size: 0.65rem;
  margin: 0;
}
.container--linkCardsButton {
  background-color: transparent;
  border: 1px solid #aeaeae;
  border-radius: 0.3125rem;
  color: #aeaeae;
}
.container--linkCardsButton:hover {
  border: 1px solid #fdc100;
  color: #fdc100;
}
/*----------------------------------------*/
/*-----------MENU SUPP-----------------------*/
.wrapper--colonnaMenuSupporto .strong {
  font-family: "myriadSemibold";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 1rem;
}
.wrapper--colonnaMenuSupporto .paragraph {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2;
  margin-top: 0;
}
.paragraph--colonnaMenuSupporto {
  margin-block-end: 0;
}
.paragraph--remove-link-styles {
  text-decoration: none;
}
.paragraph--car-link-restore-styles {
  color: #505050;
}
.paragraph--custom {
  color: inherit;
}
.container--colonnaMenuSupporto {
  padding-left: 1.875rem;
}
.wrapper--colonnaMenuSupportoLast .strong {
  font-family: "myriadSemibold";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 1rem;
}
.wrapper--colonnaMenuSupportoLast .paragraph {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2;
  margin-top: 0;
}
.container--colonnaMenuSupportoLast {
  padding-left: 1rem;
}
.wrapper--colonnaMenuSupporto .strong {
  position: relative;
  display: inline-block;
  padding-bottom: 2px;
}
.wrapper--colonnaMenuSupporto .strong::before {
  content: "";
  width: 0;
  transition: width 0.7s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  height: 0.125rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fdc100;
}
.wrapper--colonnaMenuSupporto:hover .strong::before {
  width: 100%;
}
.wrapper--colonnaMenuSupportoLast .strong {
  position: relative;
  display: inline-block;
  padding-bottom: 2px;
}
.wrapper--colonnaMenuSupportoLast .strong::before {
  content: "";
  width: 0;
  transition: width 0.7s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  height: 0.125rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fdc100;
}
.wrapper--colonnaMenuSupportoLast:hover .strong::before {
  width: 100%;
}
.link--colonnaMenuSupporto,
.link--colonnaMenuSupportoLast {
  color: #505050;
  text-decoration: none;
}
/*------------------------------------------------*/
/*-------------PROMOTIONAL CARDS--------------*/
.wrapper--range {
  font-family: "myriadSemibold";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.625rem;
  margin-bottom: 1.875rem;
}
.wrapper--range .paragraph {
  margin: 0;
  padding-top: 1.5rem;
}
.wrapper--titleCard {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.wrapper--titleCard .paragraph {
  margin: 0;
}
.wrapper--WhithoutRange .paragraph {
  margin-top: 4rem;
}
.wrapper--subtitleCard {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
}
.wrapper--subtitleCard .paragraph {
  margin-bottom: 2.5rem;
}
.wrapper--postilla {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 0.8125rem;
  color: #8d8d8d;
}
/*------------------------------------------------*/
/*---------------FOOTER-------------*/
.wrapper--textFooter {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #505050;
}
.container--textFooter {
  padding: 2.1875rem 2.1875rem 2.1875rem 0;
}
/*-----------------------------------*/
.wrapper--margin {
  margin: 2rem auto 0;
}
/*---------------------------------*/
.paragraph--notFound {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 2.625rem;
}
.link--buttonCard {
  text-decoration: none;
  color: #ffffff;
}
.wrapper--linkNotFound {
  padding: 0.2rem 1.25rem;
}
.container--center {
  width: auto !important;
  margin: 0 auto;
}
.wrapper--centerbannerpromo,
.wrapper--centerbannerpromoWarranty {
  width: auto;
  margin: auto auto;
  flex: unset !important;
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.375rem;
}
.wrapper--promoText {
  margin: auto;
  display: flex;
  background-color: #fdc100;
}
.wrapper--promoText .paragraph {
  margin: 0;
  background-color: #fdc100;
  color: #fff;
  text-transform: uppercase;
  font-family: "myriadBold";
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.375rem;
  padding: 0.3125rem 0.9375rem;
}
.wrapper--textBannerWithImage {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.wrapper--firstAccessori {
  margin-top: 7.5rem;
}
.wrapper--firstAccessori .headingLevel1 {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 2.125rem;
  line-height: 2.25rem;
}
.wrapper--firstAccessori .headingLevel5 {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #505050;
  margin: 0;
}
/*-------------Banner Header------------*/
.wrapper--bannerheader {
  font-family: "myriadRegular";
  font-size: 0.85rem;
  line-height: 1rem;
  color: #4b4b4b;
  letter-spacing: 1px;
}
.link--bannerheader {
  font-family: "myriadRegular";
  font-size: 0.85rem;
  line-height: 1rem;
  color: #4b4b4b;
  letter-spacing: 1px;
  text-decoration: none;
}
/*---------Ricambi Originali-*/
.wrapper--cardRicambiOriginali {
  color: #505050;
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1;
  padding: 3.75rem 0;
}
.wrapper--textRicambiOriginali {
  /*padding-bottom: 1.5625rem;*/
  color: #505050;
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 2.125rem;
  line-height: 2.625rem;
  text-align: center;
  margin-top: 5.625rem;
  margin-bottom: 1.5rem;
}
.wrapper--textRicambiOriginali .paragraph--textRicambiOriginali {
  margin: 0;
}
.wrapper--vantaggiRicambiOriginali .headingLevel4 {
  font-family: "myriadRegular";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  color: #505050;
  text-transform: uppercase;
  margin: 0 0 0.9375rem 0;
}
.wrapper--vantaggiRicambiOriginali .headingLevel5 {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #505050;
}
.wrapper--ricambiOriginaliButton .paragraph {
  font-family: "myriadSemibold";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2;
  letter-spacing: -0.2px;
  padding: 0 1.25rem;
}
:global(.vtex-rich-text-0-x-container--ricessiButton) {
  padding: 1rem 0;
}
.wrapper--promoBannerProductTitle {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1.2;
}
.wrapper--promoBannerProductTitle .paragraph {
  margin-top: 0;
  margin-bottom: 1.25rem;
}
.container--promoBannerProductTitleSmall {
  height: 100%;
  position: relative;
}
.wrapper--promoBannerProductTitleSmall {
  position: absolute;
  bottom: 0;
  font-family: "myriadSemibold";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.625rem;
  margin-bottom: 1.875rem;
}
.wrapper--promoBannerProductTitleSmall .paragraph {
  margin: 0;
}
.wrapper--promoBannerProductsubtitleCard {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
}
.wrapper--promoBannerProductsubtitleCard .paragraph {
  margin: 0;
  margin-bottom: 2.5rem;
}
.wrapper--promoBannerProductPostilla {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 0.8125rem;
  color: #8d8d8d;
}
.wrapper--promoBannerProductPostilla .paragraph {
  margin: 0;
}
/*-------------------------- Banner Header ----------------*/
.wrapper--bannerheader {
  padding: 0 0.75rem;
}
.wrapper--cover .headingLevel3 {
  color: #ffffff;
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 2.375rem;
  line-height: 1.2;
  text-transform: uppercase;
}
.wrapper--cover .headingLevel5 {
  color: #fff;
  border: 0.0625rem solid #fff;
  font-family: "myriadSemibold";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2;
  letter-spacing: -0.2px;
  padding: 0.75rem 1.25rem;
  text-transform: uppercase;
  border-radius: 0.3125rem;
  width: 50%;
  margin: auto;
  cursor: pointer;
}
.container--pianiProtezione {
  margin-top: 7.5rem;
  background-color: #f9f9f9;
}
.wrapper--pianiProtezione {
  margin: 0;
  padding-top: 7.5rem;
}
.wrapper--pianiProtezione .headingLevel1 {
  margin-top: 0;
}
.wrapper--pianiProtezione .headingLevel5 {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
}
.wrapper--headTabPP .headingLevel2 {
  margin-top: 0;
  margin-bottom: 1.875rem;
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1.5625rem;
  line-height: 1.9375rem;
}
.wrapper--headTabPP .headingLevel5 {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}
.wrapper--noLinkEffect .link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
.container--titleSearchPage {
  display: flex;
  justify-content: center;
}
.wrapper--titleSearchPage {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 2.125rem;
  line-height: 2.25rem;
  color: #505050;
}
.headingLevel1--titleSearchPage {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 2.125rem;
  line-height: 2.25rem;
  color: #505050;
  margin: 2.5rem 0;
}
.wrapper--textQrModal .headingLevel4 {
  margin-top: 0;
  font-family: "myriadSemibold";
  font-size: 0.8rem;
}
.wrapper--textQrModal .headingLevel5 {
  font-size: 0.8rem;
}
.wrapper--query {
  padding-right: 0.7rem;
}
.wrapper--query .paragraph {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 2.125rem;
  line-height: 2.25rem;
  color: #505050;
}
.wrapper--query .paragraph {
  margin: unset;
}
.paragraph--cotturaTtile {
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 2.125rem;
  line-height: 2.25rem;
  color: #505050;
  margin-bottom: 2.5rem;
}
/*
.container--technologiaHeader1{
  height: auto;
  background-color: #fdc100;
} */
.paragraph--technologiaHeader0 {
  display: inline-block;
  font-family: "myriadRegular", Arial;
  font-weight: 400;
  font-size: 1.1875rem;
  line-height: 1.75rem;
  text-transform: uppercase;
  color: #505050;
  position: relative;
  border-bottom: #fdc100 2px solid;
}
.paragraph--technologiaHeader1 {
  display: inline-block;
  font-family: "myriadRegular", Arial;
  font-weight: 400;
  font-size: 1.1875rem;
  line-height: 1.75rem;
  color: #505050;
  position: relative;
}
.container--blackFiberHeader {
  color: #ffffff;
}
.paragraph--black {
  margin-bottom: 0;
}
.paragraph--black-2 {
  margin-top: 0;
}
/* .paragraph--black-vita{
  font-size: Zrem;
} */
.paragraph--w9 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}
.wrapper--w9 {
  border-bottom: #fdc100 0.1875rem solid;
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1.875rem;
  margin: 2rem 0;
}
.wrapper--w99 {
  font-weight: bold;
}
/* Condizioni di utilizzo / Termini e condizioni */
.container--formText,
.container--spaziature-impaginazione,
.wrapper--SostituzioneProdottoDanneggiatoText,
.wrapper--dirittoRecesso,
.flexRowContent--container,
.wrapper--formMail {
  max-width: 56.25rem;
  margin: 0 auto;
  text-align: justify;
}
.headingLevel4--SostituzioneProdottoDanneggiatoText,
.headingLevel4--dirittoRecesso,
.headingLevel4--spaziature-impaginazione {
  text-align: left;
}
.container--spaziature-impaginazione {
  padding: 0 2vw;
}
.headingLevel2 {
  margin-top: 0 !important;
  color: #000000;
  font-family: "myriadLight", Arial;
  text-align: left;
}
.wrapper--removeTopMargin {
  margin-top: 0;
}
.wrapper--reduceWidthMobile {
  margin-left: 3rem;
  margin-right: 3rem;
}
.link--paragraph-text-page {
  color: #fdc100;
  text-decoration: none;
}
/* .wrapper--paragraph-text-page :not(.lh-copy){
  color: #fdc100;
  text-decoration: none;
} */
.paragraph--m-stripe__text {
  font-family: "myriadRegular", "Arial";
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  padding-right: 1.25rem;
  color: #505050;
}
.container--m-stripe__text {
  background-color: #f2f2f2;
}
.label--m-stripe__link {
  background-color: #03054e;
  padding-top: 20px;
}
.wrapper--colonnaSupportoCard .headingLevel3 {
  font-family: "myriadRegular", Arial;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  color: #505050;
  text-transform: uppercase;
  /* margin: 6.25rem auto auto auto; */
  min-height: 2.1875rem;
  min-width: 7rem;
}
.wrapper--colonnaSupportoCard .headingLevel2 {
  text-align: center;
}
.wrapper--colonnaSupportoCard {
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.375rem;
  width: 100%;
}
.paragraph--cardButton {
  /* background-color: #fdc100; */
  width: 6rem;
  /* border-radius: 1px solid black; */
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid black;
}
.paragraph--cardButton:hover {
  color: #fdc100;
  border: 1px solid #fdc100;
}
.wrapper--cardButton {
  margin-top: 10%;
}
.paragraph--colonnaSupportoCard {
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.375rem;
  color: #505050;
  font: inherit;
  width: 90%;
  margin: auto;
}
.container--rowImageDescPPText {
  width: 90%;
  margin-left: 1rem;
}
.container--rowImageDescPPImage {
  width: 90%;
  margin-left: 1rem;
}
.wrapper--richTextCollaboriamo {
  width: 50%;
  margin: auto;
}
.link--formMail {
  text-decoration: none;
  pointer-events: none;
  color: #505050;
}
.link--formText {
  text-decoration: none;
  color: #fdc100;
}
.headingLevel1--formText {
  font-family: "myriadLight";
}
.paragraph--cardButton {
  color: #aeaeae;
  height: 40px;
  font-weight: bold;
  padding: 10px;
  border: 0.0625rem solid #aeaeae;
}
/* .paragraph--colonnaSupportoCard{
  height: 100px ;
} */
.link--m-stripe__text,
.link--colonnaSupportoCard {
  text-decoration: none;
  color: #505050;
}
.link--buttonNonDecoration {
  text-decoration: none;
  color: white;
}
.wrapper--online-garanzia .heading-level-5 {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 2.125rem;
  line-height: 2.25rem;
  margin: 2.5rem 0;
}
.wrapper--online-garanzia .heading-level-6 {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #505050;
  margin-top: 0;
  margin-bottom: 2.5rem;
}
.wrapper--titlePBannerPostilla .paragraph {
  margin: 0;
  font-family: "myriadSemibold";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.625rem;
  margin-bottom: 1.875rem;
}
.wrapper--titleBannPostilla4PorteTop .headingLevel1 {
  margin: 0;
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 1.875rem;
}
.wrapper--descBannerPostilla .paragraph {
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
  margin-top: 0;
  margin-bottom: 1.875rem;
}
.wrapper--descBannerPostillaLanding .paragraph {
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
  margin-top: 0;
  margin-bottom: 1.875rem;
  text-align: center;
}
.wrapper--BannPostilla .paragraph {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 0.8125rem;
  color: #8d8d8d;
}
.headingLevel2--titleBannPostillaBottom {
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 1.2;
}
.headingLevel2--titleBannPostilla {
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.25rem;
}
/* manualiIstruzione */
.container--manualiIstruzione {
  background-color: #f9f9f9;
  padding-top: 5rem;
}
.wrapper--manualiIstruzione {
  width: 78%;
}
.headingLevel3--largeBannOnlyTextHeader {
  font-family: "myriadLight";
  font-size: 1.875rem;
  line-height: 2.25;
}
.headingLevel3--manualiIstruzione {
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 1.75rem !important;
  line-height: 2.625rem !important;
  color: #353535;
  margin-bottom: 1.875rem;
}
.paragraph--manualiIstruzione {
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 1rem !important;
  line-height: 1.625rem;
  color: #353535;
  margin-bottom: 3.75rem;
}
.paragraph--technologiaHeader {
  font-family: "myriadLight";
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0;
  line-height: 1.5;
  font-size: 1rem;
}
.wrapper--titleRich .paragraph {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 2.25rem;
  line-height: 2.625rem;
}
.wrapper--ContRich {
  width: 100%;
}
.wrapper--ContRich .paragraph {
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 1rem;
  color: #000000;
}
.wrapper :global(.vtex__link),
.wrapper :global(.vtex__link):focus,
.wrapper :global(.vtex__link):active,
.wrapper :global(.vtex__link):hover {
  text-decoration: none;
  color: #fdc100;
  opacity: 1;
}
.wrapper--bannerWIthImageTitle2 .paragraph {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-top: 0;
  margin-bottom: 1.875rem;
}
.wrapper--bannerWIthImagedescription {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.8125rem;
}
.heading--bannerWIthImagedescription {
  font-family: "myriadLight";
  font-size: 1.25rem;
  line-height: 1.8125rem;
  font-weight: 700;
}
.heading-level-3 {
  font-family: "myriadLight";
  font-size: 1.2rem;
  line-height: 1.3;
}
.wrapper .link--paragraph-text-page {
  font-weight: 600;
}
:global(.vtex-rich-text-0-x-link--spaziature-impaginazione) {
  color: #edb112;
  text-decoration: none;
  font-weight: 600;
}
.wrapper :global(.vtex-rich-text-0-x-heading-level-4) {
  font-family: "myriadLight";
}
.wrapper--premioText {
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.375rem;
  color: #353535;
  text-align: center;
  margin-bottom: 1.875rem;
}
.wrapper--personalizedButtonCard {
  margin-top: 1.5625rem;
}
.wrapper--personalizedButtonCard .paragraph {
  padding: 0.75rem 1.25rem;
  font-family: "myriadSemibold";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2;
  letter-spacing: -0.2px;
}
.wrapper--bannerTestoTitle .headingLevel2 {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 2.125rem;
  line-height: 2.25rem;
  text-align: center;
}
.wrapper .paragraph--bannerTestoDesc {
  padding: 0 1.5625rem;
  font-family: "myriadLight";
  text-align: center;
}
.wrapper--richText6thsense .paragraph {
  padding: 0 1.5625rem;
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #505050;
  text-align: center;
}
.wrapper--titltebannertabBanner .paragraph {
  margin: 0;
  padding-bottom: 1.25rem;
  text-transform: uppercase;
  font-family: "myriadSemibold";
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.625rem;
}
.wrapper--titltebannertabBannerBlack .paragraph {
  color: #ffffff;
  margin: 0;
  padding-bottom: 1.25rem;
  text-transform: uppercase;
  font-family: "myriadSemibold";
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.625rem;
}
.wrapper--descbannertabBanner .paragraph {
  margin: 0 0 4rem 0;
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.625rem;
}
.wrapper--descbannertabBannerBlack .paragraph {
  color: #ffffff;
  margin: 0 0 4rem 0;
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.625rem;
}
.container--caruselTextBanner,
.container--caruselTextBanner100 {
  justify-content: center;
  margin-bottom: 2.25rem;
}
.wrapper--caruselTextBanner .paragraph {
  text-align: center;
  width: auto;
  font-family: "myriadRegular";
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  color: #353535;
  border-bottom: 0.125rem solid #edb112;
  margin-bottom: 0;
}
.wrapper--caruselTextBanner100 .paragraph {
  text-align: center;
  width: auto;
  font-family: "myriadRegular";
  font-weight: 400;
  font-size: 0.8rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  color: #353535;
  border-bottom: 0.125rem solid #edb112;
  margin-bottom: 0;
}
.wrapper--titleCardTextBanner .paragraph {
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 1.875rem;
  margin-top: 0;
}
.wrapper--DescCardTextBanner .paragraph {
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.5rem;
  margin: 0;
  color: #000;
}
.wrapper--postillaBannerPostilla {
  position: absolute;
  bottom: 0;
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 0.8125rem;
  color: #8d8d8d;
}
.wrapper--postillaBannerPostillaLanding {
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 0.625rem;
  line-height: 0.8125rem;
  color: #8d8d8d;
}
.wrapper--titleHBannerPostilla .headingLevel1 {
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin: 0;
  margin-bottom: 1.875rem;
}
.wrapper--titleSpremeBanner .paragraph {
  font-family: "myriadSemibold", Arial;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.625rem;
  margin-bottom: 1.875rem;
  margin: 0;
}
.sliderLayoutContainer--percheWhirlpoolCarousel
  .slideChildrenContainer
  .paragraph--squareTextP {
  font-size: 1.5rem;
}
.wrapper--underlineBannerHeroAnto .paragraph {
  border-bottom: solid 1px #edb112;
}
.wrapper--noPosAbsolute {
  position: unset;
  bottom: unset;
}
/*thank u page*/
.wrapper--order-confirmation-box-text_styles {
  font-size: 1.875rem;
}
.paragraph--order-confirmation-box-text_styles {
  margin: 0;
  text-align: center;
}
.wrapper--headerOrderText {
  text-transform: uppercase;
  font-family: "myriadRegular";
}
.paragraph--delivery-shipping-billing-wrapper_content {
  font-family: "myriadRegular";
  font-size: 1.25rem;
  color: #505050;
}
.container--productText {
  width: 50%;
}
.headingLevel4--titleOrder,
.headingLevel4--mainOrder {
  font-family: "myriadLight";
  font-size: 1.875rem;
}
.container--accessoriText {
  padding-right: 2rem;
}
.wrapper--descContattaci .paragraph {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.8125rem;
}
.wrapper--messaggioNoStock .paragraph {
  color: #fdc100;
  font-weight: bold;
}
.paragraph--ContRich :global(.vtex__link) {
  color: #edb112;
}
.paragraph--colonnaMenuSupportoLast {
  margin-bottom: 0;
}
.container--textVP {
  margin-top: 4rem;
}
.wrapper--linkService {
  width: 100%;
  margin: auto;
  color: #edb112;
  padding: 0 1.5625rem;
  font-family: myriadLight, Arial;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
}
.link--seoText {
  text-decoration: none;
  color: #fdc100;
}
.wrapper--seoText {
  margin: 0rem 1.5rem 1rem 1.5rem;
  text-align: justify;
}
.wrapper--seoTextLandingPage {
  margin: 0rem 3.5rem 1rem 3.5rem;
  text-align: justify;
}
/* .wrapper--titleTab {
  margin-top: 283px;
} */
.wrapper--titleAccordionPdp {
  padding: 5em;
}
.headingLevel2--titleTab {
  margin: 0 !important;
  text-transform: uppercase;
}
.wrapper--noMarginBottom .headingLevel2 {
  margin-bottom: unset !important;
  text-align: center;
}
.paragraph--stickyMenyItem {
  font-family: "myriadRegular";
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  color: #505050;
  text-transform: uppercase;
  margin: 0.9375rem 0 0 0;
  text-transform: uppercase;
  padding-bottom: 0.4rem;
}
.paragraph--stickyMenyItem:hover {
  border-bottom: 2px solid #fdc100;
}
.paragraph--pochiPezzi {
  margin: 0;
  color: #edb112;
  font-size: 1rem;
  font-family: "myriadRegular";
}
.paragraph--promotionPDP {
  font-size: 0.875rem;
  color: #505050;
  font-family: "myriadLight";
}
.wrapper--preDesc .paragraph {
  font-size: 0.875rem;
  padding: 0.2rem;
  font-weight: 300;
  color: #505050;
  font-family: "myriadRegular";
  margin: 0;
  text-transform: uppercase;
}
.container--ivaPDP {
  justify-content: flex-end;
}
.wrapper--carouselTitle .heading-level-3 {
  font-family: "myriadLight", Arial;
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin: 3rem 0 1.8rem;
}

/*discontinued pdp*/
.paragraph--discontinuedTitle {
  font-size: 2rem;
}

.wrapper--textAlignCenter .heading {
  text-align: center;
}

.wrapper--lpTitle .heading {
  font-size: 2vw !important;
}
.wrapper--lpDesc .paragraph {
  font-size: 1vw !important;
}
.wrapper--lpPostilla .paragraph {
  font-size: 0.5vw !important;
}
.paragraph--specMobileLabels {
  background: #f2f2f2;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  margin: 0 0.5rem 1rem 0;
  white-space: nowrap;
}
.paragraph--ProdDescAndDetailsTrigger,
.paragraph--productGiftsAccordionTitle {
  font-size: 1.75rem !important;
  text-transform: uppercase;
  margin: 0;
}
.container--titleReviews {
  margin-top: 2rem;
}
.paragraph--ProdDescAndDetailsTrigger,
.paragraph--productGiftsAccordionTitle,
.headingLevel2--titleAccordionPdp {
  line-height: 1;
}
.paragraph--ProdDescAndDetailsTrigger {
  width: 95%;
}
.wrapper--specProps {
  background: #f9f9f9;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  margin-right: 0.5rem;
  width: fit-content;
}
.paragraph--specProps {
  margin: 0;
  position: relative;
  margin-left: 0.8rem;
}
.paragraph--specProps::before {
  content: "";
  position: absolute;
  left: -0.8rem;
  top: 50%;
  transform: translateY(-50%);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: red;
}
/*----------- BANNERS PLP ---------*/
.paragraph--firstTitleBannerPLP,
.paragraph--secondTitleBannerPL,
.paragraph--buttonMoreAboutPLP {
  color: #fff;
  margin: 0;
  line-height: 1;
}
.paragraph--firstTitleBannerPLP {
  font-size: 1.5rem !important;
}
.paragraph--secondTitleBannerPL {
  font-size: 1.5rem !important;
  font-family: "myriadSemibold";
}
.container--firstTitleBannerPLP {
  margin-bottom: 0.3rem;
}
.container--buttonMoreAboutPLP {
  display: flex;
  justify-content: flex-end;
}
.paragraph--smallTitleAdvantageForYou,
.paragraph--bigTitleAdvantageForYou {
  margin: 0;
}
.paragraph--smallTitleAdvantageForYou {
  color: #000;
}
.paragraph--bigTitleAdvantageForYou {
  font-size: 1.5rem !important;
  font-family: "myriadSemibold";
  line-height: 1;
}
.container--TextAdvantageForYou {
  display: flex;
  align-items: center;
}
.paragraph--TextAdvantageForYou {
  font-size: 1rem !important;
  font-family: "myriadRegular";
  margin: 0;
  text-align: justify;
}

.container--tabLayoutText {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
}
.paragraph--tabLayoutText {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1.5rem !important;
  color: #505050;
  margin: 0.5rem 0;
}
:global(.vtex-flex-layout-0-x-flexRowContent--mobilePriceOOS)
  .wrapper--prezzoZeriCol
  .paragraph,
:global(.vtex-flex-layout-0-x-flexRowContent--mobilePriceOOS)
  .wrapper--euroCurrency
  .paragraph {
  font-size: 1.5rem !important;
  font-family: "myriadSemibold";
  margin: unset;
}
.container--titoloAccordion {
  width: calc(100% - 24px);
}
.wrapper--titoloAccordion {
  margin: unset !important;
}
.paragraph--titoloAccordion {
  font-family: "myriadSemibold";
  font-weight: 400;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #505050;
  line-height: 1.5rem;
}
/* Media Queries */
@media only screen and (max-width: 668px) {
  .wrapper--titleAccordionPdp {
    padding: unset;
  }
  .paragraph--euroCurrency {
    font-size: 1.85rem !important;
  }
  :global(.vtex-flex-layout-0-x-flexRowContent--mobilePriceOOS)
    .wrapper--euroCurrency
    .paragraph {
    font-size: 1.5rem !important;
  }
  .wrapper--ServiziAggiuntiviLabel .paragraph {
    font-size: 0.875rem;
  }
  .paragraph--centerbannerpromo {
    margin: 10px 0 !important;
    text-align: initial !important;
  }
  .wrapper .paragraph {
    font-size: 0.875rem;
  }
  .wrapper--percentageBanner .paragraph--percentageBanner {
    font-size: 1.5rem;
  }
  .wrapper--dettagli .paragraph--dettagli {
    font-size: 2.5rem;
  }
  .wrapper--rich-text-specification {
    margin-top: 1rem;
  }
  .wrapper--rich-text-specification .paragraph--rich-text-specification {
    font-size: 2rem;
  }
  .wrapper--3dDescText {
    padding: 0;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .link--bannerheader {
    font-size: 0.75rem;
  }
  .wrapper--bannerheader {
    padding: 0 0.5rem;
    font-size: 0.75rem;
  }
  .container--ivaPDP {
    margin-left: 50%;
    justify-content: unset;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .wrapper--titleTab {
    margin-top: unset;
  }
}

@media only screen and (max-width: 600px) {
  .paragraph--TextAdvantageForYou {
    line-height: 1;
  }
  .wrapper--titleLpRich .heading {
    font-size: 1.575rem;
  }
  .wrapper--descLpRich .paragraph {
    font-size: 0.7rem;
  }
  .wrapper--lpTitle .heading {
    font-size: 3vw !important;
    line-height: 3.5vw !important;
  }
  .wrapper--lpDesc .paragraph {
    font-size: 1.5vw !important;
    line-height: 3.5vw !important;
  }
  .wrapper--lpPostilla .paragraph {
    font-size: 1vw !important;
    line-height: 3.5vw !important;
  }
  .wrapper--marginBottomMobile {
    margin-bottom: unset;
    line-height: 3.5vw;
  }
  .wrapper--titleTab {
    margin-top: unset;
  }
  .wrapper--dirittoRecesso .headingLevel4 {
    font-size: 1.3rem;
  }
  .wrapper--formText .headingLevel2 {
    text-align: left;
    font-size: 2rem;
  }
  .wrapper--formText .headingLevel1 {
    text-align: left;
  }
  .wrapper--descbannertabBanner .paragraph {
    margin-bottom: 2.5rem;
    font-size: 1rem !important;
  }
  .wrapper--descbannertabBannerBlack .paragraph {
    margin-bottom: 2.5rem;
    font-size: 1rem !important;
  }
  .wrapper--titltebannertabBanner .paragraph {
    font-size: 1rem !important;
  }
  .wrapper--titltebannertabBannerBlack .paragraph {
    font-size: 1rem !important;
  }
  .wrapper--descBannerPostilla .paragraph {
    font-size: 1rem;
    margin-bottom: 1.875rem;
  }
  .wrapper--descBannerPostillaLanding .paragraph {
    font-size: 1rem;
    margin-bottom: 1.875rem;
  }
  .wrapper--centerbannerpromo,
  .wrapper--centerbannerpromoWarranty {
    padding: 0.625rem 1.25rem;
    font-family: "myriadLight";
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #000;
    text-align: center;
    margin-bottom: 0.625rem;
  }
}
@media screen and (max-width: 668px) {
  .wrapper--headerOrderText--quantity {
    display: none;
  }
  .paragraph--order-confirmation-box-text_styles {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1024px) {
  .paragraph--textCategories {
    text-decoration: underline;
    font-weight: 900;
  }
  .paragraph--infoCoupon {
    font-size: 1rem !important;
    padding: 1rem;
  }
  .paragraph--modalCoupon {
    font-size: 1.5rem !important;
    cursor: pointer;
    margin: 0;
    padding: 0.8rem;
  }
  .paragraph--modalCoupon:hover {
    color: #edb112;
  }
}
@media only screen and (max-width: 1100px) {
  .container--mobileTextFooter {
    display: flex;
    justify-content: center;
  }
  .wrapper--lpTitle .heading {
    line-height: 2.5vw;
  }
  .wrapper--lpDesc .paragraph {
    line-height: 2.5vw;
  }
  .wrapper--lpPostilla .paragraph {
    line-height: 2.5vw;
  }
  .container--dettagli {
    display: none;
  }
  .container--caruselTextBanner,
  .container--caruselTextBanner100 {
    margin-bottom: 0;
  }
  .wrapper--DescCardTextBanner .paragraph {
    font-size: 0.9rem !important;
  }
  .wrapper--titleCardTextBanner .paragraph {
    font-size: 1.875rem !important;
  }
}
@media only screen and (max-width: 400px) {
  .link--m-stripe__text {
    display: block;
  }
}
@media only screen and (min-width: 600px) {
  .paragraph--squareTextP {
    padding: 0 1rem;
    position: absolute;
    top: 50%;
    margin: 0;
    height: auto;
    transform: translate(0, -50%);
  }
}
@media only screen and (max-width: 599px) {
  .paragraph--squareTextP {
    font-size: 1.2rem !important;
    padding: 0 1rem;
  }
  .container--spaziature-impaginazione {
    padding: 0 1.25rem;
  }
}
@media screen and (min-width: 1200px) {
  .container--spaziature-impaginazione {
    padding: 0 0;
  }
}
@media only screen and (max-width: 1000px) {
  .wrapper--centerbannerpromo,
  .wrapper--centerbannerpromoWarranty {
    font-size: 0.8rem;
  }

  .container--discontinued,
  .container--discontinuedTitle {
    justify-content: center;
  }
  .paragraph--discontinuedTitle {
    font-size: 1.5rem !important;
  }
}
@media only screen and (max-width: 1000px) and (min-width: 640px) {
  .wrapper--titleTab {
    margin-top: unset;
  }
  .wrapper--promoBannerProductTitle {
    font-size: 1.5rem;
  }
  .wrapper--promoBannerProductTitle .paragraph {
    margin-top: 0;
    margin-bottom: 0.7rem;
  }
  .wrapper--promoBannerProductTitleSmall {
    font-weight: 400;
    font-size: 0.575rem;
    margin-bottom: 1rem;
  }
  .wrapper--promoBannerProductsubtitleCard {
    font-size: 1rem;
  }
  .wrapper--promoBannerProductsubtitleCard .paragraph {
    margin: 0;
    margin-bottom: 1.5rem;
  }
  .wrapper--promoBannerProductPostilla {
    font-size: 0.425rem;
    color: #8d8d8d;
  }
}
@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }
  .container--about {
    max-width: 85%;
  }
  .container--title {
    color: #03034e;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }
  .container--title .paragraph {
    line-height: 1.3em;
  }
}
