.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: auto;
  margin: 0 15%;
}
.container__form {
  width: 100%;
  margin: 0 1rem;
}
.container__checkbox {
  margin: 2rem 0;
}
.container__checkbox :global(.vtex-checkbox__label) {
  text-align: justify;
}
.container__button {
  display: flex;
  justify-content: center;
}
.container__button :global(.vtex-button) {
  cursor: pointer;
}
.container__buttonDisabled :global(.vtex-button) {
  cursor: default;
}
.container__input :global(.vtex-input__label) {
  font-family: "myriadSemibold";
}
.container__input_surname {
  margin-left: 0 !important;
}
.form__text-success {
  color: #edb112;
}
/* Skeleton Form */
.skeleton__wrapper {
  width: 100%;
}
.skeleton {
  --base-color: #ebebeb;
  --highlight-color: #c0c0c0;
  --animation-duration: 1.5s;
  --animation-direction: normal;
  --pseudo-element-display: block; /* Enable animation */
  background-color: var(--base-color);
  width: 100%;
  border-radius: 0.5rem;
  display: inline-flex;
  line-height: 1;
  position: relative;
  overflow: hidden;
  z-index: 1; /* Necessary for overflow: hidden to work correctly in Safari */
}

.skeleton::after {
  content: " ";
  display: var(--pseudo-element-display);
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  padding: auto;
  background-repeat: no-repeat;
  background-image: linear-gradient(
    90deg,
    var(--base-color),
    var(--highlight-color),
    var(--base-color)
  );
  transform: translateX(-100%);

  animation-name: skeleton;
  animation-direction: var(--animation-direction);
  animation-duration: var(--animation-duration);
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes skeleton {
  100% {
    transform: translateX(100%);
  }
}
/* ____________________________________________ */
