.openIconContainer--account {
  margin-top: auto;
  margin-bottom: auto;
}
.opened--account {
  background-color: #f9f9f9;
}
.childrenContainer--account :global(.vtex-login-2-x-content) {
  background-color: #f9f9f9;
}
.childrenContainer--account :global(.vtex-login-2-x-options) {
  display: none;
}
.childrenContainer--account :global(.vtex-login-2-x-formLinkContainer) {
  justify-content: center;
}
:focus {
  outline: none;
}
.childrenContainer {
  flex-direction: column;
}
.opened{
  z-index: 9999999999;
}
