.productGiftText--default {
  cursor: pointer;
  font-size: 1rem;
}
.productGiftListContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* align-items: center; */
}
.giftListItem {
  border: none;
  padding: 1rem 0;
}
.giftListItem .imageElement {
  max-height: 50px !important;
  margin: auto 0;
  width: 24px;
  height: 24px;
}

/* Media Queries */
@media screen and (min-width: 600px) {
  .giftListItem {
    max-width: 50%;
  }
}
