.stackItem--product {
  width: 100%;
}
.stackItem--quickview {
  right: 0;
  top: 0;
  left: auto;
}
.stackItem--cover {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.stackContainer--video {
  margin-bottom: 7.5rem;
}
.stackContainer--video::after {
  position: absolute;
  bottom: 0.5rem;
  left: calc(50% - 0.5px);
  content: "";
  height: 10vh;
  width: 1px;
  background: white;
  animation: slideup 1.3s linear 1s infinite;
}
@keyframes slideup {
  0% {
    height: 10vh;
  }
  33% {
    height: 6.6vh;
  }
  66% {
    height: 3.3vh;
  }
  100% {
    height: 0vh;
  }
}
.stackItem--QrColumn {
  position: absolute;
  top: 0;
  left: 100%;
  width: 60px;
  transform: translateX(-100%);
}
/* .stackItem--compareSearchPage{
  width: 45px;
  left: auto;
  right: 0;
} */
.stackItem--promotionHigh {
  z-index: 2 !important;
}
.stackItem--visualize-modal {
  position: relative;
}
.stackItem--productPage {
  position: relative;
}
/* Media Queries */
@media only screen and (max-width: 1200px) {
  .stackItem--productPage {
    display: flex;
    justify-content: center;
  }
}
@media only screen and (max-width: 600px) {
  .stackItem--cover {
    width: 100%;
    justify-content: center;
    display: flex;
  }
  .stackItem--QrColumn {
    width: 40px;
  }
}
@media only screen and (max-width: 640px) {
  .stackItem--productPage::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: black;
  }
}
