.container {
  position: relative;
  /* margin-left: 3.125rem; */
  margin-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 3rem !important;
}
.container--breadPagodil {
  margin: 1rem;
  display: block !important;
}
.homeLink::before {
  content: "Home";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 0.25rem 0.5rem 1.25rem;
}
.homeLink .homeIcon {
  visibility: hidden;
  height: 10px;
}
.link {
  font-family: "myriadLight";
  font-weight: 300;
  font-size: 0.78rem;
  line-height: 1.2;
  text-decoration: none;
  color: #505050;
}
.term {
  text-decoration: none;
}
.link:hover,
.link:focus {
  color: #fdc100;
}
.link:focus {
  border-color: #fdc100;
}
.container--breadPP {
  margin-top: 0.5rem;
}
.arrow:last-child {
  pointer-events: none;
}
.container--prOrderBreadcrumb {
  margin-top: 0.5rem !important;
  margin-left: 0 !important;
}
/* Media Queries */
@media only screen and (min-width: 1040px) {
  .container {
    margin-left: 0;
  }
}
