.optionsSticky {
  display: none;
}
.content--emailAndPassword {
  display: inherit;
}


.content--emailAndPassword :global(.pa2) {
  display: none;
}
.content {
  justify-content: center;
  width: 20.5rem !important;
}
.backButton {
  display: none;
}
.sendButton {
  /* background-color: white; */
  width: 50%;
  display: flex;
  justify-content: flex-end;
  z-index: 2;
  padding-top: 0.5em;
  margin-top: -0.5rem !important;
}
.confirmButton {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  z-index: 2;
  padding-top: 0.5em;
  margin-top: -0.5rem !important;
}
/* .emailAndPasswordForm {
  background-color: aqua;
} */
.emailAndPasswordForm :global(.vtex-input-prefix__group) {
  width: 19.563rem;
  height: 3.063rem;
  margin: 0.313rem 0 0;
  border-radius: 5px;
  border: solid 1px #eaeaea;
  background-color: rgba(255, 255, 255, 0.6);
}

.formLinkContainer:last-child {
  display: none;
}
.content {
  background-color: #f9f9f9;
}
.forgotPasswordLink {
  font-family: "myriadLight";
  text-decoration: underline;
  font-size: 0.75rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.33;
  letter-spacing: normal;
  text-align: right;
  color: var(--greyish-brown);
}
.oauthLabel::after {
  content: url("assets/FacebookLogo.svg");
  position: relative;
  top: 0.2rem;
  left: 1rem;
}
/* .oauthLabel::before{
  content: url("assets/GoogleLogo.svg");
  position: relative;
  top: 0.2rem;
  left: 14.5rem;
} */
.oauthProvider {
  display: none;
}
.oauthLabel {
  font-family: myriadLight;
  font-weight: 400;
  text-transform: none !important;
  letter-spacing: 0;
  color: white;
  width: 24px;
  white-space: nowrap;
  margin-right: 5rem !important; /*16.25rem - Google*/
  margin-bottom: 7px !important;
}
.button {
  background-color: #edb112;
  border-radius: 5px;
}
.inputContainerPassword :global(.c-success) {
  color: #8bc34a;
}
@media only screen and (min-width: 1200px) {
  .options {
    width: 50%;
    float: left;
  }
  .options::after {
    position: absolute;
    content: "";
    width: 0.0625rem;
    background-color: #d1d1d1;
    height: 70%;
    right: 20.5rem;
    top: 2rem;
  }
}
@media only screen and (max-width: 1024px) {
  .button {
    width: 77%;
    position: relative;
    left: 2.5rem;
  }
  .oauthLabel::before {
    top: 0.3rem;
    left: 14.5rem;
  }
  .oauthLabel {
    margin: 0 0rem 10px -1rem;
  }
}
