.minicartContainer--headerDesk {
  padding-right: 2rem;
}
.cartIcon {
  visibility: hidden;
}
.minicartWrapperContainer{
  position: relative;
  bottom: 1rem;
}
.openIconContainer :global(.vtex-button) {
  position: relative;
}
:global(.vtex-store-icons-0-x-cartIcon--minicart-empty-state) {
  visibility: hidden;
}
.minicartEmptyStateContainer
  :global(.vtex-flex-layout-0-x-flexRowContent)
  :global(.vtex-flex-layout-0-x-flexColChild):first-child {
  position: relative;
  padding: 0;
}
.minicartEmptyStateContainer
  :global(.vtex-flex-layout-0-x-flexRowContent)
  :global(.vtex-flex-layout-0-x-flexColChild):first-child::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  content: url(assets/cartIcon64.svg);
  height: 64px;
  width: 64px;
  padding: 0 0 0.2rem;
}
.openIconContainer :global(.vtex-button)::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  content: url(assets/cartIcon.svg);
  height: 32px;
  width: 32px;
  padding: 0.1rem 0 0;
}
.cartIcon::after {
}
.minicartIconContainer::before {
}
.minicartIconContainer {
  margin-top: -1rem;
}
.openIconContainer {
  padding-left: 0;
  padding-right: 0;
}
/*------------NO MENU--------------*/
.minicartWrapperContainer {
  pointer-events: all;
}
:global(.vtex-minicart-2-x-opened) {
  z-index: 999999 !important;
}

/* Media Queries */
@media screen and (min-width: 1040) {
  .openIconContainer {
    padding-left: 0;
  }
}
