.containerPayPal {
  margin: 1rem 0;
  background-color: #fff;
  min-width: 166px;
  height: 44px;
  max-height: 44px;
  border: 1px solid #e3e3e3;
  border-radius: 10px;
  display: flex;
  padding: 9px;
  width: 100%;
  justify-content: center;
}

@media only screen and (min-width: 1200px) {
  .containerPayPal {
    padding: 9px 9rem;
  }
}
