:global(.vtex-product-summary-2-x-element) .container {
  padding: 0.5rem 1rem 0.5rem 1rem;
}
:global(.vtex-flex-layout-0-x-flexColChild--principal) .image {
    width: 3.7rem;
    margin-right: 3.5rem;
    max-height: 3rem;
}

:global(.vtex-flex-layout-0-x-flexColChild--principal) .container{
    position: relative;
    top: -3.5rem;
}


.image {
  width: auto!important;
  height: 27px;
  object-fit: contain;
}
:global(.vtex-flex-layout-0-x-flexRowContent--commercialCodeEnergylabel) .image {
  display: block;
}
@media only screen and (max-width: 668px) {
  .image {
    width: 80%;
  }
}
@media only screen and (max-width: 1024px) {
  :global(.vtex-product-summary-2-x-element) .container {
    padding: 0;
  }
}
