.input{

  border: none !important;
  border-bottom: 0.0625rem solid #e7e7e7 !important;
  border-radius: 0;
  font-family: myriadLight;

}

.errorInput{

  border-bottom: 0.0625rem solid #d10000 !important;

}

.title{

  padding: 0 1.25rem;
  margin-top: 1.25rem;
  font-family: myriadLight,Arial;
  font-weight: 400;
  font-size: 1.5625rem;
  line-height: 2.625rem;
  text-align: center;
  min-width: auto;

}

.inputLabel {
  display: block;
  text-transform: uppercase;
  padding-top: 0.5rem;
  text-align: left;
  font-family: myriadRegular,Arial;
  font-weight: 400;
  font-size: .75rem;
  line-height: 1.1875rem;
}

.select{
  border: 0.0625rem solid #e7e7e7;
  border-radius: 0;
  padding: 0.875rem;
  height: 3.75rem;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.25rem;
  color: #000;
  font-family: myriadLight;
  text-transform: none;
  letter-spacing: 0;
}

.singleInput {
  width: 100%;
  margin: 0 1rem;
}

.formContainer {
  border: none;
}

.textArea {
  width: 100%;
  background: 0 0;
  height: 1.5625rem;
  resize: none;
  height: 100%;
  border: 0.0625rem solid #c6c6c5;
  padding: 0.3125rem;
  font-size: 1.125rem;
  line-height: 1.25rem;
  color: #282828;
}

.paragraphh{
  text-align: center;
}

.groupInput {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.inputDatePicker :global(.vtex-styleguide-9-x-input){

  font-family: myriadLight !important;;
  font-weight: 400 !important;;
  text-transform: none;
  letter-spacing: 0;
  padding-left: 1rem !important;;
  padding-right: 1rem;

}

.postillaText{
  padding: 0 1.25rem;
  display: block;
  text-align: left;
  margin-top: 3.125rem;
  margin-bottom: 6.25rem;
  font-family: myriadLight,Arial;
  font-weight: 400;
  font-size: .75rem;
  line-height: 1.125rem;
}

.privacyAccept {
  font-family: myriadLight;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0;
  text-align: justify;
  color: #505050
}

.checkboxWrapper {
  margin-top: -2rem;
  position: relative;
  display: flex;
  align-items: start;
}
.customCheckbox {
  min-width: 1rem;
  min-height: 1rem;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  border: 0.0625rem solid #e7e7e7;
  position: relative;
}
 .customCheckboxFilled {
  min-width: 1rem;
  min-height: 1rem;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  border: 0.0625rem solid #e7e7e7;
  position: relative;
}

.submitButton {
  color: #fff;
  background: #edb112;
  border: 0.0625rem solid #edb112;
  padding: 0.7rem 2rem;
  cursor: pointer;
  transition: all 0.35s ease-in-out;
  border-radius: 5px;
  font-family: myriadSemibold;
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0;
}

.productInfoHelpTextWrapper {
  width: 100%;
  overflow: hidden
}

.productInfoHelpText{
  width: 60%;
  float: left
}

.productInfoHelpImgWrapper {
  max-width: 60%;
}

.productInfoHelpImg1 {
  width: 80%;
  margin: auto;
}

.productInfoHelpImg {
  margin: auto;
  width: auto;
  padding-top: 2rem;
}

.privacySectionDiv {
  padding: 3rem 0;
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: -2%;
}

.selectDiv {
  position: relative;
  margin: 0 0 0 0;
}

@media only screen and (max-width: 600px) {


  .formWrapper {
    width: 90%;
  }

  .productInfoHelp {
       padding: 0rem!important
   }




   .productInfoHelpText {
       float: left;
       text-align: center;
   }



  .productInfoHelpImgWrapper {
       min-width: 100%;
       float: left;
   }



  .productInfoHelpImgWrapper {
       display: flex;
       justify-content: center;
       margin: 0;
       min-height: 7rem;
       background: #f9f9f9;
   }
   .productInfoHelpImg1 {
       width: 100%;
       margin: auto;
   }

  .privacySectionDiv {
       /* padding: 3rem 0; */
       /* width: 50%; */
       margin: auto;
       display: flex;
       flex-direction: column;
       margin-bottom: -2%;
   }



  .privacySectionDiv {
       width: 95%;
   }



}

@media only screen and (max-width: 600px){

  .productInfoHelpImg1 {

    width: 65%!important;

      margin: auto;

      margin-top: 0px!important;
      margin-bottom: 5px!important;

  }

  .productInfoHelpWrapper{

    width: 100%!important;

  }

  .productInfoHelpText {

      width: 100%!important;

  }

  .formContainer{

    max-width: 95%!important;

  }



  .productInfoHelpText {

    margin: 3rem 0;

  }

  .productInfoHelpImgWrapper {

    max-width: 100%!important;

  }

  }
