.value {
  font-size: .875rem;
  font-family: myriadLight;
  white-space: nowrap;
}
.text--dimensioni {
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 21px;
  color: #353535;
  margin: 0 !important;
  padding: 0;
}

:global(.vtex-flex-layout-0-x-flexColChild--SearchResult) .value{
  display: block !important;
}

:global(.vtex-flex-layout-0-x-flexColChild--labelInStockPDP) .value,
:global(.vtex-flex-layout-0-x-flexColChild--labelInStockPLP) .value{
  color:#6dd400;
  font-weight: bold;
}
:global(.vtex-flex-layout-0-x-flexColChild--labelInStockPDP) .attribute,
:global(.vtex-flex-layout-0-x-flexColChild--labelInStockPLP) .attribute,
:global(.vtex-flex-layout-0-x-flexColChild--SearchResult) .value{
  color:#6dd400;
}
:global(.vtex-flex-layout-0-x-flexColChild--labelInStockPLP) .attribute,
:global(.vtex-flex-layout-0-x-flexColChild--labelInStockPDP) .attribute,
:global(.vtex-flex-layout-0-x-flexColChild--SearchResult) .attribute{
  background: unset !important;
}

.link {
  text-decoration: none;
}

/* .attribute, */
.container {
  /* width: 4.6rem; */
  margin-bottom: 0 !important;
  width: auto;
}
.value {
  color: #505050;
  padding: 0;
  font-family: "myriadRegular";
  line-height: 1.5;
}
.valueNotAvailable {
  color: #505050;
  padding: 0;
  font-family: "myriadLight";
  line-height: 1.5;
}
.attribute {
  text-align: right;
  font-family: "myriadRegular";
}
:global(.vtex-flex-layout-0-x-flexColChild--prezzoCol) .value {
  color: #505050;
  padding: 0;
  font-size: 1.85rem;
  font-family: "myriadRegular";
  line-height: 1.5;
}
/* :global(.vtex-flex-layout-0-x-flexColChild--prezzoCol) .value::after {
  content: "*";
  color: #505050;
  text-align: right;
  float: right;
} */
:global(.vtex-flex-layout-0-x-flexColChild--specProps) .value {
  font-size: 0.875rem;
  font-family: "myriadLight";
  white-space: nowrap;
}
:global(.vtex-flex-layout-0-x-flexColChild--specProps) .attribute {
  background: #f9f9f9;
  padding: 0.2rem 0rem 0.2rem 0.2rem;
  border-radius: 5px;
  margin-right: 0.5rem;
  margin-top: 0;
  margin-bottom: 0rem;
  width: fit-content;
}
:global(.vtex-flex-layout-0-x-flexRowContent--dimensioni) .attribute {
  text-align: left;
}
:global(.vtex-flex-layout-0-x-flexColChild--specProps) .container {
  width: auto;
  margin-bottom: 0.5rem;
}
:global(.vtex-flex-layout-0-x-flexColChild--inStockProp) .value {
  position: relative;
  margin-left: 0.8rem;
}
:global(.vtex-flex-layout-0-x-flexColChild--inStockProp) .value::before {
  content: "";
  position: absolute;
  left: -0.8rem;
  top: 50%;
  transform: translateY(-50%);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #6dd400;
  margin-left: 0.2rem;
}
:global(.vtex-flex-layout-0-x-flexColChild--inStockProp) .value--preOrder::before {
  background: #edb112;
}
:global(.vtex-flex-layout-0-x-flexColChild--inStockProp) .valueNotAvailable {
  position: relative;
  margin-left: 0.8rem;
}
:global(.vtex-flex-layout-0-x-flexColChild--inStockProp)
  .valueNotAvailable::before {
  content: "";
  position: absolute;
  left: -0.8rem;
  top: 50%;
  transform: translateY(-50%);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: red;
  margin-left: 0.2rem;
}
:global(.vtex-flex-layout-0-x-flexRowContent--mobilePriceOOS) .value {
  font-family: "myriadSemibold";
  font-size: 1.5rem;
}
:global(.vtex-slider-layout-0-x-sliderLayoutContainer--shelf) :global(.vtex-flex-layout-0-x-flexRowContent--row-tertiary) :global(.vtex-flex-layout-0-x-flexColChild--specProps) .attribute {
  background: transparent;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  width: max-content;
  margin-right: 6rem;
}

:global(.vtex-flex-layout-0-x-flexRowContent--row-tertiary) :global(.vtex-flex-layout-0-x-flexColChild--inStockProp) .value::after  {
  content: ": consegna in 4-6 giorni lavorativi";
}
:global(.vtex-flex-layout-0-x-flexColChild--summary-right) .valueNotAvailable {
  color: #505050;
  padding: 0;
  font-family: "myriadLight";
  line-height: 1.5;
  font-size: 0.875rem;
}
:global(.vtex-slider-layout-0-x-sliderLayoutContainer--shelf) :global(.vtex-flex-layout-0-x-flexColChild--summary-right) .valueNotAvailable {
  color: #505050;
  padding: 0;
  font-family: "myriadLight";
  line-height: 1.5;
  font-size: 0.875rem;
  margin-right: 1.5rem;
}
:global(.vtex-flex-layout-0-x-flexRowContent--row-tertiary) :global(.vtex-flex-layout-0-x-flexColChild--specProps) .attribute {
  background: transparent;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  margin-right: 0rem;
  width: fit-content;
}
.attribute--dimensioni {
  margin: 0.25rem 0 0.25rem 0.25rem;
}
.value--dimensioni {
  font-size: 0.875rem;
}



/* Media Queries */
@media only screen and (min-width: 1026px) {
  :global(.vtex-flex-layout-0-x-flexColChild--inStockProp) .value {
    position: relative;
    margin-left: 0.8rem;
    display: none;
  }
  :global(.vtex-flex-layout-0-x-flexColChild--labelInStockPDP) .value,
  :global(.vtex-flex-layout-0-x-flexColChild--labelInStockPLP) .value {
    display: block !important;
  }
  :global(.vtex-flex-layout-0-x-flexRow--row-tertiary) :global(.vtex-flex-layout-0-x-flexColChild--inStockProp) .value {
    position: relative;
    margin-left: 0.8rem;
    display: block !important;
    /* display: none; */
  }
}
@media only screen and (min-width: 1026px) and (max-width: 1300px) {
 :global(.vtex-flex-layout-0-x-flexRowContent--row-tertiary) :global(.vtex-flex-layout-0-x-flexColChild--inStockProp) .value::after  {
  content: " consegna in 4-6 giorni lavorativi";
  display: block;
  }

:global(.vtex-flex-layout-0-x-flexRowContent--row-tertiary) :global(.vtex-flex-layout-0-x-flexColChild--inStockProp) .value::before {
  content: "";
  position: absolute;
  left: 6.2rem;
  top: 25%;
  transform: translateY(-50%);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: #6dd400;
}
:global(.vtex-flex-layout-0-x-flexRowContent--row-tertiary) :global(.vtex-flex-layout-0-x-flexColChild--inStockProp) .value--preOrder::before {
  background: #edb112;
}
:global(.vtex-slider-layout-0-x-sliderLayoutContainer--shelf) :global(.vtex-flex-layout-0-x-flexRowContent--row-tertiary) :global(.vtex-flex-layout-0-x-flexColChild--specProps) .attribute {
  background: transparent;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  width: max-content;
  margin-right: 4rem;
}
}
@media only screen and (max-width: 1200px) {
  :global(.vtex-flex-layout-0-x-flexColChild--labelInStockPDP) .value,
  :global(.vtex-flex-layout-0-x-flexColChild--labelInStockPLP) .value  {
    display: none;
  }
}
