.formContainer {

  width: 80%;
  margin: auto;
  padding-bottom: 5rem;
  max-width: 56.25rem;

}
.inputTitle {

  display: block;
  font-family: inherit!important;
  text-transform: uppercase;
  /*font-family: "karlabold", Arial;*/
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.875rem;
  color: #505050;

}
