:global(.vtex-flex-layout-0-x-flexRow--preferenceLink2) .cookieTitleContainer {
  margin-left: 40px;
  display: list-item;
}

:global(.vtex-flex-layout-0-x-flexRowContent--preferenceLink1) .linkText,
:global(.vtex-flex-layout-0-x-flexRowContent--preferenceLink2) .linkText {
  font-weight: 600;
}

.container{
  text-align: justify;
}
:global(.vtex-menu-2-x-menuContainer) .cookieTitleContainer {
 /*  margin: 0 1.5rem; */
  padding: 0.25rem 0; 
}

:global(.vtex-menu-2-x-menuContainerNav) .linkText {
  display: block;
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 0.875rem;
  color: #505050 !important;
  line-height: 1.5rem;
  text-transform: unset;
  letter-spacing: normal;

  
}

/* Media Queries */
@media only screen and (max-width: 640px) {
  :global(.vtex-disclosure-layout-1-x-content--mobileFooterMenuContent) .cookieTitleContainer {
    margin: 0 1.5rem;
    padding: 0.25rem 0; 
  }
 

  :global(.vtex-disclosure-layout-1-x-content) .linkText {
   display: block;
   font-family: "myriadLight" !important;
   font-weight: 400;
   font-size: 0.885rem;
   color: #505050 !important;
   line-height: 1.5rem;
   text-transform: unset;
   letter-spacing: normal;
  
  }

  :global(.vtex-flex-layout-0-x-flexRow--preferenceLink2) .cookieTitleContainer {
    margin-left: 60px;
    display: list-item;
    margin-right: 1.25rem;
  }

  :global(.vtex-flex-layout-0-x-flexRow--preferenceLink1) .cookieTitleContainer {
    margin: 0 1.25rem;
  }


}