/* .skuSelectorContainer--quickview .skuSelectorItemImage .frameAround, .skuSelectorContainer--quickview .skuSelectorItemImage .skuSelectorInternalBox {
  border-radius: 50%;
} */

.container :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.container:hover :global(.vtex-modal-layout-0-x-triggerContainer) {
  opacity: 1;
}

/* :global(.vtex-flex-layout-0-x-stretchChildrenWidth) .nameContainer{
min-height: 120px;
} */

.nameContainer {
  justify-content: start;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

:global(.vtex-product-summary-2-x-nameContainer) .nameWrapper {
  margin-right: 79px;
  margin-top: 4px;
}

:global(.vtex-product-summary-2-x-nameWrapper) .productBrand {
  font-family: "Roboto-Light";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: #43525a;
}

.imageWrapper--image-container-product-mobile {
  margin: 0 !important;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

:global(.vtex-flex-layout-0-x-flexCol--new-font-test) :global(.vtex-product-summary-2-x-nameWrapper) .productBrand {
  font-family: "Roboto-Light";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #43525a;
}

:global(.vtex-flex-layout-0-x-flexRowContent--new-image-product) :global(.vtex-product-summary-2-x-imageContainer) {
  height: 140px !important;
  width: 137px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

:global(.vtex-flex-layout-0-x-flexRowContent--new-image-product) :global(.vtex-product-summary-2-x-imageContainer) :global(.vtex-product-summary-2-x-image--image-container-product-mobile) {
  width: 107px !important;
  height: 106px !important;
  object-fit: contain;
}

.container {
  text-align: start;
  border: 0.0625rem solid rgb(236, 236, 236);
  transition: 0.3s;
}

.container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.image {
  border-radius: 0.25rem;
}

.element {
  padding: 0;
}

.containerNormal--single-product-shelf {
  max-width: 1020px !important;
  width: 1020px;
  height: unset !important;
}

.stack .brandName {
  font-family: "Roboto";
}

.element--single-product-shelf {
  padding: 0 !important;
  margin: 0 !important;
}

.container--single-product-shelf {
  background: #ffffff;
  box-shadow: 0px 10px 30px rgba(229, 246, 255, 0.6);
  border-radius: 40px;
  border: none;
}

/*
.imageContainer {
  width: 18.2vw;
  height: 17.7vw;
} */

/* .imageContainer--image-container-product{
  width: 17.06vw;
} */

.container :global(.vtex-button) {
  border-radius: 5px;
  width: 90%;
  margin: 0 auto 0.6rem auto;
  padding: 0;
}

.container :global(.vtex-button__label) {
  font-size: 0.9rem;
  font-weight: 600;
}

/* :global(.vtex-flex-layout-0-x-stretchChildrenWidth) .imageWrapper {
  margin-top: 53px;
  margin-bottom: 52px;
} */

/* .imageWrapper--image-container-product{
max-width: 233px;
}
 */

:global(.vtex-product-summary-2-x-imageWrapper--image-container-product) .image--image-container-product {
  display: flex;
  justify-content: center;
  /* height: 227px !important; */
  /* max-width:  233px !important; */
  margin-right: 20px;
}

/*Comparison plp*/

:global(.vtex-product-summary-2-x-image--comparisonDrawer) {
  height: 6.25rem;
}

.column--drawer-summary-col2 .imageContainer {
  height: 100px;
  margin: 0 inherit;
}

.column--drawer-summary-col2 :global(.vtex-product-summary-2-x-imageContainer) {
  margin: 0;
}

/* :global(.vtex-product-summary-2-x-nameContainer) .nameWrapper {
  margin: 0;
} */

.column--drawer-summary-col2 :global(.vtex-store-components-3-x-discountInsideContainer) {
  display: none;
}

.nameContainer--nameProductCompare {
  width: 80%;
  margin-bottom: 0.9375rem;
  justify-content: center;
  text-align: center;
  font-family: "Roboto";
}

.brandName--nameProductCompare {
  font-family: "Roboto";
  font-weight: 400 !important;
  font-size: 0.875rem !important;
  line-height: 1rem;
  color: #505050;
}

.column--drawer-summary-col2 :global(.vtex-product-specifications-1-x-specificationValue--first) {
  padding: 0;
  margin: 0 auto;
}

:global(.vtex-slider-layout-0-x-slide--comparison-page) .imageContainer .image {
  height: unset !important;
}

:global(.vtex-slider-layout-0-x-slide--comparison-page) .productBrand {
  font-size: 1rem !important;
  font-weight: 400 !important;
}

.productNameContainer--c-shelf-product-name {
  margin-right: 33px;
  margin-top: 41px;
}

/* Media Queries */

@media screen and (max-width: 40em) {
  .container :global(.vtex-modal-layout-0-x-triggerContainer) {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .clearLink--drawer-summary {
    max-height: 20rem;
    min-height: 20rem;
  }
}

/* CARD PLP MOBILE */

.vtex-product-summary-2-x-imageWrapper {
  margin-top: 53px !important;
}

@media (max-width: 1024px) {
  :global(.vtex-product-summary-2-x-nameContainer) .nameWrapper {
    margin: 0;
  }

  :global(.vtex-product-summary-2-x-nameWrapper) .brandName {
    font-family: "Roboto-Light";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 22px;
    /* or 110% */
    /* Grey */
    color: #43525a;
  }

  :global(.vtex-product-summary-2-x-imageWrapper) {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  :global(.vtex-product-summary-2-x-imageContainer) {
    width: 166px;
    height: 162px;
  }

  :global(.vtex-product-summary-2-x-containerNormal) {
    background-color: #ffffff;
    box-shadow: 0px 10px 20px rgba(242, 242, 245, 0.3);
    border-radius: 32px;
    width: 89.333vw !important;
    height: 100%;
    max-width: 335px !important;
    border-color: transparent;
    box-shadow: 0px 10px 30px #F3FAFD;
  }
}

/*Hover card mobile*/

@media (max-width: 992px) {
  :global(.vtex-product-summary-2-x-containerNormal) {
    box-shadow: 0px 10px 30px rgb(229 246 255 / 60%) !important;
  }
}

/* PLP CAROUSEL STYLE */

.image--c-shelf-image {
  width: 158px;
  height: 154px;
}

.imageContainer--c-shelf-image {
  width: 158px;
  height: 154px;
}

.imageWrapper--c-shelf-image {
  margin: 0px !important;
  width: unset !important;
  height: unset !important;
}

/*--------------- LANDING PAGE INNEX WASHING MACHINE ---------------------*/

.image--shelf-landing-image {
  margin: 2rem auto;
}

.nameContainer--shelf-landing-name {
  justify-content: none;
  text-align: center !important;
}

.containerNormal--shelf-landing-card {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem !important;
  max-height: 500px !important;
}

.nameWrapper--shelf-landing-name {
  margin: 0px !important;
}

.brandName--shelf-landing-name {
  color: #3e3e40 !important;
  background-color: rgba(0, 0, 0, 0);
  font-family: "Roboto-Light" !important;
  font-size: 17.6px !important;
  line-height: 20px !important;
  vertical-align: baseline !important;
  letter-spacing: normal !important;
  word-spacing: 0px;
  padding: 0px;
  font-weight: 300 !important;
  font-style: normal !important;
  font-variant: normal;
  text-transform: none;
  text-decoration: none solid rgb(67, 82, 90) !important;
  text-align: center !important;
  text-indent: 0px;
}

.skuNameContainer--shelf-landing-description {
  margin-top: 5px;
  color: #979899;
  background-color: rgba(0, 0, 0, 0);
  font-family: "Roboto-Light";
  font-size: 14px;
  line-height: 16px;
  vertical-align: baseline;
  letter-spacing: normal;
  word-spacing: 0px;
  padding: 0px;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-decoration: none solid rgb(67, 82, 90);
  text-align: center;
  text-indent: 0px;
  margin-bottom: 25px;
}

/*image container plp mobile*/

.image--image-container-product-mobile {
  width: unset !important;
}

/*COMPARISON PDP DESKTOP*/

.imageWrapper--comparisonDrawer {
  display: flex;
  justify-content: center;
}

.nameWrapper--nameProductCompare {
  margin-right: 0px !important;
}