.videoContainer--videoCottura {
  display: flex;
  justify-content: space-around;
  margin-top: 6rem;
  height: 65vh;
  padding-top: 1rem;
}
.videoElement--videoCottura {
  height: 58vh;
  width: 88vh;
}

/* Media Queries */
@media screen and (min-width: 421px) and (max-width: 700px) {
  .videoElement--videoCottura {
    height: 29vh;
    width: 51vh;
  }
  .videoContainer--videoCottura {
    height: 29vh;
    margin-top: 0rem;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 420px) {
  .videoElement--videoCottura {
    height: 25vh;
    width: 100%;
  }
  .videoContainer--videoCottura {
    display: flex;
    align-items: center;
    margin-top: 0rem;
    height: fit-content !important;
    margin-bottom: 2rem;
  }
}
