.buttonContainer :global(.vtex-button) {
	border: none;
	min-height: 1.875rem;
}

.buttonContainer :global(.vtex-button__label) {
	padding: 0 !important;
}
.proceedToCheckoutButtonContainer {
	display: flex;
	justify-content: center;
	padding: 1rem 0;
}
.proceedToCheckoutButton {
	color: #fff;
	font-size: 0.875rem;
	vertical-align: middle;
	border: none;
	border-radius: 0.25rem;
	cursor: pointer;
	padding: 0.7rem 3rem;
	min-height: 2rem;
	transition: all 0.2s ease;
}
.proceedToCheckoutButton:hover {
	transition: all 0.2s ease;
}

@media only screen and (min-width: 40em) {
	.box {
		max-width: 450px;
	}
}
