
/* .groupName--groupNameCaratt {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: #505050;
  text-transform: lowercase;
}
.specificationName--specNameCaratt {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1rem;
  line-height: 2rem;
  color: #505050;
}
.specificationValue--specValueCaratt {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 1rem;
  line-height: 2rem;
  color: #505050;
}
.groupName--specificationsGroupName {
  display: block;
  width: fit-content;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 0.875rem;
}
 */
/* :global(.vtex-product-specifications-1-x-specificationName) {
  text-transform: capitalize;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 16px;
  line-height: unset !important;
  color: #43525a;
} */

/* Media Queries */
/* @media only screen and (max-width: 600px) {
  .groupName--groupNameCaratt {
    padding-bottom: 0.625rem;
  }
} */
