.paymentSummaryContainer {
	margin-top: 1.5rem;
	padding: 1rem;
	border-radius: 0.5rem;
}
.creditCardIframe {
	min-width: 100%;
}
.summaryPaymentImage {
	height: 2rem;
	margin-right: 0.75rem;
}
.summaryPaymentImage > svg > :first-child {
	fill: transparent;
}
.paymentGroupContainer {
	border-style: solid;
	border-width: 1px;
	transition: all 0.3s ease;
}
.paymentGroupContainer:hover,
.paymentGroupContainer:hover .paymentMethodCheckContainer {
	border-color: #edb112;
	transition: all 0.3s ease;
}
.paymentMethodCheckContainer,
.paymentMethodCheckContainerWhite {
	border-width: 1px;
	border-style: solid;
	border-radius: 50%;
	margin-right: 1rem;
	transition: all 0.3s ease;
}
.paymentMethodCheckImage {
}
.paymentMethodName {
}
.StepHeaderText {
}
.StepHeaderTitleText {
}
.summaryPaymentName {
}
.paymentMethodImageContainer {
}
.paymentMethodImage {
}
.paymentMutationLogout {
	display: inline-block;
	position: absolute;
	top: 40%;
	right: 0;
}
.StepHeader {
	font-weight: normal;
	padding: 7px 0 !important;
	color: #323232;
	font-size: 20px;
	text-transform: initial;
}

.paymentEditButtonsContainer {
}
.paymentEditButtonsContainer button {
	color: #000;
}
.paymentEditButtonsContainer :global(.vtex__icon-edit) {
	width: 0.8rem;
	margin-right: 0.25rem;
	color: #000;
}
.paymentEditButton {
}
.containerPaypal {
}
