@font-face {
    font-family: 'myriadSemibold';
    src: url(assets/fonts/MyriadProSemibold.ttf);
  }
  @font-face {
    font-family: 'myriadBold';
    src: url(assets/fonts/MyriadPro-Bold.woff);
  }
  @font-face {
    font-family: 'myriadLight';
    src: url(assets/fonts/MyriadPro-Light.ttf);
  }
  @font-face {
    font-family: 'myriadRegular';
    src: url(assets/fonts/MyriadPro-Regular.woff);
  }
  @font-face {
    font-family: 'oswaldmedium';
    src: url(assets/fonts/Oswald-Medium.woff);
  }