.customAutocomplete{
    position: relative;
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
.customAutocomplete__spinner{
    height: 20px;
    margin-right: 10px;
    animation: rotation 1s infinite linear;
}
.customAutocomplete__wrapper{
    display: flex;
    width: 100%;
    position: relative;
}
.customAutocomplete__input{
    background-color: #e4e9eb;
    color: #495057;
    border: none;
    height: 30px;
    padding: .375rem .75rem;
    font-size: 1rem;
    z-index: 10;
    width: 100%;
}
.customAutocomplete__input:focus{
    color: #495057;
    background-color: #fff;
    border: 1px solid #8d8d8d;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(77,77,77,.25);
}
.customAutocomplete__search_btn{
    background-color: #deb01a;
    border-color: #deb01a;
    color: #f2f2f2;
    padding: .375rem 40px;
    height: 42px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 33px;
    margin-left: 20px;
}

.customAutocomplete__search_btn:focus{
    box-shadow: 0 0 0 0.2rem rgba(194,155,28,.5)
}
.customAutocomplete__search_btn:hover{
    background-color: #7a735c;;
    border-color: #b08c15;
}
.customAutocomplete__results{
    position: absolute;
    top: 44px;
    left: 0;
    border: 1px solid #c5c5c5;
    z-index: 20;
    background-color: #fff;
    width: 100%;
}
.customAutocomplete__results_link{
    color: #495057;
    border-bottom: 1px solid #4c5a6c;
    text-decoration: none;
}
.customAutocomplete__results_row{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #c5c5c5;
    height: 40px;
    padding: 0.375rem .75rem;
}
.customAutocomplete__results_row:hover{
    background-color: #e4e9eb;
    border: none;
}
.customAutocomplete__results_row_image{
    height: 20px;
    margin-right: 2px;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  @media only screen and (max-width: 750px)
{
    .customAutocomplete__results_row{
        width: 90vw;
        background-color: white;
        font-size: 14px;
    }
}