
.can_i_help 
  position: relative
  background: black
  p 
    position: absolute
    right: 0
    top: 20px
    color: #187c83
    background: white
    padding: 10px 15px
    border-radius: 7px
    font-weight: 500
  

.TertiaryVisible 
  visibility: hidden

.Tertiary
  position: fixed
  right: 8%
  right: 17%
  bottom: 12%
  z-index: 100
  min-width: 321px
  img 
    position: absolute
    right: -29%

  .toggle_tertiary 
    width: 26%
    cursor: pointer

  .Tertiary_1 
    background: white
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5)
    border-radius: 10px
    display: none
    .Tertiary_1_1 
      background: #003D58
      padding: 15px 30px
      border-top-left-radius: 9px
      border-top-right-radius: 9px
      p 
        color: white
        font-size: 17px
        font-weight: 500
    
      i 
        position: absolute
        right: 20px
        text-align: right    
      
    .Tertiary_1_2 
      padding: 0px 25px
      p 
        padding: 15px 0px
        border-bottom: 1px solid #F2F2F2
        font-size: 16px
        cursor: pointer
    
      a 
        color: black
    
      a:hover 
        color: #187c83
    
      p:last-of-type 
        padding: 15px 0px
        border-bottom: 1px solid #F2F2F2
        font-size: 16px
        box-shadow: 0 0 black
      
      i 
        position: absolute
        right: 20px
        color: #187c83
        cursor: pointer
      
      
    .Tertiary_1_3 
      padding: 15px 40px
      background: #F2F2F2
      h3 
        font-size: 20px
        font-weight: 400
        padding: 0px 10px
      
      i 
        position: absolute
        left: 20px
        font-size: 24px
        
    

  .Tertiary_2 
    background: #187c83
    position: absolute
    margin-top: 10px
    box-shadow: 0px 2px 4px #000000
    width: 100%
    padding: 10px 0px
    border-radius: 7px
    .col-xs-2 
      i 
        font-size: 40px
        color: white
        position: absolute
        top: 5px
        
    
    .col-xs-10 
      p:first-of-type 
        color: white
        font-weight: 500
        font-size: 18px
      
      p 
        font-size: 16px
    

.nirepair.whats
  display: none

.chatStatus
  margin-bottom: 60px
  display: none
  
  img
    right: auto
    left: -7px
    bottom: -25px
    
  &.on
    img
      cursor: pointer





.Tertiary_Chat, .chatSelect
  background: white
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5)
  border-radius: 10px
  display: none
  
.Tertiary_Chat p, .chatSelect p
  padding: 0px 25px
  color: black

.Tertiary_Chat .header, .chatSelect .header 
  background: #003D58
  border-top-left-radius: 9px
  border-top-right-radius: 9px

.Tertiary_Chat .header i.toggle_chat.ion-close,  .chatSelect  .header i.toggle_chat.ion-close
  float: right
  padding-right: 3px

.Tertiary_Chat .footer, .chatSelect .footer
  background: #003D58
  border-bottom-left-radius: 9px
  border-bottom-right-radius: 9px
  color: white

// .Tertiary_Chat .footer i.ion-chevron-left

.Tertiary_Chat .header p, .chatSelect .header p
  color: white
  font-size: 17px
  font-weight: 500
  padding-left: 15px

.Tertiary_Chat  p, .chatSelect  p
  padding: 5px 15px
  border-bottom: 1px solid #F2F2F2
  font-size: 16px
  cursor: pointer
  color: black

.Tertiary_Chat p a, .chatSelect p a
  color: #000

.Tertiary_Chat p.footer a, .chatSelect p.footer a
  color: #FFF

.Tertiary_Chat  p i.ion-chevron-right.overlay_takeover, .chatSelect p i.ion-chevron-right.overlay_takeover
  float: right
  padding-right: 5px
  color: #187c83

.btn-disabled
  background: #ccc
  border: 1px solid #ddd
  padding: 5px 25px
  color: #FFF
  margin: 10px 10px 10px 0
  display: inline-block

