
.cx-webchat .cx-form input {
  margin-top: 11px;
  border-radius: 6px;
  padding: 10px;
  border-color: #ececec;
  height: 38px !important;
}
.cx-widget {
    width: 500px;
    z-index: 10;
    right: 0;
    position: absolute;
    background-color: #FFF;
padding: 20px;
border: solid     #000 3px;
}
.cx-icon {
 width: 20px;
 background-repeat: no-repeat;
    background-image: url('/arquivos/hotpoint_logo___3927a2d45acb52eb29e628b69dfb65d9.png');
}
.cx-titlebar{
  background: linear-gradient(
    270deg
    ,#282828 0,#000)!important;
}
.cx-powered-by svg {
 width: 20%;
}

.cx-common-container .cx-titlebar {
  padding: 0;
}

.cx-widget.cx-theme-light .cx-form-inputs label {
  color: #000000 !important;
}
.cx-widget.cx-theme-light .cx-btn-primary {
  color: #FFFFFF !important;
}





.cx-widget .cx-titlebar .cx-icon svg {
    display: none;
}
@media only screen and (min-width : 768px) {
  .cx-widget {
    max-width: 375px !important;
  }
}
.cx-widget.cx-common-container {
	   width: 100%;
    z-index: 999;
    border: none !important;
    box-shadow: 0px 0px 20px #777;
    position:fixed !important;
}
 .cx-widget.cx-theme-light .cx-footer {
    display: none !important;
}

.cx-widget.cx-theme-light .cx-titlebar .cx-title {

    display: none !important;
}.cx-button-group .cx-btn {
    border-radius: 50px;
    width: 45%;
}
.cx-widget.cx-theme-light .cx-btn-default {
    background: none;
    border-color: #1d1d1d !important;
    color: #1d1d1d;
    background-color: #fff;
    box-sizing: border-box;
    display: none;
}
.cx-widget.cx-theme-light .cx-btn-primary {
    background: none;
    color: #1d1d1d;
    box-sizing: border-box;
}
.cx-side-button-group {
display: none;
}
.cx-webchat .cx-form table th {
padding-top: 20px;
}

.cx-widget.cx-theme-light * {
    border-color: grey;
}
.cx-buttons-window-control svg path, .cx-buttons-window-control svg rect {
  fill: #fff !important;
}
.cx-form.cx-form-horizontal{
  padding: 15px 20px !important;
  margin-bottom: 60px;
}
.cx-common-container .cx-titlebar .cx-icon {
  width: 100%;
  height: 22px;
  float: inherit !important;
background-size: contain;
  margin-top: 0;
}
.cx-buttons-window-control .cx-icon{
  background: none;
}

.cx-buttons-window-control .cx-icon svg path{
  fill: #fff;
}


.cx-webchat .cx-form input, .cx-widget .cx-form select {
    margin-top: 11px;
}
.cx-webchat .cx-form table td {

    width: 100%;
    padding: 0px 0;

}




.cx-webchat .cx-form table td {
    padding: 0px 4px;
}
.cx-widget {
    width: 500px;
    z-index: 10;
    right: 0;
    position: absolute;
    background-color: #FFF;
padding: 0px;
border: solid     #000 3px;
}
.cx-icon {
 width: 20px;
}

.cx-powered-by svg {
 width: 20%;
}

.cx-form-inputs {
padding-top: 10px;
font-weight: bolder;
}

#cx_chat_error_desc {
    text-align: center;
    padding: 15px 0;
}

.cx-webchat .cx-form {
    padding: 0;
}

.cx-common-container .cx-titlebar {
  padding: 0;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  padding: 15px 20px;
}

.cx-widget.cx-theme-light .cx-titlebar .cx-title {
  color: #187c83 !important;
}
.cx-widget.cx-theme-light .cx-form-inputs label {
  color: #000000 !important;
  font-weight: normal;
}
.cx-widget.cx-theme-light .cx-btn-primary {
  color: #FFFFFF !important;
  border-color: #187c83 !important;
  background: linear-gradient(180deg,#187c83 0,#187c83) !important;
}





.cx-widget .cx-titlebar .cx-icon svg {
    display: none;
}
.cx-widget {
    z-index: 999;
    border: none !important;
  /*  box-shadow: 0px 0px 20px #777; */
    position:fixed !important;
}
 .cx-widget.cx-theme-light .cx-footer {
    display: none !important;
}

.cx-widget.cx-theme-light .cx-titlebar .cx-title {
    color: #187c83
 !important;

    display: none !important;
}.cx-button-group .cx-btn {
    border-radius: 50px;
    width: 45%;
}
.cx-widget.cx-theme-light .cx-btn-default {
    background: none;
    border-color: #1d1d1d !important;
    color: #1d1d1d;
    background-color: #fff;
    box-sizing: border-box;
}
.cx-widget.cx-theme-light .cx-btn-primary {
    background: none;
    color: #1d1d1d;
    box-sizing: border-box;
}
.cx-side-button-group {
display: none;
}

.cx-smokescreen {
  border-radius: 9px;
}
.cx-alert{
  height: 100%;
}
.cx-wrapper{
  margin: 0;
}
.cx-webchat .cx-form table th {
padding-top: 10px;
}
.cx-widget.cx-theme-light * {
    border-color: rgb(255, 255, 255);
}


.cx-close-cancel{
  display: block !important;
}


.cx-widget.cx-common-container.cx-webchat {
  right: 5px !important;
  border-radius: 9px;
  bottom:5px !important;
}

.cx-widget.cx-window-manager.cx-theme-light {
  display: none;
}

.cx-control-label {
  display: block;
}
#cx_chat_end_question {
	  margin: 10px;
  }

  th.chtra {
	  padding-top: 0 !important;
  }
  th.chtra input {
	  float: right !important;
  }
  td.chtra {
	 text-align: left !important;
  }

.chtra label{
  display: block;
  margin-top: 13px;
}
.cx-message svg path, .cx-message svg polygon{
  fill: #000 !important;
}
.whirlpool .cx-common-container .cx-titlebar .cx-icon {
  height: 63px;
}
.indesit .cx-common-container .cx-titlebar .cx-icon {
  height: 48px;
}
.whirlpool .cx-widget.cx-theme-light .cx-btn-primary {
  background: linear-gradient(180deg,#deb01a 0,#deb01a) !important;
}
.indesit .cx-widget.cx-theme-light .cx-btn-primary {
  background: linear-gradient(180deg,#0090d0 0,#0090d0) !important;
}
.important .cx-widget.cx-theme-light .cx-btn-primary {
	border-color: #deb01a !important;
}
.whirlpool .cx-widget.cx-theme-light .cx-btn-primary {
	border-color: #0090d0 !important;
}

.cx-bubble-arrow{
  display: none !important;
}
@media (max-width: 767.98px) {
.cx-common-container .cx-titlebar .cx-icon {
height: 20px;
margin-bottom: 10px;
margin-top:2px;
}
.can_i_help{
  display: none !important;
}
.cx-widget.cx-common-container.cx-webchat {
	padding-top:3px
}
.cx-webchat .cx-transcript .cx-message-group .cx-message .cx-bubble {
padding-top: 0 !important;
padding-bottom: 0 !important;
padding-left: 10px !important;

}

.cx-webchat .cx-transcript {
  padding: 0px;
  padding-right: 10px;
  }

  .cx-webchat div.cx-input-container {
    padding: 8px;
    }
.cx-webchat div.cx-input-container .cx-input.cx-disabled {

    opacity: .5;

}
.cx-webchat div.cx-input-container .cx-message-input {
line-height: 14px;
/*	margin-bottom: 0; */
}

.cx-transcript-view {
	padding: 10px !important;
}

}
