@font-face {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Gotham Pro"),
    url("https://fonts.cdnfonts.com/s/12664/GothaProReg.woff") format("woff");
}
@font-face {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Gotham Pro"),
    url("https://fonts.cdnfonts.com/s/12664/GothaProBla.woff") format("woff");
}
@font-face {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Gotham Pro"),
    url("https://fonts.cdnfonts.com/s/12664/GothaProLig.woff") format("woff");
}
@font-face {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  src: local("Gotham Pro"),
    url("https://fonts.cdnfonts.com/s/12664/GothaProMed.woff") format("woff");
}
@font-face {
  font-family: "Gotham Pro";
  font-style: italic;
  font-weight: 400;
  src: local("Gotham Pro"),
    url("https://fonts.cdnfonts.com/s/12664/GothaProLigIta.woff") format("woff");
}
@font-face {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 700;
  src: local("Gotham Pro"),
    url("https://fonts.cdnfonts.com/s/12664/GothaProBol.woff") format("woff");
}
@font-face {
  font-family: "Gotham Pro Medium";
  font-style: italic;
  font-weight: 500;
  src: local("Gotham Pro Medium"),
    url("https://fonts.cdnfonts.com/s/12664/GothamProMediumItalic.woff")
      format("woff");
}

.catalogMenuWrapper {
  display: flex;
  height: 50%;
  align-self: center;
  font-family: gothamproregular;
}

.calatogMenuContainer {
  position: fixed;
  top: 119px;
  left: 0px;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: flex;
  font-family: gothamproregular;
  background-color: rgba(35,31,32,0.4);
}

.catalogMenuPrimaryData {
  width: 30%;
  background: #f4f4f4;
  height: 60%;
}

.catalogMenuCategoriesContainer {
  width: 70%;
  background: #ffffff;
  display: flex;
  height: 60%;
  flex-direction: column;
  padding-left: 50px;
}

.catalogMenuCategoriesContent {
  width: 50%;
  font-size: 14px;
  padding: 7px;
  color: #000000;
  cursor: pointer;
  text-decoration: none;
}

.catalogMenuCategoryItemsWrapper {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.catalogMenuItemText {
  width: 100%;
  color: #000000;
  text-align: center;
  margin: 10px 0px;
  cursor: pointer;
}

.calatogMenuOverlayHandler {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.catalogMenuSpecialOffersA, .catalogMenuSpecialOffersA:visited {
  text-decoration: none;
  color:#000000;
}