/*-------------MOBILE-------------*/
.catlogButtonDiv {
  display: flex;
  height: 38px;
  align-self: center;
}
.catlogButton {
  background: none;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  padding: 0;
  margin: 0;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonImage {
  height: 20px;
  width: 20px;
  padding: 0;
}
.catalogMenuContainer {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 99999999;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #42536a;
  overflow: hidden;
  transition: all 0.4s ease;
}
.catalogMenuLeftMobile {
  width: 100%;
  background: #42536a;
  transition: all 0.5s ease;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 12.5rem;
}
.catlogueCloseMobileContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.closeIcon {
  padding: 1rem;
  width: 1rem;
}
.collapsibleContainer {
  width: 100%;
  margin-bottom: 1rem;
}
.collapsibleContainer > div > div > div:last-child {
  display: none;
}
.collapsibleContainer > div > div > div:first-child {
  display: flex;
}
.collapsibleContainer > div > div:last-child {
  background-color: #f5f3ef;
}
.catlogueTitleMobile {
  padding: 1rem 0;
  margin: 0 1rem;
  width: 100%;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  border-bottom: 1px solid rgba(147, 192, 255, 0.5);
}
.catalogueTitleLabel {
  margin: 0;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
}
.accordionArrowIcon {
  transition: all 0.2s ease;
}
.accordionMenuContainer {
  flex-direction: column;
  margin: 0rem 1rem;
}
.leftMenuLabel {
  width: 100%;
  text-align: left;
  cursor: pointer;
  position: relative;
  padding: 1rem 0;
  border-bottom: 1px solid rgba(141, 140, 136, 0.3);
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.linkCatalogueLabel {
  text-decoration: none;
}
.labelP {
  margin: 0;
  color: #3d3c3a;
  text-transform: uppercase;
  font-family: "openSans";
}
.accordionArrowIconCategories {
  transform: rotate(180deg);
}
.childrenContainer {
  width: calc(100% - 2rem);
  margin: 0 auto;
}

/*-------------DESKTOP-------------*/
.catalogRow {
  margin: 0 2rem;
}
.catalogRowButton {
  display: flex;
  justify-content: space-between;
  padding-left: 1rem;
  background: #fafafa;
}
.catalogRowLabelLink {
  display: flex;
  text-decoration: none;
}
.catalogRowLabel {
  margin: 1rem 0;
  font-size: 0.9rem;
  color: #505050;
}
.brandsAndButtonContainer {
  display: flex;
}
.catalogButton {
  height: 100%;
  background-color: #42536a;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  cursor: pointer;
}
.catalogButtonLink {
  text-decoration: none;
}
.catalogButtonLabel {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.7rem;
  /* margin-right: 1rem; */
  /* margin-top: 1px; */
}
.catalogButtonIconContainer {
  height: 18px;
  width: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalogButtonIcon {
}
.catalogCategoriesContainer {
  background-color: #42536a;
  transition: all 0.3s ease;
  overflow: hidden;
  display: flex;
}
.itemsContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem 0 2rem;
}
.itemTitle {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.subItemTitleContainer {
  display: flex;
  flex-direction: column;
}
.subItemTitleContainerColumns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}
.subItemTitleLink {
  text-decoration: none;
  padding: 0.7rem 0;
}
.subItemTitle {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9rem;
}

/*------- BRAND MENUS -------*/
.brandsContainer {
  display: flex;
}
.brandImageContainer {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 100%;
}
.brandImageContainer:hover {
  background-color: #dee0e3;
  transition: all 0.3s ease;
}
.brandImageLink {
  display: flex;
  align-items: center;
}
.brandImage {
  width: 90%;
}
.brandMenuCategoriesContainer {
  background-color: #dee0e3;
  transition: all 0.3s ease;
  overflow: hidden;
  display: flex;
}
.itemTitleBrand,
.subItemTitleBrand {
  color: #000;
}
.itemTitleBrand {
  font-weight: 600;
}
.itemTitleImageLink {
  margin-top: 0.83rem;
}
.itemTitleImage {
  max-width: 6rem;
}
/*--- Media query (DESKTOP) ---*/
@media only screen and (min-width: 1024px) {
  .catalogCategoriesContainer {
    justify-content: space-between;
    padding: 0 2%;
  }
  .itemsContainerAppliances {
    padding: 1rem 0 0 0 !important;
  }
}
@media only screen and (min-width: 1300px) {
  .itemsContainer {
    padding: 1rem 4% 0 4%;
  }
}
@media only screen and (max-width: 1024px) {
  .itemTitleImage {
    max-width: 5rem;
  }
}
