.container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
}
.formContainer {
  width: 50%;
  margin: auto;
}
.formContainer div {
  border: none;
}
.formContainer input {
  border-bottom: 0.0625rem solid #e7e7e7;
  border-radius: 0;
}
.formContainer :global(.vtex-styleguide-9-x-dropdown){
  border-bottom: 0.0625rem solid #e7e7e7;
  margin-top: 1.255rem;
}
.singleSelectProvincia {
  border-bottom: 0.0625rem solid #e7e7e7;
}
.supportReturn {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.singleInput {
  width: 45%;
  padding-bottom: 1.5rem;
}
.consenso :global(.vtex-checkbox__line-container) {
  text-align: justify;
}
@media (max-width: 600px) {
  .groupInput {
    width: 95%;
    margin: auto;
    flex-direction: column !important;
  }
  .singleSelect, .singleSelectProvincia, .singleInput, .formContainer{
    width: 95%  !important;
  }
  .imageDropdownMatricola{
    flex-direction: column !important;
    align-items: center;
  }
  .matricola{
    margin: 3rem 0;
  }
  .matricola p{
    text-align: center;
    line-height: 1.5;
    width: 90%;
  }
  .singleSelect :blobal(.vtex-styleguide-9-x-dropdown ){
    background-color: #ea1d24;
  }
}
/* @media (max-width: 600px) {
} */
.inputTitle {
  /* display: block;
  text-transform: uppercase;
  font-family: "karlabold", Arial;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.875rem;
  color: #7b7b7b; */
  display: block;
  text-transform: uppercase;
  padding-top: .5rem;
  text-align: left;
  font-family: "myriadRegular",Arial;
  font-weight: 400;
  font-size: .75rem;
  line-height: 1.1875rem;
}
.inputTitle label{
  margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
.requiredInput:after{
  content: '*';
    padding-left: .1875rem;
}
.input [type="text"] {
  width: 100%;
  display: block;
  border: 0;
  margin-bottom: 0;
  border-bottom: none;
  color: #282828;
  padding: 0 0 0.3125rem;
  background: 0 0;
  height: 1.5625rem;
  font-family: "myriadRegular", Arial;
  font-weight: 400;
  line-height: 1.25rem;
}
.textArea {
  width: 100%;
  border-bottom: none;
  background: 0 0;
  height: 1.5625rem;
  resize: none;
  height: 100%;
  border: 0.0625rem solid #c6c6c5;
  padding: 0.3125rem;
  font-size: 1.125rem;
  line-height: 1.25rem;
  color: #282828;
}

@media (min-width: 768px) {
  .m-form-item__textarea textarea {
    padding: 1.25rem;
  }
}

.inputError {
  color: #ea1d24;
  font-family: "myriadRegular", Arial;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.2;
}
.campiObbligatori{
  text-align: end;
  margin-bottom: 2rem;
}
.inviaButton{
  margin: auto;
  margin-bottom: 3rem;
  text-align: center;
}

.formLink{
  color: #edb112;
  text-decoration: none;
}
.groupInput{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.groupInput .singleInput{
  width: 100%;
  margin: 0 1rem ;
}

.singleSelect{
  width: 50%;
    margin: auto;
    border-bottom: 1rem solid #000000;
    border-radius:0;
    padding: .875rem;
    height: 3.75rem;
}

.singleSelect :global(.vtex-styleguide-9-x-container), .singleSelect :global(.vtex-styleguide-9-x-container) select{
  border: .0625rem solid #e7e7e7;
  border-radius: 0;
  padding: .875rem;
  height: 3.75rem;
  font-family: "myriadRegular",Arial;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.25rem;
  color: #000000 !important;
}
.singleSelectProvincia :global(.vtex-styleguide-9-x-container), .singleSelectProvincia :global(.vtex-styleguide-9-x-container) select{
  /* border: .0625rem solid #e7e7e7; */
  border-radius: 0;
  /* padding: .875rem; */
  /* height: 3.75rem; */
  font-family: "myriadRegular",Arial;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.25rem;
  color: #000000 !important;
}
.singleSelectProvincia :global(.vtex-styleguide-9-x-container) div{
  padding: 0;
}

/* .singleSelect :global(.vtex-styleguide-9-x-container) select{
  border: .0625rem solid #e7e7e7;
  border-radius: 0;
  padding: .875rem;
  height: 3.75rem;
  font-family: "myriadRegular",Arial;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.25rem;
  color: #000000 !important;
} */
.singleSelectMotivo{
  width: 100%;
}
.title{
  padding: 0 1.25rem;
  margin-top: 1.25rem;
  font-family: "myriadLight",Arial;
  font-weight: 400;
  font-size: 1.5625rem;
  line-height: 2.625rem;
  text-align: center;
  min-width: auto;
}
.title1{
  margin-top: 7rem;
}
.paragraphh{
  width: 100%;
  text-align: center;
}
.paragraphh p{
  text-align: center;
}
.imageDropdown img{
  display: flex;
    margin: auto;
    padding:  2.5rem 0;
}
.consenso{
  width: 100%;
  margin-bottom: 3rem;
  margin-top: 3rem;
}
.imageDropdownMatricola{
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.imageDropdownMatricola .matricola{
  width: 75%;
}
.consenso :global(.vtex-checkbox__container){
  /* background-color: #03054e;*/
  border-color: #e3e4e6;
  border-style: solid;
  border-width: 1px;
}
.formLink{
  text-decoration: none;
  color: #edb112;
}
.singleSelectProdotto{
  width: 50%;
  margin: 0 auto;
  border: 0.0625rem solid #e7e7e7 !important;
  /* padding: .875rem; */
  height: 3.75rem;
  line-height: 1.5625rem;
  color: #353535;
  font-family: "myriadRegular",Arial;
  font-weight: 400;
  font-size: 1.125rem;
  position: relative;
  z-index: 1;
  min-height: 1.875rem;
  border-radius: 0;
  display: block;
}
.singleSelectProdotto :global(.vtex-styleguide-9-x-dropdown){
  border:0 ;
}
.singleSelectProdotto :global(.vtex-styleguide-9-x-container){
  background-color: #f9f9f9;
}
.widerDiv{
  width: 100vw;
  left: 0;
  margin-left: -25vw;
  background-color: #f9f9f9;
  padding: 3.75rem 0;
} 
@media (max-width: 600px) {
  .widerDiv{
    margin-left: 0;
    padding: 1.75rem 0;
    width: 100%;
  }
  .singleSelectProdotto{
    width: 100%;
  }
  .imageDropdownMatricola{
    width: 100%;
  }
  .imageDropdownMatricola .matricola{
    width: 100%;
    padding-left: 1.25rem;
  }
}
.asterisco{
  padding: 0 1.25rem;
    display: block;
    text-align: left;
    margin-top: 3.125rem;
    margin-bottom: 6.25rem;
    font-family: "myriadLight",Arial;
    font-weight: 400;
    font-size: .75rem;
    line-height: 1.125rem;
}
.loaderForm {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  background: #edb112;
  background: -moz-linear-gradient(
    left,
    #edb112 10%,
    rgba(237, 177, 18, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    #edb112 10%,
    rgba(237, 177, 18, 0) 42%
  );
  background: -o-linear-gradient(left, #edb112 10%, rgba(237, 177, 18, 0) 42%);
  background: -ms-linear-gradient(left, #edb112 10%, rgba(237, 177, 18, 0) 42%);
  background: linear-gradient(to right, #edb112 10%, rgba(237, 177, 18, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loaderForm:before {
  width: 50%;
  height: 50%;
  background: #edb112;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}
.loaderForm:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.messageText {
  margin-bottom: 2rem;
}