/* ADDRESS FORM */
.addressSumbitButton {
}
.addressSumbitButton > button {
	width: 50%;
}
.addressSumbitButton > button:hover {
	transition: all 0.3s ease;
}
.addressInput {
	margin: 0.5rem 0 0 0;
}
.addressInput :global(.vtex-input__label),
.addressInput :global(.vtex-dropdown__label) {
	color: #999999;
}
.tripleInputsContainer {
	margin-top: 0.5rem;
}
.tripleInputsContainer .addressInput {
	width: 32%;
	margin: 0;
}

/* ADDRESS SUMMARY */
.addressSummaryContainer {
	border-radius: 0.4rem;
	margin-bottom: 1rem;
}
.addressSummaryLeftPart {
}
.addressSummaryLabel {
}
.addressIcon {
}
.addressWrapper {
}

.addressButtonEdit {
}
.addressSummaryEditButtonsContainer {
}
.addressSummaryEditButtonsContainer button {
	color: #000;
}
.addressSummaryEditButtonsContainer :global(.vtex__icon-edit) {
	color: #000;
}
.addressSummaryEditButton {
	color: #000;
}
