.shippingSumbitButton {
	margin-top: 1rem;
}

/*--- SUMMARY ---*/
.shippingSummaryContainer {
	margin-top: 1.5rem;
	padding: 2rem;
	border: 1px solid #e3e4e6;
	border-radius: 0.5rem;
}

.shippingSummaryAddress {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-bottom: 0.75rem;
	border-bottom: 1px solid #e3e4e6;
}
