@font-face {
  font-family: "myriadSemibold";
  src: url("https://frwhirlpool.vtexassets.com/assets/vtex/assets-builder/frwhirlpool.whl-theme/1.0.176/fonts/MyriadPro-Semibold___ffcc398cb9cf6322ad0199a1df31465a.woff");
}

@font-face {
  font-family: "myriadBold";
  src: url("https://frwhirlpool.vtexassets.com/assets/vtex/assets-builder/frwhirlpool.whl-theme/1.0.176/fonts/MyriadPro-Bold___b9b51aac18642ae93026cd88040ecdee.woff");
}

@font-face {
  font-family: "myriadLight";
  src: url("https://frwhirlpool.vtexassets.com/assets/vtex/assets-builder/frwhirlpool.whl-theme/1.0.176/fonts/MyriadPro-Light___dc24bfc91795c749b98a965a17b4a528.woff");
}

@font-face {
  font-family: "myriadRegular";
  src: url("https://frwhirlpool.vtexassets.com/assets/vtex/assets-builder/frwhirlpool.whl-theme/1.0.176/fonts/MyriadPro-Regular___19f755b0b4141292293e82e13307b5c5.woff");
}

body {
  padding-bottom: 0 !important;
}

.checkout-header-logo {
  display: block;
  max-width: 10rem;
}

.container-header {
  height: 6.1875rem;
  border-bottom: 0.0625rem solid #f2f2f2;
  background-color: white;
  margin-bottom: 5vh;
}

.header-content {
  max-width: 1280px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  padding-left: 2vw;
}
.preorderLabel {
  color: #edb112;
  font-size: 0.875rem;
}

@media screen and (min-width: 82rem) {
  .header-content {
    padding-left: 0;
  }
}

.btn-success {
  font-family: "myriadSemibold", Arial;
  font-size: 14px;
}

.energyLabelImage {
  width: 3rem;
}

#cart-coupon {
  border: 0.125rem solid #979797;
  border-radius: 1.5625rem;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  margin: 0;

  font-size: 15px;
  padding: 0px 20px;
}

#cart-coupon-add {
  color: black;
  font-weight: 600;
  border: 0.125rem solid #979797;
  border-radius: 1.5625rem;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border-left: none;

  padding: 7px 30px;
  font-size: 15px;
  text-transform: uppercase;
}

#cart-coupon,
#cart-coupon-add {
  height: 55px !important;
  line-height: 45px !important;
}

.table.cart-items td.product-name a,
.table.cart-items td.product-name a:hover {
  font-weight: normal;
}

.summary-template-holder .tfoot .tr .td.monetary,
.full-cart .summary-totalizers .monetary,
.table.cart-items tbody tr td i.icon-question-sign,
.summary-template-holder .summary-coupon p.coupon-fields span.info>span {
  color: black;
}

.box-client-info-pj .links .link {
  padding: 7px 7px 7px 0;
}

.box-client-info-pj .corporate-title {
  background-color: #dddddd;
  padding: 7px;
}

.box-client-info-pj .corporate-info-box {
  margin-top: 15px;
}

.add-service-container .add-service .btn .btn-mini,
.table.cart-items tbody tr td.product-name .add-service.btn {
  border: 1px solid black !important;
  color: black !important;
}

.cart-more-options .srp-container .onda-v1 .blue {
  border-color: black;
  color: black;
}

.onda-v1 .hover-b--light-blue,
.onda-v1 .hover-b--light-blue:focus,
.onda-v1 .hover-b--light-blue:hover {
  background-color: lightgrey;
}

/* accordion del checkout a step */
body.js-vcustom-hideEmailStep .client-profile-data .accordion-toggle>span:before,
body.v-custom-step-shipping .shipping-data .accordion-toggle:before {
  background-color: black;
  border-color: black;
}

.accordion-group.client-profile-data.active,
#shipping-data,
#payment-data,
.accordion-group.client-profile-data.filled {
  background-color: #ffffff !important;
}

.accordion-group.client-profile-data.active,
.activeSection {
  border-bottom: 3px solid #edb112 !important;
}

#shipping-data input,
#shipping-data select,
.accordion-group.client-profile-data.active input,
.accordion-group.client-profile-data.active select {
  background: #f9f9f9 !important;
  border-radius: 5px !important;
}

.accordion-heading i.icon-edit:after {
  content: "Modifica";
  font-family: "myriadSemibold";
  text-decoration: underline;
  padding-left: 0.3rem;
}

.client-pre-email h3.client-pre-email-h span:before,
.client-profile-data .accordion-toggle>span:before,
.shipping-data .accordion-toggle:before,
.payment-data .accordion-toggle>span:not(.payment-edit-link):before {
  background: #edb112 !important;
  border-color: #edb112 !important;
  color: white !important;
}

.orderform-template .cart-template.mini-cart .summary-totalizers tfoot tr td.monetary {
  color: black;
}

#scheduled-delivery-choose-Normal.vtex-omnishipping-1-x-dateLink {
  border-color: black;
  color: black;
}

#scheduled-delivery-delivery svg.vtex-omnishipping-1-x-svg path {
  fill: black;
}

a.vtex-omnishipping-1-x-linkEdit .link-edit,
.orderform-template-holder .step.shipping-data .vtex-omnishipping-1-x-linkEdit {
  color: black;
}

#orderform-minicart-to-cart {
  color: black;
  font-size: 14px;
}

svg.srp-icon-radio-selected path {
  fill: black;
}

i.icon-edit {
  color: black;
}

.headerCustom {
  background-color: white;
  padding: 1.5rem 3.75rem;
  border-bottom: 1px solid #f2f2f2;
}

.containerFooter {
  padding-top: 11rem;
  padding-bottom: 10.625rem;
  max-width: unset;
  width: 100%;
  background-color: #f9f9f9;
}

.footerContent {
  padding: 0 2.25rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: row;
  margin: 0;
}

.primaColonna {
  flex: 20%;
}

.secondaColonna {
  display: flex;
  flex: 80%;
}

.rowInfoWhl {
  flex-direction: column;
  display: flex;
}

.rowInfoWhl a,
.rowInfoWhl a:hover,
.colonnaInterna a,
.colonnaInterna a:hover {
  text-decoration: none;
  display: block;
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 0.875rem;
  color: #3f3f40;
  line-height: 1.5rem;
  text-transform: unset;
  letter-spacing: normal;
  margin: 0 1.5rem;
  padding: 0.25rem 0;
}

.rowInfoMarchi {
  flex-direction: row;
  display: flex;
}

.firstRowInfoWhl {
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: #353535;
  padding: 2.1875rem 2.1875rem 2.1875rem 0;
}

.rowInfoMarchi {
  flex: 100%;
  margin-top: 6.25rem;
}

.rowInfoMarchi p {
  margin: 0 3.125rem 0 0;
  color: #9b9b9b;
  display: block;
  font-family: "myriadSemibold";
  font-weight: 400;
  font-size: 1.125rem;
}

.colonnaInterna {
  flex-direction: column;
  display: flex;
  flex: 25%;
}

.colonnaInterna p {
  letter-spacing: 0.125rem;
  font-family: "myriadSemibold";
  font-weight: 400;
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #353535;
  line-height: 1.5rem;
  margin: 0;
}

.normativaFGAS {
  margin: 0px;
  text-align: justify;
}

.heading--fgas {
  text-align: left;
  margin: 0.5rem 0 1rem;
  font-family: "myriadSemibold";
  text-transform: uppercase;
  font-size: 0.9rem;
  color: #999;
}

.paragraph--fgas {
  color: #505050;
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3125rem;
}

.fgasPDF {
  display: flex;
  flex-direction: row;
  margin-top: 12px;
}

.fgasPdfText {
  margin: -14px -40px;
}

/* Gifted accessories margin bottom*/
@media only screen and (min-width: 768px) {
  .cart-select-gift-placeholder {
    margin-bottom: 2rem !important;
  }
}

@media only screen and (max-width: 767px) {
  .input-xlarge {
    min-height: unset;
  }
}

@media only screen and (max-width: 600px) {
  .extra-services-checkbox {
    background: #ffffff;
  }

  .normativaFGAS {
    margin: 139px 0px 0px 92px;
  }

  .primaColonna,
  .secondaColonna,
  .rowInfoMarchi {
    width: 100%;
  }

  .primaColonna {
    margin-bottom: 2.5rem;
  }

  .rowInfoMarchi {
    flex-direction: column;
    margin-top: 2.5rem;
  }

  .rowInfoMarchi p {
    margin-bottom: 0.9375rem;
  }
}

.linkGoToShop {
  position: absolute;
  left: -8%;
  top: 50%;
  transform: rotate(-90deg) translateY(-50%);
}

.linkGoToShopCheck {
  position: absolute;
  left: -8%;
  top: 50%;
  transform: rotate(-90deg) translateY(-50%);
}

@media only screen and (max-width: 1200px) and (min-width: 1000px) {
  .linkGoToShopCheck {
    position: absolute;
    top: -7%;
    left: 50%;
    transform: translateX(-50%);
  }

  .linkGoToShop {
    position: absolute;
    top: -8%;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: 1000px) and (min-width: 600px) {
  .linkGoToShopCheck {
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translateX(-50%);
  }

  .linkGoToShop {
    top: -4%;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media only screen and (max-width: 600px) {
  .linkGoToShopCheck {
    position: absolute;
    width: fit-content;
    font-size: 18px;
    top: -2%;
    left: 50%;
    transform: translateX(-50%);
  }

  .linkGoToShop {
    width: fit-content;
    font-size: 18px;
    top: -3%;
    left: 50%;
    transform: translateX(-50%);
  }
}

#cart-to-orderform {
  /*color: transparent;*/
  display: flex;
  justify-content: center;
}

/*#cart-to-orderform::after {
          content: "Scopri di più";
          position: absolute;
          text-transform: uppercase;
          color: white;
        }*/
.vtex-omnishipping-1-x-productItems {
  display: none !important;
}

p.input.ship-number label[for="ship-complement"]:after {
  content: " civico";
}

p.input.ship-complement label[for="ship-complement"]:after {
  content: "Informazioni aggiuntive indirizzo";
  position: absolute;
  top: 0;
  left: 0;
  visibility: visible;
}

label[for="v-custom-ship-street"]:after {
  content: "Indirizzo";
  position: absolute;
  top: 0;
  left: 0;
  visibility: visible;
}

label[for="ship-postalCode"]:after {
  content: "Codice postale";
  visibility: visible;
  position: absolute;
  top: 0;
  left: 0;
}

label[for="ship-postalCode"] {
  visibility: hidden;
  position: relative;
}

p.input.ship-complement label[for="ship-complement"] {
  visibility: hidden;
  position: relative;
}

label[for="v-custom-ship-street"] {
  visibility: hidden;
  position: relative;
}

p.corporate-field.custom-corporate-document2 label::after {
  content: " *";
}

p.corporate-field.user-country-field.invoice-address-input label::after {
  content: " *";
}

p.corporate-field.custom-corporate-street.invoice-address-input label::after {
  content: " *";
}

p.corporate-field.half.custom-corporate-number.invoice-address-input label::after {
  content: " *";
}

p.corporate-field.custom-corporate-postal-code.invoice-address-input label::after {
  content: " *";
}

p.corporate-field.custom-corporate-city.invoice-address-input label::after {
  content: " *";
}

p.corporate-field.custom-corporate-state.invoice-address-input label::after {
  content: " *";
}

fieldset#requestInvoice::before {
  content: "(*) Campi obbligatori";
  position: relative;
  top: 0.5rem;
}

.checkboxRed {
  outline: 2px solid #dd4b39 !important;
}

.buttonContinuaShopping {
  display: flex;
  height: 3em;
  border-radius: 5px;
  border: none;
  opacity: 0.5;
  margin: 30px auto 0;
}

.buttonContinuaShopping:hover {
  opacity: 1;
}

.buttonSvg {
  padding-left: 15px;
  margin: auto;
  display: flex;
}

.buttonSvg svg {
  width: 15px !important;
}

.labelButtonContinuaShopping {
  margin: auto;
  padding: 0.5em 1em;
}

.continuaAcquisti:hover,
.continuaAcquisti:focus {
  color: unset;
  text-decoration: none;
}

#shipping-preview-container {
  display: none;
}

.v-custom-trservice-wrap {
  background-color: white !important;
}

.available-gift .active {
  background-color: white !important;
}

.v-custom-trservice-wrap .quantity {
  display: none !important;
}

.loaderShipping {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: #edb112;
  background: -moz-linear-gradient(left,
      #edb112 10%,
      rgba(237, 177, 18, 0) 42%);
  background: -webkit-linear-gradient(left,
      #edb112 10%,
      rgba(237, 177, 18, 0) 42%);
  background: -o-linear-gradient(left, #edb112 10%, rgba(237, 177, 18, 0) 42%);
  background: -ms-linear-gradient(left, #edb112 10%, rgba(237, 177, 18, 0) 42%);
  background: linear-gradient(to right, #edb112 10%, rgba(237, 177, 18, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loaderShipping:before {
  width: 50%;
  height: 50%;
  background: #edb112;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: "";
}

.loaderShipping:after {
  background: #ffffff;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

#loginButton {
  color: #edb112;
  cursor: pointer;
}

#loginButton:hover {
  text-decoration: underline;
}

#shipping-preview-container {
  visibility: hidden;
}

.logo {
  width: 7.1875rem;
  height: 2.375rem;
}

.socialNetwork {
  width: 100%;
  flex-wrap: nowrap;
  display: flex;
}

.socialNetwork a {
  width: 2rem;
  margin: 0 0.25rem;
}

.rowPay {
  margin: 1rem 0;
}

svg#paymentCard {
  width: 100%;
}

.rowPayFirst {
  display: none;
}

@media only screen and (max-width: 1100px) {
  .footerContent {
    flex-direction: column-reverse;
  }

  .secondaColonna {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .secondaColonna .colonnaInterna {
    width: 50%;
  }

  .footerContent {
    padding: unset;
  }

  .logo {
    margin: auto;
    width: 192px;
    padding: 2rem 0;
  }

  .firstRowInfoWhl {
    text-align: center;
    padding: 2rem 0;
    width: 20%;
    margin: auto;
  }

  .socialNetwork {
    display: flex;
    justify-content: center;
  }

  .containerFooter {
    padding: 4rem 0;
  }

  .rowPayFirst {
    display: block;
    margin: 1rem auto;
  }

  .containerFooter {
    padding: 1rem 0;
  }

  .rowPay {
    display: none;
  }
}

.containerFooter {
  display: none;
}

@media only screen and (max-width: 600px) {
  .continuaAcquisti {
    display: flex;
    justify-content: center;
    background: white;
    padding: 0.5rem 0 0 0;
  }

  .buttonContinuaShopping {
    margin: 0;
  }
}

.custom-cart-template-wrap .shipping-date {
  display: none;
}

.custom-cart-template-wrap .description {
  justify-content: flex-end !important;
}

[data-i18n="clientProfileData.notice"] {
  display: none;
}

label[data-i18n="clientProfileData.email"]::after {
  content: " *";
}

label[data-i18n="clientProfileData.firstName"]::after {
  content: " *";
}

label[data-i18n="clientProfileData.lastName"]::after {
  content: " *";
}

label[data-i18n="clientProfileData.phone"]::after {
  content: " *";
}

p.note-label::after {
  content: "Note dell'ordine  (max 216 caratteri)";
  font-size: 13px;
}

label[for="cart-note"] {
  display: none;
}

.item-unavailable {
  outline: 2px solid #ffe699 !important;
  background: transparent;
}

.unavailable {
  background: transparent !important;
}

.newsletter {
  margin-bottom: 1rem;
}

.box-client-info span.error {
  font-size: 11px;
  width: 100%;
}

.available-gift-item {
  z-index: 0 !important;
}

/* EXTRA SERVICES - CUSTOMIZATION */
.custom-extra-services {
  /*margin-left: 130px;*/
  background: #f9f9f9;
  width: 100%;
  padding: 1rem;
  border-top: 1px solid #c9c9c9;
  border-bottom: 3px solid #edb112;

  width: 100% !important;
  position: static !important;
  min-width: 250px;
  top: calc(100% - 200px);
  left: 0;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.containerCheckbox {
  display: flex;
  flex-wrap: wrap;
}

.extra-services-checkbox {
  flex: 100% 0;
  margin: 0.5rem 0.5rem;
}

.extra-services-label {
  padding: 0.5rem;
  background: white;
  border-radius: 5px;
  display: flex;

  color: #505050;
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;
}

.title-custom-extra-services {
  font-family: "myriadSemibold";
  line-height: 1.625rem;
  color: #353535;
  font-size: 0.9rem;

  display: block;
  order: -1;
  width: 100%;
}

.title-custom-extra-services i {
  display: none;
}

.table.cart-items tbody tr {
  align-items: start;
}

.tooltip {
  position: relative;
  display: inline-block;
  opacity: 1;
  margin-left: 0.5rem;
  align-items: center;
  display: flex;
  z-index: unset;
}

.tooltip .tooltiptext {
  visibility: hidden;
  box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%);
  background-color: white;
  width: 15rem;
  color: #505050;
  padding: 1rem;
  text-align: center;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media only screen and (max-width: 600px) {
  .tooltip {
    display: none;
  }
}

.table.cart-items tbody tr td .product-service {
  /*height: calc(135px + 10px) !important;*/
  position: static;
}

@media screen and (max-width: 690px) {
  .table.cart-items tbody tr td .product-service {
    top: 170px;
    position: absolute;
  }
}

@media screen and (max-width: 567px) {
  .table.cart-items tbody tr td .product-service {
    top: 180px;
  }
}

@media screen and (max-width: 423px) {
  .table.cart-items tbody tr td .product-service {
    top: 215px;
  }
}

@media screen and (max-width: 394px) {
  .table.cart-items tbody tr td .product-service {
    top: 260px;
  }
}

form.product-service fieldset.form-inline,
tr.item-service {
  display: none !important;
}

.extra-services-preselected {
  /*margin-bottom: 15px;*/
  flex: 100% 0;
  margin: 0.5rem 0.5rem;

  color: #505050;
  font-family: "myriadLight";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;
}

.preselected-service {
  padding: 0.5rem;
  background: white;
  border-radius: 5px;
  display: flex;
  /*font-size:13px;*/
}

.extra-services-label {
  position: relative;
  font-size: 15px;
}

.extra-services-input {
  margin-right: 0.5rem !important;
  /*margin: 0px !important;*/
}

.extra-services-price {
  position: absolute;
  right: 20px;
  display: unset;
}

.preselected-service-name {
  font-size: 16px;
}

.preselected-service-icon {
  color: #edb112;
}

.title-custom-extra-services {
  font-weight: bold;
  font-size: 16px;
}

.title-custom-extra-services i {
  margin-right: 5px;
}

/* VTEX - LOADER */
.customShow {
  display: inline !important;
  margin-top: 0px;
}

/* REPLY STYLES */
.couponTitle,
.cart-items [data-i18n="global.product"],
.cart-items [data-i18n="global.price"],
.cart-items [data-i18n="global.quantity"] {
  color: black;
  text-align: left;
  margin: 0.5rem 0 1rem;
  font-family: "myriadSemibold";
  text-transform: uppercase;
  font-size: 0.9rem;
}

#cart-coupon {
  border-radius: 5px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-width: 1px;
  border-right: unset;
}

#cart-coupon-add {
  border-radius: 5px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  background-color: #edb112;
  color: white;
  font-weight: 300;
  border-width: 1px;
  border-color: #edb112;
}

#cart-coupon-add:hover {
  background: #faca4b;
  border: 1px solid #faca4b;
}

.titoloCarrello {
  text-align: center;
  font-size: 2rem;
  margin: 2rem 0 0.5rem;
  font-family: "myriadLight";
  font-weight: 500;
}

.couponTitle {
  margin: 1rem 0;
}

.ivaMessage {
  color: #999;
  font-size: 0.7rem;
  font-weight: normal;
}

/* FIX TABLE ROWS - SERVICES */
.v-custom-product-item-wrap {
  align-items: end !important;
}

/* END: FIX TABLE ROWS - SERVICES */

/* NEW STYLES */
.full-cart .totalizers tfoot td {
  font-size: 23px;
  font-weight: inherit !important;
}

th.product-price {
  text-align: center !important;
}

i.icon-info {
  color: black;
  border: 1px solid;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  text-align: center;
  font-size: 9px;
}

.summary-template-holder tbody {
  border-top: none !important;
}

.summary-template-holder tbody td {
  color: black !important;
}

.summary-template-holder tfoot tr td {
  margin-top: 15px !important;
}

.summary-template-holder .cart-links-bottom {
  margin: 25px 0 0 0 !important;
}

.orderform-template .cart-template.mini-cart .summary-totalizers tfoot tr td {
  font-size: 23px !important;
  font-weight: normal !important;
}

.orderform-template .cart-template.mini-cart h2 {
  font-weight: normal !important;
  font-size: 24px !important;
}

.client-pre-email h3.client-pre-email-h span:before,
.client-profile-data .accordion-toggle>span:before,
.shipping-data .accordion-toggle:before,
.payment-data .accordion-toggle>span:not(.payment-edit-link):before {
  width: 40px !important;
  height: 40px !important;
  line-height: 40px !important;
}

.orderform-template .cart-template.mini-cart .summary-totalizers tbody td {
  font-size: 15px !important;
  padding: 0 0 10px 0 !important;
}

#requestInvoice .checkbox {
  font-size: 14px;
  padding-bottom: 10px;
  padding-top: 15px;
}

.invoice-text::after {
  content: "(Non è prevista la fatturazione con P.Iva)";
  font-size: 12px;
  margin-left: 0.5rem;
  color: #999999;
}

/* HIDDEN NATIVE BLOCKS */
.client-document {
  display: none;
}

form.product-service {
  display: none;
}

p.add-service-container {
  display: none;
}

/* FIXING CHECKOUT */
div.vtex-omnishipping-1-x-address div p.input.ship-complement {
  display: none;
}

#requestInvoice .invoice-text {
  display: block;
  padding-top: 2px;
  font-size: 13px;
}

.corporate-field.custom-corporate-terms span {
  display: block;
  padding-top: 1px;
}

.newsletter-text {
  display: block;
  padding-top: 1px;
}

@media screen and (max-width: 450px) {
  .payment-paypal-postscript {
    background-size: 60px;
  }

  #requestInvoice .checkbox {
    font-size: 13px !important;
  }

  .corporate-field.custom-corporate-terms span {
    display: block;
    padding-top: 9px;
    bottom: 5px;
    position: relative;
  }
}

label.checkbox.newsletter-label {
  text-align: justify;
}

@media screen and (max-width: 370px) {
  .payment-paypal-postscript {
    background-size: 50px;
  }
}

@media screen and (max-width: 295px) {
  .payment-paypal-postscript {
    background-size: 40px;
  }
}

@media (max-width: 490px) {
  .vtex-omnishipping-1-x-dateLink {
    width: calc(100vw - 75px) !important;
  }
}

/*  CUSTOM EXTRA SERVICES */
.custom-extra-services {
  border-bottom: 3px solid #edb112 !important;
}

.preselected-service-icon {
  color: #edb112 !important;
}

.extra-services-label {
  font-family: "myriadLight" !important;
}

.title-custom-extra-services {
  font-family: "myriadSemibold" !important;
}

.extra-services-preselected {
  font-family: "myriadLight" !important;
}

/* CHECKOUT-UI-CUSTOM FIX */
BODY.v-custom-addressForm-on.v-custom-googleForm-on .vtex-omnishipping-1-x-addressForm,
BODY.v-custom-addressForm-on.v-custom-googleForm-on .vtex-omnishipping-1-x-btnDelivery {
  display: none;
}

.vcustom--vtex-omnishipping-1-x-address__state .ship-state {
  margin-top: 0 !important;
}

.vcustom--vtex-omnishipping-1-x-address__state label[for="ship-state"] {
  display: block !important;
}

.vcustom--vtex-omnishipping-1-x-address__state .ship-state:before {
  content: "";
  font-size: 0;
}

label[for="ship-country"] {
  font-size: 0 !important;
  visibility: hidden;
}

label[for="ship-country"]:before {
  content: "Stato";
  color: #999999;
  font-size: 13px;
  visibility: visible;
  line-height: 16px;
}

.summary-template-holder tfoot tr td.monetary {
  width: auto;
}

/*Pagodil*/

.noClick {
  pointer-events: none;
}

.pagodilMessage {
  padding-left: 2rem;
  text-align: justify;
}

#error-message-pagodil {
  padding-left: 2rem;
  text-align: justify;
}

#payment-group-custom202PaymentGroupPaymentGroup+div .installments span[data-bind="text: text"] {
  display: block;
}

/**SERVIZI AGG**/
.loaderShipping.productServicePrice {
  width: 20px;
  height: 20px;
  position: absolute;
  right: 20px;
  z-index: 9999;
  margin: 0;
}

.extra-services-price {
  display: block !important;
  color: #505050;
  font-size: 0.875rem;
  font-family: "myriadSemibold";
}

.price-strike {
  color: #a2a2a2;
  text-decoration: line-through;
  font-size: 0.8rem;
  margin-right: 0.5rem;
  font-family: "myriadLight";
}

.table.cart-items tbody tr.product-item {
  min-height: 470px;
  align-items: flex-start;
}

.service-free {
  color: #edb112;
}

/* PAYMENT ICONS */
.orderform-template-holder #payment-data .v-custom-payment-item-wrap .pg-carte-di-credito.payment-group-item#payment-group-custom202PaymentGroupPaymentGroup:after {
  content: "";
  display: inline-block;
  background-image: url(/arquivos/credit_cards_logo.png);
  background-repeat: no-repeat;
  background-position: right center;
  /* background-size: 100% auto; */
  height: 2.5rem;
  width: 100%;
  position: relative;
}

.orderform-template-holder #payment-data .v-custom-payment-item-wrap .payment-group-item#payment-group-payPalPaymentGroup:after {
  content: "";
  background-image: url(/arquivos/paypal_logo.png);
  height: 2.5rem;
  margin-left: 1rem;
}

.orderform-template-holder #payment-data .v-custom-payment-item-wrap .payment-group-item#payment-group-SatispayPaymentGroup:after {
  content: "";
  display: inline-block;
  background-image: url(https://itwhirlpool.vtexassets.com/assets/vtex.file-manager-graphql/images/dd4a78bb-ca23-407f-94e6-6f058c525561___bcabdfd6b6fa431b780b974d173f62c3.jpg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 50px;
  height: 2.5rem;
  width: 100%;
  position: relative;
}

.orderform-template-holder #payment-data .v-custom-payment-item-wrap .pg-carte-di-credito.payment-group-item.active#payment-group-custom202PaymentGroupPaymentGroup:after {
  left: 42% !important;
}

.orderform-template-holder #payment-data .v-custom-payment-item-wrap .payment-group-item.active#payment-group-SatispayPaymentGroup:after {
  left: 45% !important;
}

.orderform-template-holder #payment-data .payment-group-item.active:after {
  border-color: transparent !important;
}

.satispayBox {
  display: flex;
  flex-direction: column;
}

.satispayBoxTitle,
.satispaySubTitle {
  color: #f94f46;
}

.satispayBoxTitle {
  text-align: center;
}

.satispaySubTitle {
  font-size: 1.25rem;
  font-weight: 100;
}

.satispayBoxes {
  display: flex;
  justify-content: space-between;
}

.satispaySubBox {
  display: flex;
  flex-direction: column;
  max-width: 33%;
  padding: 0 .5rem;
}

.satispayDescription {
  margin-top: .5rem;
  font-weight: 100;
}

.satispayDescriptionLittle {
  font-size: 0.8rem;
  text-align: center;
}

#sastispaySibling {
  padding: .5rem !important;
}

.satispayImgGrey {
  background-color: #FAFAFA;
  justify-content: center;
  align-items: center;
}

.sastispayImg {
  width: 100px;
  height: 50px;
  object-fit: contain;
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .orderform-template-holder #payment-data .v-custom-payment-item-wrap .pg-carte-di-credito.payment-group-item#payment-group-custom202PaymentGroupPaymentGroup:after {
    background-image: url(/arquivos/credit_cards_mobile_logo.png);
    height: 3.5rem;
  }

  .satispayBoxes {
    flex-direction: column-reverse;
  }

  .satispaySubBox {
    max-width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 450px) {
  .orderform-template-holder #payment-data .v-custom-payment-item-wrap .pg-carte-di-credito.payment-group-item.active#payment-group-custom202PaymentGroupPaymentGroup:after {
    left: 34% !important;
  }
}

/* Energy label */
.orderform-template .cart-template.mini-cart .item .price {
  margin-left: auto;
}

.orderform-template .cart-template.mini-cart .item .description {
  align-items: center;
}