/*@font-face {
  font-family: "quicksandRegular";
  src: url(assets/fonts/Quicksand-Regular.woff);
}

@font-face {
  font-family: "quicksandBold";
  src: url(assets/fonts/Quicksand-Bold.woff);
} */

/* @font-face {
  font-family: "quicksandLight";
  src: url(assets/fonts/Quicksand-Light.woff);
} */
/*
@font-face {
  font-family: "quicksandMedium";
  src: url(assets/fonts/Quicksand-Medium.woff);
} */
@font-face {
  font-family: 'myriadBold';
  src: url(assets/fonts/MyriadPro-Bold.woff);
  font-display: swap;
}
@font-face {
  font-family: 'myriadLight';
  src: url(assets/fonts/MyriadPro-Light.woff);
  font-display: swap;
}
