.custom_search {
  width: 100%;
  position: relative;
}

.custom_search_input_plp {
  height: 40px;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #FFFFFF;
  text-indent: 10px;
  font-size: 0.8rem;

}
.custom_search_input{
  height: 60px;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid rgb(210, 208, 208);
  
  text-indent: 10px;
  padding: 10px;
  padding-left: 15px;
  padding-top: 15px;
  font-size: 0.8rem;

}
.custom_search_input_plp:focus ~ label,
.custom_search_input_plp:hover ~ label {
  color: #007d69;
}
.no_results{
  position: absolute;
  top: 65px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #f2f4f5;
  display: flex;
  z-index: 10;
  flex-direction: column;
  
  max-height: 300px;
  max-height: 300px;
  overflow-y: auto;
  padding: 20px;
}
.custom_search_input:focus ~ label,
.custom_search_input:hover ~ label {
  color: #007d69;
}

.custom_search_input:hover,
.custom_search_input:active,
.custom_search_input:focus {
  border-color: #007d69;
  outline: none;
}


.custom_search_input_selected {
  border-color: #007d69;
  outline: none;
  pointer-events: none;
}

.custom_search_input_selected ~ label {
  color: #007d69;
}

.custom_search_results {
  position: absolute;
  top: 65px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #f2f4f5;
  display: flex;
  z-index: 10;
  flex-direction: column;
  
  max-height: 300px;
  max-height: 300px;
  overflow-y: auto;
}
.custom_search_results_plp{
  top: 45px;
}
.custom_search_results_wrapper {
  overflow: auto;
}

.custom_search_results_item {
  padding: 10px;
  border-bottom: 1px solid #f2f4f5;
  width: 100%;
  text-decoration: none;
  color: #000;
  display: flex;
  font-size: 0.8rem;
  align-items: center;
  background-color: #fff;
}

.custom_search_results_wrapper .custom_search_results_item:last-of-type {
}

.custom_search_results_item b {
  color: #007d69 !important;
  margin-bottom: 0;
}

.custom_search_results_item p {
  margin-top: 5px;
  margin-bottom: 0;
}

.custom_search_results_item:hover {
  cursor: pointer;
  background-color: #f2f2f2;
}

.custom_search_results_item_selected {
  background-color: #f2f2f2;
}

.custom_search_results_item_standalone {
  position: absolute;
  top: 4px;
  left: -8px;
  background: #fff;
  width: fit-content;
  transform: scale(0.8);
  border: none;
  pointer-events: none;
}

.custom_search_results_item_standalone:hover {
  background: #fff;
}

.iconSearch {
  position: absolute;
}

.custom_search_icon {
  height: 20px;
  position: absolute;
  right: 15px;
  top: 20px;
}
.custom_search_icon_spare_plp {
  height: 20px;
  position: absolute;
  right: 15px;
  top: 10px;
}
.custom_search_loading_icon{

  animation: rotation 2s infinite linear;
}
.custom_search_icon_close {
  cursor: pointer;
}

.custom_search_local_check {
  background-color: #f2f4f5;
  padding: 7px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  flex-direction: column;
}

.custom_search_local_check_wrap {
  display: flex;
  align-items: center;
}

.custom_search_local_check_icon {
  height: 20px;
  margin-right: 10px;
}

.custom_search_local_check_label {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.custom_search_local_check_label a {
  color: #000;
  margin: 0;
  font-weight: bold;
  margin-left: 5px;
}

.custom_search_local_check_label p {
  color: #000;
  margin: 0;
}

.custom_search_wrapper {
  display: flex;
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 50px;
}

.custom_search_hero {
  position: relative;
  width: 50%;
}

.custom_search_h2 {
  margin-bottom: 40px;
}

.custom_search_h1 {
  position: absolute;
  top: 30px;
  left: 20px;
  background-color: #007d69eb;
  color: #fff;
  font-size: 0.9rem;
  max-width: 280px;
  padding: 30px 20px;
  
  padding-right: 50px;
}

.custom_search_actions {
  width: 50%;
  padding: 40px;
  border: 1px solid #f2f2f2;
  margin-top: -30px;
  margin-bottom: -20px;
}

.custom_search_input_wrapper {
  position: relative;
}

.custom_field_search {
  display: flex;
  width: 100%;

}
.icon_search{
  width: 20px ;
  height: 20px;
  cursor: pointer;
  max-width: none;
}
.custom_icon_container {
  background-color: #007d69;
  width: 45px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -10px;
}
.custom_icon_container_plp{
  background-color: #FFFFFF;
  padding: 20px;

}

.custom_search_input_label {
  position: absolute;
  font-size: 0.75rem;
  background-color: #fff;
  top: -10px;
  left: 15px;
  padding: 5px 10px;
  font-weight: 600;
}

.custom_search_results_item_wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  justify-content: center;
}

.custom_search_results_count {
  display: flex;
  padding: 10px;
  color: #007d69;
  justify-content: flex-end;
  font-weight: 600;
  font-size: 0.8rem;
}

.dropdown {
  width: 300px;
  background-color: white;
  width: 100%;
  position: relative;
  margin-top: 50px;
}

.dropdown-header {
  padding: 15px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  border: 1px solid rgb(210, 208, 208);
  font-size: 0.8rem;
  height: 60px;
  color: rgb(164 152 179);
  padding-left: 25px;
}

.dropdown-header::after {
  content: "";
  display: block;
  width: 0.375rem;
  height: 0.375rem;
  border: solid #007d69;
  border-width: 0 0.125rem 0.125rem 0;
  transform: rotate(311deg);
  position: absolute;
  right: 25px;
  z-index: 0;
}

.dropdown-header:hover {
  border-color: #007d69;
}

.dropdown-header:hover + label {
  color: #007d69
}

.dropdown-body {
  position: absolute;
  top: 65px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #f2f4f5;
  display: none;
  z-index: 10;
  flex-direction: column;
  
  max-height: 200px;
  overflow: auto;
  padding-top: 20px;
  padding-bottom: 20px;

}

.dropdown-body.open {
  display: block;
}

.dropdown-item {
  padding: 10px;
  font-size: 0.8rem;
}

.dropdown-item:hover {
  cursor: pointer;
  color: #007d69;
}

.dropdown-item-dot {
  opacity: 0;
  color: #007d69;
  transition: all .2s ease-in-out;
  margin-right: 5px;
}

.dropdown-item-dot.selected {
  opacity: 1;
}

.icon {
  font-size: 13px;
  color: #91A5BE;
  transform: rotate(0deg);
  transition: all .2s ease-in-out;
}

.icon.open {
  transform: rotate(90deg);
}

.dropdown_selected .dropdown-header {
  color: #007d69;
  font-weight: 600;
}

.dropdown_open .dropdown-header::after {
  transform: rotate(45deg);
}

.dropdown_disabled .dropdown-header {
  border-color: rgb(210, 208, 208);
  color: rgb(210, 208, 208);
  font-weight: 600;
  cursor: not-allowed;
  pointer-events: none;
}

.dropdown_disabled .dropdown-header::after {
  border-color: rgb(210, 208, 208);
}

.dropdown_disabled:hover {
  cursor: not-allowed;
}

.dropdown_disabled label {
  color: rgb(210, 208, 208) !important;
}

.perform_search_link {
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

.perform_search_icon {
  position: absolute;
  height: 30px;
  right: 25px;
  top: 15px;
}

.perform_search_link:hover .perform_search_icon {
  animation: bounce 0.5s;
}

.perform_search_link:hover .perform_search {
  /*box-shadow: 3px 11px 41px -8px rgb(178 76 36 / 75%);*/
}

.perform_search_link:hover .perform_search_disabled {
  box-shadow: none;
}

.perform_search_link:hover .perform_search_disabled + .perform_search_icon {
  animation: none;
}

.perform_search {
  background-color: #007d69;
  color: #fff;
  padding: 15px;
  width: 100%;
  
  display: block;
  text-decoration: none;
  margin-top: 60px;
  font-weight: 400;
  font-size: 1.1rem;
  padding-left: 25px;
  height: 60px;
  display: flex;
  align-items: center;
}

.perform_search_link_disabled {
  pointer-events: none;
}

.perform_search_disabled {
  background-color: #f2f2f2;
  color: #a2a2a2;
  pointer-events: none;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(-10px);
  }
  60% {
    transform: translateX(-5px);
  }
}

@media only screen and (max-width: 1024px) {
  .custom_search_hero {
    display: none
  }

  .custom_search_actions {
    width: 100%;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

}
