    body {
        font-family: quicksandRegular, arial;
    }
    
    .customProductDescriptionTitle {
        color: #3AB5BE;
        font-size: 1.3rem;
        font-weight: 700;
    }
    
    .cleaningAndCareWrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .customProductName {
        font-size: 1.5rem;
        margin-top: 0px;
    }
    
    .customProductNamePlp {
        font-size: 1.2rem;
        font-weight: 700;
        margin-top: 10px;
    }
    
    .Breadcrumbs {
        max-width: 96rem;
        margin: 5px auto;
        padding-left: 10px;
    }
    
    .Breadcrumbs_link {
        text-decoration: none;
        color: #837f7f;
        text-transform: capitalize;
        font-size: 0.8rem;
    }
    
    .Breadcrumbs_links {
        text-transform: capitalize;
        display: flex;
        align-items: center;
    }
    
    #fits-appliance {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    
    .wrongFg {
        text-decoration: none;
        color: #333;
        font-weight: bold;
    }
    
    .wrongFg:hover {
        color: #3AB5BE;
    }
    
    .Breadcrumbs_separator {
        margin: 0 5px;
        font-family: QuicksandBold, arial!important;
        color: #505050;
        font-size: 0.8rem;
    }
    
    .Breadcrumbs_current {
        color: #505050;
        font-weight: bolder;
        font-size: 0.8rem;
    }
    
    .cleaningAndCare {
        position: relative;
        display: flex;
        padding-bottom: 20px;
        align-items: center;
        margin: 20px auto;
        margin-bottom: 80px;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .cleaningAndCareHasBorder {
        border-bottom: 1px solid #3AB5BE;
    }
    
    .cleaningAndCareCategoryArrow {
        position: relative;
        color: #3AB5BE;
        top: 43px;
        font-size: 25px;
        transform: rotate(270deg);
        background: #fff;
        line-height: 15px;
        text-align: center;
        width: 26px;
        height: 25px;
        left: 45%;
        top: 13px;
    }
    
    .cleaningAndCareImg {
        margin: 0 auto;
        max-width: 67%;
    }
    
    .cleaningAndCareCategory,
    .cleaningAndCareSubCategory {
        margin-right: 20px;
        padding: 10px;
        border: 1px solid;
        cursor: pointer;
        background-color: #adaeb2;
        color: #fff;
        height: 58px;
        line-height: 37px;
        text-decoration: none;
    }
    
    .cleaningAndCareCategory {
        margin-right: 20px;
        min-width: 200px;
        text-align: center;
        line-height: 19px;
        margin-top: 10px;
    }
    
    .cleaningAndCareCategory:hover {
        border: 1px solid #3AB5BE;
        background-color: #3AB5BE;
    }
    
    .cleaningAndCareSubCategory {
        min-width: 160px;
        line-height: 19px;
    }
    
    .cleaningAndCareCategoryActive,
    .cleaningAndCareSubCategoryActive {
        border: 1px solid #3AB5BE;
        background-color: #3AB5BE;
    }
    
    .cleaningAndCareSubCategory .subCategory.active {
        margin-right: 20px;
    }
    
    .cleaningAndCareSubCategoryWrapper {
        position: absolute;
        top: 90px;
        display: flex;
        left: 0;
    }
    
    .cleaningAndCarePreview {
        width: 100%;
    }
    
    .cleaningAndCarePreviewText {
        max-width: 67%;
        margin: 0 auto;
        text-transform: capitalize;
        margin-top: 50px;
        font-size: 1.4rem;
        color: #3AB5BE;
        font-weight: bold;
    }
    
    .customSearch {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 50px 0;
    }
    
    .customSearchHide {
        display: none;
    }
    
    .customSearchInner {
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    
    .relatedProductsWrapper {
        display: flex;
        flex-wrap: wrap;
    }
    
    .relatedProductsTitle {
        margin: 40px 0;
        width: 100%;
        text-align: center;
        font-size: 2rem;
    }
    
    .relatedProductsCard {
        width: 30%;
        border: 1px solid #F2F2F2;
        padding: 20px;
        margin-right: 20px;
        display: flex;
        flex-direction: column;
        text-decoration: none;
        color: black;
        margin-top: 20px;
    }
    
    .realtedProductsCardRow {
        display: flex;
    }
    
    .realtedProductsCardSecondRow {
        display: flex;
        align-items: center;
        margin-top: 15px;
    }
    
    .relatedProductsCardImage {
        width: 40%;
    }
    
    .relatedProductsCardRight {
        display: flex;
        flex-direction: column;
        padding-left: 2%;
    }
    
    .relatedProductsCardPrice,
    .relatedProductsCardButtonWrapper {
        width: 50%;
    }
    
    .relatedProductsCardPriceText {
        font-size: 1.75rem;
        color: #3AB5BE;
        font-weight: bold;
    }
    
    .relatedProductsCardIcon {
        margin-right: 10px;
    }
    
    .plpTitle {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 120px;
        background-color: #f2f2f2;
        font-size: 1.5rem;
        text-transform: uppercase;
    }
    
    .reusableMain {
        width: 16%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin: 10px 15px 10px 0;
        transition: 0.2s ease-in-out;
        border: 1px solid rgb(216, 216, 216);
    }
    
    .reusableMain:hover {
        cursor: pointer;
        transform: scale(1.04);
    }
    
    .reusableA {
        text-decoration: none;
        color: black;
        width: 100%;
    }
    
    .customSearchCard {
        width: 180px;
        height: 180px;
        margin: 10px;
        font-weight: 600;
        padding: 10px 5px;
        color: black;
        text-decoration: none;
        border: 1px solid #F2F2F2;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    
    .customSearchCard:hover {
        color: #1FB5BE;
        border-color: #1FB5BE;
    }
    
    .customSearchCardImage {
        width: 100px;
    }
    
    .titleQuantity {
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    
    .mainHeaderDiv {
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        background-color: #eed9aa;
        margin-top: 10px;
    }
    
    .mainHeaderHide {
        display: none;
    }
    
    .iconScrew {
        width: 38px;
        height: 38px;
        margin-right: 10px;
    }
    
    .kitItemsMain {
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin-left: 20px;
    }
    
    .kitItemsMainInner {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-top: 1px solid gray;
        margin-top: 20px;
    }
    
    .imageKitDiv {
        margin-right: 20px;
    }
    
    .kitImages {
        width: 100%;
        max-width: 300px;
        max-height: 300px;
    }
    
    .kitAmountNumber {
        font-weight: bold;
    }
    
    .imageKitDiv,
    .kitItemNameDiv {
        width: 35%;
    }
    
    .imageKitDiv:hover {
        cursor: pointer;
    }
    
    .kitAmount,
    .kitItemPrice {
        width: 15%;
    }
    
    .headerKits {
        display: flex;
        width: 100%;
        margin-top: 30px;
        font-weight: bold;
    }
    
    .headerKitBlank,
    .headerKitName {
        width: 35%;
    }
    
    .headerKitQuantity,
    .headerKitPrice {
        width: 15%;
    }
    
    .mobileMenuTest {
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        transition: 5s linear;
    }
    
    .hamburgerIcon {
        /*padding-right: 30px;*/
        padding-right: 15px;
    }
    
    .logoAndIconDiv {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .logoMobile {
        /*margin-left: 23px;*/
        height: 44px;
        margin-top: 8px;
    }
    
    .customAutoCompleteWrapper {
        width: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }
    
    .customAutocomplete {
        position: relative;
        display: flex;
        align-items: center;
        width: 90%;
        margin: 0 auto;
        border-radius: 10px;
    }
    
    .customAutocomplete__subtitle {
        text-align: center;
        margin-top: 40px;
        margin-bottom: 20px;
        font-size: 1.7rem;
        font-weight: 500;
    }
    
    .customAutocomplete__title {
        text-align: center;
        margin-bottom: 40px;
        font-size: 2rem;
        font-weight: 500;
        margin-top: 40px;
    }
    
    .customAutocomplete__paragraph {
        font-size: 1.25rem;
        width: 95%;
        margin: 10px auto;
        text-align: center;
    }
    
    .readMoreContent {
        font-weight: bold;
        font-size: 0.9rem;
        letter-spacing: 1px;
        text-align: center;
        cursor: pointer;
    }
    
    .readMoreContainer {
        display: flex;
        flex-direction: column;
    }
    
    .customAutocomplete__spinner {
        height: 25px;
        /*margin-right: 15px;*/
        margin-left: 15px;
        animation: rotation 1s infinite linear;
        position: absolute;
        /*top: 10px;*/
        margin: auto 0 auto 15px;
        z-index: 999;
        height: 20px;
        left: -5px;
    }
    
    .customAutocomplete__wrapper {
        display: flex;
        width: 100%;
        position: relative;
        align-items: center;
        background-color: white;
        border-radius: 5px;
    }
    
    .customAutocomplete__input {
        background-color: #e4e9eb;
        color: #495057;
        border: none;
        line-height: 24px;
        height: 40px;
        padding: 6px 40px;
        font-size: 15px;
        z-index: 10;
        width: 100%;
        border-radius: 5px 0 0 5px;
    }
    
    .customAutocomplete__input_short {
        height: 28px;
    }
    
    .customAutocomplete__input:focus {
        color: #495057;
        outline: 0;
        /*border: 1px solid #8d8d8d;
        box-shadow: 0 0 0 0.2rem rgba(77, 77, 77, .25);*/
    }
    
    .customAutocomplete__homeButton {
        background-color: #3AB5BE;
        color: #fff;
        text-transform: uppercase;
        padding: 20px;
        max-width: 250px;
        margin: 40px auto 50px auto;
        text-align: center;
        border-radius: 5px;
    }
    
    a .customAutocomplete__homeButton {
        text-decoration: none!important;
    }
    
    .customAutocomplete__paragraph a {
        text-decoration: none!important;
        color: black;
        font-weight: bold;
    }
    
    .customAutoplete__linkButton {
        text-decoration: none;
    }
    
    .alertButton {
        background-color: #3AB5BE;
        border-color: #3AB5BE;
        color: #f2f2f2;
        padding: .375rem 40px;
        height: 42px;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 33px;
        margin-left: 20px;
    }
    
    .alertButton:focus {
        box-shadow: 0 0 0 0.2rem rgba(194, 155, 28, .5)
    }
    
    .alertButton:hover {
        background-color: #bc9516;
        ;
        border-color: #b08c15;
        cursor: pointer;
    }
    
    .customAutocomplete__results {
        position: absolute;
        top: 44px;
        left: 0;
        border: 1px solid #c5c5c5;
        z-index: 20;
        background-color: #fff;
        width: 100%;
        max-height: 400px;
        overflow: auto;
    }
    
    .customAutocomplete__results_link {
        color: #495057;
        border-bottom: 1px solid #4c5a6c;
        text-decoration: none;
    }
    
    .customAutocomplete__results_row {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #c5c5c5;
        height: 40px;
        padding: 0.375rem .75rem;
    }
    
    .customAutocomplete__results_row:hover {
        background-color: #1fb5be;
        border: none;
    }
    
    .customAutocomplete__results_row_image {
        height: 20px;
        margin-right: 2px;
    }
    
    .customAutocomplete__search_btn {
        background-color: #3AB5BE;
        border-color: #3AB5BE;
        color: #f2f2f2;
        padding: 10px;
        width: 70px;
        height: 52px;
        border: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0px 5px 5px 0px;
        text-transform: uppercase;
        text-decoration: none;
        line-height: 33px;
    }
    
    .customAutocomplete__search_btn_short {
        height: 40px;
    }
    /*.customAutocomplete__search_btn:focus {
        box-shadow: 0 0 0 0.2rem rgba(194, 155, 28, .5)
    }*/
    
    .customAutocomplete__search_btn:hover {
        /* background-color: #7a735c;
        border-color: #b08c15;*/
        opacity: 0.7;
    }
    
    .searchMessage {
        width: 90%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-top: 10px;
    }
    
    .sliderHeaderWrapper {
        position: absolute;
        top: -140px;
        color: #f2f2f2!important;
        font-size: 37px;
        font-weight: 700;
        padding-bottom: 0px;
        background: rgba(0, 0, 0, 0.07);
        height: 192px;
        margin-top: 18px;
        box-shadow: 0 2px 0 4px rgba(0, 0, 0, 0.02);
        text-align: center;
    }
    
    .videosHeaderWrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: #f2f2f2;
        padding-top: 30px;
        font-size: 28px;
        font-weight: 100;
    }
    
    .promotionsHeaderWrapper {
        display: flex;
        justify-content: center;
        font-size: 20px;
    }
    
    .barcodeHeaderWrapper {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0;
        text-decoration: underline;
        font-weight: bold;
    }
    
    .findRightHeaderWrapper {
        padding-left: 36px;
        color: white;
    }
    
    .barcodeHeaderWrapper:hover {
        cursor: pointer;
    }
    
    .barcodeHeader {
        margin: 16px auto;
        padding-left: 0;
        font-weight: normal;
        font-size: 16px;
    }
    
    .barcodeImages {
        margin: 0 auto;
        padding-top: 3rem;
        height: 200px;
        display: block;
    }
    
    .marginBarcodeContainer {
        margin-top: 4rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
    
    .warningShow {
        position: relative;
        display: inline-block;
    }
    
    .warningHide {
        display: none;
    }
    
    .iconWarning {
        width: 20px;
        height: 20px;
    }
    
    .warningHover,
    .deliveryHover {
        visibility: hidden;
        width: 120px;
        background-color: #3AB5BE;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        z-index: 3000;
        bottom: 125%;
        left: 50%;
        margin-left: -130px;
        opacity: 0;
        transition: opacity 1s;
    }
    
    .warningHover::after,
    .deliveryHover::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #3AB5BE transparent transparent transparent;
    }
    
    .warningShow:hover .warningHover {
        visibility: visible;
        opacity: 1;
    }
    
    .deliveryDiv:hover .deliveryHover {
        visibility: visible;
        opacity: 1;
    }
    
    .warningHidePdp {
        display: none;
    }
    
    .warningShowPdp {
        display: flex;
        justify-content: flex-start;
    }
    
    .pdpWarningMessage {
        font-size: 12px;
    }
    
    .pdpVideosTitle {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 30px;
    }
    
    .pdpVideosContainer {
        display: flex;
        flex-wrap: wrap;
        /*justify-content: space-between;*/
    }
    
    .pdpVideosItem {
        width: 30%;
        margin-right: 2%;
        margin-bottom: 20px;
        height: 220px!important;
    }
    
    .container {}
    
    .lowStockText {}
    
    .lowStockHighlight {}
    
    .highStockText {}
    
    .availabilityDiv {
        display: flex;
        align-items: center;
        height: 40px;
        text-transform: capitalize;
        position: relative;
    }
    
    .unavailableIcon {
        fill: #D7443E;
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
    
    .availabilityFits {
        display: flex;
        width: 100%;
        align-items: center;
        margin-top: 20px;
    }
    
    .availabilityFitsImg {
        margin-right: 10px;
        height: 25px;
    }
    
    .exclamationIcon {
        fill: #3AB5BE;
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
    
    .discountIcon {
        fill: black;
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
    
    .tickIcon {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }
    
    .outOfStockPrice {
        position: absolute;
        top: 0;
    }
    
    .notSellableContainer {
        display: flex;
        align-items: center;
    }
    
    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(359deg);
        }
    }
    
    .merk,
    .merk:visited {
        text-decoration: none;
        color: black;
        margin-left: 16px;
        font-size: 16px;
    }
    
    .deliveryDiv {
        position: relative;
        display: inline-block;
    }
    
    .deliveryLink,
    .deliveryLink:visited {
        text-decoration: none;
        color: black;
        font-size: 12px;
        margin-left: 2px;
    }
    
    .customSearchHide {
        display: none;
    }
    
    .termsMainDiv {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    
    .termsHeader {
        width: 100%;
        height: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f2f2f2;
    }
    
    .termsTitle {
        font-weight: 200;
        font-size: 1.8rem;
    }
    
    .termsBody {
        width: 80%;
        height: 100%;
        display: flex;
        flex-flow: column;
        align-items: flex-start;
        padding-left: 5%;
    }
    
    .downloadLink {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #3AB5BE;
        width: 320px;
        height: 38px;
        text-decoration: none;
        color: white;
    }
    
    .termsButtonDiv {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    
    .categoriesLoader {
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: #fff;
        opacity: .7;
        top: 0;
        z-index: 9999;
        left: 0;
    }
    
    .categoriesLoaderSpinner {
        height: 60px;
        animation: rotation 1s infinite linear;
        margin: 0 auto;
        top: 20%;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
    }
    
    .Faqs {
        max-width: 880px;
        width: 100%;
        margin: 20px auto;
        margin-bottom: 123px;
    }
    
    .accordionSection {
        display: flex;
        flex-direction: column;
        border: none;
        border-bottom: 1px solid #979797;
        padding: 0;
        margin: 0;
    }
    
    .accordionSectionLast {
        display: flex;
        flex-direction: column;
        border: none;
        padding: 0;
        margin: 0;
    }
    
    .accordionTrigger {
        background-color: white;
        cursor: pointer;
        display: flex;
        align-items: center;
        border: none;
        outline: none;
        font-size: 22px!important;
        line-height: 30px;
        margin: 0;
        padding: 12px 30px 14px 7px;
        transition: background .3s ease-in-out;
    }
    
    .accordionTriggerVisible {
        background-color: white;
        cursor: pointer;
        display: flex;
        align-items: center;
        border: none;
        outline: none;
        font-size: 22px!important;
        line-height: 30px;
        margin: 0;
        padding: 12px 30px 14px 7px;
        transition: background .3s ease-in-out;
    }
    
    .accordionTrigger:hover {
        background-color: #e6e6e6;
    }
    
    .accordionText {
        font-size: 16px;
        padding: 12px 30px 14px 7px !important;
        margin: 0 0 16px 0;
        line-height: 24px;
    }
    
    .seventhFaq {
        display: flex;
        flex-direction: row;
        margin-top: 50px;
    }
    
    .columnSeventhFaq {
        flex: 50%;
        width: 100%;
        margin: 0 auto!important;
    }
    
    .secondAccordionTrigger {
        background-color: #bbc9ca;
        cursor: pointer;
        padding: 18px;
        display: flex;
        align-items: center;
        border: none;
        outline: none;
        transition: background .3s ease-in-out;
        color: white;
        font-size: 22px;
    }
    
    .secondAccordionTriggerVisible {
        background-color: #1fb5be;
        cursor: pointer;
        padding: 18px;
        display: flex;
        align-items: center;
        border: none;
        outline: none;
        transition: background .3s ease-in-out;
        color: white;
        font-size: 22px;
    }
    
    .secondAccordionTrigger:hover {
        background-color: #1FB5BE;
    }
    
    .secondAccordionSection {
        display: flex;
        flex-direction: column;
        border: none;
        background-color: #E8F8F9;
    }
    
    .accordionTextPostalcodes {
        padding: 24px 24px 15px 24px;
    }
    
    .accordionTextPostalcodes p {
        margin: 0;
        margin-bottom: 10px;
    }
    
    .titleFaq {
        color: #1b7b8d;
        text-align: center;
        font-size: 42px;
    }
    
    .imageAccordionFaq {
        display: block;
        padding-left: 25px;
        padding-top: 19px;
        margin: 0 auto;
    }
    
    .accordionTrigger:after {
        content: '\002B';
        /* Unicode character for "plus" sign (+) */
        font-size: 30px;
        text-align: right;
        align-content: flex-end;
        margin-left: auto;
    }
    
    .countdownInner {
        color: #495057;
    }
    
    .countdownInner b {
        margin: 0 5px;
        color: #495057;
    }
    
    .countdownInner img {
        margin-left: 5px;
    }
    
    .accordionTriggerVisible:after {
        content: '\00D7';
        /* Unicode character for "plus" sign (+) */
        font-size: 30px;
        color: #1FB5BE!important;
        text-align: right;
        align-content: flex-end;
        margin-left: auto;
    }
    
    .secondAccordionTrigger:after {
        content: '\2329';
        color: white;
        transform: rotate(-90deg);
        text-align: right;
        align-content: flex-end;
        margin-left: auto;
        padding-right: 10px;
    }
    
    .secondAccordionTriggerVisible:after {
        content: '\232A';
        color: white;
        transform: rotate(-90deg);
        text-align: right;
        align-content: flex-end;
        margin-left: auto;
        padding-right: 10px;
    }
    
    .Faqs_indesit .secondAccordionTrigger:hover {
        background-color: #0090D0;
    }
    
    .Faqs_indesit .titleFaq {
        color: #0090D0;
        text-align: center;
        font-size: 42px;
    }
    
    .Faqs_indesit .secondAccordionTriggerVisible {
        background-color: #0090D0;
        cursor: pointer;
        padding: 18px;
        display: flex;
        align-items: center;
        border: none;
        outline: none;
        transition: background .3s ease-in-out;
        color: white;
        font-size: 22px;
    }
    
    .contactUsTypeTextIcon {
        padding-left: 5px;
    }
    
    .contactUsTitle {
        text-align: center;
        font-size: 50px;
        font-family: QuicksandBold, arial!important;
        font-weight: 500;
    }
    
    .contactUsTitleMenu {
        font-size: 28px;
        margin: 30px 0 30px 30px;
        color: #1fb5be;
    }
    
    .contactUs_indesit .contactUsTitleMenu {
        color: #0090d0;
    }
    
    .contactUsBlockTitle {
        font-size: 28px;
        text-align: center;
        margin: 30px 0px;
        color: #1fb5be;
    }
    
    .contactUs_indesit .contactUsBlockTitle {
        color: #0090d0;
    }
    
    .contactUsContainer {
        display: flex;
        max-width: 1300px;
        margin: 0 auto;
        align-items: flex-start;
    }
    
    .contactUsMB100px {
        margin-bottom: 550px;
        font-family: quicksandregular !important;
    }
    
    .contactUsContainerMenu {
        display: flex;
        flex-direction: column;
        width: 35%;
        padding: 0 20px 0 20px;
        z-index: 0;
    }
    
    .contactUsContainerSecondMenuTranslate {
        box-shadow: 0 8px 13px 0 rgb(0 0 0 / 33%);
        border-left: 3px solid #1fb5be;
        max-width: 600px;
        z-index: 4;
        display: inline-block;
        flex: 1 auto;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0px;
        position: absolute;
        background-color: white;
        left: 640px;
    }
    
    .contactUs_indesit .contactUsContainerSecondMenuTranslate {
        border-left: 3px solid #0090d0;
    }
    
    .contactUsContainerSecondMenuHideTranslate {
        box-shadow: 0 8px 13px 0 rgb(0 0 0 / 33%);
        border-left: 3px solid #1fb5be;
        max-width: 600px;
        z-index: 4;
        display: inline-block;
        flex: 1 auto;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0px;
        position: absolute;
        background-color: white;
        left: 640px;
    }
    
    .contactUs_indesit .contactUsContainerSecondMenuHideTranslate {
        border-left: 3px solid #0090d0;
    }
    
    .contactUsContainerSecondMenu {
        box-shadow: 0 8px 13px 0 rgb(0 0 0 / 33%);
        border-left: 3px solid #1fb5be;
        max-width: 600px;
        z-index: 4;
        display: inline-block;
        flex: 1 auto;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0px;
        position: absolute;
        background-color: white;
        left: 410px;
    }
    
    .contactUs_indesit .contactUsContainerSecondMenu {
        border-left: 3px solid #0090d0;
    }
    
    .contactUsContainerSecondMenuHide {
        box-shadow: 0 8px 13px 0 rgb(0 0 0 / 33%);
        border-left: 3px solid #1fb5be;
        max-width: 600px;
        z-index: 4;
        display: inline-block;
        flex: 1 auto;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0px;
        position: absolute;
        background-color: white;
        left: 410px;
    }
    
    .contactUs_indesit .contactUsContainerSecondMenuHide {
        border-left: 3px solid #0090d0;
    }
    
    .contactUsContainerItem {
        border-top: 1px solid #d3d3d3;
        border-bottom: 1px solid #d3d3d3;
    }
    
    .contactUsImageContainer {
        max-width: 550px;
        width: 100%;
    }
    
    .contactUsMenu {
        list-style: none;
        margin: 0px;
    }
    
    .contactUsContainerMenuHide {
        opacity: 0.5;
        margin: 0px;
        cursor: pointer;
        width: 400px;
    }
    
    .contactUsContainerMenuHide:hover {
        opacity: 1;
    }
    
    .contactUsMenuHide {
        margin: 0px;
        opacity: 1;
        cursor: pointer;
        width: 400px;
    }
    
    .contactUsOptionMenu {
        padding: 15px;
        opacity: 1;
        cursor: pointer;
        font-size: 22px;
    }
    
    .contactUsOptionMenu:after {
        content: '\25EF';
        color: #d3d3d3;
        text-align: right;
        float: right;
        position: absolute;
        right: 6px;
    }
    
    .contactUsOptionMenu:hover:after {
        content: '\25EF';
        color: white;
        text-align: right;
        float: right;
    }
    
    .contactUsOptionMenu:hover {
        background-color: #27989E;
        color: white;
        transition: .7s all;
    }
    
    .contactUs_indesit .contactUsOptionMenu:hover {
        background-color: #0090d0;
        color: white;
        transition: .7s all;
    }
    
    .contactUsOptionMenuHide:hover {
        background-color: #27989E;
        color: white;
        transition: .7s all;
        opacity: 1;
    }
    
    .contactUs_indesit .contactUsOptionMenuHide:hover {
        background-color: #0090d0;
        color: white;
        transition: .7s all;
        opacity: 1;
    }
    
    .contactUsOptionMenuHide {
        padding: 15px;
        margin: 0px;
        cursor: pointer;
        font-size: 22px;
    }
    
    .contactUsOptionMenuHide:hover {
        opacity: 1;
    }
    
    .contactUsOptionMenuActive {
        background-color: #27989E;
        color: white;
        padding: 15px;
        cursor: pointer;
        font-size: 22px;
    }
    .submenuActive{
        color: #3AB5BE;
    }
    .submenuActive::after{
        transform: rotate(90deg);
        right: 40px!important;
    
    }
    .contactUs_indesit .contactUsOptionMenuActive {
        background-color: #0090d0;
    }
    
    .contactUsOptionMenuActive:after {
        content: '\25EF';
        color: white;
        text-align: right;
        float: right;
        position: absolute;
        right: 6px;
    }
    
    .contactUsBlockContainer {
        padding: 15px;
        border: 1px solid #eae6e6;
        box-shadow: 0 3px 8px 0 rgb(0 0 0 / 6%);
        flex: 1 50%;
        max-width: 230px;
        margin: 10px;
        order: 1;
    }
    
    .contactUsBlockContainerLinks {
        padding: 15px;
        margin: 10px;
        border-left: 10px solid #1fb5be;
        padding-left: 25px;
        flex: 1 100%;
    }
    
    .contactUs_indesit .contactUsBlockContainerLinks {
        border-left: 10px solid #0090d0;
    }
    
    .contactUsBlockLinksPositionTop {
        order: 0;
    }
    
    .contactUsBlockLinksPositionBottom {
        order: 9;
    }
    
    .contactUsRecommended {
        color: rgb(222, 176, 26);
        font-size: 14px;
        line-height: 26px;
        border-bottom: 1px solid rgb(222, 176, 26);
        float: right;
    }
    
    .contactUsBlockContainerHide {
        margin: 0px;
        width: 100%;
        max-width: 540px;
        opacity: 0;
    }
    
    .contactUsImageContainerHide {
        position: fixed;
        transition: 2.5s;
        transform: translateX(355%);
        max-width: 540px;
        left: 1000px;
    }
    
    .contactUsContainerMenuBlock {
        display: flex;
        flex-wrap: wrap;
        max-width: 540px;
        padding: 0 20px 0 20px;
        margin: 0 auto;
    }
    
    .contactUsBlock {
        width: 100%;
        max-width: 540px;
        position: absolute;
        transition: 1s;
        left: 1000px;
    }
    
    .contactUsBlockType {
        margin: 0;
    }
    
    .contactUsBlockTypeTitle {
        font-size: 24px;
        /*color: #1fb5be;*/
    }
    
    .contactUsBlockTypeParagraph {
        font-size: 16px;
    }
    
    .contactUsBlockTypeParagraphBold {
        font-size: 16px;
        font-weight: 500;
    }
    
    .contactUsBlockTypeParagraphItems {
        font-size: 16px;
        color: #1fb5be;
    }
    
    .contactUsBlockTypeParagraphPhoneNumber a {
        font-size: 20px;
        color: #1fb5be;
        margin: 5px 0;
        display: block;
        font-weight: 500;
        text-decoration: none!important;
    }
    
    .contactUsBlockTypeParagraphPhoneNumber:hover {
        color: #1fb5be;
        text-decoration: underline #1fb5be;
    }
    
    .contactUsBlockTypeButton {
        background: #1fb5be;
        border: 1px solid #1fb5be;
        padding: 10px 25px;
        color: #fff;
        margin: 15px 0;
        display: inline-block;
        text-decoration: none!important;
        -webkit-transition: .7s all;
        transition: .7s all;
        cursor: pointer;
    }
    
    .contactUs_indesit .contactUsBlockTypeButton {
        background-color: #0090d0;
    }
    
    .contactUsBlockTypeButton:hover {
        color: #1fb5be;
        background: #fff;
    }
    
    .contactUs_indesit .contactUsBlockTypeButton:hover {
        color: #0090d0;
    }
    
    .contactUsBreadcrumb {
        display: none;
    }
    
    .contactUsBreadcrumbTitle {
        display: none;
    }
    
    .contactUsMenuOptionWrapper {
        position: relative;
        display: flex;
        align-items: center;
    }
    
    .contactUsOptionTtile {
        margin-left: 10px;
    }
    
    .footerSocialContainer {
        display: flex;
        width: 100%;
        align-content: center;
    }
    
    .footerSocialItem {
        margin-right: 10px;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
    }
    
    .footerWrapper {
        display: flex;
        direction: column;
        width: 100%!important;
    }
    
    .firstFooter {
        background-color: #424242;
        display: flex;
        justify-content: space-around;
        padding-top: 30px;
        padding-bottom: 20px;
        border-top: solid 6px #3AB5BE;
        width: 100%!important;
    }
    
    .footerColumn {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
    }
    
    .firstColumnItem {
        margin: 0px;
        max-height: 30px;
    }
    
    .footerColumn a {
        text-decoration: none;
        color: white;
        font-size: 0.875rem;
        line-height: 16px;
    }
    
    .secondColumnItem,
    .thirdColumnItemText,
    .fourthColumnItemText,
    .secondFooterItem {
        font-size: 0.875rem
    }
    
    .firstColumnText a:hover,
    .secondColumnPhone a:hover,
    .thirdColumnItemText a:hover,
    .fourthColumnItemText a:hover {
        color: #333 !important;
    }
    
    .firstFooter a p:hover {
        color: #333 !important;
    }
    
    .imgFirstColumnItem {
        max-height: 40px;
        padding-bottom: 10px;
    }
    
    .secondColumnItem {
        display: flex;
    }
    
    .mailIconWrapper svg {
        width: 20px;
        height: 20px;
        align-items: center;
        margin-bottom: 0px;
    }
    
    .secondColumnTitle {
        color: white;
        font-size: 20px;
        margin-top: 0px;
    }
    
    .secondColumnMail {
        color: white;
        font-size: 14px;
    }
    
    .secondColumnPhone {
        display: flex;
        margin-bottom: 14px;
    }
    
    .secondColumnPhoneIcon {
        align-items: center;
        padding-right: 10px;
    }
    
    .secondColumnPhoneText {
        align-items: center;
        margin-top: 0px;
    }
    
    .secondColumnPhoneText a {
        text-decoration: none;
        color: white;
        align-items: center;
    }
    
    .socialItem {
        display: flex;
        align-items: center;
    }
    
    .socialIcon {
        align-items: center;
        padding-right: 10px;
    }
    
    .thirdColumnItem {
        display: flex;
    }
    
    .thirdColumnTitle {
        color: white;
        font-size: 20px;
        margin-top: 0px;
    }
    
    .thirdColumnItemText {
        margin-top: 0px;
        margin-bottom: 14px;
    }
    
    .thirdColumnItemText a {
        text-decoration: none;
        color: white;
        align-items: center;
    }
    
    .fourthColumnItem {
        display: flex;
    }
    
    .fourthColumnTitle {
        color: white;
        font-size: 20px;
        margin-top: 0px;
    }
    
    .fourthColumnItemText {
        margin-top: 0px;
    }
    
    .imagePayment {
        margin-top: 0px;
    }
    
    .fourthColumnItemText a {
        text-decoration: none;
        color: white;
        align-items: center;
    }
    
    .secondFooter {
        background-color: black;
        display: flex;
        justify-content: space-between;
        padding-top: 13px;
        padding-bottom: 13px;
        color: white;
    }
    
    .secondFooterWrapper {
        max-width: 90%;
        margin: 0 auto;
        display: flex;
    }
    
    .secondFooterItem a {
        color: white !important;
        text-decoration: none;
        border-left: 1px solid white;
        padding-left: 10px;
        margin-left: 15px;
        display: block;
    }
    
    .contadownHeaderTrustpilot {
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
    }
    
    .contadownHeaderTrustpilotLink {
        text-decoration: none;
    }
    
    .headerNavContainer {
        display: flex;
        width: 100%;
        margin: 0;
        padding: 10px 1%;
    }
    
    .headerNavItem {
        padding: 5px 10px;
        border-right: 1px solid black;
        text-decoration: none;
        color: black;
        font-size: 14px;
    }
    
    .headerNavLink {
        text-decoration: none;
    }
    
    .headerNavItem:hover {
        font-weight: bold;
    }
    
    .truckIcon {
        fill: #3AB5BE;
    }
    
    .iconColor {
        fill: #3AB5BE;
    }
    
    .modelsCategoryWrapper {
        display: flex;
        flex-direction: column;
    }
    
    .modelsCategoryTitle {
        width: 100%;
        text-align: center;
        color: #1fb5be;
        padding: 40px;
        font-size: x-large;
        font-weight: bold;
    }
    
    .modelsCategorySecondary {
        background-color: #f2f2f2;
        text-align: left;
        padding-left: 10%;
        margin-bottom: 0px;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 40px;
        height: 100px;
        overflow: hidden;
    }
    
    .findModel_Show {
        height: auto!important;
    }
    
    .findModelButtonHide {
        display: none;
    }
    
    .modelsCategorySecondaryWrapper {
        margin-bottom: 60px;
    }
    
    .modelsCategorySearchNumber {
        padding: 30px;
        background-color: #d7d7d7;
        cursor: pointer;
    }
    
    .modelsCategorySecondaryShow {
        background-color: #f2f2f2;
        text-align: left;
        padding-left: 10%;
        margin-bottom: 0px;
        display: flex;
        flex-wrap: wrap;
        padding-bottom: 40px;
        height: auto;
    }
    
    .modelsCategorySecondaryTitle {
        padding: 40px;
        font-size: x-large;
        font-weight: bold;
        background-color: #d7d7d7;
        text-align: center;
    }
    
    .modelsCategoryItems {
        padding-top: 10px;
        flex: 1;
        flex-basis: 33%;
        text-decoration: none;
        line-height: 24px;
        cursor: pointer;
    }
    
    .modelsCategoryShowMore {
        padding-top: 10px;
        flex: 1;
        flex-basis: 33%;
        text-decoration: none;
        line-height: 24px;
        cursor: pointer;
        color: #1fb5be;
        margin-top: 0;
        background-color: #f2f2f2;
        text-align: left;
        padding-left: 10%;
        padding-bottom: 40px;
        font-size: 16px;
    }
    
    .modelsCategoryItems a {
        text-decoration: none!important;
        cursor: pointer;
        color: #000!important;
    }
    
    .modelsCategoryItems:hover {
        text-decoration: underline!important;
    }
    
    .modelsCategoryShowMore:hover {
        text-decoration: underline!important;
    }
    
    #fits-appliance-img {
        height: 25px;
    }
    
    .AlsoFitsIn {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
        flex-direction: column;
        margin-top: 40px;
    }
    
    .AlsoFitsInTitle {
        font-weight: bolder;
    }
    
    .AlsoFitsInWrap {
        display: flex;
        /*justify-content: space-around;*/
        flex-wrap: wrap;
    }
    
    .AlsoFitsInWrapper {
        /* margin-right: 20px;
         flex-basis: 22%;*/
        align-items: flex-start;
    }
    
    .AlsoFitsInCatTitle {
        cursor: pointer;
        padding-right: 20px;
        padding-left: 10px;
    }
    
    .AlsoFitsInCatTitleActive svg {
        transform: rotate(90deg);
    }
    
    .AlsoFitsInWrapper a {
        font-weight: bold;
        padding-bottom: 10px;
    }
    
    .AlsoFitsInContainerLinks {
        display: flex;
        flex-wrap: wrap;
    }
    
    .AlsoFitsInLinks {
        padding: 10px;
        flex-basis: 20%;
    }
    
    .AlsoFitsInLinks a {
        color: #333;
        text-decoration: none;
    }
    
    .AlsoFitsInLinks a:hover {
        cursor: pointer;
        color: #1FB5BE;
    }
    
    .AlsoFitsInTitle {
        font-size: 1.3rem;
        font-weight: 550;
    }
    
    .AlsoFitsInWrapper>div>div {
        padding-bottom: 10px;
    }
    
    .FitAlsoInArrow {
        transform: rotate(270deg);
        height: 10px;
        margin-left: 10px;
    }
    
    .sliderHeaderTitle {
        margin-top: 0.83rem;
        font-size: 2.2rem;
        margin-bottom: 0;
    }
    
    .sliderHeaderSubtitle {
        margin-top: 0;
        font-size: 2.2rem;
    }
    
    .serviceDiv2 {
        width: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
    
    .serviceImage {
        width: 100px!important;
        height: 100px!important;
    }
    
    .serviceText {
        text-align: center;
    }
    
    @keyframes rotation {
        from {
            transform: rotate(0deg);
        }
        to {
            transform: rotate(359deg);
        }
    }
    
    @media only screen and (max-width: 1534px) {
        .contactUsBlock {
            width: 100%;
            max-width: 540px;
            position: absolute;
            transition: 1s;
            left: 800px;
        }
        .contactUsContainerSecondMenuHide {
            box-shadow: 0 8px 13px 0 rgb(0 0 0 / 33%);
            border-left: 3px solid #1fb5be;
            max-width: 560px;
            z-index: 4;
            display: inline-block;
            flex: 1 auto;
            flex-direction: column;
            width: 100%;
            margin-bottom: 0px;
            position: absolute;
            background-color: white;
            left: 200px;
        }
        .contactUs_indesit .contactUsContainerSecondMenuHide {
            border-left: 3px solid #0090d0;
        }
        .contactUsContainerSecondMenu {
            box-shadow: 0 8px 13px 0 rgb(0 0 0 / 33%);
            border-left: 3px solid #1fb5be;
            max-width: 560px;
            z-index: 4;
            display: inline-block;
            flex: 1 auto;
            flex-direction: column;
            width: 100%;
            margin-bottom: 0px;
            position: absolute;
            background-color: white;
            left: 200;
        }
        .contactUs_indesit .contactUsContainerSecondMenu {
            border-left: 3px solid #0090d0;
        }
        .contactUsContainerSecondMenuTranslate {
            box-shadow: 0 8px 13px 0 rgb(0 0 0 / 33%);
            border-left: 3px solid #1fb5be;
            max-width: 560px;
            z-index: 4;
            display: inline-block;
            flex: 1 auto;
            flex-direction: column;
            width: 100%;
            margin-bottom: 0px;
            position: absolute;
            background-color: white;
            left: 400px;
        }
        .contactUs_indesit .contactUsContainerSecondMenuTranslate {
            border-left: 3px solid #0090d0;
        }
        .contactUsContainerSecondMenuHideTranslate {
            box-shadow: 0 8px 13px 0 rgb(0 0 0 / 33%);
            border-left: 3px solid #1fb5be;
            max-width: 560px;
            z-index: 4;
            display: inline-block;
            flex: 1 auto;
            flex-direction: column;
            width: 100%;
            margin-bottom: 0px;
            position: absolute;
            background-color: white;
            left: 400px;
        }
        .contactUs_indesit .contactUsContainerSecondMenuHideTranslate {
            border-left: 3px solid #0090d0;
        }
        .contactUsBreadcrumb {
            display: none;
        }
        .contactUsOptionMenu {
            font-size: 16px;
        }
        .contactUsOptionMenuHide {
            font-size: 16px;
        }
        .contactUsOptionMenuActive {
            font-size: 16px;
        }
    }
    
    @media only screen and (max-width: 1325px) {
        .contactUsBlock {
            width: 100%;
            max-width: 540px;
            position: absolute;
            transition: 1s;
            left: 520px;
        }
        .contactUsContainerSecondMenuHide {
            box-shadow: 0 8px 13px 0 rgb(0 0 0 / 33%);
            border-left: 3px solid #1fb5be;
            max-width: 460px;
            z-index: 4;
            display: inline-block;
            flex: 1 auto;
            flex-direction: column;
            width: 100%;
            margin-bottom: 0px;
            position: absolute;
            background-color: white;
            left: 70px;
        }
        .contactUs_indesit .contactUsContainerSecondMenuHide {
            border-left: 3px solid #0090d0;
        }
        .contactUsContainerSecondMenu {
            box-shadow: 0 8px 13px 0 rgb(0 0 0 / 33%);
            border-left: 3px solid #1fb5be;
            max-width: 560px;
            z-index: 4;
            display: inline-block;
            flex: 1 auto;
            flex-direction: column;
            width: 100%;
            margin-bottom: 0px;
            position: absolute;
            background-color: white;
            left: 70px;
        }
        .contactUs_indesit .contactUsContainerSecondMenu {
            border-left: 3px solid #0090d0;
        }
        .contactUsContainerSecondMenuTranslate {
            box-shadow: 0 8px 13px 0 rgb(0 0 0 / 33%);
            border-left: 3px solid #1fb5be;
            max-width: 560px;
            z-index: 4;
            display: inline-block;
            flex: 1 auto;
            flex-direction: column;
            width: 100%;
            margin-bottom: 0px;
            position: absolute;
            background-color: white;
            left: 340px;
        }
        .contactUs_indesit .contactUsContainerSecondMenuTranslate {
            border-left: 3px solid #0090d0;
        }
        .contactUsContainerSecondMenuHideTranslate {
            box-shadow: 0 8px 13px 0 rgb(0 0 0 / 33%);
            border-left: 3px solid #1fb5be;
            max-width: 560px;
            z-index: 4;
            display: inline-block;
            flex: 1 auto;
            flex-direction: column;
            width: 100%;
            margin-bottom: 0px;
            position: absolute;
            background-color: white;
            left: 340px;
        }
        .contactUs_indesit .contactUsContainerSecondMenuHideTranslate {
            border-left: 3px solid #0090d0;
        }
        .contactUsBreadcrumb {
            display: none;
        }
    }
    
    @media only screen and (max-width: 1175px) {
        .pdpVideosItem {
            width: 48%;
            margin-right: 1%;
            margin-bottom: 20px;
        }
        .contactUsBlock {
            width: 100%;
            max-width: 540px;
            position: absolute;
            transition: 1s;
            left: 490px;
        }
        .contactUsContainerSecondMenuHide {
            box-shadow: 0 8px 13px 0 rgb(0 0 0 / 33%);
            border-left: 3px solid #1fb5be;
            max-width: 460px;
            z-index: 4;
            display: inline-block;
            flex: 1 auto;
            flex-direction: column;
            width: 100%;
            margin-bottom: 0px;
            position: absolute;
            background-color: white;
            left: 40px;
        }
        .contactUs_indesit .contactUsContainerSecondMenuHide {
            border-left: 3px solid #0090d0;
        }
        .contactUsContainerSecondMenu {
            box-shadow: 0 8px 13px 0 rgb(0 0 0 / 33%);
            border-left: 3px solid #1fb5be;
            max-width: 560px;
            z-index: 4;
            display: inline-block;
            flex: 1 auto;
            flex-direction: column;
            width: 100%;
            margin-bottom: 0px;
            position: absolute;
            background-color: white;
            left: 40px;
        }
        .contactUs_indesit .contactUsContainerSecondMenu {
            border-left: 3px solid #0090d0;
        }
        .contactUsBreadcrumb {
            display: none;
        }
        .customAutocomplete {
            margin: 20px;
        }
    }
    
    @media only screen and (max-width: 1024px) {
        .pdpVideosItem {
            width: 100%;
            margin-bottom: 20px;
        }
        .sliderHeaderWrapper {
            height: 120px;
            margin-top: 40px;
            top: -170px;
        }
        .contactUsImageContainer {
            max-width: 1024px;
        }
        .contactUsBlockContainer {
            flex: 100%;
            max-width: 100%;
        }
        .contactUsContainerMenu {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 0 20px 0 20px;
            z-index: 0;
        }
        .contactUsContainerMenuHide {
            opacity: 0.5;
        }
        .contactUsContainer {
            display: flex;
            flex-direction: column;
            width: 100%;
            z-index: 0;
        }
        .contactUsOptionMenuHide {
            display: none;
        }
        .contactUsMenuHide {
            display: none;
        }
        .contactUsOptionMenuActive {
            display: none;
        }
        .contactUsImageContainer {
            display: none;
        }
        .contactUsContainerSecondMenu {
            box-shadow: none;
            border-left: none;
            max-width: 1024px;
            z-index: 0;
            display: inline-block;
            flex: 1 auto;
            flex-direction: column;
            width: 100%;
            margin-bottom: 0px;
            position: relative;
            background-color: white;
            left: 0;
        }
        .contactUsContainerSecondMenuTranslate {
            box-shadow: none;
            border-left: none;
            max-width: 1024px;
            z-index: 0;
            display: inline-block;
            flex: 1 auto;
            flex-direction: column;
            width: 100%;
            margin-bottom: 0px;
            position: relative;
            background-color: white;
            left: 0;
        }
        .contactUsContainerSecondMenuHide {
            display: none;
        }
        .contactUsBlock {
            width: 100%;
            max-width: 1024px;
            position: relative;
            left: 0;
        }
        .contactUsContainerMenuBlock {
            display: grid;
            max-width: 1024px;
            padding: 0 20px 0 20px;
            grid-template-columns: 100%;
            grid-gap: 10px;
            margin: 0;
        }
        .contactUsBlockContainerHide {
            display: none;
        }
        .contactUsTitleMenu {
            display: none;
        }
        .contactUsBlockTitle {
            display: none;
        }
        .contactUsBreadcrumb {
            display: block;
            width: 100%;
        }
        .contactUsBreadcrumbContent {
            background-color: rgb(28, 141, 159);
            color: white;
            padding: 20px;
            cursor: pointer;
        }
        .contactUs_indesit .contactUsBreadcrumbContent {
            background-color: #0090d0;
        }
        .contactUsBreadcrumbTitle {
            display: block;
            text-align: center;
            padding-bottom: 30px;
            width: 100%;
        }
        .contactUsBlockTypeTitle {
            font-size: 20px;
            color: #1c8d9f;
        }
        .contactUsBlockTypeParagraph {
            font-size: 14px;
        }
        .contactUsBlockTypeParagraphItems {
            font-size: 14px;
            color: #1fb5be;
        }
        .contactUsBlockTypeParagraphPhoneNumber {
            text-decoration: underline;
            cursor: pointer;
        }
        .contactUsTitle {
            font-size: 25px;
        }
        .productReferenceCode {
            padding: 5% 5% 0px 5%;
            margin-bottom: 0!important;
        }
        .availabilityFits {
            padding: 0 5%;
            margin-top: 0;
        }
        .AlsoFitsInLinks {
            flex-basis: 50%;
        }
        .wrongFg {
            padding: 0 5%;
        }
    }
    
    @media only screen and (max-width: 900px) {
        .sliderHeaderWrapper {
            height: 145px;
            margin-top: 23px;
            top: -118px;
            background: transparent;
            margin: none;
            padding: none;
            box-shadow: none;
        }
        .sliderHeaderTitle,
        .sliderHeaderSubtitle {
            font-size: 17px;
        }
        .Breadcrumbs {
            display: none;
        }
        .headerNavLink {
            display: none;
        }
        .customAutocomplete__input {
            width: 93%;
            ;
        }
        .customAutocomplete {
            margin: 18px;
            margin-top: 25px;
        }
    }
    
    @media only screen and (max-width: 750px) {
        .customSearchInner {
            width: 90%;
        }
        .reusableMain {
            width: 40%;
        }
        .customAutocomplete__results_row {
            width: 90vw;
            background-color: white;
            font-size: 14px;
        }
        .seventhFaq {
            display: flex;
            flex-direction: column;
            margin-top: 50px;
        }
        .columnSeventhFaq {
            flex: 100%;
            width: 100%;
            margin: 0 auto!important;
        }
        .secondAccordionTrigger {
            font-size: 16px;
        }
        .accordionTrigger {
            font-size: 22px;
        }
        .modelsCategoryItems {
            flex-basis: 100%;
        }
        .hamburgerIcon {
            height: 25px !important;
            width: 30px !important;
        }
    }
    
    @media only screen and (max-width: 768px) {
        .cleaningAndCare {
            display: none;
        }
        .secondFooter {
            padding: 20px;
            padding-bottom: 50px;
        }
        .firstFooter {
            flex-wrap: wrap;
            padding: 20px;
        }
        .footerColumn {
            font-size: 0.875rem;
            width: 100%;
            padding-bottom: 40px;
            border-bottom: 1px solid #fff;
            margin-top: 30px;
        }
        .secondFooterWrapper {
            flex-wrap: wrap;
            margin-bottom: 25px;
            justify-content: center;
        }
        .secondFooterWrapper .secondFooterItem:nth-child(1) {
            width: 100%;
            margin-bottom: 25px;
            text-align: center
        }
        .secondFooterWrapper .secondFooterItem {
            width: 33%;
            margin-bottom: 10px;
        }
        .secondFooterWrapper .secondFooterItem a {
            border: none;
            margin: 0;
        }
        .secondFooterItem {
            font-size: 0.875rem;
        }
        .mobileMenuTest {}
        .AlsoFitsIn {
            padding: 0 20px;
        }
        .AlsoFitsInWrapper {
            margin-right: 0;
            flex-basis: 100%;
            border-bottom: 1px solid #D3D3D3
        }
        .AlsoFitsInWrapper p {
            display: flex;
            justify-content: flex-start;
            width: 100%;
            align-items: baseline;
        }
        .plpTitle {
            margin-top: 130px;
        }
        .relatedProducts {
            display: flex;
            flex-direction: column;
        }
        .relatedProductsWrapper {
            flex-direction: column;
        }
        .relatedProductsCard {
            width: 100%;
            margin-bottom: 20px;
            text-decoration: none;
            color: #000;
        }
        .availabilityDiv {
            justify-content: flex-start;
        }
        .Faqs {
            margin-top: 150px;
        }
        .contactUsMB100px {
            margin-top: 150px;
        }
        .customAutocomplete__title {
            margin-top: 150px;
        }
        .customProductName {
            font-size: 1.2rem;
            text-align: center;
        }
        .productReferenceCode,
        .customProductDescription,
        .availabilityFits {
            font-size: 0.9rem;
        }
    }
    
    @media only screen and (max-width: 720px) {
        .whirlpoolServiceRightDiv {
            padding-top: 20px;
        }
    }