.bauknecht-theme .smartcsb2c-add-to-cart-button-custom-0-x-shoppingIcon {
  fill: white;
}
.bauknecht-theme .smartcsb2c-add-to-cart-button-custom-0-x-buttonDataContainer:hover {
  background: #188e95;
}
.bauknecht-theme .smartcsb2c-add-to-cart-button-custom-0-x-syncIcon {
  fill: white;
}
.bauknecht-theme .smartcsb2c-add-to-cart-button-custom-0-x-mailIcon {
  fill: white;
}
.bauknecht-theme .vtex-breadcrumb-1-x-caretIcon {
  color: #188e95;
}
.bauknecht-theme .vtex-breadcrumb-1-x-arrow--3:hover .vtex-breadcrumb-1-x-link,
.vtex-breadcrumb-1-x-arrow--4:hover .vtex-breadcrumb-1-x-link {
  color: #188e95 !important
}
.bauknecht-theme .vtex-category-menu-2-x-departmentLink:hover {
  border-bottom: 2px solid #188e95;
}
.bauknecht-theme .vtex-category-menu-2-x-firstLevelLink:hover {
  border-bottom: 2px solid #188e95;
}
.bauknecht-theme .vtex-category-menu-2-x-secondLevelLink:hover {
  border-bottom: 2px solid #188e95;
}
.bauknecht-theme .vtex-category-menu-2-x-thirdLevelLink:hover {
  border-bottom: 2px solid #188e95;
}
.bauknecht-theme .smartcsb2c-countdown-0-x-countdownMain {
  background-color: #e6e6e6;
}
.bauknecht-theme .smartcsb2c-countdown-0-x-serviceMainDiv {
  background-color: #f2f2f2;
}
.bauknecht-theme .smartcsb2c-countdown-0-x-buttonZie, .bauknecht-theme .smartcsb2c-countdown-0-x-alertButton {
  background-color: #188e95;
  color: white;
}
.bauknecht-theme .smartcsb2c-countdown-0-x-buttonZie:hover, .bauknecht-theme .smartcsb2c-countdown-0-x-alertButton:hover {
  cursor: pointer;
  background-color: #136f74
}
.bauknecht-theme .smartcsb2c-countdown-0-x-categoriesMainDiv {
  background-image: url("https://parts.bauknecht.be/assets/frontend/css/images/skrew-bg.png");
}
.bauknecht-theme .smartcsb2c-countdown-0-x-iconsInnerDiv {
  background-color: #fff
}
.bauknecht-theme .smartcsb2c-countdown-0-x-categoriesLabel:hover {
  border-bottom: 4px solid #188e95
}
.bauknecht-theme .smartcsb2c-countdown-0-x-categoriesIcons {
  fill: gray;
}
.bauknecht-theme .smartcsb2c-countdown-0-x-categoriesArrow {
  fill: #188e95
}
.bauknecht-theme .smartcsb2c-countdown-0-x-categoriesIcons:hover {
  fill: #188e95;
}
.bauknecht-theme .smartcsb2c-countdown-0-x-footerHr {
  background-color: #188e95;
}
.bauknecht-theme .smartcsb2c-countdown-0-x-footerColumnHeaders {
  color: white;
}
.bauknecht-theme .smartcsb2c-countdown-0-x-footerLabels {
  color: white;
}
.bauknecht-theme .smartcsb2c-countdown-0-x-footerDivIconLabel {
  color: white;
}
.bauknecht-theme .smartcsb2c-countdown-0-x-footerEndLabels {
  color: white;
}
.bauknecht-theme .smartcsb2c-countdown-0-x-footerDivWithIcon {
  color: #188e95
}
.bauknecht-theme .smartcsb2c-countdown-0-x-footerMailIcon {
  fill: #188e95
}
.bauknecht-theme .smartcsb2c-countdown-0-x-phoneCallFooter {
  color: white;
}
.bauknecht-theme .smartcsb2c-countdown-0-x-promotionTitle {
  background-color: #188e95;
  color: #fff;
}
.bauknecht-theme .smartcsb2c-countdown-0-x-promotionTitle::before {
  border-color: transparent transparent #136f74;
}
.bauknecht-theme .smartcsb2c-countdown-0-x-promotionTitle::after {
  border-color: transparent transparent #136f74;
}
.bauknecht-theme .smartcsb2c-countdown-0-x-barcodeMainDiv {
  background-color: white;
}
.bauknecht-theme .smartcsb2c-countdown-0-x-videosHeaderWrapper {
  display: none !important;
}
.bauknecht-theme .vtex-flex-layout-0-x-flexRow--flexboxVideos {
  display: none !important;
}
.bauknecht-theme .smartcsb2c-countdown-0-x-warningHover{
  background-color: #188e95;
}
.bauknecht-theme .smartcsb2c-countdown-0-x-warningHover::after{
  border-color: #188e95 transparent transparent transparent
}
.bauknecht-theme .smartcsb2c-add-to-cart-button-custom-0-x-closeButton .vtex-button {
  background: #188e95 !important;
  border-color: #188e95 !important;
}
.bauknecht-theme .payment-confirmation-modal {
  background: #188e95!important;
}

@media only screen and (max-width:720px) {
  .smartcsb2c-countdown-0-x-footerMainDiv {
      background-color: #424242
  }
  .smartcsb2c-countdown-0-x-footerHr {
      background-color: #188e95;
  }
  .smartcsb2c-countdown-0-x-footerColumnHeaders {
      color: white;
  }
  .smartcsb2c-countdown-0-x-footerLabels {
      color: white;
  }
  .smartcsb2c-countdown-0-x-footerDivIconLabel {
      color: white;
  }
  .smartcsb2c-countdown-0-x-footerEndLabels {
      color: white;
  }
  .smartcsb2c-countdown-0-x-footerEndDiv {
      background-color: black;
  }
  .smartcsb2c-countdown-0-x-footerDivWithIcon {
      color: #188e95
  }
  .smartcsb2c-countdown-0-x-leftArrowDivMobile {
      background-color: #188e95;
      color: white
  }
  .smartcsb2c-countdown-0-x-categoriesArrowMobile {
      fill: white;
  }
}

.vtex-flex-layout-0-x-flexRow {
  background-color: white
}

.vtex-flex-layout-0-x-flexRow--footer {
  background-color: #424242;
}

.vtex-flex-layout-0-x-flexRow--header {
  background-color: white;
  border: 2px solid #f2f2f2;
}

.vtex-flex-layout-0-x-flexRow--landing {
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.vtex-flex-layout-0-x-flexRow--flexboxVideos {
  background-color: #f2f2f2;
}
.bauknecht-theme .vtex-flex-layout-0-x-flexRow--footerEnd {
  background-color: black
}

.vtex-flex-layout-0-x-flexRow--promotions {
  background-color: white;
}

.vtex-flex-layout-0-x-flexRow--creditCards {
  background-color: #424242
}
.bauknecht-theme .vtex-flex-layout-0-x-flexRow--headertabMain {
  border: 3px solid #f2f2f2
}
.bauknecht-theme .vtex-flex-layout-0-x-flexRow--priceAndButton {
  border: 1px solid #f2f2f2e5
}
.bauknecht-theme .vtex-flex-layout-0-x-flexColChild--flexRowProductRight {
  border-left: 1px solid black;
}
.bauknecht-theme .vtex-flex-layout-0-x-flexRowContent--priceAndButton .vtex-button {
  background: #188e95 !important;
}
@keyframes vtex-flex-layout-0-x-shoppingIcon {
  0% {
      background-color: rgb(30, 255, 105);
  }
  10% {
      background-color: rgb(255, 255, 255);
  }
}
.bauknecht-theme .vtex-flex-layout-0-x-flexColChild--flexRowProductRight .vtex-button {
  background: #188e95 !important;
  border-color: #188e95;
}
.bauknecht-theme .vtex-flex-layout-0-x-flexRow--videosMobileRow {
  background-color: #f2f2f2
}

.vtex-flex-layout-0-x-flexCol--videosMobileCol {
  background-color: #f2f2f2
}
.bauknecht-theme .vtex-flex-layout-0-x-flexRow--headertabSecond .vtex-button {
  background-color: #188e95;
  color: white !important
}
.bauknecht-theme .vtex-flex-layout-0-x-flexRow--headertabSecond .vtex-button .vtex-flex-layout-0-x-span {
  color: white
}
@media only screen and (max-width:1024px) {
  .vtex-flex-layout-0-x-flexColChild--dropdowncolMobile::after {
      color: #188e95;
  }
}
.bauknecht-theme .vtex-login-2-x-label,
.vtex-login-2-x-profile {
  color: white;
}
.bauknecht-theme .vtex-dropdown__arrow {
  background-color: #188e95;
}
.bauknecht-theme .vtex-menu-2-x-menuContainer .vtex-menu-2-x-styledLinkContainer::after {
  color: #188e95;
}
.bauknecht-theme .vtex-toast {
  background: #188e95;
  color: white
}
.bauknecht-theme .vtex-minicart-2-x-minicartCheckoutButton .vtex-button {
  background: #188e95 !important;
  border-color: #188e95 !important;
  color: white
}
.bauknecht-theme .vtex-minicart-2-x-minicartProductListContainer .vtex-dropdown__arrow {
  background-color: #188e95;
}
.bauknecht-theme .vtex-modal-layout-0-x-backdrop {
  background-color: rgb(14, 12, 12)
}
.bauknecht-theme .vtex-modal-layout-0-x-closeIcon {
  color: #188e95;
  border: 3px solid #188e95;
}
.bauknecht-theme .vtex-product-summary-2-x-element {
  border: 1px solid rgb(184, 176, 176);
}
.bauknecht-theme .vtex-product-summary-2-x-buyButtonContainer {
  background-color: #188e95;
}
.bauknecht-theme .vtex-product-summary-2-x-buyButtonContainer:hover {
  background-color: #188e95;
}
.bauknecht-theme .vtex-product-summary-2-x-buyButton {
  background-color: #188e95
}
.bauknecht-theme .vtex-rich-text-0-x-container {
  background-color: white;
  color: rgb(0, 0, 0)
}
.bauknecht-theme .vtex-rich-text-0-x-wrapper--headerLeft {
  background-color: white;
}
.bauknecht-theme .vtex-rich-text-0-x-wrapper--headerRight {
  background-color: white;
}
.bauknecht-theme .vtex-rich-text-0-x-wrapper--text1 {
  background-color: #424242;
  color: white;
}
.bauknecht-theme .vtex-rich-text-0-x-wrapper--text2 {
  background-color: #424242;
  color: white;
}
.bauknecht-theme .vtex-rich-text-0-x-wrapper--landing {
  background-color: #f2f2f2;
}
.bauknecht-theme .vtex-rich-text-0-x-wrapper--videos {
  background-color: #f2f2f2;
}
.bauknecht-theme .vtex-rich-text-0-x-wrapper--header {
  background-color: white;
}
.bauknecht-theme .vtex-rich-text-0-x-wrapper--header:hover {
  border-bottom: 4px solid #188e95
}
.bauknecht-theme .vtex-rich-text-0-x-wrapper--key {
  border-bottom: 2px solid red;
}
.bauknecht-theme .vtex-rich-text-0-x-wrapper--columnText {
  border-bottom: 1px solid #f2f2f2;
}
.bauknecht-theme .vtex-rich-text-0-x-wrapper--columnText:hover {
  color: #188e95
}
.bauknecht-theme .vtex-rich-text-0-x-container--videosMobile {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f2f2f2
}
.bauknecht-theme .vtex-rich-text-0-x-wrapper--barcodeIcon:hover {
  border-bottom: 5px solid #188e95
}
.bauknecht-theme .vtex-rich-text-0-x-paragraph--phoneNumber {
  border-right: 1px solid #b3b3b3;
}
.bauknecht-theme .vtex-rich-text-0-x-container--SearchTitle {
  background-color: #f2f2f2
}
.bauknecht-theme .vtex-rich-text-0-x-paragraph--textSlider {
  color: #f2f2f2;
}
.bauknecht-theme .vtex-rich-text-0-x-wrapper--promotiesPage {
  background: #f2f2f2;
  color: #212529
}
.bauknecht-theme .vtex-rich-text-0-x-container--headerCustomPage {
  background-color: #f2f2f2;
}
.bauknecht-theme .vtex-search-result-3-x-buttonShowMore .vtex-button {
  background-color: #188e95 !important;
}
.bauknecht-theme .vtex-shelf-1-x-relatedProducts--relatedProductsDiv {
  background: rgb(230, 230, 230)
}
.bauknecht-theme .vtex-slider-layout-0-x-slideChildrenContainer {
  background-color: white
}
.bauknecht-theme .vtex-stack-layout-0-x-stackItem--searchImage {
  border-bottom: 1px solid #f2f2f2
}
.bauknecht-theme .vtex-store-components-3-x-infoCardHeadline {
  color: rgb(0, 0, 0);
  background-color: #188e95;
}
.bauknecht-theme .vtex-store-components-3-x-infoCardHeadline:hover {
  color: white;
  background-color: red;
}
.bauknecht-theme .vtex-store-components-3-x-infoCardContainer {
  background-color: #f2f2f2;
}
.bauknecht-theme .vtex-store-components-3-x-infoCardCallActionContainer .vtex-button {
  color: white;
  background-color: #f2f2f2;
}
.bauknecht-theme .vtex-store-components-3-x-infoCardCallActionContainer .vtex-button:hover {
  color: gray;
  background-color: white;
}
.bauknecht-theme .vtex-store-components-3-x-currencyCode {
  color: #188e95
}
.bauknecht-theme .vtex-store-components-3-x-productBrand {
  color: #212529
}
.bauknecht-theme .vtex-store-components-3-x-autoCompleteOuterContainer--searchDrop .vtex-input-prefix__group {
  border-bottom: 1px solid rgb(192, 186, 186);
}
.bauknecht-theme .vtex-store-components-3-x-autoCompleteOuterContainer--homeAutocomplete .vtex-input-prefix__group {
  border: gray;
}
.bauknecht-theme .vtex-store-components-3-x-autoCompleteOuterContainer--homeAutocomplete .vtex-styleguide-9-x-input {
  background: #e4e9eb
}

.vtex-store-components-3-x-autoCompleteOuterContainer--homeAutocomplete .vtex-styleguide-9-x-input:focus {
  background: white;
  border: 1px solid #e4e9eb;
  box-shadow: 5px 5px #e4e9eb
}
.bauknecht-theme .vtex-store-components-3-x-price_savings {
  color: #136f74
}
.bauknecht-theme .vtex-store-drawer-0-x-menuIcon {
  color: #188e95
}
.bauknecht-theme .vtex-store-link-0-x-link--columnLinkRight {
  color: black;
}
.bauknecht-theme .vtex-store-link-0-x-label--columnLinkRight:hover {
  color: #f2f2f2;
}
.bauknecht-theme .vtex-store-link-0-x-link--promotionsButton {
  color: black;
  background-color: white;
  border-color: #188e95;
}
.bauknecht-theme .vtex-store-link-0-x-link--promotionsButton:hover {
  color: white;
  background-color: #188e95;
  border-color: #188e95
}
.bauknecht-theme .vtex-store-link-0-x-buttonLink--buttonSearch {
  background: #188e95;
  color: white;
}
.bauknecht-theme .vtex-store-link-0-x-buttonLink--buttonSearch:hover {
  background: #188e95;
  color: white
}
.bauknecht-theme .vtex-store-link-0-x-buttonLink--leftDown {
  background-color: #188e95;
  color: white;
}
.bauknecht-theme .vtex-store-link-0-x-buttonLink--leftDown:hover {
  background-color: #a88718;
  color: white
}
.bauknecht-theme .vtex-store-link-0-x-link--loginButton {
  background-color: #188e95 !important;
}
.bauknecht-theme .vtex-store-video-1-x-videoContainer--videoLandingMobile {
  background-color: rgb(224, 224, 224)
}
.bauknecht-theme .vtex-styleguide-9-x-vtex-dropdown__container {
  background-color: red
}
.bauknecht-theme .vtex-styleguide-9-x-container {
  background-color: #e4e9eb;
}
.smartcsb2c-countdown-0-x-countdownImage1{
  fill:#188e95 !important;
}
.bauknecht-theme .smartcsb2c-custom-autocomplete-0-x-customAutocomplete__search_btn {
  background-color: #188e95;
  border-color: #188e95;
}
.bauknecht-theme .smartcsb2c-custom-autocomplete-0-x-customAutocomplete__search_btn:hover {
  background-color: #136f74;
  border-color: #136f74;
}
.bauknecht-theme .vtex-menu-2-x-styledLinkContent:hover{
  color: #136f74;
}
.bauknecht-theme .bg-emphasis {
  background-color: #188e95 !important;
}
.bauknecht-theme .smartcsb2c-countdown-0-x-promotionsIcon polygon{
  fill:#188e95 !important;
}
.bauknecht-theme #onetrust-consent-sdk #onetrust-accept-btn-handler, #onetrust-banner-sdk #onetrust-reject-all-handler {
  background-color: #188e95 !important;
  border-color: #188e95 !important;
  color: #FFFFFF;
}
.bauknecht-theme #onetrust-consent-sdk #onetrust-accept-btn-handler:hover, #onetrust-banner-sdk #onetrust-reject-all-handler:hover {
  background-color: #188e95 !important;
  border-color: #188e95 !important;
  color: #FFFFFF;
}
.bauknecht-theme #onetrust-consent-sdk #onetrust-banner-sdk a[href] {
  color: #188e95;
}
.bauknecht-theme #onetrust-pc-btn-handler {
  color: #188e95 !important;
  border: 1px solid #188e95 !important;
}
.bauknecht-theme #onetrust-pc-btn-handler:hover {
  background-color: #188e95 !important;
  border-color: #188e95 !important;
  color: #ffffff !important;
}
.bauknecht-theme .smartcsb2c-countdown-0-x-serviceImage circle{
  stroke: #188e95 !important;
}
.bauknecht-theme #BARRA_INFO path{
  fill: #188e95 !important;  
}
.bauknecht-theme .smartcsb2c-countdown-0-x-hamburgerIcon path{
  fill: #188e95 !important;  
}
.bauknecht-theme .vtex-login-2-x-sendButton , .bauknecht-theme .vtex-login-2-x-sendButton .vtex-button {
  background: #188e95 !important;
}

.bauknecht-theme .vtex-login-2-x-forgotPasswordLink, .bauknecht-theme .vtex-login-2-x-dontHaveAccount {
  color: #188e95 !important;
}

.bauknecht-theme .vtex-login-2-x-emailPasswordOptionBtn, .bauknecht-theme .vtex-login-2-x-backButton {
  color: #188e95 !important;
}
.bauknecht-theme .vtex-login-2-x-sendButton .vtex-button:hover{
  opacity: .5;
}
.bauknecht-theme .smartcsb2c-login-custom-flow-0-x-confirmButton {
  color: #188e95;
  border: 1px solid #188e95;
}
.bauknecht-theme .vtex-login-2-x-accessCodeOptionBtn .vtex-button{
  background-color: #fff !important;
  color: #188e95;
}
.bauknecht-theme .smartcsb2c-login-custom-flow-0-x-confirmButton:hover,.bauknecht-theme .vtex-login-2-x-accessCodeOptionBtn .vtex-button:hover {
  background-color: #188e95 !important;
  border-color: #188e95 !important;
  color: #ffffff !important;
}
.bauknecht-theme .smartcsb2c-product-availability-custom-0-x-exclamationIcon{
  fill: #188e95 !important;
}
.bauknecht-theme .vtex-login-2-x-content--emailVerification{
  justify-content: center !important;
}
.bauknecht-theme .smartcsb2c-login-custom-flow-0-x-inputContainer .vtex-input-prefix__group:hover{
  border-color: #188e95;
}
.bauknecht-theme .smartcsb2c-login-custom-flow-0-x-buttonContainer .vtex-button {
  background: #188e95 !important;
}
.bauknecht-theme .vtex-checkbox__inner-container.b--action-primary {
  border-color: #188e95;
  background: #188e95;
}
.bauknecht-theme .vtex-flex-layout-0-x-flexRowContent--confirmationButtons .vtex-button {
  background-color: #188e95 !important;
  border-color: #188e95 !important;
  color: #fff !important;
  padding: 0 10px;
}
.bauknecht-theme .vtex-flex-layout-0-x-flexRowContent--confirmationButtons .vtex-button:hover {
  border-color: #136f74 !important;
  background-color: #136f74 !important;
}
.bauknecht-theme .vtex-order-placed-2-x-confirmationIconWrapper {
  color: #188e95;
}
.bauknecht-theme .vtex-order-placed-2-x-myOrdersButton .vtex-button {
  background-color: #188e95 !important;
  border-color: #188e95 !important;
  color: #fff !important;
  padding: 0 10px;
}
.bauknecht-theme .vtex-order-placed-2-x-myOrdersButton .vtex-button:hover {
  border-color: #136f74 !important;
  background-color: #136f74 !important;
}
.bauknecht-theme .smartcsb2c-custom-autocomplete-2-x-customAutocomplete__search_btn {
  background-color: #188e95 !important;
  border-color: #188e95 !important;
}
.bauknecht-theme .smartcsb2c-custom-autocomplete-2-x-customAutocomplete__search_btn:hover {
  border-color: #136f74 !important;
  background-color: #136f74 !important;
}
.bauknecht-theme .smartcsb2c-custom-product-page-0-x-customProductPageSparePartsCardFooter button {
  background-color: #188e95 !important;
  border-color: #188e95 !important;
}
.bauknecht-theme .smartcsb2c-custom-product-page-0-x-customProductPageSparePartsCardFooter button:hover {
  border-color: #136f74 !important;
  background-color: #136f74 !important;
}
.bauknecht-theme .smartcsb2c-custom-product-page-0-x-customProductPageCategoryActive {
  border: 1px solid #188e95;
}
.bauknecht-theme .smartcsb2c-countdown-0-x-deliveryHover, .smartcsb2c-countdown-0-x-warningHover {
  background-color: #188e95;
  padding: 5px 5px;
}
.bauknecht-theme .smartcsb2c-countdown-0-x-deliveryHover:after, .smartcsb2c-countdown-0-x-warningHover:after {
  border-top-color: #188e95;
}