/* CSS INDESIT */
body.bauknecht-theme {
    background-color: #FFFFFF;
}
body.bauknecht-theme a:hover, body .bauknecht-theme a {
color: #188e95 !important;
}
.bauknecht-theme a:hover, .bauknecht-theme a:link, .bauknecht-theme a:visited {
    color: #136f74 !important;
}
.bauknecht-theme .container-logo {
   background-color: #FFFFFF;
}
.bauknecht-theme .checkout-title{
   background-color: #F2F2F2;
}
.bauknecht-theme #footer {
    border-top: 6px solid #188e95;
    background: #454748;
}
.bauknecht-theme #footer .credits {
    color: #ffffff;
}
.bauknecht-theme #footer a:hover, .bauknecht-theme #footer a:link, .bauknecht-theme #footer a:visited {
    color: #ffffff;
}
.bauknecht-theme .bg-black {
    background-color: #1a1a1a;
}
.bauknecht-theme .table.cart-items, .bauknecht-theme .summary-template-holder tbody  {
    border-bottom: 2px solid #188e95!important;
}
.bauknecht-theme #cart-coupon-add, .bauknecht-theme .btn-place-order-wrapper, .bauknecht-theme .shipping-calculate-link, .bauknecht-theme .btn-success, .bauknecht-theme #cart-to-orderform, .bauknecht-theme #payment-data-submit, .bauknecht-theme #go-to-payment, .bauknecht-theme #go-to-shipping, .bauknecht-theme #cart-choose-products{
    background-color: #188e95;
    border-color: #188e95;
    color:#ffffff !important;
}
.bauknecht-theme #cart-to-orderform:hover, #cart-coupon-add:hover, #btn-go-to-payment:hover, #payment-data-submit:hover, #go-to-payment:hover, #go-to-shipping:hover, #cart-choose-products:hover {
    background-color: #136f74 !important;
    border-color: #136f74 !important;
    color: #ffffff !important;
}
.bauknecht-theme .onda-v1 .bg-washed-blue {
    background-color: #f9faed !important;
}
.bauknecht-theme .cart-more-options .srp-container .onda-v1 .bg-blue, .bauknecht-theme .table.cart-items tbody tr td .field-help{
   border-color: #188e95 !important;
   background-color: #188e95;
}
.bauknecht-theme .table.cart-items tbody tr td i.icon-question-sign {
    color: #188e95 !important;
}
.bauknecht-theme .cart-more-options .srp-container .onda-v1 .blue {
    color: #188e95 !important;
}
.bauknecht-theme #cart-shipping-calculate{
   border-color: #188e95 !important;
   color: #188e95 !important;   
}
.bauknecht-theme #cart-shipping-calculate:hover,#cart-shipping-calculate:active, #cart-coupon{
    background: #f9faed !important;
}
.bauknecht-theme .cart-more-options .srp-container button.shp-open-options, .bauknecht-theme .cart-more-options .srp-container .onda-v1 .b--blue {
    border-color: #188e95 !important;
}
.bauknecht-theme .cart-more-options .srp-container .onda-v1 .blue:hover a:not, .bauknecht-theme .cart-more-options .srp-container .onda-v1 .bg-blue:hover, .bauknecht-theme .btn-success:hover {
    background-color: #136f74 !important;
    border-color: #136f74 !important;
    color: #ffffff !important;
}
.bauknecht-theme .icon-edit:before{
    color: #188e95 !important;   
}
.bauknecht-theme .monetary{
   color: #323232 !important;
}
body.bauknecht-theme.js-vcustom-hideEmailStep .client-profile-data .accordion-toggle>span:before, .bauknecht-theme #shipping-option-delivery, .bauknecht-theme #shipping-option-pickup-in-point, body.v-custom-step-shipping .shipping-data .accordion-toggle:before, body.v-custom-step-payment .shipping-data .accordion-toggle:before, body.v-custom-step-payment .payment-data .accordion-toggle>span:not(.payment-edit-link):before {
   border-color: #188e95 !important;
   background: #188e95;
}
.bauknecht-theme .orderform-template-holder .step.shipping-data .shipping-method-toggle{
   border-color: #188e95;
}
.bauknecht-theme .vtex-omnishipping-1-x-deliveryChannelsToggle{
   background: #188e95 !important;
   border: solid 1px #188e95 !important;

}
.bauknecht-theme .orderform-template .cart-template.mini-cart .quantity, .bauknecht-theme .orderform-template-holder .step.shipping-data .vtex-omnishipping-1-x-summaryChange {
    background: #f9faed !important;
    color: #188e95 !important;
}
.bauknecht-theme .vtex-omnishipping-1-x-pc .btn{
    border: 1px solid #188e95 !important;
    color: #188e95 !important;
}
.bauknecht-theme svg.srp-icon-radio-selected.db > path, svg.vtex-omnishipping-1-x-svg path {
    fill: #188e95;
}
.bauknecht-theme .summary-template-holder .summary-coupon p.coupon-fields span.info>span {
color: #188e95 !important;
}