.indesit-theme .smartcsb2cqa-add-to-cart-button-custom-0-x-shoppingIcon {
    fill: white;
}
.indesit-theme .smartcsb2cqa-add-to-cart-button-custom-0-x-buttonDataContainer:hover {
    background: #0076aa
}
.indesit-theme .smartcsb2cqa-add-to-cart-button-custom-0-x-syncIcon {
    fill: white
}
.indesit-theme .smartcsb2cqa-add-to-cart-button-custom-0-x-mailIcon {
    fill: white;
}
.indesit-theme .vtex-breadcrumb-1-x-caretIcon {
    color: #0090d0;
}
.indesit-theme .vtex-breadcrumb-1-x-arrow--3:hover .vtex-breadcrumb-1-x-link,
.vtex-breadcrumb-1-x-arrow--4:hover .vtex-breadcrumb-1-x-link {
    color: #0090d0 !important
}
.indesit-theme .vtex-category-menu-2-x-departmentLink:hover {
    border-bottom: 2px solid #0090d0;
}
.indesit-theme .vtex-category-menu-2-x-firstLevelLink:hover {
    border-bottom: 2px solid #0090d0;
}
.indesit-theme .vtex-category-menu-2-x-secondLevelLink:hover {
    border-bottom: 2px solid #0090d0;
}
.indesit-theme .vtex-category-menu-2-x-thirdLevelLink:hover {
    border-bottom: 2px solid #0090d0;
}
.indesit-theme .smartcsb2cqa-countdown-0-x-countdownMain {
    background-color: #e6e6e6;
}
.indesit-theme .smartcsb2cqa-countdown-0-x-serviceMainDiv {
    background-color: #f2f2f2;
}
.indesit-theme .smartcsb2cqa-countdown-0-x-buttonZie, .indesit-theme .smartcsb2cqa-countdown-0-x-alertButton  {
    background-color: #0090d0;
    color: white;
}
.indesit-theme .smartcsb2cqa-countdown-0-x-buttonZie:hover, .indesit-theme .smartcsb2cqa-countdown-0-x-alertButton:hover  {
    cursor: pointer;
    background-color: #0076AA
}
.indesit-theme .smartcsb2cqa-countdown-0-x-categoriesMainDiv {
    background-color: white;
}
.indesit-theme .smartcsb2cqa-countdown-0-x-iconsInnerDiv {
    background-color: #f2f2f2
}
.indesit-theme .smartcsb2cqa-countdown-0-x-categoriesLabel:hover {
    border-bottom: 4px solid #0090d0
}
.indesit-theme .smartcsb2cqa-countdown-0-x-categoriesIcons {
    fill: gray;
}
.indesit-theme .smartcsb2cqa-countdown-0-x-categoriesArrow {
    fill: #0090d0
}
.indesit-theme .smartcsb2cqa-countdown-0-x-categoriesIcons:hover {
    fill: #0090d0;
}
.indesit-theme .smartcsb2cqa-countdown-0-x-footerHr {
    background-color: #0090d0;
}
.indesit-theme .smartcsb2cqa-countdown-0-x-footerColumnHeaders {
    color: white;
}
.indesit-theme .smartcsb2cqa-countdown-0-x-footerLabels {
    color: white;
}
.indesit-theme .smartcsb2cqa-countdown-0-x-footerDivIconLabel {
    color: white;
}
.indesit-theme .smartcsb2cqa-countdown-0-x-footerEndLabels {
    color: white;
}
.indesit-theme .smartcsb2cqa-countdown-0-x-footerDivWithIcon {
    color: #0090d0
}
.indesit-theme .smartcsb2cqa-countdown-0-x-footerMailIcon {
    fill: #0090d0
}
.indesit-theme .smartcsb2cqa-countdown-0-x-phoneCallFooter {
    color: white;
}
.indesit-theme .smartcsb2cqa-countdown-0-x-promotionTitle {
    background-color: #0090d0;
    color: #fff;
}
.indesit-theme .smartcsb2cqa-countdown-0-x-promotionTitle::before {
    border-color: transparent transparent #0076aa;
}
.indesit-theme .smartcsb2cqa-countdown-0-x-promotionTitle::after {
    border-color: transparent transparent #0076aa;
}
.indesit-theme .smartcsb2cqa-countdown-0-x-barcodeMainDiv {
    background-color: white;
}
@media only screen and (max-width:720px) {
    .smartcsb2cqa-countdown-0-x-footerMainDiv {
        background-color: #424242
    }
    .smartcsb2cqa-countdown-0-x-footerHr {
        background-color: #0090d0;
    }
    .smartcsb2cqa-countdown-0-x-footerColumnHeaders {
        color: white;
    }
    .smartcsb2cqa-countdown-0-x-footerLabels {
        color: white;
    }
    .smartcsb2cqa-countdown-0-x-footerDivIconLabel {
        color: white;
    }
    .smartcsb2cqa-countdown-0-x-footerEndLabels {
        color: white;
    }
    .smartcsb2cqa-countdown-0-x-footerEndDiv {
        background-color: black;
    }
    .smartcsb2cqa-countdown-0-x-footerDivWithIcon {
        color: #0090d0
    }
    .smartcsb2cqa-countdown-0-x-leftArrowDivMobile {
        background-color: #0090d0;
        color: white
    }
    .smartcsb2cqa-countdown-0-x-categoriesArrowMobile {
        fill: white;
    }
}

.vtex-flex-layout-0-x-flexRow {
    background-color: white
}

.vtex-flex-layout-0-x-flexRow--footer {
    background-color: #424242;
}

.vtex-flex-layout-0-x-flexRow--header {
    background-color: white;
    border: 2px solid #f2f2f2;
}

.vtex-flex-layout-0-x-flexRow--landing {
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
}

.vtex-flex-layout-0-x-flexRow--flexboxVideos {
    background-color: #f2f2f2;
}
.indesit-theme .vtex-flex-layout-0-x-flexRow--footerEnd {
    background-color: black
}

.vtex-flex-layout-0-x-flexRow--promotions {
    background-color: white;
}

.vtex-flex-layout-0-x-flexRow--creditCards {
    background-color: #424242
}
.indesit-theme .vtex-flex-layout-0-x-flexRow--headertabMain {
    border: 3px solid #f2f2f2
}
.indesit-theme .vtex-flex-layout-0-x-flexRow--priceAndButton {
    border: 1px solid #f2f2f2e5
}
.indesit-theme .vtex-flex-layout-0-x-flexColChild--flexRowProductRight {
    border-left: 1px solid black;
}
.indesit-theme .vtex-flex-layout-0-x-flexRowContent--priceAndButton .vtex-button {
    background: #0090d0;
}
@keyframes vtex-flex-layout-0-x-shoppingIcon {
    0% {
        background-color: rgb(30, 255, 105);
    }
    10% {
        background-color: rgb(255, 255, 255);
    }
}
.indesit-theme .vtex-flex-layout-0-x-flexColChild--flexRowProductRight .vtex-button {
    background: #0090d0 !important;
    border-color: #0090d0;
}
.indesit-theme .vtex-flex-layout-0-x-flexRow--videosMobileRow {
    background-color: #f2f2f2
}

.vtex-flex-layout-0-x-flexCol--videosMobileCol {
    background-color: #f2f2f2
}
.indesit-theme .vtex-flex-layout-0-x-flexRow--headertabSecond .vtex-button {
    background-color: #0090d0;
    color: white !important
}
.indesit-theme .vtex-flex-layout-0-x-flexRow--headertabSecond .vtex-button .vtex-flex-layout-0-x-span {
    color: white
}
@media only screen and (max-width:1024px) {
    .vtex-flex-layout-0-x-flexColChild--dropdowncolMobile::after {
        color: #0090d0;
    }
}
.indesit-theme .vtex-login-2-x-label,
.vtex-login-2-x-profile {
    color: white;
}
.indesit-theme .vtex-dropdown__arrow {
    background-color: #0090d0;
}
.indesit-theme .vtex-menu-2-x-menuContainer .vtex-menu-2-x-styledLinkContainer::after {
    color: #0090d0;
}
.indesit-theme .vtex-toast {
    background: #0090d0;
    color: white
}
.indesit-theme .vtex-minicart-2-x-minicartCheckoutButton .vtex-button {
    background: #0090d0 !important;
    border-color: #0090d0 !important;
    color: white
}
.indesit-theme .vtex-minicart-2-x-minicartProductListContainer .vtex-dropdown__arrow {
    background-color: #0090d0;
}
.indesit-theme .vtex-modal-layout-0-x-backdrop {
    background-color: rgb(14, 12, 12)
}
.indesit-theme .vtex-modal-layout-0-x-closeIcon {
    color: #0090d0;
    border: 3px solid #0090d0;
}
.indesit-theme .vtex-product-summary-2-x-element {
    border: 1px solid rgb(184, 176, 176);
}
.indesit-theme .vtex-product-summary-2-x-buyButtonContainer {
    background-color: #0090d0;
}
.indesit-theme .vtex-product-summary-2-x-buyButtonContainer:hover {
    background-color: #0090d0;
}
.indesit-theme .vtex-product-summary-2-x-buyButton {
    background-color: #0090d0
}
.indesit-theme .vtex-rich-text-0-x-container {
    background-color: white;
    color: rgb(0, 0, 0)
}
.indesit-theme .vtex-rich-text-0-x-wrapper--headerLeft {
    background-color: white;
}
.indesit-theme .vtex-rich-text-0-x-wrapper--headerRight {
    background-color: white;
}
.indesit-theme .vtex-rich-text-0-x-wrapper--text1 {
    background-color: #424242;
    color: white;
}
.indesit-theme .vtex-rich-text-0-x-wrapper--text2 {
    background-color: #424242;
    color: white;
}
.indesit-theme .vtex-rich-text-0-x-wrapper--landing {
    background-color: #f2f2f2;
}
.indesit-theme .vtex-rich-text-0-x-wrapper--videos {
    background-color: #f2f2f2;
}
.indesit-theme .vtex-rich-text-0-x-wrapper--header {
    background-color: white;
}
.indesit-theme .vtex-rich-text-0-x-wrapper--header:hover {
    border-bottom: 4px solid #0090d0
}
.indesit-theme .vtex-rich-text-0-x-wrapper--key {
    border-bottom: 2px solid red;
}
.indesit-theme .vtex-rich-text-0-x-wrapper--columnText {
    border-bottom: 1px solid #f2f2f2;
}
.indesit-theme .vtex-rich-text-0-x-wrapper--columnText:hover {
    color: #0090d0
}
.indesit-theme .vtex-rich-text-0-x-container--videosMobile {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #f2f2f2
}
.indesit-theme .vtex-rich-text-0-x-wrapper--barcodeIcon:hover {
    border-bottom: 5px solid #0090d0
}
.indesit-theme .vtex-rich-text-0-x-paragraph--phoneNumber {
    border-right: 1px solid #b3b3b3;
}
.indesit-theme .vtex-rich-text-0-x-container--SearchTitle {
    background-color: #f2f2f2
}
.indesit-theme .vtex-rich-text-0-x-paragraph--textSlider {
    color: #f2f2f2;
}
.indesit-theme .vtex-rich-text-0-x-wrapper--promotiesPage {
    background: #f2f2f2;
    color: #212529
}
.indesit-theme .vtex-rich-text-0-x-container--headerCustomPage {
    background-color: #f2f2f2;
}
.indesit-theme .vtex-search-result-3-x-buttonShowMore .vtex-button {
    background-color: #0090d0;
}
.indesit-theme .vtex-shelf-1-x-relatedProducts--relatedProductsDiv {
    background: rgb(230, 230, 230)
}
.indesit-theme .vtex-slider-layout-0-x-slideChildrenContainer {
    background-color: white
}
.indesit-theme .vtex-stack-layout-0-x-stackItem--searchImage {
    border-bottom: 1px solid #f2f2f2
}
.indesit-theme .vtex-store-components-3-x-infoCardHeadline {
    color: rgb(0, 0, 0);
    background-color: #0090d0;
}
.indesit-theme .vtex-store-components-3-x-infoCardHeadline:hover {
    color: white;
    background-color: red;
}
.indesit-theme .vtex-store-components-3-x-infoCardContainer {
    background-color: #f2f2f2;
}
.indesit-theme .vtex-store-components-3-x-infoCardCallActionContainer .vtex-button {
    color: white;
    background-color: #f2f2f2;
}
.indesit-theme .vtex-store-components-3-x-infoCardCallActionContainer .vtex-button:hover {
    color: gray;
    background-color: white;
}
.indesit-theme .vtex-store-components-3-x-currencyCode {
    color: #0090d0
}
.indesit-theme .vtex-store-components-3-x-productBrand {
    color: #212529
}
.indesit-theme .vtex-store-components-3-x-autoCompleteOuterContainer--searchDrop .vtex-input-prefix__group {
    border-bottom: 1px solid rgb(192, 186, 186);
}
.indesit-theme .vtex-store-components-3-x-autoCompleteOuterContainer--homeAutocomplete .vtex-input-prefix__group {
    border: gray;
}
.indesit-theme .vtex-store-components-3-x-autoCompleteOuterContainer--homeAutocomplete .vtex-styleguide-9-x-input {
    background: #e4e9eb
}

.vtex-store-components-3-x-autoCompleteOuterContainer--homeAutocomplete .vtex-styleguide-9-x-input:focus {
    background: white;
    border: 1px solid #e4e9eb;
    box-shadow: 5px 5px #e4e9eb
}
.indesit-theme .vtex-store-components-3-x-price_savings {
    color: #0076aa
}
.indesit-theme .vtex-store-drawer-0-x-menuIcon {
    color: #0090d0
}
.indesit-theme .vtex-store-link-0-x-link--columnLinkRight {
    color: black;
}
.indesit-theme .vtex-store-link-0-x-label--columnLinkRight:hover {
    color: #f2f2f2;
}
.indesit-theme .vtex-store-link-0-x-link--promotionsButton {
    color: black;
    background-color: white;
    border-color: #0090d0;
}
.indesit-theme .vtex-store-link-0-x-link--promotionsButton:hover {
    color: white;
    background-color: #0090d0;
    border-color: #0090d0
}
.indesit-theme .vtex-store-link-0-x-buttonLink--buttonSearch {
    background: #0090d0;
    color: white;
}
.indesit-theme .vtex-store-link-0-x-buttonLink--buttonSearch:hover {
    background: #0090d0;
    color: white
}
.indesit-theme .vtex-store-link-0-x-buttonLink--leftDown {
    background-color: #0090d0;
    color: white;
}
.indesit-theme .vtex-store-link-0-x-buttonLink--leftDown:hover {
    background-color: #a88718;
    color: white
}
.indesit-theme .vtex-store-link-0-x-link--loginButton {
    background-color: #0090d0 !important;
}
.indesit-theme .vtex-store-video-1-x-videoContainer--videoLandingMobile {
    background-color: rgb(224, 224, 224)
}
.indesit-theme .vtex-styleguide-9-x-vtex-dropdown__container {
    background-color: red
}
.indesit-theme .vtex-styleguide-9-x-container {
    background-color: #e4e9eb;
}
.smartcsb2cqa-countdown-0-x-countdownImage1{
    fill:#0090d0 !important;
}
.indesit-theme .smartcsb2cqa-custom-autocomplete-0-x-customAutocomplete__search_btn {
    background-color: #0090d0;
    border-color: #0090d0;
}
.indesit-theme .smartcsb2cqa-custom-autocomplete-0-x-customAutocomplete__search_btn:hover {
    background-color: #0076aa;
    border-color: #0076aa;
}
.indesit-theme .vtex-menu-2-x-styledLinkContent:hover{
    color: #0076aa;
}
.indesit-theme .bg-emphasis {
    background-color: #0090d0 !important;
}
.indesit-theme .smartcsb2cqa-countdown-0-x-promotionsIcon polygon{
    fill:#0090d0 !important;
}
.indesit-theme #onetrust-consent-sdk #onetrust-accept-btn-handler, #onetrust-banner-sdk #onetrust-reject-all-handler {
    background-color: #0090d0 !important;
    border-color: #0090d0 !important;
    color: #FFFFFF;
}
.indesit-theme #onetrust-consent-sdk #onetrust-accept-btn-handler:hover, #onetrust-banner-sdk #onetrust-reject-all-handler:hover {
    background-color: #0090d0 !important;
    border-color: #0090d0 !important;
    color: #FFFFFF;
}
.indesit-theme #onetrust-consent-sdk #onetrust-banner-sdk a[href] {
    color: #0090d0;
}
.indesit-theme #onetrust-pc-btn-handler {
    color: #0090d0 !important;
    border: 1px solid #0090d0 !important;
}
.indesit-theme #onetrust-pc-btn-handler:hover {
    background-color: #0090d0 !important;
    border-color: #0090d0 !important;
    color: #ffffff !important;
}
.indesit-theme .smartcsb2cqa-countdown-0-x-serviceImage circle{
    stroke: #0090d0 !important;
}
.indesit-theme #BARRA_INFO path{
    fill: #0090d0 !important;  
}
.indesit-theme .smartcsb2cqa-countdown-0-x-hamburgerIcon path{
    fill: #0090d0 !important;  
}
.indesit-theme .vtex-login-2-x-sendButton , .indesit-theme .vtex-login-2-x-sendButton .vtex-button {
    background: #0090d0 !important;
}

.indesit-theme .vtex-login-2-x-forgotPasswordLink, .indesit-theme .vtex-login-2-x-dontHaveAccount {
    color: #0090d0 !important;
}

.indesit-theme .vtex-login-2-x-emailPasswordOptionBtn, .indesit-theme .vtex-login-2-x-backButton {
    color: #0090d0 !important;
}
.indesit-theme .vtex-login-2-x-sendButton .vtex-button:hover{
    opacity: .5;
}
.indesit-theme .smartcsb2cqa-login-custom-flow-0-x-confirmButton {
    color: #0090d0;
    border: 1px solid #0090d0;
}
.indesit-theme .vtex-login-2-x-accessCodeOptionBtn .vtex-button{
    background-color: #fff !important;
    color: #0090d0;
  }
.indesit-theme .smartcsb2cqa-login-custom-flow-0-x-confirmButton:hover,.indesit-theme .vtex-login-2-x-accessCodeOptionBtn .vtex-button:hover {
    background-color: #0090d0 !important;
    border-color: #0090d0 !important;
    color: #ffffff !important;
}
.indesit-theme .smartcsb2cqa-product-availability-custom-0-x-exclamationIcon{
    fill: #0090d0 !important;
}
