.container {}

.lowStockText {}

.lowStockHighlight {}

.highStockText {}

.availabilityDiv {
    display: flex;
    align-items: center;
    height: 40px;
    font-size: 0.9rem;
}

.availabilityDiv p {
    margin: 0;
}

.unavailableIcon {
    fill: #D7443E;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.exclamationIcon {
    fill: #deb01a;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.discountIcon {
    fill: black;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.tickIcon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

@media only screen and (max-width: 1300px) {
    .availabilityDiv {
        width: 100%;;
    }
}

@media only screen and (max-width: 726px) {
    .availabilityDiv {
        justify-content: flex-start;
    }
}