.chatManImage {
	width: 100%;
	max-width: 70px;
}
.chatBotContainer {
	position: fixed;
	bottom: 3%;
	right: 3%;
	z-index: 99999;
	cursor: pointer;
}
.firstFormContainer {
	position: fixed;
	bottom: 15%;
	right: 10%;
	z-index: 9999999;
	box-shadow: 0 2px 4px rgb(0 0 0 / 50%);
	border-radius: 10px;
	background-color: #fff;
}
.helpContainer {
	background: #007d69;
	padding: 1rem 2rem;
	display: flex;
	align-items: center;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
	justify-content: space-between;
}
.helpText {
	margin-right: 2rem;
	color: white;
}
.helpImage {
	width: 1.5rem;
	cursor: pointer;
}

.whatsappContainer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 1.6rem 0.5rem 2rem;
	border-bottom: 1px solid #f2f2f2;
	position: relative;
	cursor: pointer;
}
.whatsappEmbeddedButton {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.whatsappEmbeddedButton > div {
	width: 100%;
	height: 100%;
}
.whatsappEmbeddedButton > div > div > div:first-child {
	display: none;
}
.whatsappEmbeddedButton > div > div > div:last-child,
.whatsappEmbeddedButton > div > div {
	width: 100%;
	height: 100%;
}
.whatsappEmbeddedButton > div > div > div:last-child > div {
	width: 100%;
	height: 100%;
	display: flex;
}
.whatsappEmbeddedButton > div > div > div:last-child > div > a {
	width: 100%;
	height: 100%;
}
.whatsappEmbeddedButton > div > div > div:last-child > div > a > span,
.whatsappEmbeddedButton > div > div > div:last-child > div > a > p {
	display: none;
}
.whatsappText {
}
.whatsappImage,
.goBackImage {
	cursor: pointer;
	width: 2rem;
	display: flex;
}
.goBackContainer {
	background: #007d69;
	padding: 0.5rem 2rem 0.5rem 1.6rem;
	display: flex;
	align-items: center;
	border-bottom-left-radius: 9px;
	border-bottom-right-radius: 9px;
}
.goBackWrapper {
	display: flex;
	align-items: center;
	cursor: pointer;
}
.goBackText {
	color: white;
	margin-left: 0.5rem;
}
.firstChatContainer,
.secondChatContainer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.firstChatContainer > div {
	background: transparent !important;
	width: 100% !important;
	height: 100% !important;
}
.firstChatContainer > div > div {
	display: none;
}
.secondChatContainer > div,
.secondChatContainer > div > div,
.secondChatContainer > div > div > div:last-child,
.secondChatContainer > div > div > div:last-child > div,
.secondChatContainer > div > div > div:last-child > div > a {
	width: 100%;
	height: 100%;
}
.secondChatContainer > div > div > div:first-child {
	display: none;
}
.secondChatContainer > div > div > div:last-child > div {
	display: flex;
}
.secondChatContainer > div > div > div:last-child > div > a > span,
.secondChatContainer > div > div > div:last-child > div > a > p {
	display: none;
}
/*---------------------------------*/
.whatsappBotContainer {
	position: fixed;
	bottom: 3%;
	right: 3%;
	background-color: #007d69;
	z-index: 99999;
}
.walterBotContainer {
	position: fixed;
	bottom: 3%;
	left: 50%;
	transform: translateX(-50%);
	background-color: #007d69;
	z-index: 99999;
	color: white;
	padding: 0.5rem 1rem;
}
.whatsappBotContainer > div > div > div > div:last-child {
	display: none;
}
.whatsappBotContainer > div > div > div > div:first-child > a > svg {
	fill: white;
}
.walterBotContainer > div > div > div {
	/* display: none; */
}
