.container {
  margin: 0;
  padding: 0;
}
.attribute {
  font-family: "myriadPro";
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 21px;
  color: #353535;
  margin: 0;
  padding: 0;
}
.value {
  font-family: "myriadPro";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #353535;
  text-decoration: none;
}
.valueUnavailable {
  font-family: "myriadLight";
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  color: #353535;
  text-decoration: none;
  position: relative;
  font-size: 0.875rem;
  white-space: nowrap;
  margin-left: 0.8rem;
}
.value2 {
  font-family: "myriadPro";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #353535;
  text-decoration: none;
}
.pdpPrice {
  color: #505050;
  padding: 0;
  font-size: 1.85rem;
  font-family: "myriadLight";
  line-height: 1.5;
  margin: 0rem 0.1rem;
}
.valueUnavailable::before {
  content: "";
  position: absolute;
  left: -0.8rem;
  top: 50%;
  transform: translateY(-50%);
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: red;
}
.plpAddServices {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.plpAddServiceContainer {
  display: flex;
  align-items: center;
}
.plpAddServiceImg {
  width: 1rem;
  height: 1rem;
  margin-right: 3%;
}
.plpAddServiceText {
  color: #505050;
  font-weight: 300;
  font-size: 0.8331rem;
  line-height: 1.3125rem;
  max-width: 250px;
}
.plpAddServicePrice{
  color: #007d69;
  margin-left: auto;
  white-space: nowrap;
  font-weight: bold;
  font-size: 0.8331rem;
  text-align: right;
  white-space: normal;
  max-width: 30%;
}