.instock{
  display: flex;
  align-items: center;
}
:global(.vtex-flex-layout-0-x-flexRowContent--productNamePdp) .instock{
  justify-content: end;
  align-items: flex-start;
}
.tick{
  width: 1rem;
  height: 1rem;
  background: url(./assets/instockIcon.svg);
  background-size: cover;
}
.instockText{
  font-family: "hotpointMedium";
  font-size:  1rem;
  color: #97C969;
  margin-left: .5rem;
}
.leadtime{
  font-family: "hotpointMedium";
  font-size:  1rem;
  color: #97C969;
  margin: 0;
}
.icon{
  height: 15px;
  margin-right: 10px;
}
.status{
  display: flex;
  align-items: center;
}
.plp{
  position: absolute;
  top: 0;
  right: 0;
  height: 29px !important;
  width: fit-content;
  display: flex;
  align-items: center;
  padding-right: 10px;
  display: table-cell;
  vertical-align: middle;
  padding-top: 5px;
}
.plp p{
  color: #fff !important;
  margin: 0;
  font-size: 0.875rem;
  padding: 2px;
  display: inline;
  vertical-align: top;
}
.plp img{
  margin-right: 5px;
  margin-left: 10px;
  display: inline;
  vertical-align: top;
}
