html,
body,
#render-container,
#render-provider,
.render-container,
.render-provider {
  height: 100%;
}

.truncate {
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
