/*-------------MOBILE-------------*/
.supportMenuContainer{
  padding: 1rem;
}
.supportMenuLink{
  background-color: #0d436b;
  text-decoration: unset;
  color: white;
  padding: 0.2rem 1rem;
  border-radius: 5px;
  margin: 1rem;
  cursor: pointer;
}
.catlogButtonDiv {
  display: flex;
  height: 38px;
  align-self: center;
}
.catlogButton {
  background: none;
  border-radius: 5px;
  border: none;
  color: #ffffff;
  cursor: pointer;
  padding: 0;
  margin: 0;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonImage {
  height: 20px;
  width: 20px;
  padding: 0;
}
.catalogMenuContainer {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 99999999;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #fff;
  overflow: hidden;
  transition: all 0.4s ease;
}
.catalogMenuLeftMobile {
  width: 100%;
  background: #fff;
  transition: all 0.5s ease;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 12.5rem;
}
.catlogueCloseMobileContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.closeIcon {
  padding: 1rem;
  width: 1rem;
}
.collapsibleContainer {
  width: 100%;
  margin-bottom: 1rem;
}
.collapsibleContainer > div > div > div:last-child {
  display: none;
}
.collapsibleContainer > div > div > div:first-child {
  display: flex;
}
.collapsibleContainer > div > div:last-child {
  background-color: #fff;
}
.catlogueTitleMobile {
  padding: 1rem 0;
  margin: 0 1rem;
  width: 100%;
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  border-bottom: 1px solid rgba(147, 192, 255, 0.5);
}
.catalogueTitleLabel {
  margin: 0;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
}
.accordionArrowIcon {
  transition: all 0.2s ease;
}
.accordionMenuContainer {
  flex-direction: column;
  margin: 0rem 1rem;
}
.leftMenuLabel {
  width: 100%;
  text-align: left;
  padding: 1rem;
  cursor: pointer;
  position: relative;
  border-bottom: 1px solid rgba(141, 140, 136, 0.3);
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.linkCatalogueLabel {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;
}
.contentLink{
  display: flex;
  justify-content: space-between;
}
.labelP {
  margin: 0;
  color: #3d3c3a;
}
.accordionArrowIconCategories {
  transform: rotate(180deg);
}
.childrenContainer {
  width: calc(100% - 2rem);
  margin: 0 auto;
}

/*-------------DESKTOP-------------*/
.catalogRow {
  margin: 0 2rem;
}
.brandCategoryLink{
  font-weight: 600;
  text-decoration: unset;
  color: #0d436b;
  padding: 1rem;
  font-size: 14px;
  white-space: nowrap;
}
.weekDealsLinkMobile{
  font-weight: 600;
  text-decoration: unset;
  color: black;
  padding: 1rem;
  border-bottom: 1px solid rgba(141, 140, 136, 0.3);
  width: 100%;
}
.weekDealsLink{
  font-weight: 600;
  text-decoration: unset;
  color: black;
  padding: 1rem;
  white-space: nowrap;
}
.catalogRowButton {
  display: flex;
  justify-content: space-between;
  padding-left: 0rem !important;
}
.catalogRowLabelLink {
  display: flex;
  text-decoration: none;
}
.catalogRowLabel {
  margin: 1rem 0;
  font-size: 0.9rem;
  color: #505050;
}
.ShopAndCategoryContainer{
  display: flex;
}
.brandsAndButtonContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 5.5rem 0rem 8.5rem
}
.catalogButton {
  height: 100%;
  background-color: #42536a;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  cursor: pointer;
}
.catalogButtonLink {
  text-decoration: none;
  white-space: nowrap;
}
.catalogButtonLabel {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.7rem;
  margin-right: 1rem;
  margin-top: 1px;
}
.catalogButtonIconContainer {
  height: 18px;
  width: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.catalogButtonIcon {
}
.brandMenuCategoriesContainerItems{
  background-color: #0d436b;
}
.catalogCategoriesContainer {
  transition: all 0.3s ease;
  overflow: hidden;
  display: flex;
}
.catalogCategoriesContainerVisible{
  height: 15rem;
  transition: all 0.3s ease;
}
.catalogCategoriesContainerHidden{
  height: 0;
  transition: all 0.3s ease;
}
.itemsContainer {
  display: flex;
  flex-direction: column;
  padding: 1rem 3rem 0 3rem;
}
.itemTitle {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.subItemTitleContainer {
  display: flex;
  flex-direction: column;
}
.subItemTitleContainerColumns {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}
.subItemTitleLink {
  text-decoration: none;
  padding: 0.7rem 0;
}
.subItemTitle {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9rem;
}

/*------- BRAND MENUS -------*/
.brandsContainer {
  display: flex;
}
.weekDealsContainer,
.weekDealsContainerMobile,
.brandImageContainer, .brandImageContainerActive {
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.weekDealsContainer,
.weekDealsContainerMobile,
.brandImageContainer{
  background-color: transparent;
}
.weekDealsContainer:hover,
.weekDealsContainerMobile:hover,
.brandImageContainer:hover {
  background-color: #fafafa;
  transition: all 0.3s ease;
}
.brandImageContainerActive{}
.brandImage {
  width: 90%;
}
.brandImageLink{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.brandMenuCategoriesContainer {
  background-color: #f0f0f0;
  transition: all 0.3s ease;
  overflow: hidden;
  display: flex;
}
.brandMenuCategoriesContainerVisible{
  height: 15rem;
  transition: all 0.3s ease;
}
.brandMenuCategoriesContainerHidden{
  height: 0;
  transition: all 0.3s ease;
}
.itemTitleBrand,
.subItemTitleBrand {
  color: #000;
}
.itemTitleBrand {
  font-weight: 600;
}
.itemTitleImageLink {
  margin-top: 0.83rem;
}
.itemTitleImage {
  max-width: 6rem;
}
/*--- Media query (DESKTOP) ---*/
@media only screen and (min-width: 1024px) {
  .catalogCategoriesContainer {
    justify-content: space-between;
    width: 90%;
    max-width: 100rem;
    margin: 0 auto;
  }
  .itemsContainerAppliances {
    padding: 1rem 0 0 0 !important;
  }
}
@media only screen and (max-width: 1024px) {
  .itemTitleImage {
    max-width: 5rem;
  }
}

