.description {
  font-family: "hotpointRegular";
  font-size: 1.25rem;
  color: #000000;
}
.container :global(.vtex-button) {
  background: #b24c24;
  transition: all 0.5s ease-in-out;
  border-radius: 11px;
}
.container :global(.vtex-button):hover {
  background: #953d1b;
  transition: all 0.5s ease-in-out;
}
.titleForm {
  text-align: center;
  text-transform: uppercase;
  font-family: "hotpointMedium";
  letter-spacing: 0.2rem;
  margin: 0.6rem;
}
/* .descriptionForm {
  text-align: center;
  font-family: "hotpointRegular";
  margin: 0.6rem;
} */
.fieldContainer :global(.vtex-input__label) {
  font-family: "hotpointMedium";
}
.privacy :global(.vtex-checkbox__label) {
  font-size: 0.9rem;
}
.informativa :global(.vtex-checkbox__label) {
  text-align: justify;
  font-family: "hotpointRegular";
  color: #505050;
  font-size: 0.8rem;
}
.link {
  color: #b24c24;
}
.submitContainer :global(.vtex-styleguide-9-x-input) {
  background-color: #b24c24;
  font-family: "hotpointMedium";
  transition: all 0.5s ease-in-out;
  border-radius: 0.25rem;
}
.submitContainer :global(.vtex-styleguide-9-x-input):hover {
  background-color: #953d1b;
}
.successClass {
  font-family: "quickSemibold";
  background: #b24c24;
}
.loaderForm {
  border-top: 1rem solid #b24c24;
}
@media only screen and (min-width: 1100px) {
  .container {
    margin: 2rem 20% 0 20%;
  }
}
