:global(.vtex-menu-2-x-menuContainer) .cookieTitleContainer {
  margin: 0 1.5rem;
  padding: 0.25rem 0;
}
:global(.vtex-menu-2-x-menuContainer) .linkText {
  display: block;
  font-weight: 400;
  font-size: 0.875rem;
  color: #f2f2f2 !important;
  line-height: 1.5rem;
  text-transform: unset;
  letter-spacing: normal;
  font-family: "hotpointRegular";
}

:global(.vtex-flex-layout-0-x-flexRow--preferenceLink2) .cookieTitleContainer {
  margin-left: 40px;
  display: list-item;
}
.wrapper {
  text-align: justify;
}
.linkText {
  color: #b24c24 !important;
  font-weight: 400;
}

@media only screen and (max-width: 640px) {
  :global(.vtex-flex-layout-0-x-flexRow--preferenceLink2)
    .cookieTitleContainer {
    margin-left: 60px;
    margin-right: 1.25rem;
  }
  :global(.vtex-flex-layout-0-x-flexRow--preferenceLink1)
    .cookieTitleContainer {
    padding: 0 1.25rem;
    font-size: 0.875rem;
  }
  :global(.vtex-disclosure-layout-1-x-content--mobileFooterMenuContent)
    .cookieTitleContainer {
    margin: 0 1.5rem;
    padding: 0.25rem 0;
  }
  :global(.vtex-disclosure-layout-1-x-content--leNostrePolicy) .linkText {
    display: block;
    font-family: "hotpointRegular";
    font-weight: 400;
    font-size: 0.875rem;
    color: #505050 !important;
    line-height: 1.5rem;
    text-transform: unset;
    letter-spacing: normal;
   /*  margin: 0.6rem 0; */
  }
}
