.buttonContainer {
  display: flex;
  margin-top: auto;
}
.buttonContainer :global(.vtex-button__label) {
  padding: 1rem !important;
  cursor: pointer;
}
.buttonContainer :global(.vtex-button) {
  border-radius: 11px;
}
.buttonContainer :global(.vtex-button):hover {
  background-color: #953d1b;
}
.button__label {
  padding: 0;
}
.addToCartIcon {
  width: 3rem !important;
  height: 3rem;
}
.buttonText {
  font-family: "hotpointMedium";
  font-size: 0.875rem;
  text-transform: uppercase;
}

@media only screen and (max-width: 1024px) and (min-width: 600px) {
  :global(.vtex-flex-layout-0-x-flexColChild--stickyRight)
    .addToCartIconContainerSticky {
    display: none;
  }
  .buttonText {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 1024px) {
  .flexRowContent--stickyContainer .stretchChildrenWidth:first-child {
    width: 50% !important;
  }
  .flexRowContent--stickyContainer .stretchChildrenWidth:last-child {
    width: 50% !important;
  }

  .flexRowContent--stickyImageProdotto .stretchChildrenWidth:first-child {
    width: 10% !important;
  }
  .flexRowContent--stickyImageProdotto .stretchChildrenWidth:last-child {
    width: 90% !important;
  }
  .flexColChild--stickyLeft {
    height: auto !important;
  }
  .flexRowContent--stickyPDPMenu .stretchChildrenWidth:first-child {
    width: auto !important;
  }
  .flexRowContent--stickyPDPMenu .stretchChildrenWidth:last-child {
    width: auto !important;
  }
  .flexRowContent--stickyImageProdotto .stretchChildrenWidth:first-child {
    /* display: none; */
    background-color: #b24c24;
  }
  .buttonContainer :global(.vtex-button__label) {
    padding: 1rem 0.5rem !important;
  }
  /* .stickyContainer {
    background-color: #b24c24;
  } */
  /* :global(.vtex-flex-layout-0-x-flexRow--stickyContainer)
    .buttonDataContainerPdp {
    display: none;
  } */
  /* :global(.vtex-flex-layout-0-x-flexRow--stickyContainer)
    .addToCartIconContainerSticky {
    display: unset !important;
  } */

  :global(.vtex-button__label)
    :not(.vtex-flex-layout-0-x-flexRow--stickyContainer)
    .addToCartIconContainerSticky {
    display: none;
  }
  /* :global(.vtex-flex-layout-0-x-flexColChild--product-desc-info)
    .addToCartIconContainerSticky {
    display: none;
  } */
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  :global(.vtex-flex-layout-0-x-flexColChild--product-desc-info)
    .addToCartIconContainerSticky {
    display: none;
  }
}
