.filterWrapper .filter {
  font-family: "hotpointRegular" !important;
}
.filterWrapper .selectedFilter {
  font-family: "hotpointRegular" !important;
  color: #B24C24 !important;
  background-color: #ffffff !important;
  border-color: #B24C24 !important;
}
.domandaContainer {
  border-bottom: 0.125rem solid #B24C24;
}
.singleAnswer {
  font-family: "hotpointRegular";
}
.faqPage :global(.vtex-button__label) {
  font-size: 0.875rem;
}
.faqPage :global(.vtex-button) {
  transition: all 0.5s ease-in-out;
}
.question {
  font-family: "hotpointRegular";
}
.shortAnswer {
  font-family: "hotpointRegular";
}
.readMore {
  font-family: "quicksandSemibold";
  color: #B24C24;
  font-size: 0.875rem;
}
.singleQuestion {
  font-family: "hotpointRegular";
}
.container {
}
.loaderForm {
  background: linear-gradient(
    to right,
    #B24C24 10%,
    rgba(237, 177, 18, 0) 42%
  ) !important;
}
.loaderForm::before {
  background: #B24C24 !important;
}
