.countdownContainer--promoCountdownHpCarousel {
  width: 90%;
  margin: 0 auto;
}
/* .countdownContainer--promoCountdownPdp {
  left: 50%;
  transform: translateX(-40%);
  width: 400px;
  max-width: 100%;
} */
.countdownText--promoCountdownHpCarousel, .countdownText--promoCountdownPdp {
  margin-top: 0;
}
@media only screen and (max-width: 640px) {
  .countdownContainer--promoCountdownHpCarousel {
    margin-bottom: 1rem;
  }
}
