.slideChildrenContainer--bannerText {
  margin: 50px;
}

.sliderTrackContainer--bannerText {
  margin-bottom: 5rem;
}

.sliderLayoutContainer {
  justify-content: center;
}

.sliderLayoutContainer--carousel {
  background-color: #f0f0f0;
  padding-left: 1rem;
}

.sliderTrackContainer {
  max-width: 1520px;
}

.paginationDotsContainer {
  margin-top: 0.5rem;
  margin-bottom: -1rem;
}

.paginationDotsContainer--carousel {
  margin-bottom: -1.5rem;
}

.paginationDotsContainer--sliderBannerHome {
  top: 85%;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
}

.slide--shelf {
  margin: 25px 0;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.sliderLayoutContainer--carousel {
  background-color: transparent !important;
  margin-bottom: 2rem;
  padding: 0;
}

.sliderLayoutContainer--stickyInnovazioni {
  background: url("https://hotpointit.vteximg.com.br/arquivos/bg-image-sticky-innovazione.jpg");
  background-color: transparent !important;
  margin: 1rem auto 3rem;
  width: 100%;
  padding: 0;
}

.sliderLayoutContainer--stickyInnovazioni::before {
  content: "";
  background: rgba(0, 0, 0, 0.8);
  display: block;
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}

.sliderLayoutContainer--percheWhirlpoolCarousel .slideChildrenContainer {
  background-color: white;
  min-width: 20.9375rem;
  max-width: 20.9375rem;
  max-height: 20.9375rem;
  min-height: 20.9375rem;
  margin: 0 auto;
  font-size: 1.5rem;
}

.sliderLayoutContainer--ricambiOriginali {
  padding: 5rem;
}

/*-------------------------- Banner Header ----------------*/
.sliderLayoutContainer--bannerHeaderContainer {
  width: 100%;
  max-width: none !important;
  background: linear-gradient(270deg, #282828, #000);
  border-bottom: 0.01188rem solid rgba(218, 218, 218, 7%);
  height: 3.1875rem;
}

.sliderTrackContainer--bannerHeaderContainer {
  max-width: none !important;
  max-height: 100%;
}

.sliderTrack--bannerHeaderContainer {
  height: 3.1875rem;
}

.slide--bannerHeaderContainer {
  max-height: 100%;
}

.bannerHeaderContainer {
  width: 100%;
}

.slideChildrenContainer--bannerHeaderContainer {
  position: relative;
}

.slideChildrenContainer--bannerHeaderContainer::after {
  position: absolute;
  content: "";
  width: 0.0625rem;
  background-color: rgba(218, 218, 218, 7%);
  right: 0;
  height: 70%;
}

.slideChildrenContainer--BottomSliderLavatrice {
  width: auto;
  max-width: 840px;
  margin: auto;
}

.sliderLayoutContainer--bottomSliderBlackfiber {
  background-color: #222325;
}

.slideChildrenContainer--technologiaSlider {
  width: 80%;
  max-width: 100%;
}

.sliderLayoutContainer--bottomSliderBlackfiber {
  height: 45rem;
}

.sliderLayoutContainer--removeTopPadding {
  padding-top: 0;
}

.sliderLayoutContainer--personalizedBannerCard {
  padding: 0 20%;
}

.sliderLayoutContainer--sliderWFrigo4Porte {
  margin-bottom: 7.5rem;
  padding: 0 1.125rem;
  max-width: 90rem;
  margin: 0 auto;
  transform: translateY(0);
  opacity: 1;
  margin-bottom: 7rem;
}

.sliderLayoutContainer--sliderMaster {
  margin-bottom: 7.5rem;
  margin: 0 auto;
  transform: translateY(0);
  opacity: 1;
  margin-bottom: 7rem;
}

.sliderTrackContainer--sliderMaster {
  max-width: unset;
}

.sliderLayoutContainer--sliderBannerHome {
  max-width: 100rem;
  padding: 0 1.125rem;
  margin: 0 auto;
  transform: translateY(0);
  opacity: 1;
}

.sliderTrackContainer--sliderWFrigo4Porte,
.sliderTracktContainer--sliderBannerHome,
.sliderTracktContainer--sliderMaster {
  padding-top: 5.625rem;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

.sliderLeftArrow--sliderWFrigo4Porte,
.sliderLeftArrow--sliderBannerHome,
.sliderLeftArrow--sliderMaster {
  background: #d8d8d8 !important;
  left: 4rem;
  padding: 1rem;
  border-radius: 70%;
  opacity: 0.4;
}

.sliderLeftArrow--sliderWBannerArrowsDots,
.sliderLeftArrow--sliderBannerHome,
.sliderLeftArrow--sliderMaster {
  /* background: #d8d8d8 !important; */
  left: 4rem;
  padding: 1rem;
  border-radius: 70%;
  opacity: 0.4;
  /* border: 1.3px solid #b2b2b2; */
}

.imageElement--sliderWBannerArrowsDots {
  object-fit: cover;
}

.sliderLayoutContainer--sliderBannerHome .slide {
  box-shadow: none;
  margin: 0;
  border: none;
}

.sliderRightArrow--sliderWFrigo4Porte,
.sliderRightArrow--sliderBannerHome,
.sliderRightArrow--sliderMaster {
  right: 4rem;
  background: #d8d8d8 !important;
  padding: 1rem;
  border-radius: 70%;
  opacity: 0.4;
}

.sliderRightArrow--sliderWBannerArrowsDots,
.sliderRightArrow--sliderBannerHome,
.sliderRightArrow--sliderMaster {
  right: 4rem;
  /* background: #d8d8d8 !important; */
  padding: 1rem;
  border-radius: 70%;
  opacity: 0.4;
  /* border: 1.3px solid #b2b2b2; */
}

.sliderLayoutContainer--personalizedBannerCard {
  padding-top: 6.25rem;
}

.paginationDotsContainer--sliderBannerHome {
  display: none;
}

/*-------------------------- MASTER LAYOUT ----------------*/
.slide--masterSlider {
  max-width: 300px !important;
}

.sliderTrackContainer--masterSlider {
  margin: 2rem 0;
}

.sliderLayoutContainer--marginBottom2rem {
  margin-bottom: 2rem;
}

.sliderLayoutContainer--marginBottom6rem {
  margin-bottom: 6rem;
}

.sliderArrows--marginBottom6rem {
  top: 10rem;
}

.slideChildrenContainer--marginBottom6rem :global(.vtex-stack-layout-0-x-stackContainer) {
  background-color: #ffff;
}

.sliderRightArrow--promoCarousel {
  right: 2rem;
}

.sliderLeftArrow--promoCarousel {
  left: 2rem;
}

.sliderLayoutContainer--cardsSupp {
  margin-bottom: 5rem !important;
}

/*-------- SLIDER TOP HOME -----------*/
.sliderTrackContainer--carouselHomeTop,
.sliderTrack--carouselHomeTop {
  /* max-height: 30rem; */
  max-width: unset;
}

.infoCardImage--carouselHomeTop {
  max-height: 40rem;
  width: 100%;
}

.infoCardImageContainer--carouselHomeTop {
  line-height: 0;
}

.infoCardContainer--carouselHomeTop {
  padding: 0;
  background: linear-gradient(135deg,
      hsl(23deg 67% 56%) 0%,
      hsl(20deg 57% 50%) 50%,
      hsl(17deg 66% 42%) 100%);
  line-height: 1;
}

.infoCardTextContainer--carouselHomeTop {
  padding: 2.5rem 5.625rem;
}

.infoCardCallActionContainer--carouselHomeTop :global(.vtex-button) {
  transition: 0.5s all ease;
  border: none;
}

.infoCardCallActionContainer--carouselHomeTop :global(.vtex-button__label):empty {
  display: none;
}

.infoCardSubhead--carouselHomeTop {
  color: #fff;
}

.infoCardHeadline--carouselHomeTop {
  font-weight: 400;
  font-size: 2.625rem;
  line-height: 2.25rem;
  color: #b24c24;
  text-transform: uppercase;
  position: relative;
}

.infoCardHeadline--carouselHomeTop::after {
  width: 3.125rem;
  content: "";
  display: block;
  height: 0.125rem;
  background: #b24c24;
  margin-top: 0.625rem;
  position: absolute;
  left: 0;
  bottom: -0.8rem;
}

.infoCardImage--carouselHomeBanners {
  max-height: 35rem;
  width: 100%;
}

.sliderLayoutContainer--carouselHomeBannersBarbieri {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.infoCardContainer--carouselHomeBannersBarbieri {
  padding: 3rem 0 0 0 !important;
  background-color: #000 !important;
  flex-direction: column-reverse;
}

.sliderLayoutContainer--carouselHomeBannersBarbieri {
  max-width: 100% !important;
  background-color: #000;
}

.sliderLayoutContainer--socialIcons {
  background-color: #f2f2f2;
}

.infoCardContainer--socialIcons {
  background-color: #f2f2f2 !important;
}

.sliderLayoutContainer--carouselHomeBanners {
  max-width: 90%;
  margin: 0 auto;
}

.infoCardTextContainer--carouselHomeBanners {
  padding: 2.5rem 7.625rem;
}

.infoCardTextContainer--carouselHomeBannersBarbieri {
  width: 100%;
  padding: 0 2.5rem 4rem 2.5rem;
}

.infoCardHeadline--carouselHomeBannersBarbieri {
  flex-direction: column;
  transition: all 0.5s ease-in-out;
}

.infoCardHeadline--carouselHomeBannersBarbieri::after {
  width: 3.125rem;
  content: "";
  display: block;
  height: 0.125rem;
  background-color: #b24c24;
  margin-top: 0.625rem;
  transition: all 0.5s ease-in-out;
}

.infoCardHeadline--carouselHomeBannersBarbieri:hover {
  color: #953d1b;
}

.infoCardHeadline--carouselHomeBannersBarbieri:hover::after {
  background-color: #953d1b;
}

.sliderArrows {
  background: transparent !important;
  padding: 1rem;
  border-radius: 0;
}

.sliderArrows:disabled {
  opacity: 0.5;
}

.caretIcon {
  color: #000;
}

.infoCardContainer--carouselHomeBanners {
  background-color: #f2f2f2;
  padding: 0;
}

.infoCardHeadline--carouselHomeBanners {
  font-weight: 400;
  font-size: 2.625rem;
  line-height: 2.25rem;
  color: #b24c24;
  text-transform: uppercase;
}

/* .slide--carouselHomeBanners {
  width: 25rem !important;
} */
.infoCardImage--socialIcons {
  width: 40%;
}

.sliderTrack--carouselHomeBannersBarbieri {
  justify-content: center;
}

.slide--socialIcons {
  width: 15rem !important;
}

.infoCardSubhead--carouselHomeBanners {
  text-transform: uppercase;
}

.infoCardCallActionContainer--heroBannerSearch :global(.vtex-button),
.infoCardCallActionContainer--halfBannerCardTabHomepage :global(.vtex-button),
.infoCardCallActionContainer--carouselHomeBanners :global(.vtex-button) {
  transition: all 0.5s ease-in-out;
  border: none;
}

.infoCardCallActionContainer--heroBannerSearch :global(.vtex-button__label):empty,
.infoCardCallActionContainer--halfBannerCardTabHomepage :global(.vtex-button__label):empty,
.infoCardCallActionContainer--carouselHomeBanners :global(.vtex-button__label):empty {
  display: none;
}

.sliderLayoutContainer--shelfMobile,
.sliderLayoutContainer--bestSeller,
.sliderLayoutContainer--moreProduct {
  display: none;
}

.infoCardContainer--carouselHomeBannersBarbieri {
  padding: 0 !important;
}

.sliderLayoutContainer--carouselBarbieri {
  background-color: #000;
  padding: 2rem 0 5rem 0;
}

.slide--carouselBarbieri--visible {
  padding: 0 2rem;
}

.sliderLayoutContainer--carouselSlider {
  margin-top: 1rem;
}

/* Media Queries */
@media only screen and (min-width: 600px) {
  .sliderLayoutContainer--percheWhirlpoolCarousel {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .slideChildrenContainer--bannerHeaderContainer::after {
    content: none;
  }

  .slideChildrenContainer--bannerHeaderContainer::after {
    content: none;
  }

  .sliderRightArrow--sliderMaster {
    right: 1rem;
    padding: 0.5em;
  }

  .sliderLeftArrow--sliderMaster {
    left: 1rem;
    padding: 0.5em;
  }

  .paginationDotsContainer--sliderBannerHome {
    top: 90%;
  }

  .sliderLayoutContainer--ricambiOriginali {
    padding: 0;
  }
}

@media only screen and (max-width: 640px) {
  .paginationDotsContainer--sliderBannerHome {
    display: flex;
    margin-top: 3rem;
  }

  .paginationDotsContainer--shelf {
    display: flex !important;
  }

  .sliderLayoutContainer {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .sliderTrack--carouselHomeTop {
    max-height: unset;
  }

  .paginationDotsContainer {
    margin-bottom: -2rem;
  }

  .infoCardContainer--carouselHomeBanners {
    display: flex;
    flex-direction: column-reverse;
  }

  .infoCardTextContainer--carouselHomeTop {
    padding: 1rem 2rem;
  }

  .infoCardHeadline--carouselHomeTop {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  .infoCardImage--carouselHomeTop {
    height: auto;
    object-fit: cover;
  }

  .infoCardContainer--carouselHomeTop {
    display: flex;
    flex-direction: column-reverse;
  }

  .infoCardImageContainer--carouselHomeTop {
    width: 100%;
  }

  .infoCardTextContainer--carouselHomeBanners {
    justify-content: center;
    padding: 2.5rem 2.625rem;
    padding: 3rem;
  }

  .infoCardImage--carouselHomeBanners {
    height: 20rem;
  }

  .infoCardImage--socialIcons {
    height: 5rem;
    width: 100%;
  }

  .sliderTrack--socialIcons {
    width: 100% !important;
    flex-direction: column;
    transform: none !important;
  }

  .infoCardContainer--socialIcons {
    height: 12rem;
    margin-bottom: -3rem;
  }

  .sliderArrows--carouselOfferteMese {
    margin-top: -6rem;
  }

  .sliderLayoutContainer--shelfMobile,
  .sliderLayoutContainer--bestSeller,
  .sliderLayoutContainer--moreProduct {
    display: block;
  }

  .infoCardImageContainer--carouselHomeBannersBarbieri {
    display: none;
  }

  .infoCardTextContainer--carouselHomeBannersMobile {
    height: 21rem;
    padding: 0 1rem;
    align-items: center;
    justify-content: unset;
  }

  .slide--carouselHomeBannersMobile {
    min-height: 41rem;
    height: auto;
  }

  .infoCardHeadline--carouselHomeBannersMobile {
    font-size: 2rem;
    text-align: center;
  }

  .infoCardSubhead--carouselHomeBannersMobile {
    text-align: center;
  }

  .infoCardCallActionContainer--carouselHomeBannersMobile {
    margin: 1.5rem auto;
  }
}

@media only screen and (min-width: 1280px) {
  .sliderLayoutContainer--ricambiOriginali {
    padding: 5rem 20%;
  }

  .sliderLayoutContainer--cardsSupp {
    padding: 5rem 15%;
  }

  .sliderLayoutContainer--VP {
    padding: 0 15% 3rem 15% !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1200px) {
  .sliderTrack--cardsSupp {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .slide--cardsSupp {
    width: 33% !important;
  }
}

@media only screen and (max-width: 1100px) {
  .sliderLayoutContainer--personalizedBannerCard {
    padding: unset;
  }

  .label--blackFridayDiscoverMore {
    right: -50px;
    top: 40px;
    padding-bottom: 5px;
  }
}

@media only screen and (min-width: 1300px) {
  .sliderTrack--shelfBlackFriday {
    width: 235% !important;
  }
}

@media only screen and (max-width: 668px) {
  .sliderTrack--shelfBlackFriday {
    width: 400rem !important;
  }
}

@media only screen and (min-width: 1100px) {

  .sliderLeftArrow--sliderWBannerArrowsDots,
  .sliderLeftArrow--sliderBannerHome,
  .sliderLeftArrow--sliderMaster {
    left: 0rem;
  }

  .sliderRightArrow--sliderWBannerArrowsDots,
  .sliderRightArrow--sliderBannerHome,
  .sliderRightArrow--sliderMaster {
    right: 0rem;
  }

  .imageElement--sliderWBannerArrowsDots {
    margin: 0rem 4rem;
  }

  .infoCardImageContainer--carouselHomeTop {
    width: 70% !important;
  }
}

@media only screen and (max-width: 1240px) {
  .paginationDotsContainer--bestSeller {
    margin-bottom: -2.5rem;
  }

  .paginationDotsContainer--shelf {
    display: none;
  }

  .paginationDotsContainer--marginBottom6rem {
    display: flex;
  }
}

@media only screen and (min-width: 768px) {
  .sliderLayoutContainer--bestSeller {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 768px) {

  .sliderLayoutContainer--shelfMobile,
  .sliderLayoutContainer--bestSeller,
  .sliderLayoutContainer--moreProduct {
    display: block;
  }

  .infoCardContainer--carouselHomeBannersMobile {
    flex-direction: column-reverse;
  }

  .infoCardImageContainer--carouselHomeBannersMobile {
    width: 100%;
  }

  .infoCardTextContainer--carouselHomeBannersMobile {
    padding: 0;
  }

  .infoCardHeadline--carouselHomeBannersMobile {
    font-size: 2rem;
    align-self: center;
    text-align: center;
  }

  .infoCardSubhead--carouselHomeBannersMobile {
    text-align: center;
    align-self: center;
  }

  .infoCardCallActionContainer--carouselHomeBannersMobile {
    margin: 1.5rem auto;
  }
}

@media screen and (max-width: 450px) {
  .sliderArrows {
    display: none;
  }
}