.creationDate {
  font-family: "hotpointRegular";
}

.deliveryTitle {
  font-family: "hotpointRegular";
}

.billingAddress,
.billingName,
.billingInfo,
.delivery {
  font-family: "hotpointRegular" !important;
}
