.listPrice {
  color: #d0d3d4;
  font-size: 1rem;
  font-family: "hotpointRegular";
  text-align: start;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.sellingPriceValue {
  font-size: 1.563rem !important;
  line-height: 1.5;
  font-family: "hotpointRegular";
  color: #505050 !important;
}

.sellingPrice--summary {
  font-size: 0.65rem;
  margin: 0;
  color: #505050;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sellingPriceValue--summary {
  padding: 0;
}

.sellingPrice--summary2 {
  font-size: 1.25rem;
  margin: 0;
  color: #505050;
  display: flex;
  align-items: flex-start;
  font-family: "hotpointRegular";
}

.sellingPriceValue--summary2 {
  color: #505050;
  padding: 0;
  font-size: 1.85rem;
  font-family: "hotpointRegular";
}

.savings--summary {
  background: #b24c24;
  border-radius: 1000px;
  padding: 0.2rem;
  align-items: center;
  display: flex;
  color: #ffffff;
}

.savings-discount--summary {
  font-size: 0.875rem;
  font-weight: 600;
  vertical-align: baseline;
  color: #ffffff;
}

.listPrice--summary {
  margin-bottom: 0;
}

.listPrice--comparison {
  padding-left: 20px;
}

.savings--saving {
  color: #505050;
  font-weight: 600;
  font-size: 1rem;
  margin: 0 0.25rem;
}

.savings--savingPdp {
  color: #505050;
  font-family: "hotpointRegular";
  font-size: 1.25rem;
}

.savings--widthMinContent {
  width: min-content;
}

.currencyContainer--savingPdp {
  padding-left: 0.2rem;
}

.savings--savingPdpMobile {
  background: #b24c24;
  color: #ffffff;
  padding: 0.1rem 0.5rem;
  margin-right: 1rem;
}

.savings--savingPdpDeskPerc {
  padding: 0.3rem 2rem;
}

.sellingPriceValue--priceMobile {
  font-family: "hotpointMedium";
  margin-right: 1rem;
}

.savings--savingPlpMobile {
  padding: 0.4rem 0.6rem;
}

.sellingPrice--hasListPrice {
  margin: 0 0.25rem;
}

.sellingPrice--summaryPL--hasListPrice {
  font-family: "hotpointRegular";
}

.savings--savingPercentage {
  background: #b24c24;
  color: #ffffff;
  padding: 0.3rem 0.6rem;
  margin-right: 1rem;
  height: 1.5rem;
}

.savings--savingRisparmi {
  font-family: "hotpointMedium";
  color: #b24c24 !important;
  font-size: 1.1rem;
}

.savings--desktop {
  /* padding: 0.3rem 2.5rem; */
  font-size: 1rem;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
  .currencyContainer--summary {
    /* font-size: 1rem; */
  }

  .savings--saving {
    padding: 0;
  }

  /* .sellingPrice--summary {
    padding-left: 0.9rem;
  } */
}

@media only screen and (max-width: 640px) {
  .listPrice {
    font-family: "hotpointRegular";
  }

  .listPrice--summary {
    padding: 0;
  }

  .sellingPriceValue--sellingPriceStickyPDP {
    color: #ffffff !important;
  }
}

@media only screen and (max-width: 1024px) {
  .savings--desktop {
    display: none;
  }

  .sellingPriceValue--summaryPL {
    line-height: 1;
    margin-right: 0.5rem;
  }

  .listPrice--summary {
    padding: 0;
  }

  .sellingPrice--summary {
    flex-direction: row;
    align-items: center;
  }

  /* .currencyContainer--summary {
    font-size: 1rem;
  } */
  .sellingPriceValue--summary {
    line-height: 1;
    font-weight: bold;
    font-family: "hotpointRegular";
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .savings--savingPdpMobile {
    padding: 0.3rem 2rem;
  }
}