.infoCardContainer--banner0 {
  background-color: #f9f9f9;
  font-family: Arial;
}
.imageElement--blackfriday2022Banner {
  border-radius: 1.875rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.wrapper--blackFridayReviews {
  text-align: center;
  line-height: 1.7rem;
}
.infoCardTextContainer--blackFridayReviews::before {
  content: "";
  margin-right: auto;
  background: url(https://itwhirlpool.vtexassets.com/assets/vtex.file-manager-graphql/images/4e25c2a8-bfba-4735-8fb3-0719a6bfaa20___ac76439….jpg);
  width: 52px;
  height: 52px;
}
.container--blackFridayFilter {
  width: unset !important;
}
.infoCardContainer--blackFridayAdvantages {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  max-width: 295px;
  width: 25%;
  min-width: 250px;
  padding: 45px 0;
  margin: 0 15px;
  border-radius: 25px;
}
.infoCardHeadline--blackFridayAdvantages {
  font-size: 14px;
  margin-top: 0.5rem;
}
.infoCardImageContainer--blackFridayAdvantages {
  display: flex;
  justify-content: center;
}
.vtex-store-components-3-x-infoCardImage--blackFridayAdvantages {
  max-width: 35px;
}
.infoCardContainer--blackFridayFilter {
  display: flex;
  flex-direction: column-reverse;
  margin: 0 0.25rem;
  max-width: 250px;
}
.infoCardTextContainer--filterCategoryLink {
  width: 100%;
  padding: 0;
  max-height: 3rem;
}
.headingLevel2--blackFridayFilter {
  font-size: 12px !important;
  font-weight: 700 !important;
  text-align: center !important;
  margin-left: -0.3rem;
}
.infoCardImage--filterCategoryLink {
  aspect-ratio: 16/9;
  object-fit: cover;
}
.infoCardImage--blackFridayFilter {
  width: 100px;
  height: 80px;
}
.infoCardContainer--banner2 {
  background-color: #f9f9f9;
  font-family: Arial;
}
.logoLink--logoMaintenance {
  display: flex;
  justify-content: center;
}
.logoImage--logoMaintenance {
  width: 350px !important;
}
.logoContainer--logoMaintenance {
  min-width: 275px;
}
.heading--banner0 {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
}
.paragraph--banner0 {
  text-align: center;
  font-size: 16px;
  line-height: 26px;
}
.infoCardHeadline--banner2 {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #000;
  margin-bottom: 0.625rem;
}

.imageElement--search-icon {
  display: none;
}

.infoCardCallActionText--banner2 {
  color: rgb(80, 80, 80);
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.625rem;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out 0s;
}
.infoCardCallActionText--banner2:hover {
  color: #b24c24;
}
.container {
  width: 100%;
}
.shippingContainer {
  display: block;
}

.searchBarContainer {
  margin: 0 !important;
  padding: 0 !important;
  width: 600px;
}

.resultsList--headerSearch {
  position: fixed;
  top: 90px;
  left: 0;
  width: 100%;
}

.shippingContainer :global(.vtex-button) {
  margin-left: 0.5rem;
  width: 6rem;
  margin-top: 01.5625rem;
  height: 2.5rem;
  font-weight: bold;
}
.shippingContainer {
  width: 14rem;
  background-color: white;
  display: flex;
  flex-direction: row;
}
.shippingTable {
  width: 20rem;
}
.imageElement--3dLogo {
  padding: 0 0.2rem;
}

.notificationBarContainer {
  background-color: #e6f1e6;
  color: #03034e;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}
.sellingPriceLabel {
  padding-right: 0.5rem !important;
}
.imageElement--search-icon {
  cursor: pointer;
}
.imageElement--ImageAdvantageForYou {
  width: 64px;
  height: 67px;
  object-fit: contain;
}
.searchBarContainer :global(.vtex-styleguide-9-x-input) {
  max-width: unset;
  /* border-bottom: 1px solid #B24C24; */
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.2;
  padding: 0.5rem 0;
  background-color: transparent;
  color: #b24c24;
}
.searchBarContainer :global(.vtex-styleguide-9-x-input) {
  background: white;
  max-width: unset;
  font-family: "hotpointRegular";
  font-weight: 400;
  font-size: 1rem;
  line-height: initial;

  padding: 1rem 1.5rem;
  color: black !important;
}
.suffixWrapper {
  height: auto !important;
}
.searchBarContainer :global(.vtex-input__suffix) {
  background: transparent;
  border-bottom: 1px solid #b24c24;
  border-radius: 0;
}
.searchBarContainer :global(.vtex-input__suffix) {
  background: #b24c24;
  border-radius: 0;
}
.searchBarIcon {
  color: #b24c24;
  width: 30px;
  height: 30px;
  justify-content: center;
  padding: 0;
}
.searchBarIcon {
  color: white;
  width: 30px;
  height: 30px;
  justify-content: center;
  padding: 0;
}
.searchBarContainer :global(.vtex-input-prefix__group) {
  border: none;
  border-radius: 25px;
}
.searchBarContainer {
  max-width: unset;
  margin: 3.75rem 0;
}
.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}
.newsletter {
  background-color: #03054e;
  max-width: 1528px;
  margin: 0 auto;
}
.newsletter .container {
  padding: 60px 10px;
}
.label {
  color: #fff;
  font-size: 26px;
}
.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}
.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}
.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}
.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}
.buttonContainer {
  padding-top: 0px;
}
.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}
.imageElement--img2 {
  width: 3rem;
  margin-top: -2rem;
  transition: all 0.5s ease-in-out;
}
.imageElement--img2:hover {
  transform: scale(2);
  transition: all 0.5s ease-in-out;
}
.skuSelectorContainer {
  margin: 1rem 0;
  display: none;
}
.productBrand--quickview {
  color: #505050;

  font-weight: 400;
  font-size: 1rem;
  line-height: 2.5rem;
}
.imageElement--innovazioniImageFull {
  width: 100%;
  /* height: 50vh; */
  border-radius: 1.875rem;
}
.imageElement--cover {
  object-fit: cover;
}
.imageElement--masterchefFirstBanner {
  width: 100%;
  display: block;
  margin-bottom: 3.5rem;
}
@media screen and (max-width: 768px) {
  .productBrand {
    font-size: 1.6875rem;
  }
}
.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #7e7e7e;
  font-family: "hotpointRegular";
  font-weight: 400;
  line-height: 2.5rem;
  font-size: 1.5625rem;
}
.imageElement--imageMenu {
  width: 300px;
  padding-left: 50px;
}
.imageElement--clubImage {
  height: 1rem;
}
.infoCardContainer--mainMenu {
  border: 1px solid lightgray;
  border-radius: 0 0 12px 12px;
  padding: 5px;
}

.imageElement--SupportoItem {
  float: right;
}
.infoCardHeadline--mainMenu {
  width: fit-content;
  height: 2rem;
  margin: 1.375rem 12.813rem 0.25rem 0;
  font-family: "hotpointRegular", Arial;
  font-size: 1.5rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #000;
  border-bottom: 0.125rem solid #953d1b;
}
.infoCardHeadline--mainMenu::after {
  content: "";
  width: 0;
  transition: width 0.7s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  height: 0.125rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #b24c24;
}
.infoCardSubhead--mainMenu {
  width: 21.75rem;
  height: 1.375rem;
  margin: 0.313rem 1.563rem 0 0;

  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #000;
}
.infoCardSubhead--mainMenu::before {
  content: "";
  width: 100%;
  transition: width 0.7s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  height: 0.125rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #b24c24;
}

.infoCardCallActionContainer--mainMenu {
  position: absolute;
  left: 62%;
}

.infoCardCallActionContainer--mainMenu :global(.vtex-button) {
  font-family: "hotpointRegular";
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.2;
  letter-spacing: -0.2px;
  border: 0.0625rem solid #aeaeae;
  background-color: #fff !important;
  color: #aeaeae;
  /* ----- */
  width: 10.5rem;
  height: 3.125rem;
  /* margin: 2rem 1.75rem 0.25rem 1.563rem; */
  /* padding: 0 1.5rem; */
  border-radius: 5px;
  border: solid 2px #aeaeae;
}
.infoCardCallActionContainer--mainMenu:hover :global(.vtex-button) {
  border-color: #953d1b;
  background-color: white !important;
  color: #953d1b;
}

.imageElement--Lavatrici {
  position: absolute;
  left: 100%;
  top: 0;
  display: none;
}

.logoImage {
  width: 192px;
}

.infoCardContainer--mainMenu {
  flex-direction: column-reverse;
  padding: 0;
  margin: 0;
  width: 100%;
}
.infoCardImageContainer--mainMenu {
  width: 100%;
  padding: 0px;
  overflow: hidden;
}

.infoCardImage--mainMenu {
  height: 300px;
  width: 100%;
  border-radius: unset;
  transition: transform 0.7s ease;
}
.infoCardImage--mainMenu:hover {
  transform: scale(1.1);
}

.infoCardTextContainer--mainMenu {
  width: 92.5%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-bottom: 0.8rem;
}
/*---------------HERO BANNER------------*/

.infoCardImage--heroBanner {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  height: 740px;
  width: 100%;
}
.imageElement--flex {
  display: flex;
}
.infoCardContainer--heroBanner {
  flex-direction: row;
  max-height: 740px;
  background-color: #f2f2f2;
  padding: 0;
}

/*.searchBarInnerContainer--headerSearch{*/
/*  display: none;*/
/*}*/

.infoCardTextContainer--heroBanner {
  padding-left: 3.125rem;
  flex: 0 0 40%;
  width: 40%;
}
.infoCardImageContainer--heroBanner {
  flex: 0 0 60%;
  width: 60%;
  background: #fff;
}
.infoCardHeadline--heroBanner {
  font-family: "hotpointRegular";
  font-size: 1.875rem;
  color: #fff;
  margin: 0 0 1.25rem;
  text-transform: uppercase;
}
.infoCardHeadline--heroBannerCollezioneIncasso {
  font-size: 4.688rem;
  color: #fff;
}
.infoCardContainer--heroBannerCollezioneIncasso {
  flex-direction: column;
}
.infoCardTextContainer--heroBannerCollezioneIncasso,
.infoCardImageContainer--heroBannerCollezioneIncasso {
  width: 100%;
  display: contents;
}
.infoCardContainer--heroBannerCollezioneIncasso {
  height: max-content !important;
}
.infoCardSubhead--heroBanner {
  font-family: "hotpointRegular";
  font-weight: 400;
  font-size: 0.875rem;
  margin: 0 0 1.25rem;
  line-height: 1.625rem;
  color: #fff;
}
.infoCardCallActionContainer--heroBanner {
  margin: 0;
}
.infoCardCallActionContainer--heroBanner :global(.vtex-button) {
  min-height: 2.8125rem;
  min-width: 9.375rem;
  font-family: "hotpointMedium";
  font-weight: 400;
  font-size: 0.875rem;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
  border-radius: 11px;
  background: #fff;
}
.infoCardCallActionContainer--heroBanner :global(.vtex-button):hover {
  min-height: 2.8125rem;
  min-width: 9.375rem;
  font-family: "hotpointMedium";
  font-weight: 400;
  font-size: 0.875rem;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
  border-radius: 11px;
  background: #f2f2f2;
}
.infoCardImageContainer--heroBannerSearchChef,
.infoCardImageContainer--halfBannerSearchChef {
  position: absolute;
  width: 100%;
  margin-top: 18rem;
}
/* .infoCardImageContainer--heroBannerSearchChef {
  margin-top: 25rem;
} */
.infoCardImage--heroBannerSearchChef,
.infoCardImage--halfBannerSearchChef {
  height: 22rem;
  width: 100%;
}
.infoCardTextContainer--heroBannerSearchChef {
  position: relative;
  z-index: 1;
  margin-left: 20%;
}
.imageElement--logoHotpointMasterchef,
.imageElement--logoMasterchef {
  margin-bottom: 2rem;
}
.imageElement--logoMasterchef {
  margin-top: 2rem;
}
.infoCardContainer--heroBannerSearchChef {
  margin-bottom: 5rem;
  padding-left:0;
  padding-right: 0;
}
/*-------------------Half banner---------------*/

.infoCardImage--halfBanner {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  height: 33.75rem;
  width: 100%;
  border-radius: 1.875rem;
}

.infoCardContainer--halfBanner {
  background-color: #f2f2f2;
  margin: 0 7.3125rem;
  padding: 0;
}
.infoCardContainer--halfBannerCard {
  background-color: #f2f2f2 !important;
}

.infoCardHeadline--halfBanner {
  font-family: "hotpointRegular";
  font-size: 1.875rem;
  color: #000000;
  margin: 0 0 1.25rem;
  text-transform: uppercase;
}
.infoCardHeadline--halfBannerCard {
  font-size: 2.25rem !important;
  color: #953d1b !important;
}
.infoCardSubhead--halfBanner {
  font-family: "hotpointRegular";
  font-weight: 400;
  font-size: 0.875rem;
  margin: 0 0 1.25rem;
  line-height: 1.625rem;
}
.infoCardContainer--imageSlideChef {
  background-color: #282828;
  margin-top: 2rem;
  padding: 0 3rem;
}
.infoCardContainer--imageSlideChefReverse {
  flex-direction: row-reverse;
}
.infoCardHeadline--imageSlideChef,
.infoCardHeadline--imageSlideChefReverse {
  font-family: "hotpointMedium";
  color: #b24c24;
  font-size: 1.25rem;
  text-transform: uppercase;
}
.infoCardSubhead--imageSlideChef,
.infoCardSubhead--imageSlideChefReverse {
  margin-top: 0;
  font-family: "hotpointRegular";
  color: #585858;
  font-size: 1.125rem;
}
.infoCardCallActionContainer--halfBanner {
  margin: 0;
}
.infoCardHeadline--heroBannerBarbieri {
  flex-direction: column;
}
.infoCardHeadline--heroBannerBarbieri::after {
  width: 3.125rem;
  content: "";
  display: block;
  height: 0.125rem;
  background-color: #b24c24;
  margin-top: 0.625rem;
}
.infoCardSubhead--heroBannerBarbieri {
  margin-top: 1rem;
  color: #ffff;
}
.infoCardImageContainer--halfBanner {
  min-height: 33.75rem;
  max-height: 33.75rem;
}
:focus:global(.vtex-button) {
  outline: none;
}
.infoCardCallActionContainer--halfBanner :global(.vtex-button) {
  min-height: 2.8125rem;
  min-width: 9.375rem;
  font-family: "hotpointMedium";
  font-weight: 400;
  font-size: 0.875rem;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}
.infoCardCallActionContainer--heroBannerBarbieri :global(.vtex-button) {
  transition: 0.5s all ease;
}
.infoCardContainer--heroBannerBarbieri {
  padding: 0;
}
.infoCardTextContainer--heroBannerBarbieri {
  padding: 0 3rem;
}
.infoCardCallActionContainer--heroBannerBarbieri {
  background-color: #b24c24;
  text-decoration: none;
  border-radius: 0.25rem;
  transition: 0.5s all ease;
  min-height: 2.5rem;
  display: flex;
  align-items: center;
}
.infoCardCallActionContainer--heroBannerBarbieri:hover {
  background-color: #953d1b;
  transition: 0.5s all ease;
}
.infoCardCallActionText--heroBannerBarbieri {
  margin: 0;
  color: #ffff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.25em 1.5rem 0.32em 1.5rem;
}
/*-------------------Half banner reverse---------------*/
.infoCardImage--halfBannerReverse {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  height: 33.75rem;
  width: 100%;
  border-radius: 1.875rem;
}

.infoCardContainer--halfBannerReverse {
  flex-direction: row-reverse;
  background-color: #f2f2f2;
  margin: 0 7.3125rem;
  padding: 0;
}
.infoCardTextContainer--halfBannerReverse,
.infoCardTextContainer--halfBanner {
  padding: 2.5rem 5.625rem;
}
.infoCardTextContainer--halfBannerTextBox {
  padding: 12rem 4rem;
  height: 57;
  background-color: #f9f9f9;
}
.infoCardHeadline--halfBannerReverse {
  font-family: "hotpointRegular";
  font-size: 1.875rem;
  color: #000;
  margin: 0 0 1.25rem;
  text-transform: uppercase;
}
.infoCardSubhead--halfBannerReverse {
  font-family: "hotpointRegular";
  font-weight: 400;
  font-size: 0.875rem;
  margin: 0 0 1.25rem;
  line-height: 1.625rem;
}

.infoCardCallActionContainer--halfBannerReverse {
  margin: 0;
  width: inherit;
}

.infoCardImageContainer--halfBannerReverse {
  min-height: 33.75rem;
  max-height: 33.75rem;
}

.infoCardCallActionContainer--halfBannerReverse :global(.vtex-button) {
  min-height: 2.8125rem;
  min-width: 9.375rem;
  font-family: "hotpointMedium";
  font-weight: 400;
  font-size: 0.875rem;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}

/*----------------GRID BANNER HOME-----------------*/
.infoCardImage--gridHome {
  width: 100%;
}
.infoCardContainer--gridHome {
  display: flex;
  flex-direction: column-reverse;
  border: 1px solid #f2f2f2;
  margin: 0.3125rem;
  padding: 0;
}
.infoCardImageContainer--gridHome {
  width: 100%;
}
.infoCardTextContainer--gridHome {
  flex: 0 0 50%;
  width: 100%;
  padding: 2.1875rem;
}
.infoCardHeadline--gridHome {
  font-weight: 400;
  font-size: 1.875rem;
  color: #953d1b;
  text-transform: uppercase;
}

.infoCardSubhead--gridHome {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.625rem;
  font-family: "hotpointRegular";
}
.infoCardCallActionContainer--gridHome :global(.vtex-button) {
  min-height: 2.8125rem;
  min-width: 9.375rem;
  font-family: "hotpointMedium";
  font-weight: 400;
  font-size: 0.875rem;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}

/*-------------------Contact banner---------------*/

.infoCardImage--contactHome {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  height: auto;
  width: 100%;
  object-fit: unset !important;
}

.infoCardContainer--contactHome {
  flex-direction: row-reverse;
  background-color: #f2f2f2;
  margin: 0 7.3125rem;
  overflow: hidden;
  padding: 0;
}
.infoCardTextContainer--contactHome {
  padding: 2.5rem 5.625rem;
}

.infoCardHeadline--contactHome {
  font-family: "hotpointMedium";
  font-weight: 400;
  font-size: 0.875rem;
  margin-bottom: 1.875rem;
  color: #953d1b;
  margin: 0 0 1.25rem;
  text-transform: uppercase;
}
.infoCardSubhead--contactHome {
  font-family: "hotpointRegular";
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.625rem;
  margin: 0 0 1.25rem;
}
.infoCardCallActionContainer--contactHome {
  margin: 0;
}
.infoCardCallActionContainer--contactHome {
  display: none;
}
.imageElement--linkCards {
  height: 2.6875rem;
  width: auto;
  margin: 0 auto 1.875rem;
}
/*---------MENU SUPPORTO------------*/
.imageElement--menuSupporto {
  width: 1.8125rem;
  height: 1.8125rem;
}
/*---------------------------*/
.imageElement--imageSecond {
  position: absolute;
  left: 60%;
  top: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.7s ease-out;
}
.imageElement--lavatriciCss {
  z-index: 6;
  opacity: 1;
}
.imageElement--asciugatriciCss {
  z-index: 7;
}
.imageElement--lavasciugaCss {
  z-index: 8;
}
.imageElement--frigoriferiCss {
  z-index: 6;
  opacity: 1;
}
.imageElement--congelatoriCss {
  z-index: 7;
}
.imageElement--forniCss {
  z-index: 6;
  opacity: 1;
}
.imageElement--forniMicroondeCss {
  z-index: 7;
}
.imageElement--pianiCotturaCss {
  z-index: 8;
}
.imageElement--cappeCss {
  z-index: 9;
}
.imageElement--senzaCategoria {
  max-width: none;
  width: 370px;
}
.imageElement--AccessoriLavaggio {
  z-index: 6;
  opacity: 1;
}
.imageElement--AccessoriRefrigerazione {
  z-index: 7;
}
.imageElement--AccessoriCottura {
  z-index: 8;
}
.imageElement--AccessoriLavastoviglie {
  z-index: 9;
}
.imageElement--AccessoriAriaCondizionata {
  z-index: 10;
}
.imageElement--AccessoriPiccoliElettrodomestici {
  z-index: 11;
}
/*---------------CARD POSTILLA--------------*/
.imageElement--promoBanner {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  max-height: 35.8125rem;
  width: 100%;
  height: 100%;
}
/*--------------------------------------------*/
.logoImage--logoFooter,
.logoImage--footerMobile {
  width: 6.875rem;
  height: 2.6rem;
  background-color: #000000;
  padding: 0.3rem 0.9rem 0.2rem;
}
.logoContainer--logoFooter {
  padding: 0;
}
.logoLink--footerMobile {
  width: auto !important;
  padding: 2rem 0;
}

.imageElement--Login {
  margin-left: 2rem;
  padding: 0.2rem;
  border-radius: 4px;
}
.imageElement--Login:hover {
  background-color: rgba(237, 177, 18, 0.1);
}
.logoImage--logoHeader {
  width: 150px;
  position: absolute;
  top: 20%;
  left: 15%;
}
.imageElement--logoImage {
  width: 162px;
  height: 38px;
}
/*Search result*/
:global(.vtex-search-result-3-x-galleryTitle--layout) {
  display: flex;
  justify-content: center;

  font-weight: 400;
  font-size: 2.125rem;
  line-height: 2.25rem;
  color: #505050;
  margin: auto;
}
.productImagesContainer--productPage {
  width: 90%;
  margin: 0 1rem 0 0;
}
.infoCardContainer--width1280Center {
  max-width: 1280px;
  margin: 0 auto;
}
:global(.vtex-breadcrumb-1-x-container) {
  font-weight: 300;
  font-size: 0.8rem;
  line-height: 22px;
  padding-left: 1.25rem;
  color: #505050;
  text-transform: uppercase;
}
.infoCardContainer--heroBannerSearch {
  height: 25.625rem;
  background-color: #ffffff;
  padding-bottom: 10px;
}
.infoCardImage--heroBannerSearch {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  height: 25.625rem;
  width: 100%;
  border-top-right-radius: 1.875rem;
  border-bottom-right-radius: 1.875rem;
  /* border-bottom-left-radius:1.875rem; */
}
.infoCardContainer--heroBannerCollezioneIncasso
  :global(.vtex-store-components-3-x-infoCardImage--heroBannerSearch) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 1.875rem;
  border-bottom-left-radius: 1.875rem;
  border-top-left-radius: 0rem;
}
.infoCardContainer--heroBannerSearch {
  padding-bottom: 0px;
  background-image: linear-gradient(
    135deg,
    hsl(23deg 67% 56%) 0%,
    hsl(20deg 57% 50%) 50%,
    hsl(17deg 66% 42%) 100%
  );
  border-radius: 1.875rem;
}
:global(.vtex-tab-layout-0-x-contentItem) {
  padding: 0 3.125rem;
}
.imageElement--bannerPromoSmall {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  max-height: 8rem;
}
.imageElement--bannerPromoSmallWarranty {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 428px;
  height: 7rem;
  margin-left: auto;
}
.resultsList {
  background-color: #f2f2f2;
  border: none;
  text-transform: capitalize;
}
.resultsList .items-center {
  font-family: hotpointRegular;
}
/*----------------- HERO BANNER IN SUPPORT PAGE ------------------*/
.infoCardContainer--bannerHeroPageSupporto {
  background: #f9f9f9;
  display: flex;
  max-height: 25.625rem;
}
.infoCardTextContainer--bannerHeroPageSupporto {
  padding: 0 3.125rem;
  flex: 0 0 40%;
}
.infoCardImageContainer--bannerHeroPageSupporto {
  flex: 0 0 60%;
}
/*--------------RICAMBI ORIGINALI BANNER----------------------*/
.infoCardContainer--bannerRicambiOriginali {
  background: white;
  display: flex;
  max-height: 25.625rem;
  padding: 0;
  border-top-left-radius: 1.875rem;
  border-bottom-left-radius: 1.875rem;
  background-image: linear-gradient(
    135deg,
    hsl(23deg 67% 56%) 0%,
    hsl(20deg 57% 50%) 50%,
    hsl(17deg 66% 42%) 100%
  );
}
.infoCardTextContainer--bannerRicambiOriginali {
  padding: 3.125rem;
  width: 40%;
}
.infoCardImageContainer--bannerRicambiOriginali {
  width: 60%;
  background: #fff;
}
.infoCardImage--bannerRicambiOriginali {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  height: 25.625rem;
  width: 100%;
  border-top-right-radius: 1.875rem;
  border-bottom-right-radius: 1.875rem;
}
.infoCardHeadline--bannerRicambiOriginali {
  font-weight: 400;
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin: 0 0 1.875rem 0;
  font-family: "hotpointRegular";
  color: #fff;
  text-transform: uppercase;
}
.infoCardSubhead--bannerRicambiOriginali {
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.8125rem;
  margin: 0 0 1.875rem 0;
  color: #fff;
}
:global(.vtex-toast) {
  background-color: #b24c24;
  letter-spacing: 0.125rem;
  font-weight: bold;
  font-size: 0.8125rem;
  line-height: 1.2;
  color: #ffffff;
}
.infoCardContainer--padding0 {
  padding: 0;
}
.imageElement--logoBannerHeader1 {
  padding: 0 0.3rem;
}

.productImageTag--main {
  padding: 3rem 0;
}
.thumbImg--productPage {
  width: 70%;
  margin: auto;
}
.videoElement--cover {
  object-fit: cover;
}
:global(.vtex-store-video-1-x-videoContainer--videoEl) {
  margin-top: 0;
}
.imageElement--lpImage {
  max-width: unset;
}
/* Tablet media query */
.imageElement--imagePayment {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 0 auto;
}
:global(.vtex-modal__modal) {
  max-width: 50%;
}
.imageElement--imageClasseEnergetica {
  padding-left: 2.1875rem;
}
:global(.vtex__hotspot) {
  position: absolute;
  left: 0px;
  top: -10px;
}
:global(.vtex__flixmedia) {
  margin: 0 auto 3rem auto;
  max-width: 1000px;
}
:global(.vtex__ProductImagesWrapper) {
  width: 90%;
}
/* :global(.vtex-store-video-1-x-videoElement--videoCottura) {
  height: 58vh;
  width: 88vh;
}
:global(.vtex-store-video-1-x-videoContainer--videoCottura) {
  display: flex;
  justify-content: space-around;
  margin-top: 6rem;
  height: 65vh;
  padding-top: 1rem;
}
@media screen and (min-width: 421px) and (max-width: 700px) {
  :global(.vtex-store-video-1-x-videoElement--videoCottura) {
    height: 29vh;
    width: 51vh;
  }
  :global(.vtex-store-video-1-x-videoContainer--videoCottura) {
    height: 29vh;
    margin-top: 0rem;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 420px) {
  :global(.vtex-store-video-1-x-videoElement--videoCottura) {
    height: 25vh;
    width: 100%;
  }
  :global(.vtex-store-video-1-x-videoContainer--videoCottura) {
    display: flex;
    align-items: center;
    margin-top: 0rem;
    height: fit-content !important;
    margin-bottom: 2rem;
  }
} */
.infoCardImage--contain {
  object-fit: contain;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  height: 30.75rem;
  width: 100%;
}
.infoCardContainer--smallBanner {
  background-color: #f2f2f2;
}
.infoCardContainer--smallBannerBlack {
  margin: 0;
  padding: 0rem 21.9rem;
  height: 37.8125rem;
  max-height: 35.8125rem;
}
:global(.vtex-rich-text-0-x-container--black) {
  background-color: #222325;

  font-weight: 400;
  font-size: 1.875rem;
}
:global(.vtex-rich-text-0-x-container--black-2) {
  background-color: #222325;

  font-weight: 600;
  font-size: 1.875rem;
  margin-top: -0.2rem;
}
:global(.vtex-store-components-3-x-imageElement--black) {
  background-color: #f2f2f2;
  width: 100%;
  object-fit: contain;
  max-height: 600px !important;
  margin-top: -0.2rem;
}
.infoCardHeadline--underline {
  border-bottom: solid 1px #b24c24;
  font-size: 16px;
  font-weight: bold;
}
.infoCardSubhead--subhead {
  font-size: 35px !important;
}
.infoCardImage--heroBannerWCollection {
  height: 37.5rem;
  max-height: 37.5rem;
}
.sliderTrackContainer--BottomSliderLavatrice {
  border: 2px solid #b24c24;
  background-color: #222325;
  max-width: 1166px;
  width: auto;
}
.slideChildrenContainer--BottomSliderLavatrice {
  width: auto;
  border: 2px solid #b24c24;
  background-color: #222325;
}
.slide--BottomSliderLavatrice {
  width: auto;
  border: 2px solid #b24c24;
  background-color: #222325;
}
.sliderLayoutContainer--BottomSliderLavatrice {
  width: auto;
  border: 2px solid rebeccapurple;
  background-color: #b24c24;
}
.infoCardHeadline--halfBannerBlackfiber,
.infoCardSubhead--halfBannerBlackfiber {
  color: #fff;
}
.infoCardContainer--halfBannerReverseW {
  background-color: #e1e1e1;
  padding-left: 0rem;
  padding-bottom: 0rem;
  padding-right: 0rem;

  height: auto;
}
.menuItem--wcollectionMenuItem {
  padding-bottom: 1em;
}
.menuContainer {
  background-color: #505050;
}
.infoCardContainer--halfBannerSquare {
  width: 100%;
  margin: 0 auto;
  background-color: #f2f2f2;
  padding: 2rem;
}
/*******************SUPPORTO PAGE****************/
.label--m-stripe__link {
  background-color: #03054e;
  padding-top: 20px;
}
.imageElement--supportoCardIcon {
  max-width: 2.6875rem;
  height: 2.6875rem;
  width: auto;
  margin-bottom: 1.875rem;
}
.imageElement--supportoCardIconLiveChat {
  width: 2.6875rem;
  height: 2.6875rem;
  margin-bottom: 1.875rem;
}

.imageElement--rowImageDescPPImage {
  width: 100%;
}
.productBrand--stickyName {
  /* font-weight: 400;
  font-size: 1.2rem;
  line-height: 2rem;
  color: #505050; */
  font-family: "hotpointRegular";
  margin: 0 1.188rem 0.563rem 0;

  font-size: 1.8rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
}
.imageElement--imagePostillaBanner {
  max-height: 30rem;
  width: 100%;
  object-fit: cover;
  border-radius: 1.875rem;
  /* border-top-right-radius: 1.875rem;
  border-bottom-right-radius: 1.875rem; */
}

.flexRow--width70
  :global(.vtex-store-components-3-x-imageElement--imagePostillaBanner) {
  max-height: 30rem;
  width: 100%;
  object-fit: cover;
  /* border-radius: 1.875rem; */
  border-top-right-radius: 1.875rem;
  border-bottom-right-radius: 1.875rem;
  border-top-left-radius: 1.875rem !important;
  border-bottom-left-radius: 1.875rem;
}
.imageElement--imagePostillaBannerWFrigo4Porte {
  height: 33.8125rem;
  object-fit: cover;
  width: 100%;
  border-radius: 1.875rem;
  display: block;
}
.imageElement--imagePostillaBannerActiveSteam75 {
  height: 15rem;
}
.imageElement--imagePostillaBannerBottom {
  height: 37.5rem;
  object-fit: cover;
  border-radius: 1.875rem;
}
.imageElement--imagePostillaBannerMaster {
  height: 37.5rem;
  max-height: 37.5rem;
  width: 100%;
  object-fit: cover;
}
.imageElement--logoLargeRowImage {
  max-width: 6.25rem;
  max-height: 6.25rem;
}
.imageElement--sliderWFrigo4Porte,
.imageElement--sliderMaster {
  max-height: 857px !important;
}
.imageElement--designAwardMedium {
  max-width: 12.5rem;
  max-height: 6.25rem;
  min-width: 6.25rem;
  min-height: 3.125rem;
  height: auto;
  width: auto;
  margin-right: 2.1875rem;
  box-sizing: border-box;
  padding-left: 2.1875rem;
}
.imageElement--marginBottom {
  margin-bottom: 1.875rem;
}
.imageElement--cover {
  object-fit: cover;
}
.imageElement--minHeight {
  min-height: 100%;
}
.infoCardContainer--marginBanner {
  margin-top: 7.5rem;
  margin-bottom: 7.5rem;
}
.infoCardContainer--activeSteamScopri {
  border-bottom: none;
  margin-bottom: 5rem;
}
.infoCardTextContainer--activeSteamScopri {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.infoCardHeadline--activeSteamScopri {
  margin: 0 3rem 0 0;
  text-transform: uppercase;
  font-size: 1.25rem;
}
.infoCardCallActionContainer--activeSteamScopri :global(.vtex-button) {
  transition: all 0.5s ease-in-out;
}
.imageElement--minHeightCover {
  min-height: 100%;
  object-fit: cover;
}
.infoCardContainer--mobileInfoCardSupporto {
  max-height: unset;
}
:global(.vtex-flex-layout-0-x-flexRow--faq-title) {
  margin: 0 3.125rem;
}
.productDescriptionTitle {
  display: none;
}
.productDescriptionText {
  line-height: 1.67;
  font-size: 1rem;
  padding-right: 4rem;
  font-weight: 300;
  color: #505050;
}
.productDescriptionContainer {
  /* padding-bottom: 1rem; */
  border-bottom: 1px solid #b24c24;
}
/*----------------MASTER LANDING PAGE-----------------*/
.infoCardTextContainer--equal {
  flex: 0 0 50% !important;
  width: 50% !important;
}
.infoCardImageContainer--equal {
  flex: 0 0 50% !important;
  width: 50% !important;
}
.infoCardContainer--equal {
  margin: 5rem 0;
}
/*-----------------------*/
.productNameLink--summaryName:hover,
.productNameLink--summaryName:focus {
  text-decoration: none;
}

.productNameContainer--summaryName {
  justify-content: start;
  padding: 0.5rem 1rem;
  line-height: 1.2rem;
}

.productBrand--summaryName {
  font-family: "hotpointRegular";
  font-weight: 300 !important;
  font-size: 1.25rem !important;
  line-height: 1.2;
  color: #505050;
}
.infoCardTextContainer--bannerActive20 {
  display: none;
}
.infoCardImageContainer--bannerActive20 {
  width: 100%;
}
.infoCardImage--bannerActive20 {
  width: 100%;
  max-height: 30rem;
  object-fit: fill !important;
}
.imageElement--arrowAccordion {
  width: 0.8rem;
  height: initial !important;
  margin-top: 0 !important;
}
.imageElement--sliderBanner {
  height: 100%;
  object-fit: contain;
}
.imageElement--imageBannerBottomPLP {
  position: relative;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  width: fit-content;
}
.productNameContainer--summaryNameCarousel {
  margin-top: 1rem;
  padding: 0 0.5rem !important;
}
.imageElement--imageBannerTabBanner {
  height: 35rem;
  width: 100%;
}
.infoCardImageContainer--halfBannerCardTabHomepage {
  min-height: unset;
  max-height: unset;
}
.infoCardImage--halfBannerCardTabHomepage {
  height: unset;
  max-height: 28rem;
  max-width: 28rem;
  margin: auto;
}
.infoCardContainer--halfBannerCardTabHomepage {
  max-width: 80%;
  flex-direction: row;
  background-color: transparent !important;
  margin: 0;
}
.infoCardSubhead--halfBannerCardTabHomepage {
  font-family: "hotpointRegular", Arial;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
  color: #fff;
}
.infoCardHeadline--halfBannerCardTabHomepage {
  position: relative;
}
.infoCardHeadline--halfBannerCardTabHomepage::after {
  width: 3.125rem;
  content: "";
  display: block;
  height: 0.125rem;
  background: #b24c24;
  margin-top: 0.625rem;
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  display: none;
}
.infoCardCallActionContainer--heroBannerSearch :global(.vtex-button) {
  min-width: 0px !important;
}
.infoCardCallActionContainer--halfBannerCardTabHomepage :global(.vtex-button) {
  margin: 0 !important;
  background-color: #b24c24 !important;
  transition: 0.5s all ease;
  border: none;
  min-width: unset !important;
}
.infoCardCallActionContainer--halfBannerCardTabHomepage
  :global(.vtex-button):hover {
  background-color: #953d1b !important;
  transition: 0.5s all ease;
}
.infoCardCallActionContainer--heroBannerSearch
  :global(.vtex-button__label):empty {
  display: none;
}
.infoCardCallActionContainer--heroBannerSearch :global(.vtex-button__label),
.infoCardCallActionContainer--halfBannerCardTabHomepage
  :global(.vtex-button__label) {
  color: #fff !important;
  font-size: 1rem !important;
  font-weight: 500 !important;
}
.infoCardContainer--microondeCard {
  width: 80%;
  margin: 0 auto;
}
.imageElement--icon-active-point {
  width: 3.125rem;
  height: 3.125rem;
}
.imageElement--image-slider-bg-active-point {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* position: absolute; */
}
.infoCardContainer--heroBannerCollezioneIncasso {
  background-color: #f2f2f2;
}
.imageElement--imagePostillaBannerGatePageHub {
  height: 25rem;
  width: 100%;
}
.success {
  color: #b24c24;
}
.imageElement--satispay {
  width: 44px;
  border-radius: 5px;
  padding-bottom: unset;
}
.imageElement--imageSupporto {
  object-fit: cover;
}
.imageElement--imageHeroBannerSupporto {
  width: 100% !important;
  object-fit: cover;
}
.productNameContainer--summaryName {
  padding: 0 1rem !important;
  white-space: unset;
}
.productBrand--headerSearchSummaryName {
  font-size: 16px !important;
  font-weight: 500 !important;
}
.imageElement--newsletterFormImg {
  height: 100%;
  margin-bottom: -4px;
  min-width: 367px;
  display: none;
}
.imageElement--fuoriSaloneImg {
  max-height: 36rem;
  object-fit: cover;
  margin-top: -1rem;
}
.imageElement--hpLogoImage {
  max-height: 40px;
  margin-top: 0.8rem;
}
.imageElement--oowPopupImage {
  object-fit: cover;
  width: 100%;
}
.imageElement--imageNewsletterLanding {
  max-height: 36rem;
  object-fit: cover;
  margin-top: -1rem;
}
.imageElement--imageNewsletterForm {
  object-fit: cover;
  min-width: 100%;
  max-width: unset !important;
}
.newsletter {
  background-color: #03054e;
  max-width: 1528px;
  margin: 0 auto;
}
.newsletter .container {
  padding: 60px 10px;
}
.infoCardContainer--halfBannerSearchChef {
  padding-left: 0;
  padding-right: 0;
}
/* Media Queries */
@media only screen and (min-width: 600px) {
  :global(.vtex-flex-layout-0-x-flexRow--wcollectionBanner),
  :global(.vtex-flex-layout-0-x-flexRow--innovazioniBanner)
    .imageElement--imagePostillaBanner {
    max-height: 100%;
    max-width: 100%;
    min-height: 30rem;
    object-fit: cover;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-top-left-radius: 1.875rem;
    border-bottom-left-radius: 1.875rem;
    border-top-right-radius: 1.875rem;
    border-bottom-right-radius: 1.875rem;
  }
  /* .flexRow--innovazioniBannerGrey:global(.vtex-store-components-3-x-imageElement--imagePostillaBanner){
    border-top-left-radius:1.875rem;
    border-bottom-left-radius:1.875rem;
    border-top-right-radius:1.875rem;
    border-bottom-right-radius:1.875rem;

  } */
  .imageElement--newsletterFormImg {
    display: block;
  }
}
@media only screen and (min-width: 1100px) {
  .infoCardTextContainer--mobileInfoCardSupporto {
    padding: 0rem 4rem;
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #f2f2f2;
  }
}
@media only screen and (max-width: 1100px) and (min-width: 600px) {
  .infoCardContainer--mobileInfoCardSupporto {
    width: 100%;
    padding: unset;
  }
  .infoCardTextContainer--mobileInfoCardSupporto {
    height: 100%;
  }
}
@media only screen and (max-width: 600px) {
  .searchBarContainer {
    width: 100%;
    background: linear-gradient(270deg, #282828, #000) !important;
  }
  .autoCompleteOuterContainer--headerSearch {
    padding: 0 15px;
  }
  .searchBarInnerContainer--headerSearch {
    margin-left: 0;
  }
  .imageElement--lpImage {
    object-fit: scale-down;
    margin: auto;
  }
  .infoCardContainer--mobileInfoCardSupporto {
    height: auto;
    max-height: unset;
  }
  :global(.vtex__hotspot) {
    left: 100%;
    top: 5%;
    transform: translateX(-100%);
  }
  :global(.vtex-modal__modal) {
    max-width: 100%;
  }
  .infoCardContainer--gridHome {
    margin: 0;
    margin-bottom: 1.875rem;
    overflow: hidden;
  }
  .productImageTag--main {
    width: 100% !important;
    margin: 0 !important;
    padding: 0;
    padding-bottom: 2rem;
  }
  :global(.vtex-search-result-3-x-galleryItem) {
    flex-basis: 100% !important;
    max-width: 100% !important;
  }
  .imageElement--logoImage {
    width: 100%;
  }
  .productDescriptionText {
    line-height: 1.67;
    font-size: 1rem;
    padding-right: 0;
    font-weight: 300;
    color: #505050;
  }
  .fadeBottom {
    display: none;
  }
  .pointerEventsAuto {
    text-align: left;
    padding: 0;
  }
  .showMoreButton {
    text-align: left;
    background: none;
    text-decoration: underline;
    width: auto;
    text-transform: lowercase;
    padding: 10px 0;
    margin: 0;
    color: #505050;
  }
  .productNameContainer {
    line-height: 2.25rem;
  }

  .imageElement--imagePostillaBannerBottom {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    object-position: 100% 0;
    border-radius: 1.25rem;
  }

  .imageElement--imagePostillaBannerWFrigo4Porte {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    border-radius: 1.25rem;
    /* object-position: 100% 0; */
  }
}
@media only screen and (max-width: 1280px) and (min-width: 1025px) {
  :global(.vtex-flex-layout-0-x-flexRow--faq-title) {
    margin: 0 2.5rem;
  }
}
@media only screen and (max-width: 1024px) {
  :global(.vtex-flex-layout-0-x-flexRow--faq-title) {
    margin: 0 1.25rem;
  }
  .imageElement--barbieriImage {
    object-fit: cover;
  }
  .imageElement--blackfriday2022Banner {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .logoContainer--logoMaintenance {
    width: 200px !important;
  }
  .imageElement--imageCategories {
    border: 0.1rem solid rgb(236, 236, 236);
    border-radius: 0.5rem;
  }
  .productNameContainer--stickyName {
    display: none;
  }
  .productBrand--summaryName {
    font-size: 1rem !important;
    font-family: "hotpointMedium";
    line-height: 1;
  }
  .infoCardContainer--blackFridayReviews {
    display: flex;
    flex-direction: column-reverse;
  }
}
@media only screen and (max-width: 1320px) {
  .infoCardContainer--smallBannerBlack {
    padding: 0rem 10rem;
  }
}
@media only screen and (max-width: 1100px) {
  .productNameContainer--stickyName {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 220px;
  }
}
@media only screen and (max-width: 769px) and (orientation: landscape) {
  .productNameContainer--stickyName {
    display: none;
  }
}
@media only screen and (max-width: 668px) {
  .infoCardContainer--blackFridayAdvantages {
    max-width: 180px;
    padding: 18px 0;
    min-width: 180px;
  }
  .productNameContainer--stickyName {
    display: none;
  }
  .productBrand--stickyName {
    /* width: 19.688rem; */
    /* height: 1.75rem; */
    margin: 0 1.188rem 0.563rem 0;

    font-size: 1.25rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
  }
  .infoCardContainer--smallBannerBlack {
    padding: 0rem;
  }
  .imageElement--objFit {
    object-fit: contain;
  }
  .productNameContainer--summaryName {
    padding: 0 1rem;
  }
}
@media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 140px;
  }
  .label {
    font-size: 40px;
  }
  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }
  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }
  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}
@media only screen and (max-width: 680px) {
  .imageElement--supportoCardIconLiveChat {
    margin-bottom: -0.5rem !important;
  }
}
@media only screen and (max-width: 1000px) and (min-width: 600px) {
  .imageElement--imagePostillaBanner {
    height: 100%;
    max-width: 100%;
    object-fit: cover;
  }
  .infoCardContainer--halfBanner,
  .infoCardContainer--halfBannerReverse,
  .infoCardContainer--contactHome {
    margin: 0;
  }
  .infoCardImageContainer--halfBannerReverse,
  .infoCardImageContainer--halfBanner,
  .infoCardImageContainer--contactHome {
    max-height: unset;
    min-height: unset;
  }
  .infoCardImage--halfBanner,
  .infoCardImage--halfBannerReverse {
    object-fit: cover;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    height: 384px;
    width: 100%;
  }
  .infoCardImage--contactHome {
    object-fit: cover;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    height: auto;
    width: 100%;
  }
  .infoCardContainer--contactHome .infoCardTextContainer,
  .infoCardContainer--halfBanner .infoCardTextContainer,
  .infoCardContainer--halfBannerReverse .infoCardTextContainer,
  .infoCardContainer--smallBanner .infoCardTextContainer {
    padding: 2.5rem 3.75rem;
    justify-content: center;
  }
  .infoCardContainer--gridHome {
    overflow: hidden;
  }
  .infoCardImage--mobileHotpointEletta {
    height: unset;
  }
}
@media only screen and (max-width: 1200px) {
  :global(.vtex__hotspot) {
    left: 10%;
    top: 0px;
    transform: translateX(-100%);
  }
  .productImageTag--main {
    width: 80% !important;
    margin: 0 10% !important;
    padding: 3rem 0;
  }
  .productImagesContainer--productPage {
    width: 100%;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .imageElement--imagePostillaBannerGatePageHub {
    height: inherit;
  }
  .infoCardContainer--mobileInfoCardSupporto {
    padding: 0;
  }
  .infoCardContainer--mobileHotpointEletta {
    margin-top: -13rem !important;
  }
}
@media only screen and (max-width: 1100px) {
  :global(.vtex-modal__modal) {
    max-width: 80%;
  }
}
@media only screen and (min-width: 1200px) {
  .infoCardContainer--gridHome {
    min-height: 40rem;
  }
  .infoCardImageContainer--gridHome {
    min-height: 15rem;
    max-height: 18rem;
  }
  .infoCardImage--gridHome {
    object-fit: cover;
    height: 100%;
  }
  .infoCardContainer--gridHome {
    justify-content: flex-end;
  }
}
@media only screen and (min-width: 1400px) {
  .infoCardContainer--blackFridayAdvantages {
    min-width: 300px;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1200px) {
  .infoCardTextContainer--heroBanner {
    padding: 0;
    padding-left: 1.5625rem;
  }
  .infoCardTextContainer--heroBanner,
  .infoCardImageContainer--heroBanner {
    flex: 0 0 50%;
  }
  .infoCardContainer--halfBanner,
  .infoCardContainer--halfBannerReverse,
  .infoCardContainer--contactHome {
    margin: 0;
  }
  .infoCardImageContainer--halfBannerReverse,
  .infoCardImageContainer--halfBanner,
  .infoCardImageContainer--contactHome {
    max-height: unset;
    min-height: unset;
  }
  .infoCardImage--halfBanner,
  .infoCardImage--halfBannerReverse {
    object-fit: cover;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    height: 384px;
    width: 100%;
  }
  .infoCardImage--contactHome {
    object-fit: cover;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    height: auto;
    width: 100%;
  }
  .infoCardImageContainer--gridHome {
    overflow: hidden;
  }
  .infoCardImage--gridHome {
    height: 100%;
  }
  .productNameContainer--summaryNameCarousel {
    margin-top: 0rem;
  }
  .infoCardImage--mobileHotpointEletta {
    height: 33.75rem;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
  .productNameContainer--summaryName {
    min-height: 140px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .infoCardTextContainer--mobileInfoCardSupporto {
    justify-content: center;
  }
}
@media only screen and (min-width: 1025px) {
  .searchBarContainer {
    margin-right: 53px !important;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 768px) {
  .infoCardImage--mobileHotpointEletta {
    height: 25rem;
  }
}
@media only screen and (max-width: 1024px) and (min-width: 640px) {
  .infoCardContainer--mobileHalfBannerProduct {
    margin: 0;
    max-height: 25.625rem;
  }
  .infoCardTextContainer--mobileHalfBannerProduct {
    padding: 2.5rem 3.75rem;
  }
  .infoCardImageContainer--mobileHalfBannerProduct {
    max-height: 25.625rem;
    min-height: unset;
  }
  .infoCardImage--mobileHalfBannerProduct {
    max-height: 25.625rem;
    min-height: unset;
  }
}
@media only screen and (max-width: 1080px) {
  .infoCardTextContainer--bannerRicambiOriginali {
    padding: 1.25rem;
    width: 50%;
  }
  .infoCardImageContainer--bannerRicambiOriginali {
    width: 50%;
  }
}
@media only screen and (max-width: 640px) {
  .infoCardImageContainer--heroBannerSearchChef {
    margin: 0;
  }
  .infoCardImageContainer--halfBannerSearchChef {
    margin: 0;
  }
  .infoCardTextContainer--heroBannerSearchChef {
    margin-top: -4rem;
  }
  .imageElement--logoHotpointMasterchef {
    margin-top: 3rem;
  }
  .infoCardContainer--heroBannerSearchChef {
    margin-top: 1rem;
  }
  .infoCardImage--halfBannerSearchChef {
    margin-top: -7.5rem;
  }
  .infoCardContainer--imageSlideChef {
    display: flex;
    flex-direction: column-reverse;
  }
  .infoCardContainer--heroBannerCollezioneIncasso {
    flex-direction: column !important;
    margin-top: 2rem;
  }
  .imageElement--innovazioniImageFull {
    object-fit: cover;
    border-radius: 1.25rem;
  }
}
@media only screen and (max-width: 640px) {
  .imageElement--masterchefFirstBanner {
    margin-bottom: 0;
  }
  .imageElement--ImageAdvantageForYou {
    width: 54px;
    height: 57px;
    object-fit: contain;
    margin-left: 0.5rem;
  }
  .infoCardImageContainer--bannerRicambiOriginali {
    flex-direction: column-reverse;
    width: 100%;
    max-height: 100%;
  }
  .infoCardTextContainer--bannerRicambiOriginali {
    padding: 2.5rem 1.25rem;
    align-items: center;
    width: 100%;
  }
  .infoCardSubhead--bannerRicambiOriginali {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
  }
  .infoCardImage--bannerRicambiOriginali {
    max-height: unset;
    height: unset;
  }
  .infoCardContainer--bannerRicambiOriginali {
    padding-bottom: 0;
    display: flex;
    flex-direction: column-reverse;
    max-height: unset;
  }
  .logoImage {
    width: 120px;
  }
  .logoLink--footerMobile {
    padding: 2rem 0 1rem 0;
  }
  .infoCardContainer--heroBannerSearch {
    flex-direction: column-reverse;
    height: unset;
    overflow: hidden;
    border-radius: 1.25rem;
    background-image: #fff !important;
  }

  .infoCardTextContainer--heroBannerSearch {
    align-items: flex-start;
    padding: 2.5rem 1.25rem;
    width: 100%;
  }
  .infoCardImageContainer--heroBannerSearch {
    max-height: 391px;
    width: 100%;
  }
  .infoCardImage--heroBannerSearch {
    height: 391px;
    max-height: unset;
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
    margin-bottom: 1rem;
  }
  .infoCardSubhead--heroBannerSearch {
    margin-bottom: 1.875rem;

    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625rem;
  }
  .infoCardHeadline--heroBannerSearch {
    font-family: "hotpointRegular";
    font-weight: 400;
    font-size: 1.875rem;
    color: #fff;
    margin: 0 0 1.25rem;
    text-transform: uppercase;
  }
  .infoCardContainer--contactHome {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
  }
  .infoCardContainer--halfBannerReverse,
  .infoCardContainer--halfBanner {
    display: flex;
    flex-direction: column-reverse;
    margin: 0;
    padding: 0.5rem;
    align-items: center;
  }
  .infoCardImageContainer--halfBanner,
  .infoCardImageContainer--halfBannerReverse {
    min-height: auto !important;
    max-height: auto !important;
  }
  .infoCardImageContainer--halfBannerReverse {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .infoCardImage--halfBanner,
  .infoCardImage--halfBannerReverse {
    height: 13rem;
  }
  .infoCardSubhead--halfBannerCardTabHomepage {
    font-size: 1rem;
  }
  .infoCardImage--halfBannerCardTabHomepage {
  }
  .infoCardImageContainer--heroBanner {
    flex-direction: column-reverse;
    width: 100%;
    max-height: 100%;
  }
  .infoCardTextContainer--heroBanner {
    padding: 0;
    align-items: flex-start;
    width: 100%;
    padding: 2.5rem 1.25rem;
  }
  .infoCardImage--heroBanner {
    max-height: 23.4375rem;
    object-position: 70% 0;
  }
  .infoCardContainer--heroBanner {
    padding-bottom: 0;
    display: flex;
    flex-direction: column-reverse;
    background: #fff;
  }
  .productNameContainer {
    font-family: "hotpointRegular";
    font-size: 1.125rem;
    line-height: 1.375rem;
    font-weight: 700;
    color: #000;
  }
  .infoCardHeadline--halfBannerReverse,
  .infoCardHeadline--halfBanner,
  .infoCardHeadline--heroBanner {
    font-size: 1.875rem !important;
  }
  .infoCardHeadline--receipesBanner {
    font-size: 1.875rem;
  }
  .infoCardTextContainer--halfBanner,
  .infoCardTextContainer--halfBannerReverse,
  .infoCardTextContainer--heroBanner {
    padding: 2.5rem;
    background-image: linear-gradient(
      135deg,
      hsl(23deg 67% 56%) 0%,
      hsl(20deg 57% 50%) 50%,
      hsl(17deg 66% 42%) 100%
    );
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
    border-top-right-radius: 1.25rem;
  }
  .infoCardTextContainer--halfBanner,
  .infoCardTextContainer--halfBannerReverse,
  .infoCardTextContainer--heroBanner:global(
      .vtex-store-components-3-x-infoCardContainer--heroBannerSearch
    ) {
    background: transparent;
  }
  .infoCardTextContainer--halfBannerReverse {
    padding: 0;
    height: -webkit-fill-available;
  }
  .imageElement--imageBannerTabBanner {
    height: 36rem;
  }
  .infoCardHeadline--heroBannerCollezioneIncasso {
    margin: 0;
  }
  .infoCardImage--mobileInfoCardSupporto {
    height: auto;
  }
  .infoCardTextContainer--mobileInfoCardSupporto {
  }
  .infoCardContainer--mobileHotpointEletta {
  }
  .imageElement--imageBannerTabBannerMobile {
    height: 41rem;
  }
  .infoCardContainer--halfBannerCardTabHomepageMobile {
    height: 41rem;
  }
  .imageElement--imagePostillaBanner {
    border-top-right-radius: 1.25rem;
    border-bottom-right-radius: 1.25rem;
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
  }
}
@media only screen and (min-width: 1250px) {
  :global(.vtex-search-result-3-x-galleryItem) {
    flex-basis: 33% !important;
    max-width: 33% !important;
  }
}
@media only screen and (max-width: 705px) {
  .imageElement--bannerPromoSmallWarranty {
    width: 385px;
    margin: 0 auto;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1024px) {
  .infoCardTextContainer--heroBannerSearch {
    flex: 0 0 50%;
    width: 50%;
    padding: 1.5625rem;
  }
  .infoCardImageContainer--heroBannerSearch {
    flex: 0 0 50%;
    /* width: 50%; */
  }
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1025px) and (orientation: portrait) {
  .imageElement--logoImage {
    width: 60%;
    height: 50px !important;
  }
  .infoCardContainer--heroBannerCollezioneIncasso {
    margin-top: 2rem;
  }
}
@media only screen and (max-width: 1040px) {
  .imageElement--logoImage {
    height: 70px !important;
    width: 50%;
  }
}

.infoCardCallActionContainer--halfBannerReverse :global(.vtex-button) {
  /* min-width: 0px !important;
  min-height: 0px !important; */
}

.infoCardCallActionContainer :global(.vtex-button) {
  transition: all 0.5s ease-in-out;
  border: none;
  border-radius: 11px;
}
.infoCardCallActionContainer :global(.vtex-button__label):empty {
  display: none;
}

.infoCardCallActionContainer :global(.vtex-button__label) {
  margin: 0rem 1.5rem;
  color: #000 !important;
}

.infoCardContainer--heroBannerATA {
  height: 35.625rem;
  background-color: #f2f2f2;
}

.infoCardImage--heroBannerATA {
  height: 35.625rem;
}

@media only screen and (max-width: 680px) {
  .infoCardContainer--heroBannerATA {
    height: 100%;
    max-height: 100%;
  }
  .resultsList--headerSearch {
    top: 135px;
  }

  .container {
    width: 100%;
    padding-bottom: 0.5rem;
  }
}

@media only screen and (min-width: 320px) and (max-width: 599px) {
  .imageElement--imageNewsletterForm {
    display: none;
    visibility: hidden;
  }
}
@media only screen and (max-width: 400px) {
  .infoCardImage--halfBannerSearchChef {
    margin-top: -6rem;
  }
}
