.formSubmitContainer--fuoriSalone{
    margin: 1rem;
    text-align: center;
}
.formSubmitButton--fuoriSalone :global(.vtex-button){
    background-color: #b24c24!important;
    border-color: #b24c24!important;
}