.trigger--question {
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: none;
}

.trigger--question :global(.vtex-rich-text-0-x-paragraph) {
  font-weight: bold;
}

.trigger--question:focus,
.trigger--question:focus :global(.vtex-rich-text-0-x-paragraph) {
  color: #b24c24;
}

.trigger :global(.vtex-store-icons-0-x-caretIcon) {
  margin-right: 1rem;
}

.content--answer {
  transition: opacity 250ms ease-in-out, height 250ms ease-in-out,
    transform 250ms ease-in-out;
  opacity: 0;
  height: 0;
  transform: translate3d(0, -10%, 0);
}

.content--answer[data-enter] {
  opacity: 1;
  height: fit-content;
  transform: translate3d(0, 0, 0);
}

.content--answer[data-leave] {
  height: 0;
  overflow: hidden;
}

.trigger:focus {
  outline: none !important;
}

.trigger {
  border: none !important;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none !important;
}

.trigger :global(.vtex-rich-text-0-x-headingLevel2--titleTab) {
  margin: 1.5rem !important;
  font-size: 1.75rem;
}

.content--pdpAccordionContent--visible {
  position: unset !important;
  height: auto !important;
  top: unset;
  /* transition: height 0.3s ease-out !important; */
}

/* .content--accordionContentGift--visible {
  height: 40vh !important;
}
.content--accordionContentTopFeature--visible {
  height: 542vh !important;
}
.content--accordionContentDettagliTtecnici--visible {
  height: 257vh !important;
} */
/*  */
.content--accordionContentGift--hidden {
  transition: height 0.7s ease !important;
  height: 0 !important;
}

.content {
  position: absolute;
  display: block !important;
  overflow: hidden;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 0;
  margin: 0;
  padding-right: 3.125rem;
  padding-left: 3.125rem;
  /* background: linear-gradient(270deg, #282828 0, #000) !important; */
  transition: height 0.7s ease;
  height: 0;
}

.content--visible {
  transition: height 0.7s ease;
  height: 200px;
}

.content--disclosure_content--servizi_aggiuntivi {
  position: relative;
  top: unset;
  padding: 0;
}

.trigger--pdpAccordionTrigger {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.trigger--triggerFooter {
  display: flex;
  width: calc(100% - 2rem) !important;
  padding: unset !important;
  margin: 0.5rem 1rem !important;
}

.trigger--triggerFooter--hidden {
  border-bottom: 1px solid #fff !important;
}

.trigger--triggerFooter :global(.vtex-store-components-3-x-imageElement--PlusIcon),
.trigger--triggerFooter :global(.vtex-store-components-3-x-imageElement--MinusIcon) {
  margin: auto;
}

.trigger--pdpAccordionTrigger :global(.vtex-store-components-3-x-imageElement) {
  /* margin-top: 3.75rem; */
  height: 0.8rem;
  text-transform: uppercase;
}

.trigger--topFeature :global(.vtex-rich-text-0-x-heading) {
  text-align: left;
}

.trigger--elettrodomestici--visible,
.trigger--accessori--visible {
  border-bottom: 1px solid black !important;
}

.trigger--elettrodomestici--visible,
.trigger--accessori--visible {
  border-bottom: 1px solid black !important;
}

.content--visible {
  transition: height 0.7s ease;
  height: 20vh;
  background-color: #fff;
}

.content--collezioni--visible {
  height: calc(33.6px * 3);
}

.content--servizio-clienti--visible {
  height: calc(33.6px * 10);
}

.content--laNostraAzienda--visible {
  height: calc(33.6px * 3);
}

.content--leNostrePolicy--visible {
  height: calc(33.6px * 8);
}

.content--relative {
  position: relative;
}

:global(.vtex-sticky-layout-0-x-container--sticky-header) .content--visible {
  height: 200px;
}

/* ACCORDION PRODUCT DETAILS AND DESCRIPTION*/
.content--ProdAccordionContent {
  position: relative;
}

.trigger--ButtonTriggerAccordion {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content--ProdAccordionContent--visible {
  height: fit-content;
}

.trigger--ButtonTriggerAccordion {
  background-color: #f9f9f9;
  padding: 1rem;
}

.trigger--ButtonTriggerAccordion--hidden,
.trigger--pdpAccordionTrigger--hidden {
  border-bottom: 1px solid #B24C24 !important;
}

.trigger--ButtonTriggerAccordion--visible,
.trigger--pdpAccordionTrigger--visible {
  border-bottom: none !important;
}

.content--ProdAccordionContent {
  padding: 0 1rem;
}

/* ACCORDION GIFTS*/
.trigger--accordionGift {
  background-color: #f9f9f9;
  padding: 1rem;
  border-bottom: 1px solid #b24c24 !important;
}

/* ACCORDION FEATURES*/
.trigger--topFeature {
  background-color: #f9f9f9;
  padding: 1rem;
}

.trigger--pdpAccordionTrigger {
  background-color: #f2f2f2;
  padding: 1rem;
}

/* Media Queries */
@media screen and (max-width: 640px) {
  .content--visible {
    background-color: #1c1e1d !important;
  }

  .content--servizio-clienti--visible,
  .content--leNostrePolicy--visible,
  .content--laNostraAzienda--visible {
    background-color: #ffff !important;
  }

  .content--pdpAccordionContentMobile--visible {
    background-color: #ffff !important;
  }
}

@media only screen and (max-width: 768px) {

  .trigger,
  .trigger--hidden,
  .trigger--visible {
    width: max-content;
  }

  .content {
    padding: 0 1rem;
  }

  .content--visible {
    background-color: #fff;
  }

  .trigger--pdpAccordionTrigger :global(.vtex-store-components-3-x-imageElement) {
    flex-shrink: 0;
    flex-basis: 1.8rem;
    height: 0.8rem !important;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {
  .content--visible {
    background-color: #ffff;
  }
}