.listContainer--pdpTab {
  background-color: #f9f9f9;
}
.listItem--pdpTab :global(.vtex-button) {
  color: #505050;
  background-color: #f9f9f9;
  border: none;
}
/* BLACK FRIDAY */
.listContainer--blackFriday {
  border-bottom: 2px solid #e1e1e1;
  justify-content: flex-start;
}
.listContainer--blackFriday .listItem {
  margin: 0;
  padding: 0;
}
.listContainer--blackFriday .listItem :global(.vtex-button),
.listContainer--blackFriday .listItemActive :global(.vtex-button) {
  margin-bottom: -2px !important;
  border: none;
  border-bottom: 2px solid #edb31200;
  text-transform: none;
  color: #b1b1b1;
  border-radius: 0;
  background: none;
  padding: 0;
  font-weight: 100;
  padding-bottom: 0.25rem;
}
.listContainer--blackFriday .listItemActive :global(.vtex-button) {
  color: #292929;
  border-bottom: 2px solid #b24c24;
  font-weight: 700;
}
.contentItem--blackFriday {
  padding: 1rem 0;
}
.container--blackFriday {
  min-height: 500px;
  max-width: 99vw;
}
.listItemActive :global(.vtex-button__label) {
  color: #B24C24 !important;
}
.listItemActive--pdpTab {
  border: none;
  background-color: #f9f9f9;
}
.listItemActive--pdpTab :global(.vtex-button) {
  border-bottom: 0.25rem solid #b24c24;
  border-radius: unset;
}
.listItemActive--pdpTab :global(.vtex-button__label) {
  padding: 0;
}
.listItem--pdpTab {
  width: 25%; /*Con il tab documenti 33.3*/
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.container--tabPdpCollection .listContainer {
  flex-wrap: nowrap;
  overflow-x: scroll;
  justify-content: space-between;
  overflow: hidden;
}
.container--tabPlpCollectionList:global(.vtex-button) {
  background-color: #f2f2f2;
  border-radius: 0;
  height: 100%;
  justify-content: space-around;
  min-width: 7rem;
}
.listContainer--tabPlpCollectionList :global(.vtex-button__label) {
  text-transform: uppercase;
  font-family: "hotpointMedium";
  color: #505050;
}
.container--tabPdpCollection .listItemActive :global(.vtex-button) {
  border: none;
}

.container--tabPdpCollection .listItemActive :global(.vtex-button__label) {
  color: #ffff;
}

.container--tabPdpCollection .listItem :global(.vtex-button):hover {
  border-radius: 37px;
}
.container--tabPdpCollection .listContainer {
  border-radius: 37px;
  background-color: #f2f2f2;
  /*width: 24rem;*/
  margin: auto;
  margin-bottom: 1rem;
}
.container--tabPdpCollection .listContainer .listItem {
  padding: 0;
  margin: 0;
}
.container--tabPdpCollection .listItemActive :global(.vtex-button) {
  background-color: #B24C24;
  border-radius: 37px;
  height: 100%;
}
.container--tabPdpCollection .listItemActive :global(.vtex-button__label) {
  color: #ffffff !important;
}
.listContainer--tabPlpCollectionList :global(.vtex-button) {
  height: 100%;
}
.listContainer--tabPlpCollectionList
  .listItemActive
  :global(.vtex-button__label) {
  color: #f2f2f2;
}
.contentContainer--tabPdpCollection {
  margin: 0 !important;
}
.contentContainer .contentItem--TabContent {
  /* background-color: #f2f2f2; */
  position: relative;
  -webkit-animation: slide 0.6s;
  animation: slide;
  animation-duration: 0.6s;
  padding: 0;
}
.contentContainer .contentItem--TabContentBlack {
  background-color: #f2f2f2;
  position: relative;
  -webkit-animation: slide 0.6s;
  animation: slide;
  animation-duration: 0.6s;
}
@keyframes slide {
  0% {
    opacity: 0;
    left: 100%;
    top: 0px;
  }
  10% {
    opacity: 0.1;
    left: 90%;
    top: 0px;
  }
  20% {
    opacity: 0.2;
    left: 80%;
    top: 0px;
  }
  30% {
    opacity: 0.3;
    left: 70%;
    top: 0px;
  }
  40% {
    opacity: 0.4;
    left: 60%;
    top: 0px;
  }
  50% {
    opacity: 0.5;
    left: 50%;
    top: 0px;
  }
  60% {
    opacity: 0.6;
    left: 40%;
    top: 0px;
  }
  70% {
    opacity: 0.7;
    left: 30%;
    top: 0px;
  }
  80% {
    opacity: 0.8;
    left: 20%;
    top: 0px;
  }
  90% {
    opacity: 0.9;
    left: 10%;
    top: 0px;
  }
  100% {
    opacity: 1;
    left: 0px;
    top: 0px;
  }
}
.container--BannerTab {
  padding-top: 5.625rem;
}
.container--BannerTabBlack {
  background-color: #ffff;
}
.container--BannerTabBlack {
  margin-top: -0.3rem;
  padding-top: 5.625rem;
}
.container--BannerTab .listContainer {
  border-bottom: 0.0625rem solid #979797;
}
.container--BannerTabBlack .listContainer {
  border-bottom: 0.0625rem solid #979797;
}
.container--BannerTab .listItem {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  background: none;
}
.container--BannerTabBlack .listItem {
  padding: 0;
  margin: 0;
}
.container--BannerTab :global(.vtex-button__label) {
  padding: 0;
  padding-bottom: 2.1875rem !important;
  color: #353535;
  font-family: "hotpointRegular";
  font-weight: 400;
  font-size: 1.375rem;
  text-transform: uppercase;
  line-height: 1.625rem;
  min-width: 10rem;
}
.container--BannerTabBlack :global(.vtex-button__label) {
  padding: 0;
  padding-bottom: 2.1875rem !important;
  color: #9b9b9b;
  font-family: "hotpointRegular";
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.375rem;
  line-height: 1.625rem;
  min-width: 10rem;
}
.container--BannerTab .listItemActive :global(.vtex-button) {
  border-bottom: none;
  border-radius: 0;
}
.container--BannerTabBlack .listItemActive :global(.vtex-button) {
  border-bottom: 0.1875rem solid #B24C24;
  border-radius: 0;
}
.container--BannerTab :global(.vtex-button) {
  background-color: unset;
  outline: unset;
  border: unset;
  text-transform: unset;
  margin: 0 2.5rem;
}
.container--BannerTabBlack :global(.vtex-button) {
  background-color: unset;
  outline: unset;
  border: unset;
  text-transform: unset;
  margin: 0 2.5rem;
}
/* .contentContainer--bannerTab {
  background: #f2f2f2;
} */
.contentContainer--bannerTabBlack {
  padding-top: 3.75rem;
  background-color: #f2f2f2;
}
.contentItem--documentContainer {
  padding-top: 2.625rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/*---------------- HOMEPAGE TAB LAYOUT -------------------*/
.container--BannerTabHome :global(.vtex-tab-layout-0-x-listContainer) {
  border: none;
}
.container--BannerTabHome :global(.vtex-button__label) {
  padding-bottom: 0.5rem !important;
  min-width: unset;
  color: rgb(155, 155, 155);
}
.container--BannerTabHome :global(.vtex-button) {
  margin: 0 1.5rem 0 0;
}
.listContainer--bannerTabHome {
  justify-content: flex-start;
  padding: 1rem 3%;
  max-width: 100rem;
  margin: auto;
}
.listItem--backSlideDisabled :global(.vtex-button),
.listItem--goNextSlideActive :global(.vtex-button) {
  width: 57px;
  height: 57px;
  /* background: #B24C24; */
}
.listItemActive--backArrowDisabled {
  position: absolute;
  background: none;
  left: 2%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 4;
  height: 57px;
  width: 57px;
  opacity: 0.5;
  pointer-events: none;
}
.listItemActive--backArrowDisabled :global(.vtex-button) {
  margin: 0;
  width: 100%;
  height: 100%;
}
.listItemActive--backArrowDisabled :global(.vtex-button)::after {
  content: url("assets/arrowIconTab.svg");
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
}
.listItem--backArrowActive {
  position: absolute;
  background: #B24C24;
  left: 2%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 4;
  height: 57px;
  width: 57px;
}
.listItem--backArrowActive :global(.vtex-button) {
  margin: 0;
  width: 100%;
  height: 100%;
}
.listItem--backArrowActive :global(.vtex-button)::after {
  content: url("assets/arrowIconTab.svg");
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
}
.listItem--goNextSlideActive {
  position: absolute;
  background: #B24C24;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 4;
  height: 57px;
  width: 57px;
}
.listItem--goNextSlideActive :global(.vtex-button) {
  margin: 0;
  width: 100%;
  height: 100%;
}
.listItem--goNextSlideActive :global(.vtex-button)::after {
  content: url("assets/arrowIconTab.svg");
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.listItem--goNextSlideDisabled {
  position: absolute;
  background: #B24C24;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  z-index: 4;
  height: 57px;
  width: 57px;
  opacity: 0.5;
  pointer-events: none;
}
.listItem--goNextSlideDisabled :global(.vtex-button) {
  margin: 0;
  width: 100%;
  height: 100%;
}
.listItem--goNextSlideDisabled :global(.vtex-button)::after {
  content: url("assets/arrowIconTab.svg");
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.listContainer--bannerTabActivePoint {
  position: absolute;
  z-index: 100;
}
.listContainer--bannerTabActivePoint {
  justify-content: space-between;
}
.listItem--listItem1ActivePoint,
.listItem--listItem2ActivePoint {
  display: flex;
  justify-content: center;
}
.listItemActive--backArrowActivePoint,
.listItem--backArrowActivePoint,
.listItem--goNextActivePoint,
.listItemActive--goNextActivePoint {
  background: #B24C24;
  z-index: 4;
  height: 57px;
  width: 57px;
}
.listItem--backArrowActivePoint,
.listItem--goNextActivePoint {
  opacity: 1;
}
.listItemActive--backArrowActivePoint,
.listItemActive--goNextActivePoint {
  opacity: 0.5;
}
.listItemActive--backArrowActivePoint :global(.vtex-button),
.listItem--backArrowActivePoint :global(.vtex-button),
.listItemActive--goNextActivePoint :global(.vtex-button),
.listItem--goNextActivePoint :global(.vtex-button) {
  margin: 0;
  width: 100%;
  height: 100%;
}
.listItemActive--backArrowActivePoint :global(.vtex-button)::after,
.listItem--backArrowActivePoint :global(.vtex-button)::after {
  content: url("assets/arrowIconTab.svg");
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(180deg);
}
.listItemActive--goNextActivePoint :global(.vtex-button)::after,
.listItem--goNextActivePoint :global(.vtex-button)::after {
  content: url("assets/arrowIconTab.svg");
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.listContainer--bannerTabActivePoint {
  align-items: center;
}
/* Media Queries */
@media only screen and (max-width: 600px) {
  .contentContainer--tabPdpCollection
    :global(.vtex-product-summary-2-x-container) {
    border: none !important;
  }
  .contentContainer--tabPdpCollection
    :global(.vtex-slider-layout-0-x-sliderArrows--shelf) {
    display: none;
  }
  .contentContainer--tabPdpCollection
    :global(.vtex-slider-layout-0-x-sliderLayoutContainer) {
    padding: 0 !important;
  }
  .listItem--pdpTab {
    width: 50%;
  }
  .listContainer--pdpTab {
    flex-wrap: unset;
    overflow-x: scroll;
    justify-content: unset;
  }
  .listContainer {
    margin-bottom: 1rem !important;
  }
}
@media only screen and (max-width: 640px) {
  .bannerTab {
    margin-top: 5rem;
  }
  .container--BannerTabHome :global(.vtex-button) {
    margin: 0 0.8rem 0 0;
    white-space: nowrap;
  }
  .container--BannerTab {
    padding-top: 2.25rem;
  }
  .container--BannerTab :global(.vtex-button__label) {
    font-size: 1rem;
  }
  .listItem--goNextSlideActive,
  .listItem--goNextSlideDisabled,
  .listItemActive--backArrowDisabled,
  .listItemActive--backArrowActive,
  .listItem--backArrowActive {
    display: none;
  }
  .listContainer--bannerTabHome {
    margin-bottom: 6rem !important;
  }
}
@media only screen and (max-width: 1024px) {
  .contentItem {
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
  }
  /* BLACK FRIDAY */
  .listContainer--blackFriday :global(.vtex-button__label) {
    padding: 0 0.5rem;
    font-size: 12px;
  }
  .container--blackFriday {
    min-height: 500px;
  }
}

@media only screen and (max-width: 1200px) and (min-width: 600px) {
  .contentContainer--tabPdpCollection
    :global(.vtex-slider-layout-0-x-sliderLayoutContainer) {
    padding: 0 !important;
  }
  .contentContainer--tabPdpCollection
    :global(.vtex-store-components-3-x-productNameContainer--summaryName) {
    padding: 1rem 0 !important;
  }
  .contentContainer--tabPdpCollection
    :global(.vtex-product-summary-2-x-container) {
    border: none !important;
  }
  .listContainer--tabPlpCollectionList {
    width: 24rem !important;
  }
  .contentContainer--tabPdpCollection
    :global(.vtex-slider-layout-0-x-sliderArrows--shelf) {
    display: none;
  }
  .contentContainer--tabPdpCollection
    :global(.vtex-flex-layout-0-x-flexRowContent--priceAndSavingMobile) {
    flex-direction: row-reverse;
    display: flex;
  }
  .contentContainer--tabPdpCollection
    :global(.vtex-product-price-1-x-sellingPrice--summaryPL--hasListPrice) {
    display: flex;
    flex-direction: column;
  }
}

.contentContainer--tabPdpCollection
  :global(.vtex-product-summary-2-x-imageContainer) {
  height: 200px;
  width: 160px;
  margin: auto;
}
@media only screen and (max-width: 1200) {
  .contentContainer--tabPdpCollection
    :global(.vtex-flex-layout-0-x-flexRowContent--imageAndPriceMobile) {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .contentItem--documentContainer {
    align-items: unset;
  }
}
@media only screen and (max-width: 1100px) {
  .container--BannerTab .listContainer {
    display: flex;
    overflow-x: scroll;
    flex-wrap: nowrap;
    justify-content: start;
  }
}
@media only screen and (max-width: 600px) {
  .contentContainer .contentItem--TabContent {
    -webkit-animation: slide 0.4s;
    animation: slide;
    animation-duration: 0.4s;
  }
  .contentContainer .contentItem--TabContentBlack {
    -webkit-animation: slide 0.4s;
    animation: slide;
    animation-duration: 0.4s;
  }
}

@media only screen and (max-width: 600px) {
  .listContainer--pdpTab {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: start;
  }
  .listItem--pdpTab {
    min-width: 10rem;
  }
}

.container--BannerTabBlack :global(.vtex-button__label) {
  font-family: "hotpointRegular";
  font-size: 1.25rem;
  text-transform: uppercase;
  color: white;
}

.container--BannerTabBlack .listItemActive :global(.vtex-button) {
  border-bottom: 0.1875rem solid #B24C24;
}
