/*-------------LINK CARDS-------------*/
.childrenContainer--linkCards {
  margin: 0 0.4rem 1.25rem;
  padding: 2.1875rem 1.25rem;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  height: 100%;
}
.link--linkCards {
  text-decoration: none;
  outline: none;
}
.link {
  text-decoration: none;
}
/*-------------------------------------*/
.link--loginIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(24px + 3.125rem);
}
.link--loginIcon .childrenContainer--loginIcon {
  width: 24px;
  height: auto;
}
/* Media Queries */
@media only screen and (max-width: 1024px) {
  .link--loginIcon {
    width: auto;
  }
}
/*-----------WISHLIST-------------*/

/* .link--wishlistIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(24px + 3.125rem);
}
.link--wishlistIcon .childrenContainer--wishlistIcon {
  width: 24px;
  height: auto;
}
@media only screen and (max-width: 1024px) {
  .link--wishlistIcon {
    width: auto;
  }
} */
/*-----------BREAD-------------*/
/* .link--breadLink {

  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.2;
  color: #505050;
  margin: auto;
  padding: 0 0.4rem;
}
.link--breadLink:hover {
  color: #b24c24;
}
.link--dep {
  pointer-events: none;
}
.link--typoLinkPDP {

  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.3125rem;
  color: #505050;
  height: fit-content;
  margin: auto 0;
}
.link--typoLinkPDP:hover {
  color: #b24c24;
}
.link--underline {
  text-decoration: underline;
}
.link--paddingModelName {
  padding: 1.25rem 2.1875rem;
}
.childrenContainer--tabPDP {
  display: flex;
  justify-content: center;
}
.link--fitContent {
  height: fit-content;
  margin: auto 0 auto 0; /*.5rem;
}

.link--maxWidthLinkCardAlone {
  max-width: 320px;
}
.link--linkSquare{
  width: 100%;
}
@media only screen and (max-width: 600px) {
  :global(.itwhirlpoolqa-store-link-custom-0-x-linkContainer--linkSquareMobile) {
    display: none;
  }
} */
