.videoContainer--videoCottura {
  display: flex;
  justify-content: space-around;
  margin-top: 6rem;
  height: 65vh;
  padding-top: 1rem;
}
.videoElement--videoCottura,
.videoElement--videoMaster {
  height: 58vh;
  width: 88vh;
}
.videoElement--videoMaster {
  max-width: 100%;
}
.videoContainer--videoMaster {
  display: flex;
  justify-content: space-around;
  height: 65vh;
  margin: 1rem 0;
  border-color: transparent !important;
}
.videoElement--videoSpace400,
.videoElement--videoMaster,
.videoContainer--videoSpace400 {
  height: 100%;
  /* width: 48vh; */
}
.videoContainer--carouselHomeBannersBarbieri {
  margin-top: 2rem;
}
.videoContainer--videoRicetteBarbieri {
  width: 50rem;
  margin-top: -2rem;
}
.videoElement--videoRicetteBarbieri {
  width: 50rem;
  height: 30rem;
}
/* Media Queries */
@media screen and (min-width: 421px) and (max-width: 700px) {
  .videoElement--videoCottura,
  .videoElement--videoMaster {
    height: 29vh;
    width: 51vh;
  }
  .videoContainer--videoCottura,
  .videoElement--videoMaster {
    height: 29vh;
    margin-top: 0rem;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 420px) {
  .videoElement--videoCottura,
  .videoElement--videoMaster {
    height: 25vh;
    width: 100%;
  }
  .videoContainer--videoCottura {
    display: flex;
    align-items: center;
    margin-top: 0rem;
    height: fit-content !important;
    margin-bottom: 2rem;
  }
  .videoElement--videoMaster {
    display: flex;
    align-items: center;
    margin-top: 0rem;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 640px) {
  .videoContainer--videoRicetteBarbieri {
    width: 100%;
  }
  .videoElement--videoRicetteBarbieri {
    width: 100%;
    height: auto;
  }
}
@media screen and (max-width: 700px) {
  .videoContainer--videoMaster {
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .videoContainer--videoRicetteBarbieri {
    width: 40rem;
  }
  .videoElement--videoRicetteBarbieri {
    width: 40rem;
    height: 20rem;
  }
}
@media (min-width: 1024px) and (max-width: 1366px) {
  .videoContainer--videoRicetteBarbieri {
    width: 50rem;
  }
  .videoElement--videoRicetteBarbieri {
    width: 50rem;
    height: 30rem;
  }
}
