.openIconContainer--account {
  margin-top: auto;
  margin-bottom: auto;
}
.opened--account {
  background-color: #f9f9f9;
}
.childrenContainer--account :global(.vtex-login-2-x-content) {
  background-color: #f9f9f9;
}
.childrenContainer--account :global(.vtex-login-2-x-options) {
  display: none;
}
.childrenContainer--account :global(.vtex-login-2-x-formLinkContainer) {
  justify-content: center;
}
:focus {
  outline: none;
}
.childrenContainer {
  flex-direction: column;
}
.opened {
  z-index: 9999999999;
}
.menuIcon {
  color: #ffffff;
}
.opened--drawer-header-mobile {
  width: 100% !important;
  /* max-width: 500px !important; */
}
.closeIconContainer--drawer-header-mobile {
  height: 60px;
  background: linear-gradient(to left, #282828 0%, #000000 100%) !important;
  display: flex;
  justify-content: flex-end;
  position: fixed;
  width: 100%;
  z-index: 100;
}
/* .closeIconContainer--drawer-header-mobile::before {
  content: "";
  background: url(assets/hotpoint_logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 10rem;
  margin-left: 1.5rem;
} */
.closeIcon--drawer-header-mobile {
  color: #ffffff;
  height: 1.59rem;
  width: 1.59rem;
}
.childrenContainer--drawer-header-mobile {
  /* position: absolute;
  top: 60px; */
  width: 100%;
  /* height: 100%; */
  margin-top: 60px;
}
.closeIconButton {
  line-height: 0;
}

.childrenContainer :global(.vtex-menu-2-x-accordionIcon--wrap--isClosed) {
  font-size: 1.5rem !important;
  margin-top: -0.6rem !important;
}

@media screen and (max-width: 640px) {
  /* .childrenContainer--drawer-header-mobile {
    padding-bottom: 3.5rem;
    overflow: scroll;
  } */
}
@media (min-width: 1024px) and (max-width: 1366px) {
  .opened--drawer-header-mobile {
    max-width: 70% !important;
  }
}
