.quantitySelectorContainer :global(.vtex-styleguide-9-x-dropdown) {
  height: 49px;
  min-width: 74px;
}
:global(.vtex-styleguide-9-x-container) {
  height: 100%;
}
.quantitySelectorContainer {
  height: 49px;
  margin: 0;
  width: 74px;
  margin-bottom: 16px;
  font-weight: 600;
}
.quantitySelectorDropdownContainer {
  height: 100%;
}
