.relatedProducts--margin3125 {
  margin: 3.125rem 0;
}
.slide--slideMargin {
  margin: 0 1.375rem;
}
.slide--slide20width {
  width: 20% !important;
}
.dot {
  display: none;
}
.relatedProducts--showTogether,
.relatedProducts--slide20width {
  display: contents;
}
/* Media Queries */
@media only screen and (max-width: 1200px) {
  .slide--slide20width {
    width: calc(33.3% - 0.5rem) !important;
  }
  .slide--slideMargin {
    margin: 0 0.5rem 0 0;
  }
  .dot {
    display: inline-block;
  }
}
@media only screen and (max-width: 600px) {
  .slide--slide20width {
    width: 100% !important;
  }

  .title--showTogether {
    text-align: center;
  }
}
@media only screen and (max-width: 668px) {
  .shelfContentContainer--showTogether {
    margin-bottom: 3rem;
  }
  .shelfContentContainer--suggestions,
  .shelfContentContainer--similars,
  .shelfContentContainer--showTogether {
    padding: 0 1rem;
  }
  .caretIcon--suggestions,
  .caretIcon--similars,
  .caretIcon--showTogether {
    display: none;
  }
  .title--showTogether {
    margin-top: 2rem;
  }
}
