.formContainer {

  width: 80%;
  margin: auto;
  padding-bottom: 5rem;
  max-width: 56.25rem;

}
.inputTitle {

  display: block;
  font-family: inherit!important;
  text-transform: uppercase;
  /*font-family: "karlabold", Arial;*/
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1.875rem;
  color: #505050;

}

.textArea {
  width: 100%;
  background: 0 0;
  height: 1.5625rem;
  resize: none;
  height: 100%;
  border: 0.0625rem solid #c6c6c5;
  padding: 0.3125rem;
  box-sizing: border-box;
  font-size: 1.125rem;
  line-height: 1.25rem;
  color: #282828;
  font-family: hotpointRegular;
}

.formLink{
  color: #b24c24;
}

.mailTo{
  color: #b24c24;
}
