.link{
  font-family: hotpointRegular;
  color: #953d1b;
  text-decoration: underline;
  font-size: 1.125rem;
}

.title{
  font-family: hotpointRegular;
  color: #585858;
  font-size: 1.125rem;
  text-transform: uppercase;
}

.list, .listRegion {
  font-family: hotpointRegular,Arial;
  font-size: 1rem;
  line-height: 1.625rem;
}
.listCity, .listProvince{
  font-family: hotpointRegular,Arial;
  font-size: 1rem;
  line-height: 1.625rem;
  margin-left: 1.125rem
}

.titleCity, .titleProvince, .titleService{
  font-family: hotpointRegular !important;
  color: #b24c24 !important;
  font-size: 1.125rem !important;
  text-transform: uppercase !important;
  padding-bottom: 0rem !important;
}
/*.titleRegion{
  font-family: hotpointRegular !important;
  color: #b24c24 !important;
  font-size: 1.125rem !important;
  text-transform: uppercase !important;
}*/

.titleCity::after, .titleProvince::after, .titleService::after{
  width: 3.125rem !important;
  content: "" !important;
  display: block !important;
  height: 0.125rem !important;
  background-color: #b24c24 !important;
  margin-top: 0.625rem !important;
}

/*.titleRegion::after{
  width: 3.125rem !important;
  content: "" !important;
  display: block !important;
  height: 0.125rem !important;
  background-color: #b24c24 !important;
  margin-top: 0.625rem !important;
}*/
.text {
  font-family: hotpointRegular;
  font-size: 1.125rem;
  color: #585858;
}

.listService {
  font-family: hotpointRegular;
  font-size: 1.125rem;
  color: #585858;
}

