.input {
  border: none !important;
  border-bottom: 0.0625rem solid #e7e7e7 !important;
  border-radius: 0;
  font-family: hotpointRegular;
}

.errorInput {
  border-bottom: 0.0625rem solid #d10000 !important;
}

.title {
  padding: 0 1.25rem;
  margin-top: 1.25rem;
  font-family: hotpointRegular, Arial;
  font-weight: 400;
  font-size: 1.5625rem;
  line-height: 2.625rem;
  text-align: center;
  min-width: auto;
}

.inputLabel {
  display: block;
  text-transform: uppercase;
  padding-top: 0.5rem;
  text-align: left;
  font-family: hotpointRegular, Arial;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.1875rem;
}

.select {
  border: 0.0625rem solid #e7e7e7;
  border-radius: 0;
  padding: 0.875rem;
  height: 3.75rem;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.45rem;
  color: #000;
  font-family: hotpointRegular;
  text-transform: none;
  letter-spacing: 0;
}

.singleInput {
  width: 100%;
  margin: 0 1rem;
}

.formContainer {
  border: none;
}

.textArea {
  width: 100%;
  background: 0 0;
  height: 1.5625rem;
  resize: none;
  height: 100%;
  border: 0.0625rem solid #c6c6c5;
  padding: 0.3125rem;
  font-size: 1.125rem;
  line-height: 1.25rem;
  color: #282828;
}

.paragraphh {
  text-align: center;
}

.groupInput {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.inputDatePicker{
  font-family: hotpointRegular !important;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0;
}

.inputDatePicker :global(.vtex-styleguide-9-x-input) {
  font-family: hotpointRegular !important;
  font-weight: 400 !important;
  text-transform: none;
  letter-spacing: 0;
  padding-left: 1rem !important;
  padding-right: 1rem;
  color: darkcyan;
}


.postillaText {
  padding: 0 1.25rem;
  display: block;
  text-align: left;
  margin-top: 3.125rem;
  margin-bottom: 6.25rem;
  font-family: hotpointRegular, Arial;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.125rem;
}

.privacyAccept {
  font-family: hotpointRegular;
  font-weight: 400;
  text-transform: none;
  letter-spacing: 0;
  text-align: justify;
  color: #505050;
}

.checkboxWrapper {
  margin-top: -2rem;
  position: relative;
  display: flex;
  align-items: start;
}
.customCheckbox {
  min-width: 1rem;
  min-height: 1rem;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  border: 0.0625rem solid #e7e7e7;
  position: relative;
}
.customCheckboxFilled {
  min-width: 1rem;
  min-height: 1rem;
  width: 1rem;
  height: 1rem;
  display: inline-block;
  border: 0.0625rem solid #e7e7e7;
  position: relative;
}

.submitButton {
  color: #fff;
  background: #b24c24;
  border: 0.0625rem solid #b24c24;
  padding: 0.7rem 2rem;
  cursor: pointer;
  transition: all 0.35s ease-in-out;
  border-radius: 5px;
  font-family: hotpointRegular;
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0;
}

.productInfoHelpTextWrapper {
  width: 100%;
  overflow: hidden;
}

.productInfoHelpText {
  width: 60%;
  float: left;
}

.productInfoHelpImgWrapper {
  max-width: 60%;
}

.productInfoHelpImg1 {
  width: 80%;
  margin: auto;
}

.productInfoHelpImg {
  margin: auto;
  width: auto;
  padding-top: 2rem;
}

.privacySectionDiv {
  padding: 3rem 0;
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: -2%;
}

.selectDiv {
  position: relative;
  margin: 0 0 0 0;
}

.selectDiv::after {
  border: solid #b24c24;
  border-width: 0 0.125rem 0.125rem 0;
}
.submitButton:hover {
  background: #b24c24;
  border: 0.0625rem solid #b24c24;
}
.privacyLink {
  color: #953d1b;
}
.privacyLink:hover {
  color: #b24c24;
}
.formLink:hover{
  color: #b24c24;
}
.customCheckboxFilled {
  background-color: #953d1b;
  border-color: #953d1b;
}
.submitButton {
  background: #953d1b;
  border: 0.0625rem solid #953d1b;
}
.formLink{
  color: #953d1b;
}
.loaderForm {
  background: #953d1b;
  background: -moz-linear-gradient(
    left,
    #953d1b 10%,
    rgba(237, 177, 18, 0) 42%
  );
  background: -webkit-linear-gradient(
    left,
    #953d1b 10%,
    rgba(237, 177, 18, 0) 42%
  );
  background: -o-linear-gradient(left, #953d1b 10%, rgba(237, 177, 18, 0) 42%);
  background: -ms-linear-gradient(left, #953d1b 10%, rgba(237, 177, 18, 0) 42%);
  background: linear-gradient(to right, #953d1b 10%, rgba(237, 177, 18, 0) 42%);
}
.loaderForm::before {
  background: #953d1b;
}
.loaderForm::after {
  background: #ffffff;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover {
  border-radius: 50%;
  color: #953d1b;
}
.react-datepicker__day,
.react-datepicker__month-text,
.react-datepicker__quarter-text {
  color: #505050;
}
.react-datepicker__day--selected {
  box-shadow: inset 0 0 0 2px #edb112;
  color: #953d1b;
}
.react-datepicker__day--today {
  color: #953d1b;
  background-color: #f2f2f2;
}
.react-datepicker__navigation--next::before,
.react-datepicker__navigation--previous::before {
  border-color: #953d1b !important;
}
.react-datepicker__navigation--next:hover::before,
.react-datepicker__navigation--previous:hover::before {
  border-color: #953d1b !important;
}
.react-datepicker__day {
  border-radius: 50%;
}
.react-datepicker__day--disabled {
  color: #e3e4e6;
  pointer-events: none;
}
.react-datepicker__day--disabled:hover {
  color: #e3e4e6;
}
@media only screen and (max-width: 600px) {
  .formWrapper {
    width: 90%;
  }
  .productInfoHelp {
    padding: 0rem !important;
  }
  .productInfoHelpText {
    float: left;
    text-align: center;
  }
  .productInfoHelpImgWrapper {
    min-width: 100%;
    float: left;
  }
  .productInfoHelpImgWrapper {
    display: flex;
    justify-content: center;
    margin: 0;
    min-height: 7rem;
    background: #f9f9f9;
  }
  .productInfoHelpImg1 {
    width: 100%;
    margin: auto;
  }
  .privacySectionDiv {
    /* padding: 3rem 0; */
    /* width: 50%; */
    margin: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: -2%;
  }
  .privacySectionDiv {
    width: 95%;
  }
}

@media only screen and (max-width: 600px) {
  .productInfoHelpImg1 {
    width: 65% !important;
    margin: auto;
    margin-top: 0px !important;
    margin-bottom: 5px !important;
  }
  .productInfoHelpWrapper {
    width: 100% !important;
  }
  .productInfoHelpText {
    width: 100% !important;
  }
  .formContainer {
    max-width: 95% !important;
  }
  .productInfoHelpText {
    margin: 3rem 0;
  }
  .productInfoHelpImgWrapper {
    max-width: 100% !important;
  }
}
