.wrapper--buttonCard {
  font-weight: 400;
  font-size: 0.875rem;
  color: white;
  background-color: #B24C24;
  min-height: 2.8125rem;
  min-width: 9.375rem;
  border-radius: 11px;
  font-family: "hotpointMedium";
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}
.wrapper--buttonCard .paragraph {
  text-align: center;
}
.wrapper--buttonCard:hover {
  background-color: #953D1B;
}
.wrapper--personalizedButtonCard {
  margin: 1.5625rem auto 0;
}
.wrapper--personalizedButtonCard .paragraph:hover {
  background-color: #953D1B;
  color: white;
  border: none;
}
.wrapper--personalizedButtonCard .paragraph {
  padding: 0.75rem 1.25rem;
  font-family: "hotpointMedium";
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.2px;
  font-size: 0.875rem;
  background-color: #B24C24;
  transition: all 0.5s ease-in-out;
  color: white;
  border-radius: 5px;
  border: none;
}
.container--ricambiOriginaliButton {
  justify-content: center;
}

/* Media query */
@media screen and (max-width: 640px) {
  .container--buttonCardMobile {
    justify-content: center;
  }
}
