.inputLabel {
  font-family: "hotpointRegular";
  font-size: 0.938rem;
  color: #585858;
}
.input {
  font-family: "hotpointRegular";
  font-size: 1.125rem;
  color: #607171;
  border-bottom: 0.0625rem solid #bbc9c9;
}
.inputText {
  font-family: "hotpointMedium";
  font-size: 0.75rem;
  color: #607171;
}
.formContainer {
  background-color: #f2f2f2;
}

.button{
  bottom: 0.625rem;
  max-width: 12rem;
  margin: 0.5rem;
  border-radius: 11px;
}

.button :first-child {
  min-width: 5rem;
}

.button :global(.vtex-button__label) {
  font-family: "hotpointRegular";
  font-size: 1.125rem;
  color: #f2f2f2;
  text-transform: none;
}
.button :global(.vtex-button) {
  transition: all 0.5s ease-in-out;
}
.button :global(.vtex-button):hover {
  border: 0.125rem solid #953D1B;
}
