.bundleImagesWrapper {
  align-items: center;
  background: #f2f2f2;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin-left: auto;
  padding: 2rem 9rem;
  width: 100%;
}
.bundleImagesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bundleImagesContainer:not(:last-child) {
  margin-bottom: 2.5rem;
}
.bundleImage {
  max-width: 13rem;
  margin-bottom: 1rem;
}
.bundleItemPrice {
  font-family: 'myriadBold';
  color: #007d69;
  font-size: 1.2rem;
}
.bundleSubtitle {
  margin-bottom: 0.3rem;
}
.bundleSubtitle > div > div > p {
  margin: 0;
  color: #607171;
  text-transform: uppercase;
  font-family: 'myriadBold', Arial;
}
.bundleTitle {
  margin: 0;
  color: #007d69;
  text-transform: uppercase;
  margin-bottom: 1.875rem;
  font-family: 'myriadLight', Arial;
  font-weight: 400;
  font-size: 2.1875rem;
}
.bundleTitle::after {
  width: 3.125rem;
  content: '';
  display: block;
  height: 0.1875rem;
  background: #007d69;
  margin-top: 0.625rem;
}
.bundleDescriptionContainer {
  margin-bottom: 0.625rem;
}
.bundleDescription {
  color: #585858;
}
.bundleCommercialText {
  display: flex;
  flex-direction: column;
}
.bundleCommercialTextLink {
  margin-bottom: 0.3125rem;
  color: #585858;
  text-decoration: none;
}
.bundleCommercialTextLink > span {
  font-family: 'myriadBold';
}
.bundlePdfLinkContainer {
  margin: 1rem 0;
}
.bundlePdfLink {
  text-decoration: none;
}
.bundlePdfLink > div > div > p {
  color: #007d69;
  font-size: 0.9rem;
  margin: 0;
}
.bundlePrePriceText {
  margin-bottom: 1.25rem;
}
.bundlePrePriceText > div {
  margin-top: 0.5rem;
}
.bundlePrePriceText > div > div > p {
  color: #40a08c;
  font-family: 'myriadBold', Arial;
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0;
}
.bundlePriceTextContainer {
  margin: 1rem 0 2rem 0;
}
.bundlePriceText {
  color: #40a08c;
  font-family: 'myriadBold', Arial;
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0;
}
.bundleButtons {
  font-family: 'myriadBold';
  text-transform: uppercase;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  padding: 1rem 2rem;
  cursor: pointer;
}
.bundleAddToCartButton {
  border: 1px solid transparent;
  background-color: #007d69;
  color: #fff;
  margin-right: 1.5rem;
}
.bundleAddToCartButton:hover {
  background-color: #007d69;
}
.bundleSecondButton {
  border: 1px solid #007d69;
  background-color: #fff;
  color: #007d69;
}
.bundleSecondButton:hover {
  border: 1px solid transparent;
  background-color: #007d69;
  color: #fff;
}
.energyLabelContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.energyLabelImage {
  max-width: 2rem;
}
.energyLabelLink {
  text-decoration: underline;
  font-size: 0.7rem;
  color: #505050;
}
.notSellableContainer {
  display: flex;
  align-items: center;
}
.notSellableRedDot {
  min-width: 0.5rem;
  min-height: 0.5rem;
  border-radius: 50%;
  background-color: #ff0000;
  margin-right: 0.5rem;
}
.notSellableText {
  line-height: 1;
  font-size: 0.8rem;
  color: #505050;
}
.bundlePLPLogoContainer {
  margin-bottom: 1rem;
}
.bundlePLPLogo {
  max-width: 2rem;
}
.productCardsWrapper {
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 3rem;
}
.productCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 0.75rem;
  justify-content: space-between;
  width: 250px;
  min-height: 300px;
  cursor: pointer;
}
.productCardContainer :global(.bauknechtde-custom-bazaarvoice-whirlpool-1-x-ratingSummaryLegalTextContainer) {
  display: none;
}
.productCardContainer :global(.bauknechtde-custom-bazaarvoice-whirlpool-1-x-ratingSummaryTotal) {
  color: #727273;
}
.productCardImage {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}
.productCardName {
  font-size: 1.2rem;
  margin: 0;
  line-height: 1.3;
  color: #007d69;
  font-family: "myriadBold";
}
.additionalInfosWrapper {
  background-color: #f2f2f2;
  width: 1100px;
  max-width: 100%;
  padding: 1.5rem;
  margin: 0 auto 4rem;
}
.additionalInfosWrapper :global(.c-on-action-secondary) {
  border-color: #007d69;
}
.additionalInfosWrapper :global(.bauknechtde-bundles-pdp-0-x-paginationDotsContainer) {
  bottom: -20px;
}
.additionalInfosWrapper :global(.bauknechtde-bundles-pdp-0-x-slide) {
  width: 230px !important;
}
.additionalInfosTitle {
  font-size: 1.8rem;
  font-family: "myriadBold";
  margin-top: 0;
  color: #505050;
  margin-bottom: 2.5rem;
}
.additionalInfosContainer {
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}
.additionalInfosTextContainer {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  justify-content: space-between;
}
.additionalInfosSliderContainer {
  width: 330px;
}
.additionalInfosCtaContainer {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.5rem;
}
.productCardsWrapper :global(.bauknechtde-custom-bazaarvoice-whirlpool-1-x-reviewsTooltipVisibilityContainer) {
    display: none !important; 
}
.bundleAddText{
  font-size: 0.7rem !important;
  margin: 0;
  margin-left: 0.1rem;
  color: #afafaf;
  height: fit-content;
  white-space: nowrap;
}
@media only screen and (max-width: 768px) {
  .additionalInfosContainer {
    flex-direction: column;
  }
  .additionalInfosTextContainer {
    gap: 1.5rem;
  }
  .additionalInfosCtaContainer {
    justify-content: center;
    gap: 1rem;
    margin-top: 4rem;
    flex-wrap: wrap;
  }
  .additionalInfosSliderContainer {
    width: 100%;
    margin-top: 1rem;
  }
  .additionalInfosWrapper :global(.bauknechtde-bundles-pdp-0-x-slide) {
    width: 20% !important;
  }
}
@media only screen and (max-width: 640px) {
  .bundleImagesWrapper {
    width: 100%;
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-around;
  }
  .bundleImagesContainer {
    margin-bottom: 0 !important;
  }
  .bundleImage {
    max-width: 10rem;
  }
  .bundleTitle {
    font-size: 1.8rem;
    margin-top: 0.5rem;
    font-family: 'myriadBold', Arial;
  }
  .bundleTitle:after {
    width: 2rem;
    height: 0.15rem;
    margin-top: 0.25rem;
  }
  .bundleCommercialTextLink {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
  }
  .bundlePrePriceText,
  .bundlePrePriceText > div > div > p {
    font-size: 1.1rem;
  }
  .bundlePriceTextContainer {
    margin-top: 0.5rem;
  }
  .bundleButtons {
    width: 100%;
  }
  .bundleAddToCartButton {
    margin-right: 0;
    margin-bottom: 0.5rem;
  }
}
