/*--- Custom Cart Product List ---*/
a {
	text-decoration: none;
}
.productListContainer {
	display: flex;
	padding: 0.5rem;
}
.productListImageAndName {
	width: 65%;
}
.productListImageAndNameLink {
	display: flex;
	align-items: center;
}
.productImage {
}
.productImage {
}
.productNameText {
}
.productListQuantity,
.productListPrice {
	width: 15%;
}
.productListPriceListText {
}
.productListPriceText {
}
.productListRemoveProduc {
	width: 5%;
}
.bg-base {
}
