/* Countdown.tsx css start*/

.countdownMain {
    background-color: #e6e6e6;
    display: flex;
    justify-content: space-evenly;
    height: 50px;
}

.merk {
    display: none;
}

.countdownInner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}

.countdownImage1 {
    height: 28px;
    margin-right: 10px;
}

.countdownImage2 {
    height: 28px;
    margin-right: 10px;
}


/* Countdown.tsx css end */


/* Service.tsx css start */

.serviceMainDiv {
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    height: 270px;
}

.whirlpoolService {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: flex-start;
    width: 20%;
    height: 100%;
    padding-left: 10px;
}

.whirlpoolServiceRightDiv {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.WaaromWhirlpool {
    font-weight: 300;
    font-size: 2rem;
}

.buttonZie {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3AB5BE;
    width: 180px;
    height: 40px;
    color: white;
    border: none;
    text-decoration-line: none;
    padding-left: 10px;
    border-right: none;
    border-left: none;
}

.buttonZie:hover {
    cursor: pointer;
    background-color: rgb(128, 128, 11);
}

.serviceDiv1 {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 36px;
}

.serviceDiv2 {
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.serviceImage {
    width: 140px;
    height: 140px;
    margin-right: 10px;
}


/* Services.tsx css end */


/* Categories.tsx css start */

.categoriesMainDiv {
    background-color: white;
    display: flex;
    flex-flow: column;
    margin-bottom: 40px;
}

.categoriesMainDivBauk {
    background-color: white;
    display: flex;
    flex-flow: column;
    margin-bottom: 40px;
    background-image: url("https://parts.bauknecht.be/assets/frontend/css/images/skrew-bg.png");
}

.categorienDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 300;
}

.iconsMainDiv {
    display: flex;
    width: 100%;
    justify-content: center;
}

.iconsMainDivLast {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-flow: wrap;
}

.iconsDivBefore {
    width: 250px;
    height: 300px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 20px;
    color: black;
    font-size: 24px;
}

.iconsDiv {
    width: 250px;
    height: 300px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 20px;
    color: black;
    font-size: 24px;
    animation: iconAnimation 0.12s 1 ease-in-out;
}

@keyframes iconAnimation {
    0% {
        transform: rotate(-30deg) scale(1.2);
    }
    80% {
        transform: rotate(0deg) scale(1.3);
    }
    90% {
        transform: rotate(-15deg) scale(1.4);
    }
    100% {
        transform: rotate(0deg) scale(1);
    }
}

.iconsInnerDiv {
    width: 250px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
}

.iconsInnerDivBauk {
    width: 250px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.iconsInnerDiv:hover {
    cursor: pointer;
}

.iconsInnerDivBauk:hover {
    cursor: pointer;
}

.leftArrowDiv {
    width: 100px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftArrowDiv:hover {
    cursor: pointer;
}

.leftArrowDivMobile {
    display: none;
}

.categoriesLabel {
    font-size: 18px;
}

.categoriesLabel:hover {
    border-bottom: 4px solid #3AB5BE;
}

.categoriesIcons {
    fill: gray;
    width: 140px;
    height: 140px;
}

.categoriesArrow {
    width: 24px;
    height: 24px;
    fill: #3AB5BE;
}

.categoriesIcons:hover {
    fill: #3AB5BE;
    width: 220px;
    height: 180px;
}


/* Categories.tsx css end */


/* Footer.tsx css start */

.footerMainDiv {
    width: 100%;
    height: 310px;
    background-color: #424242;
}

.footerRow {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.footerHr {
    width: 100%;
    height: 6px;
    background-color: #3AB5BE;
    margin: 0;
}

.footerInnerRow1 {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: flex-end;
}

.footerInnerRow2 {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: flex-start;
}

.footerColumn1 {
    width: 240px;
    height: 300px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    padding-top: 50px;
    margin-right: 30px;
}

.footerColumns {
    width: 40%;
    height: 300px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    margin: 30px 30px 0 0;
}

.footerColumnHeaders {
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
}

.footerLabels {
    color: white;
    font-size: 14px;
}

.footerDivIconLabel {
    color: white;
    font-size: 14px;
    padding-left: 10px;
}

.footerEndLabels {
    color: white;
    font-size: 14px;
    margin-left: 16px;
}

.footerA {
    text-decoration: none;
}

.footerWhirlpool {
    width: 90px;
    height: 30px;
    margin-bottom: 16px;
}

.footerCreditCards {
    width: 120px;
    height: 35px;
}

.footerEndDiv {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: black;
}

.footerDivWithIcon {
    width: 100%;
    display: flex;
    align-items: center;
    color: #3AB5BE;
}

.footerMailIcon {
    width: 20px;
    height: 20px;
    fill: #3AB5BE;
}

.phoneCallFooter {
    text-decoration: none;
    color: white;
    margin-left: 10px;
    font-size: 14px;
}


/* Footer.tsx css end */


/* Promotions.tsx css start */

.promotionsMainDiv {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.promotionImages {
    width: 300px;
    height: 300px;
    position: relative;
    top: 6px;
    -webkit-animation: u 1s linear both;
    animation: u 1s linear both;
}

.promotionImages:hover {
    transform: scale(1.04);
}

.promotionTitle {
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(222, 176, 26, 0.85);
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-align: center;
    padding: 1rem 0;
    color: #fff;
    font-weight: 500;
}

.promotionTitle::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 10px 8.5px;
    border-color: transparent transparent rgba(179, 142, 21, .75);
    z-index: -1;
}

.promotionTitle::after {
    content: "";
    position: absolute;
    top: -10px;
    right: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8.5px 10px 0;
    border-color: transparent transparent rgba(179, 142, 21, .75);
    z-index: -1;
}

.promotionsWrapper {
    position: relative;
    padding: 0 15px;
}

.promotionsWrapper:hover {
    cursor: pointer;
}

.promotionFigure {
    will-change: transform;
    transform: perspective(300px) rotateX(0deg) rotateY(0deg);
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0 0 1rem;
    padding-right: .5rem!important;
    padding-left: .5rem!important;
    margin-right: .5rem!important;
    margin-left: .5rem!important;
}

.promotionsIcon {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}

.promotionsWrapper:hover .promotionsIcon {
    right: 2px;
}


/* Promotions.tsx css end */


/* Search.tsx css start */

.searchMainDiv {
    margin-top: 20px;
    height: 42px;
}

.iconSearch {
    width: 24px;
    height: 24px;
}


/* Search.tsx css end */


/* Barcode.tsx css start */

.barcodeMainDiv {
    width: 100%;
    height: 500px;
    background-color: white;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
}

.barcodeInnerDiv {
    width: 96%;
    height: 100%;
    border-radius: 2em;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
}

.barcodeEndDiv {
    width: 100%;
    height: 40px;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    padding-left: 10px;
}

.barcodeEndLabel {
    font-size: 12px;
}

.barcodeImages {
    /* width: 450px; */
    height: 200px;
    padding-left: 10px;
}

.barcodeI {
    font-size: 18px;
    font-weight: bold;
}


/* Barcode.tsx css end */


/* Phone.tsx css start */

.phoneMainDiv {
    display: flex;
    align-items: center;
    width: 100%;
}

.telemarketingIcon {
    width: 24px;
    height: 24px;
    padding-right: 10px;
}

.phoneCallA {
    text-decoration: none;
    color: black;
}


/* Phone.tsx css end */


/* Media Queries start */

@media only screen and (max-width: 1024px) {
    .iconsDivBefore {
        width: 240px;
    }
    .promotionsWrapper {
        padding: 0;
    }
    .serviceDiv1,
    .serviceDiv2 {
        padding-left: 6px;
    }
}

@media only screen and (max-width: 980px) {
    .iconsDivBefore,
    .iconsInnerDiv,
    .iconsInnerDivBauk {
        width: 200px;
    }
}

@media only screen and (max-width: 720px) {
    /* Footer mobile start */
    .footerMainDiv {
        width: 100%;
        height: 460px;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        background-color: #424242;
        padding: 100px 5px;
    }
    .footerRow {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-top: 40px;
    }
    .footerHr {
        width: 98%;
        height: 6px;
        background-color: #3AB5BE;
        margin-bottom: 20px;
    }
    .footerInnerRow1 {
        display: flex;
        flex-flow: column;
        width: 180px;
        height: 200px;
    }
    .footerInnerRow2 {
        display: flex;
        flex-flow: column;
        align-items: flex-end;
        width: 180px;
        height: 200px;
    }
    .footerColumn1 {
        width: 100px;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        margin-top: 40px;
        margin-right: 10px;
    }
    .footerColumns {
        width: 100px;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: flex-start;
        margin: 10px 10px 0 0;
    }
    .footerColumnHeaders {
        font-size: 10px;
        color: white;
        margin-bottom: 10px;
    }
    .footerLabels {
        color: white;
        font-size: 9px;
    }
    .footerDivIconLabel {
        color: white;
        font-size: 6px;
        padding-left: 6px;
    }
    .footerEndLabels {
        color: white;
        font-size: 9px;
        margin-left: 3px;
    }
    .footerWhirlpool {
        width: 90px;
        height: 30px;
        margin-bottom: 16px;
    }
    .footerCreditCards {
        width: 60px;
        height: 20px;
    }
    .footerEndDiv {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 50px;
        background-color: black;
        padding-left: 10px;
    }
    .footerDivWithIcon {
        width: 90px;
        display: flex;
        align-items: center;
        color: #3AB5BE;
    }
    .footerMailIcon {
        width: 14px;
        height: 14px;
    }
    /* Footer mobile end */
    /* Categories.tsx mobile start */
    .iconsMainDiv {
        display: flex;
        flex-wrap: wrap;
    }
    .iconsDiv {
        width: 38%;
    }
    .iconsDivBefore {
        width: 250px;
    }
    .iconsInnerDiv,
    .iconsInnerDivBauk {
        width: 150px;
    }
    .categoriesIcons {
        width: 100px;
        height: 100px;
    }
    .categoriesLabel {
        font-size: 12px;
    }
    .leftArrowDiv {
        display: none;
    }
    .leftArrowDivMobile {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #3AB5BE;
        color: white;
    }
    .leftArrowDivMobile:hover {
        cursor: pointer;
    }
    .categoriesArrowMobile {
        width: 20px;
        height: 20px;
        fill: white;
        margin-right: 20px;
    }
    /* Categories.tsx mobile end */
    /* Promotions.tsx mobile start */
    .promotionsMainDiv {
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: space-between;
    }
    .promotionImages {
        width: 300px;
        height: 300px;
        transition: ease-in-out 0s;
        margin-bottom: 30px;
    }
    .promotionTitle {
        width: 320px;
    }
    .promotionsWrapper {
        display: flex;
        justify-content: center;
    }
    /* Promotions.tsx mobile end */
    /* Service.tsx mobile start */
    .serviceMainDiv {
        display: flex;
        flex-flow: column;
        align-items: center;
        height: 100%;
    }
    .whirlpoolService {
        margin: 0;
        width: 100%;
    }
    .whirlpoolServiceRightDiv {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    .serviceDiv1,
    .serviceDiv2 {
        width: 40%;
    }
    /* Service.tsx mobile end */
}