.flexRow {
  background-color: white;
}

.flexRow--footer {
  width: 100%;
  height: 300px;
  background-color: #424242;
  padding: 30px 0 0 10%;
}
.flexRow--CustomProductPageRow :global(.vtex-store-components-3-x-container) {
  width: 100% !important;
  max-width: none !important;
}
.flexRow--header {
  background-color: white;
  border: 2px solid #f2f2f2;
  height: 40px;
  padding-bottom: 30px;
}

.flexRow--landing {
  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
  height: 60px;
  padding-bottom: 30px;
}

.flexRow--flexboxVideos {
  height: 280px;
  margin-bottom: 40px;
  background-color: #f2f2f2;
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.flexRowContent {
  width: 100%;
  display: flex;
  align-items: flex-start;
}

.flexRowContent--headerMenuRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 0 20px;
}

.flexRow--footerEnd {
  display: flex;
  justify-content: space-evenly;
  background-color: black;
}

.flexRow--promotions {
  height: 400px;
  background-color: white;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.flexRow--creditCards {
  background-color: #424242;
}

.flexCol--footerCol {
  justify-content: flex-start;
  padding-top: 20px;
}

.flexRow--dropdownRow {
  width: 100%;
  height: 300px;
}

.flexRow--dropdownRowBarcode {
  width: 70vh;
  height: 80vh;
}

.flexRow--dropdownRowSearch {
  width: 100%;
  height: 60px;
  margin: 0;
  padding: 0;
}

.flexCol--dropdowncol {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100px;
  padding: 0;
  margin: 0;
}

.flexCol--mobileAddToCart {
  padding: 20px;
  padding-top: 0;
  margin-top: 20px;
}

.flexCol--mobileAddToCart :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
  padding-left: 0 !important;
}

.flexCol--mobileAddToCart :global(.vtex-button) {
  position: fixed;
  bottom: 0;
  width: 100%;
  left: 0;
  border-radius: 0;
  padding: 10px 0;
  z-index: 999;
}

.flexColChild--dropdowncol {
  width: 520px;
  height: 100px;
  margin: 0 0 0 20px;
  padding: 0;
}

.flexColChild--dropdowncolright {
  margin-bottom: 10px;
  min-width: 440px;
}

.flexColChild--cta2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 120px !important;
  background: transparent;
}

.flexRowContent--searchWithButton {
  position: relative;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexRowContent--searchWithButton .stretchChildrenWidth:first-child {
  width: 80% !important;
}

.flexRowContent--searchWithButton .stretchChildrenWidth:last-child {
  width: 20% !important;
  margin-left: 10px;
}

.flexRow--headertabSecond {
  display: flex;
  justify-content: space-between;
  height: 44px;
}

.flexRowContent--headertabSecond {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.stretchChildrenWidth {
  width: 150px;
}

.flexRowContent--headertabMain {
  align-items: center;
  padding: 5px 10px;
}

.flexRow--headertabMain :global(.vtex-store-components-3-x-container) {
  width: 100% !important;
  max-width: unset !important;
}

/* border telephone number section
.flexRow--headertabMain {
    border: 3px solid #f2f2f2;
}
*/

.flexRow--priceAndButton {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid #f2f2f2e5;
  position: relative;
}

.flexRow--priceAndButton :global(.vtex-store-components-3-x-container) {
  width: 100%;
}

.flexRowContent--priceAndButton {
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0 20px 0;
  padding: 0 10px 0 10px;
}

.flexRowContent--priceAndButton .stretchChildrenWidth:first-child {
  width: 40% !important;
}

.flexRowContent--priceAndButton .stretchChildrenWidth:last-child {
  width: 60% !important;
  max-width: 180px !important;
}

.flexRow--productMiddleRow {
  width: 100%;
  padding-left: 20px;
}

.flexColChild--flexRowProductRight {
  width: 40%;
  height: 100% !important;
  border-left: 1px solid black;
  padding-left: 20px;
}

.flexRowContent--rowQty {
  margin-top: 20px;
}

.flexCol--productDetails {
  width: 90% !important;
  margin: 0 auto;
}

.flexCol--productPriceQuantity {
  align-items: flex-end;
}

.flexRowContent--priceAndButton :global(.vtex-button) {
  display: flex;
  width: 260px;
  height: 60px;
  background: #3ab5be;
  border: none;
  border-radius: 0;
  margin: 0;
  text-transform: inherit;
  font-size: 13px;
  font-weight: 300;
}

.flexRowContent--findModelWrapper {
  margin-top: 10px;
}

.flexRowContent--filtersRow {
  padding: 0 70px;
  padding-right: 50px;
}

.flexRow--rowTable {
  background: linear-gradient(to right, #1E6F90, #0C3E58)!important;
  padding-bottom: 100px;
}
.flexRow--rowTable :global(.vtex-tabs__nav) {
  overflow-x: auto;
}

.flexRow--rowTable :global(.vtex-tab__button) {
  height: auto;
  padding: 0 0.5rem;
}
.flexRow--rowTable :global(.vtex-tab__button--active) {
  border-color: #3ab5be;
}

.flexCol--findTheRightPart {
  background-color: #0c3e58;
}

.flexRow--mainProductPage {
  max-width: 1400px;
  width: 85%;
  margin: 0 auto;
}

:global(.vtex-button__label) {
  padding: 0 !important;
  width: 100%;
}

@keyframes shoppingIcon {
  0% {
    background-color: rgb(30, 255, 105);
    margin-right: 0;
  }
  10% {
    background-color: rgb(255, 255, 255);
    margin-right: 3px;
    border-radius: 4px;
  }
}

.flexRow--cta2 {
  background: transparent;
  width: 100%;
}

.flexRow--searchWithButton {
  display: flex;
  justify-content: center;
  width: 100%;
}

.flexRow--barcode {
  display: flex;
  justify-content: center;
  background-color: transparent !important;
}

.flexRowContent--barcode {
  /*background-color: #003D58;
    background: linear-gradient(to right, #1E6F90, #0C3E58)!important;
    */
  color: white;
  border-radius: 0 0 3px 3px;
  padding-bottom: 15px;
}

.flexRow--searchBox {
  background: linear-gradient(to right, #1e6f90, #0c3e58) !important;
}

.flexColChild--searchBox {
  background-color: transparent !important;
}

/*
.flexCol--searchBox {
    background: linear-gradient(to right, #1E6F90, #0C3E58)!important;
}*/

.barcodeHeaderWrapper .flexColChild--leftDown {
  margin-left: 36px !important;
}

.flexCol--leftDown {
  width: 92% !important;
  justify-content: center;
  background-color: #0c3d57;
  color: white;
  padding-left: 0 !important;
  border-radius: 3px;
  padding-top: 10px;
  font-size: 18px;
}

.flexRowContent--searchWithButtonDown {
  align-items: center;
}

.flexRowContent--searchWithButtonDown .stretchChildrenWidth:first-child {
  width: 70% !important;
}

.flexRowContent--searchWithButtonDown .stretchChildrenWidth:last-child {
  width: 100% !important;
}

.flexRow--leftDown {
  margin-bottom: 40px;
}

.flexColChild--flexRowProductRight :global(.vtex-button) {
  background: #3ab5be !important;
  width: 220px;
  height: 60px;
  border-color: #3ab5be;
  border-radius: 0px;
}

.flexRow--productMiddleRow {
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 150px;
  min-width: 310px;
  margin: 0 2px 0 2px;
}

.flexRow--productMiddleRow
  :global(.vtex-product-identifier-0-x-product-identifier--productReference) {
  display: flex;
  justify-content: flex-start;
}

.flexRow--productMiddleRowRec {
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 150px;
  min-width: none;
  width: 100%;
  padding-left: 10px;
}

.flexRow--searchBoxWrapper {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 330px;
  padding-top: 25px;
  max-width: 1140px;
  background-color: #0c3d57;
  color: #fff;
  border-radius: 23px 23px 0 0;
  height: 150px;
}

.flexRow--searchBoxElements {
  align-items: center;
  justify-content: center;
}

.flexRowContent--CLASSIC-PAGE .flexCol:last-child {
  padding-left: 6%;
  position: relative;
}

.flexRowContent--CLASSIC-PAGE
  .smartukb2c-add-to-cart-button-custom-0-x-buttonDataContainerMail {
  justify-content: flex-start;
}

.flexRowContent--leftDown .stretchChildrenWidth {
  justify-content: flex-start;
  border-radius: 15px;
}

.minicartProductListContainer .flexColChild {
  display: flex;
}

.flexRowContent--availabilityRow {
  width: 90%;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding-bottom: 40px;
}

.flexRowContent--availabilityDelivery {
  align-items: center;
  position: relative;
}

.flexRowContent--confirmationButtons :global(.vtex-button) {
  background-color: #3ab5be !important;
  border-color: #3ab5be !important;
  color: #fff !important;
  padding: 0 10px;
  justify-content: space-evenly;
}

.flexRowContent--confirmationButtons :global(.vtex-button):hover {
  border-color: #be9714 !important;
  background-color: #be9714 !important;
}

/* Mobile part start */

.flexRow--videosMobileRow {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f2f2f2;
}

.flexCol--videosMobileCol {
  width: 100%;
  background-color: #f2f2f2;
}

.flexRow--searchBoxWrapper {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 330px;
  padding-top: 20px;
  max-width: 1140px;
}

.flexRow--barcodeandsearch {
  position: absolute;
  top: 120px;
  width: 100%;
}

.flexRow--barcodeandsearch .stretchChildrenWidth {
  width: auto !important;
}

.flexCol--searchBoxElements {
  margin-top: 50px;
}

.flexRow--searchBoxElements {
  align-items: center;
  justify-content: center;
}

.flexRow--headertabSecond :global(.vtex-button) {
  /*margin: 0 20px 10px 0;*/
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  background-color: #3ab5be;
  color: white !important;
}

.flexRow--headertabSecond :global(.vtex-button) .span {
  color: white;
}

.stretchChildrenWidth :global(.vtex-product-list-0-x-productBrandName) {
  display: none;
}

.stretchChildrenWidth :global(.vtex-product-list-0-x-removeButtonContainer) {
  padding-left: 60px;
  padding-top: 4px;
}

.flexColChild--FaqCustomAccordion {
  border-bottom: 1px solid #979797;
}

.flexCol--modelsWrapper {
  width: 90% !important;
  margin: 0 auto;
}

.flexCol--modelsContainerWashing,
.flexRow--modelsContainerWashingRow,
.flexColChild--modelsContainer {
  background-color: #f2f2f2 !important;
}

.flexColChild--modelsContainerWashing {
  width: 90% !important;
  margin: 0 auto;
}

.flexColChild--modelsContainer .flexCol--searchModel {
  margin-top: 60px;
}

/* Mobile part end */

.flexRow--menuNav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
  /* padding-left: 170px; */
}

.flexRow--menuNavItem {
  cursor: pointer;
}

.flexRowContent--menuNav {
  justify-content: flex-start;
}

.flexCol--categoriesList {
  background-color: none;
}

.flexRowContent--categoriesList {
  justify-content: flex-start;
}

.wrapper--categoryItem {
  background-color: none;
}

.flexRow--categoriesList {
  display: none;
  position: absolute;
  top: 140px;
  left: 0;
  z-index: 9999;
  padding: 20px 40px;
  background-color: #f2f2f2;
  width: 100%;
  border-top: 1px solid #e6e6e6;
}

.flexRowContent--searchAndCart {
  justify-content: center;
  align-items: center;
}

.flexRowContent--menuNavItem:hover
  :global(.vtex-flex-layout-0-x-flexRow--categoriesList) {
  display: flex;
}

.flexRowContent--menuNavItem:hover
  :global(.vtex-rich-text-0-x-paragraph--menuNavItemLabel) {
  box-shadow: inset 0 -5px 0 #3ab5be;
}

.flexRowContent--productNamePrice {
  display: flex;
}

.flexRowContent--rowLinkList .stretchChildrenWidth {
  display: list-item;
  margin-left: 42px;
}

.flexRowContent--rowLink {
  margin: 0 auto;
  max-width: 900px;
  text-align: left;
  width: auto;
}

@media only screen and (max-width: 1300px) {
  .flexRowContent--productLeft {
    padding-left: 0px;
  }
}

@media only screen and (max-width: 1100px) {
  .flexRowContent--productMainRow {
    flex-flow: column !important;
  }
  .flexRowContent--productMainRow .stretchChildrenWidth:first-child {
    width: 100% !important;
  }
  .flexRowContent--productMainRow .stretchChildrenWidth:last-child {
    width: 100% !important;
  }
  .flexRowContent--productLeft {
    flex-flow: column;
    padding-left: 0px;
  }
  .flexRowContent--productLeft .stretchChildrenWidth:last-child {
    padding-left: 0px;
  }
  .flexCol--flexRowProductRight {
    margin: 40px;
    position: relative;
  }
  .flexColChild--flexRowProductRight {
    border-left: none;
  }
  .flexRowContent--CLASSIC-PAGE .flexCol:last-child {
    padding-left: 1%;
    padding-right: 1%;
  }
  .flexRowContent--menuNavItem:hover
    :global(.vtex-rich-text-0-x-paragraph--menuNavItemLabel) {
    box-shadow: none;
  }
  .flexRow--categoriesList {
    background: transparent;
    padding: 0;
  }
  .flexRowContent--categoriesList {
    flex-direction: column;
  }
  .flexRowContent--menuNavItem:hover
    :global(.vtex-flex-layout-0-x-flexRow--categoriesList) {
    display: none;
  }
  .flexRowContent--mobileCart {
    margin-right: 10px;
  }
  .flexRowContent--filtersRow {
    padding: 0 25px;
    padding-right: 15px;
  }
}

@media only screen and (max-width: 1024px) {
  .flexRow--searchBoxWrapper {
    top: -200px;
    position: relative;
  }
  .flexRow--dropdownRowMobile {
    height: 310px;
  }
  .flexColChild--dropdowncol {
    margin: 0 !important;
  }
  .flexColChild--dropdowncolMobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .flexColChild--dropdowncolMobile::after {
    content: ">";
    font-size: 19px;
    color: #3ab5be;
    width: 10px;
    height: 10px;
    margin-top: 10px;
  }
  .flexRowContent--rowQty {
    margin-top: 5px;
  }
  .flexRow--productImages {
    margin-top: 130px;
    padding: 10px;
  }
  .flexRowContent--availabilityPriceMobile {
    align-items: flex-end;
    padding: 10px 5% 0 5%;
  }
  .flexRowContent--addToCart {
    padding: 0 5%;
  }
  .flexRowContent--productDescription {
    padding: 0 5%;
  }
  .flexCol--findTheRightPart {
    width: 90%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 900px) {
  .flexRowContent--priceAndButton .stretchChildrenWidth:last-child {
    margin-left: 40px;
  }
  .flexCol--leftDown {
    width: 92% !important;
    justify-content: center;
    background-color: #0c3d57;
    color: white;
    padding-left: 0 !important;
    border-radius: 3px;
    padding-top: 10px;
    font-size: 18px;
    margin: 0 auto;
  }
  .flexColChild--categoriesList {
    background-color: #f2f2f2;
  }
  .flexCol--categoriesList .flexColChild--categoriesList:first-child {
    background-color: transparent;
  }
  .flexRowContent--menuNav {
    flex-direction: column;
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding-top: 20px;
    height: 100%;
    z-index: 11;
    overflow: auto;
  }
  .flexRowContent--menuNav :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: 100% !important;
  }
  .flexRow--categoriesList {
    position: relative;
    left: auto;
    top: auto;
  }
  .flexRowContent--menuNavItem {
    flex-direction: column;
  }
  .flexRow--headertabMain {
    padding-left: 15px;
    padding-right: 9px;
    padding-top: 8px;
  }
  .flexRowContent--rowLink,
  .flexRow--rowTable {
    margin: 0 20px;
  }
}

@media only screen and (max-width: 768px) {
  .flexCol--searchBox {
    margin-top: 120px;
  }
  .flexRow--videosMobileRow :global(.vtex-store-components-3-x-container) {
    width: 100% !important;
  }
  .flexRow--productMiddleRow {
    min-width: 280px;
  }
  .flexRowContent--priceAndButton :global(.vtex-button) {
    width: 150px;
  }
  .flexColChild--videosMobileCol {
    display: flex !important;
    justify-content: center !important;
  }
  .flexColChild--dropdowncol {
    width: 100%;
  }
  .flexRow--headertabMobile {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
  }
  .flexRowContent--productMainRow {
    margin-top: 150px;
  }
  .flexRowContent--fixedRow {
    left: 0;
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #f2f2f2;
  }
  .flexRow--rowTable {
    margin-top: 130px;
    background: linear-gradient(to right, #1E6F90, #0C3E58)!important;
  }

  .flexRow--barcodeandsearch {
    position: fixed;
    top: 64px;
    width: 100%;
    z-index: 9999;
    background: transparent;
    left: 43px;
  }
  .flexRow--headertabSecond {
    height: 57px;
  }
  .flexRowContent--headertabSecond {
    justify-content: space-between;
    width: 100%;
    height: 57px;
  }
  .flexRowContent--mobileMenu {
    position: fixed;
    width: 100%;
    display: flex;
    top: 57px;
    left: 0;
    z-index: 999;
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    padding-right: 10px;
    padding-bottom: 62px;
  }
  .flexRowContent--mobileMenu .stretchChildrenWidth {
    width: 30% !important;
  }
  .flexRowContent--mobileMenu .stretchChildrenWidth .trigger {
    width: 100% !important;
  }
  .flexRowContent--mobileMenu .stretchChildrenWidth .stretchChildrenWidth {
    width: 100% !important;
  }
  .flexRow--findModelWrapper {
    margin-top: 130px;
  }
  .flexRowContent--modelsContainerWashingRow {
    flex-direction: column;
  }
  .flexRowContent--modelsContainerWashingRow .stretchChildrenWidth {
    width: 100% !important;
  }
}
