.container--right {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    margin: 0 0 0 20px;
    border: none;
}

.popper--right {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.outsideClickHandler--right {
    display: flex;
    align-items: flex-start;
    position: absolute;
    top: 0;
}

.trigger {
    z-index: auto !important;
}

.dropdown {
    width: 100%;
}

@media only screen and (max-width: 1024px) {
    .trigger {
        margin-left: 10px;
        height: 80px !important;
    }
    .trigger--firstLineMobile .dropdown {
        top: 150px !important;
    }
    .trigger--secondLineMobile .dropdown {
        top: 110px !important;
    }
}