.infoCardHeadline {
    font-family: serif;
    font-size: 2.25rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding: 24px;
    background-color: #3AB5BE;
    border-radius: 10px;
}

.infoCardHeadline:hover {
    color: white;
    background-color: red;
    transform: scale(1.1);
    transition-duration: 2s;
}

.infoCardContainer {
    width: 100%;
    margin: auto;
    background-color: #f2f2f2;
    max-height: 400px;
}

.productDescriptionTitle {
    margin-top: 40px;
}

.infoCardCallActionContainer :global(.vtex-button) {
    color: white;
    background-color: #f2f2f2;
    border: transparent;
}

.infoCardCallActionContainer :global(.vtex-button):hover {
    color: gray;
    background-color: white;
    border: transparent;
}

.infoCardImage {
    width: 100%;
    height: 100%;
    max-height: 400px;
}

.sellingPrice {
    font-size: 25px;
}

.sellingPrice:hover {
    transform: scale(1.01);
}

.currencyCode {
    color: #3AB5BE;
}

.productBrand {
    color: #212529;
    font-size: 22px !important;
    word-break: break-word;
    font-weight: normal;
}

.logoLink {
    width: 120px;
}

.logoImage {
    margin-top: -10px;
    width: 120px;
}

.imageElement--HomeImages:hover {
    width: 100%;
    height: 200px;
}

.imageElement--cover {
    object-fit: cover;
}

.searchIcon {
    display: none;
}

.closeIcon {
    display: none;
}

.searchBarContainer {
    display: flex;
    max-width: none;
}

.imageElement--iconPhoneNumber {
    padding-right: 15px;
}

.carouselGaleryThumbs--productImages {
    display: none;
}

.swiperCaret--productImages {
    display: none;
}

.swiperPaginationClickable {
    display: none;
}

.productImageTag {
    width: 100px;
    height: 100px;
    min-height: none;
    min-width: none;
}

.productImagesGallerySwiperContainer--productImages {
    width: 300px;
    height: 300px;
}

.carouselGaleryCursor {
    width: 300px;
    height: 300px;
}

.carouselContainer--productImages {
    width: 300px;
    height: 300px;
}

.productImagesContainer--productImages {
    width: 300px;
    height: 300px;
}

.productImageTag--productImages--main {
    max-height: 300px !important;
}

.autoCompleteOuterContainer--searchDrop :global(.vtex-input-prefix__group) {
    border: none;
    outline-width: 0;
    border-bottom: 1px solid rgb(192, 186, 186);
    border-radius: 0;
    padding: 0 10px;
}

.autoCompleteOuterContainer--homeAutocomplete :global(.vtex-input-prefix__group) {
    border: gray;
    border-radius: 0;
}

.autoCompleteOuterContainer--homeAutocomplete :global(.vtex-styleguide-9-x-input) {
    background: #e4e9eb;
}

.autoCompleteOuterContainer--homeAutocomplete :global(.vtex-styleguide-9-x-input):focus {
    background: white;
    border: 1px solid #e4e9eb;
    box-shadow: 5px 5px #e4e9eb;
}

.autoCompleteOuterContainer--homeAutocomplete :global(.vtex-input__suffix) {
    display: none;
}

.productImageTag--productImages--main:hover,
.productImagesGallerySlide--productImages:hover,
.carouselGaleryCursor:hover {
    cursor: pointer;
}

.productImagesGallerySlide--productImages {
    padding-right: 20px;
}

.searchIcon--searchDrop {
    display: block;
}

.searchBarIcon--searchDrop--search {
    display: none;
}

.imageElement--barcodeImage {
    width: 24px;
    margin-top: 20px;
    margin-bottom: 23px;
}

.imageElement--barcodeImage:hover {
    cursor: pointer;
}

.imageElement--cta {
    object-fit: cover
}

.price_savings {
    color: #be9715;
}

.productDescriptionContainer {
    margin: 10px 0px 50px 0px;
}

 :global(.vtex-button) {
    background: #3AB5BE !important;
    color: white;
    border: none;
    padding: 5px;
}

.container {
    padding: 0px;
}

@media only screen and (max-width: 1400px) {
    .productImageTag--productImages--main {
        width: 70% !important;
        height: 70% !important;
    }
}

@media only screen and (max-width: 1100px) {
    .productImagesGallerySwiperContainer--productImages {
        width: 100%;
    }
    .carouselGaleryCursor {
        width: 100%;
    }
    .carouselContainer--productImages {
        width: 100%;
    }
    .productImagesContainer--productImages {
        width: 100%;
    }
}

@media only screen and (max-width: 1300px) {
    .productNameContainer {
        display: flex;
        justify-content: flex-end;
        padding-left: 50px;
    }
    .productNameContainer::first-letter {
        text-transform: uppercase;
    }
}

@media only screen and (max-width: 1110px) {
    .productNameContainer {
        display: flex;
        justify-content: flex-start;
        padding-left: 0;
    }
}

@media only screen and (max-width: 1024px) {
    .productBrand {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 750px) {
    .flexRow--videosMobileRow :global(.vtex-store-components-3-x-container) {
        width: 100% !important;
    }
    @media only screen and (max-width: 720px) {
        .productImage {
            text-align: center;
        }
    }
}