.element {
    max-width: none;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px 10px 0;
    border: 1px solid rgb(184, 176, 176);
    padding: 20px;
    min-height: 500px;
}

.quantitySelectorTitle {
    display: none
}

.productImageTag--main {
    height: 100px;
}

.brandName {
    color: black;
    font-size: 18px;
}

.buyButtonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #3AB5BE;
    border-radius: 8px;
}

.buyButtonContainer:hover {
    background-color: #3AB5BE;
    border-radius: 10%;
}

.buyButton {
    background-color: #3AB5BE;
}

.element {
    padding: 0;
}

.imageContainer {
    width: 100%;
    height: 100%;
}

.nameContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.container {
    max-width: none;
}

.containerNormal {
    max-width: none !important;
    width: 96%;
}

@media only screen and (max-width: 600px) {
    .element {
        width: 320px;
    }
    .containerNormal {
        width: 100%;
    }
}