.link--columnLinkRight {
    color: black;
    width: 520px;
    height: 100px;
    text-decoration: none;
}

.label--columnLinkRight {
    font-size: 16px;
}

.label--columnLinkRight:hover {
    color: #f2f2f2;
    font-size: 16px;
}
.link--categoryItem:hover{
    color: #3AB5BE;
}
.link--promotionsButton {
    /*margin-top: 10px;*/
    color: black;
    background-color: white;
    border-color: #3AB5BE;
    border-radius: 0;
    width: 100%;
    height: 40px;
    margin-left: 30px;
    margin-top: -7px;
}

.label--promotionsButton {
    text-transform: capitalize;
    font-weight: normal;
}

.link--promotionsButton:hover {
    color: white;
    background-color: #3AB5BE;
    border-color: #3AB5BE;
}

.buttonLink--buttonSearch {
    min-width: 0;
    min-height: 0;
    height: 42px;
    background: #3AB5BE;
    color: white;
    border-radius: 0;
}

.buttonLink--buttonSearch:hover {
    background: #3AB5BE;
    color: white;
}

.buttonLink--leftDown {
    background-color: #3AB5BE;
    color: white;
    height: 30px !important;
}

.buttonLink--leftDown:hover {
    background-color: #a88718;
    color: white;
}

.label--buttonCarousel {
    vertical-align: middle;
    height: 100%;
    font-size: 1rem;
    font-weight: 300;
}

.link--loginButton {
    margin-right: 20px;
    background-color: #3AB5BE !important;
    border: none;
}

@media only screen and (max-width: 640px) {
    .link--loginButton,
    .label--loginButton {
        width: 100px !important;
        height: 40px;
    }
    .label--loginButton {
        font-size: 14px;
        margin-top: 10px;
        margin-right: 0;
    }
}