.overlay--visible {
    z-index: 5000;
}

.opened {
    z-index: 5000;
}

.minicartCheckoutButton :global(.vtex-button) {
    background: #3AB5BE !important;
    border-color: #3AB5BE !important;
    color: white;
}
 .minicartEmptyStateContainer
    :global(.vtex-flex-layout-0-x-flexRowContent)
    :global(.vtex-flex-layout-0-x-flexColChild):first-child::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    content: url(assets/cartIcon64.svg);
    height: 64px;
    width: 64px;
    padding: 0 0 0.2rem;
}
:global(.vtex-store-icons-0-x-cartIcon--minicart-empty-state) {
    visibility: hidden;
  }
.minicartProductListContainer :global(.vtex-dropdown__arrow) {
    width: 20px;
    background-color: #3AB5BE;
    color: white;
    padding-left: 2px;
    padding-top: 2px;
}

.minicartProductListContainer :global(.vtex-flex-layout-0-x-flexColChild) {
    display: flex;
}

:global(.vtex-product-list-0-x-quantityDropdownContainer) {
    width: 50px !important;
}
.minicartIconContainer :global(.vtex-minicart-2-x-cartIcon){
    height: 30px;
    width: 30px;
  }
  .openIconContainer{
      padding: 0;
  }
.minicartProductListContainer :global(.vtex-styleguide-9-x-container) {
    height: 1.5rem;
}

.minicartSummary :global(.vtex-checkout-summary-0-x-summarySmallDisclaimer) {}

.cartIcon {
    color: black !important;
}

.minicartContainer :global(.vtex-button) {
    background: white !important;
}

@media only screen and (max-width: 1024px) {
    .minicartWrapperContainer {
        width: 30%;
        display: flex;
        justify-content: center;
    }
    .opened {
        z-index: 9999;
        width: 100%!important;
    }
    .visible{
        z-index: 9999;
    }
    .minicartIconContainer :global(.vtex-minicart-2-x-cartIcon){
        height: 25px;
        width: 30px;
      }
}