.sellingPrice--summary {
    font-size: 22px;
    font-weight: 640;
}

.currencyContainer--summary {
    font-size: 1.6rem !important;
    color: black;
}

.installments--summary {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 32px;
}