.searchResultContainer {
  padding: 0;
  max-width: none;
}

.filtersWrapper {
  display: none;
}

.galleryItem--grid {
  flex-basis: 25.1% !important;
  max-width: none !important;
}
.filtersWrapperMobile {
  display: none;
}
.gallery--grid {
  justify-content: center;
  margin: 0;
  padding: 0;
}
.orderByButton {
  padding: 0;
  padding-top: 5px;
}
.buttonShowMore--layout {
  margin: 10px 0 10px 0;
}

.buttonShowMore :global(.vtex-button) {
  width: 40% !important;
  background-color: #3ab5be;
  border: none;
}

.accordionFilterItemTitle {
  text-transform: capitalize;
}
