.trigger--FaqCustomAccordion {
    background-color: white;
    display: flex;
    border-bottom: solid 1px #333;
    width: 100%;
    max-width: 880px;
    margin: 0 auto !important;
    border: none;
    align-items: baseline;
}

.flexColChild--FaqCustomAccordion {
    border-bottom: 1px solid black;
}