.confirmationIconWrapper {
    color: #3AB5BE;
}

.noticesList {
    display: none;
}

.orderOptionsWrapper .updateOrderButton,
.orderOptionsWrapper .cancelOrderButton {
    display: none;
}

.myOrdersButton {
    display: none;
}


.myOrdersButton :global(.vtex-button) {
    background-color: #3AB5BE !important;
    border-color: #3AB5BE !important;
    color: #fff !important;
    padding: 0 10px;
}

.myOrdersButton :global(.vtex-button):hover {
    border-color: #BE9714 !important;
    background-color: #BE9714 !important;
}

