.caretIcon {
    color: #000!important;
    padding: 0 5px;
    font-weight: bolder;
}

.container {
    max-width: 96rem;
    margin: 5px auto;
    padding-left: 10px;
    text-transform: capitalize;
}

.arrow {
    padding: 0!important;
}

.homeLink,
.arrow--1,
.arrow--2 {
    display: none;
    padding: 0!important;
}

.arrow--3 .caretIcon {
    display: none;
}

.arrow--3:hover .link,
.arrow--4:hover .link {
    color: #3AB5BE !important;
}

.link {
    font-size: 0.8rem!important;
    padding: 0px !important;
}

.term {
    font-weight: bolder;
    font-size: 0.8rem!important;
    padding: 0!important;
}

.termArrow {
    color: #000;
}