.videoElement--videoLanding {
    padding-left: 36px;
}

.videoContainer {
    height: auto!important;
}
/* Mobile part start*/
 

.videoContainer--videoLandingMobile {
    width: 90%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(224, 224, 224);
}

.videoElement--videoLandingMobile {
    margin-bottom: 20px;
}




@media only screen and (max-width: 1240px) {
    .videoElement--videoLanding {
        padding-left: 6px;
        width: 98%;
    }
}


/* Mobile part end */