.shareButton__container {
  /* float: right; */
  border-radius: 16px;
  border: none;
  cursor: pointer;
  max-height: 44px;
  position: relative;
  display: flex;
  align-items: center;
  /* margin-left: 2rem !important; */
}

.shareButton__wrapper_Plp {
  align-items: center;
  border-radius: 5px;
  background: #ffffff;
  border: 1px solid #B24C24;
  /* box-shadow: 0px 0px 10px #f0f0f5; */
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  /* float: right; */
  overflow: hidden;
  transition: all ease 1s;
  /* right: 0.5rem; */
  width: 3rem;
  /* bottom: 20px; */
  /* position: absolute; */
  transform: rotate(180deg);
  /* margin-left: 1.5rem !important;
  top: -7rem !important; */
  z-index: 1;
}

@media screen and (max-width: 640px) {
  .shareButton__wrapper_Plp {
    align-items: center;
    border-radius: 5px;
    background: #ffffff;
    border: 1px solid #B24C24;
    /* box-shadow: 0px 0px 10px #f0f0f5; */
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    float: right;
    overflow: hidden;
    transition: all ease 1s;
    right: 1rem;
    /* bottom: 20px; */
    position: absolute;
    transform: rotate(180deg);
    margin-left: 1.5rem !important;
    top: 1px !important;
    z-index: 1;
  }


}
@media only screen and (min-width: 640px) and (max-width: 700px) {
  .shareButton__wrapper_Plp {
    align-items: center;
    border-radius: 5px;
    background: #ffffff;
    border: 1px solid #B24C24;
    /* box-shadow: 0px 0px 10px #f0f0f5; */
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    float: right;
    overflow: hidden;
    transition: all ease 1s;
    right: 1rem;
    /* bottom: 20px; */
    position: absolute;
    transform: rotate(180deg);
    margin-left: 1.5rem !important;
    top: 1px !important;
    z-index: 1;
  }


}

.shareButton__wrapper_Plp a {
  transform: rotate(180deg) !important;
  display: flex;
  align-self: self-start;
  margin: 0.3rem;
}

 .shareButton__wrapper_Plp .shareButton__iconIsOpen {
  content: url('/arquivos/share-terracotta.png');
  width: 34px;
  transform: rotate(180deg) !important;
  margin-top: 0.9rem;
  margin-bottom: 0.5rem;
}

 .shareButton__wrapper_Plp .shareButton__shareLinkContainer {
  padding: 0;
  margin-right: 2px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  /* margin-right: 0.3rem */
}

 .shareButton__wrapper_Plp .shareButton__shareEmailContainer {
  padding: 0;
  margin-right: 2px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-right: 0.3rem !important; */
}

.shareButton__wrapper {
  align-items: center;
  border-radius: 16px;
  background: #ffffff;
  border: 1px solid #f0f0f5;
  /* box-shadow: 0px 0px 10px #f0f0f5; */
  display: flex;
  justify-content: flex-end;
  float: right;
  overflow: hidden;
  transition: all ease 1s;
  right: 0;
  bottom: 20px;
  position: absolute;
}

.shareButton__iconIsCloseButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  height: 44px;
  min-width: 44px;
  padding: 0;
}

.shareButton__iconIsOpenButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2 ;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  height: 44px;
  min-width: 44px;
  padding: 0;
}

.shareButton__iconIsOpen {
  content: url('/arquivos/share-terracotta.png');
  width: 36px;
}

.shareButton__shareLinkContainer {
  padding: 0;
  margin-right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shareButton__iconLink {
  content: url('/arquivos/copy.png');
}
.shareButton__copiedContainer{
  position: relative;

}
.shareButton__copied{
  position: absolute;
  border: 1px solid #B24C24;
  border-radius: 16px;
  color: #B24C24;
  padding: 5px;
  top: -14px;
  left: -0.4rem;
  font-size: 0.7rem;
  background-color: #fff;
  /* transform: rotate(180deg); */
}
.shareButton__copiedPlp{
position: absolute;
  border: 1px solid #B24C24;
  border-radius: 16px;
  color: #B24C24;
  padding: 5px;
  top: -14px;
  left: -0.4rem;
  font-size: 0.7rem;
  background-color: #fff;
  transform: rotate(180deg);
}
.shareButtonIcon{
  background-color: #9f9f9f;
  width: 25px;
  padding: 5px;
  border-radius: 16px;
}
.shareButtonIcon:hover{
background-color: #B24C24;
}
.shareButton__shareTwitterContainer {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}

.shareButton__iconTwitter {
  content: url('/arquivos/twit.png');
}

.shareButton__shareFacebookContainer {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 16px;
}

.shareButton__iconFacebook {
  content: url('/arquivos/fb.png');
}

.shareButton__shareEmailContainer {
  padding: 0;
  margin-right: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.shareButton__iconEmail {
  content: url('/arquivos/letter.png');
}

.shareButton__shareWhatsappContainer {
  padding: 0;
  display: none;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}

.shareButton__iconWhatsapp {
  display: none;
  content: url('/arquivos/whatsapp.png');
}

.shareButton__sharePinterestContainer {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 16px;
}

.shareButton__iconPinterest {
  content: url('/arquivos/pin.png');
}

/* SHAREBUTTONS IN PLP */

.shareButton__wrapper_Plp .shareButton__sharePinterestContainer, .shareButton__wrapper_Plp .shareButton__shareWhatsappContainer, .shareButton__wrapper_Plp .shareButton__shareEmailContainer, .shareButton__wrapper_Plp .shareButton__shareFacebookContainer, .shareButton__wrapper_Plp .shareButton__shareTwitterContainer {
  margin: 0;
}
.shareButton__wrapper_Plp .shareButton__shareLinkContainer {
  margin: 0.3rem 0;
}

.shareButton__wrapper_Plp .shareButton__iconIsCloseButton {
  margin: 0.15rem 0;
}

.shareButton__wrapper_Plp .shareButton__iconIsOpen {
  margin: 0;
}

@media (max-width: 576px) {
  .shareButton__shareWhatsappContainer {
    padding: 0;
    /* margin-right: 16px; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .shareButton__iconWhatsapp {
    display: block;
    content: url('/arquivos/whatsappWhite.png');
  }
  .shareButton__wrapper{
    bottom: -30px;
    z-index: 100;
  }

}
@media only screen and (min-width: 700px) and (max-width:1024px) {
  .shareButton__wrapper_Plp{
    position: unset;
    margin: 1rem;
  }
}
/* @media only screen and (min-width: 700px) and (max-width: 1440px) {
  .shareButton__wrapper_Plp {
    max-width: fit-content;
    flex-direction: row;
}
} */
