.readMoreContent {
    font-weight: bold;
    font-size: 0.9rem;
    letter-spacing: 1px;
    cursor: pointer;
}

.readMoreContainer {
    display: flex;
    margin: 1rem 2rem 2rem 2rem;
    flex-direction: column
}