.readMoreContent {
    font-weight: bold;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

.readMoreContainer {
    display: flex;
    flex-direction: column;
}
.readMoreContainerRemoveMargin{
  margin-left: 0;
  padding: 0!important;
}

@media only screen and (max-width: 668px){

  .readMoreContainer{
    display: flex;
    margin: 0;
    flex-direction: column;
    padding: 0 !important;
  }
}
