.billingInfo{
	font-family: 'myriadLight';
	margin: 0;
	color: #505050;
}
.billingName{
	font-weight: 400;
  font-family: 'myriadRegular';
}
.dateContainer{
	display: flex;
	flex-direction: column;
	line-height: 1.5;
	padding-right: 2rem;
}
.deliveryTitle{
	font-size: 1.25rem;
	line-height: 1.5;
  font-family: 'myriadRegular';
}
.delivery{
	padding-bottom: 1rem;
    font-family: 'myriadLight';
    line-height: 1.75;
    text-align: justify;
}
.billingAddress {
	color: #505050;
	width: 100%;
  font-family: 'myriadRegular';
	font-size: 1rem;
	overflow-y: auto;
	height: inherit;
	line-height: 2
}
.creationDate{
	display: flex;
  	font-family: 'myriadRegular';
	flex-direction: column;
	color: #505050;
	width: 100%;
	font-size: .875rem;
}
@media screen and (max-width:668px) {
	.creationDate{
	  padding: 0 10px;
	}
  }
.smallDate{
	font-size: .75rem;
}
