/* cursor: "pointer",
marginLeft: "1.5rem",
fontSize: "0.875rem",
fontWeight: 400,
color: "#505050", */



.linkText {}

.wrapper>ul>li:first-child {
    padding-bottom: 1rem;
}



.cookieTitleText {}

.cookieTitleLink {
    color: #edb112;
    cursor: pointer;
    margin-left: -23px;
   
}     

.cookieTitleContainerFooter {
    font-family: "myriadLight";
    margin-left: 1.5rem;
    display: block;
    font-weight: 400;
    font-size: 0.875rem;
    color: #505050;
    line-height: 1.5rem;
    text-transform: unset;
    letter-spacing: normal;
    margin-top: -0.5rem;
}

.cookieTitleContainerFooter a {
    color: #505050;
}

.cookieTitleContainerFooter a:hover {
    color: #505050;
    cursor: pointer;
}

@media screen and (max-width: 1024px) {
    .cookieTitleContainerFooter {
        font-family: "myriadLight";
        margin-left: 0rem;
        display: block;
        font-size: 0.85rem;
        line-height: 1.5rem;
        text-transform: unset;
        letter-spacing: normal;
        color: #505050;
        opacity: 0.95;
        
    }

    .cookieTitleContainerFooter a:hover {
        cursor: pointer;
        color: #505050;
    }
}
@media only screen and (min-width: 640px) and (max-width: 768px) {

.cookieTitleLink {
    color: #edb112;
    cursor: pointer;
    margin-left: -34px !important;
   /*  margin-top:20px !important */
}}
@media only screen and (min-width: 640px) and (max-width: 1024px) {
    .cookieTitleContainer { 
        margin-top: 2px !important;
      
        }
   }
