.containerSocialPage {
	width: 50%;
	margin: 0rem 25rem;
}
.title {
	text-align: center;
	font-size: 1.7rem;
	margin: 0.67em 0;
	font-family: "myriadSemibold";
}
.containerTermini {
	margin: 2.67em 0;
}
.containerButtonSocial {
	margin: 0.67em 10rem;
	text-align: center;
	justify-content: space-around;
	display: flex;
}

.checkboxContainer {
	margin: 0.67em 0;
	display: flex;
}
.newsletter {
	position: relative;
	left: 1rem;
}
.socialName {
	margin: 0 0.5rem;
}
.logoFacebook {
	width: 24px;
}
.testoInformativa {
	color: #007d69;
	padding-left: 0.2rem;
}
@media only screen and (max-width: 1024px) {
	.containerSocialPage {
		width: unset;
		margin: 0rem 1rem;
	}
	.containerButtonSocial {
		margin: 0.67em -1rem;
	}
}
@media only screen and (min-width: 1024px) {
	.containerButtonSocial :global(.vtex-button) {
		margin-right: 2rem;
	}
}
